<ul class="nav vd-list-boxed flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Contacter un office de faillites ou de poursuites selon le lieu du débiteur</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Obtenir un extrait du registre dse poursuites</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Obtenir un extrait du registres des faillites</a>
  </li>
</ul>
