@charset 'UTF-8';

/**
 * Teaser links
 *
 * 1. Override heading font-weight
 * 2. Let user click on the whole item
 * 3. Set focus style for the whole item
 * 4. Remove focus style on the link
 */

.vd-domain-item {
  display: flex;
  flex-direction: column;

  &:focus-within {
    background: $vd-focus; /* [3] */
  }
}

.vd-domain-item__link {
  margin-top: $spacer / 4;

  &:focus {
    outline: 0; /* [4] */
  }

  &:after {
    position: absolute; /* [2] */
    top: 0; /* [2] */
    left: 0; /* [2] */
    bottom: 0; /* [2] */
    right: 0; /* [2] */
    content: ""; /* [2] */
  }
}

.vd-domain-item__text {
  color: $gray-500;
}



.vd-domain-item--big {
  .vd-domain-item__link {
    font-weight: 300; /* [1] */
  }
}



.vd-domain-item--small {
  .vd-domain-item__link {
    margin-bottom: 0 !important;
  }
  .vd-domain-item__text {
    margin-top: 0;
  }
}
