<div class="layout layout--flex">
	<div class="layout__item layout__item--1"><div class="demo-block">1</div></div>
</div>

<div class="layout layout--flex">
	<div class="layout__item layout__item--1"><div class="demo-block">1</div></div>
	<div class="layout__item layout__item--1"><div class="demo-block">1</div></div>
</div>

<div class="layout layout--flex">
	<div class="layout__item layout__item--1"><div class="demo-block">1</div></div>
	<div class="layout__item layout__item--1"><div class="demo-block">1</div></div>
	<div class="layout__item layout__item--1"><div class="demo-block">1</div></div>
</div>

<div class="layout layout--flex">
	<div class="layout__item layout__item--1"><div class="demo-block">1</div></div>
	<div class="layout__item layout__item--1"><div class="demo-block">1</div></div>
	<div class="layout__item layout__item--1"><div class="demo-block">1</div></div>
	<div class="layout__item layout__item--1"><div class="demo-block">1</div></div>
</div>

<div class="layout layout--flex">
	<div class="layout__item layout__item--1"><div class="demo-block">1</div></div>
	<div class="layout__item layout__item--2"><div class="demo-block">2</div></div>
</div>

<div class="layout layout--flex">
	<div class="layout__item layout__item--1"><div class="demo-block">1</div></div>
	<div class="layout__item layout__item--2"><div class="demo-block">2</div></div>
	<div class="layout__item layout__item--3"><div class="demo-block">3</div></div>
</div>

<div class="layout layout--flex">
	<div class="layout__item layout__item--1"><div class="demo-block">1</div></div>
	<div class="layout__item layout__item--2"><div class="demo-block">2</div></div>
	<div class="layout__item layout__item--3"><div class="demo-block">3</div></div>
	<div class="layout__item layout__item--4"><div class="demo-block">4</div></div>
</div>
