<div class="layout layout--flex">
	<div class="layout__item layout__item--full layout__item--lap-and-up--1    layout__item--desk--1"><div class="demo-block">1st item</div></div>
	<div class="layout__item layout__item--full layout__item--lap-and-up--3    layout__item--desk--3"><div class="demo-block">2nd item</div></div>
	<div class="layout__item layout__item--full layout__item--lap-and-up--1    layout__item--desk--2"><div class="demo-block">3rd item</div></div>
	<div class="layout__item layout__item--full layout__item--lap-and-up--full layout__item--desk--1"><div class="demo-block">4th item</div></div>
</div>
