/* ------------------------------------ *\
    #HORIZONTALE RULES
\* ------------------------------------ */

/**
 * Horizontale rules
 */

:root{
    --hr-color: var(--color-gray-light);
}

hr {
    height: 1px;
    background: var(--hr-color);
    border: 0;
}
