/* ------------------------------------ *\
    #SMALL
\* ------------------------------------ */

/**
 * Small text
 */

:root{
    --small-font-size: var(--global-small-font-size);
    --small-font-family: var(--global-font-family);
    --enhance-small-font-family: var(--enhance-global-font-family);
}





@define-mixin small $class,
    $font-size: var(--small-font-size) {

    /**
     * <<$(class)>>
     *
     * 1. Use webfont only when it's loaded to avoid FOIT
     */
    $(class) {
        font-size: $font-size;
    }
}





@mixin small small;
