/* ------------------------------------ *\
    #QUOTES
\* ------------------------------------ */

:root {
    --blockquote-text-color: var(--base-text-color);
    --blockquote-left-margin: var(--global-spacing-unit--large);
    --blockquote-border-width: calc(var(--global-spacing-unit--tiny) / 2);
    --blockquote-border-color: var(--blockquote-text-color);
    --blockquote-border-style: solid;
}





/**
 * Blockquote
 *
 * 1. Unicode for En dash and Space.
 */
blockquote {
    font-style: italic;

    border-left: var(--blockquote-border-width)
        var(--blockquote-border-color)
        var(--blockquote-border-style);

    margin-left: @padding-left;
    padding-left: calc( var(--blockquote-left-margin) / 2 );
}

blockquote cite::before {
    content: "\2013\0020"; /* [1] */
}





/**
 * Inline quotations and source citations
 */
cite,
q {
    font-style: italic;
}
