/* ------------------------------------ *\
    #CODE
\* ------------------------------------ */

:root {
    --code-text-background: var(--color-gray-lighter);
}

/**
 * Code, preformated text and other robotic styles
 */
code,
pre {
    font-size: var(--monospaced-font-size);
    font-family: var(--monospaced-font-family);
    letter-spacing: normal;

    white-space: pre;
    word-spacing: normal;
    tab-size: 4;

    cursor: text;
}





/**
 * Inline computer text style
 *
 * 1. `<code>` inside a `<pre>` has no background. This avoid alpha color
 *    overlay.
 */
code {
    background: var(--code-text-background);
}

pre > code {
    background: none; /* [1] */
}

tt, code, kbd, samp {
    font-family: var(--monospaced-font-family);
}
