/* ------------------------------------ *\
    #SUBS
\* ------------------------------------ */

/**
 * Subscript Element
 *
 * 1. Override normalize.css if font with subscript features is loaded.
 */
sub {
    @mixin font-sub;
}

.wf-active sub {
    bottom: 0; /* [1] */

    font-size: 100%; /* [1] */
}
