/* ------------------------------------ *\
    #LINK
\* ------------------------------------ */

:root {
    --link-color: var(--color-base);
    --link-hover-color: var(--color-focus);
    --link-visited-color: var(--color-visited);
    --link-color-transition: var(--transition);
}

a {
    color: var(--link-color);

    transition: var(--transition);
}

a:hover,
a:focus,
a:active {
    color: var(--link-hover-color);

    transition: var(--transition);
}

a:visited {
    color: var(--link-visited-color);

    transition: var(--transition);
}





/* ------------------------------------ *\
    #SILENT-LINK
\* ------------------------------------ */

/**
 * Link without visual modification.
 */

.silent-link {
    text-decoration: none;

    transition: var(--transition);
}
