@charset 'UTF-8';

.vd-access-nav {
  position: absolute;
  top: -10000px;
  left: -10000px;

  li {
    a {
      display: block;
      position: fixed;
      top: 0;
      left: 25px;
      z-index: $zindex-modal;
      transform: translateY(-100%);
    }
    a:focus {
      top: 25px;
      transform: translateY(0%);
    }
  }
}
