@charset 'UTF-8';

.blockquote {
  position: relative;
  padding: ($spacer * 1.45) ($spacer * 1.8);
  background: $brand-inverse;
  border-radius: 10px;
  line-height: 1.3;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    right: 10%;
    width: 41px;
    height: 18px;

    @include vd-background-image-icon($vd-blockquote-pointer, $brand-inverse, 41, 18);
  }

  p {
    font-style: italic;
    font-family: $headings-font-family;
    color: $vd-green-light;
  }
}

.blockquote-footer {
  font-size: $font-size-base;
}
