@charset 'UTF-8';

.vd-dropdown {
  display: table;

  &.vd-dropdown-right {
    .dropdown-label {
      text-align: right;
    }

    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }

  &.vd-dropdown-left {
    .dropdown-label {
      text-align: left;
    }

    .dropdown-menu {
      right: auto;
      left: 0;
    }
  }

  &.vd-dropdown-center {
    .dropdown-label {
      text-align: center;
    }
  }

  &.vd-dropdown-purple {
    .dropdown-chevron {
      background: $vd-purple;
      color: $white;
    }

    .dropdown-label {
      color: $vd-purple;
    }

    .dropdown-item {
      color: $vd-purple;
    }
  }

  .dropdown-chevron {
    display: block;
    display: flex;
    height: 100%;
    padding: 15px 15px 10px;
    font-size: 30px;

    .icons {
      margin: auto;
    }
  }

  .dropdown-label {
    display: table-cell;
    vertical-align: top;
    width: auto;
    padding: $spacer/2 15px;
    text-transform: none;
    text-decoration: none;

    .title {
      text-transform: uppercase;
    }
  }

  .dropdown-item {
    text-decoration: none;
  }
}
