@charset 'UTF-8';

footer.footer {
  padding: ($spacer * 3) 0;
  background-image: url(../svg/bars_black.svg);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: auto 21px;
  background-color: $brand-inverse;
  color: $white;
}
