@charset 'UTF-8';

/**
 * Logo of the site web
 *
 * 1. Make the logo and text be side by side
 * 2. Add the green blocks underline
 */
.vd-logo {
  display: flex; /* [1] */
  margin-bottom: $spacer;

  @include plain-hover-focus {
    color: $body-color;
    text-decoration: none;
  }
}

.vd-logo-img {
  position: relative;
  width: 2em;
  margin-right: 0.5em;

  @include media-breakpoint-up(md) { margin-right: 1.5rem; }

  img {
    position: absolute;
    bottom: -0.2em;

    @include media-breakpoint-up(md) {
      position: relative;
      bottom: 0;
    }
  }
}

.vd-logo-title {
  margin-top: $spacer * 0.5;

  @include media-breakpoint-up(md) { margin-top: $spacer; }

  > img {
    width: 10em;
    height: 1.4em;
  }

  /* add the green underline */
  &:after {
    content: ''; /* [2] */
    display: block; /* [2] */
    width: 100%; /* [2] */
    height: 4px; /* [2] */
    margin-top: 2px;
    background-image: url('../svg/pattern_squares_green.svg'); /* [2] */
  }
}
