@charset 'UTF-8';

/**
 * Logo of the site web
 *
 * 1. Make the logo and text be side by side
 * 2. Image have to be under the text
 * 3. Add the green blocks underline
 */
.vd-logo {

  display: flex; /* [1] */

  &__logo {
    width: 2em;
  }

  &__title {

  margin-top: $spacer;

    > span {
      display: block; /* [2] */
    }

    > img {
      width: 10em;
    }

    /* add the green underline */
    &:after {
      content: ''; /* [3] */
      display: block; /* [3] */
      width: 10em; /* [3] */
      height: 4px; /* [3] */
      background-image: url('../svg/pattern_squares_green.svg'); /* [3] */
    }
  }

}
