@charset 'UTF-8';

/**
 * Logo of the site web
 *
 * 1. Make the logo and text be side by side
 * 2. Width of the logo
 * 3. If there's no coat of arms, add the margin needed for the logo to stay in
 *    position
 * 4. Add the green blocks underline
 */
.vd-logo {
  display: flex; /* [1] */
  margin-bottom: $spacer;

  @include plain-hover-focus {
    color: $body-color;
    text-decoration: none;
  }
}

.vd-logo-img {
  width: 1.5em; /* [2] */

  @include media-breakpoint-up(md) {
    width: 2em; /* [2] */
  }
}

.vd-logo-title {
  margin-top: $spacer * 0.5;
  margin-left: $spacer * 1.5;

  @include media-breakpoint-up(md) {
    margin-top: $spacer;
  }

  &:first-child {
    margin-left: 3em; /* [3] */

    @include media-breakpoint-up(md) {
      margin-left: 3.5em; /* [3] */
    }
  }

  > img {
    width: 10em;
    height: 1.4em;
  }

  /* add the green underline */
  &:after {
    content: ''; /* [4] */
    display: block; /* [4] */
    width: 100%; /* [4] */
    height: 4px; /* [4] */
    margin-top: 2px; /* [4] */
    background-image: url('../svg/pattern_squares_green.svg'); /* [4] */
  }
}
