@charset 'UTF-8';

.vd-nav-primary {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.vd-nav-primary-toggle {
  border-bottom: 1px dotted $vd-green;
}

.vd-nav-primary-content {
  padding-top: ($spacer * 1.5);
  padding-bottom: ($spacer * 1.5);

  @include vd-pattern-dotted($pattern-dotted-green);

  .container {
    background: $white;
  }
}
