@charset 'UTF-8';

.vd-nav-primary {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.vd-nav-primary-toggle {
  border-bottom: 1px dotted $vd-green;
}

.vd-nav-primary-content {
  padding-top: ($spacer * 1.5);
  padding-bottom: ($spacer * 1.5);

  @include vd-pattern-dotted($pattern-dotted-green);

  .container {
    background: $white;
  }
}

.vd-nav-primary-item {
  display: block;
  margin: $spacer 0;
  font-size: $font-size-base * 1.75;
  line-height: 1.1;
  font-weight: 300;
  text-decoration: none;

  span {
    display: block;
    font-family: $headings-font-family;
    color: $black;
  }

  small {
    display: block;
    font-size: 0.45em;
    line-height: 1.7;
    font-weight: 300;
    color: $body-color;
  }

  &:hover,
  &:focus {
    text-decoration: none;

    span,
    small { color: $link-hover-color; }
  }
}
