@charset 'UTF-8';

.vd-numbered-title {
  .tag {
    position: relative;
    top: -2px;
    width: 2em;
    height: 2em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-radius: $tag-pill-border-radius;
    line-height: 1.5em;
    text-align: center;
    font-weight: 300;
  }

  a {
    color: $body-color;
    text-decoration: none;

    &:hover {
      color: $link-hover-color;
      text-decoration: underline;

      .tag { background: $link-hover-color; }
    }
  }
}
