@charset 'UTF-8';

.vd-teaser-img {
  display: inline-block;
  max-width: 100%;
  margin-right: auto;
  margin-bottom: $spacer;
  margin-left: auto;

  @include media-breakpoint-up(md) {
    margin-left: 25%;
    margin-right: 25%;
  }
}

.vd-teaser-title {
  margin-bottom: ($spacer * 2);
}

.vd-teaser-meta {
  font-size: $font-size-sm * 0.9;
  text-decoration: none;
}
