@charset 'UTF-8';

.vd-teaser-small {
  margin: $spacer 0 ($spacer * 3);
  padding-bottom: ($spacer / 2);
  border-bottom: 1px solid $vd-green-darker;
}

.vd-teaser-small-img {
  max-width: 100%;

  @include media-breakpoint-up(md) {
    max-width: 40%;
  }
}
