@charset 'UTF-8';

/**
 * Simple teaser
 *
 * 1. Remove the bottom border on last element of lists
 * 2. Remove the bottom border on last element of a 2 columns list
 */
.vd-teaser {
  margin-bottom: $spacer * 2;

  &:after {
    content: '';
    display: block;
    width: 100%;
    margin-top: $spacer;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid $vd-green-darker;

    @include media-breakpoint-up(md) {
      max-width: 350px;
    }
  }

  &:last-of-type {
    &:after { content: none; } /* [1] */
  }

  @include media-breakpoint-up(md) {
    &[class*="col-md-6"]:nth-last-of-type(-n+2) {
      &:after { content: none; } /* [2] */
    }
  }
}

/**
 * Make the image small on desktop
 *
 * 1. Fix IE showing the image 100% width
 */
.vd-teaser-img {
  display: inline-block;
  max-width: 100%;
  margin-right: auto;
  margin-bottom: $spacer;
  margin-left: auto;

  @include media-breakpoint-up(md) {
    margin-left: 25%;
    margin-right: 25%;
    max-width: 50%; /* [1] */
  }
}

.vd-teaser-title {
  margin-bottom: ($spacer * 2);
}

.vd-teaser-meta {
  font-size: $font-size-sm * 0.9;
  text-decoration: none;
  color: $link-color;
}
