@charset 'UTF-8';

.vertical-pagination {
  list-style: none;
  padding: 0;

  li {
    margin: 0 0 0.3em;

    &.success {
      .bullet {
        background: $vd-success;
      }
    }

    &.warning {
      .bullet {
        background: $vd-warning;
      }
    }

    &.current {
      .bullet {
        background: $black;
      }

      .title {
        font-weight: 700;
        color: $black;
      }
    }

    &.disabled {
      .bullet {
        background: lighten($black, 75%);
      }

      .title {
        color: lighten($black, 75%);
      }
    }

    .bullet {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: $vd-gray;
      border-radius: 50%;
      font-size: 10px;
      line-height: 20px;
      font-weight: 700;
      color: $white;
      text-align: center;
      vertical-align: middle;
      -webkit-font-smoothing: antialiased;
    }

    .title {
      padding-left: 1em;
      font-size: 16px;
      color: lighten($black, 50%);
      text-decoration: none;
    }
  }
}
