{% extends '@template--homepage' %}
{% block main %}

  {% render '@teaser-list--homepage', news %}

{% endblock %}

{% block aside %}
  <section class="mb-5 d-none d-md-block">
    {% render '@twitter-feed' %}
  </section>

  <section>
    {% render '@agenda', agenda %}
  </section>
{% endblock %}

{% block contentSecondary %}
<section class="mb-5">
  <h2 class="vd-heading-light-alt h4 mb-5 d-print-none">Autorités</h2>

  {% render '@button-tiles', buttonTilesTop %}

  <p>
    <a href="../autorites/" class="btn btn-dark">Toutes les autorités</a>
  </p>

</section>
{% endblock %}
