<div class="vd-card mb-3">
  <div class="container">
    <div class="row">
      <div class="col-4 col-sm-3 col-lg-2 mt-3">
        {% render '@image--rounded', image, true %}
      </div>
      <div class="col-8 col-sm-9 col-lg-10">
        <div class="card-block vd-card-block">
          <h5 class="card-title vd-card-title">{{ name }}</h5>
          <p class="card-text vd-card-text">{{ position }}</p>
          {% render '@list-links', links %}
        </div>
      </div>
    </div>
  </div>
</div>
