/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Headings 1–6.
 */

/*Predefine the variables below in order to alter and enable specific features.*/
:root {
    --heading-size-1: 2rem;
    --heading-line-height-1: 1.2;

    --heading-size-2: 1.667rem;
    --heading-line-height-2: 1.2;

    --heading-size-3: 1.333rem;
    --heading-line-height-3: 1.2;

    --heading-size-4: 1rem;
    --heading-line-height-4: var(--base-line-height );

    --heading-size-5: 0.8rem;
    --heading-line-height-5: var(--base-line-height );

    --heading-size-6: 0.8rem;
    --heading-line-height-6: var(--base-line-height );
}

/**
 * Vertical rhythme unit is font-size of the root * root line-height
 * var(--base-font-size) * var(--base-line-height) = 16px * 1.125 * 1.5
 */

h1 {
    font-size: var(--heading-size-1);
    line-height: var(--heading-line-height-1);
    font-weight: var(--heading-font-weight);
}

h2 {
    font-size: var(--heading-size-2);
    line-height: var(--heading-line-height-2);
    font-weight: var(--heading-font-weight);
}

h3 {
    font-size: var(--heading-size-3);
    line-height: var(--heading-line-height-3);
    font-weight: var(--heading-font-weight);
}

h4 {
    font-size: var(--heading-size-4);
    line-height: var(--heading-line-height-4);
    font-weight: var(--heading-font-weight);
}

h5 {
    font-size: var(--heading-size-5);
    line-height: var(--heading-line-height-5);
    font-weight: var(--heading-font-weight);
}

h6 {
    font-size: var(--heading-size-6);
    line-height: var(--heading-line-height-6);
    font-weight: 400;
}





/**
 * Headings fontface
 *
 * 1. Use Typekit webfont only when it's loaded to avoid FOIT
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    letter-spacing: var(--heading-letter-spacing);
}

.wf-active {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--enhance-heading-font-family); /* [1] */
    }
}
