/* ------------------------------------ *\
    #PAGE
\* ------------------------------------ */

/**
 * High-, page-level styling.
 *
 * 1. Ensure the page always fills at least the entire height of the viewport.
 * 2. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 3. Prevent certain mobile browsers from automatically zooming fonts.
 * 4. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 */
html {
    min-height: 100%; /* [1] */

    font-weight: var(--base-font-weight);
    font-size: var(--base-font-size); /* [2] */
    font-family: var(--base-font-family);
    line-height: var(--base-line-height); /* [2] */
    color: var(--base-text-color);
    text-size-adjust: 100%; /* [3] */

    background-color: var(--base-background-color);
    overflow-y: scroll; /* [4] */
}
