/*------------------------------------*\
    #ABBREVIATION
\*------------------------------------*/

/**
 * Mor readable `<abbr>`
 * see http://practice.typekit.com/lesson/caring-about-opentype-features/
 */

abbr {
    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    font-variant-numeric: oldstyle-nums, proportional-nums;
    font-variant-caps: all-small-caps;
    font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum", "smcp", "c2sc";
}
