/* ------------------------------------ *\
    #SMALL
\* ------------------------------------ */

/**
 * Small text
 */

:root{
    --small-font-size: calc( 1rem / 1.26 );
    --small-font-family: var(--base-font-family);
    --enhance-small-font-family: var(--enhance-base-font-family);
}





small {
    font-size: var(--small-font-size);
    font-family: var(--small-font-family);
}





/**
 * Small fontface
 *
 * 1. Use webfont only when it's loaded to avoid FOIT
 */

.wf-active small {
    font-family: var(--enhance-small-font-family); /* [1] */
}
