/* ------------------------------------ *\
    #FORMS
\* ------------------------------------ */

:root {
    --form-background-color: var(--color-white);
    --form-border-color: var(--color-gray-light);
    --form-border-width: 1px;
    --form-border-style: solid;
    --form-border-radius: 0;

    --form-checkbox-border-radius: calc(var(--base-spacing-unit) / 6);

    --form-font-size: inherit;
    --form-text-indent: calc(var(--base-spacing-unit) / 4);
    --form-placeholder-color: var(--color-gray-light);

    --form-color-disabled: var(--color-gray-light);
    --form-background-color-disabled: color( var(--color-gray-light) l(90%) );

    --form-color-checked: var(--color-primary-alt);

    --input-height: calc(var(--base-font-size) * var(--base-line-height));
    --input-margin: 1px;
}





/**
 * Inputs and textarea
 *
 * 1. Overrid browser style. Even if the `border-radius` is `0` it has to be
 *    to properly override the styles
 * 1. Placeholder
 * 2. Override content-box in Normalize
 * 3. Default `textarea` width can be bigger than the viewport and cause
 *    some overflows
 */
input,
textarea {
    font-size: var(--form-font-size);
    text-indent: calc(var(--form-text-indent) / 4);

    background-color: var(--form-background-color);
    border: var(--form-border-width)
            var(--form-border-style)
            var(--form-border-color);
    border-radius: var(--form-border-radius); /* [1] */

    &::placeholder {
        color: var(--form-placeholder-color); /* [1] */
    }

    &[disabled],
    &:disabled,
    &[readonly] {
        background-color: var(--form-background-color-disabled);

        cursor: not-allowed;

        &,
        &::placeholder {
            color: var(--form-color-disabled);
        }
    }
}

input {
    width: 100%;
    height: calc(
                var(--input-height)
                - 2 * var(--form-border-width)
                - 2 * var(--input-margin)
            );

    margin-top: var(--form-border-width);
    margin-bottom: var(--form-border-width);

    &[type="search"] {
        box-sizing: border-box; /* [2] */
    }
}

textarea {

    max-width: 100%; /* [3] */

    &::placeholder {
        color: var(--form-placeholder-color); /* [1] */
    }

}

/**
 * Checkbox and radio button
 *
 * 1. Hide default checkbox and radio button
 */
input[type="checkbox"],
input[type="radio"] {
    display: hidden; /* [1] */

    + label {

        cursor: pointer;

        &::before{
            display: inline-block;
            width: 1rem;
            height: 1rem;

            background: var(--form-background-color);
            border-radius: var(--form-checkbox-border-radius);
            margin-right: var(--form-text-indent);
            box-shadow: 0 0 0 var(--form-border-width) var(--form-border-color);
            content: "\a0";
            vertical-align: -.1rem;
        }
    }

    &:checked + label::before {
        background-color: var(--form-color-checked);

        box-shadow: 0 0 0 var(--form-border-width) var(--form-color-checked);
    }
}

/**
 * Select Menu
 *
 * 1. Arrow down icon
 * 2. Remove browser appearance
 */
select {
    background-position: right var(--form-text-indent) center; /* [2] */
    background-repeat: no-repeat;  /* [2] */
    background-image: url("../images/arrow_down.svg"); /* [2] */
    background-size: 1rem;  /* [2] */
}





/**
 * Labels
 *
 * 1. Apply enhance font weight when the webfont is loaded
 */

:root {
    --label-font-weight: var(--base-font-weight-bold);
}

label {
    font-weight: var(--label-font-weight);
}

.wf-metaserifweb-n7-active label {
    font-weight: var(--enhance-base-font-weight-bold); /* [1] */
}
