/*------------------------------------*\
    #PAGE-RESPONSIVE
\*------------------------------------*/

/**
 * Set the base reposnsive typography
 */
:root {
    --base-font-size--palm: 1rem;
    --base-line-height--palm: 1.625;

    --base-font-size--lap: 1.25rem;
    --base-line-height--lap: 1.5;

    --base-font-size--desk: 1.5rem;
    --base-line-height--desk: 1.5;
}

@media (--palm) {
    html {
        font-size: var(--base-font-size--palm);
        line-height: var(--base-line-height--palm);
    }
}

@media (--lap) {
    html {
        font-size: var(--base-font-size--lap);
        line-height: var(--base-line-height--lap);
    }
}

@media (--desk) {
    html {
        font-size: var(--base-font-size--desk);
        line-height: var(--base-line-height--desk);
    }
}
