/*------------------------------------*\
    #QUOTES
\*------------------------------------*/





:root {
    --blockquote-text-color: var(--base-text-color);
}





/**
 * Blockquote
 *
 * 1. Unicode for En dash and Space.
 */
blockquote {
    font-style: italic;
    letter-spacing: -.003rem;

    padding-left: var(--base-spacing-unit--tiny);
    margin-left: @padding-left;
    border-left: .2rem var(--blockquote-text-color) solid;

    cite {
        &::before {
            content: "\2013\0020";
        }
    }
}





/**
 * Inline quotations and source citations
 */
cite,
q {
    font-style: italic;
    letter-spacing: -.003em;
}
