/*------------------------------------*\
    #LINK
\*------------------------------------*/

a {
    color: var(--base-text-color);

    transition: var(--transition-color);
}

a:hover {
    color: var(--base-primary-color);

    transition: var(--transition-color);
}





/*------------------------------------*\
    #SILENT-LINK
\*------------------------------------*/

/**
 * Link without visual modification.
 */

.silent-link {
    text-decoration: none;

    transition: var(--transition-color);
}
