/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Headings 1–6.
 *
 * 1. Use Typekit webfont only when it's loaded to avoid FOIT
 */

:root {
    --heading-size-1: calc(1rem * 1.26 * 1.26 * 1.26);
    --heading-line-height-1: 1.2;

    --heading-size-2: calc(1rem * 1.26 * 1.26);
    --heading-line-height-2: 1.2;

    --heading-size-3: calc(1rem * 1.26);
    --heading-line-height-3: 1.2;

    --heading-size-4: 1rem;
    --heading-line-height-4: 1.5;

    --heading-size-5: calc(1rem / 1.26);
    --heading-line-height-5: 1.5;

    --heading-size-6: calc(1rem / 1.26);
    --heading-line-height-6: 1.5;
}

h1 {
    font-size: var(--heading-size-1);
    line-height: var(--heading-line-height-1);
    font-weight: var(--heading-font-weight-bold);
}

h2 {
    font-size: var(--heading-size-2);
    line-height: var(--heading-line-height-2);
    font-weight: var(--heading-font-weight-bold);
}

h3 {
    font-size: var(--heading-size-3);
    line-height: var(--heading-line-height-3);
    font-weight: var(--heading-font-weight-bold);
}

h4 {
    font-size: var(--heading-size-4);
    line-height: var(--heading-line-height-4);
    font-weight: var(--heading-font-weight-bold);
}

h5 {
    font-size: var(--heading-size-5);
    line-height: var(--heading-line-height-5);
    font-weight: var(--heading-font-weight-bold);
}

h6 {
    font-size: var(--heading-size-6);
    line-height: var(--heading-line-height-6);
    font-weight: var(--heading-font-weight-regular);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    @mixin font-headings;
}

.wf-active {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--enhance-heading-font-family); /* [1] */
        letter-spacing: var(--heading-letter-spacing);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: var(--enhance-heading-font-weight-bold);
    }

    h6 {
        font-weight: var(--enhance-heading-font-weight-regular);
    }
}
