/*------------------------------------*\
    #HEADINGS-RESPONSIVE
\*------------------------------------*/

/**
 * Reponsive Headings 1–6.
 *
 * If media queries arn't supported, fallback `font-size` and `line-height` is
 * defined by the default headings settings
 */

// Predefine the variables below in order to alter and enable specific features.

$heading-size-1--palm:  36px !default;
$heading-size-2--palm:  30px !default;
$heading-size-3--palm:  24px !default;
$heading-size-4--palm:  20px !default;
$heading-size-5--palm:  16px !default;
$heading-size-6--palm:  14px !default;

$heading-size-1--lap:   $heading-size-1 !default;
$heading-size-2--lap:   $heading-size-2 !default;
$heading-size-3--lap:   $heading-size-3 !default;
$heading-size-4--lap:   $heading-size-4 !default;
$heading-size-5--lap:   $heading-size-5 !default;
$heading-size-6--lap:   $heading-size-6 !default;

$heading-size-1--desk:  54px !default;
$heading-size-2--desk:  45px !default;
$heading-size-3--desk:  36px !default;
$heading-size-4--desk:  30px !default;
$heading-size-5--desk:  24px !default;
$heading-size-6--desk:  21px !default;

h1 {
    @include media-query(palm) { @include font-size($heading-size-1--palm); }
    @include media-query(lap)  { @include font-size($heading-size-1--lap);  }
    @include media-query(desk) { @include font-size($heading-size-1--desk); }
}

h2 {
    @include media-query(palm) { @include font-size($heading-size-2--palm); }
    @include media-query(lap)  { @include font-size($heading-size-2--lap);  }
    @include media-query(desk) { @include font-size($heading-size-2--desk); }
}

h3 {
    @include media-query(palm) { @include font-size($heading-size-3--palm); }
    @include media-query(lap)  { @include font-size($heading-size-3--lap);  }
    @include media-query(desk) { @include font-size($heading-size-3--desk); }
}

h4 {
    @include media-query(palm) { @include font-size($heading-size-4--palm); }
    @include media-query(lap)  { @include font-size($heading-size-4--lap);  }
    @include media-query(desk) { @include font-size($heading-size-4--desk); }
}

h5 {
    @include media-query(palm) { @include font-size($heading-size-5--palm); }
    @include media-query(lap)  { @include font-size($heading-size-5--lap);  }
    @include media-query(desk) { @include font-size($heading-size-5--desk); }
}

h6 {
    @include media-query(palm) { @include font-size($heading-size-6--palm); }
    @include media-query(lap)  { @include font-size($heading-size-6--lap);  }
    @include media-query(desk) { @include font-size($heading-size-6--desk); }
}
