/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Headings 1–6.
 */

// Predefine the variables below in order to alter and enable specific features.
$heading-size-1:  45px !default;
$heading-size-2:  37px !default;
$heading-size-3:  30px !default;
$heading-size-4:  25px !default;
$heading-size-5:  20px !default;
$heading-size-6:  17px !default;

h1 {
    @include font-size($heading-size-1);
}

h2 {
    @include font-size($heading-size-2);
}

h3 {
    @include font-size($heading-size-3);
}

h4 {
    @include font-size($heading-size-4);
}

h5 {
    @include font-size($heading-size-5);
}

h6 {
    @include font-size($heading-size-6);
}
