/* ------------------------------------ *\
    #HEADINGS
\* ------------------------------------ */

/**
 * Headings 1–6.
 */

/* Predefine the variables below in order to alter and enable specific
 features. */
:root{
    --heading-size-1: 2.8125rem;
    --heading-size-2: 2.3125rem;
    --heading-size-3: 1.875rem;
    --heading-size-4: 1.5625rem;
    --heading-size-5: 1.25rem;
    --heading-size-6: 1.0625rem;
}

h1 {
    font-size: var(--heading-size-1);
}

h2 {
    font-size: var(--heading-size-2);
}

h3 {
    font-size: var(--heading-size-3);
}

h4 {
    font-size: var(--heading-size-4);
}

h5 {
    font-size: var(--heading-size-5);
}

h6 {
    font-size: var(--heading-size-6);
}





/**
 * Headings fontface
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--heading-font-weight);
    font-family: var(--heading-font-family);
    letter-spacing: var(--heading-letter-spacing);
}
