/* ------------------------------------ *\
    #CAPTION
\* ------------------------------------ */

/**
 * Caption
 */

:root{
    --caption-font-size: var(--small-font-size);
    --caption-font-family: var(--small-font-family);
    --enhance-caption-font-family: var(--enhance-small-font-family);
}





figcaption {
    font-size: var(--small-font-size);
    font-family: var(--small-font-family);
}





/**
 * Small fontface
 *
 * 1. Use webfont only when it's loaded to avoid FOIT
 */

.wf-active figcaption {
    font-family: var(--enhance-caption-font-family); /* [1] */
}
