/*------------------------------------*\
    #PAGE-RESPONSIVE
\*------------------------------------*/

/**
 * Set the base reposnsive typography
 */
:root {
    --base-font-size--lap: var(--base-font-size);
    --base-line-height--lap: var(--base-line-height);

    --base-font-size--desk: var(--base-font-size);
    --base-line-height--desk: var(--base-line-height);
}

@media (--lap) {
    html {
        font-size: var(--base-font-size--lap);
        line-height: var(--base-line-height--lap);
    }
}

@media (--desk) {
    html {
        font-size: var(--base-font-size--desk);
        line-height: var(--base-line-height--desk);
    }
}
