/*------------------------------------*\
    #BOX
\*------------------------------------*/

/**
 * Default box UI.
 */
.box--default {
    outline: 1px solid var(--base-text-color);
    margin-bottom: var(--base-spacing-unit);
    margin-bottom: calc(var(--base-spacing-unit) / var(--base-font-size));
}
