/*------------------------------------*\
    #TABLES
\*------------------------------------*/


:root {
    --table-border-width: 1px;
    --table-border-style: solid;
    --table-border-color: var(--base-font-color);
}




.table {
    width: 100%;
}





/**
 * Add borders around a `table`.
 */
.table--cells th,
.table--cells td {
    border: var(--table-border-width) var(--table-border-style) var(--table-border-color);
}
