/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

:root {
    --btn-padding: var(--base-spacing-unit);
    --btn-background: var(--base-text-color);
    --btn-color: var(--base-background-color);
    --btn-border-width: 1px;
    --btn-border-style: solid;
    --btn-border-color: var(--btn-background);
    --btn-border-color: var(--base-text-color);
}

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Fixes odd inner spacing in IE7.
 * 7. Subtract the border size from the padding value so that buttons do not
 *    grow larger as we add borders.
 */
.btn{
    display: inline-block; /* [1] */
    vertical-align: middle; /* [2] */
    font: inherit; /* [3] */
    text-align: center; /* [4] */
    margin: 0; /* [4] */
    cursor: pointer; /* [5] */
    overflow: visible; /* [6] */
    padding: calc(var(--btn-padding) - var(--btn-border-width))  calc(var(--btn-padding) * 2 - var(--btn-border-width)); /* [7] */
    background-color: var(--btn-background);
    border: var(--btn-border-width) var(--btn-border-style) var(--btn-border-color);
}

.btn,
.btn:hover,
.btn:active,
.btn:focus {
    text-decoration: none; /* [4] */
    color: var(--btn-color);
}


/**
 * Fix a Firefox bug whereby `input type="submit"` gains 2px extra padding.
 */
.btn::-moz-focus-inner {
    border: 0;
    padding: 0;
}
