/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

:root {
    --layout-gutter: var(--base-spacing-unit--small);
}

/**
 * The layout is based on lost framework
 * https://github.com/corysimmons/lost
 */
@lost gutter 1rem;





/**
 * Layout
 */
.layout {
  lost-flex-container: row;
}

.layout--column {
  lost-flex-container: column;
}

@each $query in (--palm, --lap, --lap-and-up, --portable, --desk) {
    @media ($(query)) {
        .layout$(query)--column {
            lost-flex-container: column;
        }
    }
}





/**
 * Flex items
 */

@for $cycle from 2 to 5 {
    @for $fraction from 1 to 5 {
        @if $fraction < $cycle {
            .layout__item--$(fraction)-$(cycle) {
                lost-column: $fraction/$cycle flex;
            }
        }
    }
}

@each $query in (--palm, --lap, --lap-and-up, --portable, --desk) {
    @media ($(query)) {
        @for $cycle from 2 to 5 {
            @for $fraction from 1 to 5 {
                @if $fraction < $cycle {
                    .layout__item$(query)--$(fraction)-$(cycle) {
                        lost-column: $fraction/$cycle flex;
                    }
                }
            }
        }
    }
}




/**
 * Move
 */

@for $cycle from 2 to 5 {
    @for $fraction from 1 to 5 {
        @if $fraction < $cycle {
            .layout__item--move--$(fraction)-$(cycle) {
                lost-move: $fraction/$cycle;
            }
            .layout__item--move---$(fraction)-$(cycle) {
                lost-move: -$fraction/$cycle;
            }
        }
    }
}

@each $query in (--palm, --lap, --lap-and-up, --portable, --desk) {
    @media ($(query)) {
        @for $cycle from 2 to 5 {
            @for $fraction from 1 to 5 {
                @if $fraction < $cycle {
                    .layout__item$(query)--move--$(fraction)-$(cycle) {
                        lost-move: $fraction/$cycle;
                    }
                    .layout__item$(query)--move---$(fraction)-$(cycle) {
                        lost-move: -$fraction/$cycle;
                    }
                }
            }
        }
    }
}
