/*------------------------------------*\
    #BOX
\*------------------------------------*/

/**
 * The box object simply boxes off content.
 */

:root {
    --box-padding: var(--base-spacing-unit);
}





/**
 * 1. So we can apply the `.box` class to naturally-inline elements.
 * 2. Clearfix
 */
.box {
    display: block; /* [1] */
    padding: var(--box-padding);

    &:after { /* [2] */
        content: "";
        display: table;
        clear: both;
    }

    > :last-child {
        margin-bottom: 0;
    }
}
