/* ------------------------------------ *\
    #TABLES
\* ------------------------------------ */


:root {
    --table-border-width: 1px;
    --table-border-style: solid;
    --table-border-color: var(--base-text-color);

    --table-padding--compact: calc(var(--base-spacing-unit) / 4);
    --table-padding--cosy: calc(var(--base-spacing-unit) / 2);
    --table-padding--comfy: calc(var(--base-spacing-unit));
}





/**
 * Table default layout
 *
 * 1. Allow the table to scroll horizontally
 * 2. Reset scroll horizontally for mobile
 */
.table {
    display: block; /* [1] */
    width: 100%;

    overflow-x: auto; /* [1] */

    @media (--lap-and-up) {
        display: table; /* [2] */

        overflow-x: visible; /* [2] */
    }
}





/**
 * Add borders around a `table`.
 */
.table--cells th,
.table--cells td {
    border: var(--table-border-width)
            var(--table-border-style)
            var(--table-border-color);
}





/**
 * Add borders only to `table`’s rows.
 */
.table--rows {

    &,
    th,
    td {
        border: 0 var(--table-border-style) var(--table-border-color);
    }

}

.table--rows {
    border-top-width: var(--table-border-width);

    th,
    td {
        border-bottom-width: var(--table-border-width);
    }
}





/**
 * Add borders only to `table`’s columns.
 */
.table--columns {

    &,
    th,
    td {
        border: 0 var(--table-border-style) var(--table-border-color);
    }
}

.table--columns {
    border-left-width: var(--table-border-width);

    th,
    td {
        border-right-width: var(--table-border-width);
    }
}





/**
 * Tables with very tightly packed cells.
 */
.table--compact {

    th,
    td {
        padding: var(--table-padding--compact);
    }

}





/**
 * Lightly packed cells.
 */
.table--cosy {

    th,
    td {
        padding: var(--table-padding--cosy);
    }

}





/**
 * Tables with very widely padded cells.
 */
.table--comfy {

    th,
    td {
        padding: var(--table-padding--comfy);
    }

}
