/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

// Predefine the variables below in order to alter and enable specific features.
$expo-gutter:            $base-spacing-unit--small !default;
$expo-columns-number:    6 !default;





/**
 * Layout
 *
 * 1. Defines the default behaviour for how flex items are laid out along the
 *    cross axis on the current line. Item are aligned at the top. Items are
 *    aligned to the top.
 * 2. Defines the alignment along the main axis. Items are aligne on the left.
 */
.expo {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start; /* [1] */
  justify-content: flex-start; /* [2] */
  margin-right: -$expo-gutter;
  margin-left: -$expo-gutter;
}





/**
 * Flex item
 */
.expo__item {
  padding-right: $expo-gutter;
  padding-left: $expo-gutter;
  flex-grow: 0;
  flex-shrink: 1;
}





$i: 1;
@while $i <= $layout-columns-number {
    .expo--#{$i} .expo__item {
        flex-basis: 100%/$i;
    }
    $i: $i + 1;
}





@if $responsive-settings == true {

    @include generate-responsive-item() {

      $i: 1;
      @while $i <= $expo-columns-number {
        /**
         * Fixed item with a size of #{$i} for #{$generate-responsive-item-alias} viewport
         */
        .expo--#{$generate-responsive-item-alias}--#{$i} .expo__item {
          flex-basis: 100%/$i;
        }
        $i: $i + 1;
      }

    }

}
