/*------------------------------------*\
    #WRAPPERS
\*------------------------------------*/

/**
 * Container
 *
 * 1. Center horizontaly
 */

.container {
    padding-left: $base-spacing-unit--small;
    padding-right: $base-spacing-unit--small;

    margin-left: auto; /* [1] */
    margin-left: auto; /* [1] */

    @include media-query(lap-and-up) {
        padding-left: $base-spacing-unit;
        padding-right: $base-spacing-unit;
    }
}
