/*------------------------------------*\
    #FONTFACE
\*------------------------------------*/





// Variables
// 'Cabin Sketch' is loaded via a `<link>` in the header.
$base-font-family:    "sketchnote-text", cursive;
$base-font-weight:    400;

$heading-font-family: "sketchnote-square", $base-font-family;
$heading-font-weight: 700;





// If we have included this file, set a variable to tell the rest of the
// framework that we have some responsive settings.
$fontface-settings: true;
