/*------------------------------------*\
    #FONTFACE
\*------------------------------------*/





/**
 * Variables
 */
:root {
    --base-font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    --base-font-weight: 400;

    --enhance-base-font-family: "MetaSerifWeb", var(--base-font-family);
    --enhance-base-font-weight-regular: 500;
    --enhance-base-font-weight-bold: 700;

    --heading-font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    --heading-font-weight-regular: normal;
    --heading-font-weight-bold: bold;

    --enhance-heading-font-family: "MetaWeb", var(--heading-font-family);
    --enhance-heading-font-weight-regular: 400;
    --enhance-heading-font-weight-bold: 700;

    --monospaced-font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    --monospaced-font-size: .8rem;
}




/**
 * Meta Serif
 */

/* Normal normal */
@font-face {
    font-family: 'MetaSerifWeb';
    src: url('../fonts/MetaSerifWeb-Book.eot');
    src: url('../fonts/MetaSerifWeb-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MetaSerifWeb-Book.woff') format('woff');
    font-weight: normal; /* or 400 */
    font-style: normal;
}

/* Normal italic*/
@font-face {
    font-family: 'MetaSerifWeb';
    src: url('../fonts/MetaSerifWeb-BookItalic.eot');
    src: url('../fonts/MetaSerifWeb-BookItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MetaSerifWeb-BookItalic.woff') format('woff');
    font-weight: normal; /* or 400 */
    font-style: italic;
}

/* Bold normal */
@font-face {
    font-family: 'MetaSerifWeb';
    src: url('../fonts/MetaSerifWeb-Bold.eot');
    src: url('../fonts/MetaSerifWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MetaSerifWeb-Bold.woff') format('woff');
    font-weight: bold; /* or 700 */
    font-style: normal;
}

/* Bold itlaic */
@font-face {
    font-family: 'MetaSerifWeb';
    src: url('../fonts/MetaSerifWeb-BoldItalic.eot');
    src: url('../fonts/MetaSerifWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MetaSerifWeb-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/**
 * Meta Web Condensed
 */

/* Normal normal */
@font-face {
    font-family: 'MetaWeb';
    src: url('../fonts/MetaWeb-CondBook.eot');
    src: url('../fonts/MetaWeb-CondBook.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MetaWeb-CondBook.woff') format('woff');
    font-weight: normal; /* or 400 */
    font-style: normal;
}

/* Normal italic*/
@font-face {
    font-family: 'MetaWeb';
    src: url('../fonts/MetaWeb-CondBookItalic.eot');
    src: url('../fonts/MetaWeb-CondBookItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MetaWeb-CondBookItalic.woff') format('woff');
    font-weight: normal; /* or 400 */
    font-style: italic;
}

/* Bold normal */
@font-face {
    font-family: 'MetaWeb';
    src: url('../fonts/MetaWeb-CondBold.eot');
    src: url('../fonts/MetaWeb-CondBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MetaWeb-CondBold.woff') format('woff');
    font-weight: bold; /* or 700 */
    font-style: normal;
}

/* Bold itlaic */
@font-face {
    font-family: 'MetaWeb';
    src: url('../fonts/MetaWeb-CondBoldItalic.eot');
    src: url('../fonts/MetaWeb-CondBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MetaWeb-CondBoldItalic.woff') format('woff');
    font-weight: bold; /* or 700 */
    font-style: italic;
}
