/*------------------------------------*\
    #LINK
\*------------------------------------*/


/**
 * Visually hide content.
 *
 * The content still readable by screen readers
 * https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
 */
@define-mixin visually-hidden $class: none {
    @if $class == none {
        position: absolute !important;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden;
    }
    @else {
        $class {
            position: absolute !important;
            clip: rect(1px, 1px, 1px, 1px);
            padding: 0 !important;
            border: 0 !important;
            height: 1px !important;
            width: 1px !important;
            overflow: hidden;
        }

        body:hover $class a,
        body:hover $class input,
        body:hover $class button {
            display: none !important;
        }
    }
}





/**
 * Hide content depending of the viewport
 *
 * 1. Screen readers sometimes ignore display:none1. This means the content
 *    will be read despite being “hidden”. To hide content completely from
 *    screen readers use the following
 *    http://a11yproject.com/posts/how-to-hide-content/
 */
@define-mixin hidden {
    display: none !important;
    visibility: hidden !important; /* 1 */
}





/**
 * Mor readable bodytext
 * see http://practice.typekit.com/lesson/caring-about-opentype-features/
 */
@define-mixin font-bodytext {
    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    font-variant-numeric: oldstyle-nums, proportional-nums;
    font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
}
