/*------------------------------------*\
    #RESPONSIVE-UTILITIES
\*------------------------------------*/

/**
 * Visually hide content depending on viewports.
 */
@media (--palm) {
    .visually-hidden--palm {
        @mixin visually-hidden;
    }

    body:hover .visually-hidden--palm a,
    body:hover .visually-hidden--palm input,
    body:hover .visually-hidden--palm button {
        display: none !important;
    }
}

@media (--lap) {
    .visually-hidden--lap {
        @mixin visually-hidden;
    }

    body:hover .visually-hidden--lap a,
    body:hover .visually-hidden--lap input,
    body:hover .visually-hidden--lap button {
        display: none !important;
    }
}

@media (--lap-and-up) {
    .visually-hidden--lap-and-up {
        @mixin visually-hidden;
    }

    body:hover .visually-hidden--lap-and-up a,
    body:hover .visually-hidden--lap-and-up input,
    body:hover .visually-hidden--lap-and-up button {
        display: none !important;
    }
}

@media (--portable) {
    .visually-hidden--portable {
        @mixin visually-hidden;
    }

    body:hover .visually-hidden--portable a,
    body:hover .visually-hidden--portable input,
    body:hover .visually-hidden--portable button {
        display: none !important;
    }
}

@media (--desk) {
    .visually-hidden--desk {
        @mixin visually-hidden;
    }

    body:hover .visually-hidden--desk a,
    body:hover .visually-hidden--desk input,
    body:hover .visually-hidden--desk button {
        display: none !important;
    }
}

@media (--retina) {
    .visually-hidden--retina {
        @mixin visually-hidden;
    }

    body:hover .visually-hidden--retina a,
    body:hover .visually-hidden--retina input,
    body:hover .visually-hidden--retina button {
        display: none !important;
    }
}

/**
 * Hide content depending of the viewport
 *
 * 1. Screen readers sometimes ignore display:none1. This means the content
 *    will be read despite being “hidden”. To hide content completely from
 *    screen readers use the following
 *    http://a11yproject.com/posts/how-to-hide-content/
 */
@media (--palm) {
    .hidden--palm {
        @mixin hidden;
    }
}

@media (--lap) {
    .hidden--lap {
        @mixin hidden;
    }
}

@media (--lap-and-up) {
    .hidden--lap-and-up {
        @mixin hidden;
    }
}

@media (--portable) {
    .hidden--portable {
        @mixin hidden;
    }
}

@media (--desk) {
    .hidden--desk {
        @mixin hidden;
    }
}

@media (--retina) {
    .hidden--retina {
        @mixin hidden;
    }
}
