///*------------------------------------*\
//    #UTILITIES
//\*------------------------------------*/

/**
 * Visually hide content.
 *
 * The content still readable by screen readers
 */
.visually-hidden,
%visually-hidden {
    @include visually-hidden;
}

body:hover .visually-hidden a,
body:hover .visually-hidden input,
body:hover .visually-hidden button {
    display: none !important;
}
