/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Headings 1–6’s corresponding Greek-alphabet abstract classes for double-
 * stranded heading hierarchy: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 *
 * Use these helper classes to cause other elements to adopt the styling of the
 * respective heading, e.g.:
 *
   <h2 class="alpha">Lorem ipsum</h2>
 *
 */

.alpha {
    font-size: var(--heading-size-1);
    line-height: var(--heading-line-height-1);
    font-weight: var(--heading-font-weight-bold);
}

.beta {
    font-size: var(--heading-size-2);
    line-height: var(--heading-line-height-2);
    font-weight: var(--heading-font-weight-bold);
}

.gamma {
    font-size: var(--heading-size-3);
    line-height: var(--heading-line-height-3);
    font-weight: var(--heading-font-weight-bold);
}

.delta {
    font-size: var(--heading-size-4);
    line-height: var(--heading-line-height-4);
    font-weight: var(--heading-font-weight-bold);
}

.epsilon {
    font-size: var(--heading-size-5);
    line-height: var(--heading-line-height-5);
    font-weight: var(--heading-font-weight-bold);
}

.zeta {
    font-size: var(--heading-size-6);
    line-height: var(--heading-line-height-6);
    font-weight: var(--heading-font-weight-regular);
}

.alpha,
.beta,
.gamma,
.delta,
.epsilon,
.zeta {
    font-family: var(--heading-font-family);
    @mixin font-headings;
}

.wf-metaweb-n7-active {
    .alpha,
    .beta,
    .gamma,
    .delta,
    .epsilon,
    .zeta  {
        font-family: var(--enhance-heading-font-family); /* [1] */
    }

    .alpha,
    .beta,
    .gamma,
    .delta,
    .epsilon  {
        font-weight: var(--enhance-heading-font-weight-bold);
    }

    .zeta {
        font-weight: var(--enhance-heading-font-weight-regular);
    }
}
