/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

:root {
    --heading-size-alpha: var(--heading-size-1);
    --heading-size-beta: var(--heading-size-2);
    --heading-size-gamma: var(--heading-size-3);
    --heading-size-delta: var(--heading-size-4);
    --heading-size-epsilon: var(--heading-size-5);
    --heading-size-zeta: var(--heading-size-6);
}

/**
 * Headings 1–6’s corresponding Greek-alphabet abstract classes for double-
 * stranded heading hierarchy: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 *
 * Use these helper classes to cause other elements to adopt the styling of the
 * respective heading, e.g.:
 *
   <h2 class="alpha">Lorem ipsum</h2>
 *
 */

.alpha { font-size: var(--heading-size-alpha); }

.beta { font-size: var(--heading-size-beta); }

.gamma { font-size: var(--heading-size-gamma); }

.delta { font-size: var(--heading-size-delta); }

.epsilon { font-size: var(--heading-size-epsilon); }

.zeta { font-size: var(--heading-size-zeta); }





/**
 * Headings fontface
 */
.alpha,
.beta,
.gamma,
.delta,
.epsilon,
.zeta {
    font-weight: var(--heading-font-weight);
    font-family: var(--heading-font-family);
}
