{% include '@header' %}

{% include '@page-title-banner' %}

<div class="vd-bg-pattern-bars-gray py-1 mt-1">
  <div class="container">
    <form class="form">
      <div class="row">
        <div class="col-md-4">
          <fieldset>
            <legend class="h5">Recherche<span class="sr-only">par mots clefs</span></legend>
            <div class="form-group">
              <label class="sr-only" for="exampleInputAmount">Recherche par mots clefs</label>
              <input type="text" class="form-control" id="exampleInputAmount">
            </div>
          </fieldset>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-xs-6 mb-1">
              {% render '@dates', {'legendModifier': 'h5', 'legend': 'Publié du', 'labelHidden': true} %}
            </div>
            <div class="col-xs-6 mb-1">
              {% render '@dates', {'legendModifier': 'h5', 'legend': 'au', labelHidden: true} %}
            </div>
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-primary vd-btn-chevron-r">Rechercher</button>
    </form>
  </div>
</div>

<main class="container mt-3">
  {% include '@page-title' %}

  <div class="row">

    <div class="col-md-8">
      {% block main %}
      {% if results %}<h2 class="mb-3">Résultats de recherche</h2>{% else %}<h2 class="sr-only">Liste des communiqués de presse</h2>{% endif %}
      {% render '@teaser-list' %}
      {% endblock %}
    </div>

    <aside class="col-md-4 small">
      {% block aside %}
      {% render '@autority-address', autorityAddress %}

      <p class="mt-3">Les communiqués diffusés par les autres institutions de l'Etat sont disponible sur les pages suivantes:</p>
      <ul class="vd-list-links">
        <li><a href="#">communiqués de la Police cantonale</a></li>
        <li><a href="#">communiqués du Centre hospitalier universitaire vaudois (CHUV)</a></li>
        <li><a href="#">communiqués de l'Université de Lausanne</a></li>
      </ul>

      <p>
        <span class="fa fa-rss-square" aria-hidden="true"></span> <a href="#">Abonnement</a>
      </p>
      {% endblock %}
    </aside>

  </div>
</main>

{% include '@footer' %}
