{% render '@header--default', header, true %}

{% include '@page-title-banner--light' %}

<main class="container">
  <div class="row">

    <div class="col-md-8 vd-content-column">
      <header class="vd-flex-order">

        <h1 class="h2 px-4 py-4 mt-0 vd-bg-pattern-bars-gray">{{ pageTitle }}</h1>
        <div class="vd-flex-before">
          <p class="mb-0 small text-uppercase font-weight-bold">{{ pressRelease.nature }}</p>
          <p class="mb-0 small">{{ pressRelease.sender }}</p>
          <p class="small font-weight-bold">{{ pressRelease.date }}</p>

          {% if icons %}
          <h2 class="sr-only">Partnaires</h2>
          <ul class="list-inline">
            {% for partner in pressRelease.partners %}
            <li class="list-inline-item"><span class="sr-only">{{ partner.name }}</span><img class="img-fluid" src="{{ partner.src }}" alt="{{ partner.alt }}"></li>
            {% endfor %}
          </ul>
          {% endif %}

          <p class="mb-0">{{ pressRelease.preHeader }}</p>
        </div>


      </header>

      {% include '@lead' %}

      {% render '@social-icons', {titleModifier: 'sr-only', styleModifier: 'text-center mb-3'}, true %}

      {% block main %}
      {% render '@paragraph' %}
      {% endblock %}

      {% render '@signature', pressRelease.signature, true %}

      {% if not icons %}
      <h2 class="sr-only">Partnaires</h2>
      <ul class="list-inline">
        {% for partner in pressRelease.partners %}
        <li class="list-inline-item"><span class="sr-only">{{ partner.name }}</span><img class="img-fluid" src="{{ partner.src }}" alt="{{ partner.alt }}"></li>
        {% endfor %}
      </ul>
      {% endif %}

      <h3 class="h5">Renseignements</h3>
      <ul class="list-unstyled">
        <li class="mb-0">DIRH, Nuria Gorrite, conseillère d'Etat, 021 316 70 01</li>
        <li class="mb-0">Lausanne, Olivier Français, Municipal des travaux, 021 316 70 01</li>
        <li class="mb-0">Renens, Marianne Hugenin, syndique, 079 316 70 01</li>
      </ul>

      {% render '@download-list', downloadList, true %}

    </div>

    <aside class="col-md-4 small vd-content-column">

      {% render '@autority-address', autorityAddress %}

      <p>
        <span class="fa fa-rss-square" aria-hidden="true"></span> <a href="#">S'abonner au <abbr title="Communiqués de presse">CP</abbr></a>
      </p>
    </aside>

  </div>

  <nav>
    <a href="#" title="link to somewhere" class="btn btn-dark">Retour sur la liste des communiqués</a>
  </nav>

</main>

{% render '@footer', footer, true %}
