{{> @header  }}

{{> @page-title-banner }}

{{render '@search-banner--half-width' }}

<main class="container mt-2" id="main">
  {{> @page-title }}

  <div class="row">
    {{> @teaser--left styleModifier='col-md-6' }}
    {{> @teaser--left styleModifier='col-md-6' }}
    {{> @teaser--left styleModifier='col-md-6' }}
    {{> @teaser--left styleModifier='col-md-6' }}
    {{> @teaser--left styleModifier='col-md-6' }}
    {{> @teaser--left styleModifier='col-md-6' }}
    {{> @teaser--left styleModifier='col-md-6' }}
    {{> @teaser--left styleModifier='col-md-6' }}
    {{> @teaser--left styleModifier='col-md-6' }}
    {{> @teaser--left styleModifier='col-md-6' }}
  </div>

  {{render '@pagination'}}

</main>

{{> @footer }}
