node_modules
bower_components
.sass-cache
*.DS_Store
.publish
.env
.idea
tmp/
dist/

# Ignore Vim temporary files
*.swp
*.swo

# Ignore log
yarn-error.log

# changelog is ignored because it's copied from ./CHANGELOG.md
src/docs/changelog.md

# We only support Yarn as our official Node packager, and so we aonly commit
# `yarn.lock` file.:w
package-lock.json

npm-debug.log
