node_modules
bower_components
.sass-cache
*.DS_Store
.publish
.env
.idea
tmp/
dist/

# Ignore Vim temporary files
*.swp
*.swo

# changelog is ignored because it's copied from ./CHANGELOG.md
src/docs/changelog.md

npm-debug.log
