# Ignore modules
node_modules
bower_components

# Ignore Sass cache
.sass-cache

# Ignore OSX's `DS_Store` file
*.DS_Store

# Ignore `gulp-gh-pages` directory
.publish
.env

# Ignore editor files
.idea
*.swp
*.swo

# Ignore projects specifics files
tmp/
dist/
# changelog is ignored because it's copied from ./CHANGELOG.md
src/docs/changelog.md

# Ignore log
yarn-error.log
npm-debug.log

# We only support Yarn as our official Node packager, and so we only commit
# `yarn.lock` file.
package-lock.json
