{
  "ignoreFiles": [
    "src/assets/styles/main.scss",
    "src/assets/styles/main-variables.scss",
    "src/assets/styles/bootstrap-variables.scss"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix" : true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "selector-pseudo-element-colon-notation": "single",
    "order/declaration-block-properties-specified-order": [
      "content",
      "display",
      "flex",
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "float",
      "width",
      "height",
      "margin",
      "padding",
      "background",
      "border",
      "font-familly",
      "font-size",
      "line-height",
      "font-weight",
      "font-style",
      "color",
      "transform",
      "transition"
    ],
  }
}
