{
  "ignoreFiles": [
    "src/assets/styles/main.scss",
    "src/assets/styles/main-variables.scss",
    "src/assets/styles/_bs_variables.scss"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "extends": ["stylelint-config-standard-scss"],
  "rules": {
    "at-rule-no-vendor-prefix": true,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "each",
          "else",
          "extend",
          "for",
          "function",
          "if",
          "include",
          "mixin",
          "return",
          "while",
          "use"
        ]
      }
    ],
    "color-function-notation": "legacy",
    "media-feature-name-no-vendor-prefix" : true,
    "order/properties-order": null,
    "order/properties-alphabetical-order": true,
    "property-no-vendor-prefix": true,
    "scss/no-global-function-names": null,
    "selector-class-pattern": "(.*?)",
    "selector-no-vendor-prefix": true,
    "selector-pseudo-element-colon-notation": "single",
    "value-no-vendor-prefix": true
  }
}
