<address itemscope itemtype="http://schema.org/GovernmentOrganization">
  <h2 itemprop="name">{{ name }}</h2>
  <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">{{ address.street }}</span> <br><span itemprop="postalCode">{{ address.postal-code }}</span> <span itemprop="addressLocality">{{ address.locality }}</span> <span class="sr-only" itemprop="addressCountry">Suisse</span></p>

  {{> @list-icon }}

  <a href="#0" class="btn btn-primary btn-sm vd-btn-chevron-r mt-2">Contacter l'office</a>
</address>
