@charset 'UTF-8';

.vd-btn-tiles {
  display: block;
  display: flex;
  flex-wrap: wrap;
  margin: ($spacer / -2);

  .btn {
    display: inline-block;
    display: inline-flex;
    flex-grow: 1;
    flex-shrink: 0;
    min-width: calc(25% - #{$spacer});
    position: relative;
    margin: ($spacer / 2);
    color: $black;
    transition: background-color 0.2s;
    white-space: nowrap;
    box-shadow: 2px 2px 0 0 $black;

    @include vd-pattern-dotted($pattern-dotted-green);

    @include hover-focus-active {
      background-color: rgba($vd-green-dark-2, 0.15);
    }

    &:active {
      top: 2px;
      left: 2px;
      box-shadow: 0 0 0 0 $black;
    }

    &.active {
      background: $vd-green-dark-2;
      color: $white;
    }
  }
}
