@charset 'UTF-8';

/**
 * vd dates
 *
 * Date form
 *
 * 1. Remove controls from Firefox
 * 2. Remove controls from Safari and Chrome
 * 3. Removes leftover margin
 */
.vd-dates-day,
.vd-dates-month,
.vd-dates-year {
  float: left;

  input {
    /* stylelint-disable */
    -moz-appearance: textfield; /* [1] */

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none; /* [2] */
      margin: 0; /* [2] */ /* [3] */
    }
    /* stylelint-enable */
  }
}

.vd-dates-day,
.vd-dates-month {
  width: $spacer * 3;
  margin-right: $spacer;
}

.vd-dates-year {
  width: $spacer * 4;
}
