@charset 'UTF-8';

/**
 * Teaser links
 *
 * 1. Override heading font-weight
 */
.vd-domain-item {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.vd-domain-item-title {
  margin-bottom: ($headings-margin-bottom / 2);
  font-weight: 300; /* [1] */
}

.vd-domain-item-text {
  display: block;
  color: $gray;
}
