@charset 'UTF-8';

.figure-img {
  margin-bottom: 0;
}

.figure-caption {
  font-style: italic;
  color: $gray;
}

.vd-figure-credits {
  display: block;
  font-size: 80%;
  font-weight: 500;
  font-style: normal;
  color: $body-color;

  &:before {
    content: '/\0000a0';
  }
}

.vd-figure-img-container {
  position: relative;
}

.vd-figure-category {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: ($spacer / 4) 0 0 ($spacer / 3);
  background: $white;
  text-transform: uppercase;
  font-size: $font-size-sm;
  line-height: 0.8;
  color: $gray;
}
