@charset 'UTF-8';

/**
 * Logo of the site web
 *
 * 1. Offset the blason on the left
 * 2. Align little blason at the end (bottom)
 * 3. Align image at the start (top)
 */
.vd-logo {
  display: flex;

  &__blason {
    width: 1.8em;
    margin-right: 3 * $spacer;
    margin-left: -3 * $spacer; /* 1 */

    @include media-breakpoint-down(sm) {
      margin-right: 2 * $spacer;
      align-self: flex-end; /* 2 */
    }
  }

  &__image {
    align-self: flex-start; /* 3 */
    width: 12em;
    height: auto;
    margin-top: $spacer;

    @include media-breakpoint-up(md) {
      margin-bottom: $spacer * 3;
    }
  }
}
