@charset 'UTF-8';

.vd-nav-side {
  position: relative;
  padding: $spacer ($spacer / 2);
  border-left: 1px solid $vd-green-dark;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: -1px;
    width: 10px;
    border-bottom: 1px solid $vd-green-dark;
  }

  .nav-item {
    margin-bottom: ($spacer-y / 2);

    ul {
      margin-top: ($spacer-y / 2);
      list-style-type: none;
    }
  }

  .nav-link.active {
    color: $vd-gray-dark;
  }
}
