@charset 'UTF-8';

.vd-nav-side {
  position: relative;
  border-top: 1px solid $vd-neutral-light;
  border-bottom: 1px solid $vd-neutral-light;

  @include media-breakpoint-down(md) {
    margin-top: $spacer !important;
  }

  .nav-link:focus,
  .nav-link:hover {
    text-decoration: underline;
  }

  > .nav-item {
    padding-right: ($spacer);
    padding-left: ($spacer);
  }

  .nav-item {
    padding-top: 0.3rem;
    padding-bottom: ($spacer-y / 2);

    .nav-link {
      padding-top: 0;
      padding-bottom: 0;
      color: $vd-primary-dark;

      &.h4 {
        color: $black;
        font-family: $font-family-base;
        margin-bottom: 0;
      }
    }

    ul {
      margin-top: ($spacer-y / 2);
      list-style-type: none;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $vd-neutral-light;
    }
  }

  .active {
    font-weight: $font-weight-bold;
  }
}
