@charset 'UTF-8';

.vd-nav-primary {
  @include media-breakpoint-up(sm) {
    margin: 0 auto;
  }
}

.vd-nav-primary-toggle {
  @include media-breakpoint-up(md) {
    border-bottom: 1px dotted $vd-green;
  }
}

.vd-nav-primary-content {
  padding-top: ($spacer * 1.5);
  padding-bottom: ($spacer * 1.5);

  @include vd-pattern-dotted($pattern-dotted-green);

  .container {
    background: $white;
  }
}
