@charset 'UTF-8';

.vd-numbered-title {
  font-size: $font-size-h6;
  text-decoration: none;

  @extend %link-black;

  &:hover {
    text-decoration: none;
  }

  .badge {
    position: relative;
    top: -2px;
    width: 2em;
    height: 2em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-radius: $badge-pill-border-radius;
    line-height: 1.5em;
    text-align: center;
    font-weight: 300;
  }
}
