@charset 'UTF-8';

.vd-pagination {
  position: relative;
  width: 100%;
  text-align: center;

  .vd-btn-pagination-submit {
    position: absolute;
    right: 0;

    @include media-breakpoint-down(sm) {
      padding-right: 0;
      right: -10px;
    }
  }

  ul {
    display: inline-block;

    li {
      display: inline-block;

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
