@charset 'UTF-8';

.vd-tab-content {
  margin-bottom: $spacer;
  padding-right: $spacer;
  border-right: $nav-tabs-border-width solid $nav-tabs-border-color;
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
}

.nav-tabs {
  .nav-link {
    padding: ($spacer / 2) $spacer;
    text-decoration: none;

    @include hover-focus {
      background: $gray-lighter;
    }
  }
}
