@charset 'UTF-8';

.vd-teaser-small {
  display: block;
  position: relative;
  margin: $spacer 0 ($spacer * 2);
  padding-bottom: ($spacer / 2);
  border-bottom: 1px solid $vd-green-darker;

  &:last-of-type {
    border: none;
  }

  &:hover {
    text-decoration: underline;
  }

  .vd-link-invisible {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.vd-teaser-small-img {
  max-width: 100%;

  @include media-breakpoint-up(md) {
    max-width: 40%;
  }
}
