@charset 'UTF-8';

.vd-teaser-alternate {
  &:after {
    content: '';
    display: block;
    height: 4px;
    max-width: 350px;
    margin-top: 3 * $spacer;
    margin-bottom: 3 * $spacer;
    background-image: url('../svg/pattern_squares_gray.svg');
  }
}
