<article role="article" aria-label="{{ title }}" class="mb-3">
  <header>
    <h3><a class="vd-link-invisible" href="{{ url }}" title="Lire l'article: {{title}}">{{ title }}</a></h3>

    <p class="small">
      {% if authors -%}<span class="sr-only">Publié par </span>
      {%- for author in authors -%}{% if author.url %}<a href="#" rel="author" title="Les articles de {{ author.name }}">{% endif %}{{ author.name }}{% if author.url %}</a>{% endif -%}
      {%- if loop.revindex == 2 %} et {% elseif loop.last %}{% else %}, {% endif %}
      {%- endfor %},
      {% endif -%}

      <span class="sr-only">le </span>{%- render '@time', {"attributs": [{},{"name": "pubdate"}]}, true -%}

      {%- if categories -%} — <span class="sr-only">Catégorie: </span>
      {%- for category in categories -%}{% if category.url %}<a href="#" rel="category" title="Les articles de la categorie {{ category.name }}">{% endif %}{{ category.name }}{% if category.url %}</a>{% endif -%}
      {%- if loop.revindex == 2 %} et {% elseif loop.last %}{% else %}, {% endif %}
      {%- endfor %}
      {% endif -%}
    </p>
  </header>
  {% if media %}
  {% render '@figure', media, true %}
  {% endif %}
  <p>
    {{ excerpt }}
  </p>
</article>
