@charset 'UTF-8';

// enable flex on some rows. Must be the first child of `.row` -> to avoid
// issues with Safari and pseudo-elements
.flex-row {
  display: flex;
}

// override the .container class from Bootstrap to enable responsive gutter
.container {
  @each $breakpoint, $gutter in $grid-gutter-widths {
    @include media-breakpoint-up($breakpoint) {
      padding-left: ($gutter / 2);
      padding-right: ($gutter / 2);
    }
  }
}

.container-small {
  @include media-breakpoint-up(md) {
    width: 768px;
  }
}
