@charset 'UTF-8';

// Add a magnificent pattern at the top of all pages
body {
  padding-top: 5px;
  background-image: url(../svg/long_pattern_squares_green.svg);
  background-repeat: repeat-x;
  background-position: center top;
  background-size: auto 5px;
  border-bottom: 23px solid $vd-green;
}
