@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icons:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icons-2x { font-size: 2em; }
.icons-3x { font-size: 3em; }
.icons-4x { font-size: 4em; }
.icons-5x { font-size: 5em; }
.icons-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.icons-chevron-bottom:before { content: "\EA01" }
.icons-chevron-left:before { content: "\EA02" }
.icons-chevron-right:before { content: "\EA03" }
.icons-chevron-top:before { content: "\EA04" }
.icons-cross:before { content: "\EA05" }