// CUSTOM VARIABLES CREATED FOR VD.CH
//
// This file is intended for all variables that should be available to
// Bootstrap in this theme but are not Bootstrap defaults

// Table of content
//
// Colors

// Colors
//
// All custom colors (only those not defined in bootstrap-variables.scss),
// based on the design mockups

// Header, separators, stripes
$vd-gray-light:             #aab6db;
$vd-gray-lighter:           #dce3e8;
$vd-gray-lighter-2:         #c3d1dc;

$vd-green-darker:           #1e5e02;
$vd-green:                  #40d940;
$vd-green-light:            #99ff33;
$vd-green-lighter:          #ccff99;

$vd-purple-2:               #9f42ff;

// Text colors
$vd-gray-dark:              #536571;
$vd-gray:                   #697983;
$vd-green-dark:             #02851a;
$vd-purple:                 #9900ff;

// Button colors
$white:                     #fff;
$black:                     #000;
$vd-green-dark-2:           #028b02;

// Footer colors
$vd-gray-darker:            #273c46;

// Overlay color
$vd-gray-lightest:          #e0eaf0;

// States colors
$vd-success:                $vd-green-dark-2;
$vd-warning:                #ff9c00;
$vd-danger:                 #c3105c;
$vd-info:                   #82afcc;

// Gradient color
$vd-gradient:               linear-gradient(to right, $vd-green 0%, #008772 33%, #008772 40%, #00cc66 100%);

// Patterns
//
// All the patterns used as background
$pattern-dotted-gray: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2NkgII7j1/8V5GVYGSECcBoRpgMXABdBQBiLQgFgmT3yAAAAABJRU5ErkJggg==') repeat;
$pattern-dotted-green: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHElEQVQYV2N0uOnw/4D6AUYGKIAzMARgKjFUAABXvQgFiJcp8gAAAABJRU5ErkJggg==') repeat;
$pattern-striped-green: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2N0uOnw/4D6AUYGKAAzkAXhMjBBuABMJQAINg5d+/nFCQAAAABJRU5ErkJggg==') repeat;
$pattern-striped-purple: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2Oc7/T/f+I+RkYGKAAzkAXhMjBBuABMJQAPvw7kq0kywQAAAABJRU5ErkJggg==') repeat;
$pattern-striped-black: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIElEQVQYV2NkYGD4z8DAwMgABTAGXBAuA1OJLADS9B8AguEEBFr1tu0AAAAASUVORK5CYII=') repeat;
$pattern-striped-thick-gray: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAL0lEQVQYV2NkQAKHL975D+MywhjIgrb6KoxgCXRBkBgjNkEUCZB2ZGPBOtAFQQoAprweVPxIkvYAAAAASUVORK5CYII=') repeat;


// Icons
//
// Sometimes we need some SVG icons in our CSS, implemented as background-images

// chevrons
$vd-chevron-right: 'M17.25,9.25l9,9c0.6,0.6,0.9,1.4,0.9,2.3l0,0c0,0.9-0.3,1.6-0.9,2.3l-9,9c-0.8,0.8-2,0.8-2.8,0 c-0.8-0.8-0.8-2,0-2.8l8.4-8.4l-8.4-8.4c-0.8-0.8-0.8-2,0-2.8C15.25,8.45,16.45,8.45,17.25,9.25z';
$vd-chevron-left: 'M23.75,31.75l-9-9c-0.6-0.6-0.9-1.4-0.9-2.3l0,0c0-0.9,0.3-1.6,0.9-2.3l9-9c0.8-0.8,2-0.8,2.8,0 c0.8,0.8,0.8,2,0,2.8l-8.4,8.4l8.4,8.4c0.8,0.8,0.8,2,0,2.8C25.75,32.55,24.55,32.55,23.75,31.75z';
$vd-chevron-top: 'M9.25,23.75l9-9c0.6-0.6,1.4-0.9,2.3-0.9l0,0c0.9,0,1.6,0.3,2.3,0.9l9,9c0.8,0.8,0.8,2,0,2.8 c-0.8,0.8-2,0.8-2.8,0l-8.4-8.4l-8.4,8.4c-0.8,0.8-2,0.8-2.8,0C8.45,25.75,8.45,24.55,9.25,23.75z';
$vd-chevron-bottom: 'M31.75,17.25l-9,9c-0.6,0.6-1.4,0.9-2.3,0.9l0,0c-0.9,0-1.6-0.3-2.3-0.9l-9-9c-0.8-0.8-0.8-2,0-2.8 s2-0.8,2.8,0l8.4,8.4l8.4-8.4c0.8-0.8,2-0.8,2.8,0C32.55,15.25,32.55,16.45,31.75,17.25z';
