@charset 'UTF-8';

@import 'main-variables';
@import 'mixins';
@import 'styleguide-variables';
@import 'bootstrap-variables';
@import '../../node_modules/toolbox-utils/styleguide/styles/mixins';
@import '../../node_modules/toolbox-utils/styleguide/styles/code';
@import '../../node_modules/toolbox-utils/styleguide/styles/controls';
@import '../../node_modules/toolbox-utils/styleguide/styles/item';
@import '../../node_modules/toolbox-utils/styleguide/styles/layout';
@import '../../node_modules/toolbox-utils/styleguide/styles/menu';

.styleguide-page-container {
  max-width: none;
}

.styleguide-item-heading-group {
  margin-bottom: 1em;
}

.styleguide-item-heading a {
  position: relative;
  color: $black;
  text-decoration: none;

  &:after {
    content: '\F0C1';
    display: none;
    position: absolute;
    top: 6px;
    right: calc(100% + 5px);
    font: normal normal normal 14px/1 FontAwesome;
  }

  &:hover:after { display: inline; }
}

.styleguide-item-group {
  margin: 0;
}

.styleguide-description {
  padding: ($spacer * 0.75) $spacer;
  background: $gray-lightest;

  p:last-child {
    margin-bottom: 0;
  }
}

.styleguide-item-preview {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;

  .styleguide-item-hidden + & {
    border-radius: 0.2em;
  }
}

.styleguide-item-code {
  margin-top: 0;

  pre[class*='language-'] {
    margin-top: 0.2em;
    padding: 1em 1.5em;
    font-size: 0.8em;
  }
}

.styleguide-header-container {
  @include vd-pattern-dotted($pattern-dotted-green);
  background-color: $white;
  border-bottom: 1px dotted $vd-green;

  svg use {
    fill: $black;
  }
}

.styleguide-menu {
  a {
    padding: 0 1em;

    &:hover {
      background: darken($menu-bg, 25%);
    }
  }

  span.styleguide-menu-heading {
    padding-left: 1rem;
  }

  .styleguide-menu-heading {
    margin-bottom: 0.5em;
    padding-left: 1rem;
    border-bottom: 1px solid darken($menu-bg, 25%);
  }

  a.styleguide-menu-heading {
    &:hover {
      background: none;
    }
  }
}

.styleguide-example {
  [class*="col-"] {
    padding: $spacer;
    background: $gray-lighter;
    border: 1px solid $gray;
  }
}

// For the colors page
.bg-gray-dark { background: $gray-dark !important; }
.bg-gray { background: $gray !important; }
.bg-gray-light { background: $gray-light !important; }
.bg-gray-lighter { background: $gray-lighter !important; }
.bg-gray-lightest { background: $gray-lightest !important; }
