@charset 'UTF-8';

.footer {
  padding: ($spacer * 3) 0;
  background-image: url(../svg/bars_black.svg);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: auto 21px;
  background-color: $brand-inverse;
  border-bottom: 23px solid $vd-green;
  color: $white;

  .nav {
    margin-bottom: ($spacer * 3);
  }

  .nav-link {
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .container {
    position: relative;
  }
}

.footer-logo-container {
  display: flex;
  margin-top: auto;
  margin-left: auto;
}

.footer-logo {
  width: 100%;
  max-width: $spacer * 3;
  margin-left: auto;
}

.footer-btn-backtotop {
  position: absolute;
  top: ($spacer * -4.7);
  right: $grid-gutter-width-base * 0.5;
}
