@charset 'UTF-8';

.header {
  padding-top: ($spacer / 1.5);
  background-image: url(../svg/long_pattern_squares_green.svg);
  background-repeat: repeat-x;
  background-position: center top;
  background-size: auto 5px;
}
