<header class="header" role="banner">
  {{> @access-nav }}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-sm-right">

        {{> @nav }}
        {{> @nav-mobile }}

      </div>

    </div>
    <div class="row">
      <div class="col-md-5">
        {{> @logo-etat }}
      </div>
      <div class="col-md-5 offset-md-2">
        {{> @search-form }}
      </div>
    </div>
  </div>

  {{render '@nav-primary' }}

</header>
