/**
 * 1. Make the caption having the same width as the image
 */

.figure {
  display: table; /* [1] */

  .figure-caption {
    display: table-caption; /* [1] */
    caption-side: bottom; /* [1] */
  }
}

.figure-img {
  margin-bottom: 0;
}

.figure-caption {
  font-style: italic;
  color: $gray-500;
  text-align: left;
}

.vd-figure-credits {
  display: block;
  font-size: 80%;
  font-weight: 500;
  font-style: normal;
  color: $body-color;

  &:before {
    content: '/\0000a0';
  }
}

.vd-figure-img-container {
  position: relative;
}
