/**
 * Remove margin between caption and image
 */
.figure-img {
  margin-bottom: 0;
}

/**
 * Style figure caption
 */
.figure-caption {
  font-style: italic;
  color: $gray-500;
  text-align: left;
}

/**
 * Style for credits inside figcaption
 */
.vd-figure-credits {
  display: block;
  font-size: 80%;
  font-weight: 500;
  font-style: normal;
  color: $body-color;

  &:before {
    content: '/\0000a0';
  }
}

.vd-figure-img-container {
  position: relative;
}
