@charset 'UTF-8';

.h1,
h1 {
  font-weight: 700;
}

/**
 * 1. Add margin around headings
 * 2. Set custom font-family
 */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em; /* [1] */
  margin-bottom: 0.5em; /* [1] */
  line-height: 1.25; /* [1] */
  font-family: $font-family-serif; /* [2] */
}

/**
 * Remove margin-top on the first heading of a column to avoid horizontal
 * alignment problems.
 *
 * 1. If the column contain more than one level before the first heading,
 *    use `.vd-content-column` class. It's better than having this kind of rule
 *    https://twitter.com/alienlebarge/status/864834956551434245
 */
@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  // Allow columns to stretch full width below their breakpoints
  @for $i from 1 through $grid-columns {
    .col#{$infix}-#{$i} > :first-child {
      margin-top: 0;
    }
  }

  .col#{$infix} > :first-child {
    margin-top: 0;
  }
}

.vd-content-column > :first-child > :first-child {
  margin-top: 0; /* [1] */
}

/**
 * Make the headings smaller on desktop
 *
 * 1. Light header keep their original font-size.
 *    Not using `:not()` because of IE11
 */
@include media-breakpoint-up(md) {
  .vd-text-md-small {
    .h1,
    h1 {
      font-size: $h1-font-size * 0.8;

      &.vd-heading-light,
      &.vd-heading-light-alt {
        font-size: $h1-font-size; /* [1] */
      }
    }

    .h2,
    h2 {
      font-size: $h2-font-size * 0.8;

      &.vd-heading-light,
      &.vd-heading-light-alt {
        font-size: $h2-font-size; /* [1] */
      }
    }

    .h3,
    h3 {
      font-size: $h3-font-size * 0.8;

      &.vd-heading-light,
      &.vd-heading-light-alt {
        font-size: $h3-font-size; /* [1] */
      }
    }

    .h4,
    h4 {
      font-size: $h4-font-size * 0.8;

      &.vd-heading-light,
      &.vd-heading-light-alt {
        font-size: $h4-font-size; /* [1] */
      }
    }

    .h5,
    h5 {
      font-size: $h5-font-size * 0.8;

      &.vd-heading-light,
      &.vd-heading-light-alt {
        font-size: $h5-font-size; /* [1] */
      }
    }

    .h6,
    h6 {
      font-size: $h6-font-size * 0.8;

      &.vd-heading-light,
      &.vd-heading-light-alt {
        font-size: $h6-font-size; /* [1] */
      }
    }

    font-size: $small-font-size;
    font-weight: $font-weight-normal;
  }
}

/**
 * Light variant of headings
 */
.vd-heading-light {
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  text-transform: uppercase;
}

.vd-heading-light-alt {
  font-family: $font-family-base !important;
  font-weight: $font-weight-normal;
  text-transform: uppercase;
}
