

<header class="header">
  <nav class="container fixed-top access-nav" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <nav>
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="nav justify-content-end d-none d-md-flex">
    
    <li class="nav-item">
      <a href="#" class="nav-link active"><span class="sr-only">page active: </span>Autorités</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Annuaire</a>
    </li>
    
    <li class="nav-item">
      <span class="nav-link"><span class="fa fa-lock" aria-hidden="true"></span> <a href="formulaire-prestation">Mon compte</a></span>
    </li>
    
  </ul>
</nav>

        <div class="vd-nav-mobile dropdown">
  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" type="button" id="nav-mobile-button">menu</button>

  <nav class="dropdown-menu" aria-labelledby="nav-mobile-button">
    <h2 class="sr-only">Navigation mobile</h2>
    <div class="dropdown-item pt-4 text-center">
      <a class="btn btn-dark" href="../domaines">Tous les thèmes</a>
    </div>
    <div class="dropdown-item px-0 pb-0">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#0">Autorités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Annuaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Contact</a>
        </li>
        <li class="nav-item vd-nav-item-secure">
          <a class="nav-link btn btn-dark" href="../connexion"><span class="fa fa-lock fa-lg" aria-hidden="true"></span> Accéder à l'espace sécurisé</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-item px-0 pb-0">
      <h2 class="vd-heading-light h6 text-center mt-3 mb-0">Découvrir</h2>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#0">International</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Tourisme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Musées</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-item bg-dark">
      <h2 class="vd-heading-light h4 mb-3 text-white text-center h6">Suivre vd.ch sur les réseaux sociaux</h2>
<ul class="list-inline vd-social-icons text-center mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

    </div>
  </nav>
</div>


      </div>

    </div>
    
    <div class="row">
      <div class="col-md-5">
        <a href="../accueil" 
   class="vd-logo" 
   title="Aller à la page d'accueil du Site du Canton de Vaud"><div class="vd-logo__blason">
    <img src="../../assets/svg/logo/logo.svg" class="img-fluid d-none d-md-block" alt="Logo du canton de Vaud" />
    <img src="../../assets/svg/logo/logo-square.svg" class="img-fluid d-md-none" aria-hidden="true" alt="Logo du canton de Vaud" />
  </div>
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto">
        <form class="input-group vd-search-form my-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form" type="text" class="form-control" placeholder="Rechercher"  aria-describedby="search-form-label">
  <span class="input-group-btn">
  <button class="btn" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary">
  <div class="vd-nav-primary-toggle">
    <div class="container">
      <button type="button" class="d-none d-md-inline-block btn btn-sm btn-dark vd-menu-toggle " data-toggle="collapse" data-target="#nav-primary-container"  aria-controls="nav-primary-container" aria-expanded="true">
        <span class="sr-only">Accédez au </span>
        Infos et services en ligne
        <span class="fa vd-fa-menu-toggle fa-fw" aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <div class="collapse show clearfix" id="nav-primary-container">
    <div class="vd-nav-primary-content d-none d-md-block">
      <div class="container">
        <div class="row">
          <nav class="col-md-8" id="nav-primary">
            <h2 class="sr-only">Navigation par thèmes</h2>
            <ul class="list-unstyled mb-0 row">
              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et soutiens, Musées cantonaux…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Poursuites et faillites, Registre du commerce…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Faune et nature, Energie…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Impôts, rémunérations, fiscalité…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Jours fériés et vacances scolaires…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobile, Navigation…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, Professionnels…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aide aux victimes et auteur-e-s de violences…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Documents d'identité…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, contrôle, casiers judiciaire…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Informations sur le territoire, Registre foncier…<span class="sr-only">)</span></span>
  </a>
</li>

              
            </ul>
          </nav>
          <div class="col-md-4">
            <h2 class="vd-heading-light h4 mt-5 mb-3">Les plus visités</h2>
            <ul class="vd-menu-list-links">
              <li><a href="#0">Inscription au chômage</a></li>
              <li><a href="#0">Formulaire d'indemnisation</a></li>
              <li><a href="#0">Vaud Tax 2017</a></li>
              <li><a href="#0">Vacances scolaires et jours fériés</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</header>


<main id="main" class="container mt-3 mt-md-5 vd-content">
  <h1 class="sr-only">Site officiel de l'État de Vaud</h1>


  <div class="row">
    <div class="col-md-8 vd-content-column">
      
  <section class="d-md-none">
    <h2 class="vd-heading-light h4 mb-4">Les plus visités</h2>
    <ul class="vd-list-links">
      <li><a href="#0">Inscription au chômage</a></li>
      <li><a href="#0">Formulaire d'indemnisation</a></li>
      <li><a href="#0">Vaud Tax 2017</a></li>
      <li><a href="#0">Vacances scolaires et jours fériés</a></li>
    </ul>
  </section>

  <p class="d-md-none mb-4 text-center"><a href="../domaines" class="btn btn-dark">Tous les thèmes</a></p>

  <section>
  <h2 class="vd-heading-light h4 mt-md-0">Actualités</h2>

  
  <article role="article" aria-label="10’800 habitants supplémentaires et record de naturalisations en 2016"">
  <header>
    <h3><a class="vd-link-invisible" href="#">10’800 habitants supplémentaires et record de naturalisations en 2016</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure vd-w-md-50">
  <a href="#"><img
    class="img-fluid"
    
    src="../../assets/img/picture-960x640.jpg"
    srcset="../../assets/img/picture-320x213.jpg 320w, ../../assets/img/picture-540x360.jpg 540w, ../../assets/img/picture-720x480.jpg 720w, ../../assets/img/picture-960x640.jpg 960w, ../../assets/img/picture-1140x760.jpg 1140w" alt="Alternative text">

  </a>
</figure>

  
  
  <p>
    La croissance démographique est restée soutenue en 2016 avec une hausse de 1,4%, légèrement inférieure à la moyenne des dix dernières années. Avec 7400 naturalisations, les acquisitions de la nationalité suisse atteignent un niveau record.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article 10’800 habitants supplémentaires et record de naturalisations en 2016</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="RER Vaud: achat de 14 nouvelles rames"">
  <header>
    <h3><a class="vd-link-invisible" href="#">RER Vaud: achat de 14 nouvelles rames</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  
  <p>
    Pour faire face à la forte augmentation du nombre de voyageurs sur les lignes vaudoises, quatorze nouveaux trains viendront renforcer la capacité du RER Vaud à l’horizon 2020.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article RER Vaud: achat de 14 nouvelles rames</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Renforcement du cadre réglementaire de la LEO"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Renforcement du cadre réglementaire de la LEO</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  
  <p>
    Le Conseil d'Etat a adopté la modification partielle du règlement d'application de la loi sur l'enseignement obligatoire (LEO).
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Renforcement du cadre réglementaire de la LEO</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="14 avril: inauguration du Parlement vaudois"">
  <header>
    <h3><a class="vd-link-invisible" href="#">14 avril: inauguration du Parlement vaudois</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  
  <p>
    Les Autorités vaudoises ont rendu public le programme de la journée d’inauguration officielle du nouveau Parlement cantonal qui se déroulera le 14 avril. Trois temps forts marqueront la matinée: une séance inaugurale du Grand Conseil réservée aux autorités, la cérémonie officielle à la cathédrale de Lausanne en présence d’un millier d’invités, et la visite du Parlement accompagnée d’un apéritif sur la place du Château. Durant l’après-midi, la...
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article 14 avril: inauguration du Parlement vaudois</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="2016: un bilan positif en matière de criminalité"">
  <header>
    <h3><a class="vd-link-invisible" href="#">2016: un bilan positif en matière de criminalité</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  
  <p>
    Les autorités ont présenté un bilan positif en matière de criminalité sur le sol vaudois. Les infractions au Code pénal ont encore diminué de 6.5% par rapport à 2015. La tendance amorcée voici trois ans se poursuit, en baisse de plus d’un tiers depuis 2014. Les chiffres 2016 sont les plus bas enregistrés depuis 2009, année de la création de la statistique harmonisée.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article 2016: un bilan positif en matière de criminalité</span></a>
  </p>
  
</article>

  

  
  <h3 class="sr-only">Autres actualités</h3>
  <ul class="list-unstyled">
    <li class="mb-3"><a href="#"title="Toutes les actualités link to somewhere"class="btn btn-dark"
   >Toutes les actualités</a>
</li>
    <li class="mb-3"><a href="#"title="Tous les communiqués link to somewhere"class="btn btn-secondary"
   >Tous les communiqués</a>
</li>
    <li class="mb-3"><a href="#"title="Décisions du conseil d'état link to somewhere"class="btn btn-secondary"
   >Décisions du conseil d'état</a>
</li>
  </ul>
  
</section>





    </div>

    <aside class="col-md-4 vd-text-md-small vd-content-column">
      
  <section class="mb-5 d-none d-md-block">
    <h2 class="vd-heading-light h4">Twitter</h2>
<div class="mb-3">
  <a class="twitter-timeline" data-height="500" data-link-color="#02851a" data-chrome="noheader nofooter" href="https://twitter.com/EtatdeVaud">Tweets by EtatdeVaud</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<p>
  <a class="btn btn-dark" href="#">Nous suivre</a>
</p>

  </section>

  <section>
    <section>
  <h2 class="vd-heading-light h4">Agenda et événements</h2>
  <ul class="list-unstyled">
    
      <li class="d-flex flex-column">
        <h3 class="order-2 mt-1">
          <a href="#">Elections cantonales</a>
        </h3>
        <p class="order-1 mt-3 vd-bg-pattern-gray d-flex justify-content-center">
        <span class="d-flex flex-column p-3">
          
          <span class="text-center my-1 h1">30</span>
          <span class="text-center my-1">avril</span>
        </span>
        
        </p>
        <p class="order-3">Le 30 avril 2017, les citoyens vaudois sont appelés à élire le Grand Conseil vaudois ainsi que le Conseil d'État (1er tour). Le deuxième tour de l'élection du Conseil d'État aura lieu le 21 mai 2017 (2e tour).</p>
      </li>
    
      <li class="d-flex flex-column">
        <h3 class="order-2 mt-1">
          <a href="">Athletissima</a>
        </h3>
        <p class="order-1 mt-3 vd-bg-pattern-gray d-flex justify-content-center">
        <span class="d-flex flex-column p-3">
          <span class="text-center">du</span> 
          <span class="text-center my-1 h1">6</span>
          <span class="text-center my-1">juillet</span>
        </span>
        
          <span class="d-flex flex-column p-3">
            <span class="text-center">au</span>
            <span class="text-center my-1 h1">7</span>
            <span class="text-center my-1">juillet</span>
          </span>
        
        </p>
        <p class="order-3">L’édition 2017 se déroulera le jeudi 6 juillet au Stade de la Pontaise à Lausanne.</p>
      </li>
    
      <li class="d-flex flex-column">
        <h3 class="order-2 mt-1">
          <a href="">Noël</a>
        </h3>
        <p class="order-1 mt-3 vd-bg-pattern-gray d-flex justify-content-center">
        <span class="d-flex flex-column p-3">
          
          <span class="text-center my-1 h1">24</span>
          <span class="text-center my-1">décembre</span>
        </span>
        
        </p>
        <p class="order-3">Noël est une fête d'origine romaine célébrée chaque année, majoritairement dans la nuit du 24 au 25 décembre ainsi que le 25 toute la journée.</p>
      </li>
    
  </ul>
</section>

  </section>

    </aside>

  </div>
</main>

<hr class="vd-separator vd-separator-gray-bars my-5">


<div class="container vd-content-column vd-content">
  
<section class="mb-5">
  <h2 class="vd-heading-light h4">Autorités</h2>

  <ul class="vd-btn-tiles mb-3">
  <li class="vd-btn-tiles__item">
      <a href="#" class="vd-btn-tiles__link">Grand Conseil</a>
    </li><li class="vd-btn-tiles__item">
      <a href="#" class="vd-btn-tiles__link">Conseil d'État</a>
    </li><li class="vd-btn-tiles__item">
      <a href="#" class="vd-btn-tiles__link">Ordre Judiciaire</a>
    </li>
</ul>

  <ul class="vd-btn-tiles mb-3">
  <li class="vd-btn-tiles__item">
      <a href="#" class="vd-btn-tiles__link">Départements</a>
    </li>
</ul>


  <p>
    <a href="../autorites/" class="btn btn-dark">Toutes les autorités</a>
  </p>

</section>

</div>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark vd-btn-chevron-t" title="Retour vers le haut de la page">Haut <span class="fa fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4">Titre 1</h2>
              <ul class="list-unstyled"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4">Titre 2</h2>
              <ul class="list-unstyled"><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4">Sites partenaires</h2>
              <ul class="list-unstyled"><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


