


<address vocab="http://schema.org/" typeof="GovernmentOrganization">
  <h2 property="name">Nom du service</h2>
  <p class="vd-section-title mb-1">Division</p>
  <p property="location" typeof="PostalAddress">
    <span property="streetAddress">Route du Signal 8</span><br>
    <span property="postalCode">1018</span>
    <span property="addressLocality">Lausanne</span>
    <span property="addressCountry" class="hidden-up">Switzerland</span>
  </p>
  <div>
    <h3>Heures d'ouverture</h3>
    <p>du lundi au vendredi de 8h00 à 11h30 et de 13h30 à 16h30</p>
  </div>
  <ul class="vd-list-icons">
    <li>
      <span class="fa fa-phone" aria-hidden="true"></span>
      <span class="sr-only" title="Téléphone">Téléphone</span>
      <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
    </li>
    <li>
      <span class="fa fa-fax" aria-hidden="true"></span>
        <span class="sr-only">Fax</span>
        <span>+41 21 123 45 67</span>
    </li>
    <li>
      <span class="fa fa-envelope" aria-hidden="true"></span>
      <span class="sr-only">Courriel</span>
      <a href="mailto:info.spi@vd.ch" property="email">info.spi@vd.ch</a>
    </li>
    <li>
      <span class="fa fa-map-marker" aria-hidden="true"></span>
      <a href="#">Voir sur la carte</a>
    </li>
  </ul>
  <p>
    <a href="#" class="btn btn-primary vd-btn-chevron-r btn-sm" property="url">Contacter le service</a>
  </p>
</address>

