

<h2 class="vd-section-title mt-3">Agenda / événements</h2>

<article class="vd-teaser-small">
  <h3><a class="vd-link-invisible" href=“#”>Title here</a></h3>
  <p class="vd-numbered-title">
      <span class="tag tag-primary">12</span>
      <span>Novembre 2016</span>
  </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</article>
<article class="vd-teaser-small">
  <h3><a class="vd-link-invisible" href=“#”>Title here</a></h3>
  <p class="vd-numbered-title">
      <span class="tag tag-primary">12</span>
      <span>Novembre 2016</span>
  </p>
  <figure class="vd-teaser-small-img">
    <img src="" class="img-fluid" alt="">
  </figure>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</article>
<article class="vd-teaser-small">
  <h3><a class="vd-link-invisible" href=“#”>Title here</a></h3>
  <p class="vd-numbered-title">
      <span class="tag tag-primary">12</span>
      <span>Novembre 2016</span>
  </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</article>

