

<section>
  <h2 class="vd-heading-light-alt h4">Agenda et événements</h2>
  <ul class="list-unstyled">
    
      <li class="d-flex flex-column">
        <h3 class="order-2 mt-1">
          <a href="#">Ut condimentum magna a ornare pulvinar</a>
        </h3>
        <p class="order-1 mt-3 vd-bg-pattern-gray d-flex justify-content-center">
        <span class="d-flex flex-column p-3">
          <span class="text-center">du</span> 
          <span class="text-center my-1 h1">31</span>
          <span class="text-center my-1">juillet</span>
        </span>
        
          <span class="d-flex flex-column p-3">
            <span class="text-center">au</span>
            <span class="text-center my-1 h1">1</span>
            <span class="text-center my-1">août</span>
          </span>
        
        </p>
        <p class="order-3">rem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.</p>
      </li>
    
      <li class="d-flex flex-column">
        <h3 class="order-2 mt-1">
          <a href="#">Etiam vehicula ligula nec convallis fringilla</a>
        </h3>
        <p class="order-1 mt-3 vd-bg-pattern-gray d-flex justify-content-center">
        <span class="d-flex flex-column p-3">
          
          <span class="text-center my-1 h1">24</span>
          <span class="text-center my-1">novembre</span>
        </span>
        
        </p>
        <p class="order-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.</p>
      </li>
    
      <li class="d-flex flex-column">
        <h3 class="order-2 mt-1">
          <a href="#">Sed vitae magna eget enim condimentum aliquam semper sit amet velit</a>
        </h3>
        <p class="order-1 mt-3 vd-bg-pattern-gray d-flex justify-content-center">
        <span class="d-flex flex-column p-3">
          
          <span class="text-center my-1 h1">1</span>
          <span class="text-center my-1">décembre</span>
        </span>
        
        </p>
        <p class="order-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.</p>
      </li>
    
  </ul>
</section>

