

<h2 itemprop="name">
    <a href="#" itemprop="url">Service name</a>
</h2>

<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
<h3 class="h4">Rechercher l&#39;entité compétente selon la commune ou le numéro postal (NPA)</h3>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher l&#39;entité compétente selon la commune ou le numéro postal (NPA)</label>
  <input id="search-form"
         type="text"
         class="form-control"aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>


<ul>
    
    <li><a href="#">Bofflens</a></li>
    
    <li><a href="#">Bogis</a></li>
    
    <li><a href="#">Bonvillard</a></li>
    
</ul>



