

<address class="mb-2" itemscope itemtype="http://schema.org/GovernmentOrganization">

  <h2 itemprop="name">Service name</h2>

  <h3 class="vd-section-title mb-1">division</h3>
  <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Rue de la Barre 2</span> <br><span itemprop="postalCode">1000</span> <span itemprop="addressLocality">Lausanne</span> <span class="sr-only" itemprop="addressCountry">Suisse</span></p>

  <div itemscope itemtype="http://schema.org/GovernmentBuilding">
  <h3>Heures d&#x27;ouverture<span class="sr-only"> du Service name</span></h3>
    <p itemprop="openingHours" content="Mo,Tu,We,Th,Fr 08:00-11:30,13:30-16:30">du lundi au vendredi de 8h00 à 11h30 et de 13h30 à 16h30</p>
  </div>

  <ul class="vd-list-icons">
    <li>
      <span class="fa fa-phone" aria-hidden="true"></span> <a href="tel:+41211234567">+41 21 123 45 67</a>
    </li>
    <li>
      <span class="fa fa-fax" aria-hidden="true"></span> <a href="tel:+41211234567">+41 21 123 45 67</a>
    </li>
    <li>
      <span class="fa fa-envelope" aria-hidden="true"></span> <a href="mailto:service@vd.ch">service@vd.ch</a>
    </li>
    <li>
      <span class="fa fa-map-marker" aria-hidden="true"></span> <a href="#">voir sur la carte</a>
    </li>
  </ul>

  <p>
    <a href="#" title="link to somewhere" class="btn btn-primary btn-sm vd-btn-chevron-r">Contacter l&#x27;office</a>

  </p>

</address>

