

<div class="vd-card mb-3">
  <div class="container">
    <div class="row">
      <div class="col-4 col-sm-3 col-lg-2 mt-3">
        <img
    class="rounded-circle img-fluid"
    
    src="https://api.adorable.io/avatars/200/hello@vd.png"
     alt="Alternative text">

      </div>
      <div class="col-8 col-sm-9 col-lg-10">
        <div class="card-block vd-card-block">
          <h5 class="card-title vd-card-title">Jean Villard</h5>
          <p class="card-text vd-card-text">Poète, chansonnier, comédien, écrivain et compositeur</p>
          <ul class="vd-list-links">
  
  <li><a href="#">Biographie</a></li>
  
</ul>

        </div>
      </div>
    </div>
  </div>
</div>

