

<!-- Start: @checkbox--default -->
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Consectetur adipisicing elit
  </label>
</div>
<!-- End: @checkbox--default -->

<!-- Start: @checkbox--validation-success -->
<div class="form-check has-success">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Checkbox with success
  </label>
</div>
<!-- End: @checkbox--validation-success -->

<!-- Start: @checkbox--validation-warning -->
<div class="form-check has-warning">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Checkbox with warning
  </label>
</div>
<!-- End: @checkbox--validation-warning -->

<!-- Start: @checkbox--validation-danger -->
<div class="form-check has-danger">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Checkbox with danger
  </label>
</div>
<!-- End: @checkbox--validation-danger -->

<!-- Start: @checkbox--disabled -->
<div class="form-check disabled">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="" disabled>
    Option is disabled
  </label>
</div>
<!-- End: @checkbox--disabled -->

