

<div><h2>Informations personnelles</h2><dl>
      
        <div class="row mt-2 border-bottom">
          <dt class="col-md-4">Nom</dt>
          
            <dd class="col-md-6">Clark Kent</dd>
            <dd class="col-md-2 text-md-right"><a href="#">Modifier</a></dd>
          
        </div>
      
        <div class="row mt-2 border-bottom">
          <dt class="col-md-4">Surnom</dt>
          
            <dd class="col-md-6">Superman</dd>
            <dd class="col-md-2 text-md-right"><a href="#">Modifier</a></dd>
          
        </div>
      
        <div class="row mt-2 border-bottom">
          <dt class="col-md-4">Adresse</dt>
          
            <dd class="col-md-6">34 Kriptionitstrasse <br>9999 Metropolis</dd>
            <dd class="col-md-2 text-md-right"><a href="#">Modifier</a></dd>
          
        </div>
      
    </dl>
</div>

