


<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Option one is this and that—be sure to include why it's great
  </label>
</div>

<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Sed eu magna eget augue tincidunt semper
  </label>
</div>

<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Nulla eu velit iaculis, gravida arcu in, accumsan ligula
  </label>
</div>

<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Etiam viverra eros aliquam tincidunt varius
  </label>
</div>

<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Sed luctus sem id sollicitudin varius
  </label>
</div>


