

<article class="mb-1 row">
  <div class="col-md-8">
    <header>
      <h3>Message important !</h3><dl class="small row">
        <dt class="col-4">Reçu le</dt>
        <dd class="col-8">17.02.2017</dd>
        <dt class="col-4">Lu le</dt>
        <dd class="col-8">18.02.2017</dd>
        </dl></header>
    <p>En date du 01.01.2017, une nouvelle charte graphique a été dévelopée dans le but de satisfaire le plus grand nombre de personne et de faciliter l'utilisation de l'espace sécurisé. Merci de votre compréhension.</p>
  </div><footer class="col-md-4">
    <h4 class="sr-only">Actions sur la communication</h4>
<ul class="list-inline"><li><a href="#">Quittancer</a></li></ul>
</footer></article>

