

<header class="header">
  <nav class="vd-access-nav" aria-label="menu accessibilité">
    <ul>
        <li>
          <a class="btn btn-primary" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
        </li>
        <li>
          <a class="btn btn-primary" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
        </li>
        <li>
          <a class="btn btn-primary" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
        </li>
        <li>
          <a class="btn btn-primary" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
        </li>
        <li>
          <a class="btn btn-primary" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
        </li>
        <li><a class="btn btn-primary" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a></li>
        <li>
          <a class="btn btn-primary" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
        </li>
        <li>
          <a class="btn btn-primary" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
        </li>
        <li>
          <a class="btn btn-primary" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
        </li>
      </ul>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <nav>
          <h2 class="sr-only">Sous-navigation</h2>
          <ul class="nav hidden-sm-down small justify-content-end">
            <li class="nav-item"><a class="nav-link active" href="../autorites"><span class="sr-only">page active: </span>Autorités</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Annuaire</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Agenda</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            <li class="nav-item"><span class="nav-link"><span class="fa fa-lock" aria-hidden="true"></span> <a href="../connexion">Mon compte</a></span></li>
          </ul>
        </nav>
        <div class="vd-nav-mobile dropdown">
          <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" type="button" id="nav-mobile-button">menu<span class="bars"><span class="bar"></span><span class="bar"></span><span class="bar"></span></span></button>
        
          <nav class="dropdown-menu" aria-labelledby="nav-mobile-button">
            <h2>Navigation mobile</h2>
            <div class="dropdown-item pt-2 pb-1 text-center">
              <a class="btn btn-primary vd-btn-chevron-r" href="../domaines">Tous les thèmes</a>
            </div>
            <div class="dropdown-item px-0 pb-0">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" href="#0">Autorités</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#0">Annuaire</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#0">Agenda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#0">Contact</a>
                </li>
                <li class="nav-item vd-nav-item-secure">
                  <span class="fa fa-lock fa-lg" aria-hidden="true"></span>
                  <a class="nav-link btn btn-primary vd-btn-chevron-r" href="../connexion">Accéder à l'espace sécurisé</a>
                </li>
              </ul>
            </div>
            <div class="dropdown-item">
              <p>Découvrir</p>
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="#0">International</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#0">Tourisme</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#0">Musées</a>
                </li>
              </ul>
            </div>
            <div class="dropdown-item bg-inverse">
              <p class="text-white text-center mt-1">
                <small>Suivre vd.ch sur les réseaux sociaux</small>
              </p>
        
              <h2 class="vd-section-title mb-1"></h2>
              
              <ul class="list-inline vd-social-icons">
                <li class="list-inline-item">
                  <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"><span class="sr-only">Envoyer par courriel</span></span></a>
                </li>
                <li class="list-inline-item">
                  <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
                </li>
                <li class="list-inline-item">
                  <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
                </li>
                <li class="list-inline-item">
                  <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
                </li>
                <li class="list-inline-item hidden-lg-up">
                  <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
                </li>
                <li class="list-inline-item hidden-md-down">
                  <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
                </li>
              </ul>
        
            </div>
          </nav>
        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-md-5">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
          <div class="vd-logo-title">
            <div id="aria-vd-logo">Site officiel<span class="sr-only"> de l'État de Vaud</span></div>
            <img src="../../assets/svg/ETATVAUD.svg" alt="État de Vaud" aria-hidden="true" />
          </div>
        </a>
      </div>
      <div class="col-md-5 offset-md-2">
        <form class="input-group my-2 vd-search-form" action="#">
          <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
          <input id="search-form" type="text" class="form-control"  aria-describedby="search-form-label">
          <span class="input-group-btn">
        <button class="btn" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
          </span>
        </form>
      </div>
    </div>
  </div>

  <div class="vd-nav-primary">
  <div class="vd-nav-primary-toggle">
    <div class="container">
      <div class="text-center text-md-left">
        <button type="button" class="hidden-sm-down btn btn-sm btn-primary collapsed" data-toggle="collapse" data-target="#nav-primary-container"  aria-controls="nav-primary-container" aria-expanded="false"><span class="sr-only">Accédez à la liste de </span>Tous les thèmes</button>
      </div>
    </div>
  </div>
  <div class="hidden-sm-down collapse clearfix" id="nav-primary-container">
    <div class="vd-nav-primary-content">
      <div class="container">
        <div class="row">
          <nav class="col-md-8" id="nav-primary">
            <h2 class="sr-only">Navigation par thèmes</h2>
            <ul class="list-unstyled mb-0 row">
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Culture</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et soutiens, Musées cantonaux…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Economie</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Poursuites et faillites, Registre du commerce…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Environnement</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Faune et nature, Energie…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Etat, Droit, Finance</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Impôts, rémunérations, fiscalité…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Formation</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Jours fériés et vacances scolaires…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Mobilité</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobile, Navigation…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Santé</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, Professionnels…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Social</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aide aux victimes et auteur-e-s de violences…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Vie privée</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Documents d&#x27;identité…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Sécurité</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, contrôle, casiers judiciaire…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Territoire</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Informations sur le territoire, Registre foncier…<span class="sr-only">)</span></small>
                </a>
              </li>
            </ul>
          </nav>
          <div class="col-md-4">
            <h2 class="vd-section-title mt-3 mb-1">Les plus visités</h2>
            <ul class="vd-list-links">
              <li><a href="#0">Inscription au chômage</a></li>
              <li><a href="#0">Formulaire d'indemnisation</a></li>
              <li><a href="#0">Vaud Tax 2017</a></li>
              <li><a href="#0">Vacances scolaires et jours fériés</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</header>

<div class="container pt-1">
  <nav>
    <h2 class="sr-only">File d'Ariane</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
      <li class="breadcrumb-item"><a href="#">Communiqués de presse</a></li>
      <li class="sr-only">Vous êtes ici: [titre de la page]</li>
    </ol>
  </nav>
</div>

<main class="container">
  <div class="row">

    <div class="col-md-8">
      <header>
        <p class="mb-0 small text-uppercase font-weight-bold">Nature du communiqué</p>
        <p class="mb-0 small">&Eacute;metteur</p>
        <p class="small font-weight-bold">Lausanne, le 1er juillet 2016</p>

        <h2 class="sr-only">Partnaires</h2>
        <ul class="list-inline">
          <li class="list-inline-item"><span class="sr-only">Partenaire</span><img class="img-fluid" src="http://placehold.it/75x75" alt="logo du partenaire"></li>
          <li class="list-inline-item"><span class="sr-only">Partenaire</span><img class="img-fluid" src="http://placehold.it/75x75" alt="logo du partenaire"></li>
          <li class="list-inline-item"><span class="sr-only">Partenaire</span><img class="img-fluid" src="http://placehold.it/75x75" alt="logo du partenaire"></li>
        </ul>

        <p class="text-uppercase mb-0">Axes forts de transports publics</p>
        <h1 class="h2 px-2 py-2 mb-2 vd-bg-pattern-bars-gray">Le Service de la sécurité civile et militaire est certifié</h1>
      </header>

      <p class="lead">Au terme d'une démarche initiée courant 2014, le Service de la sécurité civile et militaire (SSCM) a officiellement obtenu la certification à la norme internationale ISO 9001:2015 de son système de management de la qualité. L'obtention de ce certificat s'inscrit dans une volonté d'amélioration continue, orientée citoyens et dynamique pour gagner en efficacité et accroître la satisfaction vis-à-vis des prestations fournies.</p>

      <div class="text-center mt-2">
        <h2 class="vd-section-title mb-1">Partager la page</h2>

<ul class="list-inline vd-social-icons">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"><span class="sr-only">Envoyer par courriel</span></span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item hidden-lg-up">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item hidden-md-down">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

      </div>

      <p>L'audit externe mené fin juin dernier par un organe indépendant a permis au SSCM d'obtenir la certification ISO 9001 :2015. Il conclut que le SSCM est une organisation sur la « voie apprenante » avec une volonté claire du management de mettre en avant, de respecter et de valoriser les compétences de chacun, dans la perspective d'une gestion moderne et efficiente d'un service public. Le SSCM est désormais dans un cycle de certification impliquant de réussir les audits de suivi annuels. <br>
        A l'interne, le déploiement de cette démarche a permis d'établir une charte qualité pour le SSCM, fondée sur une vision guidant les actions et orientations stratégiques du service. Une approche processus améliorant les interfaces entre les divisions du service en a découlé. L'amélioration continue est un élément capital de cette démarche et de la norme ISO 9001:2015 visant à répondre aux attentes des différentes parties intéressées et accroître leur satisfaction avec un dynamisme permanent.<br>
        L'obtention de cette certification répond à trois objectifs reposant sur les trois valeurs défendues par le SSCM : la solidarité, la crédibilité et la loyauté. Ainsi, la première valeur se traduit dans la volonté de renforcer les liens entre les collaboratrices et collaborateurs et les différentes divisions du service. La crédibilité quant à elle s'exprime des processus mis en place dans le cadre de la certification et de la capitalisation des apprentissages. Enfin, la loyauté – envers les institutions et le contribuable de façon plus générale – se retrouve dans la recherche de l'efficience du service et de l'utilisation adaptée des ressources qui lui sont attribuées. Cette certification constitue une étape importante dans la démarche qualité du SSCM qui doit rester orientée client afin de garantir la satisfaction des citoyens et parties intéressées.<br>
        Le SSCM devient ainsi le premier service public de ce segment de prestations à être certifié ISO 9001 :2015. </p>

      <h2 class="h3">Sous-titre</h2>
      <p>L'audit externe mené fin juin dernier par un organe indépendant a permis au SSCM d'obtenir la certification ISO 9001 :2015. Il conclut que le SSCM est une organisation sur la « voie apprenante » avec une volonté claire du management de mettre en avant, de respecter et de valoriser les compétences de chacun, dans la perspective d'une gestion moderne et efficiente d'un service public. Le SSCM est désormais dans un cycle de certification impliquant de réussir les audits de suivi annuels. <br>
        A l'interne, le déploiement de cette démarche a permis d'établir une charte qualité pour le SSCM, fondée sur une vision guidant les actions et orientations stratégiques du service. Une approche processus améliorant les interfaces entre les divisions du service en a découlé. L'amélioration continue est un élément capital de cette démarche et de la norme ISO 9001:2015 visant à répondre aux attentes des différentes parties intéressées et accroître leur satisfaction avec un dynamisme permanent.<br>
        L'obtention de cette certification répond à trois objectifs reposant sur les trois valeurs défendues par le SSCM : la solidarité, la crédibilité et la loyauté. Ainsi, la première valeur se traduit dans la volonté de renforcer les liens entre les collaboratrices et collaborateurs et les différentes divisions du service. La crédibilité quant à elle s'exprime des processus mis en place dans le cadre de la certification et de la capitalisation des apprentissages. Enfin, la loyauté – envers les institutions et le contribuable de façon plus générale – se retrouve dans la recherche de l'efficience du service et de l'utilisation adaptée des ressources qui lui sont attribuées. Cette certification constitue une étape importante dans la démarche qualité du SSCM qui doit rester orientée client afin de garantir la satisfaction des citoyens et parties intéressées.<br>
        Le SSCM devient ainsi le premier service public de ce segment de prestations à être certifié ISO 9001 :2015. </p>

      <p class="text-xs-right mb-3 small">Bureau d'information et de communication de l'Etat de Vaud</p>


      <h3 class="h5">Renseignements</h3>
      <ul class="list-unstyled">
        <li class="mb-0">DIRH, Nuria Gorrite, conseillère d'Etat, 021 316 70 01</li>
        <li class="mb-0">Lausanne, Olivier Français, Municipal des travaux, 021 316 70 01</li>
        <li class="mb-0">Renens, Marianne Hugenin, syndique, 079 316 70 01</li>
      </ul>

      <h3>Téléchargements</h3>
<ul class="vd-list-icons">
  <li>
    <span class="fa fa-download" aria-hidden="true"></span> <a href="#">Lorem ipsum dolor sit.</a>
  </li>
  <li>
    <span class="fa fa-download" aria-hidden="true"></span> <a href="#">Facilis possimus culpa a!</a>
  </li>
</ul>


    </div>

    <aside class="col-md-4 small">
      <h2>Bureau d'information et de communication</h2>
      <p>Rue de la barre 2 <br>1014 Lausanne</p>

      <ul class="vd-list-links">
        <li><a href="#0">info.spi@vd.ch</a></li>
        <li><a href="#0">voir sur la carte</a></li>
      </ul>

      <p>
        <a href="#0" class="btn btn-primary vd-btn-chevron-r">Contacter l'office</a>
      </p>

      <p>Les communiqués diffusés par les autres institutions de l'Etat sont disponible sur les pages suivantes:</p>
      <ul class="vd-list-links">
        <li><a href="#">communiqués de la Police cantonale</a></li>
        <li><a href="#">communiqués du Centre hospitalier universitaire vaudois (CHUV)</a></li>
        <li><a href="#">communiqués de l'Université de Lausanne</a></li>
      </ul>

      <p>
        <span class="fa fa-rss-square" aria-hidden="true"></span> <a href="#">S'abonner au <abbr title="Communiqués de presse">CP</abbr></a>
      </p>
    </aside>

  </div>
</main>

<div class="container">
  
  <h2 class="vd-section-title mb-1 sr-only">Partager</h2>
  
  <ul class="list-inline vd-social-icons mt-2">
    <li class="list-inline-item">
      <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"><span class="sr-only">Envoyer par courriel</span></span></a>
    </li>
    <li class="list-inline-item">
      <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
    </li>
    <li class="list-inline-item">
      <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
    </li>
    <li class="list-inline-item">
      <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
    </li>
    <li class="list-inline-item hidden-lg-up">
      <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
    </li>
    <li class="list-inline-item hidden-md-down">
      <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
    </li>
  </ul>
</div>
<footer class="footer">
  <div class="container">
    <a href="#" class="footer-btn-backtotop btn btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
    <div class="row small">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            <div class="col-sm-4">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Offres d'emploi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Statistiques</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Portail sécurisé</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Flux RSS</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Espace sécurisé</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Mentions légales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="#">Permaliens</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="#">Guide Typo 3</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h4 class="vd-section-title text-white mb-1">Sites partenaires</h4>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Promotion Vaud.ch</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Tourisme</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Musées</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Patrimoine</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="#">CH.ch</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-xs-2 footer-logo-container">
          <div class="footer-logo">
            <img class="img-fluid" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
          </div>
        </div>
    </div>
  </div>
</footer>

