

<form>
  <div 
    class="form-group">
  <label 
    for="firstname"
    >Prénom <span aria-hidden="true">(requis)</span></label>
  
  <input 
    class="form-control" 
    type="text" 
    id="firstname" 
    name="testInput" 
    value=""
     required aria-required="true"
    
    
    
    
    
    
    
    >
</div>


  <div 
    class="form-group">
  <label 
    for="name"
    >Nom <span aria-hidden="true">(requis)</span></label>
  
  <input 
    class="form-control" 
    type="text" 
    id="name" 
    name="testInput" 
    value=""
     required aria-required="true"
    
    
    
    
    
    
    
    >
</div>


  <div 
    class="form-group">
  <label 
    for="email"
    >Courriel <span aria-hidden="true">(requis)</span></label>
  
  <input 
    class="form-control" 
    type="email" 
    id="email" 
    name="testInput" 
    value=""
     required aria-required="true"
    
    
    
    
    
    
    
    >
</div>


  <div 
    class="form-group">
  <label 
    for="phone"
    >Téléphone <span aria-hidden="true">(requis)</span></label>
  
  <input 
    class="form-control" 
    type="text" 
    id="phone" 
    name="testInput" 
    value=""
     required aria-required="true"
    
    
    
    
    
    
    
    >
</div>


  <div 
    class="form-group">
  <label 
    for="subject"
    >Sujet <span aria-hidden="true">(requis)</span></label>
  
  <input 
    class="form-control" 
    type="text" 
    id="subject" 
    name="testInput" 
    value=""
     required aria-required="true"
    
    
    
    
    
    
    
    >
</div>


  <div class="form-group">
  <label for="message">Message <span aria-hidden="true">(requis)</span></label><textarea class="form-control" type="" id="message" rows="3" ></textarea>
</div>


  <div class="form-group">
    <button type="submit" class="btn btn-dark">Envoyer</button>

  </div>

</form>

