

<div class="form-group">
  <label for="testDataInput" id="testDataInputLabel">Quel est votre canton d'origine</label>
  <datalist id="list">
    <select class="form-control" name="testDataInput" aria-labelledby="testDataInputLabel">
      
      <option>Appenzell Rhodes-Extérieures</option>
      
      <option>Appenzell Rhodes-Intérieures</option>
      
      <option>Argovie</option>
      
      <option>Bâle-Campagne</option>
      
      <option>Bâle-Ville</option>
      
      <option>Berne</option>
      
      <option>Fribourg</option>
      
      <option>Genève</option>
      
      <option>Glaris</option>
      
      <option>Grisons</option>
      
      <option>Jura</option>
      
      <option>Lucerne</option>
      
      <option>Neuchâtel</option>
      
      <option>Nidwald</option>
      
      <option>Obwald</option>
      
      <option>Saint-Gall</option>
      
      <option>Schaffhouse</option>
      
      <option>Schwyz</option>
      
      <option>Soleure</option>
      
      <option>Tessin</option>
      
      <option>Thurgovie</option>
      
      <option>Uri</option>
      
      <option>Valais</option>
      
      <option>Vaud</option>
      
      <option>Zoug</option>
      
      <option>Zurich</option>
      
    </select> <small class="form-text">If other, please specify</small>
  </datalist>
  <input id="testDataInput" class="form-control" name="state" list="list">
</div>

