

<div class="form-group">
  <label for="testDataInput" id="testDataInputLabel">Quel est votre fruit favoris ?</label>
  <datalist id="list">
    <select class="form-control" name="testDataInput" aria-labelledby="testDataInputLabel">
      <option>Abricot</option>
      <option>Ananas</option>
      <option>Citron</option>
      <option>Fruit de la passion</option>
      <option>Grenade</option>
      <option>Groseille</option>
      <option>Kaki</option>
      <option>Kiwi</option>
    </select> <small id="testDataInputfallbackLabel" class="form-text">Merci de le spécifier s&#39;il ne figure pas dans la liste</small>
  </datalist>
  <input id="testDataInput" class="form-control" name="state" list="list" aria-labelledby="testDataInputfallbackLabel">
</div>

