

<fieldset class="mb-1">

  <legend>Quelle est votre date de naissance ?</legend>

  
  <small id="dates-help" class="form-text text-muted">
    Par exemple, 23 7 1979
  </small>
  

  <div class="vd-form-flex">

    <div class="vd-form-flex__item vd-form-flex__item--2-char-width">
      <div class="form-group">
  <label for="inputDatesDay">Jour</label>
  
  <input class="form-control" type="number" id="inputDatesDay" name="testInput" value="" pattern="[0-9]*" min="1" max="31" size="2">
</div>

    </div>

    <div class="vd-form-flex__item vd-form-flex__item--2-char-width">
      <div class="form-group">
  <label for="inputDatesMonth">Mois</label>
  
  <input class="form-control" type="number" id="inputDatesMonth" name="testInput" value="" pattern="[0-9]*" min="1" max="12" size="2">
</div>

    </div>

    <div class="vd-form-flex__item vd-form-flex__item--4-char-width">
      <div class="form-group">
  <label for="inputDatesYear">Année</label>
  
  <input class="form-control" type="number" id="inputDatesYear" name="testInput" value="" pattern="[0-9]*" min="1950" max="2017" size="4">
</div>

    </div>

  </div>

</fieldset>

