

<fieldset>
  <legend>Date de naissance</legend>
  <label for="date-form-day" class="sr-only">Jour</label>
  <input id="date-form-day" class="form-control vd-form-control-inline" type="number" pattern="[0-9]*" min="1" max="31" name="name" size="2" placeholder="JJ" value="">
  <label for="date-form-month" class="sr-only">Mois</label>
  <input id="date-form-month" class="form-control vd-form-control-inline" type="number" pattern="[0-9]*" min="1" max="12" name="name" size="2" placeholder="MM" value="">
  <label for="date-form-year" class="sr-only">Année</label>
  <input id="date-form-year" class="form-control vd-form-control-inline" type="number" pattern="[0-9]*" min="1950" max="2017" name="name" size="4" placeholder="AAAA" value="">
</fieldset>

