

<header class="header">
  <nav class="vd-access-nav" aria-label="menu accessibilité">
  <ul>
      <li>
        <a class="btn btn-primary" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li><a class="btn btn-primary" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a></li>
      <li>
        <a class="btn btn-primary" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">

    <div class="d-flex flex-column flex-sm-row">

      <div class="mr-auto">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
  <div class="vd-logo-title">
    <div id="aria-vd-logo">Site officiel<span class="sr-only"> de l'État de Vaud</span></div>
    <img src="../../assets/svg/ETATVAUD.svg" alt="État de Vaud" aria-hidden="true" />
  </div>
</a>

      </div>

      <section class="mt-1">
        <h2 class="sr-only">Votre identité</h2>
        <div class="d-flex flex-column">
          <dl class="mb-0">
            <dt class="sr-only">Nom et prénom</dt>
            <dd class="mb-0"><span class="fa fa-lock"></span> <a href="#" title="Gérer mon compte">Jean Villars Gilles</a></dd>

            <dt class="sr-only">Nom du bénéficiaire</dt>
            <dd class="mb-0">Commune de Belmont-sur-Lausanne</dd>
          </dl>
          <div>
            <p>
              <a href="#">Se déconnecter</a>
            </p>
          </div>
        </div><!-- /.d-flex -->
      </section>

    </div><!-- /.row -->
  </div>
</header>




<main id="main">
  <div class="vd-bg-pattern-gray pt-2">
  <div class="container">
    <h1>Demandes</h1>
  </div>
</div>


  <div class="container mt-3">
    

      <p>
        <a href="#" class="btn btn-primary vd-btn-chevron-r">Nouvelle demande</a>
      </p>

      <form>
        <div class="form-group">
          <div class="form-group">
          <label for="exampleSelect1">Trier par</label>
          <select class="form-control" id="exampleSelect1">
            <option>Date - plus récent</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        </div>
      </form>

      <h1 class="h2">Toutes les demandes</h1>

      <article>
        <p class="text-muted mb-0">21.05.2016</p>
        <h3><a href="#">Aides et soutien aux activités culturelles et à la création artistique</a></h3>
        <p>Commande en cours</p>
      </article>

      <article>
        <p class="text-muted mb-0">21.05.2016</p>
        <h3><a href="#">Demande de modification d'acomptes en ligne</a></h3>
        <p>Commande en cours</p>
      </article>

      <article>
        <p class="text-muted mb-0">21.05.2016</p>
        <h3><a href="#">Demande de modification d'acomptes en ligne</a></h3>
        <p>Commande en cours</p>
      </article>

      <article>
        <p class="text-muted mb-0">21.05.2016</p>
        <h3><a href="#">Déclaration d'impôt en ligne</a></h3>
      </article>

      <article>
        <p class="text-muted mb-0">21.05.2016</p>
        <h3><a href="#">Demande de modification d'acomptes en ligne</a></h3>
      </article>

      <article>
        <p class="text-muted mb-0">21.05.2016</p>
        <h3><a href="#">Plaques aux enchères</a></h3>
      </article>

      <article>
        <p class="text-muted mb-0">21.05.2016</p>
        <h3><a href="#">Déclaration d'impôt en ligne</a></h3>
      </article>

      <article>
        <p class="text-muted mb-0">21.05.2016</p>
        <h3><a href="#">Demande de modification d'acomptes en ligne</a></h3>
      </article>

      <article>
        <p class="text-muted mb-0">21.05.2016</p>
        <h3><a href="#">Plaques aux enchères</a></h3>
      </article>

      <p>
        <a href="#" class="btn btn-primary vd-btn-chevron-r">Nouvelle demande</a>
      </p>

    </main><!-- ./.col-md-8 -->

</div>


  </div>
</main>
<footer class="footer mt-3">
  <div class="container">
    <a href="#" class="footer-btn-backtotop btn btn-sm btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
    <div class="row small">
      <nav aria-label="pied de page" class="col-xs-10">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pourquoi créer un compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mentions légales</a>
          </li>
        </ul>
      </nav>
      <div class="col-xs-2 footer-logo-container">
        <div class="footer-logo">
          <img class="img-fluid" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
        </div>
      </div>
    </div>
  </div>
</footer>


