



    <div class="row">
        <div class="col-md-12 ">
            <article class="mb-1 p-1 bg-faded ">
                <header>
                    <h3 class="mb-1">
                       
                    </h3></header>
                

                

                <footer>
                    <h4 class="sr-only">Actions sur la demande</h4>
<ul class="list-inline"><li><a href="#">Démarrer une prestation sur ce modèle</a></li></ul>

                </footer>

            </article>

            <article class="mb-1 p-1 ">
                <h4 class="mb-1">Historique</h4>
                
            </article>


        </div>

    </div>


