


  

  
  <div>
    <div class="row mt-5">

      <div class="col-lg-4 mb-3">
        <h2 class="sr-only">Les plus visités</h2>
        <nav class="p-1" aria-labelledby="acces-direct-economie">
          <ul class="vd-menu-list-links">
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
          </ul>
        </nav>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-8">
        <h2 class="sr-only">Thèmes</h2>
        <ul class="list-unstyled row" aria-labelledby="economie">
          
          <li class="vd-domain-item mb-4 col-md-6">
  <a href="domaines" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Entreprises</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="sr-only">)</span></span>
  </a>
</li>

          
          <li class="vd-domain-item mb-4 col-md-6">
  <a href="domaines" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Marchés publics</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="sr-only">)</span></span>
  </a>
</li>

          
          <li class="vd-domain-item mb-4 col-md-6">
  <a href="domaines" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Emploi - Chômage</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="sr-only">)</span></span>
  </a>
</li>

          
          <li class="vd-domain-item mb-4 col-md-6">
  <a href="domaines" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Développement économique</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="sr-only">)</span></span>
  </a>
</li>

          
          <li class="vd-domain-item mb-4 col-md-6">
  <a href="domaines" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Tourisme</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="sr-only">)</span></span>
  </a>
</li>

          
          <li class="vd-domain-item mb-4 col-md-6">
  <a href="domaines" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Agriculture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="sr-only">)</span></span>
  </a>
</li>

          
          <li class="vd-domain-item mb-4 col-md-6">
  <a href="domaines" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Protection consommateur</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="sr-only">)</span></span>
  </a>
</li>

          
          <li class="vd-domain-item mb-4 col-md-6">
  <a href="domaines" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Poursuites et faillites</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="sr-only">)</span></span>
  </a>
</li>

          
          <li class="vd-domain-item mb-4 col-md-6">
  <a href="domaines" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Registre du commerce</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="sr-only">)</span></span>
  </a>
</li>

          
          <li class="vd-domain-item mb-4 col-md-6">
  <a href="domaines" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Police du commerce</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span class="sr-only">)</span></span>
  </a>
</li>

          
        </ul><!-- /.col-lg-8 -->
      </div><!-- /.row -->

    </div><!-- /.row -->
  </div>
  

  

  

  

  

  

  

  

  

  


