

  <div>
    <div class="row mt-3">

      <div class="col-md-4">
        <h2 id="">Culture</h2>
        <h3 id="acces-direct-" class="sr-only">Les plus visités</h3>
        <nav class="p-1" aria-labelledby="acces-direct-">
          <ul class="vd-list-links">
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
          </ul>
        </nav>
      </div><!-- /.col-md-4 -->

      <div class="col-md-8">
        <ul class="list-unstyled row" aria-labelledby="">
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Aides et soutiens</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Ecole-Musée</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Bibliothèque cantonale et universitaire</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Musées cantonaux</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Patrimoine vaudois</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Passculture</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Formations artistiques</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Cinéma</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Assises de la culture</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
        </div><!-- /.row -->
      </ul><!-- /.col-md-8 -->

    </div><!-- /.row -->
    <p>
      <a href="#" class="btn btn-primary btn-sm vd-btn-chevron-t">Haut</a>
    </p>
    <hr class="vd-separator vd-separator-green-pattern vd-separator-wide mt-2">
  </div>
  <div>
    <div class="row mt-3">

      <div class="col-md-4">
        <h2 id="">Economie</h2>
        <h3 id="acces-direct-" class="sr-only">Les plus visités</h3>
        <nav class="p-1" aria-labelledby="acces-direct-">
          <ul class="vd-list-links">
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
          </ul>
        </nav>
      </div><!-- /.col-md-4 -->

      <div class="col-md-8">
        <ul class="list-unstyled row" aria-labelledby="">
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Entreprises</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Marchés publics</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Emploi - Chômage</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Développement économique</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Tourisme</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Agriculture</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Protection consommateur</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Poursuites et faillites</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Registre du commerce</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Police du commerce</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
        </div><!-- /.row -->
      </ul><!-- /.col-md-8 -->

    </div><!-- /.row -->
    <p>
      <a href="#" class="btn btn-primary btn-sm vd-btn-chevron-t">Haut</a>
    </p>
    <hr class="vd-separator vd-separator-green-pattern vd-separator-wide mt-2">
  </div>
  <div>
    <div class="row mt-3">

      <div class="col-md-4">
        <h2 id="">Environnement</h2>
        <h3 id="acces-direct-" class="sr-only">Les plus visités</h3>
        <nav class="p-1" aria-labelledby="acces-direct-">
          <ul class="vd-list-links">
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
          </ul>
        </nav>
      </div><!-- /.col-md-4 -->

      <div class="col-md-8">
        <ul class="list-unstyled row" aria-labelledby="">
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Développement durable</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Faune et nature</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Forêts</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Air</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Sols</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Eaux</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Energie</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Bruit</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Rayonnement</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Produits chimiques</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Déchets</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Sites pollués</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
        </div><!-- /.row -->
      </ul><!-- /.col-md-8 -->

    </div><!-- /.row -->
    <p>
      <a href="#" class="btn btn-primary btn-sm vd-btn-chevron-t">Haut</a>
    </p>
    <hr class="vd-separator vd-separator-green-pattern vd-separator-wide mt-2">
  </div>
  <div>
    <div class="row mt-3">

      <div class="col-md-4">
        <h2 id="">Etat, Droit, Finance</h2>
        <h3 id="acces-direct-" class="sr-only">Les plus visités</h3>
        <nav class="p-1" aria-labelledby="acces-direct-">
          <ul class="vd-list-links">
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
          </ul>
        </nav>
      </div><!-- /.col-md-4 -->

      <div class="col-md-8">
        <ul class="list-unstyled row" aria-labelledby="">
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Lois / Constitution</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Votations et élections</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Justice</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Médiations</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Protection des données et transparence</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Curatelles et tutelles</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Égalité</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Impôts</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Finances publiques</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Affaires extérieures</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Personnel de l&#x27;État</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Statistiques</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
        </div><!-- /.row -->
      </ul><!-- /.col-md-8 -->

    </div><!-- /.row -->
    <p>
      <a href="#" class="btn btn-primary btn-sm vd-btn-chevron-t">Haut</a>
    </p>
    <hr class="vd-separator vd-separator-green-pattern vd-separator-wide mt-2">
  </div>
  <div>
    <div class="row mt-3">

      <div class="col-md-4">
        <h2 id="">Formation</h2>
        <h3 id="acces-direct-" class="sr-only">Les plus visités</h3>
        <nav class="p-1" aria-labelledby="acces-direct-">
          <ul class="vd-list-links">
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
          </ul>
        </nav>
      </div><!-- /.col-md-4 -->

      <div class="col-md-8">
        <ul class="list-unstyled row" aria-labelledby="">
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Avant l&#x27;Ecole</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Scolarité obligatoire</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Gymnase</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Apprentissage</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Enseignement supérieur</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Orientation</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Bourses</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Pédagogie spécialisée</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Santé à l&#x27;école</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Jours fériés et vacances scolaires</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Schooling</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Espace enseignant</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
        </div><!-- /.row -->
      </ul><!-- /.col-md-8 -->

    </div><!-- /.row -->
    <p>
      <a href="#" class="btn btn-primary btn-sm vd-btn-chevron-t">Haut</a>
    </p>
    <hr class="vd-separator vd-separator-green-pattern vd-separator-wide mt-2">
  </div>
  <div>
    <div class="row mt-3">

      <div class="col-md-4">
        <h2 id="">Mobilité</h2>
        <h3 id="acces-direct-" class="sr-only">Les plus visités</h3>
        <nav class="p-1" aria-labelledby="acces-direct-">
          <ul class="vd-list-links">
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
          </ul>
        </nav>
      </div><!-- /.col-md-4 -->

      <div class="col-md-8">
        <ul class="list-unstyled row" aria-labelledby="">
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Mobilité et planification</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Mobilité douce</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Promotion des mobilités durables</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Routes</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Transports publics</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Automobile</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Navigation</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
        </div><!-- /.row -->
      </ul><!-- /.col-md-8 -->

    </div><!-- /.row -->
    <p>
      <a href="#" class="btn btn-primary btn-sm vd-btn-chevron-t">Haut</a>
    </p>
    <hr class="vd-separator vd-separator-green-pattern vd-separator-wide mt-2">
  </div>
  <div>
    <div class="row mt-3">

      <div class="col-md-4">
        <h2 id="">Santé</h2>
        <h3 id="acces-direct-" class="sr-only">Les plus visités</h3>
        <nav class="p-1" aria-labelledby="acces-direct-">
          <ul class="vd-list-links">
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
          </ul>
        </nav>
      </div><!-- /.col-md-4 -->

      <div class="col-md-8">
        <ul class="list-unstyled row" aria-labelledby="">
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Actualités</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Système de santé</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Organisation</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Lutte contre les maladies</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Prévention</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Dépendances</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Professionnels</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
        </div><!-- /.row -->
      </ul><!-- /.col-md-8 -->

    </div><!-- /.row -->
    <p>
      <a href="#" class="btn btn-primary btn-sm vd-btn-chevron-t">Haut</a>
    </p>
    <hr class="vd-separator vd-separator-green-pattern vd-separator-wide mt-2">
  </div>
  <div>
    <div class="row mt-3">

      <div class="col-md-4">
        <h2 id="">Social</h2>
        <h3 id="acces-direct-" class="sr-only">Les plus visités</h3>
        <nav class="p-1" aria-labelledby="acces-direct-">
          <ul class="vd-list-links">
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
          </ul>
        </nav>
      </div><!-- /.col-md-4 -->

      <div class="col-md-8">
        <ul class="list-unstyled row" aria-labelledby="">
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Informations sociales</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Prestations, assurances et soutien</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Vivre à domicile</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">EMS</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Handicaps</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Dettes et surendettement</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Aide aux victimes et auteur-e-s de violences</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Bénévolat</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
        </div><!-- /.row -->
      </ul><!-- /.col-md-8 -->

    </div><!-- /.row -->
    <p>
      <a href="#" class="btn btn-primary btn-sm vd-btn-chevron-t">Haut</a>
    </p>
    <hr class="vd-separator vd-separator-green-pattern vd-separator-wide mt-2">
  </div>
  <div>
    <div class="row mt-3">

      <div class="col-md-4">
        <h2 id="">Vie privée</h2>
        <h3 id="acces-direct-" class="sr-only">Les plus visités</h3>
        <nav class="p-1" aria-labelledby="acces-direct-">
          <ul class="vd-list-links">
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
          </ul>
        </nav>
      </div><!-- /.col-md-4 -->

      <div class="col-md-8">
        <ul class="list-unstyled row" aria-labelledby="">
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Familles</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Enfance et jeunesse</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Logement</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Contrôle des habitants</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Etat civil</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Documents d&#x27;identité</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Population étrangère</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Religions</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Animaux</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Sport</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Violence domestique</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
        </div><!-- /.row -->
      </ul><!-- /.col-md-8 -->

    </div><!-- /.row -->
    <p>
      <a href="#" class="btn btn-primary btn-sm vd-btn-chevron-t">Haut</a>
    </p>
    <hr class="vd-separator vd-separator-green-pattern vd-separator-wide mt-2">
  </div>
  <div>
    <div class="row mt-3">

      <div class="col-md-4">
        <h2 id="">Sécurité</h2>
        <h3 id="acces-direct-" class="sr-only">Les plus visités</h3>
        <nav class="p-1" aria-labelledby="acces-direct-">
          <ul class="vd-list-links">
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
          </ul>
        </nav>
      </div><!-- /.col-md-4 -->

      <div class="col-md-8">
        <ul class="list-unstyled row" aria-labelledby="">
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Prévention</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Protection de la population</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Police</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Pompiers</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Armée</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Protection civile</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Pénitentiaire</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Catastrophe</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Service civil</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
        </div><!-- /.row -->
      </ul><!-- /.col-md-8 -->

    </div><!-- /.row -->
    <p>
      <a href="#" class="btn btn-primary btn-sm vd-btn-chevron-t">Haut</a>
    </p>
    <hr class="vd-separator vd-separator-green-pattern vd-separator-wide mt-2">
  </div>
  <div>
    <div class="row mt-3">

      <div class="col-md-4">
        <h2 id="">Territoire</h2>
        <h3 id="acces-direct-" class="sr-only">Les plus visités</h3>
        <nav class="p-1" aria-labelledby="acces-direct-">
          <ul class="vd-list-links">
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lorem ipsum dolor.</a></li>
          </ul>
        </nav>
      </div><!-- /.col-md-4 -->

      <div class="col-md-8">
        <ul class="list-unstyled row" aria-labelledby="">
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Aménagement</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Améliorations foncières</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Opérations foncières</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Géologie</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Dangers Naturels</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Informations sur le territoire</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Construction</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Registre foncier</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Districts / Préfectures</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
            <li class="vd-domain-item mb-2 col-md-6">
              <a href="#" class="vd-link-invisible">
                <h5 class="vd-domain-item-title h2 font-weight-normal">Communes</h5>
                <p class="vd-domain-item-text small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </a>
            </li>
        </div><!-- /.row -->
      </ul><!-- /.col-md-8 -->

    </div><!-- /.row -->
    <p>
      <a href="#" class="btn btn-primary btn-sm vd-btn-chevron-t">Haut</a>
    </p>
  </div>

