

<form class="mb-4">
  <legend>Recherche dans le registre des avocats</legend>

  <div class="form-group">
    <label for="name">Nom</label>
    <input class="form-control" type="text" id="name" name="name" value="">
  </div>

  <div class="form-group">
    <label for="category">Catégorie</label>
    <select class="form-control" id="category">
      <option value="">Toutes</option>
      <option value="Avocat Union européenne">Avocat Union européenne</option>
      <option value="Avocat stagiaire">Avocat stagiaire</option>
      <option value="Avocat vaudois">Avocat vaudois</option>
      <option value="Avocat-conseil">Avocat-conseil</option>
    </select>
  </div>
    <div class="form-group">
    <label for="municipality" id="municipality_label">Commune</label>
    <datalist id="municipalities">
      <select id="municipality" class="form-control">
        <option value="">Toutes</option>
        <option value="Aigle">Aigle</option>
        <option value="Assens">Assens</option>
        <option value="Belmont-Lausanne">Belmont-Lausanne</option>
        <option value="Bex">Bex</option>
        <option value="Bussigny">Bussigny</option>
        <option value="Chamblon">Chamblon</option>
        <option value="Chavannes-des-Bois">Chavannes-des-Bois</option>
        <option value="Chesières">Chesières</option>
        <option value="Château-d'Oex">Château-d'Oex</option>
        <option value="Clarens">Clarens</option>
        <option value="Corcelles-le-Jorat">Corcelles-le-Jorat</option>
        <option value="Cossonay-Ville">Cossonay-Ville</option>
        <option value="Crans-près-Céligny">Crans-près-Céligny</option>
        <option value="Crissier">Crissier</option>
        <option value="Cully">Cully</option>
        <option value="Dully">Dully</option>
        <option value="Epalinges">Epalinges</option>
        <option value="Etoy">Etoy</option>
        <option value="Genève">Genève</option>
        <option value="Gland">Gland</option>
        <option value="Jongny">Jongny</option>
        <option value="Küsnacht ZH">Küsnacht ZH</option>
        <option value="La Conversion">La Conversion</option>
        <option value="La Croix (Lutry)">La Croix (Lutry)</option>
        <option value="La Tour-de-Peilz">La Tour-de-Peilz</option>
        <option value="Lausanne">Lausanne</option>
        <option value="Locarno">Locarno</option>
        <option value="Lucens">Lucens</option>
        <option value="Lutry">Lutry</option>
        <option value="Martigny">Martigny</option>
        <option value="Mies">Mies</option>
        <option value="Monthey">Monthey</option>
        <option value="Montreux">Montreux</option>
        <option value="Morges">Morges</option>
        <option value="Moudon">Moudon</option>
        <option value="Nyon">Nyon</option>
        <option value="Oron-la-Ville">Oron-la-Ville</option>
        <option value="Payerne">Payerne</option>
        <option value="Prilly">Prilly</option>
        <option value="Préverenges">Préverenges</option>
        <option value="Pully">Pully</option>
        <option value="Renens VD">Renens VD</option>
        <option value="Rolle">Rolle</option>
        <option value="Sion">Sion</option>
        <option value="St-Légier-Chiésaz">St-Légier-Chiésaz</option>
        <option value="St-Prex">St-Prex</option>
        <option value="St-Sulpice VD">St-Sulpice VD</option>
        <option value="Tannay">Tannay</option>
        <option value="Vevey">Vevey</option>
        <option value="Villars-sur-Ollon">Villars-sur-Ollon</option>
        <option value="Villeneuve VD">Villeneuve VD</option>
        <option value="Yens">Yens</option>
        <option value="Yverdon-les-Bains">Yverdon-les-Bains</option>
      </select>
    </datalist>
    <input id="municipality" name="municipality" list="municipalities" class="form-control">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-dark">Envoyer</button>
  </div>

</form>

<h2 class="mb-3">Résultats</h2>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Lucas Julien</h3>
  <p class="h4" property="jobTitle">c b Directeur</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Rue  1</span><br>
    Case postale <span property="postOfficeBoxNumber">801</span><br>
    <span property="postalCode">1001</span> <span property="addressLocality">Le rouxstad</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Alice16@hotmail.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">b a Assistant</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Lucie Meunier</h3>
  <p class="h4" property="jobTitle">a c Assistant</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Passage  2</span><br>
    Case postale <span property="postOfficeBoxNumber">802</span><br>
    <span property="postalCode">1002</span> <span property="addressLocality">Evanmouth</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Noa_Durand22@hotmail.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">b b Stagiaire</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Nicolas Laine</h3>
  <p class="h4" property="jobTitle">a a Technicien</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Avenue  3</span><br>
    Case postale <span property="postOfficeBoxNumber">803</span><br>
    <span property="postalCode">1003</span> <span property="addressLocality">Renardfort</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Charlotte_Barbier35@yahoo.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">c a Analyste</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Mael Legrand</h3>
  <p class="h4" property="jobTitle">a a Specialiste</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Impasse  4</span><br>
    Case postale <span property="postOfficeBoxNumber">804</span><br>
    <span property="postalCode">1004</span> <span property="addressLocality">East Clémentstad</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Romane.Gonzalez@gmail.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">a c Technicien</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Anaïs Simon</h3>
  <p class="h4" property="jobTitle">a b Manager</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Rue  5</span><br>
    Case postale <span property="postOfficeBoxNumber">805</span><br>
    <span property="postalCode">1005</span> <span property="addressLocality">Gaillardton</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Maxence.Morel@gmail.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">b c Stagiaire</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Adrien Guyot</h3>
  <p class="h4" property="jobTitle">a c Ingenieur</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Quai  6</span><br>
    Case postale <span property="postOfficeBoxNumber">806</span><br>
    <span property="postalCode">1006</span> <span property="addressLocality">North Ambre</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Charlotte.Menard@hotmail.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">b a Executif</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Romane Leclercq</h3>
  <p class="h4" property="jobTitle">a a Analyste</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Quai  7</span><br>
    Case postale <span property="postOfficeBoxNumber">807</span><br>
    <span property="postalCode">1007</span> <span property="addressLocality">Marchalland</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Mathilde.Perez27@yahoo.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">a b Administrateur</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Juliette Carpentier</h3>
  <p class="h4" property="jobTitle">a b Producteur</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Place  8</span><br>
    Case postale <span property="postOfficeBoxNumber">808</span><br>
    <span property="postalCode">1008</span> <span property="addressLocality">Poirierside</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Hugo_Blanc74@hotmail.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">a c Assistant</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Adam Blanchard</h3>
  <p class="h4" property="jobTitle">c b Stagiaire</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Avenue  9</span><br>
    Case postale <span property="postOfficeBoxNumber">809</span><br>
    <span property="postalCode">1009</span> <span property="addressLocality">Noémiemouth</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Matho.Hubert@gmail.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">c b Technicien</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Théo Vidal</h3>
  <p class="h4" property="jobTitle">b a Administrateur</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Quai  10</span><br>
    Case postale <span property="postOfficeBoxNumber">8010</span><br>
    <span property="postalCode">10010</span> <span property="addressLocality">Port Alicia</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Malle_Caron60@yahoo.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">a c Producteur</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>



<nav>
  <h3 class="sr-only">Pagination</h3>
  <div class="vd-pagination">
    <a href="#" class="btn vd-btn-pagination-l"><span class="d-none d-md-inline-block">Précédent</span>&nbsp;</a>
      <ul class="list-unstyled mb-0">
        <li><a href="#" class="btn">1</a></li>
        <li><a href="#" class="btn">2</a></li>
        <li><a href="#" class="btn">3</a></li>
        <li><a href="#" class="btn">...</a></li>
        <li><a href="#" class="btn">55</a></li>
      </ul>
    <a href="#" class="btn vd-btn-pagination-r"><span class="d-none d-md-inline-block">Suivant</span>&nbsp;</a>
    
  </div>
</nav>


