

<form class="mb-2">
  <legend>Recherche dans le registre des avocats</legend>

  <div class="form-group">
    <label for="name">Nom</label>
    <input class="form-control" type="text" id="name" name="name" value="">
  </div>

  <div class="form-group">
    <label for="category">Catégorie</label>
    <select class="form-control" id="category">
      <option value="">Toutes</option>
      <option value="Avocat Union européenne">Avocat Union européenne</option>
      <option value="Avocat stagiaire">Avocat stagiaire</option>
      <option value="Avocat vaudois">Avocat vaudois</option>
      <option value="Avocat-conseil">Avocat-conseil</option>
    </select>
  </div>
    <div class="form-group">
    <label for="municipality" id="municipality_label">Commune</label>
    <datalist id="municipalities">
      <select id="municipality" class="form-control">
        <option value="">Toutes</option>
        <option value="Aigle">Aigle</option>
        <option value="Assens">Assens</option>
        <option value="Belmont-Lausanne">Belmont-Lausanne</option>
        <option value="Bex">Bex</option>
        <option value="Bussigny">Bussigny</option>
        <option value="Chamblon">Chamblon</option>
        <option value="Chavannes-des-Bois">Chavannes-des-Bois</option>
        <option value="Chesières">Chesières</option>
        <option value="Château-d'Oex">Château-d'Oex</option>
        <option value="Clarens">Clarens</option>
        <option value="Corcelles-le-Jorat">Corcelles-le-Jorat</option>
        <option value="Cossonay-Ville">Cossonay-Ville</option>
        <option value="Crans-près-Céligny">Crans-près-Céligny</option>
        <option value="Crissier">Crissier</option>
        <option value="Cully">Cully</option>
        <option value="Dully">Dully</option>
        <option value="Epalinges">Epalinges</option>
        <option value="Etoy">Etoy</option>
        <option value="Genève">Genève</option>
        <option value="Gland">Gland</option>
        <option value="Jongny">Jongny</option>
        <option value="Küsnacht ZH">Küsnacht ZH</option>
        <option value="La Conversion">La Conversion</option>
        <option value="La Croix (Lutry)">La Croix (Lutry)</option>
        <option value="La Tour-de-Peilz">La Tour-de-Peilz</option>
        <option value="Lausanne">Lausanne</option>
        <option value="Locarno">Locarno</option>
        <option value="Lucens">Lucens</option>
        <option value="Lutry">Lutry</option>
        <option value="Martigny">Martigny</option>
        <option value="Mies">Mies</option>
        <option value="Monthey">Monthey</option>
        <option value="Montreux">Montreux</option>
        <option value="Morges">Morges</option>
        <option value="Moudon">Moudon</option>
        <option value="Nyon">Nyon</option>
        <option value="Oron-la-Ville">Oron-la-Ville</option>
        <option value="Payerne">Payerne</option>
        <option value="Prilly">Prilly</option>
        <option value="Préverenges">Préverenges</option>
        <option value="Pully">Pully</option>
        <option value="Renens VD">Renens VD</option>
        <option value="Rolle">Rolle</option>
        <option value="Sion">Sion</option>
        <option value="St-Légier-Chiésaz">St-Légier-Chiésaz</option>
        <option value="St-Prex">St-Prex</option>
        <option value="St-Sulpice VD">St-Sulpice VD</option>
        <option value="Tannay">Tannay</option>
        <option value="Vevey">Vevey</option>
        <option value="Villars-sur-Ollon">Villars-sur-Ollon</option>
        <option value="Villeneuve VD">Villeneuve VD</option>
        <option value="Yens">Yens</option>
        <option value="Yverdon-les-Bains">Yverdon-les-Bains</option>
      </select>
    </datalist>
    <input id="municipality" name="municipality" list="municipalities" class="form-control">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary vd-btn-chevron-r btn-sm">Envoyer</button>
  </div>

</form>

<h2 class="mb-1">Résultats</h2>

<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Sarah Vasseur</h3>
  <p class="h4" property="jobTitle">b a Assistant</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Boulevard Chloé Pierre Charron 0</span><br>
    Case postale <span property="postOfficeBoxNumber">800</span><br>
    <span property="postalCode">1000</span> <span property="addressLocality">New Jade</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Victor7@gmail.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">a a Agent</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>

<hr class="mt-3 mb-3 ml-0 mr-0 vd-separator vd-separator-gray-pattern">
<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Emilie Benoit IV</h3>
  <p class="h4" property="jobTitle">b a Producteur</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Avenue Leroy des Panoramas 1</span><br>
    Case postale <span property="postOfficeBoxNumber">801</span><br>
    <span property="postalCode">1001</span> <span property="addressLocality">Sanchezburgh</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Juliette.Renard@yahoo.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">a b Stagiaire</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>

<hr class="mt-3 mb-3 ml-0 mr-0 vd-separator vd-separator-gray-pattern">
<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Antoine Cousin</h3>
  <p class="h4" property="jobTitle">b c Agent</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Rue Blanchard de la Bûcherie 2</span><br>
    Case postale <span property="postOfficeBoxNumber">802</span><br>
    <span property="postalCode">1002</span> <span property="addressLocality">Port Océane</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Romane.Moreau@hotmail.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">c a Ingenieur</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>

<hr class="mt-3 mb-3 ml-0 mr-0 vd-separator vd-separator-gray-pattern">
<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Evan Arnaud IV</h3>
  <p class="h4" property="jobTitle">b b Stagiaire</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Impasse Gautier du Chat-qui-Pêche 3</span><br>
    Case postale <span property="postOfficeBoxNumber">803</span><br>
    <span property="postalCode">1003</span> <span property="addressLocality">East Nicolaston</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Matto91@gmail.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">a b Directeur</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>

<hr class="mt-3 mb-3 ml-0 mr-0 vd-separator vd-separator-gray-pattern">
<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Manon Garnier</h3>
  <p class="h4" property="jobTitle">c c Analyste</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Allée, Voie Maxime Vaneau 4</span><br>
    Case postale <span property="postOfficeBoxNumber">804</span><br>
    <span property="postalCode">1004</span> <span property="addressLocality">Zoeton</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Lina_Paris56@hotmail.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">a b Designer</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>

<hr class="mt-3 mb-3 ml-0 mr-0 vd-separator vd-separator-gray-pattern">
<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Alice Henry</h3>
  <p class="h4" property="jobTitle">b c Manager</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Impasse Noémie de la Huchette 5</span><br>
    Case postale <span property="postOfficeBoxNumber">805</span><br>
    <span property="postalCode">1005</span> <span property="addressLocality">Maxenceview</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Mathis68@hotmail.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">b c Coordinateur</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>

<hr class="mt-3 mb-3 ml-0 mr-0 vd-separator vd-separator-gray-pattern">
<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Maxence Clement</h3>
  <p class="h4" property="jobTitle">c c Executif</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Rue David de Paris 6</span><br>
    Case postale <span property="postOfficeBoxNumber">806</span><br>
    <span property="postalCode">1006</span> <span property="addressLocality">Lake Louna</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Sarah32@hotmail.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">a a Agent</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>

<hr class="mt-3 mb-3 ml-0 mr-0 vd-separator vd-separator-gray-pattern">
<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Océane Girard IV</h3>
  <p class="h4" property="jobTitle">b b Administrateur</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Quai Bertrand de Paris 7</span><br>
    Case postale <span property="postOfficeBoxNumber">807</span><br>
    <span property="postalCode">1007</span> <span property="addressLocality">Ponsburgh</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Ocane_Poirier48@gmail.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">c c Specialiste</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>

<hr class="mt-3 mb-3 ml-0 mr-0 vd-separator vd-separator-gray-pattern">
<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Benjamin Mercier</h3>
  <p class="h4" property="jobTitle">b c Stagiaire</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Impasse Fontaine de l&#x27;Abbaye 8</span><br>
    Case postale <span property="postOfficeBoxNumber">808</span><br>
    <span property="postalCode">1008</span> <span property="addressLocality">Le gallhaven</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Antoine_Simon@yahoo.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">c b Executif</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>

<hr class="mt-3 mb-3 ml-0 mr-0 vd-separator vd-separator-gray-pattern">
<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Benjamin Laurent</h3>
  <p class="h4" property="jobTitle">a b Ingenieur</p>

  <div class="row">
    <div class="col-md-6">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Place Remy Charlemagne 9</span><br>
    Case postale <span property="postOfficeBoxNumber">809</span><br>
    <span property="postalCode">1009</span> <span property="addressLocality">North Noémie</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fa fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fa fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fa fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Enzo85@hotmail.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">a c Directeur</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>

<hr class="mt-3 mb-3 ml-0 mr-0 vd-separator vd-separator-gray-pattern">

<nav>
  <h3 class="sr-only">Pagination</h2>
  <ul class="list-inline text-center">
    <li class="list-inline-item"><a href="#" class="btn btn-secondary btn-sm vd-btn-chevron-l">Précédent</a></li>
    <li class="list-inline-item"><a href="#" class="btn btn-secondary btn-sm vd-btn-chevron-r">Suivant</a></li>
  </ul>
</nav>

