

<form class="mb-4">
  <legend>Recherche dans le registre des avocats</legend>

  <div class="form-group">
    <label for="name">Nom</label>
    <input class="form-control" type="text" id="name" name="name" value="">
  </div>

  <div class="form-group">
    <label for="category">Catégorie</label>
    <select class="form-control" id="category">
      <option value="">Toutes</option>
      <option value="Avocat Union européenne">Avocat Union européenne</option>
      <option value="Avocat stagiaire">Avocat stagiaire</option>
      <option value="Avocat vaudois">Avocat vaudois</option>
      <option value="Avocat-conseil">Avocat-conseil</option>
    </select>
  </div>
    <div class="form-group">
    <label for="municipality" id="municipality_label">Commune</label>
    <datalist id="municipalities">
      <select id="municipality" class="form-control">
        <option value="">Toutes</option>
        <option value="Aigle">Aigle</option>
        <option value="Assens">Assens</option>
        <option value="Belmont-Lausanne">Belmont-Lausanne</option>
        <option value="Bex">Bex</option>
        <option value="Bussigny">Bussigny</option>
        <option value="Chamblon">Chamblon</option>
        <option value="Chavannes-des-Bois">Chavannes-des-Bois</option>
        <option value="Chesières">Chesières</option>
        <option value="Château-d'Oex">Château-d'Oex</option>
        <option value="Clarens">Clarens</option>
        <option value="Corcelles-le-Jorat">Corcelles-le-Jorat</option>
        <option value="Cossonay-Ville">Cossonay-Ville</option>
        <option value="Crans-près-Céligny">Crans-près-Céligny</option>
        <option value="Crissier">Crissier</option>
        <option value="Cully">Cully</option>
        <option value="Dully">Dully</option>
        <option value="Epalinges">Epalinges</option>
        <option value="Etoy">Etoy</option>
        <option value="Genève">Genève</option>
        <option value="Gland">Gland</option>
        <option value="Jongny">Jongny</option>
        <option value="Küsnacht ZH">Küsnacht ZH</option>
        <option value="La Conversion">La Conversion</option>
        <option value="La Croix (Lutry)">La Croix (Lutry)</option>
        <option value="La Tour-de-Peilz">La Tour-de-Peilz</option>
        <option value="Lausanne">Lausanne</option>
        <option value="Locarno">Locarno</option>
        <option value="Lucens">Lucens</option>
        <option value="Lutry">Lutry</option>
        <option value="Martigny">Martigny</option>
        <option value="Mies">Mies</option>
        <option value="Monthey">Monthey</option>
        <option value="Montreux">Montreux</option>
        <option value="Morges">Morges</option>
        <option value="Moudon">Moudon</option>
        <option value="Nyon">Nyon</option>
        <option value="Oron-la-Ville">Oron-la-Ville</option>
        <option value="Payerne">Payerne</option>
        <option value="Prilly">Prilly</option>
        <option value="Préverenges">Préverenges</option>
        <option value="Pully">Pully</option>
        <option value="Renens VD">Renens VD</option>
        <option value="Rolle">Rolle</option>
        <option value="Sion">Sion</option>
        <option value="St-Légier-Chiésaz">St-Légier-Chiésaz</option>
        <option value="St-Prex">St-Prex</option>
        <option value="St-Sulpice VD">St-Sulpice VD</option>
        <option value="Tannay">Tannay</option>
        <option value="Vevey">Vevey</option>
        <option value="Villars-sur-Ollon">Villars-sur-Ollon</option>
        <option value="Villeneuve VD">Villeneuve VD</option>
        <option value="Yens">Yens</option>
        <option value="Yverdon-les-Bains">Yverdon-les-Bains</option>
      </select>
    </datalist>
    <input id="municipality" name="municipality" list="municipalities" class="form-control">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-dark">Envoyer</button>
  </div>

</form>

<h2 class="mb-3">97 résultats trouvés</h2>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Antoine Nguyen</h3>
  <p class="h4" property="jobTitle">a a Consultant</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Avenue  1</span><br>
    Case postale <span property="postOfficeBoxNumber">801</span><br>
    <span property="postalCode">1001</span> <span property="addressLocality">Port Théoton</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Gabriel76@hotmail.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">a b Directeur</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Marie Riviere</h3>
  <p class="h4" property="jobTitle">c c Architecte</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Quai  2</span><br>
    Case postale <span property="postOfficeBoxNumber">802</span><br>
    <span property="postalCode">1002</span> <span property="addressLocality">Zoeland</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Arthur_Clement46@hotmail.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">a b Producteur</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Alice Mercier</h3>
  <p class="h4" property="jobTitle">c c Agent</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Avenue  3</span><br>
    Case postale <span property="postOfficeBoxNumber">803</span><br>
    <span property="postalCode">1003</span> <span property="addressLocality">Alexischester</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Rayan_Marty@yahoo.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">b c Designer</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">M Lucie Lopez</h3>
  <p class="h4" property="jobTitle">b b Assistant</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Boulevard  4</span><br>
    Case postale <span property="postOfficeBoxNumber">804</span><br>
    <span property="postalCode">1004</span> <span property="addressLocality">Port Louville</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Mathis.Nguyen@yahoo.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">c b Producteur</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Mlle Gabriel Duval</h3>
  <p class="h4" property="jobTitle">b c Stagiaire</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Avenue  5</span><br>
    Case postale <span property="postOfficeBoxNumber">805</span><br>
    <span property="postalCode">1005</span> <span property="addressLocality">West Lucasburgh</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Valentin_Dupuy99@gmail.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">c c Developpeur</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Camille Robin</h3>
  <p class="h4" property="jobTitle">a a Ingenieur</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Impasse  6</span><br>
    Case postale <span property="postOfficeBoxNumber">806</span><br>
    <span property="postalCode">1006</span> <span property="addressLocality">East Lina</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Valentin.Lemoine@yahoo.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">c b Superviseur</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Prof Paul Marty</h3>
  <p class="h4" property="jobTitle">b b Consultant</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Allée, Voie  7</span><br>
    Case postale <span property="postOfficeBoxNumber">807</span><br>
    <span property="postalCode">1007</span> <span property="addressLocality">Lucasbury</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Lola18@yahoo.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">a a Developpeur</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Adam Joly</h3>
  <p class="h4" property="jobTitle">c b Technicien</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Passage  8</span><br>
    Case postale <span property="postOfficeBoxNumber">808</span><br>
    <span property="postalCode">1008</span> <span property="addressLocality">East Anaïs</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Clia15@hotmail.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">a a Specialiste</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Thomas Dubois</h3>
  <p class="h4" property="jobTitle">b a Analyste</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Allée, Voie  9</span><br>
    Case postale <span property="postOfficeBoxNumber">809</span><br>
    <span property="postalCode">1009</span> <span property="addressLocality">Laurentborough</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Mohamed_Collet5@yahoo.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">c b Directeur</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>


<div vocab="http://schema.org/" typeof="Person">
  <h3 property="name">Mael Poirier</h3>
  <p class="h4" property="jobTitle">b b Assistant</p>

  <div class="row">
    <div class="col-md-4">
      <p property="address" typeof="PostalAddress"><span property="streetAddress">Avenue  10</span><br>
    Case postale <span property="postOfficeBoxNumber">8010</span><br>
    <span property="postalCode">10010</span> <span property="addressLocality">Quentinchester</span></p>
      <ul class="vd-list-icons">
        <li>
          <span class="fas fa-phone" aria-hidden="true"></span>
          <span class="sr-only" title="Téléphone">Téléphone</span>
          <a href="tel:+41211234567" property="telephone">+41 21 123 45 67</a>
        </li>
        <li>
          <span class="fas fa-fax" aria-hidden="true"></span>
            <span class="sr-only">Fax</span>
            <span>+41 21 123 45 67</span>
        </li>
        <li>
          <span class="fas fa-envelope" aria-hidden="true"></span>
          <span class="sr-only">Courriel</span>
          <a href="mailto:" property="email">Pierre_Hubert@yahoo.fr</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <dl class="row">
        <dt class="col-md-6">Titre</dt>
        <dd class="col-md-6">c a Manager</dd>

        <dt class="col-md-6">Inscription au registre</dt>
        <dd class="col-md-6">29.12.2016</dd>

        <dt class="col-md-6">Assermentation</dt>
        <dd class="col-md-6">29.12.2016</dd>
      </dl>
    </div>
  </div>

</div>



<nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list"><li class="vd-pagination__item vd-pagination__item--previous">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Page précédente
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">11 sur 244</span></a>
    </li><li class="vd-pagination__item vd-pagination__item--next">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          Page suivante
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">13 sur 244</span></a>
    </li>
  </ul>
</nav>


