

<h2 class="sr-only">Foire aux questions</h2>

<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4 px-3">
  <h3 class="mt-0">Rechercher dans les questions</h3>

<form class="input-group vd-search-form-regular" action="#">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form" type="text" class="form-control"  aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
  </span>
</form>

</div>

<h3>Questions</h3>

<ul class="vd-list-links">
  
    <li><a href="#faq-Dig...">Dignissimos incidunt nemo nihil quasi et ea. ?</a></li>
  
    <li><a href="#faq-Odi...">Odio rem et animi consequuntur beatae et in exercitationem voluptates. ?</a></li>
  
    <li><a href="#faq-Del...">Delectus officiis aperiam eveniet beatae. ?</a></li>
  
    <li><a href="#faq-Qui...">Quidem consequuntur corrupti recusandae repellendus nostrum. ?</a></li>
  
    <li><a href="#faq-Mol...">Molestiae consequatur officia. ?</a></li>
  
    <li><a href="#faq-Vol...">Voluptas laboriosam ea ea sapiente. ?</a></li>
  
    <li><a href="#faq-Et...">Et quia amet. ?</a></li>
  
    <li><a href="#faq-Cup...">Cupiditate atque voluptatem et officia facilis ex quis perferendis. ?</a></li>
  
    <li><a href="#faq-Et...">Et et laboriosam deleniti incidunt quia animi. ?</a></li>
  
    <li><a href="#faq-Et...">Et ut sequi. ?</a></li>
  
</ul>

<h3 class="sr-only">Réponses</h3>


  <article id="faq-Dig...">
  <h4>Dignissimos incidunt nemo nihil quasi et ea.  xx</h4>
  <p>Recusandae eligendi quis voluptatem voluptatem at. Placeat a amet qui ducimus voluptatem amet impedit debitis esse. Ut rerum recusandae ad quod autem dolor molestias. Qui suscipit quae quae dolores. Reprehenderit veritatis vel accusamus dolore voluptatum asperiores vel laudantium occaecati.
 Rem ut omnis tempore maxime eveniet vero laborum unde id. Enim quas adipisci in rerum sequi. Earum sint vero quaerat sint odit qui quia. Nam numquam reiciendis atque et labore. Beatae nihil neque dignissimos autem impedit. Sed repellendus quis facere minus ipsa assumenda consequatur.
 Est et provident perspiciatis mollitia esse pariatur dolorem voluptas. Reprehenderit veritatis dolor. Illum nisi alias aperiam facilis aut sit quidem ut. Fugit eos corrupti officia pariatur velit.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Alice Riviere</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Odi...">
  <h4>Odio rem et animi consequuntur beatae et in exercitationem voluptates.  xx</h4>
  <p>Cumque dolore eveniet repellendus sed sit voluptas. Aut sunt earum quis distinctio. Quam eveniet nemo velit vero tempora qui.
 Adipisci autem aut non. Sed debitis facilis. Quas consequuntur magnam voluptatem.
 Qui nulla vero laboriosam quisquam. Possimus perferendis cupiditate quo id culpa magnam est. Vero excepturi ut odio ipsum voluptatum. Quia quidem tempora quod ratione. Quae est dicta consequatur ut est.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Gabriel Guillot</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Del...">
  <h4>Delectus officiis aperiam eveniet beatae.  xx</h4>
  <p>Consequatur magni cumque illo dolore dicta pariatur sapiente reiciendis. Sunt quam rerum consectetur blanditiis incidunt perferendis omnis voluptatem. Porro sint aut molestiae. Doloribus tempora sunt rerum magnam quia. Labore temporibus facilis sit quod dolore voluptate enim occaecati. Aut eligendi quia tempore.
 Sint quia sint. Et molestiae ut dolore qui assumenda sunt tempora. Et repudiandae ut. Doloremque odio voluptates ut vel quos ut quae. Corrupti illo modi quis qui quis placeat corrupti.
 Corrupti aut sequi dolorem illum consequatur voluptatem. Asperiores sed eum voluptatibus ea non vel illum. Vero sit nisi.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Julien Pierre</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Qui...">
  <h4>Quidem consequuntur corrupti recusandae repellendus nostrum.  xx</h4>
  <p>Rem et aut sed nesciunt libero sed sunt officiis. Voluptatem maxime in sit modi eum. Et quia quae qui. Impedit nostrum dolores illum sunt optio alias odio dolores omnis. Natus assumenda ducimus. Iste quis quas quidem dolores explicabo pariatur cupiditate voluptatem aperiam.
 Expedita quam corrupti blanditiis necessitatibus ut odit rerum et. Eum numquam quia in quia. Cum debitis nobis deserunt illum aspernatur adipisci vel asperiores. Amet ut ut eum. Non minus voluptas similique perferendis voluptas sunt aut nobis. Ut perspiciatis fugiat.
 Corporis et laboriosam enim quam autem. Iure mollitia dolores. Porro aliquid quae deserunt rerum. Consectetur enim iure voluptas laborum. Numquam adipisci minima laboriosam nesciunt atque sunt nesciunt libero. Cupiditate rerum commodi voluptates architecto.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Mohamed Le gall</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Mol...">
  <h4>Molestiae consequatur officia.  xx</h4>
  <p>Labore voluptatem non ducimus. Aut sit quibusdam ut odio distinctio vitae labore sed ipsa. Minima quae numquam. Quo ab commodi ut incidunt fuga sequi dignissimos rerum optio.
 Porro esse minus sit. Aspernatur qui sunt. Aut minima a autem. Facilis non excepturi non dolorem animi doloribus.
 Iure corporis esse voluptatem sit aut fuga. Ullam culpa est ad id. Aut explicabo facere nulla dicta optio.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Axel Roussel</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Vol...">
  <h4>Voluptas laboriosam ea ea sapiente.  xx</h4>
  <p>Quam et in praesentium laudantium repellat dolores laudantium. Adipisci natus et voluptas est nemo neque. Et rem officia dolorem quis nobis distinctio molestias. Voluptatem commodi optio vitae velit earum temporibus molestiae laboriosam impedit.
 Eveniet voluptatem nobis placeat dicta est. Et quia neque rerum quis nihil. Aut voluptatem id et incidunt perferendis ullam. Ducimus harum porro. Quia aliquam veniam aut placeat. Laudantium mollitia qui quia.
 Est sed rerum et unde. Laudantium voluptatem alias tenetur qui molestias sequi enim. Aut eos quia et reiciendis est quisquam facere doloribus. Enim vero dolore est et tempora assumenda. Expedita voluptatum qui.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Noémie Colin</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Et...">
  <h4>Et quia amet.  xx</h4>
  <p>Architecto dolor facilis et et cumque veritatis accusamus quo labore. Et aut quo molestiae alias nobis hic sit. Alias deleniti cum fugit soluta.
 Consequatur deleniti incidunt expedita culpa eaque voluptatem quaerat qui explicabo. Aut dicta et dolorum ipsam aliquid ex suscipit autem. Voluptas praesentium tempore veniam. Nisi culpa est temporibus. Sed veritatis debitis ea.
 Accusantium rem suscipit impedit. Nihil reiciendis ex architecto necessitatibus porro molestiae aut nihil. Consequatur quia aut aut dolore magni.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Mathis Philippe</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Cup...">
  <h4>Cupiditate atque voluptatem et officia facilis ex quis perferendis.  xx</h4>
  <p>Quasi quis voluptas voluptatibus enim ut omnis eveniet et. Officiis quam asperiores ut quia aut illum ea. Cupiditate dicta provident reprehenderit eius et quibusdam voluptas. Nihil eum corrupti aut. Est enim mollitia ullam.
 Unde et consequatur eos. Repudiandae quidem non commodi dicta ullam et. Ratione sequi error est est quod quaerat. Enim officia eum nesciunt quam et rerum occaecati praesentium doloribus.
 Dolores earum velit veniam et enim dignissimos animi eligendi ut. Recusandae culpa et repellendus nemo quo qui aut. Hic labore quo facere voluptas atque. Et aut eos non sit unde expedita. Quia eos quia excepturi qui.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Louis Mercier</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Et...">
  <h4>Et et laboriosam deleniti incidunt quia animi.  xx</h4>
  <p>Molestiae ipsam asperiores repudiandae aut sed consequuntur iste sapiente. Molestiae temporibus repellat facere reprehenderit eaque. Dolores id tempore voluptatibus sapiente laboriosam. Qui delectus enim ratione voluptatem ad corrupti architecto laborum. Repellendus voluptatem rem culpa. Esse temporibus laborum veritatis ex fugiat quas eos architecto.
 Nihil enim distinctio sit atque praesentium eligendi. Fugiat similique molestiae et. Iusto in corrupti maiores quam omnis unde. Error beatae nam ea. Quod et corporis eum alias provident nobis rem eos enim.
 Et iste voluptates deleniti hic sunt porro quia dolorem est. Quam minus similique cupiditate ut. Fugiat inventore modi in ipsum. Id rerum maxime nulla. Eligendi pariatur enim.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Louis Baron</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Et...">
  <h4>Et ut sequi.  xx</h4>
  <p>Ab aut consequatur pariatur amet velit sequi aperiam ut illo. Dolore voluptatem ut fugit ex qui ut impedit. Optio deleniti consequatur in quia aspernatur consequatur voluptatem. Odio quo recusandae error facilis ea. Soluta error nostrum. Quia magnam ea sequi odit.
 Veritatis perspiciatis quia pariatur at exercitationem. At nemo officia rem. Recusandae libero nihil blanditiis libero vero.
 Molestiae asperiores deleniti soluta qui minus. Soluta omnis ut vel accusantium autem sunt similique. Eos consequatur iure eaque delectus ea qui accusantium harum. Voluptatem velit velit sit dolorem enim dolores.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Alicia Rousseau</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>



