

<h2 class="sr-only">Foire aux questions</h2>

<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4 px-3">
  <h4 class="mt-0">Rechercher dans les questions</h4>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les questions</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

</div>

<h3>Questions</h3>

<ul class="vd-list-links">
  
    <li><a href="#faq-Vel...">Velit dignissimos ab et ullam. ?</a></li>
  
    <li><a href="#faq-Sed...">Sed est aut reprehenderit adipisci qui ut animi. ?</a></li>
  
    <li><a href="#faq-Sin...">Sint et dolores ad quaerat. ?</a></li>
  
    <li><a href="#faq-Sim...">Similique ex voluptatem. ?</a></li>
  
    <li><a href="#faq-Acc...">Accusamus ex ratione dolore ipsam. ?</a></li>
  
    <li><a href="#faq-Par...">Pariatur quia quis accusamus laborum voluptatem. ?</a></li>
  
    <li><a href="#faq-Qui...">Qui laborum dolor ut provident voluptas voluptatum repellat. ?</a></li>
  
    <li><a href="#faq-Eum...">Eum quia sed est dolor itaque. ?</a></li>
  
    <li><a href="#faq-Nih...">Nihil ut blanditiis velit. ?</a></li>
  
    <li><a href="#faq-Eos...">Eos sed quo rerum illum iure et dolorem. ?</a></li>
  
</ul>

<h3 class="sr-only">Réponses</h3>


  <article id="faq-Vel...">
  <h4>Velit dignissimos ab et ullam.  xx</h4>
  <p>Non quas ut maiores incidunt non. Consequatur quaerat quisquam qui perferendis est. Dolorem dolores voluptas vitae aut aut vitae nisi non. Ea consequuntur cumque dolores. In ut ut et accusantium consequatur. Laboriosam quidem sequi reprehenderit consequatur.
 Officiis illum hic. Sapiente quibusdam dolor eius magnam dignissimos eum soluta. Sed sed tempora excepturi. Incidunt sequi tempora deleniti consequatur voluptate. Totam et aut necessitatibus ipsum porro eligendi ut facere. At vero rem rerum laboriosam enim a vel.
 Dolorem sint eum esse. Corrupti est voluptates voluptates et rerum. Velit itaque ea quo explicabo. Quis atque temporibus possimus doloremque voluptas rem odit maiores. Aliquam illo est omnis aliquam illo sit ut.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Valentin Brunet</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Sed...">
  <h4>Sed est aut reprehenderit adipisci qui ut animi.  xx</h4>
  <p>Similique inventore tempora. Distinctio officia debitis et illum ut dolorum vel perferendis blanditiis. Quia vel sed iste tempora. Fugiat exercitationem tempora. Quidem voluptate qui aperiam perferendis esse dolorem deserunt est laborum.
 Minima vero earum amet non quod quas unde ipsam facere. Earum sunt et qui est eaque. Repellat voluptate dignissimos exercitationem sequi ea est molestias officia. Quidem fuga vero nobis quia et facere. Optio error soluta mollitia atque culpa dolorem. Voluptatibus repellat aperiam sint optio laudantium aliquam officiis.
 Voluptatem dolorem harum minima at cumque pariatur rerum. Ipsa quidem autem impedit. Voluptatibus velit ut nihil. Possimus saepe at dolores.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Maeva Guillaume</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Sin...">
  <h4>Sint et dolores ad quaerat.  xx</h4>
  <p>Ea dicta ut rerum sit aut delectus suscipit totam. Ut nam quia repudiandae labore vel exercitationem est. Voluptatibus maxime dolores ratione quasi rem quis nemo qui tempora. Iure possimus accusamus molestiae nulla repudiandae. Nulla accusamus autem.
 Sapiente repudiandae omnis dolor magnam sunt dolorem nesciunt. Suscipit exercitationem eos illo omnis ullam soluta. Veritatis assumenda quasi quos ea itaque ut aspernatur animi.
 Non aperiam dolor itaque et voluptas nemo dolor quas. Et aut at quasi non. Dolores doloribus ducimus dolores.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Baptiste Aubry</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Sim...">
  <h4>Similique ex voluptatem.  xx</h4>
  <p>Assumenda in doloremque unde quisquam corporis aut saepe accusantium. Doloremque voluptatem est cupiditate doloremque odio. Facere nesciunt atque nesciunt voluptas est dolore dolor. Ut illum consectetur ratione repellat iusto fuga repellat dolor.
 Nihil assumenda repellendus earum. Velit porro iure et reprehenderit culpa laborum quo magni. Nesciunt ut iusto quisquam cupiditate. Quia ab mollitia.
 Tempore dolore aut. In ut aperiam exercitationem omnis numquam rerum corrupti cum quibusdam. Officia ullam perspiciatis est.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Arthur Garnier</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Acc...">
  <h4>Accusamus ex ratione dolore ipsam.  xx</h4>
  <p>Harum repudiandae cupiditate. Aut et delectus recusandae. Quo rerum exercitationem. Sed esse recusandae consequatur assumenda. Sit omnis et eveniet qui nulla.
 Consequatur deserunt velit. Qui doloribus quas vel illo. Incidunt omnis sint. Soluta natus quisquam adipisci est molestias iure qui dolores libero. Quibusdam quia itaque cum et eveniet voluptatibus numquam occaecati.
 Sint rem nisi qui autem ad. Repellat recusandae explicabo dolores sit delectus quam sapiente et. Natus sunt aut incidunt. Dolores animi omnis iusto dolores provident cumque.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Léa Fournier</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Par...">
  <h4>Pariatur quia quis accusamus laborum voluptatem.  xx</h4>
  <p>Et asperiores voluptatem dolor dicta placeat ullam sed praesentium. Deserunt aliquam impedit officiis deserunt id ipsa distinctio error. Quod est totam qui.
 Ut aut dolores suscipit dolor omnis explicabo eos. Dicta adipisci eligendi inventore voluptate voluptatum fuga. Vel magni sequi nihil modi dolores. Labore ab quos ipsa eaque nihil. Possimus maxime repellat aut sed est quo temporibus. Similique eum maiores.
 Architecto rerum tempora. At veritatis provident atque autem assumenda dignissimos quas voluptatum. Quo omnis quidem quam non. Tempore magnam velit aut totam aut.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Baptiste Bernard</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Qui...">
  <h4>Qui laborum dolor ut provident voluptas voluptatum repellat.  xx</h4>
  <p>Quia veniam incidunt quo velit voluptatem. Est et aspernatur occaecati provident voluptas officia cupiditate corrupti facilis. Consequatur quidem facere labore atque ad animi sint.
 Repellendus quia omnis est nisi rerum et enim ut architecto. Et harum voluptatem rerum. Voluptatibus occaecati reiciendis necessitatibus voluptate odit amet est. Facere repellat voluptatem.
 Ab corporis voluptatem tempore perferendis. Aut eaque alias voluptas ab et reprehenderit ut. Amet quis neque.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Mathis Richard</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Eum...">
  <h4>Eum quia sed est dolor itaque.  xx</h4>
  <p>Deserunt quos saepe et error. Nulla perferendis asperiores. Dolores voluptates ullam impedit voluptatem tenetur sed aliquid reiciendis.
 Quisquam sequi est enim cumque voluptates iure numquam quia inventore. Ea est recusandae accusamus vel omnis est aspernatur excepturi voluptas. Sequi temporibus rerum.
 Error deserunt expedita animi eius voluptate totam in. Eos ut voluptatem incidunt ea rerum nihil tempore praesentium. Nihil sit ex dolorum aut.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Paul Robin</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Nih...">
  <h4>Nihil ut blanditiis velit.  xx</h4>
  <p>Nesciunt eos occaecati fugit ut quos id. Reiciendis occaecati illum sequi quia qui accusantium alias. Et corporis quod possimus officia inventore ad libero.
 Et asperiores vel reprehenderit odit itaque et id itaque. Consectetur et delectus placeat odit et qui velit non. Omnis natus vero sit reiciendis. Consequatur molestiae quos consequatur et quia vero. Ipsam reprehenderit ut sit similique suscipit.
 Suscipit non aspernatur. Voluptatem asperiores magni sapiente eos quisquam. Quo voluptas blanditiis recusandae nisi explicabo et esse. Voluptates consequatur aliquid nihil molestiae error aut.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Clémence Fournier</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Eos...">
  <h4>Eos sed quo rerum illum iure et dolorem.  xx</h4>
  <p>Aut animi dolor. Ut culpa quis iure. Sapiente et rerum neque voluptas et et ut. Recusandae ut facere voluptas laborum alias architecto.
 Aperiam reiciendis harum consequatur a nesciunt numquam aut similique rerum. Veritatis et libero iste. Quos voluptatem nostrum sed. Incidunt sunt vel expedita rem quo laudantium. Illum earum vel non totam culpa quibusdam consequatur esse.
 Et laudantium numquam. Doloremque magnam asperiores molestiae fugiat aliquid corrupti et culpa. Et et praesentium et ipsum itaque tempore sed debitis officia. Consequatur quibusdam possimus.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Paul Dufour</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>



