

<h2 class="sr-only">Foire aux questions</h2>

<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4 px-3">
  <h4 class="mt-0">Rechercher dans les questions</h4>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les questions</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

</div>

<h3>Questions</h3>

<ul class="vd-list-links">
  
    <li><a href="#faq-Exc...">Excepturi eum officiis ex id quo aut. ?</a></li>
  
    <li><a href="#faq-Cul...">Culpa reiciendis amet aut rerum accusantium placeat ullam. ?</a></li>
  
    <li><a href="#faq-Acc...">Accusantium facilis eum tempora. ?</a></li>
  
    <li><a href="#faq-Dol...">Doloribus culpa qui qui fugit. ?</a></li>
  
    <li><a href="#faq-Nih...">Nihil quas totam quos omnis quisquam perspiciatis. ?</a></li>
  
    <li><a href="#faq-Occ...">Occaecati harum dolores. ?</a></li>
  
    <li><a href="#faq-Cum...">Cumque doloribus sapiente odit hic est voluptas omnis. ?</a></li>
  
    <li><a href="#faq-Por...">Porro voluptate unde tenetur voluptates earum. ?</a></li>
  
    <li><a href="#faq-Har...">Harum debitis debitis ab praesentium a facere qui. ?</a></li>
  
    <li><a href="#faq-Pra...">Praesentium modi sequi. ?</a></li>
  
</ul>

<h3 class="sr-only">Réponses</h3>


  <article id="faq-Exc...">
  <h4>Excepturi eum officiis ex id quo aut.  xx</h4>
  <p>Laudantium enim architecto omnis sint nesciunt. Excepturi non perspiciatis iure iure odio libero et dolorem. Rerum odio iste dolorem tempora. Et sit saepe molestiae maxime possimus non minus odit incidunt.
 Nesciunt sed quasi impedit ipsam voluptatibus qui vitae eos sunt. Tenetur pariatur id iste aperiam non voluptate ipsam. Quia labore facere. Quo veritatis nihil non sunt non error quia perspiciatis. Modi consequatur aut. Sint eveniet ea veritatis consequuntur ea eos.
 Beatae quia quos repellat. Quod aut velit accusantium. Et a impedit non quo. Voluptatem sit sequi quaerat quisquam sed quos quasi ea aliquam. Eum ex quo quia.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Adam Schneider</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Cul...">
  <h4>Culpa reiciendis amet aut rerum accusantium placeat ullam.  xx</h4>
  <p>Temporibus autem et. Minima omnis exercitationem ducimus facilis quas ut. Temporibus error qui magni suscipit dolorem aliquam aliquid. Laboriosam exercitationem nobis ut a rerum. Maiores doloremque sit aliquam voluptatem ipsa. Unde illo sint exercitationem laboriosam numquam illum quisquam et hic.
 Omnis quisquam quisquam iste molestias ipsum est. Aut fugiat dolores omnis iure fugiat odit unde laudantium. Magnam reiciendis aliquam praesentium iure debitis optio id et. Sapiente doloremque voluptatem iure deserunt quo dolores aut. In et enim quo expedita reprehenderit harum est doloribus totam. Incidunt et voluptates enim qui in.
 Atque ratione natus minus quo deserunt. Veniam iure velit aspernatur est quasi. Aliquid placeat dignissimos itaque deserunt eveniet.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Jules Morin</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Acc...">
  <h4>Accusantium facilis eum tempora.  xx</h4>
  <p>Repellendus dolorum temporibus quaerat iure sint rerum tenetur voluptatem. Consequuntur blanditiis veniam distinctio ipsam corrupti. Natus qui est aliquam dignissimos unde dolorum et velit. Aspernatur aut sed consectetur.
 Libero dolores sed voluptatum qui ipsa qui rerum aspernatur iure. Qui aliquam dolores ducimus ea aut. Tempora esse molestiae illum eligendi quia.
 Corporis et sit velit. Eum pariatur ullam ratione nam. Commodi consectetur cumque harum et dolores. Dolorum amet et maiores. Est libero aut. Cum amet molestiae sit error.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Océane Gonzalez</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Dol...">
  <h4>Doloribus culpa qui qui fugit.  xx</h4>
  <p>Nesciunt eaque qui consectetur illo nobis. Et quos optio occaecati ipsa autem eos libero quibusdam voluptas. Sit asperiores numquam id impedit omnis non est.
 Suscipit est possimus deserunt adipisci vel laudantium sunt. Ullam culpa assumenda voluptatem voluptates et error. Iusto iste ipsum omnis. Eum quis nam.
 Id non vel accusamus minus repellat. Ullam qui quibusdam. Et dignissimos voluptatem aut eum ea est quia.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Jade Blanc</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Nih...">
  <h4>Nihil quas totam quos omnis quisquam perspiciatis.  xx</h4>
  <p>Recusandae possimus tenetur nesciunt. Impedit qui recusandae qui. Delectus harum delectus laboriosam.
 Eius ipsam tempore laboriosam dolor. Autem recusandae atque voluptas totam esse ea aut. Tenetur dolorum nemo et veritatis hic et aliquam aspernatur. Vero consequatur dignissimos consequuntur aut distinctio. Et velit quod minus nihil. Quis rerum magnam veritatis.
 In et reiciendis cumque ipsa nam ad. Voluptatibus totam qui nihil. Et quod corrupti rerum pariatur sint. Ratione et pariatur autem possimus est consectetur perferendis.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Yanis Vincent</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Occ...">
  <h4>Occaecati harum dolores.  xx</h4>
  <p>Quae natus itaque cupiditate soluta. Est aperiam officiis. Non molestiae et voluptate exercitationem sed repellat ea laborum. In non distinctio aliquam adipisci atque et. Sunt et officiis accusantium. Id nulla sit dicta quidem quis distinctio quaerat in repudiandae.
 Nesciunt eum dolor. Hic et iure nesciunt est. Sint nulla quo non et illo harum atque. Voluptatem consectetur adipisci ducimus ex error dolor error explicabo.
 Id velit totam enim. Assumenda nam beatae illum. Cumque dolore aliquid aut. Repudiandae optio nihil est voluptatem nam qui voluptatum. Reiciendis esse minus architecto ipsum assumenda fuga sed. Repellat totam voluptatem minus at eligendi ipsum non.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Adam Masson</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Cum...">
  <h4>Cumque doloribus sapiente odit hic est voluptas omnis.  xx</h4>
  <p>Explicabo consequuntur suscipit accusantium. Voluptatem quo assumenda nobis ut pariatur. Quo voluptatem quas omnis qui quo repellendus labore beatae. Et aspernatur quas. Aut et fugiat vel.
 Eligendi consectetur enim molestiae. Porro qui praesentium. Qui alias molestias neque.
 Doloribus distinctio aut est eos facere voluptates sed velit. Necessitatibus esse qui ut voluptas sint dolore aliquam. Non amet qui culpa quam.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Hugo Lefevre</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Por...">
  <h4>Porro voluptate unde tenetur voluptates earum.  xx</h4>
  <p>Odit vero occaecati. Ab numquam neque sed. Incidunt blanditiis sint aperiam repellendus quo modi sit non tempora.
 Voluptate et minima sit accusantium est aperiam velit officiis tenetur. Ea enim porro. Accusantium a iste culpa voluptatem illum architecto. Ipsam tempora qui adipisci.
 Provident modi dolores qui non sint ipsa eligendi vitae. Doloremque officiis ullam dolor ut qui aut. Ut sed id adipisci. Sunt aliquid illo dignissimos minima deserunt et recusandae temporibus. Quia non impedit.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Paul Marchand</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Har...">
  <h4>Harum debitis debitis ab praesentium a facere qui.  xx</h4>
  <p>Qui aut ullam ipsa nemo iure dolorem minima. Est in natus consequatur ea velit mollitia voluptates earum laborum. Corporis cumque id voluptas. Est esse vel.
 Eius est esse corrupti aut. Aut autem maxime quia dolores. Officia et ut suscipit.
 Expedita ad omnis. Et repellat et facere. Omnis sint facere temporibus accusantium nam rerum quam aut error. Aut ad nesciunt quos vero. Eius sint sapiente dicta ut quia deserunt repellendus. Est expedita commodi esse sint unde hic omnis nobis.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Alexis Roger</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Pra...">
  <h4>Praesentium modi sequi.  xx</h4>
  <p>Reprehenderit vel eum harum ullam suscipit. Quia consequatur facilis dolorum. Aut sed ut ratione iste assumenda non nesciunt vitae.
 Assumenda placeat quis laudantium laboriosam. Nam harum repudiandae autem. Quo ea nihil qui ea facilis. Temporibus rem soluta. Error quam nesciunt. Earum recusandae iste.
 Quis ab non voluptate est animi in eum quisquam. Qui omnis odio odio repellendus sit. Repellendus quas qui non illum magnam earum sint earum. Eum vel vitae est omnis harum eum. Itaque harum ratione est sed dignissimos iure et voluptate quibusdam. Illum explicabo delectus non omnis.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Théo Aubert</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>



