

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicon-apple-touch-icon.png?v=0.49.0">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png?v=0.49.0">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png?v=0.49.0">
<link rel="manifest" href="../../assets/manifest/site.webmanifest?v=0.49.0">
<link rel="mask-icon" href="../../assets/svg/safari-pinned-tab.svg?v=0.49.0" color="#47d647">
<link rel="shortcut icon" href="../../assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#283549">
<meta name="msapplication-config" content="../../assets/xml/browserconfig.xml?v=0.49.0">
<meta name="theme-color" content="#ffffff">

