


<fieldset class="form-group">
  <legend>Avez-vous déjà un compte utilisateur ?</legend>
    <div class="form-check form-check-inline">
  <input class="form-check-input"
         type="radio" id="exampleYes" name="example" >
  <label class="form-check-label" for="exampleYes">
    Oui
  </label>
</div>

  
    <div class="form-check form-check-inline">
  <input class="form-check-input"
         type="radio" id="exampleNo" name="example" >
  <label class="form-check-label" for="exampleNo">
    Non
  </label>
</div>

  
</fieldset>


