

<div class="vd-form-group-danger">
  <fieldset class="form-group"
    
              aria-describedby="
                                fieldsetHelp
                                fieldsetError
                                ">
  <legend>Quelle est votre nationalité ?</legend><div id="fieldsetError"class="form-control-feedback text-danger"><span class="sr-only">Erreur: </span>Sélectionnez si vous êtes Suisse, Français ou citoyen d&#39;un autre pays</div>
  <small
      id="fieldsetHelp"
      class="form-text text-secondary">Si vous avez la double nationalité, sélectionnez toutes les options qui vous concernent.</small>
  
  
      <div class="form-check">
  <input class="form-check-input"
          type="checkbox"
          value="" id="swiss" name="nationalite" >
  <label class="form-check-label" for="swiss">
    Suisse
  </label>
</div>

    
  
      <div class="form-check">
  <input class="form-check-input"
          type="checkbox"
          value="" id="french" name="nationalite" >
  <label class="form-check-label" for="french">
    Français
  </label>
</div>

    
  
      <div class="form-check">
  <input class="form-check-input"
          type="checkbox"
          value="" id="other" name="nationalite" >
  <label class="form-check-label" for="other">
    Citoyen d&#39;un autre pays
  </label>
</div>

    
  </fieldset>
</div>
