

<div class="vd-form-group-danger">
<fieldset class="form-group">
  <legend>Legend</legend><div class="form-control-feedback text-danger">Veuillez sélectionner une option</div>
    <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" value="" name="example" checked>
    Cras sed ligula eu est cursus eleifend ut id turpis
  </label>
</div>

  
    <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" value="" name="example">
    Fusce feugiat quam vel tellus malesuada, sit amet maximus justo hendrerit
  </label>
</div>

  
    <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" value="" name="example">
    Aenean id est non dui porttitor euismod
  </label>
</div>

  
    <div class="form-check disabled">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" value="" name="example" disabled>
    Phasellus dignissim metus quis blandit varius
  </label>
</div>

  
</fieldset>
</div>

