


<fieldset class="form-group">
  <legend>Legend</legend><div class="form-check">
  <input class="form-check-input"
         type="radio" id="exampleOption1" name="example" checked >
  <label class="form-check-label" for="exampleOption1">
    Cras sed ligula eu est cursus eleifend ut id turpis
  </label>
</div>

  <div class="form-check">
  <input class="form-check-input"
         type="radio" id="exampleOption2" name="example" >
  <label class="form-check-label" for="exampleOption2">
    Fusce feugiat quam vel tellus malesuada, sit amet maximus justo hendrerit
  </label>
</div>

  <div class="form-check">
  <input class="form-check-input"
         type="radio" id="exampleOption3" name="example" >
  <label class="form-check-label" for="exampleOption3">
    Aenean id est non dui porttitor euismod
  </label>
</div>

  <div class="form-check disabled">
  <input class="form-check-input"
         type="radio" id="exampleOption4" name="example" disabled >
  <label class="form-check-label" for="exampleOption4">
    Phasellus dignissim metus quis blandit varius
  </label>
</div>

  </fieldset>

