

<figure class="figure">
  <div class="vd-figure-img-container">
    <picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text&#x3D;eXtra Large|1600x1067">
      <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text&#x3D;Large|960x640">
      <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text&#x3D;Medium|640x427">
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text&#x3D;Default|360x240" class="img-fluid" alt="Alternative text">
    </picture>
    <span class="vd-figure-category">Category</span>
  </div>
  <figcaption class="figure-caption">Ceci est une légende
    <span class="vd-figure-credits">Crédit photo</span>
  </figcaption>
</figure>

