

<header class="header">
  <nav class="vd-access-nav" aria-label="menu accessibilité">
  <ul>
      <li>
        <a class="btn btn-primary" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li><a class="btn btn-primary" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a></li>
      <li>
        <a class="btn btn-primary" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <nav class="text-right" aria-label="sous-navigation">
      <div class="vd-dropdown vd-dropdown-left vd-dropdown-purple btn-group">
  <a data-toggle="dropdown" class="btn dropdown-label">
    <span class="title">Pierre Dupond</span><br>
    <span>Commune de Belmont-sur-Lausanne</span>
  </a>
  <a class="btn dropdown-toggle-split dropdown-chevron" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="fa fa-chevron-down"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>

    </nav>
    <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
  <div class="vd-logo-title">
    <div id="aria-vd-logo">Site officiel<span class="sr-only"> de l'État de Vaud</span></div>
    <img src="../../assets/svg/ETATVAUD.svg" alt="État de Vaud" aria-hidden="true" />
  </div>
</a>

  </div>
</header>


<main id="main">
  <div class="vd-bg-pattern-gray pt-2">
  <div class="container">
    <h1>Commander un extrait du registre des poursuites</h1>
  </div>
</div>


  <div class="container mt-3">
    <h2>Titre de l'étape</h2>
    <p class="h3">Etape 2 de 4</p>
      <div class="row">
        <div class="col-md-8">
          

  <form action="#">

    <div class="form-group">
  <label for="testInput">Nom <span aria-hidden="true">(Requis)</span></label>
  
  <input class="form-control" type="text" id="testInput" name="testInput" value="" required aria-required="true">
</div>


    <div class="form-group">
  <label for="testInput">Prénom <span aria-hidden="true">(Requis)</span></label>
  
  <input class="form-control" type="text" id="testInput" name="testInput" value="" required aria-required="true">
</div>


    <fieldset class="mb-1">

  <legend>Quelle est votre date de naissance ?</legend>

  
  <small id="dates-help" class="form-text text-muted">
    Par exemple, 23 7 1979
  </small>
  

  <div class="vd-form-flex">

    <div class="vd-form-flex__item vd-form-flex__item--2-char-width">
      <div class="form-group">
  <label for="inputDatesDay">Jour</label>
  
  <input class="form-control" type="number" id="inputDatesDay" name="testInput" value="" pattern="[0-9]*" min="1" max="31" size="2">
</div>

    </div>

    <div class="vd-form-flex__item vd-form-flex__item--2-char-width">
      <div class="form-group">
  <label for="inputDatesMonth">Mois</label>
  
  <input class="form-control" type="number" id="inputDatesMonth" name="testInput" value="" pattern="[0-9]*" min="1" max="12" size="2">
</div>

    </div>

    <div class="vd-form-flex__item vd-form-flex__item--4-char-width">
      <div class="form-group">
  <label for="inputDatesYear">Année</label>
  
  <input class="form-control" type="number" id="inputDatesYear" name="testInput" value="" pattern="[0-9]*" min="1950" max="2017" size="4">
</div>

    </div>

  </div>

</fieldset>


    <div class="form-group">
  <label for="testInput">Etablissement</label>
  
  <input class="form-control" type="text" id="testInput" name="testInput" value="">
</div>


    <div class="form-group">
  <label for="testInput">Fonction</label>
  
  <input class="form-control" type="text" id="testInput" name="testInput" value="">
</div>


    <div class="form-group">
  <label for="exampleSelect1">Example select</label>
  <select class="form-control" id="exampleSelect1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div>

<div class="form-group">
  <label for="exampleSelect2">Example multiple select</label>
  <select multiple class="form-control" id="exampleSelect2">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div>


    <div class="form-group">
  <label for="testInput">Adresse <span aria-hidden="true">(Requis)</span></label>
  
  <input class="form-control" type="text" id="testInput" name="testInput" value="" required aria-required="true">
</div>


    <div class="form-group">
  <label for="emailInput">Courriel <span aria-hidden="true">(Requis)</span></label>
  
  <input class="form-control" type="email" id="emailInput" name="testInput" value="" required aria-required="true">
</div>


    <fieldset>
      <legend>Radio</legend>
      <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    Option one is this and that&mdash;be sure to include why it's great
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    Option two can be something else and selecting it will deselect option one
  </label>
</div>
<div class="form-check disabled">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
    Option three is disabled
  </label>
</div>

    </fieldset>

    <fieldset>
      <legend>Checkbox</legend>
      <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Option one is this and that&mdash;be sure to include why it's great
  </label>
</div>
<div class="form-check disabled">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="" disabled>
    Option two is disabled
  </label>
</div>

    </fieldset>

    <div class="form-group">
  <label for="exampleTextarea">Example textarea</label>
  <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
</div>


    <p>
      
    </p>

  </form>


          <nav class="mb-1">
  <h3 class="sr-only">Pagination</h2>
  <ul class="list-unstyled row mb-0">
    <li class="col-xs-6 text-xs-right"><a href="formulaire-prestation--default" class="btn btn-secondary vd-btn-chevron-l">Précédent</a></li>
    <li class="col-xs-6 text-xs-left"><a href="formulaire-prestation--step-3" class="btn btn-primary vd-btn-chevron-r">Suivant</a></li>
  </ul>
</nav>

        </div>
      </div>
  </div>
</main>
<footer class="footer mt-3">
  <div class="container">
    <a href="#" class="footer-btn-backtotop btn btn-sm btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
    <div class="row small">
      <nav aria-label="pied de page" class="col-xs-10">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pourquoi créer un compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mentions légales</a>
          </li>
        </ul>
      </nav>
      <div class="col-xs-2 footer-logo-container">
        <div class="footer-logo">
          <img class="img-fluid" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
        </div>
      </div>
    </div>
  </div>
</footer>


