

<header class="header">
  <nav class="container fixed-top access-nav" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">

    <div class="d-flex flex-column flex-sm-row">

      <div class="mr-auto">
        <a href="../accueil" 
   class="vd-logo" 
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>

      <section class="mt-3">
        <h2 class="sr-only">Votre identité</h2>
        <div class="d-flex flex-column">
          <dl class="mb-0">
            <dt class="sr-only">Nom et prénom</dt>
            <dd class="mb-0"><span class="fa fa-lock" aria-hidden="true"></span> <a href="#" title="Gérer mon compte">Jean Villars Gilles</a></dd>

            <dt class="sr-only">Nom du bénéficiaire</dt>
            <dd class="mb-0">Commune de Belmont-sur-Lausanne</dd>
          </dl>
          <div>
            <p>
              <a href="#">Se déconnecter</a>
            </p>
          </div>
        </div><!-- /.d-flex -->
      </section>

    </div><!-- /.row -->
  </div>
</header>


<main id="main">
  <div class="container">
  <h1>Commander un extrait du registre des poursuites</h1>
</div>


  <div class="container">
    <h2>Titre de l'étape</h2>
    <p class="h3">Etape 1 de 4</p>
      <div class="row">
        <div class="col-md-8">
          

  <form action="formulaire-prestation-confirmation">

    <div 
    class="form-group">
  <label 
    for="name"
    >Nom <span aria-hidden="true">(requis)</span></label>
  
  <input 
    class="form-control" 
    type="text" 
    id="name" 
    name="testInput" 
    value=""
     required aria-required="true"
    
    
    
    
    
    
    
    >
</div>


    <div 
    class="form-group">
  <label 
    for="firstname"
    >Prénom <span aria-hidden="true">(requis)</span></label>
  
  <input 
    class="form-control" 
    type="text" 
    id="firstname" 
    name="testInput" 
    value=""
     required aria-required="true"
    
    
    
    
    
    
    
    >
</div>


    <fieldset>
  <legend>Quelle est votre date de naissance ?</legend>
  <small id="dates-help" class="form-text text-secondary">Par exemple, 23 7 1979</small>
  <div class="vd-form-flex">
    <div class="vd-form-flex__item vd-form-flex__item--2-char-width"><div 
    class="form-group">
  <label 
    for="inputDatesDay"
    >Jour</label>
  
  <input 
    class="form-control" 
    type="number" 
    id="inputDatesDay" 
    name="testInput" 
    value=""
    
    
     pattern="[0-9]*"
     min="1"
     max="31"
     size="2"
    
    
    >
</div>
</div>
    <div class="vd-form-flex__item vd-form-flex__item--2-char-width"><div 
    class="form-group">
  <label 
    for="inputDatesMonth"
    >Mois</label>
  
  <input 
    class="form-control" 
    type="number" 
    id="inputDatesMonth" 
    name="testInput" 
    value=""
    
    
     pattern="[0-9]*"
     min="1"
     max="12"
     size="2"
    
    
    >
</div>
</div>
    <div class="vd-form-flex__item vd-form-flex__item--4-char-width"><div 
    class="form-group">
  <label 
    for="inputDatesYear"
    >Année</label>
  
  <input 
    class="form-control" 
    type="number" 
    id="inputDatesYear" 
    name="testInput" 
    value=""
    
    
     pattern="[0-9]*"
     min="1950"
     max="2017"
     size="4"
    
    
    >
</div>
</div>
  </div>
</fieldset>


    <div 
    class="form-group">
  <label 
    for="institution"
    >Etablissement</label>
  
  <input 
    class="form-control" 
    type="text" 
    id="institution" 
    name="testInput" 
    value=""
    
    
    
    
    
    
    
    
    >
</div>


    <div 
    class="form-group">
  <label 
    for="function"
    >Fonction</label>
  
  <input 
    class="form-control" 
    type="text" 
    id="function" 
    name="testInput" 
    value=""
    
    
    
    
    
    
    
    
    >
</div>


    <div class="form-group">
  <label for="exampleSelect1">Catégorie</label>
  <select class="form-control" id="categorie">
    
    <option>Curabitur</option>
    
    <option>Maecenas vel</option>
    
    <option>Suspendisse maximus velit non lacus</option>
    
    <option>Sed maximus</option>
    
    <option>Aliquam cupiditate, vel!</option>
    
    <option>Nunc eget neque sit amet ipsum auctor laoreet</option>
    
  </select>
</div>


    <div class="form-group">
  <label for="exampleSelect1">Catégorie 2</label>
  <select class="form-control" id="categorie2" multiple>
    
    <option>Curabitur</option>
    
    <option selected>Maecenas vel</option>
    
    <option>Suspendisse maximus velit non lacus</option>
    
    <option selected>Sed maximus</option>
    
    <option>Aliquam cupiditate, vel!</option>
    
    <option>Nunc eget neque sit amet ipsum auctor laoreet</option>
    
  </select>
</div>


    <div class="form-group">
  <label for="testDataInput" id="testDataInputLabel">Quel est votre fruit favoris ?</label>
  <datalist id="list">
    <select class="form-control" name="testDataInput" aria-labelledby="testDataInputLabel">
      <option>Abricot</option>
      <option>Ananas</option>
      <option>Citron</option>
      <option>Fruit de la passion</option>
      <option>Grenade</option>
      <option>Groseille</option>
      <option>Kaki</option>
      <option>Kiwi</option>
    </select> <small id="testDataInputfallbackLabel" class="form-text">Merci de le spécifier s'il ne figure pas dans la liste</small>
  </datalist>
  <input id="testDataInput" class="form-control" name="state" list="list" aria-labelledby="testDataInputfallbackLabel">
</div>


    <div 
    class="form-group">
  <label 
    for="address"
    >Adresse <span aria-hidden="true">(requis)</span></label>
  
  <input 
    class="form-control" 
    type="text" 
    id="address" 
    name="testInput" 
    value=""
     required aria-required="true"
    
    
    
    
    
    
    
    >
</div>


    <div 
    class="form-group">
  <label 
    for="email"
    >Courriel <span aria-hidden="true">(requis)</span></label>
  
  <input 
    class="form-control" 
    type="email" 
    id="email" 
    name="testInput" 
    value=""
     required aria-required="true"
    
    
    
    
    
    
    
    >
</div>


    <fieldset>
      <legend>Radio</legend>
      <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" value="">
    Sed eu magna eget augue tincidunt semper
  </label>
</div>

    </fieldset>

    <fieldset>
      <legend>Checkbox</legend>
      <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Consectetur adipisicing elit
  </label>
</div>

    </fieldset>

    <div class="form-group">
  <label for="testTextarea">Example textarea</label><textarea class="form-control" type="" id="testTextarea" rows="3" ></textarea>
</div>


    <nav>
    <h3 class="sr-only">Pagination</h3>
    <div class="d-flex justify-content-between">
        
        <a href="#"title="Suivant link to somewhere"class="btn btn-link"
   >Suivant <span class="fa fa-chevron-right" aria-hidden="true"></span>
</a>

        </div>
</nav>


  </form>

        </div>
      </div>
  </div>
</main>


<footer class="mt-5">

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark vd-btn-chevron-t" title="Retour vers le haut de la page">Haut <span class="fa fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              
              <ul class="list-unstyled"><li><a href="">Contact</a></li><li><a href="">Pourquoi créer un compte</a></li><li><a href="">Mentions légales</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100">
              <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


