

<header class="header">
  <nav class="vd-access-nav" aria-label="menu accessibilité">
  <ul>
      <li>
        <a class="btn btn-primary" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li><a class="btn btn-primary" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a></li>
      <li>
        <a class="btn btn-primary" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <nav>
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="nav small justify-content-end">
    
    <li class="nav-item">
      <a href="#" class="nav-link active"><span class="sr-only">page active: </span>Mon compte</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Paramètres</a>
    </li>
    
    <li class="nav-item">
      <a href="accueil" class="nav-link">Se déconnecter</a>
    </li>
    
  </ul>
</nav>


    <div class="row">

      <section class="col-sm-6 push-sm-6 text-right pr-2">
        <h2 class="sr-only">Votre identité</h2>
        <dl>
          <dt class="sr-only">Nom et prénom</dt>
          <dd class="font-weight-bold mb-0 small">Aellen Cédric</dd>

          <dt class="sr-only">Nom du bénéficiaire</dt>
          <dd class="mb-0 small text-muted">Commune de Servion</dd>
        </dl>
      </section>

      <div class="col-sm-6 pull-sm-6">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
  <div class="vd-logo-title">
    <div id="aria-vd-logo">Site officiel<span class="sr-only"> de l'État de Vaud</span></div>
    <img src="../../assets/svg/ETATVAUD.svg" alt="État de Vaud" aria-hidden="true" />
  </div>
</a>

      </div>

    </div>
  </div>
</header>

