

<header class="header">
  <nav class="vd-access-nav" aria-label="menu accessibilité">
  <ul>
      <li>
        <a class="btn btn-primary" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li><a class="btn btn-primary" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a></li>
      <li>
        <a class="btn btn-primary" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">

    <div class="d-flex flex-column flex-sm-row">

      <div class="mr-auto">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
  <div class="vd-logo-title">
    <div id="aria-vd-logo">Site officiel<span class="sr-only"> de l'État de Vaud</span></div>
    <img src="../../assets/svg/ETATVAUD.svg" alt="État de Vaud" aria-hidden="true" />
  </div>
</a>

      </div>

      <section class="mt-1">
        <h2 class="sr-only">Votre identité</h2>
        <div class="d-flex flex-column">
          <dl class="mb-0">
            <dt class="sr-only">Nom et prénom</dt>
            <dd class="mb-0"><span class="fa fa-lock"></span> <a href="#" title="Gérer mon compte">Jean Villars Gilles</a></dd>

            <dt class="sr-only">Nom du bénéficiaire</dt>
            <dd class="mb-0">Commune de Belmont-sur-Lausanne</dd>
          </dl>
          <div>
            <p>
              <a href="#">Se déconnecter</a>
            </p>
          </div>
        </div><!-- /.d-flex -->
      </section>

    </div><!-- /.row -->
  </div>
</header>



<div class="container mb-2">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand">Menu</span>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="tableau-de-bord">Tableau de bord</a>
      </li><li class="nav-item mb-lg-0  active">
        <a class="nav-link" href="historique"><span class="sr-only">(current)</span> Historique</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="prestations">Préstations</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="documents">Documents</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="parametres">Paramètres</a>
      </li>
    </ul>
  </div>
</nav>

</div>


<main id="main">
  <div class="container mb-2">
  <h1>Historique</h1>
</div>


  <div class="container">
    

<h3 class="sr-only">Rechercher dans l'historique</h3>

<form action="#">
  <div class="input-group vd-search-form-regular mb-1">
    <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
    <input id="search-form" type="text" class="form-control"  aria-describedby="search-form-label">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
    </span>
  </div>
  <fieldset class="form-group">
  <legend class="sr-only">Rechercher les</legend>
  
    <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Demandes
  </label>
</div>

  
    <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Tâches
  </label>
</div>

  
    <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Messages
  </label>
</div>

  
</fieldset>

</form>


<article>
  <header>
    <h3 class="mb-0"><a href="#">Demande de permis de construire</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>HOX0AI-AJQ7K1</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">9-12-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p>L'utilisateur Benoît Horisberger a initié une demande de permis de construire qui nécessite votre approbation. Veuillez cliquer sur la demande et suivre les instructions.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://romain.fr">You can't override the program without bypassing the haptic HTTP protocol!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>PamDHGy0hYkCNFZ</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">28-11-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Cloturé</dd>
    </dl>
    
  </header>
  <p>Voluptate consectetur blanditiis quisquam dolorum suscipit occaecati suscipit assumenda. Et amet et eligendi molestiae aut et vitae possimus modi. Commodi sed doloremque id soluta.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://julien.net">generating the circuit won't do anything, we need to hack the virtual FTP array!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>jlK_bfgYlNedyyJ</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">24-10-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p>Modi inventore alias aliquam fugit sunt nulla est qui ea. Ut recusandae perspiciatis voluptatem. Laborum et eum. Impedit maxime et corporis quia maiores quia dignissimos. Dolor ipsam consequatur quia facere quia ut. Sint eveniet incidunt sit ea laboriosam quia laudantium dolores.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://carla.fr">overriding the application won't do anything, we need to reboot the open-source SCSI transmitter!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>mssvWnNXbRTN2TC</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">6-9-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Cloturé</dd>
    </dl>
    
  </header>
  <p>Et deleniti laborum odit deserunt harum enim eveniet et.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://maëlle.com">parsing the matrix won't do anything, we need to copy the optical FTP transmitter!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>Ar7PDoSV5Rq4kUt</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">8-8-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p>eveniet velit accusamus</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://ethan.name">We need to synthesize the solid state AI driver!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>tH1ETdSAAhjZzfY</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">15-7-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p>Nesciunt velit rerum et repellat. Saepe veritatis voluptatem voluptates cum et nobis numquam. Corrupti suscipit quis repudiandae aut sit eum iure fugiat.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://pauline.eu">We need to bypass the online SMS sensor!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>GRJA5I3SHhtGz2d</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">23-6-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Cloturé</dd>
    </dl>
    
  </header>
  <p>Id omnis architecto explicabo velit et molestias voluptatum consequuntur illum.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://chloé.name">If we quantify the program, we can get to the SCSI feed through the digital SMTP capacitor!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>03SerQAVLL_lOgL</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">1-5-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Cloturé</dd>
    </dl>
    
  </header>
  <p>est</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://yanis.eu">Try to synthesize the AI firewall, maybe it will generate the online alarm!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>W54puzJ3_2awlQF</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">17-4-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Cloturé</dd>
    </dl>
    
  </header>
  <p>saepe nam praesentium</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://lilou.org">Try to navigate the SCSI array, maybe it will connect the redundant system!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>mOa53LDjRDsmLLT</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">28-3-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p>nulla</p>
  </article>

<nav>
  <h3 class="sr-only">Pagination</h3>
  <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
    <li class="pr-1"><a href="#" class="btn btn-secondary vd-btn-chevron-l">Précédent</a></li>
    <li class="ml-auto"><a href="#" class="btn btn-primary vd-btn-chevron-r">Suivant</a></li>
    
  </ul>
</nav>



  </div>
</main>
<footer class="footer mt-3">
  <div class="container">
    <a href="#" class="footer-btn-backtotop btn btn-sm btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
    <div class="row small">
      <nav aria-label="pied de page" class="col-xs-10">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pourquoi créer un compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mentions légales</a>
          </li>
        </ul>
      </nav>
      <div class="col-xs-2 footer-logo-container">
        <div class="footer-logo">
          <img class="img-fluid" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
        </div>
      </div>
    </div>
  </div>
</footer>


