

<!-- Start: @input--default -->
<div class="form-group">
  <label for="testInput">
    Label
  </label>
  
  <input class="form-control"
         type="text"
         id="testInput"
         name="testInput"
         value="" required aria-required="true">
</div>
<!-- End: @input--default -->

<!-- Start: @input--optional -->
<div class="form-group">
  <label for="testInput">
    Label <span aria-hidden="true">(facultatif)</span>
  </label>
  
  <input class="form-control"
         type="text"
         id="testInput"
         name="testInput"
         value="">
</div>
<!-- End: @input--optional -->

<!-- Start: @input--disabled -->
<div class="form-group">
  <label for="testInput">
    Label
  </label>
  
  <input class="form-control"
         type="text"
         id="testInput"
         name="testInput"
         value="" required aria-required="true" disabled>
</div>
<!-- End: @input--disabled -->

<!-- Start: @input--help-text -->
<div class="form-group">
  <label for="testInput">
    Label
  </label>
  <small
      id="testInputHelp"
      class="form-text text-secondary">Votre courriel n&#39;est pas conservé et ne sera pas communiqué à des organismes tiers.</small>
  
  <input class="form-control"
         type="email"
         id="testInput"
         name="testInput"
         value="" required aria-required="true" aria-describedby="testInputHelp">
</div>
<!-- End: @input--help-text -->

<!-- Start: @input--validation-danger -->
<div class="form-group has-danger vd-form-group-danger">
  <label for="testInput">
    Courriel
  </label>
  <div class="form-control-feedback text-danger">Veuillez saisir votre courriel</div>
  
  <small
      id="testInputHelp"
      class="form-text text-secondary">Votre courriel n&#39;est pas conservé et ne sera pas communiqué à des organismes tiers.</small>
  
  <input class="form-control is-invalid"
         type="email"
         id="testInput"
         name="testInput"
         value="" required aria-required="true" aria-describedby="testInputHelp" aria-invalid="true">
</div>
<!-- End: @input--validation-danger -->

<!-- Start: @input--validation-success -->
<div class="form-group has-success">
  <label for="testInput">
    Label
  </label>
  <div class="form-control-feedback text-success">Succès</div>
  
  
  <input class="form-control"
         type="text"
         id="testInput"
         name="testInput"
         value="" required aria-required="true">
</div>
<!-- End: @input--validation-success -->

<!-- Start: @input--email -->
<div class="form-group">
  <label for="emailInput">
    Courriel
  </label>
  
  <input class="form-control"
         type="email"
         id="emailInput"
         name="testInput"
         value="" required aria-required="true">
</div>
<!-- End: @input--email -->

<!-- Start: @input--number -->
<div class="form-group">
  <label for="numberInput">
    Chiffre
  </label>
  
  <input class="form-control"
         type="number"
         id="numberInput"
         name="testInput"
         value="" required aria-required="true" pattern="[0-9]*" min="1" max="99" size="2">
</div>
<!-- End: @input--number -->

<!-- Start: @input--password -->
<div class="form-group">
  <label for="passwordInput">
    Password
  </label>
  
  <input class="form-control"
         type="password"
         id="passwordInput"
         name="testInput"
         value="" required aria-required="true">
</div>
<!-- End: @input--password -->

<!-- Start: @input--date -->
<div class="form-group">
  <label for="date">
    Date
  </label>
  
  <input class="form-control"
         type="date"
         id="date"
         name="testInput"
         value="" required aria-required="true">
</div>
<!-- End: @input--date -->

<!-- Start: @input--file -->
<div class="form-group">
  <label for="fileInput">
    Fichier
  </label>
  
  <input class="form-control-file"
         type="file"
         id="fileInput"
         name="testInput"
         value="" required aria-required="true">
</div>
<!-- End: @input--file -->

<!-- Start: @input--phone -->
<div class="form-group">
  <label for="phoneInput">
    Numéro de téléphone
  </label>
  
  <input class="form-control"
         type="tel"
         id="phoneInput"
         name="testInput"
         value="" required aria-required="true" autocomplete="">
</div>
<!-- End: @input--phone -->

<!-- Start: @input--phone-error -->
<div class="form-group has-danger vd-form-group-danger">
  <label for="phoneInput">
    Numéro de téléphone
  </label>
  <div class="form-control-feedback text-danger">Entrez un numéro de téléphone suisse</div>
  
  
  <input class="form-control is-invalid"
         type="tel"
         id="phoneInput"
         name="testInput"
         value="" required aria-required="true" autocomplete="" aria-invalid="true">
</div>
<!-- End: @input--phone-error -->

<!-- Start: @input--help-error -->
<div class="form-group has-danger vd-form-group-danger">
  <label for="dossier">
    Numéro de dossier
  </label>
  <div class="form-control-feedback text-danger">Entre un numéro de dossier dans le format correct.</div>
  
  <small
      id="dossierHelp"
      class="form-text text-secondary">Il se trouve sur votre convocation et les courriers reçus. Per exemple, &quot;DT 12 53 47 F&quot;.</small>
  
  <input class="form-control is-invalid"
         type="text"
         id="dossier"
         name="testInput"
         value="" required aria-required="true" aria-describedby="dossierHelp" aria-invalid="true">
</div>
<!-- End: @input--help-error -->

