

<div class="form-group has-danger vd-form-group-danger">
  <label for="dossier">Numéro de dossier</label><div id="dossierErrorMessage" class="form-control-feedback text-danger"><span class="sr-only">Erreur: </span>Entrez un numéro de dossier dans le format correct.</div>
  <small
      id="dossierHelp"
      class="form-text text-secondary">Il se trouve sur votre convocation et les courriers reçus. Per exemple, "DT 12 53 47 F".</small>
  <input class="form-control is-invalid"
         type="text"
         id="dossier"
         name="testInput"
         value="" required aria-required="true" aria-describedby="dossierHelp dossierErrorMessage" aria-invalid="true">
</div>

