

<div class="form-group has-danger vd-form-group-danger">
  <label for="testInput">
    Courriel
  </label>
  <div class="form-control-feedback text-danger">Veuillez saisir votre courriel</div>
  
  <small
      id="testInputHelp"
      class="form-text text-secondary">Le courriel saisi n&#39;est pas valide.</small>
  
  <input class="form-control form-control-danger"
         type="email"
         id="testInput"
         name="testInput"
         value="" required aria-required="true" aria-describedby="testInputHelp" aria-invalid="true">
</div>

