

<ul class="list-inline"><li class=list-inline-item>Qui rerum quo laborum recusandae quos molestiae.</li><li class=list-inline-item>Blanditiis voluptatibus ducimus et dignissimos ut.</li><li class=list-inline-item>In sint tempora mollitia quia.</li><li class=list-inline-item>Molestiae voluptate id.</li><li class=list-inline-item>Numquam distinctio ipsam vel.</li><li class=list-inline-item>Quo labore eum distinctio id modi.</li><li class=list-inline-item>Est aut ut fuga.</li><li class=list-inline-item>Autem dolore beatae praesentium enim repudiandae et in.</li><li class=list-inline-item>Officia similique quo a aspernatur nostrum.</li><li class=list-inline-item>Quasi nam ex ea voluptatem dolores suscipit.</li></ul>

