

<ul class="list-unstyled"><li>Culpa et delectus enim cum ab voluptas maiores.</li><li>Enim nulla veritatis provident fuga qui eaque.</li><li>Voluptas quasi recusandae doloremque qui id optio et cumque ipsum.</li><li>Occaecati cupiditate et quaerat.</li><li>Molestiae maiores magni culpa illum atque voluptatem dolorem quisquam enim.</li><li>Sequi assumenda animi repellat quis nulla voluptas.</li><li>Accusamus quo repellat nihil quo reprehenderit quia nobis.</li><li>Qui id voluptatem mollitia autem accusantium pariatur est.</li><li>Nesciunt et sunt aut voluptas officia quia veniam.</li><li>Et et odio.</li></ul>

