

<ul class="list-inline"><li class=list-inline-item>Est vitae quam maxime.</li><li class=list-inline-item>Ullam tempore sapiente odit rem eos aut.</li><li class=list-inline-item>Assumenda vitae quas aliquid.</li><li class=list-inline-item>Facilis dolor ipsam amet vel.</li><li class=list-inline-item>Et neque temporibus enim iusto architecto rerum.</li><li class=list-inline-item>Dolores est temporibus debitis quisquam omnis voluptatem.</li><li class=list-inline-item>Aut modi iste iusto voluptas sit et mollitia enim.</li><li class=list-inline-item>Cum velit nisi.</li><li class=list-inline-item>Qui fugit natus eos qui ipsa esse.</li><li class=list-inline-item>Sint nihil est eos voluptatem est a.</li></ul>

