

<!-- Start: @list--default -->
<ul><li>Exercitationem commodi earum minus consequuntur consequatur rerum minima quam.</li><li>Blanditiis ipsa enim molestias velit molestiae molestias qui excepturi sint.</li><li>Praesentium ratione maiores deleniti.</li><li>Et modi vel voluptas sit excepturi commodi iste.</li><li>Odio ipsa eius.</li><li>Recusandae eveniet et itaque provident non officia rem accusamus quia.</li><li>Id eligendi aliquam beatae eveniet sint in in.</li><li>Sit et quisquam omnis non ea quo.</li><li>Corporis incidunt et dolor ex mollitia tenetur.</li><li>Ex et sapiente deserunt ipsam excepturi eaque dignissimos sit vero.</li></ul>
<!-- End: @list--default -->

<!-- Start: @list--unstyled -->
<ul class="list-unstyled"><li>Exercitationem commodi earum minus consequuntur consequatur rerum minima quam.</li><li>Blanditiis ipsa enim molestias velit molestiae molestias qui excepturi sint.</li><li>Praesentium ratione maiores deleniti.</li><li>Et modi vel voluptas sit excepturi commodi iste.</li><li>Odio ipsa eius.</li><li>Recusandae eveniet et itaque provident non officia rem accusamus quia.</li><li>Id eligendi aliquam beatae eveniet sint in in.</li><li>Sit et quisquam omnis non ea quo.</li><li>Corporis incidunt et dolor ex mollitia tenetur.</li><li>Ex et sapiente deserunt ipsam excepturi eaque dignissimos sit vero.</li></ul>
<!-- End: @list--unstyled -->

<!-- Start: @list--ordered -->
<ol><li>Exercitationem commodi earum minus consequuntur consequatur rerum minima quam.</li><li>Blanditiis ipsa enim molestias velit molestiae molestias qui excepturi sint.</li><li>Praesentium ratione maiores deleniti.</li><li>Et modi vel voluptas sit excepturi commodi iste.</li><li>Odio ipsa eius.</li><li>Recusandae eveniet et itaque provident non officia rem accusamus quia.</li><li>Id eligendi aliquam beatae eveniet sint in in.</li><li>Sit et quisquam omnis non ea quo.</li><li>Corporis incidunt et dolor ex mollitia tenetur.</li><li>Ex et sapiente deserunt ipsam excepturi eaque dignissimos sit vero.</li></ol>
<!-- End: @list--ordered -->

