

<ul class="vd-list-no-bullet">
  
  <li>Soluta occaecati iste.</li>
  
  <li>Incidunt illum nobis placeat rerum aut quos deserunt aut.</li>
  
  <li>Et facere aut.</li>
  
  <li>Perspiciatis veritatis sit tempora qui blanditiis odio voluptas cumque odio.</li>
  
  <li>Et perferendis aperiam laudantium illo omnis ad.</li>
  
  <li>Ducimus quod voluptate quasi ex ipsam et quis animi.</li>
  
  <li>Vel aut tempore enim laborum eos qui ut earum sequi.</li>
  
  <li>Voluptates natus iure asperiores.</li>
  
  <li>Eveniet voluptatem numquam sed saepe sint provident.</li>
  
  <li>Quo quisquam repudiandae itaque dolore.</li>
  
</ul>

