

<ul class="list-inline"><li class=list-inline-item>Eveniet officia doloremque tenetur deleniti quidem.</li><li class=list-inline-item>Mollitia officiis harum explicabo.</li><li class=list-inline-item>Repudiandae ipsa consectetur.</li><li class=list-inline-item>Est libero autem.</li><li class=list-inline-item>Voluptates molestias quod veniam incidunt sed cumque exercitationem aut.</li><li class=list-inline-item>Officia deleniti aut.</li><li class=list-inline-item>Cupiditate omnis minus pariatur quos saepe sed quae tempore.</li><li class=list-inline-item>Voluptatem quia totam atque eligendi.</li><li class=list-inline-item>Tenetur et velit saepe officiis consequuntur voluptatem suscipit.</li><li class=list-inline-item>Maiores sequi in eos doloribus ratione sequi.</li></ul>

