

<ul class="nav vd-list-boxed flex-column">
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Adipisci blanditiis quia aspernatur voluptas. <span class="fa fa-lock" aria-hidden="true" title="Cette prestation demande une identification"></span><span class="sr-only">(cette prestation demande un identification)</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Sit laudantium ad magni ut consectetur ipsam.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Omnis est neque modi sit qui cumque atque voluptas.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Doloremque rerum voluptate.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Impedit provident esse voluptas nesciunt ipsum suscipit qui earum fuga. <span class="fa fa-lock" aria-hidden="true" title="Cette prestation demande une identification"></span><span class="sr-only">(cette prestation demande un identification)</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Natus animi est mollitia.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Quidem accusamus et ipsum illo.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Non vel esse ex. <span class="fa fa-lock" aria-hidden="true" title="Cette prestation demande une identification"></span><span class="sr-only">(cette prestation demande un identification)</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Qui ipsam magnam consectetur id itaque in. <span class="fa fa-lock" aria-hidden="true" title="Cette prestation demande une identification"></span><span class="sr-only">(cette prestation demande un identification)</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Quia quis molestiae id.</a>
  </li>
  
</ul>

