

<ul class="vd-list-no-bullet">
  
  <li>Minima autem facilis veniam.</li>
  
  <li>Totam incidunt rerum quia.</li>
  
  <li>Debitis ducimus voluptas reprehenderit eum exercitationem aliquam laborum possimus.</li>
  
  <li>Tempore vel dolorem ab aut.</li>
  
  <li>Sunt voluptatum dolorem qui deserunt ab ullam eum id.</li>
  
  <li>Provident pariatur itaque ut perferendis.</li>
  
  <li>Nihil odio officia nihil fuga eveniet dicta.</li>
  
  <li>Magni quos expedita officiis natus fugit dolorem nostrum cumque consectetur.</li>
  
  <li>Libero iusto et qui.</li>
  
  <li>Veniam a architecto et dolorem.</li>
  
</ul>

