

<ul class="nav vd-list-boxed flex-column">
  <li class="nav-item">
    <a class="nav-link" href="#">Adipisci blanditiis quia aspernatur voluptas. <span class="fa fa-lock" title="Cette prestation demande une identification"></span><span class="sr-only">(cette préstation demande un identification)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sit laudantium ad magni ut consectetur ipsam.</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Omnis est neque modi sit qui cumque atque voluptas.</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Doloremque rerum voluptate.</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Impedit provident esse voluptas nesciunt ipsum suscipit qui earum fuga. <span class="fa fa-lock" title="Cette prestation demande une identification"></span><span class="sr-only">(cette préstation demande un identification)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Natus animi est mollitia.</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Quidem accusamus et ipsum illo.</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Non vel esse ex. <span class="fa fa-lock" title="Cette prestation demande une identification"></span><span class="sr-only">(cette préstation demande un identification)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Qui ipsam magnam consectetur id itaque in. <span class="fa fa-lock" title="Cette prestation demande une identification"></span><span class="sr-only">(cette préstation demande un identification)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Quia quis molestiae id.</a>
  </li>
</ul>

