

<a href="../accueil"
   class="vd-logo vd-logo--alt"
   title="Aller à la page d'accueil du Site du Canton de Vaud"><div class="vd-logo__blason">
    <img src="../../assets/svg/logo/logo.svg" class="img-fluid d-none d-md-block" alt="Logo du canton de Vaud" />
    <img src="../../assets/svg/logo/logo-square.svg" class="img-fluid d-md-none" aria-hidden="true" alt="Logo du canton de Vaud" />
  </div>
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

