

<div class="media-lists">
  <figure class="figure">
      <picture class="figure-img">
        <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067">
        <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640">
        <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
        <img class="img-fluid" src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" alt="figure">
      </picture>
    <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
  </figure>
  <figure class="figure">
      <picture class="figure-img">
        <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067">
        <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640">
        <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
        <img class="img-fluid" src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" alt="figure">
      </picture>
    <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
  </figure>
  <figure class="figure">
      <picture class="figure-img">
        <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067">
        <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640">
        <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
        <img class="img-fluid" src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" alt="figure">
      </picture>
    <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
  </figure>
  <figure class="figure">
      <picture class="figure-img">
        <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067">
        <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640">
        <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
        <img class="img-fluid" src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" alt="figure">
      </picture>
    <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
  </figure>
  <figure class="figure">
      <picture class="figure-img">
        <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067">
        <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640">
        <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
        <img class="img-fluid" src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" alt="figure">
      </picture>
    <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
  </figure>
  <figure class="figure">
      <picture class="figure-img">
        <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067">
        <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640">
        <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
        <img class="img-fluid" src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" alt="figure">
      </picture>
    <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
  </figure>
  <figure class="figure">
      <picture class="figure-img">
        <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067">
        <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640">
        <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
        <img class="img-fluid" src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" alt="figure">
      </picture>
    <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
  </figure>
  <figure class="figure">
      <picture class="figure-img">
        <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067">
        <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640">
        <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
        <img class="img-fluid" src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" alt="figure">
      </picture>
    <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
  </figure>
  <figure class="figure">
      <picture class="figure-img">
        <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067">
        <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640">
        <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
        <img class="img-fluid" src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" alt="figure">
      </picture>
    <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
  </figure>
  <figure class="figure">
      <picture class="figure-img">
        <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067">
        <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640">
        <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
        <img class="img-fluid" src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" alt="figure">
      </picture>
    <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
  </figure>
</div>

<nav>
  <h3 class="sr-only">Pagination</h2>
  <ul class="list-inline text-xxs-center">
    <li class="list-inline-item"><a href="#" class="btn btn-secondary btn-sm vd-btn-chevron-l">Précédent</a></li>
    <li class="list-inline-item"><a href="#" class="btn btn-secondary btn-sm vd-btn-chevron-r">Suivant</a></li>
  </ul>
</nav>

