

<nav>
  <h2 class="sr-only">Navigation de l'espace sécurisé</h2>
  <ul class="nav nav-pills flex-column flex-sm-row flex-wrap vd-bg-gray-lightest">
    <li class="flex-sm-fill text-sm-center mb-0">
      <a class="nav-link p-1" href="http://pauline.org" title="autem deleniti voluptate">rerum aspernatur voluptas</a>
    </li><li class="flex-sm-fill text-sm-center mb-0">
      <a class="nav-link p-1" href="http://julien.org" title="quis molestias perferendis">velit recusandae ducimus</a>
    </li><li class="flex-sm-fill text-sm-center mb-0">
      <a class="nav-link p-1" href="https://laura.net" title="aut ducimus voluptatem">nobis sunt quas</a>
    </li><li class="flex-sm-fill text-sm-center mb-0">
      <a class="nav-link p-1" href="https://julien.fr" title="maiores harum alias">aut doloribus est</a>
    </li><li class="flex-sm-fill text-sm-center mb-0">
      <a class="nav-link p-1" href="http://nicolas.net" title="et iure beatae">tempore alias eius</a>
    </li><li class="flex-sm-fill text-sm-center mb-0">
      <a class="nav-link p-1" href="http://sarah.fr" title="aut voluptatem earum">amet omnis neque</a>
    </li><li class="flex-sm-fill text-sm-center mb-0">
      <a class="nav-link p-1 active" href="https://mohamed.name" title="fugit mollitia officiis">in sed officiis</a>
    </li><li class="flex-sm-fill text-sm-center mb-0">
      <a class="nav-link p-1" href="https://mael.name" title="nihil voluptatibus molestiae">rem tenetur est</a>
    </li><li class="flex-sm-fill text-sm-center mb-0">
      <a class="nav-link p-1" href="https://valentin.eu" title="eum repellat sequi">reprehenderit beatae omnis</a>
    </li><li class="flex-sm-fill text-sm-center mb-0">
      <a class="nav-link p-1" href="https://zoe.com" title="magnam asperiores ullam">eum cum culpa</a>
    </li>
  </ul>
</nav>

