

<nav class="mb-2">
  <ul class="nav flex-column vd-nav-side">
    
    <li class="nav-item">
      <a class="nav-link" href="#" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
      
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="#" title="Nunc tempor orci eget pretium tristique">Nunc tempor orci eget pretium tristique</a>
      
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="#" title="Praesent nec tellus porta, faucibus tellus eget, vulputate sapien">Praesent nec tellus porta, faucibus tellus eget, vulputate sapien</a>
      
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="#" title="Praesent nec augue ac ipsum fringilla eleifend">Praesent nec augue ac ipsum fringilla eleifend</a>
      
    </li>
    
    <li class="nav-item">
      <a class="nav-link active" href="#" title="Donec elementum velit a feugiat pellentesque">Donec elementum velit a feugiat pellentesque</a>
      
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="#" title="Vivamus non elit rutrum, pulvinar nisl vitae, elementum magna">Vivamus non elit rutrum, pulvinar nisl vitae, elementum magna</a>
      
        <ul>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Nunc tempor orci eget pretium tristique</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Praesent nec tellus porta, faucibus tellus eget, vulputate sapien</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Praesent nec augue ac ipsum fringilla eleifend</a>
          </li>
          
        </ul>
      
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="#" title="Sed non ex condimentum, aliquam leo non, hendrerit diam">Sed non ex condimentum, aliquam leo non, hendrerit diam</a>
      
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="#" title="In semper nibh sed neque dapibus ultricies">In semper nibh sed neque dapibus ultricies</a>
      
    </li>
    
  </ul>
</nav>

