

<div class="vd-nav-primary">
  <div class="vd-nav-primary-toggle">
    <div class="container">
      <div class="text-xxs-center text-md-left">
        <button type="button" class="hidden-sm-down btn btn-primary btn-sm collapsed" data-toggle="collapse" data-target="#nav-primary-container"  aria-controls="nav-primary-container" aria-expanded="false">Tous les thèmes</button>
      </div>
    </div>
  </div>
  <div class="hidden-sm-down collapse clearfix" id="nav-primary-container">
    <div class="vd-nav-primary-content">
      <div class="container">
        <div class="row">
          <nav class="col-md-8" id="nav-primary" role="navigation" aria-label="Navigation par thèmes">
            <div class="row">
              <a href="#" class="vd-teaser-link col-md-4">
                <h5 class="vd-teaser-link-title">Culture</h5>
                <p class="vd-teaser-link-text">Aides et soutiens, Musées cantonaux…</p>
              </a>
              <a href="#" class="vd-teaser-link col-md-4">
                <h5 class="vd-teaser-link-title">Economie</h5>
                <p class="vd-teaser-link-text">Poursuites et faillites, Registre du commerce…</p>
              </a>
              <a href="#" class="vd-teaser-link col-md-4">
                <h5 class="vd-teaser-link-title">Environnement</h5>
                <p class="vd-teaser-link-text">Faune et nature, Energie…</p>
              </a>
              <a href="#" class="vd-teaser-link col-md-4">
                <h5 class="vd-teaser-link-title">Etat, Droit, Finance</h5>
                <p class="vd-teaser-link-text">Impôts, rémunérations, fiscalité…</p>
              </a>
              <a href="#" class="vd-teaser-link col-md-4">
                <h5 class="vd-teaser-link-title">Formation</h5>
                <p class="vd-teaser-link-text">Jours fériés et vacances scolaires…</p>
              </a>
              <a href="#" class="vd-teaser-link col-md-4">
                <h5 class="vd-teaser-link-title">Mobilité</h5>
                <p class="vd-teaser-link-text">Automobile, Navigation…</p>
              </a>
              <a href="#" class="vd-teaser-link col-md-4">
                <h5 class="vd-teaser-link-title">Santé</h5>
                <p class="vd-teaser-link-text">Prévention, Professionnels…</p>
              </a>
              <a href="#" class="vd-teaser-link col-md-4">
                <h5 class="vd-teaser-link-title">Social</h5>
                <p class="vd-teaser-link-text">Aide aux victimes et auteur-e-s de violences…</p>
              </a>
              <a href="#" class="vd-teaser-link col-md-4">
                <h5 class="vd-teaser-link-title">Vie privée</h5>
                <p class="vd-teaser-link-text">Documents d&#x27;identité…</p>
              </a>
              <a href="#" class="vd-teaser-link col-md-4">
                <h5 class="vd-teaser-link-title">Sécurité</h5>
                <p class="vd-teaser-link-text">Police, contrôle, casiers judiciaire…</p>
              </a>
              <a href="#" class="vd-teaser-link col-md-4">
                <h5 class="vd-teaser-link-title">Territoire</h5>
                <p class="vd-teaser-link-text">Informations sur le territoire, Registre foncier…</p>
              </a>
            </div>
          </nav>
          <div class="col-md-4">
            <h2 class="vd-section-title mt-3 mb-1">Les plus visités</h2>
            <ul class="vd-list-links">
              <li><a href="#0">Inscription au chômage</a></li>
              <li><a href="#0">Formulaire d'indemnisation</a></li>
              <li><a href="#0">Vaud Tax 2017</a></li>
              <li><a href="#0">Vacances scolaires et jours fériés</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

