

<div class="vd-nav-primary">
  <div class="vd-nav-primary-toggle">
    <div class="container">
      <div class="text-center text-md-left">
        <button type="button" class="hidden-sm-down btn btn-primary btn-sm collapsed" data-toggle="collapse" data-target="#nav-primary-container"  aria-controls="nav-primary-container" aria-expanded="false"><span class="sr-only">Accédez à la liste de </span>Tous les thèmes</button>
      </div>
    </div>
  </div>
  <div class="hidden-sm-down collapse clearfix" id="nav-primary-container">
    <div class="vd-nav-primary-content">
      <div class="container">
        <div class="row">
          <nav class="col-md-8" id="nav-primary">
            <h2 class="sr-only">Navigation par thèmes</h2>
            <ul class="list-unstyled mb-0 row">
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Culture</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et soutiens, Musées cantonaux…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Economie</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Poursuites et faillites, Registre du commerce…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Environnement</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Faune et nature, Energie…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Etat, Droit, Finance</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Impôts, rémunérations, fiscalité…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Formation</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Jours fériés et vacances scolaires…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Mobilité</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobile, Navigation…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Santé</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, Professionnels…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Social</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aide aux victimes et auteur-e-s de violences…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Vie privée</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Documents d&#x27;identité…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Sécurité</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, contrôle, casiers judiciaire…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Territoire</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Informations sur le territoire, Registre foncier…<span class="sr-only">)</span></small>
                </a>
              </li>
            </ul>
          </nav>
          <div class="col-md-4">
            <h2 class="vd-section-title mt-3 mb-1">Les plus visités</h2>
            <ul class="vd-list-links">
              <li><a href="#0">Inscription au chômage</a></li>
              <li><a href="#0">Formulaire d'indemnisation</a></li>
              <li><a href="#0">Vaud Tax 2017</a></li>
              <li><a href="#0">Vacances scolaires et jours fériés</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

