

<div class="vd-nav-primary">
  <div class="vd-nav-primary-toggle">
    <div class="container">
      <div class="text-center text-md-left">
        <button type="button" class="hidden-sm-down btn btn-primary btn-sm collapsed" data-toggle="collapse" data-target="#nav-primary-container"  aria-controls="nav-primary-container" aria-expanded="false">Tous les thèmes</button>
      </div>
    </div>
  </div>
  <div class="hidden-sm-down collapse clearfix" id="nav-primary-container">
    <div class="vd-nav-primary-content">
      <div class="container">
        <div class="row">
          <nav class="col-md-8" id="nav-primary" aria-label="Navigation par thèmes">
            <ul class="list-unstyled mb-0 row">
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <h5 class="vd-domain-item-title h2 font-weight-normal">Culture</h5>
                  <p class="vd-domain-item-text small mb-0">Aides et soutiens, Musées cantonaux…</p>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <h5 class="vd-domain-item-title h2 font-weight-normal">Economie</h5>
                  <p class="vd-domain-item-text small mb-0">Poursuites et faillites, Registre du commerce…</p>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <h5 class="vd-domain-item-title h2 font-weight-normal">Environnement</h5>
                  <p class="vd-domain-item-text small mb-0">Faune et nature, Energie…</p>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <h5 class="vd-domain-item-title h2 font-weight-normal">Etat, Droit, Finance</h5>
                  <p class="vd-domain-item-text small mb-0">Impôts, rémunérations, fiscalité…</p>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <h5 class="vd-domain-item-title h2 font-weight-normal">Formation</h5>
                  <p class="vd-domain-item-text small mb-0">Jours fériés et vacances scolaires…</p>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <h5 class="vd-domain-item-title h2 font-weight-normal">Mobilité</h5>
                  <p class="vd-domain-item-text small mb-0">Automobile, Navigation…</p>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <h5 class="vd-domain-item-title h2 font-weight-normal">Santé</h5>
                  <p class="vd-domain-item-text small mb-0">Prévention, Professionnels…</p>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <h5 class="vd-domain-item-title h2 font-weight-normal">Social</h5>
                  <p class="vd-domain-item-text small mb-0">Aide aux victimes et auteur-e-s de violences…</p>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <h5 class="vd-domain-item-title h2 font-weight-normal">Vie privée</h5>
                  <p class="vd-domain-item-text small mb-0">Documents d&#x27;identité…</p>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <h5 class="vd-domain-item-title h2 font-weight-normal">Sécurité</h5>
                  <p class="vd-domain-item-text small mb-0">Police, contrôle, casiers judiciaire…</p>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <h5 class="vd-domain-item-title h2 font-weight-normal">Territoire</h5>
                  <p class="vd-domain-item-text small mb-0">Informations sur le territoire, Registre foncier…</p>
                </a>
              </li>
            </ul>
          </nav>
          <div class="col-md-4">
            <h2 class="vd-section-title mt-3 mb-1">Les plus visités</h2>
            <ul class="vd-list-links">
              <li><a href="#0">Inscription au chômage</a></li>
              <li><a href="#0">Formulaire d'indemnisation</a></li>
              <li><a href="#0">Vaud Tax 2017</a></li>
              <li><a href="#0">Vacances scolaires et jours fériés</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

