

<nav>
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="nav justify-content-end d-none d-md-flex">
    
    <li class="nav-item">
      <a href="#" class="nav-link active"><span class="sr-only">page active: </span>Autorités</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Annuaire</a>
    </li>
    
    <li class="nav-item">
      <span class="nav-link"><span class="fa fa-lock" aria-hidden="true"></span> <a href="formulaire-prestation">Mon compte</a></span>
    </li>
    
  </ul>
</nav>

