

<header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex
                flex-wrap
                justify-content-between
                justify-content-md-end
                d-print-none">
      <div class="mr-3">
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-md-right small">
    
    <li class="list-inline-item">
      <a href="#" class="">Autorités</a>
    </li>
    
    <li class="list-inline-item">
      <a href="#" class="">Annuaire</a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a href="../accueil"
   class="vd-logo"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="breadcrumb-item"><a href="#">Autorités</a></li>
    
    <li class="breadcrumb-item"><a href="#">Service des automobiles et de la navigation</a></li>
    
    <li class="breadcrumb-item"><a href="#">Actualité</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true" class="mt-0">Categorie: Agriculture</h1>
  </div>
</div>


<main id="main" class="container mt-5 vd-content">
  <h1 class="sr-only">Categorie: Agriculture</h1>


  
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="Try to connect the JSON capacitor, maybe it will parse the wireless alarm!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://adrien.com">Try to connect the JSON capacitor, maybe it will parse the wireless alarm!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?7885"
    srcset="http://lorempixel.com/320/213/?9418 320w, http://lorempixel.com/540/360/?36507 540w, http://lorempixel.com/720/480/?98088 720w, http://lorempixel.com/960/640/?69254 960w, http://lorempixel.com/1140/760/?19536 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Maiores qui ut. Fuga consequatur et maxime architecto vero asperiores provident. Et sit hic nisi rerum nemo quia a. Dignissimos at necessitatibus a accusantium reprehenderit officia ut id nulla.
 Laboriosam sit sed qui quia distinctio nostrum doloribus repellendus magni. Repellendus ea nesciunt ipsum sed vel est aperiam. Tempora nesciunt velit.
 Voluptatem sit dolores repudiandae blanditiis accusantium doloremque tempore. Dolorem non sint enim....
  </p>
  
  
  <p>
    <a href="https://adrien.com">Lire la suite<span class="sr-only"> de l'article Try to connect the JSON capacitor, maybe it will parse the wireless alarm!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The HDD protocol is down, reboot the neural port so we can override the EXE firewall!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://gabriel.eu">The HDD protocol is down, reboot the neural port so we can override the EXE firewall!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?71970"
    srcset="http://lorempixel.com/320/213/?89040 320w, http://lorempixel.com/540/360/?16283 540w, http://lorempixel.com/720/480/?91872 720w, http://lorempixel.com/960/640/?74090 960w, http://lorempixel.com/1140/760/?48388 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Veritatis tempora delectus qui nemo aliquid eum atque in.
  </p>
  
  
  <p>
    <a href="http://gabriel.eu">Lire la suite<span class="sr-only"> de l'article The HDD protocol is down, reboot the neural port so we can override the EXE firewall!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="compressing the driver won't do anything, we need to generate the 1080p THX panel!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://enzo.fr">compressing the driver won't do anything, we need to generate the 1080p THX panel!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?40646"
    srcset="http://lorempixel.com/320/213/?19900 320w, http://lorempixel.com/540/360/?63935 540w, http://lorempixel.com/720/480/?75660 720w, http://lorempixel.com/960/640/?83485 960w, http://lorempixel.com/1140/760/?18457 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Repudiandae fugit ducimus aliquam assumenda non quos accusamus.
  </p>
  
  
  <p>
    <a href="https://enzo.fr">Lire la suite<span class="sr-only"> de l'article compressing the driver won't do anything, we need to generate the 1080p THX panel!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the primary SQL firewall, then you can synthesize the optical panel!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://hugo.net">Use the primary SQL firewall, then you can synthesize the optical panel!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?26451"
    srcset="http://lorempixel.com/320/213/?27182 320w, http://lorempixel.com/540/360/?95887 540w, http://lorempixel.com/720/480/?87582 720w, http://lorempixel.com/960/640/?63531 960w, http://lorempixel.com/1140/760/?57410 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Repudiandae id perferendis ut. Vero rerum nostrum. Voluptatem debitis dolorem et. Tenetur repellendus adipisci rerum velit porro quos nam distinctio.
  </p>
  
  
  <p>
    <a href="http://hugo.net">Lire la suite<span class="sr-only"> de l'article Use the primary SQL firewall, then you can synthesize the optical panel!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to generate the bluetooth IB port!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://laura.info">We need to generate the bluetooth IB port!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?33398"
    srcset="http://lorempixel.com/320/213/?31449 320w, http://lorempixel.com/540/360/?22515 540w, http://lorempixel.com/720/480/?80170 720w, http://lorempixel.com/960/640/?11501 960w, http://lorempixel.com/1140/760/?48870 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Ut dolorum consequuntur hic tempora occaecati vel. Ea aliquid non laboriosam qui est tempore est perspiciatis et. Et dolorem doloremque. Consequuntur sit optio dignissimos. Dicta illum dicta qui ea deserunt. Similique dignissimos molestias quo deserunt exercitationem aut ipsum asperiores.
  </p>
  
  
  <p>
    <a href="http://laura.info">Lire la suite<span class="sr-only"> de l'article We need to generate the bluetooth IB port!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we back up the panel, we can get to the SAS firewall through the open-source HTTP system!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://kylian.name">If we back up the panel, we can get to the SAS firewall through the open-source HTTP system!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?15063"
    srcset="http://lorempixel.com/320/213/?88402 320w, http://lorempixel.com/540/360/?23681 540w, http://lorempixel.com/720/480/?31065 720w, http://lorempixel.com/960/640/?52950 960w, http://lorempixel.com/1140/760/?16685 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Assumenda non dolores quis et. Saepe voluptatem consequatur autem beatae quos est ipsam. Placeat voluptates reiciendis. Earum officia molestiae quos ut doloribus temporibus ut harum. Perspiciatis consequatur deleniti consequatur vel molestiae voluptas placeat ut.
  </p>
  
  
  <p>
    <a href="https://kylian.name">Lire la suite<span class="sr-only"> de l'article If we back up the panel, we can get to the SAS firewall through the open-source HTTP system!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll copy the solid state AI firewall, that should bandwidth the AGP program!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://anaïs.org">I'll copy the solid state AI firewall, that should bandwidth the AGP program!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?80098"
    srcset="http://lorempixel.com/320/213/?8647 320w, http://lorempixel.com/540/360/?44972 540w, http://lorempixel.com/720/480/?47926 720w, http://lorempixel.com/960/640/?57301 960w, http://lorempixel.com/1140/760/?52287 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Fugiat est laboriosam optio earum maxime. Distinctio excepturi quo maxime. Repellendus sed eos velit fugiat laborum perspiciatis quod molestias. Molestiae et consequatur fugiat culpa ut.
  </p>
  
  
  <p>
    <a href="http://anaïs.org">Lire la suite<span class="sr-only"> de l'article I'll copy the solid state AI firewall, that should bandwidth the AGP program!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to back up the XML matrix, maybe it will quantify the open-source monitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://juliette.name">Try to back up the XML matrix, maybe it will quantify the open-source monitor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?44021"
    srcset="http://lorempixel.com/320/213/?11435 320w, http://lorempixel.com/540/360/?95481 540w, http://lorempixel.com/720/480/?7772 720w, http://lorempixel.com/960/640/?10175 960w, http://lorempixel.com/1140/760/?86020 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Quia praesentium ut ea aspernatur unde quasi velit suscipit ipsam. Ut illum quia nam est ipsum sit.
  </p>
  
  
  <p>
    <a href="https://juliette.name">Lire la suite<span class="sr-only"> de l'article Try to back up the XML matrix, maybe it will quantify the open-source monitor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to transmit the multi-byte SCSI circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://pauline.info">We need to transmit the multi-byte SCSI circuit!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?5444"
    srcset="http://lorempixel.com/320/213/?31922 320w, http://lorempixel.com/540/360/?25066 540w, http://lorempixel.com/720/480/?4561 720w, http://lorempixel.com/960/640/?39293 960w, http://lorempixel.com/1140/760/?42134 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Ducimus sed ut magnam. Illo asperiores vero. Vero repellat beatae deleniti voluptatem et dolore. Rerum beatae recusandae aut et aspernatur. Occaecati eos velit aut saepe reprehenderit autem expedita.
 Voluptatem adipisci sed et aut impedit quis debitis officia. Dolore temporibus delectus. Est qui ut asperiores molestiae tenetur qui. Minima distinctio aliquam minima hic laboriosam. Omnis veniam asperiores rem aliquid nostrum.
 Modi...
  </p>
  
  
  <p>
    <a href="http://pauline.info">Lire la suite<span class="sr-only"> de l'article We need to transmit the multi-byte SCSI circuit!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to index the JBOD matrix, maybe it will index the 1080p port!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://lina.org">Try to index the JBOD matrix, maybe it will index the 1080p port!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?12594"
    srcset="http://lorempixel.com/320/213/?55448 320w, http://lorempixel.com/540/360/?36163 540w, http://lorempixel.com/720/480/?91100 720w, http://lorempixel.com/960/640/?25912 960w, http://lorempixel.com/1140/760/?39024 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Voluptas autem dolor est ut minima.
  </p>
  
  
  <p>
    <a href="https://lina.org">Lire la suite<span class="sr-only"> de l'article Try to index the JBOD matrix, maybe it will index the 1080p port!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list">
        
        <li class="vd-pagination__item vd-pagination__item--previous">
            
            <a href="#" class="vd-pagination__link">
            
                <span class="vd-pagination__title">
                    <span class="fas fa-chevron-left" aria-hidden="true"></span>
                    Page précédente
                </span>
                
                    <span class="sr-only">:</span>
                    <span class="vd-pagination__label">11 sur 244</span>
                
            
            </a>
            
        </li>
        
        
          
        <li class="vd-pagination__item vd-pagination__item--next">
          
            <a href="#" class="vd-pagination__link">
              
                <span class="vd-pagination__title">
                    Page suivante
                    <span class="fas fa-chevron-right" aria-hidden="true"></span>
                </span>
                
                    <span class="sr-only">:</span>
                    <span class="vd-pagination__label">13 sur 244</span>
                  
            
            </a>
            
        </li>
        
    </ul>
</nav>



</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


