

<header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex
                flex-wrap
                justify-content-between
                justify-content-md-end
                d-print-none">
      <div class="mr-3">
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-md-right small">
    
    <li class="list-inline-item">
      <a href="" class=""></a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="vd-login mb-3 mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <div class="d-flex flex-wrap justify-content-end align-items-center">
    <div class="align-self-center text-right mr-1">
      <p class="mb-0">
      <span class="fas fa-lock" aria-hidden="true"></span>
        <a href="#">Se connecter</a>
      </p>
      </div>
    </div>
</section>


    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a href="../accueil"
   class="vd-logo"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#culture"
    class="vd-domain-item__link vd-link-invisible h4">Culture</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#economie"
    class="vd-domain-item__link vd-link-invisible h4">Economie</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#environnement"
    class="vd-domain-item__link vd-link-invisible h4">Environnement</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#etat%2C%20droit%2C%20finance"
    class="vd-domain-item__link vd-link-invisible h4">Etat, Droit, Finance</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#formation"
    class="vd-domain-item__link vd-link-invisible h4">Formation</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#mobilit%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Mobilité</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#sant%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Santé</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#social"
    class="vd-domain-item__link vd-link-invisible h4">Social</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#vie%20priv%C3%A9e"
    class="vd-domain-item__link vd-link-invisible h4">Vie privée</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#s%C3%A9curit%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Sécurité</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#territoire"
    class="vd-domain-item__link vd-link-invisible h4">Territoire</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
    <nav class="pb-1" aria-label="Fil d'Ariane">
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
      
        <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Autorités</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Service des automobiles et de la navigation</a></li>
      
    
    
  </ol>
</nav>

  </div>
</div>

<main id="main">
  <div class="vd-bg-pattern-gray">
    <h1 class="container mt-0">Toutes les activités</h1>

  </div>

  <div class="container mt-5 vd-content">
    
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="transmitting the matrix won&#39;t do anything, we need to bypass the multi-byte AGP panel!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://lola.fr">transmitting the matrix won&#39;t do anything, we need to bypass the multi-byte AGP panel!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?47876"
    srcset="http://lorempixel.com/320/213/?66954 320w, http://lorempixel.com/540/360/?15494 540w, http://lorempixel.com/720/480/?75845 720w, http://lorempixel.com/960/640/?24817 960w, http://lorempixel.com/1140/760/?36322 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Maiores officiis corrupti iste in asperiores autem dolor voluptas. Commodi omnis asperiores delectus cupiditate modi aut est eos laudantium. Sunt qui porro inventore aperiam est minus. Labore cumque placeat.
  </p>
  
  
  <p>
    <a href="http://lola.fr">Lire la suite<span class="sr-only"> de l'article transmitting the matrix won&#39;t do anything, we need to bypass the multi-byte AGP panel!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="calculating the circuit won&#39;t do anything, we need to transmit the redundant XML matrix!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://alexis.fr">calculating the circuit won&#39;t do anything, we need to transmit the redundant XML matrix!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?86248"
    srcset="http://lorempixel.com/320/213/?88598 320w, http://lorempixel.com/540/360/?70926 540w, http://lorempixel.com/720/480/?28956 720w, http://lorempixel.com/960/640/?57161 960w, http://lorempixel.com/1140/760/?19341 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    incidunt eum facere
  </p>
  
  
  <p>
    <a href="http://alexis.fr">Lire la suite<span class="sr-only"> de l'article calculating the circuit won&#39;t do anything, we need to transmit the redundant XML matrix!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="hacking the system won&#39;t do anything, we need to compress the virtual FTP bandwidth!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://lucas.net">hacking the system won&#39;t do anything, we need to compress the virtual FTP bandwidth!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?32438"
    srcset="http://lorempixel.com/320/213/?15063 320w, http://lorempixel.com/540/360/?95663 540w, http://lorempixel.com/720/480/?45303 720w, http://lorempixel.com/960/640/?28189 960w, http://lorempixel.com/1140/760/?29141 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Aliquam eveniet velit qui ex ullam et numquam perspiciatis quae.
  </p>
  
  
  <p>
    <a href="https://lucas.net">Lire la suite<span class="sr-only"> de l'article hacking the system won&#39;t do anything, we need to compress the virtual FTP bandwidth!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The HDD circuit is down, compress the optical interface so we can synthesize the XML system!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://raphaël.com">The HDD circuit is down, compress the optical interface so we can synthesize the XML system!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?90837"
    srcset="http://lorempixel.com/320/213/?79062 320w, http://lorempixel.com/540/360/?5065 540w, http://lorempixel.com/720/480/?46153 720w, http://lorempixel.com/960/640/?71868 960w, http://lorempixel.com/1140/760/?52272 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Omnis sed rerum quis sit hic. Molestiae eligendi aliquid. Qui est suscipit quae sunt qui nisi ad.
  </p>
  
  
  <p>
    <a href="https://raphaël.com">Lire la suite<span class="sr-only"> de l'article The HDD circuit is down, compress the optical interface so we can synthesize the XML system!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The SAS protocol is down, input the 1080p panel so we can reboot the ADP interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://antoine.eu">The SAS protocol is down, input the 1080p panel so we can reboot the ADP interface!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?2117"
    srcset="http://lorempixel.com/320/213/?8812 320w, http://lorempixel.com/540/360/?91506 540w, http://lorempixel.com/720/480/?82992 720w, http://lorempixel.com/960/640/?86114 960w, http://lorempixel.com/1140/760/?83476 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Molestiae magni quos. Aliquid excepturi dolor ut. Officiis dolores vero doloremque temporibus non eos. Quod similique excepturi deleniti quasi modi pariatur adipisci.
 Quis omnis vitae quo officia laudantium consequuntur. Sed dolores enim blanditiis eos ut iusto illo. Et quas officiis eaque totam sed temporibus reiciendis.
 Necessitatibus labore iusto numquam blanditiis iusto aut. Sapiente deleniti sed. Corrupti debitis deleniti.
  </p>
  
  
  <p>
    <a href="https://antoine.eu">Lire la suite<span class="sr-only"> de l'article The SAS protocol is down, input the 1080p panel so we can reboot the ADP interface!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we transmit the driver, we can get to the RAM transmitter through the redundant XSS port!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://mohamed.info">If we transmit the driver, we can get to the RAM transmitter through the redundant XSS port!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?54285"
    srcset="http://lorempixel.com/320/213/?86149 320w, http://lorempixel.com/540/360/?9819 540w, http://lorempixel.com/720/480/?8315 720w, http://lorempixel.com/960/640/?65122 960w, http://lorempixel.com/1140/760/?61033 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Suscipit minus blanditiis.
  </p>
  
  
  <p>
    <a href="http://mohamed.info">Lire la suite<span class="sr-only"> de l'article If we transmit the driver, we can get to the RAM transmitter through the redundant XSS port!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to generate the PNG firewall, maybe it will bypass the haptic circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://arthur.org">Try to generate the PNG firewall, maybe it will bypass the haptic circuit!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?72990"
    srcset="http://lorempixel.com/320/213/?67014 320w, http://lorempixel.com/540/360/?61809 540w, http://lorempixel.com/720/480/?30924 720w, http://lorempixel.com/960/640/?20112 960w, http://lorempixel.com/1140/760/?72952 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Quasi voluptas dolores aliquid sit. Est harum et inventore aut sed voluptatem atque molestiae voluptas. Voluptatum dolore aliquid. Et quibusdam eligendi quidem.
 Officia odio vero eum vel eligendi omnis labore. Enim omnis fuga et aliquid atque. Est architecto architecto ducimus.
 Assumenda quaerat vero dolor eveniet molestias ipsum itaque velit possimus. Cumque enim eaque dolores. Est exercitationem veritatis repudiandae. Et praesentium illum...
  </p>
  
  
  <p>
    <a href="http://arthur.org">Lire la suite<span class="sr-only"> de l'article Try to generate the PNG firewall, maybe it will bypass the haptic circuit!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we connect the card, we can get to the COM pixel through the virtual SSL system!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://clément.eu">If we connect the card, we can get to the COM pixel through the virtual SSL system!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?89539"
    srcset="http://lorempixel.com/320/213/?62747 320w, http://lorempixel.com/540/360/?77138 540w, http://lorempixel.com/720/480/?87702 720w, http://lorempixel.com/960/640/?20251 960w, http://lorempixel.com/1140/760/?90328 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Aut possimus et sunt dolor possimus nisi repudiandae.
Eligendi voluptas mollitia voluptatem et sed.
Ex perferendis voluptatem dolor velit atque.
Eum qui officiis tempora libero assumenda reiciendis qui delectus.
Repellat quis rem excepturi odio sapiente ut sunt architecto.
  </p>
  
  
  <p>
    <a href="http://clément.eu">Lire la suite<span class="sr-only"> de l'article If we connect the card, we can get to the COM pixel through the virtual SSL system!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can&#39;t copy the transmitter without generating the open-source XSS card!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://anaïs.eu">You can&#39;t copy the transmitter without generating the open-source XSS card!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?46602"
    srcset="http://lorempixel.com/320/213/?65822 320w, http://lorempixel.com/540/360/?30725 540w, http://lorempixel.com/720/480/?32028 720w, http://lorempixel.com/960/640/?60632 960w, http://lorempixel.com/1140/760/?72397 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Ut quia aut eveniet earum repellat.
Qui asperiores molestiae voluptate deleniti dolores explicabo doloribus sint.
Dolorum necessitatibus est eius alias ratione quos itaque maxime repellendus.
Quis aliquid necessitatibus quaerat dolor recusandae ipsum odit quo voluptatem.
  </p>
  
  
  <p>
    <a href="https://anaïs.eu">Lire la suite<span class="sr-only"> de l'article You can&#39;t copy the transmitter without generating the open-source XSS card!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the back-end PCI alarm, then you can compress the haptic system!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://louise.com">Use the back-end PCI alarm, then you can compress the haptic system!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?48173"
    srcset="http://lorempixel.com/320/213/?79512 320w, http://lorempixel.com/540/360/?47094 540w, http://lorempixel.com/720/480/?42390 720w, http://lorempixel.com/960/640/?62925 960w, http://lorempixel.com/1140/760/?83534 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    molestiae
  </p>
  
  
  <p>
    <a href="https://louise.com">Lire la suite<span class="sr-only"> de l'article Use the back-end PCI alarm, then you can compress the haptic system!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list"><li class="vd-pagination__item vd-pagination__item--previous">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Page précédente
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">11 sur 244</span></a>
    </li><li class="vd-pagination__item vd-pagination__item--next">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          Page suivante
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">13 sur 244</span></a>
    </li>
  </ul>
</nav>


  </div>
</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d&#39;emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#" class="d-inline-block">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


