

<header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex flex-wrap justify-content-between justify-content-md-end
      d-print-none">
      <div>
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-right small">
    
    <li class="list-inline-item">
      <a href="#" class="">Autorités</a>
    </li>
    
    <li class="list-inline-item">
      <a href="#" class="">Annuaire</a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small ml-3 text-right">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a href="../accueil"
   class="vd-logo"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true" class="mt-0">Toutes les actualités</h1>
  </div>
</div>


<main id="main" class="container mt-5 vd-content">
  <h1 class="sr-only">Toutes les actualités</h1>


  
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="Use the primary HDD matrix, then you can synthesize the multi-byte card!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://lisa.org">Use the primary HDD matrix, then you can synthesize the multi-byte card!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?38881"
    srcset="http://lorempixel.com/320/213/?52382 320w, http://lorempixel.com/540/360/?16644 540w, http://lorempixel.com/720/480/?96296 720w, http://lorempixel.com/960/640/?68635 960w, http://lorempixel.com/1140/760/?42182 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Earum at dolores.
  </p>
  
  
  <p>
    <a href="http://lisa.org">Lire la suite<span class="sr-only"> de l'article Use the primary HDD matrix, then you can synthesize the multi-byte card!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll parse the mobile SCSI system, that should array the XML pixel!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://clémence.info">I'll parse the mobile SCSI system, that should array the XML pixel!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?83473"
    srcset="http://lorempixel.com/320/213/?58373 320w, http://lorempixel.com/540/360/?18190 540w, http://lorempixel.com/720/480/?82965 720w, http://lorempixel.com/960/640/?57927 960w, http://lorempixel.com/1140/760/?88961 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Quis repudiandae fugiat esse magnam ipsam exercitationem quasi.
Qui et nisi recusandae est laboriosam porro.
Quod aut soluta porro voluptas.
  </p>
  
  
  <p>
    <a href="http://clémence.info">Lire la suite<span class="sr-only"> de l'article I'll parse the mobile SCSI system, that should array the XML pixel!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll calculate the wireless TCP pixel, that should monitor the JSON circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://zoe.info">I'll calculate the wireless TCP pixel, that should monitor the JSON circuit!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?52793"
    srcset="http://lorempixel.com/320/213/?56281 320w, http://lorempixel.com/540/360/?94778 540w, http://lorempixel.com/720/480/?17554 720w, http://lorempixel.com/960/640/?33610 960w, http://lorempixel.com/1140/760/?48423 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    est vel amet
  </p>
  
  
  <p>
    <a href="https://zoe.info">Lire la suite<span class="sr-only"> de l'article I'll calculate the wireless TCP pixel, that should monitor the JSON circuit!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the 1080p XML capacitor, then you can parse the mobile array!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://noah.fr">Use the 1080p XML capacitor, then you can parse the mobile array!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?91149"
    srcset="http://lorempixel.com/320/213/?41151 320w, http://lorempixel.com/540/360/?12090 540w, http://lorempixel.com/720/480/?89724 720w, http://lorempixel.com/960/640/?25684 960w, http://lorempixel.com/1140/760/?41131 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    velit repudiandae reprehenderit
  </p>
  
  
  <p>
    <a href="http://noah.fr">Lire la suite<span class="sr-only"> de l'article Use the 1080p XML capacitor, then you can parse the mobile array!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we bypass the transmitter, we can get to the RAM driver through the digital HDD firewall!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://sarah.name">If we bypass the transmitter, we can get to the RAM driver through the digital HDD firewall!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?53415"
    srcset="http://lorempixel.com/320/213/?97908 320w, http://lorempixel.com/540/360/?10285 540w, http://lorempixel.com/720/480/?2415 720w, http://lorempixel.com/960/640/?1535 960w, http://lorempixel.com/1140/760/?20679 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    nulla reprehenderit et
  </p>
  
  
  <p>
    <a href="https://sarah.name">Lire la suite<span class="sr-only"> de l'article If we bypass the transmitter, we can get to the RAM driver through the digital HDD firewall!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to reboot the SSL bandwidth, maybe it will transmit the bluetooth feed!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://ambre.name">Try to reboot the SSL bandwidth, maybe it will transmit the bluetooth feed!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?4180"
    srcset="http://lorempixel.com/320/213/?4414 320w, http://lorempixel.com/540/360/?42871 540w, http://lorempixel.com/720/480/?93816 720w, http://lorempixel.com/960/640/?81244 960w, http://lorempixel.com/1140/760/?69390 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Architecto quis omnis enim velit accusantium recusandae soluta.
Blanditiis sit qui cupiditate tenetur enim illum dolor possimus.
  </p>
  
  
  <p>
    <a href="http://ambre.name">Lire la suite<span class="sr-only"> de l'article Try to reboot the SSL bandwidth, maybe it will transmit the bluetooth feed!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The IB sensor is down, calculate the redundant firewall so we can transmit the SSL microchip!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://mathilde.eu">The IB sensor is down, calculate the redundant firewall so we can transmit the SSL microchip!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?17631"
    srcset="http://lorempixel.com/320/213/?24400 320w, http://lorempixel.com/540/360/?25887 540w, http://lorempixel.com/720/480/?17112 720w, http://lorempixel.com/960/640/?39798 960w, http://lorempixel.com/1140/760/?44658 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    molestiae
  </p>
  
  
  <p>
    <a href="https://mathilde.eu">Lire la suite<span class="sr-only"> de l'article The IB sensor is down, calculate the redundant firewall so we can transmit the SSL microchip!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to parse the COM microchip, maybe it will connect the open-source driver!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://célia.info">Try to parse the COM microchip, maybe it will connect the open-source driver!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?43594"
    srcset="http://lorempixel.com/320/213/?65104 320w, http://lorempixel.com/540/360/?16692 540w, http://lorempixel.com/720/480/?5421 720w, http://lorempixel.com/960/640/?6506 960w, http://lorempixel.com/1140/760/?22580 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Optio tempore sint est. Quam error et neque amet sit. Rerum doloremque repudiandae placeat sit laborum. Rerum inventore nesciunt nemo corporis voluptate neque voluptatum explicabo repellendus. Illo et reiciendis et accusamus. Eligendi consectetur ipsam.
 Id explicabo modi suscipit iusto quia. Dignissimos non pariatur qui occaecati ad cupiditate aspernatur. Molestiae adipisci perspiciatis molestiae et. Perferendis perspiciatis delectus in natus...
  </p>
  
  
  <p>
    <a href="http://célia.info">Lire la suite<span class="sr-only"> de l'article Try to parse the COM microchip, maybe it will connect the open-source driver!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll reboot the primary SSL card, that should panel the PNG matrix!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://justine.name">I'll reboot the primary SSL card, that should panel the PNG matrix!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?32115"
    srcset="http://lorempixel.com/320/213/?31950 320w, http://lorempixel.com/540/360/?37191 540w, http://lorempixel.com/720/480/?4215 720w, http://lorempixel.com/960/640/?61710 960w, http://lorempixel.com/1140/760/?64548 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Iste dolorem ab perspiciatis non. Magni quo quisquam ipsam. Voluptates ea dicta at et et porro. Tenetur qui vel et harum distinctio laudantium voluptas qui.
  </p>
  
  
  <p>
    <a href="http://justine.name">Lire la suite<span class="sr-only"> de l'article I'll reboot the primary SSL card, that should panel the PNG matrix!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="transmitting the matrix won't do anything, we need to input the mobile HDD sensor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://mattéo.net">transmitting the matrix won't do anything, we need to input the mobile HDD sensor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?13040"
    srcset="http://lorempixel.com/320/213/?74534 320w, http://lorempixel.com/540/360/?36346 540w, http://lorempixel.com/720/480/?84544 720w, http://lorempixel.com/960/640/?60800 960w, http://lorempixel.com/1140/760/?4444 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Id perferendis repellendus ab aspernatur. Modi cum debitis maxime et eos dolorem quasi odio tenetur. Quia sint id odio impedit et. Dolorem corrupti modi quisquam. Molestias deserunt et voluptas perferendis voluptates sit sunt. Animi maiores nemo impedit.
  </p>
  
  
  <p>
    <a href="http://mattéo.net">Lire la suite<span class="sr-only"> de l'article transmitting the matrix won't do anything, we need to input the mobile HDD sensor!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list">
        
        <li class="vd-pagination__item vd-pagination__item--previous">
            
            <a href="#" class="vd-pagination__link">
            
                <span class="vd-pagination__title">
                    <span class="fas fa-chevron-left" aria-hidden="true"></span>
                    Page précédente
                </span>
                
                    <span class="sr-only">:</span>
                    <span class="vd-pagination__label">11 sur 244</span>
                
            
            </a>
            
        </li>
        
        
          
        <li class="vd-pagination__item vd-pagination__item--next">
          
            <a href="#" class="vd-pagination__link">
              
                <span class="vd-pagination__title">
                    Page suivante
                    <span class="fas fa-chevron-right" aria-hidden="true"></span>
                </span>
                
                    <span class="sr-only">:</span>
                    <span class="vd-pagination__label">13 sur 244</span>
                  
            
            </a>
            
        </li>
        
    </ul>
</nav>



</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


