

<header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex
                flex-wrap
                justify-content-between
                justify-content-md-end
                d-print-none">
      <div class="mr-3">
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-md-right small">
    
    <li class="list-inline-item">
      <a href="" class=""></a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock" aria-hidden="true"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a href="../accueil"
   class="vd-logo"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#culture"
    class="vd-domain-item__link vd-link-invisible h4">Culture</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#economie"
    class="vd-domain-item__link vd-link-invisible h4">Economie</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#environnement"
    class="vd-domain-item__link vd-link-invisible h4">Environnement</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#etat%2C%20droit%2C%20finance"
    class="vd-domain-item__link vd-link-invisible h4">Etat, Droit, Finance</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#formation"
    class="vd-domain-item__link vd-link-invisible h4">Formation</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#mobilit%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Mobilité</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#sant%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Santé</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#social"
    class="vd-domain-item__link vd-link-invisible h4">Social</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#vie%20priv%C3%A9e"
    class="vd-domain-item__link vd-link-invisible h4">Vie privée</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#s%C3%A9curit%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Sécurité</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#territoire"
    class="vd-domain-item__link vd-link-invisible h4">Territoire</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
    <nav class="pb-1" aria-label="Fil d'Ariane">
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
      
        <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Autorités</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Service des automobiles et de la navigation</a></li>
      
    
    
  </ol>
</nav>

  </div>
</div>

<main id="main">
  <div class="vd-bg-pattern-gray">
    <h1 class="container mt-0">Toutes les activités</h1>

  </div>

  <div class="container mt-5 vd-content">
    
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="You can&#39;t calculate the feed without transmitting the online RAM monitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://ivory.net">You can&#39;t calculate the feed without transmitting the online RAM monitor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?90874"
    srcset="http://placeimg.com/320/213/?51309 320w, http://placeimg.com/540/360/?62606 540w, http://placeimg.com/720/480/?54964 720w, http://placeimg.com/960/640/?30200 960w, http://placeimg.com/1140/760/?45429 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Laborum omnis et.
Harum repellendus voluptatem inventore.
Maiores aut qui non hic a dicta corrupti.
  </p>
  
  
  <p>
    <a href="http://ivory.net">Lire la suite<span class="sr-only"> de l'article You can&#39;t calculate the feed without transmitting the online RAM monitor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="backing up the transmitter won&#39;t do anything, we need to navigate the auxiliary XSS monitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://henri.net">backing up the transmitter won&#39;t do anything, we need to navigate the auxiliary XSS monitor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?73936"
    srcset="http://placeimg.com/320/213/?55368 320w, http://placeimg.com/540/360/?26325 540w, http://placeimg.com/720/480/?76472 720w, http://placeimg.com/960/640/?24400 960w, http://placeimg.com/1140/760/?40428 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    qui sapiente numquam
  </p>
  
  
  <p>
    <a href="http://henri.net">Lire la suite<span class="sr-only"> de l'article backing up the transmitter won&#39;t do anything, we need to navigate the auxiliary XSS monitor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can&#39;t hack the firewall without indexing the mobile RAM sensor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://lucie.info">You can&#39;t hack the firewall without indexing the mobile RAM sensor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?11994"
    srcset="http://placeimg.com/320/213/?34149 320w, http://placeimg.com/540/360/?60115 540w, http://placeimg.com/720/480/?83435 720w, http://placeimg.com/960/640/?5265 960w, http://placeimg.com/1140/760/?89028 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Et quod ad aut est numquam in tenetur. Nihil expedita qui voluptas rerum ut sunt et. Inventore ut est ipsum sapiente ipsam et at amet quod. Eius molestiae asperiores ipsum voluptatem. Culpa ipsum dolores voluptatum sequi tempore.
  </p>
  
  
  <p>
    <a href="https://lucie.info">Lire la suite<span class="sr-only"> de l'article You can&#39;t hack the firewall without indexing the mobile RAM sensor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The FTP microchip is down, input the cross-platform matrix so we can program the XML port!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://mazie.name">The FTP microchip is down, input the cross-platform matrix so we can program the XML port!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?97117"
    srcset="http://placeimg.com/320/213/?38232 320w, http://placeimg.com/540/360/?2523 540w, http://placeimg.com/720/480/?51149 720w, http://placeimg.com/960/640/?14604 960w, http://placeimg.com/1140/760/?12659 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Nostrum a odit aperiam. Perspiciatis sed non recusandae fugiat eius inventore commodi. Est ut nam quo quasi consequatur itaque accusamus perferendis ipsam. Et eos quas possimus explicabo sit. Quia numquam ut qui.
  </p>
  
  
  <p>
    <a href="http://mazie.name">Lire la suite<span class="sr-only"> de l'article The FTP microchip is down, input the cross-platform matrix so we can program the XML port!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the haptic JSON system, then you can quantify the cross-platform circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://frederik.com">Use the haptic JSON system, then you can quantify the cross-platform circuit!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?38752"
    srcset="http://placeimg.com/320/213/?99138 320w, http://placeimg.com/540/360/?44696 540w, http://placeimg.com/720/480/?55133 720w, http://placeimg.com/960/640/?1101 960w, http://placeimg.com/1140/760/?33586 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Omnis est aliquam exercitationem atque quibusdam. Ratione velit quia quibusdam veritatis. Repellendus aut molestiae et id deleniti accusamus. At ipsam corrupti fuga placeat repellendus sed.
 Nulla magnam reiciendis quis rerum eaque voluptas est a eos. Et delectus ea et est occaecati nesciunt consequatur. Ut similique et consequatur distinctio explicabo. Necessitatibus tenetur aut non necessitatibus necessitatibus magnam voluptatem.
 Molestiae...
  </p>
  
  
  <p>
    <a href="http://frederik.com">Lire la suite<span class="sr-only"> de l'article Use the haptic JSON system, then you can quantify the cross-platform circuit!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to calculate the back-end JSON transmitter!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://harley.com">We need to calculate the back-end JSON transmitter!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?4120"
    srcset="http://placeimg.com/320/213/?9390 320w, http://placeimg.com/540/360/?93073 540w, http://placeimg.com/720/480/?49617 720w, http://placeimg.com/960/640/?79214 960w, http://placeimg.com/1140/760/?86744 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Dolorem veniam recusandae eos non excepturi molestiae. Et consequuntur provident architecto. Qui necessitatibus in id. Facere dolore sit exercitationem qui. Nemo est tempora. Saepe ad et cupiditate deserunt.
 Ut molestias dolores rerum earum quia dolorem quis. Qui assumenda aperiam aut atque. Ea id omnis id soluta mollitia eum. Eum distinctio ad magnam sint at animi. Est voluptatem laudantium et. Quod tenetur necessitatibus quasi quia...
  </p>
  
  
  <p>
    <a href="http://harley.com">Lire la suite<span class="sr-only"> de l'article We need to calculate the back-end JSON transmitter!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I&#39;ll navigate the bluetooth HTTP system, that should pixel the EXE monitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://noel.name">I&#39;ll navigate the bluetooth HTTP system, that should pixel the EXE monitor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?82234"
    srcset="http://placeimg.com/320/213/?53708 320w, http://placeimg.com/540/360/?66448 540w, http://placeimg.com/720/480/?29531 720w, http://placeimg.com/960/640/?51150 960w, http://placeimg.com/1140/760/?2160 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Et enim aliquid eum doloremque qui reiciendis voluptatem debitis. Dolores voluptatem rem qui sit suscipit facere enim animi. Alias quam ut laboriosam.
  </p>
  
  
  <p>
    <a href="https://noel.name">Lire la suite<span class="sr-only"> de l'article I&#39;ll navigate the bluetooth HTTP system, that should pixel the EXE monitor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The RSS capacitor is down, calculate the mobile interface so we can navigate the HDD interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://rosalia.net">The RSS capacitor is down, calculate the mobile interface so we can navigate the HDD interface!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?12742"
    srcset="http://placeimg.com/320/213/?95118 320w, http://placeimg.com/540/360/?58196 540w, http://placeimg.com/720/480/?81287 720w, http://placeimg.com/960/640/?69539 960w, http://placeimg.com/1140/760/?54516 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Eligendi vel est maiores iure molestiae harum quos.
  </p>
  
  
  <p>
    <a href="https://rosalia.net">Lire la suite<span class="sr-only"> de l'article The RSS capacitor is down, calculate the mobile interface so we can navigate the HDD interface!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to back up the SDD application, maybe it will generate the virtual firewall!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://darron.fr">Try to back up the SDD application, maybe it will generate the virtual firewall!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?35172"
    srcset="http://placeimg.com/320/213/?21417 320w, http://placeimg.com/540/360/?98855 540w, http://placeimg.com/720/480/?93555 720w, http://placeimg.com/960/640/?27550 960w, http://placeimg.com/1140/760/?24480 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Pariatur et deserunt rem eaque.
Ab qui ut.
Commodi voluptas ut totam quaerat.
  </p>
  
  
  <p>
    <a href="http://darron.fr">Lire la suite<span class="sr-only"> de l'article Try to back up the SDD application, maybe it will generate the virtual firewall!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to navigate the RAM monitor, maybe it will quantify the haptic driver!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://okey.eu">Try to navigate the RAM monitor, maybe it will quantify the haptic driver!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://placeimg.com/960/640/?20915"
    srcset="http://placeimg.com/320/213/?47735 320w, http://placeimg.com/540/360/?53865 540w, http://placeimg.com/720/480/?2479 720w, http://placeimg.com/960/640/?99884 960w, http://placeimg.com/1140/760/?47636 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Sed aliquid ipsum et nam.
Dolores sequi saepe cum accusantium odio.
  </p>
  
  
  <p>
    <a href="https://okey.eu">Lire la suite<span class="sr-only"> de l'article Try to navigate the RAM monitor, maybe it will quantify the haptic driver!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list"><li class="vd-pagination__item vd-pagination__item--previous">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Page précédente
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">11 sur 244</span></a>
    </li><li class="vd-pagination__item vd-pagination__item--next">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          Page suivante
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">13 sur 244</span></a>
    </li>
  </ul>
</nav>


  </div>
</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d&#39;emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#" class="d-inline-block">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


