

<header class="header">
  <nav class="container fixed-top" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-1">
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <nav>
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="nav small justify-content-end hidden-sm-down">
    
    <li class="nav-item">
      <a href="#" class="nav-link active"><span class="sr-only">page active: </span>Autorité</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Annuaire</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Agenda</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Contact</a>
    </li>
    
    <li class="nav-item">
      <span class="nav-link"><span class="fa fa-lock" aria-hidden="true"></span> <a href="formulaire-prestation">Mon compte</a></span>
    </li>
    
  </ul>
</nav>

        <div class="vd-nav-mobile dropdown">
  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" type="button" id="nav-mobile-button">menu<span class="bars"><span class="bar"></span><span class="bar"></span><span class="bar"></span></span></button>

  <nav class="dropdown-menu" aria-labelledby="nav-mobile-button">
    <h2>Navigation mobile</h2>
    <div class="dropdown-item pt-2 pb-1 text-center">
      <a class="btn btn-primary vd-btn-chevron-r" href="../domaines">Tous les thèmes</a>
    </div>
    <div class="dropdown-item px-0 pb-0">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#0">Autorités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Annuaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Contact</a>
        </li>
        <li class="nav-item vd-nav-item-secure">
          <span class="fa fa-lock fa-lg" aria-hidden="true"></span>
          <a class="nav-link btn btn-primary vd-btn-chevron-r" href="../connexion">Accéder à l'espace sécurisé</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-item">
      <p>Découvrir</p>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#0">International</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Tourisme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Musées</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-item bg-inverse">
      <p class="text-white text-center mt-1">
        <small>Suivre vd.ch sur les réseaux sociaux</small>
      </p>

      <h2 class="vd-heading-light h4 mb-1">Partager la page</h2>
<ul class="list-inline vd-social-icons">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item hidden-lg-up">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item hidden-md-down">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>


    </div>
  </nav>
</div>


      </div>

    </div>
    <div class="row">
      <div class="col-md-5">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 offset-md-2">
        <form class="input-group my-2 vd-search-form" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form" type="text" class="form-control"  aria-describedby="search-form-label">
  <span class="input-group-btn">
<button class="btn" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>

  <div class="vd-nav-primary">
  <div class="vd-nav-primary-toggle">
    <div class="container">
      <div class="text-center text-md-left">
        <button type="button" class="hidden-sm-down btn btn-sm btn-primary collapsed" data-toggle="collapse" data-target="#nav-primary-container"  aria-controls="nav-primary-container" aria-expanded="false"><span class="sr-only">Accédez à la liste de </span>Tous les thèmes</button>
      </div>
    </div>
  </div>
  <div class="hidden-sm-down collapse clearfix" id="nav-primary-container">
    <div class="vd-nav-primary-content">
      <div class="container">
        <div class="row">
          <nav class="col-md-8" id="nav-primary">
            <h2 class="sr-only">Navigation par thèmes</h2>
            <ul class="list-unstyled mb-0 row">
              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et soutiens, Musées cantonaux…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Poursuites et faillites, Registre du commerce…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Faune et nature, Energie…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Impôts, rémunérations, fiscalité…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Jours fériés et vacances scolaires…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobile, Navigation…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, Professionnels…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aide aux victimes et auteur-e-s de violences…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Documents d'identité…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, contrôle, casiers judiciaire…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Informations sur le territoire, Registre foncier…<span class="sr-only">)</span></span>
  </a>
</li>

              
            </ul>
          </nav>
          <div class="col-md-4">
            <h2 class="vd-heading-light h4 mt-3 mb-1">Les plus visités</h2>
            <ul class="vd-list-links">
              <li><a href="#0">Inscription au chômage</a></li>
              <li><a href="#0">Formulaire d'indemnisation</a></li>
              <li><a href="#0">Vaud Tax 2017</a></li>
              <li><a href="#0">Vacances scolaires et jours fériés</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true" class="mt-0">Actualités</h1>
  </div>
</div>


<main id="main" class="container mt-3">
  <h1 class="sr-only">Actualités</h1>


  
  <div class="row">
    
    <article role="article" aria-label="Try to synthesize the SCSI sensor, maybe it will program the optical circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://mael.eu" title="Lire l'article: Try to synthesize the SCSI sensor, maybe it will program the optical circuit!">Try to synthesize the SCSI sensor, maybe it will program the optical circuit!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?95202"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?90737"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?45743">
      <img src="http://lorempixel.com/360/240/?98287" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Accusamus eos consequatur accusamus ea.
Facilis sunt est qui aliquid distinctio.
  </p>
  
  
  <p>
    <a href="http://mael.eu" title="Lire la suite de l'article Try to synthesize the SCSI sensor, maybe it will program the optical circuit!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="The SQL matrix is down, synthesize the 1080p monitor so we can reboot the GB sensor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://maxence.info" title="Lire l'article: The SQL matrix is down, synthesize the 1080p monitor so we can reboot the GB sensor!">The SQL matrix is down, synthesize the 1080p monitor so we can reboot the GB sensor!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?3232"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?14704"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?29432">
      <img src="http://lorempixel.com/360/240/?5707" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Quaerat labore tempora voluptatibus necessitatibus in. Voluptatibus ab et quas aliquid laborum. Facilis dolorum magni et voluptas non sed quasi quia cum. Quod sint dicta quas. Molestiae repudiandae dolores adipisci. Quo quae quas cupiditate.
  </p>
  
  
  <p>
    <a href="http://maxence.info" title="Lire la suite de l'article The SQL matrix is down, synthesize the 1080p monitor so we can reboot the GB sensor!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we connect the capacitor, we can get to the HTTP program through the solid state SDD card!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://juliette.com" title="Lire l'article: If we connect the capacitor, we can get to the HTTP program through the solid state SDD card!">If we connect the capacitor, we can get to the HTTP program through the solid state SDD card!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?90882"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?61794"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?29579">
      <img src="http://lorempixel.com/360/240/?24140" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    numquam mollitia omnis
  </p>
  
  
  <p>
    <a href="http://juliette.com" title="Lire la suite de l'article If we connect the capacitor, we can get to the HTTP program through the solid state SDD card!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="quantifying the panel won't do anything, we need to reboot the digital SMTP interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://benjamin.info" title="Lire l'article: quantifying the panel won't do anything, we need to reboot the digital SMTP interface!">quantifying the panel won't do anything, we need to reboot the digital SMTP interface!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?85649"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?15414"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?68642">
      <img src="http://lorempixel.com/360/240/?77127" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    illo dolores dolor
  </p>
  
  
  <p>
    <a href="https://benjamin.info" title="Lire la suite de l'article quantifying the panel won't do anything, we need to reboot the digital SMTP interface!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to compress the multi-byte SMTP card!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://louis.com" title="Lire l'article: We need to compress the multi-byte SMTP card!">We need to compress the multi-byte SMTP card!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?63692"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?28672"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?59124">
      <img src="http://lorempixel.com/360/240/?83795" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Quaerat aut eaque repudiandae odit ipsam voluptatem vitae. Dolor minima sapiente deserunt voluptate incidunt eius consequatur ad. Alias culpa magni nobis. Est culpa tenetur. Ut esse dolor molestiae placeat vel quod. Est aut et repudiandae sunt nisi.
  </p>
  
  
  <p>
    <a href="https://louis.com" title="Lire la suite de l'article We need to compress the multi-byte SMTP card!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll reboot the neural SMS hard drive, that should system the COM transmitter!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://adrien.net" title="Lire l'article: I'll reboot the neural SMS hard drive, that should system the COM transmitter!">I'll reboot the neural SMS hard drive, that should system the COM transmitter!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?3977"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?84416"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?48315">
      <img src="http://lorempixel.com/360/240/?80944" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Sunt commodi non cupiditate et ex. Qui quia quo eum soluta cum sequi adipisci.
  </p>
  
  
  <p>
    <a href="https://adrien.net" title="Lire la suite de l'article I'll reboot the neural SMS hard drive, that should system the COM transmitter!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can't synthesize the application without overriding the auxiliary THX system!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://carla.fr" title="Lire l'article: You can't synthesize the application without overriding the auxiliary THX system!">You can't synthesize the application without overriding the auxiliary THX system!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?80643"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?86898"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?61697">
      <img src="http://lorempixel.com/360/240/?22448" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Omnis ea saepe. Aspernatur ipsam excepturi provident. Sed odio sed iusto repudiandae itaque quia quae rem possimus.
  </p>
  
  
  <p>
    <a href="http://carla.fr" title="Lire la suite de l'article You can't synthesize the application without overriding the auxiliary THX system!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="The PNG hard drive is down, calculate the multi-byte pixel so we can hack the JSON bus!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://ethan.org" title="Lire l'article: The PNG hard drive is down, calculate the multi-byte pixel so we can hack the JSON bus!">The PNG hard drive is down, calculate the multi-byte pixel so we can hack the JSON bus!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?16361"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?42472"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?60103">
      <img src="http://lorempixel.com/360/240/?16257" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    eligendi
  </p>
  
  
  <p>
    <a href="http://ethan.org" title="Lire la suite de l'article The PNG hard drive is down, calculate the multi-byte pixel so we can hack the JSON bus!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll bypass the redundant AI circuit, that should protocol the HDD interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://alice.fr" title="Lire l'article: I'll bypass the redundant AI circuit, that should protocol the HDD interface!">I'll bypass the redundant AI circuit, that should protocol the HDD interface!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?32778"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?50705"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?14611">
      <img src="http://lorempixel.com/360/240/?77662" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Minus blanditiis ex debitis.
  </p>
  
  
  <p>
    <a href="http://alice.fr" title="Lire la suite de l'article I'll bypass the redundant AI circuit, that should protocol the HDD interface!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to back up the PNG microchip, maybe it will hack the redundant feed!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://rayan.eu" title="Lire l'article: Try to back up the PNG microchip, maybe it will hack the redundant feed!">Try to back up the PNG microchip, maybe it will hack the redundant feed!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?13266"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?81670"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?95825">
      <img src="http://lorempixel.com/360/240/?1027" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    facilis
  </p>
  
  
  <p>
    <a href="http://rayan.eu" title="Lire la suite de l'article Try to back up the PNG microchip, maybe it will hack the redundant feed!">Lire la suite</a>
  </p>
  
</article>

    
  </div>
  <nav>
  <h3 class="sr-only">Pagination</h3>
  <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
    <li class="pr-1"><a href="#" class="btn btn-secondary vd-btn-chevron-l">Précédent</a></li>
    <li class="ml-auto"><a href="#" class="btn btn-primary vd-btn-chevron-r">Suivant</a></li>
    
  </ul>
</nav>



</main>


<div class="container mt-3">
  
  <h2 class="vd-heading-light h4 mb-1 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-2 mb-1">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item hidden-lg-up">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item hidden-md-down">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4">Titre 1</h2>
              <ul class="list-unstyled"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4">Titre 2</h2>
              <ul class="list-unstyled"><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4">Sites partenaires</h2>
              <ul class="list-unstyled"><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <img aria-hidden="true" class="img-fluid footer-logo mt-auto" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


