

<header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex
                flex-wrap
                justify-content-between
                justify-content-md-end
                d-print-none">
      <div class="mr-3">
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-md-right small">
    
    <li class="list-inline-item">
      <a href="#" class="">Autorités</a>
    </li>
    
    <li class="list-inline-item">
      <a href="#" class="">Annuaire</a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a href="../accueil"
   class="vd-logo"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
    <nav class="pb-1">
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
      <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
      <li class="breadcrumb-item"><a href="#">Autorités</a></li>
    
      <li class="breadcrumb-item"><a href="#">Service des automobiles et de la navigation</a></li>
    
      <li class="breadcrumb-item"><a href="#">Actualité</a></li>
    
    <li class="sr-only" aria-current="page">Titre de la page courante</li>
  </ol>
</nav>

  </div>
</div>

<main id="main">
  <div class="vd-bg-pattern-gray">
    <h1 class="container mt-0">Categorie: Agriculture</h1>

  </div>

  <div class="container mt-5 vd-content">
    
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="You can't navigate the pixel without parsing the optical IB alarm!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://raphaël.com">You can't navigate the pixel without parsing the optical IB alarm!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?8471"
    srcset="http://lorempixel.com/320/213/?77086 320w, http://lorempixel.com/540/360/?48969 540w, http://lorempixel.com/720/480/?21573 720w, http://lorempixel.com/960/640/?33250 960w, http://lorempixel.com/1140/760/?47504 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Ratione quia voluptatibus magni beatae. Sequi temporibus velit non inventore non id atque. Illum ut labore distinctio deleniti dolore blanditiis. Est illo et commodi quasi et iusto autem.
  </p>
  
  
  <p>
    <a href="https://raphaël.com">Lire la suite<span class="sr-only"> de l'article You can't navigate the pixel without parsing the optical IB alarm!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to reboot the wireless THX port!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://lucas.com">We need to reboot the wireless THX port!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?98994"
    srcset="http://lorempixel.com/320/213/?17318 320w, http://lorempixel.com/540/360/?25159 540w, http://lorempixel.com/720/480/?66839 720w, http://lorempixel.com/960/640/?4296 960w, http://lorempixel.com/1140/760/?91691 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    molestias
  </p>
  
  
  <p>
    <a href="https://lucas.com">Lire la suite<span class="sr-only"> de l'article We need to reboot the wireless THX port!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we index the transmitter, we can get to the SMS alarm through the primary JBOD circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://noah.fr">If we index the transmitter, we can get to the SMS alarm through the primary JBOD circuit!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?93950"
    srcset="http://lorempixel.com/320/213/?68625 320w, http://lorempixel.com/540/360/?89036 540w, http://lorempixel.com/720/480/?37806 720w, http://lorempixel.com/960/640/?52545 960w, http://lorempixel.com/1140/760/?84502 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Quod harum reiciendis id quasi. Magni earum necessitatibus consequuntur aut laudantium soluta optio aut excepturi. Molestiae distinctio sunt nam sit odio error eos. Voluptatem excepturi et tenetur.
  </p>
  
  
  <p>
    <a href="http://noah.fr">Lire la suite<span class="sr-only"> de l'article If we index the transmitter, we can get to the SMS alarm through the primary JBOD circuit!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll synthesize the primary FTP application, that should hard drive the SAS firewall!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://clément.eu">I'll synthesize the primary FTP application, that should hard drive the SAS firewall!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?62118"
    srcset="http://lorempixel.com/320/213/?35585 320w, http://lorempixel.com/540/360/?27657 540w, http://lorempixel.com/720/480/?32406 720w, http://lorempixel.com/960/640/?16076 960w, http://lorempixel.com/1140/760/?59242 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Sapiente magni enim.
  </p>
  
  
  <p>
    <a href="https://clément.eu">Lire la suite<span class="sr-only"> de l'article I'll synthesize the primary FTP application, that should hard drive the SAS firewall!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we transmit the bus, we can get to the FTP capacitor through the 1080p ADP firewall!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://evan.eu">If we transmit the bus, we can get to the FTP capacitor through the 1080p ADP firewall!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?24411"
    srcset="http://lorempixel.com/320/213/?73920 320w, http://lorempixel.com/540/360/?2961 540w, http://lorempixel.com/720/480/?74983 720w, http://lorempixel.com/960/640/?29087 960w, http://lorempixel.com/1140/760/?55429 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Mollitia nesciunt ipsum reiciendis. Facilis illo commodi maxime voluptas ut quae voluptas. Sunt eum ex molestias facilis quaerat. Vel voluptate soluta numquam optio et dolor quasi ab. Aliquid similique est. Officiis itaque sapiente commodi.
  </p>
  
  
  <p>
    <a href="http://evan.eu">Lire la suite<span class="sr-only"> de l'article If we transmit the bus, we can get to the FTP capacitor through the 1080p ADP firewall!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The SQL application is down, compress the open-source driver so we can calculate the PCI interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://océane.com">The SQL application is down, compress the open-source driver so we can calculate the PCI interface!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?47598"
    srcset="http://lorempixel.com/320/213/?45551 320w, http://lorempixel.com/540/360/?13699 540w, http://lorempixel.com/720/480/?97457 720w, http://lorempixel.com/960/640/?85897 960w, http://lorempixel.com/1140/760/?36325 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Rerum veniam consequatur sed corrupti asperiores cum nam nihil.
  </p>
  
  
  <p>
    <a href="https://océane.com">Lire la suite<span class="sr-only"> de l'article The SQL application is down, compress the open-source driver so we can calculate the PCI interface!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to hack the mobile COM matrix!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://justine.fr">We need to hack the mobile COM matrix!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?76058"
    srcset="http://lorempixel.com/320/213/?6670 320w, http://lorempixel.com/540/360/?84616 540w, http://lorempixel.com/720/480/?41474 720w, http://lorempixel.com/960/640/?5691 960w, http://lorempixel.com/1140/760/?43134 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Sapiente quaerat adipisci porro quia ut distinctio beatae. Quos ut modi. Quam maiores ad officiis libero velit. Magnam quibusdam illo est assumenda doloremque. Ut rerum iure.
 Dolor qui ratione eius molestias expedita. Ut et aperiam temporibus officiis praesentium impedit et sit. Dolorum voluptatem cumque.
 Atque tempore mollitia. Occaecati quo id aspernatur et perferendis. Mollitia velit numquam aut officia porro. Velit eius id a labore iste...
  </p>
  
  
  <p>
    <a href="http://justine.fr">Lire la suite<span class="sr-only"> de l'article We need to hack the mobile COM matrix!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we hack the port, we can get to the FTP alarm through the haptic SSL interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://mathis.info">If we hack the port, we can get to the FTP alarm through the haptic SSL interface!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?94376"
    srcset="http://lorempixel.com/320/213/?63817 320w, http://lorempixel.com/540/360/?19534 540w, http://lorempixel.com/720/480/?98530 720w, http://lorempixel.com/960/640/?29683 960w, http://lorempixel.com/1140/760/?29758 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Facere animi eligendi aut voluptas ex earum saepe amet et.
  </p>
  
  
  <p>
    <a href="http://mathis.info">Lire la suite<span class="sr-only"> de l'article If we hack the port, we can get to the FTP alarm through the haptic SSL interface!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we navigate the alarm, we can get to the HDD bandwidth through the online RAM feed!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://louna.eu">If we navigate the alarm, we can get to the HDD bandwidth through the online RAM feed!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?17100"
    srcset="http://lorempixel.com/320/213/?71812 320w, http://lorempixel.com/540/360/?67686 540w, http://lorempixel.com/720/480/?51813 720w, http://lorempixel.com/960/640/?93353 960w, http://lorempixel.com/1140/760/?937 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Quo ipsam amet dolores nisi expedita culpa aliquid voluptate culpa. Perferendis ut adipisci sapiente autem. Dolores dolores autem vel odit provident praesentium nostrum.
  </p>
  
  
  <p>
    <a href="https://louna.eu">Lire la suite<span class="sr-only"> de l'article If we navigate the alarm, we can get to the HDD bandwidth through the online RAM feed!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can't quantify the hard drive without navigating the redundant FTP microchip!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://camille.info">You can't quantify the hard drive without navigating the redundant FTP microchip!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?96183"
    srcset="http://lorempixel.com/320/213/?6273 320w, http://lorempixel.com/540/360/?50806 540w, http://lorempixel.com/720/480/?70283 720w, http://lorempixel.com/960/640/?29133 960w, http://lorempixel.com/1140/760/?61660 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Non est et non. Repellat sed quaerat in hic. Sed sint hic rerum velit cupiditate cupiditate odio voluptates.
  </p>
  
  
  <p>
    <a href="https://camille.info">Lire la suite<span class="sr-only"> de l'article You can't quantify the hard drive without navigating the redundant FTP microchip!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list"><li class="vd-pagination__item vd-pagination__item--previous">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Page précédente
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">11 sur 244</span></a>
    </li><li class="vd-pagination__item vd-pagination__item--next">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          Page suivante
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">13 sur 244</span></a>
    </li>
  </ul>
</nav>


  </div>
</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


