

<header class="header">
  <nav class="vd-access-nav" aria-label="menu accessibilité">
  <ul>
      <li>
        <a class="btn btn-primary" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li><a class="btn btn-primary" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a></li>
      <li>
        <a class="btn btn-primary" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <nav>
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="nav small justify-content-end hidden-sm-down">
    
    <li class="nav-item">
      <a href="#" class="nav-link active"><span class="sr-only">page active: </span>Autorité</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Annuaire</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Agenda</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Contact</a>
    </li>
    
    <li class="nav-item">
      <span class="nav-link"><span class="fa fa-lock" aria-hidden="true"></span> <a href="formulaire-prestation">Mon compte</a></span>
    </li>
    
  </ul>
</nav>

        <div class="vd-nav-mobile dropdown">
  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" type="button" id="nav-mobile-button">menu<span class="bars"><span class="bar"></span><span class="bar"></span><span class="bar"></span></span></button>

  <nav class="dropdown-menu" aria-labelledby="nav-mobile-button">
    <h2>Navigation mobile</h2>
    <div class="dropdown-item pt-2 pb-1 text-center">
      <a class="btn btn-primary vd-btn-chevron-r" href="../domaines">Tous les thèmes</a>
    </div>
    <div class="dropdown-item px-0 pb-0">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#0">Autorités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Annuaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Contact</a>
        </li>
        <li class="nav-item vd-nav-item-secure">
          <span class="fa fa-lock fa-lg" aria-hidden="true"></span>
          <a class="nav-link btn btn-primary vd-btn-chevron-r" href="../connexion">Accéder à l'espace sécurisé</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-item">
      <p>Découvrir</p>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#0">International</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Tourisme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Musées</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-item bg-inverse">
      <p class="text-white text-center mt-1">
        <small>Suivre vd.ch sur les réseaux sociaux</small>
      </p>

      <h2 class="vd-section-title mb-1">Partager la page</h2>

<ul class="list-inline vd-social-icons">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"><span class="sr-only">Envoyer par courriel</span></span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item hidden-lg-up">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item hidden-md-down">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>


    </div>
  </nav>
</div>


      </div>

    </div>
    <div class="row">
      <div class="col-md-5">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
  <div class="vd-logo-title">
    <div id="aria-vd-logo">Site officiel<span class="sr-only"> de l'État de Vaud</span></div>
    <img src="../../assets/svg/ETATVAUD.svg" alt="État de Vaud" aria-hidden="true" />
  </div>
</a>

      </div>
      <div class="col-md-5 offset-md-2">
        <form class="input-group my-2 vd-search-form" action="#">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form" type="text" class="form-control"  aria-describedby="search-form-label">
  <span class="input-group-btn">
<button class="btn" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>

  <div class="vd-nav-primary">
  <div class="vd-nav-primary-toggle">
    <div class="container">
      <div class="text-center text-md-left">
        <button type="button" class="hidden-sm-down btn btn-sm btn-primary collapsed" data-toggle="collapse" data-target="#nav-primary-container"  aria-controls="nav-primary-container" aria-expanded="false"><span class="sr-only">Accédez à la liste de </span>Tous les thèmes</button>
      </div>
    </div>
  </div>
  <div class="hidden-sm-down collapse clearfix" id="nav-primary-container">
    <div class="vd-nav-primary-content">
      <div class="container">
        <div class="row">
          <nav class="col-md-8" id="nav-primary">
            <h2 class="sr-only">Navigation par thèmes</h2>
            <ul class="list-unstyled mb-0 row">
              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="#" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 d-block">Culture</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et soutiens, Musées cantonaux…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="#" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 d-block">Economie</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Poursuites et faillites, Registre du commerce…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="#" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 d-block">Environnement</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Faune et nature, Energie…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="#" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 d-block">Etat, Droit, Finance</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Impôts, rémunérations, fiscalité…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="#" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 d-block">Formation</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Jours fériés et vacances scolaires…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="#" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 d-block">Mobilité</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobile, Navigation…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="#" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 d-block">Santé</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, Professionnels…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="#" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 d-block">Social</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aide aux victimes et auteur-e-s de violences…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="#" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 d-block">Vie privée</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Documents d'identité…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="#" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 d-block">Sécurité</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, contrôle, casiers judiciaire…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="#" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 d-block">Territoire</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Informations sur le territoire, Registre foncier…<span class="sr-only">)</span></small>
  </a>
</li>

              
            </ul>
          </nav>
          <div class="col-md-4">
            <h2 class="vd-section-title mt-3 mb-1">Les plus visités</h2>
            <ul class="vd-list-links">
              <li><a href="#0">Inscription au chômage</a></li>
              <li><a href="#0">Formulaire d'indemnisation</a></li>
              <li><a href="#0">Vaud Tax 2017</a></li>
              <li><a href="#0">Vacances scolaires et jours fériés</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true">Actualités</h1>
  </div>
</div>


<main id="main" class="container mt-3">
  <h1 class="sr-only">Actualités</h1>


  
  <div class="row">
    
    <article role="article" aria-label="The AGP bus is down, reboot the primary microchip so we can connect the SMS matrix!" class="mb-3 col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://juliette.org" title="Lire l'article: The AGP bus is down, reboot the primary microchip so we can connect the SMS matrix!">The AGP bus is down, reboot the primary microchip so we can connect the SMS matrix!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?50022"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?55723"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?51758">
      <img src="http://lorempixel.com/360/240/?52782" class="img-fluid" alt="">
</picture>
  
</figure>

  
  
  <p>
    quasi
  </p>
  
  
  <p>
    <a href="https://juliette.org" title="Lire la suite de l'article The AGP bus is down, reboot the primary microchip so we can connect the SMS matrix!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll navigate the primary SDD sensor, that should capacitor the JBOD array!" class="mb-3 col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://baptiste.fr" title="Lire l'article: I'll navigate the primary SDD sensor, that should capacitor the JBOD array!">I'll navigate the primary SDD sensor, that should capacitor the JBOD array!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?29404"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?7423"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?25440">
      <img src="http://lorempixel.com/360/240/?28647" class="img-fluid" alt="">
</picture>
  
</figure>

  
  
  <p>
    numquam et et
  </p>
  
  
  <p>
    <a href="http://baptiste.fr" title="Lire la suite de l'article I'll navigate the primary SDD sensor, that should capacitor the JBOD array!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="The CSS sensor is down, connect the auxiliary port so we can index the PNG port!" class="mb-3 col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://alicia.info" title="Lire l'article: The CSS sensor is down, connect the auxiliary port so we can index the PNG port!">The CSS sensor is down, connect the auxiliary port so we can index the PNG port!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?17611"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?61032"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?22008">
      <img src="http://lorempixel.com/360/240/?37603" class="img-fluid" alt="">
</picture>
  
</figure>

  
  
  <p>
    Beatae recusandae architecto aut vitae culpa aut ut et. Autem voluptates libero. Laudantium sed ut occaecati amet ad ut. Perspiciatis velit sapiente.
  </p>
  
  
  <p>
    <a href="http://alicia.info" title="Lire la suite de l'article The CSS sensor is down, connect the auxiliary port so we can index the PNG port!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to override the neural IB sensor!" class="mb-3 col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://louis.eu" title="Lire l'article: We need to override the neural IB sensor!">We need to override the neural IB sensor!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?9892"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?34582"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?4745">
      <img src="http://lorempixel.com/360/240/?8665" class="img-fluid" alt="">
</picture>
  
</figure>

  
  
  <p>
    Commodi aut laudantium. Cupiditate reiciendis quo tenetur aliquam aut. Ut omnis quasi voluptas libero occaecati sed.
  </p>
  
  
  <p>
    <a href="https://louis.eu" title="Lire la suite de l'article We need to override the neural IB sensor!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll input the bluetooth JBOD application, that should hard drive the FTP array!" class="mb-3 col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://lisa.net" title="Lire l'article: I'll input the bluetooth JBOD application, that should hard drive the FTP array!">I'll input the bluetooth JBOD application, that should hard drive the FTP array!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?16277"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?59561"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?26492">
      <img src="http://lorempixel.com/360/240/?13336" class="img-fluid" alt="">
</picture>
  
</figure>

  
  
  <p>
    Alias reprehenderit placeat voluptates minus.
Quia aut asperiores est est natus quae voluptatem sed.
Qui aut vel iste quae consequatur.
  </p>
  
  
  <p>
    <a href="http://lisa.net" title="Lire la suite de l'article I'll input the bluetooth JBOD application, that should hard drive the FTP array!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="bypassing the feed won't do anything, we need to navigate the bluetooth SMTP port!" class="mb-3 col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://emilie.eu" title="Lire l'article: bypassing the feed won't do anything, we need to navigate the bluetooth SMTP port!">bypassing the feed won't do anything, we need to navigate the bluetooth SMTP port!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?1923"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?12131"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?85406">
      <img src="http://lorempixel.com/360/240/?42325" class="img-fluid" alt="">
</picture>
  
</figure>

  
  
  <p>
    occaecati aliquam architecto
  </p>
  
  
  <p>
    <a href="https://emilie.eu" title="Lire la suite de l'article bypassing the feed won't do anything, we need to navigate the bluetooth SMTP port!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to back up the EXE bandwidth, maybe it will transmit the virtual card!" class="mb-3 col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://adam.net" title="Lire l'article: Try to back up the EXE bandwidth, maybe it will transmit the virtual card!">Try to back up the EXE bandwidth, maybe it will transmit the virtual card!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?39323"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?89871"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?73020">
      <img src="http://lorempixel.com/360/240/?41893" class="img-fluid" alt="">
</picture>
  
</figure>

  
  
  <p>
    Illo iure consequatur dolorem temporibus earum dolorum accusantium architecto et.
  </p>
  
  
  <p>
    <a href="https://adam.net" title="Lire la suite de l'article Try to back up the EXE bandwidth, maybe it will transmit the virtual card!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the online SCSI card, then you can generate the back-end hard drive!" class="mb-3 col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://evan.fr" title="Lire l'article: Use the online SCSI card, then you can generate the back-end hard drive!">Use the online SCSI card, then you can generate the back-end hard drive!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?37831"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?15348"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?32546">
      <img src="http://lorempixel.com/360/240/?29651" class="img-fluid" alt="">
</picture>
  
</figure>

  
  
  <p>
    Labore officia et nemo ullam. Laborum et est est natus eos. Voluptas omnis eligendi adipisci in.
  </p>
  
  
  <p>
    <a href="https://evan.fr" title="Lire la suite de l'article Use the online SCSI card, then you can generate the back-end hard drive!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can't calculate the capacitor without backing up the virtual GB circuit!" class="mb-3 col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://carla.eu" title="Lire l'article: You can't calculate the capacitor without backing up the virtual GB circuit!">You can't calculate the capacitor without backing up the virtual GB circuit!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?91057"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?23636"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?32927">
      <img src="http://lorempixel.com/360/240/?86874" class="img-fluid" alt="">
</picture>
  
</figure>

  
  
  <p>
    Aut quis quae ut.
  </p>
  
  
  <p>
    <a href="https://carla.eu" title="Lire la suite de l'article You can't calculate the capacitor without backing up the virtual GB circuit!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="backing up the capacitor won't do anything, we need to transmit the 1080p IB matrix!" class="mb-3 col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://mael.com" title="Lire l'article: backing up the capacitor won't do anything, we need to transmit the 1080p IB matrix!">backing up the capacitor won't do anything, we need to transmit the 1080p IB matrix!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?28385"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?66774"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?65057">
      <img src="http://lorempixel.com/360/240/?65276" class="img-fluid" alt="">
</picture>
  
</figure>

  
  
  <p>
    qui
  </p>
  
  
  <p>
    <a href="https://mael.com" title="Lire la suite de l'article backing up the capacitor won't do anything, we need to transmit the 1080p IB matrix!">Lire la suite</a>
  </p>
  
</article>

    
  </div>
  <nav>
  <h3 class="sr-only">Pagination</h3>
  <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
    <li class="pr-1"><a href="#" class="btn btn-secondary vd-btn-chevron-l">Précédent</a></li>
    <li class="ml-auto"><a href="#" class="btn btn-primary vd-btn-chevron-r">Suivant</a></li>
    
  </ul>
</nav>



</main>

<div class="container">
  
  <h2 class="vd-section-title mb-1 sr-only">Partager</h2>

<ul class="list-inline vd-social-icons mt-2">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"><span class="sr-only">Envoyer par courriel</span></span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item hidden-lg-up">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item hidden-md-down">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>
<footer class="footer">
  <div class="container">
    <a href="#" class="footer-btn-backtotop btn btn-sm btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
    <div class="row small">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            <div class="col-sm-4">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Offres d'emploi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Statistiques</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Portail sécurisé</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Flux RSS</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Espace sécurisé</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Mentions légales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="#">Permaliens</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="#">Guide Typo 3</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h4 class="vd-section-title text-white mb-1">Sites partenaires</h4>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Promotion Vaud.ch</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Tourisme</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Musées</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Patrimoine</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="#">CH.ch</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-xs-2 footer-logo-container">
          <div class="footer-logo">
            <img class="img-fluid" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
          </div>
        </div>
    </div>
  </div>
</footer>


