

<header class="header">
  <nav class="container fixed-top access-nav" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <nav>
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-right">
    
    <li class="list-inline-item">
      <a href="#" class="">Autorités</a>
    </li>
    
    <li class="list-inline-item">
      <a href="#" class="">Annuaire</a>
    </li>
    
    <li class="list-inline-item">
      <span class="fa fa-lock" aria-hidden="true"></span> <a href="formulaire-prestation">Mon compte</a>
    </li>
    
  </ul>
</nav>

        <div class="vd-nav-mobile dropdown">
  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" type="button" id="nav-mobile-button">menu</button>

  <nav class="dropdown-menu" aria-labelledby="nav-mobile-button">
    <h2 class="sr-only">Navigation mobile</h2>
    <div class="dropdown-item pt-4 text-center">
      <a class="btn btn-dark" href="../domaines">Tous les thèmes</a>
    </div>
    <div class="dropdown-item px-0 pb-0">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#0">Autorités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Annuaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Contact</a>
        </li>
        <li class="nav-item vd-nav-item-secure">
          <a class="nav-link btn btn-dark" href="../connexion"><span class="fa fa-lock fa-lg" aria-hidden="true"></span> Accéder à l'espace sécurisé</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-item px-0 pb-0">
      <h2 class="vd-heading-light h6 text-center mt-3 mb-0">Découvrir</h2>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#0">International</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Tourisme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Musées</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-item bg-dark">
      <h2 class="vd-heading-light h4 mb-3 text-white text-center h6">Suivre vd.ch sur les réseaux sociaux</h2>
<ul class="list-inline vd-social-icons text-center mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

    </div>
  </nav>
</div>


      </div>

    </div>
    
    <div class="row">
      <div class="col-md-5">
        <a href="../accueil" 
   class="vd-logo" 
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto">
        <form class="input-group vd-search-form my-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form" type="text" class="form-control" placeholder="Rechercher"  aria-describedby="search-form-label">
  <span class="input-group-btn">
  <button class="btn" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary">
  <div class="vd-nav-primary-toggle">
    <div class="container">
      <button type="button" class="d-none d-md-inline-block btn btn-sm btn-dark vd-menu-toggle collapsed" data-toggle="collapse" data-target="#nav-primary-container"  aria-controls="nav-primary-container" aria-expanded="false">
        <span class="sr-only">Accédez au </span>
        Infos et services en ligne
        <span class="fa vd-fa-menu-toggle fa-fw" aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <div class="collapse clearfix" id="nav-primary-container">
    <div class="vd-nav-primary-content d-none d-md-block">
      <div class="container">
        <div class="row">
          <nav class="col-md-8" id="nav-primary">
            <h2 class="sr-only">Navigation par thèmes</h2>
            <ul class="list-unstyled mb-0 row">
              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et soutiens, Musées cantonaux…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Poursuites et faillites, Registre du commerce…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Faune et nature, Energie…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Impôts, rémunérations, fiscalité…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Jours fériés et vacances scolaires…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobile, Navigation…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, Professionnels…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aide aux victimes et auteur-e-s de violences…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Documents d'identité…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, contrôle, casiers judiciaire…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Informations sur le territoire, Registre foncier…<span class="sr-only">)</span></span>
  </a>
</li>

              
            </ul>
          </nav>
          <div class="col-md-4">
            <h2 class="vd-heading-light-alt h4 mt-5 mb-3">Les plus visités</h2>
            <ul class="vd-menu-list-links">
              <li><a href="#0">Inscription au chômage</a></li>
              <li><a href="#0">Formulaire d'indemnisation</a></li>
              <li><a href="#0">Vaud Tax 2017</a></li>
              <li><a href="#0">Vacances scolaires et jours fériés</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="breadcrumb-item"><a href="#">Autorités</a></li>
    
    <li class="breadcrumb-item"><a href="#">Service des automobiles et de la navigation</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true" class="mt-0">Toutes les activités</h1>
  </div>
</div>


<main id="main" class="container mt-5 vd-content">
  <h1 class="sr-only">Toutes les activités</h1>


  
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="mt-0">Rechercher dans les actualités</h4>

<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form" type="text" class="form-control"  aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="I'll override the online THX hard drive, that should bandwidth the PNG bandwidth!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://clara.com">I'll override the online THX hard drive, that should bandwidth the PNG bandwidth!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?42177"
    srcset="http://lorempixel.com/320/213/?74931 320w, http://lorempixel.com/540/360/?14139 540w, http://lorempixel.com/720/480/?21834 720w, http://lorempixel.com/960/640/?36638 960w, http://lorempixel.com/1140/760/?66115 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    quae
  </p>
  
  
  <p>
    <a href="http://clara.com">Lire la suite<span class="sr-only"> de l'article I'll override the online THX hard drive, that should bandwidth the PNG bandwidth!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we quantify the microchip, we can get to the ADP feed through the redundant SSL sensor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://juliette.net">If we quantify the microchip, we can get to the ADP feed through the redundant SSL sensor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?62862"
    srcset="http://lorempixel.com/320/213/?2476 320w, http://lorempixel.com/540/360/?20648 540w, http://lorempixel.com/720/480/?8923 720w, http://lorempixel.com/960/640/?11052 960w, http://lorempixel.com/1140/760/?25755 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Iure quasi occaecati quam. Architecto consectetur ab nihil rem aliquid ut aperiam sit. Explicabo temporibus amet veritatis ex cupiditate commodi et dolores. Ipsam molestiae voluptatibus qui deleniti nulla eum.
  </p>
  
  
  <p>
    <a href="https://juliette.net">Lire la suite<span class="sr-only"> de l'article If we quantify the microchip, we can get to the ADP feed through the redundant SSL sensor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll input the neural HTTP port, that should port the THX microchip!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://jules.com">I'll input the neural HTTP port, that should port the THX microchip!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?36810"
    srcset="http://lorempixel.com/320/213/?55514 320w, http://lorempixel.com/540/360/?87645 540w, http://lorempixel.com/720/480/?26761 720w, http://lorempixel.com/960/640/?38395 960w, http://lorempixel.com/1140/760/?22916 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Id at magni fugiat. Ullam non reiciendis voluptas aspernatur quia qui mollitia eaque doloribus. Et corrupti quia. Est error beatae. Placeat atque accusamus molestiae ut vel necessitatibus. Accusamus minus non dolorem asperiores perspiciatis doloribus non.
 Dicta facere architecto aut excepturi dolorem corrupti. Tempore quaerat consequuntur quod. Magni deserunt magni consequatur laboriosam quia aliquid sed. Assumenda aut nam consequatur iure...
  </p>
  
  
  <p>
    <a href="https://jules.com">Lire la suite<span class="sr-only"> de l'article I'll input the neural HTTP port, that should port the THX microchip!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to reboot the bluetooth AGP interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://zoe.eu">We need to reboot the bluetooth AGP interface!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?6481"
    srcset="http://lorempixel.com/320/213/?46236 320w, http://lorempixel.com/540/360/?52175 540w, http://lorempixel.com/720/480/?38114 720w, http://lorempixel.com/960/640/?96077 960w, http://lorempixel.com/1140/760/?58652 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Qui quia fuga eum.
Eum error illo distinctio sint.
Itaque sed a omnis ut.
Debitis voluptatem optio voluptate et ut aperiam.
Laboriosam est iste possimus sapiente sint libero ratione.
  </p>
  
  
  <p>
    <a href="http://zoe.eu">Lire la suite<span class="sr-only"> de l'article We need to reboot the bluetooth AGP interface!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the back-end USB microchip, then you can compress the mobile microchip!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://maxence.com">Use the back-end USB microchip, then you can compress the mobile microchip!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?84708"
    srcset="http://lorempixel.com/320/213/?51134 320w, http://lorempixel.com/540/360/?2846 540w, http://lorempixel.com/720/480/?21494 720w, http://lorempixel.com/960/640/?48169 960w, http://lorempixel.com/1140/760/?71087 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Optio rerum voluptatem laudantium aut sunt repudiandae dignissimos et.
  </p>
  
  
  <p>
    <a href="http://maxence.com">Lire la suite<span class="sr-only"> de l'article Use the back-end USB microchip, then you can compress the mobile microchip!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to bypass the GB interface, maybe it will input the open-source matrix!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://maëlle.com">Try to bypass the GB interface, maybe it will input the open-source matrix!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?46865"
    srcset="http://lorempixel.com/320/213/?38209 320w, http://lorempixel.com/540/360/?6835 540w, http://lorempixel.com/720/480/?5882 720w, http://lorempixel.com/960/640/?24080 960w, http://lorempixel.com/1140/760/?99180 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Voluptas soluta magni ratione nobis dolor quis eius.
  </p>
  
  
  <p>
    <a href="http://maëlle.com">Lire la suite<span class="sr-only"> de l'article Try to bypass the GB interface, maybe it will input the open-source matrix!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the mobile AI firewall, then you can bypass the virtual application!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://jeanne.net">Use the mobile AI firewall, then you can bypass the virtual application!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?85570"
    srcset="http://lorempixel.com/320/213/?45287 320w, http://lorempixel.com/540/360/?72953 540w, http://lorempixel.com/720/480/?77749 720w, http://lorempixel.com/960/640/?24315 960w, http://lorempixel.com/1140/760/?67378 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    cupiditate
  </p>
  
  
  <p>
    <a href="https://jeanne.net">Lire la suite<span class="sr-only"> de l'article Use the mobile AI firewall, then you can bypass the virtual application!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="quantifying the feed won't do anything, we need to copy the optical SMS array!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://lucas.org">quantifying the feed won't do anything, we need to copy the optical SMS array!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?97991"
    srcset="http://lorempixel.com/320/213/?14291 320w, http://lorempixel.com/540/360/?37962 540w, http://lorempixel.com/720/480/?75189 720w, http://lorempixel.com/960/640/?20557 960w, http://lorempixel.com/1140/760/?70467 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    quo quia consequatur
  </p>
  
  
  <p>
    <a href="http://lucas.org">Lire la suite<span class="sr-only"> de l'article quantifying the feed won't do anything, we need to copy the optical SMS array!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to parse the SMTP protocol, maybe it will override the optical alarm!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://axel.com">Try to parse the SMTP protocol, maybe it will override the optical alarm!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?2293"
    srcset="http://lorempixel.com/320/213/?54155 320w, http://lorempixel.com/540/360/?59516 540w, http://lorempixel.com/720/480/?81514 720w, http://lorempixel.com/960/640/?35409 960w, http://lorempixel.com/1140/760/?58400 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    temporibus similique et
  </p>
  
  
  <p>
    <a href="https://axel.com">Lire la suite<span class="sr-only"> de l'article Try to parse the SMTP protocol, maybe it will override the optical alarm!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the cross-platform TCP system, then you can input the cross-platform firewall!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://mathis.info">Use the cross-platform TCP system, then you can input the cross-platform firewall!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?38307"
    srcset="http://lorempixel.com/320/213/?30428 320w, http://lorempixel.com/540/360/?91944 540w, http://lorempixel.com/720/480/?86473 720w, http://lorempixel.com/960/640/?26743 960w, http://lorempixel.com/1140/760/?85366 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Consequatur sint autem itaque voluptate aut eveniet modi accusamus. Tempora dolorum voluptas qui veniam deleniti non est. Nulla velit sed et rerum. Dignissimos magni ut fuga magnam. Et quod iure et dolores.
 Non facilis consequatur assumenda. Harum necessitatibus a fugiat fugit iste culpa illum nam molestiae. Ab fugit totam voluptas. Expedita et neque facere suscipit perspiciatis quia quis et. At magnam et et est distinctio.
 Animi nesciunt aut...
  </p>
  
  
  <p>
    <a href="https://mathis.info">Lire la suite<span class="sr-only"> de l'article Use the cross-platform TCP system, then you can input the cross-platform firewall!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="">
  <ul class="vd-pagination__list">
        
        <li class="vd-pagination__item vd-pagination__item--previous">
            
            <a href="#" class="vd-pagination__link">
            
                <span class="vd-pagination__title">
                    <span class="fa fa-chevron-left" aria-hidden="true"></span>
                    Page précédente
                </span>
                
                    <span class="sr-only">:</span>
                    <span class="vd-pagination__label">11 sur 244</span>
                
            
            </a>
            
        </li>
        
        
          
        <li class="vd-pagination__item vd-pagination__item--next">
          
            <a href="#" class="vd-pagination__link">
              
                <span class="vd-pagination__title">
                    Page suivante
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                </span>
                
                    <span class="sr-only">:</span>
                    <span class="vd-pagination__label">13 sur 244</span>
                  
            
            </a>
            
        </li>
        
    </ul>
</nav>



</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark vd-btn-chevron-t" title="Retour vers le haut de la page">Haut <span class="fa fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


