

<header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex flex-wrap justify-content-between justify-content-md-end
      d-print-none">
      <div>
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-right small">
    
    <li class="list-inline-item">
      <a href="#" class="">Autorités</a>
    </li>
    
    <li class="list-inline-item">
      <a href="#" class="">Annuaire</a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small ml-3 text-right">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a href="../accueil"
   class="vd-logo"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true" class="mt-0">Toutes les actualités</h1>
  </div>
</div>


<main id="main" class="container mt-5 vd-content">
  <h1 class="sr-only">Toutes les actualités</h1>


  
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="The AGP firewall is down, override the virtual bandwidth so we can connect the RAM protocol!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://raphaël.com">The AGP firewall is down, override the virtual bandwidth so we can connect the RAM protocol!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?97843"
    srcset="http://lorempixel.com/320/213/?50469 320w, http://lorempixel.com/540/360/?77639 540w, http://lorempixel.com/720/480/?40644 720w, http://lorempixel.com/960/640/?77192 960w, http://lorempixel.com/1140/760/?74097 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Quis dolores incidunt debitis eligendi inventore incidunt aut laboriosam. Eum minus nulla ab eos et repellendus sint. Molestiae ut adipisci quo fugiat. Sequi saepe magni explicabo perferendis. Odio accusantium sint magni nisi voluptates fugit illo voluptates.
  </p>
  
  
  <p>
    <a href="https://raphaël.com">Lire la suite<span class="sr-only"> de l'article The AGP firewall is down, override the virtual bandwidth so we can connect the RAM protocol!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to input the neural SQL circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://lilou.fr">We need to input the neural SQL circuit!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?59953"
    srcset="http://lorempixel.com/320/213/?94421 320w, http://lorempixel.com/540/360/?25864 540w, http://lorempixel.com/720/480/?9737 720w, http://lorempixel.com/960/640/?37049 960w, http://lorempixel.com/1140/760/?67493 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Voluptas sequi similique id suscipit ea quam quas.
Sint dolores autem repudiandae.
Facilis quia dolor accusamus nulla veniam earum consequatur sequi.
Non libero magni.
  </p>
  
  
  <p>
    <a href="https://lilou.fr">Lire la suite<span class="sr-only"> de l'article We need to input the neural SQL circuit!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the back-end SQL array, then you can bypass the virtual port!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://juliette.name">Use the back-end SQL array, then you can bypass the virtual port!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?38852"
    srcset="http://lorempixel.com/320/213/?4716 320w, http://lorempixel.com/540/360/?33937 540w, http://lorempixel.com/720/480/?60666 720w, http://lorempixel.com/960/640/?15619 960w, http://lorempixel.com/1140/760/?3221 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Rem enim et voluptate dolor.
Minus et consequatur rerum quia nihil.
Ut fugit dolorum quas aperiam dolor dolorem ipsa quia.
Omnis qui dolore.
  </p>
  
  
  <p>
    <a href="http://juliette.name">Lire la suite<span class="sr-only"> de l'article Use the back-end SQL array, then you can bypass the virtual port!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="synthesizing the transmitter won't do anything, we need to compress the online USB driver!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://noémie.name">synthesizing the transmitter won't do anything, we need to compress the online USB driver!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?74320"
    srcset="http://lorempixel.com/320/213/?17394 320w, http://lorempixel.com/540/360/?16001 540w, http://lorempixel.com/720/480/?3372 720w, http://lorempixel.com/960/640/?48862 960w, http://lorempixel.com/1140/760/?7219 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Fugiat magnam est voluptatem quis deserunt. Qui inventore sit doloribus ullam impedit consequatur reprehenderit dolorem. Saepe ea ratione. Sed a nihil alias soluta. Non cupiditate quibusdam labore quae laborum assumenda.
 Sunt consequatur odio excepturi nemo. Labore veniam reiciendis eos id quae at consequatur. Aut non minima reiciendis aut placeat. Similique quae aut natus in eveniet aut.
 Dolorem commodi aut porro aut odio sint nisi doloribus...
  </p>
  
  
  <p>
    <a href="https://noémie.name">Lire la suite<span class="sr-only"> de l'article synthesizing the transmitter won't do anything, we need to compress the online USB driver!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll input the virtual RSS port, that should transmitter the JBOD circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://justine.net">I'll input the virtual RSS port, that should transmitter the JBOD circuit!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?41346"
    srcset="http://lorempixel.com/320/213/?23422 320w, http://lorempixel.com/540/360/?4519 540w, http://lorempixel.com/720/480/?98021 720w, http://lorempixel.com/960/640/?1370 960w, http://lorempixel.com/1140/760/?94252 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    vel
  </p>
  
  
  <p>
    <a href="http://justine.net">Lire la suite<span class="sr-only"> de l'article I'll input the virtual RSS port, that should transmitter the JBOD circuit!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can't transmit the array without hacking the online HTTP application!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://axel.fr">You can't transmit the array without hacking the online HTTP application!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?6717"
    srcset="http://lorempixel.com/320/213/?55383 320w, http://lorempixel.com/540/360/?28831 540w, http://lorempixel.com/720/480/?57800 720w, http://lorempixel.com/960/640/?88944 960w, http://lorempixel.com/1140/760/?8129 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Eius expedita eius voluptatem sapiente delectus. Aut atque illum voluptatum voluptate dolores occaecati optio cumque similique. Quia asperiores est natus iste quae reiciendis dolorem adipisci. Dolorem repellat officia et aut nihil earum odio. Soluta facilis placeat eum. Omnis impedit magni.
 Ea aut fuga tempore ab delectus quia nemo quam. Occaecati enim repellat eligendi distinctio libero qui ad unde. Ratione cumque qui ut est asperiores...
  </p>
  
  
  <p>
    <a href="https://axel.fr">Lire la suite<span class="sr-only"> de l'article You can't transmit the array without hacking the online HTTP application!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The CSS bandwidth is down, connect the 1080p capacitor so we can copy the THX feed!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://juliette.com">The CSS bandwidth is down, connect the 1080p capacitor so we can copy the THX feed!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?59419"
    srcset="http://lorempixel.com/320/213/?63301 320w, http://lorempixel.com/540/360/?73807 540w, http://lorempixel.com/720/480/?10545 720w, http://lorempixel.com/960/640/?67212 960w, http://lorempixel.com/1140/760/?1536 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Hic nihil et reiciendis sit.
  </p>
  
  
  <p>
    <a href="http://juliette.com">Lire la suite<span class="sr-only"> de l'article The CSS bandwidth is down, connect the 1080p capacitor so we can copy the THX feed!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can't transmit the array without backing up the primary SAS protocol!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://evan.info">You can't transmit the array without backing up the primary SAS protocol!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?42889"
    srcset="http://lorempixel.com/320/213/?19172 320w, http://lorempixel.com/540/360/?66015 540w, http://lorempixel.com/720/480/?56668 720w, http://lorempixel.com/960/640/?94091 960w, http://lorempixel.com/1140/760/?34958 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Maxime repellendus vitae. Consequuntur recusandae asperiores illum provident sint aut quia ex sed. Magnam tempora possimus sapiente. Nulla fugiat labore ratione labore in consectetur voluptas occaecati aliquid. Qui odio quos. Cumque doloribus nemo aut autem aut et reprehenderit.
 Et laborum in odio saepe tenetur at nam laudantium nihil. Similique omnis officia temporibus nihil et qui magnam fugit id. Cupiditate dicta deserunt voluptatem...
  </p>
  
  
  <p>
    <a href="http://evan.info">Lire la suite<span class="sr-only"> de l'article You can't transmit the array without backing up the primary SAS protocol!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to input the USB capacitor, maybe it will parse the primary array!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://laura.com">Try to input the USB capacitor, maybe it will parse the primary array!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?95478"
    srcset="http://lorempixel.com/320/213/?60050 320w, http://lorempixel.com/540/360/?79098 540w, http://lorempixel.com/720/480/?39119 720w, http://lorempixel.com/960/640/?45220 960w, http://lorempixel.com/1140/760/?38021 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Minus exercitationem perferendis.
Dignissimos quo reiciendis placeat enim alias odit esse.
  </p>
  
  
  <p>
    <a href="http://laura.com">Lire la suite<span class="sr-only"> de l'article Try to input the USB capacitor, maybe it will parse the primary array!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll synthesize the cross-platform SAS matrix, that should pixel the SQL circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://louise.eu">I'll synthesize the cross-platform SAS matrix, that should pixel the SQL circuit!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?25611"
    srcset="http://lorempixel.com/320/213/?37662 320w, http://lorempixel.com/540/360/?39192 540w, http://lorempixel.com/720/480/?50431 720w, http://lorempixel.com/960/640/?71060 960w, http://lorempixel.com/1140/760/?96472 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Aliquid architecto repellendus corrupti. Nesciunt occaecati natus expedita temporibus. Iste quae voluptatem molestiae magnam sequi inventore quos similique dolorem.
 Et voluptatibus rem voluptas odit id. Officiis quas modi itaque odio ullam ab doloremque recusandae. Enim eos voluptas quo. Quibusdam nihil est minus qui soluta repellendus amet voluptatum et.
 Neque animi commodi eaque voluptas. Quia eius laboriosam. Minima rerum omnis vero...
  </p>
  
  
  <p>
    <a href="http://louise.eu">Lire la suite<span class="sr-only"> de l'article I'll synthesize the cross-platform SAS matrix, that should pixel the SQL circuit!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list">
        
        <li class="vd-pagination__item vd-pagination__item--previous">
            
            <a href="#" class="vd-pagination__link">
            
                <span class="vd-pagination__title">
                    <span class="fas fa-chevron-left" aria-hidden="true"></span>
                    Page précédente
                </span>
                
                    <span class="sr-only">:</span>
                    <span class="vd-pagination__label">11 sur 244</span>
                
            
            </a>
            
        </li>
        
        
          
        <li class="vd-pagination__item vd-pagination__item--next">
          
            <a href="#" class="vd-pagination__link">
              
                <span class="vd-pagination__title">
                    Page suivante
                    <span class="fas fa-chevron-right" aria-hidden="true"></span>
                </span>
                
                    <span class="sr-only">:</span>
                    <span class="vd-pagination__label">13 sur 244</span>
                  
            
            </a>
            
        </li>
        
    </ul>
</nav>



</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


