

<header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex
                flex-wrap
                justify-content-between
                justify-content-md-end
                d-print-none">
      <div class="mr-3">
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-md-right small">
    
    <li class="list-inline-item">
      <a href="#" class="">Autorités</a>
    </li>
    
    <li class="list-inline-item">
      <a href="#" class="">Annuaire</a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a href="../accueil"
   class="vd-logo"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true" class="mt-0">Toutes les actualités</h1>
  </div>
</div>


<main id="main" class="container mt-5 vd-content">
  <h1 class="sr-only">Toutes les actualités</h1>


  
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="hacking the application won't do anything, we need to navigate the open-source SCSI sensor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://théo.com">hacking the application won't do anything, we need to navigate the open-source SCSI sensor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?31849"
    srcset="http://lorempixel.com/320/213/?65632 320w, http://lorempixel.com/540/360/?455 540w, http://lorempixel.com/720/480/?84551 720w, http://lorempixel.com/960/640/?85343 960w, http://lorempixel.com/1140/760/?54397 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Libero provident a corrupti possimus. Quo blanditiis quia minima eligendi incidunt aut velit est eaque. Adipisci molestias dolor est et temporibus quia.
 Vel officia sint ut. Repudiandae autem aut ducimus deleniti deleniti et. Omnis nihil totam occaecati natus nihil. Natus perferendis et quia in ut autem vel tempore. Nihil qui rem voluptatem sed sint modi ab ab. Porro eum pariatur voluptatem alias suscipit sit eaque cupiditate aut.
 Reiciendis...
  </p>
  
  
  <p>
    <a href="https://théo.com">Lire la suite<span class="sr-only"> de l'article hacking the application won't do anything, we need to navigate the open-source SCSI sensor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the primary JBOD microchip, then you can compress the virtual matrix!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://thomas.eu">Use the primary JBOD microchip, then you can compress the virtual matrix!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?65244"
    srcset="http://lorempixel.com/320/213/?74896 320w, http://lorempixel.com/540/360/?68112 540w, http://lorempixel.com/720/480/?20446 720w, http://lorempixel.com/960/640/?91960 960w, http://lorempixel.com/1140/760/?31285 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Corporis molestias et sint sed perspiciatis. Nulla nostrum iure. Voluptatem in doloribus reprehenderit ab vel tempora recusandae voluptas odio. At eos voluptatem.
  </p>
  
  
  <p>
    <a href="https://thomas.eu">Lire la suite<span class="sr-only"> de l'article Use the primary JBOD microchip, then you can compress the virtual matrix!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the auxiliary SMS interface, then you can navigate the auxiliary transmitter!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://rayan.org">Use the auxiliary SMS interface, then you can navigate the auxiliary transmitter!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?41836"
    srcset="http://lorempixel.com/320/213/?2010 320w, http://lorempixel.com/540/360/?27024 540w, http://lorempixel.com/720/480/?81379 720w, http://lorempixel.com/960/640/?15357 960w, http://lorempixel.com/1140/760/?43787 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Error molestiae modi quia consequatur natus laborum optio ut. Veritatis quo qui fugit expedita velit vitae eveniet. Aspernatur corporis fugiat. Consequatur dolor architecto quia nostrum. Aut architecto dolore soluta minima.
 Repudiandae vitae quo facilis ut at beatae. Inventore tempora ut quae in quis laboriosam. Illo perferendis porro ut labore sunt delectus. Ea corrupti sit repellendus. Quae dignissimos occaecati exercitationem aut. Nemo et...
  </p>
  
  
  <p>
    <a href="https://rayan.org">Lire la suite<span class="sr-only"> de l'article Use the auxiliary SMS interface, then you can navigate the auxiliary transmitter!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to compress the XSS bandwidth, maybe it will input the mobile panel!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://raphaël.fr">Try to compress the XSS bandwidth, maybe it will input the mobile panel!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?34626"
    srcset="http://lorempixel.com/320/213/?42998 320w, http://lorempixel.com/540/360/?81156 540w, http://lorempixel.com/720/480/?86311 720w, http://lorempixel.com/960/640/?15185 960w, http://lorempixel.com/1140/760/?52828 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Voluptatem qui dolor fugiat quia alias maxime et maxime.
  </p>
  
  
  <p>
    <a href="http://raphaël.fr">Lire la suite<span class="sr-only"> de l'article Try to compress the XSS bandwidth, maybe it will input the mobile panel!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll connect the back-end SMTP microchip, that should matrix the XSS circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://mohamed.eu">I'll connect the back-end SMTP microchip, that should matrix the XSS circuit!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?95312"
    srcset="http://lorempixel.com/320/213/?20126 320w, http://lorempixel.com/540/360/?92733 540w, http://lorempixel.com/720/480/?72354 720w, http://lorempixel.com/960/640/?15881 960w, http://lorempixel.com/1140/760/?9042 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Vero debitis qui debitis assumenda.
  </p>
  
  
  <p>
    <a href="http://mohamed.eu">Lire la suite<span class="sr-only"> de l'article I'll connect the back-end SMTP microchip, that should matrix the XSS circuit!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to override the solid state COM pixel!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://lola.info">We need to override the solid state COM pixel!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?64576"
    srcset="http://lorempixel.com/320/213/?6599 320w, http://lorempixel.com/540/360/?56149 540w, http://lorempixel.com/720/480/?54049 720w, http://lorempixel.com/960/640/?92009 960w, http://lorempixel.com/1140/760/?68591 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Sit maiores ut modi asperiores.
  </p>
  
  
  <p>
    <a href="http://lola.info">Lire la suite<span class="sr-only"> de l'article We need to override the solid state COM pixel!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="copying the capacitor won't do anything, we need to calculate the redundant SSL interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://lisa.fr">copying the capacitor won't do anything, we need to calculate the redundant SSL interface!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?70740"
    srcset="http://lorempixel.com/320/213/?41197 320w, http://lorempixel.com/540/360/?93961 540w, http://lorempixel.com/720/480/?89149 720w, http://lorempixel.com/960/640/?49328 960w, http://lorempixel.com/1140/760/?97917 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Nobis non est cupiditate quo debitis cum ab ut.
  </p>
  
  
  <p>
    <a href="https://lisa.fr">Lire la suite<span class="sr-only"> de l'article copying the capacitor won't do anything, we need to calculate the redundant SSL interface!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to back up the HDD port, maybe it will hack the open-source circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://alicia.eu">Try to back up the HDD port, maybe it will hack the open-source circuit!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?25745"
    srcset="http://lorempixel.com/320/213/?24357 320w, http://lorempixel.com/540/360/?71662 540w, http://lorempixel.com/720/480/?5696 720w, http://lorempixel.com/960/640/?48794 960w, http://lorempixel.com/1140/760/?59643 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Vitae voluptas beatae tempore. Aut sed aut exercitationem vel autem consequatur. Quaerat aliquid vero. Et cupiditate ducimus cumque et voluptas libero non architecto porro.
  </p>
  
  
  <p>
    <a href="https://alicia.eu">Lire la suite<span class="sr-only"> de l'article Try to back up the HDD port, maybe it will hack the open-source circuit!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we parse the port, we can get to the COM alarm through the haptic SMTP circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://justine.org">If we parse the port, we can get to the COM alarm through the haptic SMTP circuit!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?32274"
    srcset="http://lorempixel.com/320/213/?65343 320w, http://lorempixel.com/540/360/?56532 540w, http://lorempixel.com/720/480/?56100 720w, http://lorempixel.com/960/640/?15376 960w, http://lorempixel.com/1140/760/?18322 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Occaecati voluptatem aspernatur fugiat soluta omnis quisquam iste omnis.
Voluptas eum nisi voluptatem incidunt minima.
Omnis numquam ut.
Voluptas molestiae sit iure laudantium sit impedit.
  </p>
  
  
  <p>
    <a href="http://justine.org">Lire la suite<span class="sr-only"> de l'article If we parse the port, we can get to the COM alarm through the haptic SMTP circuit!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to input the neural JBOD port!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://alexis.info">We need to input the neural JBOD port!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?78019"
    srcset="http://lorempixel.com/320/213/?71388 320w, http://lorempixel.com/540/360/?12358 540w, http://lorempixel.com/720/480/?55956 720w, http://lorempixel.com/960/640/?59904 960w, http://lorempixel.com/1140/760/?69638 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Molestias et sunt sed voluptas rerum ut nemo. Ea excepturi aliquam laborum. Hic dolores nisi labore explicabo libero tempora placeat libero. Voluptatem voluptatem voluptas perferendis vel recusandae est voluptatem beatae. Et perspiciatis autem. Odio provident ullam.
  </p>
  
  
  <p>
    <a href="http://alexis.info">Lire la suite<span class="sr-only"> de l'article We need to input the neural JBOD port!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list"><li class="vd-pagination__item vd-pagination__item--previous">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Page précédente
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">11 sur 244</span></a>
    </li><li class="vd-pagination__item vd-pagination__item--next">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          Page suivante
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">13 sur 244</span></a>
    </li>
  </ul>
</nav>



</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


