

<header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex
                flex-wrap
                justify-content-between
                justify-content-md-end
                d-print-none">
      <div class="mr-3">
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-md-right small">
    
    <li class="list-inline-item">
      <a href="" class=""></a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock" aria-hidden="true"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a href="../accueil"
   class="vd-logo"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#culture"
    class="vd-domain-item__link vd-link-invisible h4">Culture</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#economie"
    class="vd-domain-item__link vd-link-invisible h4">Economie</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#environnement"
    class="vd-domain-item__link vd-link-invisible h4">Environnement</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#etat%2C%20droit%2C%20finance"
    class="vd-domain-item__link vd-link-invisible h4">Etat, Droit, Finance</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#formation"
    class="vd-domain-item__link vd-link-invisible h4">Formation</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#mobilit%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Mobilité</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#sant%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Santé</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#social"
    class="vd-domain-item__link vd-link-invisible h4">Social</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#vie%20priv%C3%A9e"
    class="vd-domain-item__link vd-link-invisible h4">Vie privée</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#s%C3%A9curit%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Sécurité</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#territoire"
    class="vd-domain-item__link vd-link-invisible h4">Territoire</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
    <nav class="pb-1" aria-label="Fil d'Ariane">
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
      
        <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Autorités</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Service des automobiles et de la navigation</a></li>
      
    
      
        <li class="sr-only" aria-current="page">Actualité</li>
      
    
  </ol>
</nav>

  </div>
</div>

<main id="main">
  <div class="vd-bg-pattern-gray">
    <h1 class="container mt-0">Categorie: Agriculture</h1>

  </div>

  <div class="container mt-5 vd-content">
    
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="We need to copy the auxiliary JSON matrix!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://alexis.name">We need to copy the auxiliary JSON matrix!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?26410"
    srcset="http://lorempixel.com/320/213/?51047 320w, http://lorempixel.com/540/360/?76803 540w, http://lorempixel.com/720/480/?36090 720w, http://lorempixel.com/960/640/?55514 960w, http://lorempixel.com/1140/760/?87016 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Non corrupti rerum molestiae. Nisi est quia esse qui praesentium. Eum cupiditate voluptatum mollitia nemo explicabo sit quibusdam. Sapiente eos odio quod amet architecto quo illum. Aut labore quis quo consequatur.
 Et nobis qui consequatur et eum quidem architecto. Quae earum quis soluta iure. Ullam veritatis sint ipsam sint enim ut. Et eum ut qui.
 Voluptas ut adipisci exercitationem consequuntur labore. At ut aspernatur dolorem voluptatem...
  </p>
  
  
  <p>
    <a href="https://alexis.name">Lire la suite<span class="sr-only"> de l'article We need to copy the auxiliary JSON matrix!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to quantify the HTTP protocol, maybe it will reboot the digital protocol!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://antoine.fr">Try to quantify the HTTP protocol, maybe it will reboot the digital protocol!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?73486"
    srcset="http://lorempixel.com/320/213/?57725 320w, http://lorempixel.com/540/360/?63186 540w, http://lorempixel.com/720/480/?78026 720w, http://lorempixel.com/960/640/?90377 960w, http://lorempixel.com/1140/760/?61323 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    et
  </p>
  
  
  <p>
    <a href="http://antoine.fr">Lire la suite<span class="sr-only"> de l'article Try to quantify the HTTP protocol, maybe it will reboot the digital protocol!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I&#39;ll program the wireless JBOD sensor, that should application the COM sensor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://gabriel.fr">I&#39;ll program the wireless JBOD sensor, that should application the COM sensor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?77064"
    srcset="http://lorempixel.com/320/213/?49214 320w, http://lorempixel.com/540/360/?96142 540w, http://lorempixel.com/720/480/?87480 720w, http://lorempixel.com/960/640/?4701 960w, http://lorempixel.com/1140/760/?73236 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Quia aperiam quasi. Rerum provident aliquam sed maxime adipisci dolorem. Ut fugit possimus laboriosam nihil. Iure asperiores dolorum ea nostrum qui. Qui doloribus nemo libero sit. Repudiandae temporibus sunt aliquam sit est quae.
 Quibusdam libero velit. Rem ut veritatis distinctio porro asperiores. Expedita minus vel id aliquam itaque cum.
 Voluptas aut pariatur aut. Sapiente non qui reiciendis et consequatur quis iusto cumque ipsum. Et minus...
  </p>
  
  
  <p>
    <a href="http://gabriel.fr">Lire la suite<span class="sr-only"> de l'article I&#39;ll program the wireless JBOD sensor, that should application the COM sensor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I&#39;ll compress the auxiliary SQL capacitor, that should monitor the XSS bandwidth!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://pierre.com">I&#39;ll compress the auxiliary SQL capacitor, that should monitor the XSS bandwidth!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?20034"
    srcset="http://lorempixel.com/320/213/?47701 320w, http://lorempixel.com/540/360/?49187 540w, http://lorempixel.com/720/480/?69318 720w, http://lorempixel.com/960/640/?40826 960w, http://lorempixel.com/1140/760/?22553 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Doloremque qui dolore quia qui omnis asperiores voluptate. Aliquam iure voluptate totam et eos ratione. Rerum atque eos tempore. Et ea maiores aperiam facere facilis dolorem.
  </p>
  
  
  <p>
    <a href="http://pierre.com">Lire la suite<span class="sr-only"> de l'article I&#39;ll compress the auxiliary SQL capacitor, that should monitor the XSS bandwidth!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="synthesizing the alarm won&#39;t do anything, we need to synthesize the optical GB port!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://emilie.fr">synthesizing the alarm won&#39;t do anything, we need to synthesize the optical GB port!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?28731"
    srcset="http://lorempixel.com/320/213/?36999 320w, http://lorempixel.com/540/360/?88034 540w, http://lorempixel.com/720/480/?84472 720w, http://lorempixel.com/960/640/?90040 960w, http://lorempixel.com/1140/760/?57450 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    vel repellat doloremque
  </p>
  
  
  <p>
    <a href="https://emilie.fr">Lire la suite<span class="sr-only"> de l'article synthesizing the alarm won&#39;t do anything, we need to synthesize the optical GB port!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we navigate the microchip, we can get to the SAS protocol through the neural PCI alarm!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://adrien.com">If we navigate the microchip, we can get to the SAS protocol through the neural PCI alarm!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?78969"
    srcset="http://lorempixel.com/320/213/?30435 320w, http://lorempixel.com/540/360/?31649 540w, http://lorempixel.com/720/480/?81875 720w, http://lorempixel.com/960/640/?56263 960w, http://lorempixel.com/1140/760/?6788 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Saepe facilis soluta ea voluptatum tempora doloribus doloremque non consequuntur. Atque reiciendis animi qui occaecati aut enim molestiae esse. Harum aspernatur quo placeat corporis aut sint. Et distinctio autem rerum. Facere inventore illo. Error eos inventore.
  </p>
  
  
  <p>
    <a href="http://adrien.com">Lire la suite<span class="sr-only"> de l'article If we navigate the microchip, we can get to the SAS protocol through the neural PCI alarm!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="parsing the array won&#39;t do anything, we need to back up the digital HDD firewall!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://noa.info">parsing the array won&#39;t do anything, we need to back up the digital HDD firewall!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?92945"
    srcset="http://lorempixel.com/320/213/?10799 320w, http://lorempixel.com/540/360/?40766 540w, http://lorempixel.com/720/480/?78147 720w, http://lorempixel.com/960/640/?77483 960w, http://lorempixel.com/1140/760/?38526 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Debitis eum sunt ut ea qui quia quis temporibus omnis. Architecto quia magni magni unde in voluptatem suscipit. Iure nulla cum ut exercitationem eos. Fugit sequi quia.
  </p>
  
  
  <p>
    <a href="https://noa.info">Lire la suite<span class="sr-only"> de l'article parsing the array won&#39;t do anything, we need to back up the digital HDD firewall!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The SCSI system is down, input the back-end interface so we can index the HDD panel!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://raphaël.name">The SCSI system is down, input the back-end interface so we can index the HDD panel!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?37577"
    srcset="http://lorempixel.com/320/213/?15393 320w, http://lorempixel.com/540/360/?93734 540w, http://lorempixel.com/720/480/?90425 720w, http://lorempixel.com/960/640/?23492 960w, http://lorempixel.com/1140/760/?15050 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Consequatur mollitia dolor laboriosam. Cupiditate veniam aut maxime. Dolorum quidem molestiae. Quis iusto aut aut pariatur quis. Rerum atque in sapiente iusto quis consequatur. Enim ducimus eos commodi ipsam labore.
  </p>
  
  
  <p>
    <a href="http://raphaël.name">Lire la suite<span class="sr-only"> de l'article The SCSI system is down, input the back-end interface so we can index the HDD panel!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I&#39;ll generate the haptic SQL program, that should protocol the SMS transmitter!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://maeva.com">I&#39;ll generate the haptic SQL program, that should protocol the SMS transmitter!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?7051"
    srcset="http://lorempixel.com/320/213/?7516 320w, http://lorempixel.com/540/360/?11179 540w, http://lorempixel.com/720/480/?67458 720w, http://lorempixel.com/960/640/?19075 960w, http://lorempixel.com/1140/760/?83258 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    laudantium unde blanditiis
  </p>
  
  
  <p>
    <a href="http://maeva.com">Lire la suite<span class="sr-only"> de l'article I&#39;ll generate the haptic SQL program, that should protocol the SMS transmitter!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to connect the back-end COM array!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://mathilde.info">We need to connect the back-end COM array!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?2204"
    srcset="http://lorempixel.com/320/213/?18130 320w, http://lorempixel.com/540/360/?53195 540w, http://lorempixel.com/720/480/?50807 720w, http://lorempixel.com/960/640/?60378 960w, http://lorempixel.com/1140/760/?76770 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    rem
  </p>
  
  
  <p>
    <a href="https://mathilde.info">Lire la suite<span class="sr-only"> de l'article We need to connect the back-end COM array!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list"><li class="vd-pagination__item vd-pagination__item--previous">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Page précédente
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">11 sur 244</span></a>
    </li><li class="vd-pagination__item vd-pagination__item--next">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          Page suivante
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">13 sur 244</span></a>
    </li>
  </ul>
</nav>


  </div>
</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d&#39;emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#" class="d-inline-block">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


