

<article class="mb-1 p-1 bg-faded">
  <div class="row">
    <div class="col-md-12">
      <header>
        <h3 class="mb-1">
            <a href="">Notification</a>
        </h3><dl class="small row"><dt class="col-4">Type</dt>
          <dd class="col-8">Type of notification</dd>
          
        </dl></header>
      

      <footer>
      <h4 class="sr-only">Actions sur la demande</h4>
<ul class="list-inline"><li><a href="#">Démarrer une prestation sur ce modèle</a></li></ul>
</footer>
    </div>

  </div>
</article>

