

<article class="mb-3 p-1 bg-faded">
  <div class="row">
    <div class="col-md-12">
      <header>
        <h3 class="mb-3">
            <a href="">Demande de permis de construire</a>
        </h3><dl class="small row"><dt class="col-4">Type</dt>
          <dd class="col-8">Demande</dd>
          <dt class="col-4">Référence</dt>
          <dd class="col-8"><samp>HOX0AI-AJQ7K1</samp></dd>
          <dt class="col-4">Date</dt>
          <dd class="col-8">17.02.2017</dd>
          <dt class="col-4">Statut</dt>
          <dd class="col-8">En cours</dd>
          <dt class="col-4">Bénéficiaire</dt>
          <dd class="col-8">Jean Villars Gilles</dd>
        </dl></header>
      

      <h4 class="mb-3">Tâches à traiter</h4>
      <ul><li><a href="#">Valider l'autorisation de construire sur un terrain inexploiter.</a> <small class="d-block">Reçu le 17.02.2017</small></li>      
      </ul><h4 class="mb-3">Messages à traiter</h4>
      <ul><li><a href="#">Bonjour, un nouveau processus lié à la demande de permis.</a> <small class="d-block">Reçu le 17.02.2017</small></li></ul><footer>
      <h4 class="sr-only">Actions sur la demande</h4>
<ul class="list-inline"><li><a href="#">Démarrer une prestation sur ce modèle</a></li></ul>
</footer>
    </div>

  </div>
</article>

