

<nav>
  <h3 class="sr-only">Pagination</h3>
  <div class="vd-pagination">
    <a href="#" class="btn vd-btn-pagination-l"><span class="hidden-sm-down">Précédent</span>&nbsp;</a>
      <ul class="list-unstyled mb-0">
        <li><a href="#" class="btn">1</a></li>
        <li><a href="#" class="btn">2</a></li>
        <li><a href="#" class="btn">3</a></li>
        <li><a href="#" class="btn">...</a></li>
        <li><a href="#" class="btn">55</a></li>
      </ul>
    <a href="#" class="btn vd-btn-pagination-r"><span class="hidden-sm-down">Suivant</span>&nbsp;</a>
    
  </div>
</nav>

