

<!-- Start: @radio--default -->
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" value="">
    Sed eu magna eget augue tincidunt semper
  </label>
</div>
<!-- End: @radio--default -->

<!-- Start: @radio--validation-success -->
<div class="form-check has-success">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" value="">
    Radio with success
  </label>
</div>
<!-- End: @radio--validation-success -->

<!-- Start: @radio--validation-warning -->
<div class="form-check has-warning">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" value="">
    Radio with warning
  </label>
</div>
<!-- End: @radio--validation-warning -->

<!-- Start: @radio--validation-danger -->
<div class="form-check has-danger">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" value="">
    Radio with danger
  </label>
</div>
<!-- End: @radio--validation-danger -->

<!-- Start: @radio--disabled -->
<div class="form-check disabled">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" value="" disabled>
    Option is disabled
  </label>
</div>
<!-- End: @radio--disabled -->

