

<!-- Start: @radio--default -->
<div class="form-check">
  <input class="form-check-input"
         type="radio" value="option1" id="exampleOption1" name="exampleOptions" >
  <label class="form-check-label" for="exampleOption1">
    This is an option
  </label>
</div>
<!-- End: @radio--default -->

<!-- Start: @radio--disabled-option -->
<div class="form-check disabled">
  <input class="form-check-input"
         type="radio" value="option1" id="exampleOption2" name="exampleOptions" disabled >
  <label class="form-check-label" for="exampleOption2">
    Option is disabled
  </label>
</div>
<!-- End: @radio--disabled-option -->

