

<div class="vd-bg-pattern-bars-gray clearfix mt-1 py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Rechercher dans les actualités</h3>

<form class="input-group vd-search-form-regular" action="#">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form" type="text" class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>

