

<!-- Start: @separator--default -->
<hr>
<!-- End: @separator--default -->

<!-- Start: @separator--black -->
<hr class="vd-hr-black">
<!-- End: @separator--black -->

<!-- Start: @separator--green-pattern-wide -->
<hr class="vd-separator vd-separator-green-pattern vd-separator-wide">
<!-- End: @separator--green-pattern-wide -->

<!-- Start: @separator--gray-pattern -->
<hr class="vd-separator vd-separator-gray-pattern">
<!-- End: @separator--gray-pattern -->

<!-- Start: @separator--gray-bars-wide -->
<hr class="vd-separator vd-separator-gray-bars vd-separator-wide">
<!-- End: @separator--gray-bars-wide -->

