

<header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex
                flex-wrap
                justify-content-between
                justify-content-md-end
                d-print-none">
      <div class="mr-3">
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-md-right small">
    
    <li class="list-inline-item">
      <a href="#" class="">Autorités</a>
    </li>
    
    <li class="list-inline-item">
      <a href="#" class="">Annuaire</a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a href="../accueil"
   class="vd-logo"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="breadcrumb-item"><a href="#">Autorités</a></li>
    
    <li class="breadcrumb-item"><a href="#">Département du territoire et de l'environnement</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true" class="mt-0">Direction générale de l'environnement (DGE)</h1>
  </div>
</div>


<main id="main" class="container mt-5 vd-content">
  <h1 class="sr-only">Direction générale de l'environnement (DGE)</h1>


  <div class="row">
    <div class="col-md-8 vd-content-column">
      
  <section>
    <h2 class="sr-only">Présentations</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae id quidem assumenda reprehenderit ea enim suscipit, consequatur quam impedit aut atque repudiandae tempore minus velit ullam hic, ipsa fuga expedita? Dolorum explicabo corporis
      placeat assumenda. Illo facilis iure, asperiores dolor earum vel? Voluptatem nobis quasi, necessitatibus dicta molestias perferendis a est itaque tempore eveniet, facilis quisquam impedit officia temporibus perspiciatis rem libero expedita unde
      commodi recusandae nulla voluptas corrupti! Inventore in quasi omnis itaque rem perspiciatis doloremque aliquid expedita tempora, quibusdam facilis ipsa nam assumenda magnam molestias cupiditate vero laborum odio natus facere! Consectetur cum id
      ipsum quidem, eligendi quis possimus in itaque nostrum eos? Accusantium repudiandae impedit repellendus tempora consequatur nemo libero voluptates, minima sint repellat dolor tenetur, vel voluptas natus possimus suscipit voluptatum, culpa provident
      fugiat soluta quos assumenda deleniti rem? Vero omnis eligendi eum nihil quaerat possimus doloremque, modi inventore corporis, laudantium alias delectus ipsum ipsam sit temporibus voluptatem necessitatibus illo suscipit beatae atque adipisci qui
      veritatis! Excepturi ipsa tempore, qui aliquam animi et. Quasi fugit delectus odio in dolor dignissimos aut nulla rem, excepturi expedita culpa vitae doloremque, id et exercitationem ex voluptatem ipsam fuga corrupti. Eius, ut animi. Magni sunt
      provident illo quibusdam, unde, maxime!</p>
  </section>

  <nav>
  <h2>Sommaire</h2>
  <ul class="vd-list-links">
  <li>
        <a href="#actualites">Actualités</a>
      </li><li>
        <a href="#projetsEtActivites">Projets et activités</a>
      </li><li>
        <a href="#organisation">Organisation</a>
      </li><li>
        <a href="#presentations">Prestations</a>
      </li><li>
        <a href="#basesLegales">Bases légales</a>
      </li><li>
        <a href="#publication">Publications</a>
      </li><li>
        <a href="#offresDEmploi">Offres d'emploi</a>
      </li>
</ul>

</nav>


  <hr class="vd-separator vd-separator-gray-bars my-5">


  <section id="actualites">
  <h2 class="vd-heading-light-alt h4">Actualités</h2>

  
  <article role="article" aria-label="Ut condimentum magna a ornare pulvinar"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Ut condimentum magna a ornare pulvinar</a></h3>

    <p class="small">
      <span class="sr-only">Publié  Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure vd-w-md-50">
  <a href="#"><img
    class="img-fluid"
    
    src="https://placehold.it/960x640/ea09ff/000001?text=Default|960x640"
    srcset="https://placehold.it/320x210/d8e7ff/000001?text=320x210 320w, https://placehold.it/540x360/a4c6fc/000001?text=540x360 540w, https://placehold.it/720x480/6ba4ff/000001?text=720x480 720w, https://placehold.it/960x640/3f89ff/000001?text=960x640 960w, https://placehold.it/1140x760/0a68ff/fffffa?text=1140x760 1140w" alt="Alternative text">

  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Ut condimentum magna a ornare pulvinar</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Etiam vehicula ligula nec convallis fringilla"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Etiam vehicula ligula nec convallis fringilla</a></h3>

    <p class="small">
      <span class="sr-only">Publié  Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure vd-w-md-50">
  <a href="#"><img
    class="img-fluid"
    
    src="https://placehold.it/960x640/ea09ff/000001?text=Default|960x640"
    srcset="https://placehold.it/320x210/d8e7ff/000001?text=320x210 320w, https://placehold.it/540x360/a4c6fc/000001?text=540x360 540w, https://placehold.it/720x480/6ba4ff/000001?text=720x480 720w, https://placehold.it/960x640/3f89ff/000001?text=960x640 960w, https://placehold.it/1140x760/0a68ff/fffffa?text=1140x760 1140w" alt="Alternative text">

  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Etiam vehicula ligula nec convallis fringilla</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Sed vitae magna eget enim condimentum aliquam semper sit amet velit"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Sed vitae magna eget enim condimentum aliquam semper sit amet velit</a></h3>

    <p class="small">
      <span class="sr-only">Publié  Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure vd-w-md-50">
  <a href="#"><img
    class="img-fluid"
    
    src="https://placehold.it/960x640/ea09ff/000001?text=Default|960x640"
    srcset="https://placehold.it/320x210/d8e7ff/000001?text=320x210 320w, https://placehold.it/540x360/a4c6fc/000001?text=540x360 540w, https://placehold.it/720x480/6ba4ff/000001?text=720x480 720w, https://placehold.it/960x640/3f89ff/000001?text=960x640 960w, https://placehold.it/1140x760/0a68ff/fffffa?text=1140x760 1140w" alt="Alternative text">

  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Sed vitae magna eget enim condimentum aliquam semper sit amet velit</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Duis lobortis arcu vel leo iaculis pretium"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Duis lobortis arcu vel leo iaculis pretium</a></h3>

    <p class="small">
      <span class="sr-only">Publié  Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure vd-w-md-50">
  <a href="#"><img
    class="img-fluid"
    
    src="https://placehold.it/960x640/ea09ff/000001?text=Default|960x640"
    srcset="https://placehold.it/320x210/d8e7ff/000001?text=320x210 320w, https://placehold.it/540x360/a4c6fc/000001?text=540x360 540w, https://placehold.it/720x480/6ba4ff/000001?text=720x480 720w, https://placehold.it/960x640/3f89ff/000001?text=960x640 960w, https://placehold.it/1140x760/0a68ff/fffffa?text=1140x760 1140w" alt="Alternative text">

  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Duis lobortis arcu vel leo iaculis pretium</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Morbi fermentum libero at commodo gravida"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Morbi fermentum libero at commodo gravida</a></h3>

    <p class="small">
      <span class="sr-only">Publié  Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure vd-w-md-50">
  <a href="#"><img
    class="img-fluid"
    
    src="https://placehold.it/960x640/ea09ff/000001?text=Default|960x640"
    srcset="https://placehold.it/320x210/d8e7ff/000001?text=320x210 320w, https://placehold.it/540x360/a4c6fc/000001?text=540x360 540w, https://placehold.it/720x480/6ba4ff/000001?text=720x480 720w, https://placehold.it/960x640/3f89ff/000001?text=960x640 960w, https://placehold.it/1140x760/0a68ff/fffffa?text=1140x760 1140w" alt="Alternative text">

  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Morbi fermentum libero at commodo gravida</span></a>
  </p>
  
</article>

  

  
  <a href="#"title="Toutes les actualités link to somewhere"class="btn btn-dark"
   >Toutes les actualités</a>

  
</section>

<hr class="vd-separator vd-separator-gray-bars my-5">



  <section id="projetsEtActivites">
  <h2 class="vd-heading-light-alt h4">Projets et activités</h2>

  
  <article role="article" aria-label="Ut condimentum magna a ornare pulvinar"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Ut condimentum magna a ornare pulvinar</a></h3>

    <p class="small">
      <span class="sr-only">Publié  Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
</p>
  </header>
  
  <figure class="figure vd-w-md-50">
  <a href="#"><img
    class="img-fluid"
    
    src="https://placehold.it/960x640/ea09ff/000001?text=Default|960x640"
    srcset="https://placehold.it/320x210/d8e7ff/000001?text=320x210 320w, https://placehold.it/540x360/a4c6fc/000001?text=540x360 540w, https://placehold.it/720x480/6ba4ff/000001?text=720x480 720w, https://placehold.it/960x640/3f89ff/000001?text=960x640 960w, https://placehold.it/1140x760/0a68ff/fffffa?text=1140x760 1140w" alt="Alternative text">

  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Ut condimentum magna a ornare pulvinar</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Etiam vehicula ligula nec convallis fringilla"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Etiam vehicula ligula nec convallis fringilla</a></h3>

    <p class="small">
      <span class="sr-only">Publié  Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
</p>
  </header>
  
  <figure class="figure vd-w-md-50">
  <a href="#"><img
    class="img-fluid"
    
    src="https://placehold.it/960x640/ea09ff/000001?text=Default|960x640"
    srcset="https://placehold.it/320x210/d8e7ff/000001?text=320x210 320w, https://placehold.it/540x360/a4c6fc/000001?text=540x360 540w, https://placehold.it/720x480/6ba4ff/000001?text=720x480 720w, https://placehold.it/960x640/3f89ff/000001?text=960x640 960w, https://placehold.it/1140x760/0a68ff/fffffa?text=1140x760 1140w" alt="Alternative text">

  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Etiam vehicula ligula nec convallis fringilla</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Sed vitae magna eget enim condimentum aliquam semper sit amet velit"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Sed vitae magna eget enim condimentum aliquam semper sit amet velit</a></h3>

    <p class="small">
      <span class="sr-only">Publié  Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
</p>
  </header>
  
  <figure class="figure vd-w-md-50">
  <a href="#"><img
    class="img-fluid"
    
    src="https://placehold.it/960x640/ea09ff/000001?text=Default|960x640"
    srcset="https://placehold.it/320x210/d8e7ff/000001?text=320x210 320w, https://placehold.it/540x360/a4c6fc/000001?text=540x360 540w, https://placehold.it/720x480/6ba4ff/000001?text=720x480 720w, https://placehold.it/960x640/3f89ff/000001?text=960x640 960w, https://placehold.it/1140x760/0a68ff/fffffa?text=1140x760 1140w" alt="Alternative text">

  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Sed vitae magna eget enim condimentum aliquam semper sit amet velit</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Duis lobortis arcu vel leo iaculis pretium"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Duis lobortis arcu vel leo iaculis pretium</a></h3>

    <p class="small">
      <span class="sr-only">Publié  Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
</p>
  </header>
  
  <figure class="figure vd-w-md-50">
  <a href="#"><img
    class="img-fluid"
    
    src="https://placehold.it/960x640/ea09ff/000001?text=Default|960x640"
    srcset="https://placehold.it/320x210/d8e7ff/000001?text=320x210 320w, https://placehold.it/540x360/a4c6fc/000001?text=540x360 540w, https://placehold.it/720x480/6ba4ff/000001?text=720x480 720w, https://placehold.it/960x640/3f89ff/000001?text=960x640 960w, https://placehold.it/1140x760/0a68ff/fffffa?text=1140x760 1140w" alt="Alternative text">

  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Duis lobortis arcu vel leo iaculis pretium</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Morbi fermentum libero at commodo gravida"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Morbi fermentum libero at commodo gravida</a></h3>

    <p class="small">
      <span class="sr-only">Publié  Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="https://placehold.it/960x640/ea09ff/000001?text=Default|960x640"
    srcset="https://placehold.it/320x210/d8e7ff/000001?text=320x210 320w, https://placehold.it/540x360/a4c6fc/000001?text=540x360 540w, https://placehold.it/720x480/6ba4ff/000001?text=720x480 720w, https://placehold.it/960x640/3f89ff/000001?text=960x640 960w, https://placehold.it/1140x760/0a68ff/fffffa?text=1140x760 1140w" alt="Alternative text">

  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Morbi fermentum libero at commodo gravida</span></a>
  </p>
  
</article>

  

  
  <a href="#"title="Tous les projets link to somewhere"class="btn btn-dark"
   >Tous les projets</a>

  
</section>

<hr class="vd-separator vd-separator-gray-bars my-5">



  <section>
    <h2 class="vd-heading-light h4" id="organisation">Organisation</h2>
    <div class="vd-card mb-3">
  <div class="container">
    <div class="row">
      <div class="col-4 col-sm-3 col-lg-2 mt-3">
        <img
    class="rounded-circle img-fluid"
    
    src="https://api.adorable.io/avatars/200/hello@vd.png"
     alt="Alternative text">

      </div>
      <div class="col-8 col-sm-9 col-lg-10">
        <div class="card-block vd-card-block">
          <strong class="h5 card-title vd-card-title">Jean Villard</strong>
          <p class="card-text vd-card-text">Poète, chansonnier, comédien, écrivain et compositeur</p>
          <ul class="vd-list-links">
  <li>
        <a href="#">Biographie</a>
      </li>
</ul>

        </div>
      </div>
    </div>
  </div>
</div>

    <h2 class="sr-only">Services</h2>
    <ul class="vd-list-links">
  <li>
        <a href="#">Direction de l'énergie &dash; <span class="sr-only">Abbreviation: </span>DIREN</small></a>
      </li><li>
        <a href="#">Direction de l'environnement industriel, urbain et rural  &dash; <span class="sr-only">Abbreviation: </span>DIREV</small></a>
      </li><li>
        <a href="#">Direction des ressources et du patrimoine  &dash; <span class="sr-only">Abbreviation: </span>DIRNA</small></a>
      </li><li>
        <a href="#">Support administratif</a>
      </li><li>
        <a href="#">Support stratégique</a>
      </li>
</ul>

  </section>

  <section>
    <h2 class="vd-heading-light h4" id="prestations">Prestations</h2>
    <ul class="vd-list-links">
  <li>
        <a href="#">Approvisionnement électricité</a>
      </li><li>
        <a href="#">Intervention accident avec matières dangereuse</a>
      </li><li>
        <a href="#">Assainissement piscines</a>
      </li>
</ul>

    <a href="#"title="Toutes les prestations link to somewhere"class="btn btn-dark"
   >Toutes les prestations</a>

  </section>

  <section id="baseslegales">
    <h2 class="vd-heading-light h4">Bases légales</h2>
    <ul class="vd-list-links">
  <li>
        <a href="http://louis.info">Voluptatem quis tenetur voluptatem voluptas autem quod quaerat nobis eos.</a>
      </li><li>
        <a href="http://mael.fr">Eos cupiditate omnis.</a>
      </li><li>
        <a href="https://lina.name">Eos voluptatum ut error ex tenetur corrupti.</a>
      </li><li>
        <a href="http://jade.org">Voluptatum ea vel unde qui.</a>
      </li><li>
        <a href="http://louna.info">Qui atque veniam eaque possimus voluptatem ratione.</a>
      </li><li>
        <a href="http://alicia.net">Quia error blanditiis provident dolore dolorem amet.</a>
      </li><li>
        <a href="http://tom.name">Est sequi atque.</a>
      </li><li>
        <a href="https://lina.fr">Ab nostrum dolorum sunt.</a>
      </li><li>
        <a href="http://mathilde.com">Quibusdam et sit.</a>
      </li><li>
        <a href="http://mathéo.org">Ipsam et repellendus natus.</a>
      </li>
</ul>

  </section>

  <section id="publications">
    <h2 class="vd-heading-light h4">Publications</h2>
    <ul class="vd-list-links">
  <li>
        <a href="#">Domaine de l'eau</a>
      </li><li>
        <a href="#">Domaine des déchets</a>
      </li>
</ul>

  </section>

  <section id="offresdemplois">
    <h2 class="vd-heading-light h4">Offres d'emploi</h2>
    <ul class="vd-list-links">
  <li>
        <a href="#">Secrétaire de direction</a>
      </li><li>
        <a href="#">Chargé de mission stratégiques</a>
      </li><li>
        <a href="#">Ingénieur(e)</a>
      </li><li>
        <a href="#">Technicien de laboratoire</a>
      </li>
</ul>

  </section>

    </div>

    <aside class="col-md-4 vd-text-md-small vd-content-column">
      
  <address itemscope itemtype="http://schema.org/GovernmentOrganization">

  <h2 itemprop="name">
        <a href="#" title="Pages du service Direction générale de l'environnement" itemprop="url">Direction générale de l'environnement</a>
  </h2>

  <h3 class="vd-heading-light h4 mt-0">division</h3>

  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
  <p itemscope itemtype ="http://schema.org/Person" class="mb-0">
    <span itemprop="name">Alain Duvoisin</span> <br>
    <span itemprop="jobTitle">Garde Forestier</span> <br>
  </p>
  <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">Place du Château 1</span> <br>
    Case postale <span itemprop="postOfficeBoxNumber">5278</span><br>
    <span itemprop="postalCode">1014</span>
    <span itemprop="addressLocality">Lausanne</span>
    <span class="sr-only" itemprop="addressCountry">Suisse</span>
  </p>

  <p>
    <a href="tel:+41 21 316 45 15"
         content="+41 21 316 45 15"
         itemprop="telephone">+41 21 316 45 15</a><br>
    <a href="mailto:service@vd.ch"
        itemprop="email">service@vd.ch</a><br>
    
      <a href="https://www.google.ch/maps/search/Place%20du%20Ch%C3%A2teau%201%201014%205278%20Lausanne%20Suisse%20">Visualiser sur la carte</a><br>
    
    
      
        <a href="https://www.fake-url.com">Lien libre</a>
      
    
  </p>

  <p><a href="#"title="Nous écrire Formulaire de contact"class="btn btn-dark"
   >Nous écrire</a>
</p>

  <div itemscope itemtype="http://schema.org/GovernmentBuilding">
  <h3>Heures d'ouverture<span class="sr-only"> du Direction générale de l'environnement</span></h3>
  
    
    <p itemprop="openingHours" content="Mo,Tu,We,Th,Fr 08:00-11:30,13:30-16:30">du lundi au vendredi de 8h00 à 11h30 et de 13h30 à 16h30</p>
    
  
  <p>Nous sommes fermés pendant la période des fêtes</p>
  </div>
  <h3>CCP<span class="sr-only"> du Direction générale de l'environnement</span></h3>
  <p>10-206496-4</p>

  <img class="img-fluid"
       src="https://placehold.it/960x640/ea09ff/000001?text=Default|960x640"
       srcset="https://placehold.it/320x210/d8e7ff/000001?text=320x210 320w, https://placehold.it/540x360/a4c6fc/000001?text=540x360 540w, https://placehold.it/720x480/6ba4ff/000001?text=720x480 720w, https://placehold.it/960x640/3f89ff/000001?text=960x640 960w, https://placehold.it/1140x760/0a68ff/fffffa?text=1140x760 1140w"
       alt="Alternative text"
       itemprop="image">
</address>


    </aside>

  </div>
</main>


<div class="container mt-5">
  <p class="mb-4"><small>Mis à jour le <time datetime="2017-03-31T13:05:23+00:00">31.03.2017</time>
</small></p>

  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


