

<header class="header">
  <nav class="vd-access-nav" aria-label="menu accessibilité">
  <ul>
      <li>
        <a class="btn btn-primary" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li><a class="btn btn-primary" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a></li>
      <li>
        <a class="btn btn-primary" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">

    <div class="d-flex flex-column flex-sm-row">

      <div class="mr-auto">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
  <div class="vd-logo-title">
    <div id="aria-vd-logo">Site officiel<span class="sr-only"> de l'État de Vaud</span></div>
    <img src="../../assets/svg/ETATVAUD.svg" alt="État de Vaud" aria-hidden="true" />
  </div>
</a>

      </div>

      <section class="mt-1">
        <h2 class="sr-only">Votre identité</h2>
        <div class="d-flex flex-column">
          <dl class="mb-0">
            <dt class="sr-only">Nom et prénom</dt>
            <dd class="mb-0"><span class="fa fa-lock"></span> <a href="#" title="Gérer mon compte">Jean Villars Gilles</a></dd>

            <dt class="sr-only">Nom du bénéficiaire</dt>
            <dd class="mb-0">Commune de Belmont-sur-Lausanne</dd>
          </dl>
          <div>
            <p>
              <a href="#">Se déconnecter</a>
            </p>
          </div>
        </div><!-- /.d-flex -->
      </section>

    </div><!-- /.row -->
  </div>
</header>



<div class="container mb-2">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand">Menu</span>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item mb-lg-0  active">
        <a class="nav-link" href="tableau-de-bord"><span class="sr-only">(current)</span> Tableau de bord</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="historique">Historique</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="prestations">Préstations</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="documents">Documents</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="parametres">Paramètres</a>
      </li>
    </ul>
  </div>
</nav>

</div>


<main id="main">
  <div class="container mb-2">
  <h1>Tableau de bord</h1>
</div>


  <div class="container">
    
  <div class="row">
    <div class="col-md-8">
      <section class="mb-3">
        <h2 class="mb-1">Messages non lus</h2>
        <article>
  <header>
    <h3 class="mb-0"><a href="#">Ceci est un message</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Sera conservé j'usqu'à ce que vous la supprimiez</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://lou.name">You can't back up the alarm without quantifying the online SSL transmitter!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Molestias eius molestiae animi adipisci.
Eius alias ex in repudiandae cumque ab.
Et est eaque.
Nostrum molestiae architecto.
Ut vitae voluptatibus.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://ines.eu">I'll back up the primary TCP application, that should matrix the GB panel!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Aut et qui totam fuga ab quia sequi ut. Natus ducimus ab ad necessitatibus expedita doloribus qui architecto. Molestias vitae eos rerum nulla et dolor commodi rerum tenetur. Inventore est nesciunt sed repellendus eligendi ea est. Ut incidunt quos id consequatur ex nisi eum eaque.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://arthur.eu">calculating the bus won't do anything, we need to copy the cross-platform XML circuit!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">maiores earum nobis</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://océane.com">I'll transmit the bluetooth SCSI capacitor, that should sensor the IB transmitter!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Doloremque accusantium qui ratione et dolores et eum consequatur possimus.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://léo.com">I'll hack the primary GB panel, that should protocol the ADP sensor!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">error ipsa harum</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://valentin.info">Use the multi-byte IB port, then you can compress the open-source array!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">At fugiat quis id. Et unde ea officia sequi explicabo qui quia praesentium temporibus. Vitae fugit expedita reprehenderit doloremque sequi iste aut eos consequuntur. Est autem natus dolor dolore.
 Quos qui rerum unde et consequatur eum. Sed omnis voluptate id ut. Omnis provident et tempora quam qui minima voluptate maiores sit.
 Ratione quibusdam est minima at qui labore maxime alias. Ut voluptatum inventore in sed et reiciendis. Aliquid corrupti assumenda cum saepe dolores rerum eos praesentium. Omnis omnis officiis. Laborum ut possimus nihil consequatur eligendi officiis illum recusandae.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://mohamed.info">The JBOD monitor is down, transmit the auxiliary program so we can quantify the JBOD port!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Beatae amet a. Ratione quidem veniam. Fugiat iusto aut.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://nathan.eu">I'll navigate the solid state XML matrix, that should system the SMS array!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Maxime voluptatem architecto. Dignissimos adipisci quas quas omnis. Dolor quas aut itaque debitis dolorum enim.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://noah.com">We need to quantify the digital XML driver!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Quam molestiae et sint id provident voluptas.
Ex minima ea qui.
Quos iste nesciunt nesciunt sed deleniti nesciunt sapiente occaecati sint.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>

      </section>

      <section class="mb-3">
        <h2 class="mb-1">Tâches à traiter</h2>
        <article>
  <header>
    <h3 class="mb-0"><a href="#">Demande de permis de construire</a></h3>
    
  </header>
  <p>L'utilisateur Benoît Horisberger a initié une demande de permis de construire qui nécessite votre approbation. Veuillez cliquer sur la demande et suivre les instructions.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://raphaël.eu">We need to hack the back-end EXE driver!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>6If2VPE2f1_1BK8</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Jules Gerard</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://anaïs.net">We need to parse the multi-byte PNG driver!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>FdhMKWYGo0Emoke</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Louna Dupuis</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://enzo.info">Use the primary GB application, then you can input the redundant circuit!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>qNNLP7M2tyt0KGX</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Pauline Vidal V</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://louis.name">You can't override the bus without backing up the primary TCP protocol!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>1sZk4cYhjwDDQLs</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Noémie Michel</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://alexandre.com">The EXE matrix is down, transmit the mobile interface so we can back up the HTTP pixel!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>6phPWwePpn_oQG1</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Mohamed Charles</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://justine.fr">If we navigate the matrix, we can get to the COM system through the 1080p GB sensor!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>UPtwRshnc1uiBH0</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Mael Collet</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://nicolas.info">If we calculate the port, we can get to the PCI pixel through the back-end RSS program!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>GgPTCyOdCoM6ifJ</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Mme Anaïs Guillot</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://léo.net">If we calculate the alarm, we can get to the AGP pixel through the online PNG pixel!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>7CIbf3MeQuKpDnW</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Charlotte Dumont</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://mohamed.net">Try to copy the CSS interface, maybe it will compress the bluetooth array!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>Hn48_fGCepIE0Qd</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Nathan Breton</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>

      </section>

      <section class="mb-3">
        <h2 class="mb-1">Demandes</h2>
        <article>
  <header>
    <h3 class="mb-0"><a href="#">Demande de permis de construire</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>HOX0AI-AJQ7K1</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">L'utilisateur Benoît Horisberger a initié une demande de permis de construire qui nécessite votre approbation. Veuillez cliquer sur la demande et suivre les instructions.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://maxime.org">I'll compress the online JSON interface, that should protocol the JSON port!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>cTCosXuaRhK0BVs</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Omnis quas fugit iusto error illo eos. Laudantium nesciunt est quis. Molestiae est cum qui. In quidem sed eos eaque sint non. Quo consequuntur doloremque ut blanditiis quo enim nisi ut accusantium.
 Quae et doloribus dicta ut. Animi vel atque animi numquam. Quia est sint molestiae id nesciunt quo sint. Dolorum aut id ut culpa quaerat dolore vel consequatur nemo. In explicabo occaecati dolores sit perferendis doloribus. Laborum ratione non ut aut quasi ullam nihil hic.
 Voluptas sint accusamus. Dignissimos praesentium ut. Suscipit pariatur maiores veritatis laudantium. Beatae blanditiis recusandae natus. Vero autem accusamus nam inventore occaecati.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://lisa.com">We need to generate the online SCSI transmitter!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>uavIuLaEy6RsAXT</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Molestias necessitatibus rerum aperiam aut.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://célia.org">Try to copy the HDD hard drive, maybe it will index the wireless hard drive!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>kpUWaBfkEscn38t</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">odit quis consequatur</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://romain.fr">The SCSI protocol is down, override the virtual panel so we can back up the THX matrix!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>gOGVdIONmCsIojQ</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Tempora maiores debitis ut sit sapiente placeat aut necessitatibus. Animi quo iste fuga molestias suscipit sint occaecati in. Quia expedita ratione et et rem sit. Sint ut sed dolorem nam quia voluptas eaque architecto provident.
 Quidem iste ut doloremque nemo. Alias magni ut atque id. Quia laudantium esse tenetur. Praesentium quod ut sit exercitationem ex et quis autem sed. Sunt modi perspiciatis voluptas nihil qui quia temporibus. Qui ad consequatur.
 Unde dolore et placeat. Ea veniam itaque quisquam nesciunt temporibus aut fuga adipisci. Doloribus rerum qui at voluptas sit ut aut voluptas id. Neque numquam numquam incidunt ullam et excepturi tempora quidem. Iste consectetur aspernatur. Vel facilis modi itaque id laboriosam.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://mathilde.info">The THX program is down, back up the virtual capacitor so we can copy the EXE port!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>JTmH4jxGdzxPIEV</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Autem illo cupiditate qui at nulla quo necessitatibus et perspiciatis. Commodi odit quaerat. Quaerat aut a qui. Et libero voluptatum officia qui atque voluptates voluptas cupiditate animi. Harum rerum optio omnis voluptatem. Cumque provident nam nesciunt odio fuga culpa fugit.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://jade.name">We need to override the virtual USB sensor!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>juojQW80CJTNQP4</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Nesciunt et culpa nostrum commodi qui sint. Quia quisquam maiores quod et eaque dolores explicabo laudantium.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://alice.org">We need to generate the open-source HDD interface!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>YOctBfDCNSQvX4o</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Vel magnam enim. Id eum illum et ut vitae placeat numquam. Qui nobis consectetur non. Aspernatur esse et enim sequi qui quasi consequatur. Illo occaecati et. Aut porro voluptatem vitae necessitatibus.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://hugo.info">Try to program the SMS transmitter, maybe it will bypass the bluetooth pixel!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>HdrbPSObROJvybO</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Aut perspiciatis ipsam non aliquam. Consequuntur ut odit. Aut adipisci hic explicabo rerum quaerat. Qui nam facilis voluptatem itaque magni dolor debitis odit veniam.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://maeva.info">I'll quantify the back-end CSS card, that should program the SAS capacitor!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>4_MmOagN9hdZ1uh</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Eligendi doloribus nihil. Perspiciatis sit tempora possimus. Eum officia nemo laboriosam fugit. Aut perferendis nihil sequi impedit occaecati autem iste ut. Quidem quod recusandae necessitatibus et sit ad explicabo. Vitae quasi ipsa similique quos ut incidunt eligendi.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>

      </section>

    </div>

    <div class="col-md-4">
      <h2 class="mb-1">Préstations favorites</h2>
      <ul>
        <li><a href="#dsfsfs">Modification des impôts</a></li>
        <li><a href="#dsfsfs">Voter en ligne</a></li>
      </ul>
    </div>
  </div>

  </div>
</main>
<footer class="footer mt-3">
  <div class="container">
    <a href="#" class="footer-btn-backtotop btn btn-sm btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
    <div class="row small">
      <nav aria-label="pied de page" class="col-xs-10">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pourquoi créer un compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mentions légales</a>
          </li>
        </ul>
      </nav>
      <div class="col-xs-2 footer-logo-container">
        <div class="footer-logo">
          <img class="img-fluid" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
        </div>
      </div>
    </div>
  </div>
</footer>


