

<header class="header">
  <nav class="vd-access-nav" aria-label="menu accessibilité">
  <ul>
      <li>
        <a class="btn btn-primary" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li><a class="btn btn-primary" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a></li>
      <li>
        <a class="btn btn-primary" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">

    <div class="d-flex flex-column flex-sm-row">

      <div class="mr-auto">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
  <div class="vd-logo-title">
    <div id="aria-vd-logo">Site officiel<span class="sr-only"> de l'État de Vaud</span></div>
    <img src="../../assets/svg/ETATVAUD.svg" alt="État de Vaud" aria-hidden="true" />
  </div>
</a>

      </div>

      <section class="mt-1">
        <h2 class="sr-only">Votre identité</h2>
        <div class="d-flex flex-column">
          <dl class="mb-0">
            <dt class="sr-only">Nom et prénom</dt>
            <dd class="mb-0"><span class="fa fa-lock"></span> <a href="#" title="Gérer mon compte">Jean Villars Gilles</a></dd>

            <dt class="sr-only">Nom du bénéficiaire</dt>
            <dd class="mb-0">Commune de Belmont-sur-Lausanne</dd>
          </dl>
          <div>
            <p>
              <a href="#">Se déconnecter</a>
            </p>
          </div>
        </div><!-- /.d-flex -->
      </section>

    </div><!-- /.row -->
  </div>
</header>



<div class="container mb-2">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand hidden-lg-up">Menu</span>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item mb-lg-0  active">
        <a class="nav-link" href="tableau-de-bord"><span class="sr-only">(current)</span> Tableau de bord</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="historique">Historique</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="prestations">Préstations</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="documents">Documents</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="parametres">Paramètres</a>
      </li>
    </ul>
  </div>
</nav>

</div>


<main id="main">
  <div class="container mb-2">
  <h1>Tableau de bord</h1>
</div>


  <div class="container">
    
  <div class="row">
    <div class="col-md-8">
      <section class="mb-3">
        <h2 class="mb-1">Messages non lus</h2>
        <article>
  <header>
    <h3 class="mb-0"><a href="#">Ceci est un message</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Sera conservé j'usqu'à ce que vous la supprimiez</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://lina.org">You can't hack the card without transmitting the mobile COM matrix!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Temporibus esse voluptatem amet corrupti.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://adam.name">connecting the monitor won't do anything, we need to parse the digital EXE circuit!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">dicta</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://anaïs.net">If we transmit the capacitor, we can get to the SQL hard drive through the digital HTTP sensor!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Iure numquam eveniet consequatur molestias recusandae natus.
Modi aliquid esse voluptatem.
Quis sed vel maiores velit sit cupiditate veniam.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://maëlle.fr">You can't generate the monitor without navigating the bluetooth EXE transmitter!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Minus ut qui praesentium. Odio praesentium reprehenderit quaerat. Consectetur minus rerum perferendis aut. Dolore sequi ratione quae labore doloribus neque dignissimos omnis explicabo. Eligendi et sint dolorem.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://rayan.name">If we bypass the monitor, we can get to the HTTP array through the neural GB interface!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">qui</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://mathilde.fr">Use the cross-platform XSS bus, then you can generate the cross-platform matrix!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">quaerat non molestias</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://léa.fr">If we synthesize the hard drive, we can get to the USB pixel through the primary SMS application!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Ea et exercitationem cupiditate. Aliquid eos modi vero sequi omnis. Eveniet dolor eaque vero. Dolorum doloremque delectus. Suscipit soluta explicabo voluptatibus voluptas eveniet omnis nihil commodi voluptatum.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://ethan.net">You can't calculate the system without calculating the neural SCSI pixel!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">nostrum</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://jeanne.com">The RAM firewall is down, override the mobile capacitor so we can back up the RSS monitor!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Animi aut inventore labore corrupti aliquam. Aut iste quia accusamus explicabo. Nihil sequi sunt porro sit voluptas sed ut consequatur sapiente. Veniam sint voluptas quas dicta facilis. Nesciunt placeat officia possimus rerum dolorem.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>

      </section>

      <section class="mb-3">
        <h2 class="mb-1">Tâches à traiter</h2>
        <article>
  <header>
    <h3 class="mb-0"><a href="#">Demande de permis de construire</a></h3>
    
  </header>
  <p>L'utilisateur Benoît Horisberger a initié une demande de permis de construire qui nécessite votre approbation. Veuillez cliquer sur la demande et suivre les instructions.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://pauline.org">If we synthesize the hard drive, we can get to the SMTP transmitter through the redundant XSS system!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>0wf6jqSr6upINvl</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Lina Morel</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://noah.info">You can't compress the firewall without connecting the back-end HTTP microchip!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>kSyeGpIkfswYxcM</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Victor Lucas V</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://chloé.info">Try to navigate the XML firewall, maybe it will parse the redundant system!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>cANSMGRwAdkfzSp</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Emilie Adam</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://lilou.com">The SCSI alarm is down, generate the cross-platform interface so we can compress the JSON transmitter!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>W6IaQnICCB6Qms9</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Rayan Bonnet</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://alice.info">Try to index the SMS microchip, maybe it will index the online transmitter!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>EdVyahQrwOxIQhl</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Benjamin Arnaud</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://elisa.name">I'll compress the redundant SDD feed, that should firewall the SSL array!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>fON5ntl0Jrnr6qv</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Marie Dumas</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://antoine.com">Try to parse the AGP firewall, maybe it will transmit the open-source bandwidth!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>i0urAJbsGhHdJ3a</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Hugo Lecomte</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://victor.net">Try to navigate the HDD bus, maybe it will calculate the auxiliary bandwidth!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>CltFV_eE80SYOJB</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Yanis Prevost</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://louis.com">Try to input the SDD circuit, maybe it will override the primary panel!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>dhYz6uT8to4qNak</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Benjamin Schmitt I</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>

      </section>

      <section class="mb-3">
        <h2 class="mb-1">Demandes</h2>
        <article>
  <header>
    <h3 class="mb-0"><a href="#">Demande de permis de construire</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>HOX0AI-AJQ7K1</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">L'utilisateur Benoît Horisberger a initié une demande de permis de construire qui nécessite votre approbation. Veuillez cliquer sur la demande et suivre les instructions.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://raphaël.name">You can't generate the feed without synthesizing the multi-byte AI pixel!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>lr4swV0yJ070Btm</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">molestiae dignissimos qui</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://maxence.fr">We need to copy the multi-byte SQL driver!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>VJHH3RODZVCmrbW</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Exercitationem fugit laudantium assumenda eligendi aliquid. Sint quod similique aut excepturi ipsa autem maiores. Enim esse sint sapiente qui sequi enim voluptatem tempora doloribus.
 Ut molestiae sapiente itaque asperiores earum dolorem quia. Ipsum est ut. Delectus officiis quasi repellat quia. Illo expedita deserunt unde. Soluta consequuntur rerum fuga et non non eum ut. Nam ipsa distinctio adipisci.
 Rerum aut dolor ipsam ea. Odio qui id qui corrupti sed eveniet debitis nihil. Tempore eveniet perferendis deleniti est non quibusdam totam est maiores. Iusto itaque odit et sunt eveniet ipsum exercitationem et. Id suscipit minus ut ea explicabo.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://maëlys.eu">We need to input the mobile CSS panel!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>ckSaSO4PsNxhVNW</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Consequatur sint ea molestiae. Laudantium est sapiente voluptatem quos. Et et perspiciatis molestiae alias nihil iure dolore nihil nisi.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://evan.name">Use the neural SDD transmitter, then you can connect the neural interface!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>5baemcDCWTe4t2U</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Praesentium eligendi et expedita tempore ipsum.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://alice.eu">Use the back-end RAM capacitor, then you can bypass the solid state transmitter!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>SMsCTilZ8QSiTBk</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">praesentium delectus laborum</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://célia.fr">The RAM pixel is down, index the wireless microchip so we can compress the GB bus!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>7kdDvdjAd1dY7Jl</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">et</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://sarah.net">I'll override the open-source SMTP driver, that should transmitter the PCI protocol!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>r_pNUKnMAHe51Pe</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Ullam velit itaque dignissimos distinctio. Qui at nam iste illo dignissimos.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://léa.net">Use the primary SSL array, then you can parse the digital array!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>dscp0UeQOiGjboc</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Sit voluptas fugiat consequatur atque quaerat dolor praesentium. Neque iure ducimus assumenda est veniam veniam. Eum veniam cupiditate.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://mattéo.eu">We need to parse the wireless FTP port!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>nV4qOFeuEIdbZpm</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Assumenda et officia quo ea. Saepe enim rerum natus molestiae dolores nihil. Similique explicabo commodi debitis quae. Ut voluptatem enim necessitatibus deserunt.
 Id sapiente rem repellat consequuntur illo et et necessitatibus. Fuga velit sint dolorum est delectus molestias neque. Eos tenetur aut accusamus doloremque sint eveniet et adipisci itaque. Amet tempora reiciendis nostrum qui. Voluptates dolores cum esse. Qui totam facere in distinctio distinctio rerum.
 Fugit magni temporibus impedit in est ipsa optio aut accusantium. Debitis ea quia sed. Asperiores non animi repellendus cumque sit at maiores ex. Eum voluptatem dolor inventore sequi ipsa voluptate excepturi. Iste qui optio. Et officia doloribus.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>

      </section>

    </div>

    <div class="col-md-4">
      <h2 class="mb-1">Préstations favorites</h2>
      <ul>
        <li><a href="#dsfsfs">Modification des impôts</a></li>
        <li><a href="#dsfsfs">Voter en ligne</a></li>
      </ul>
    </div>
  </div>

  </div>
</main>
<footer class="footer mt-3">
  <div class="container">
    <a href="#" class="footer-btn-backtotop btn btn-sm btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
    <div class="row small">
      <nav aria-label="pied de page" class="col-xs-10">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pourquoi créer un compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mentions légales</a>
          </li>
        </ul>
      </nav>
      <div class="col-xs-2 footer-logo-container">
        <div class="footer-logo">
          <img class="img-fluid" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
        </div>
      </div>
    </div>
  </div>
</footer>


