

<header class="header">
  <nav class="vd-access-nav" aria-label="menu accessibilité">
  <ul>
      <li>
        <a class="btn btn-primary" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li><a class="btn btn-primary" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a></li>
      <li>
        <a class="btn btn-primary" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">

    <div class="d-flex flex-column flex-sm-row">

      <div class="mr-auto">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
  <div class="vd-logo-title">
    <div id="aria-vd-logo">Site officiel<span class="sr-only"> de l'État de Vaud</span></div>
    <img src="../../assets/svg/ETATVAUD.svg" alt="État de Vaud" aria-hidden="true" />
  </div>
</a>

      </div>

      <section class="mt-1">
        <h2 class="sr-only">Votre identité</h2>
        <div class="d-flex flex-column">
          <dl class="mb-0">
            <dt class="sr-only">Nom et prénom</dt>
            <dd class="mb-0"><span class="fa fa-lock"></span> <a href="#" title="Gérer mon compte">Jean Villars Gilles</a></dd>

            <dt class="sr-only">Nom du bénéficiaire</dt>
            <dd class="mb-0">Commune de Belmont-sur-Lausanne</dd>
          </dl>
          <div>
            <p>
              <a href="#">Se déconnecter</a>
            </p>
          </div>
        </div><!-- /.d-flex -->
      </section>

    </div><!-- /.row -->
  </div>
</header>



<div class="container mb-2">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand hidden-lg-up">Menu</span>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item mb-lg-0  active">
        <a class="nav-link" href="tableau-de-bord"><span class="sr-only">(current)</span> Tableau de bord</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="historique">Historique</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="prestations">Préstations</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="documents">Documents</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="parametres">Paramètres</a>
      </li>
    </ul>
  </div>
</nav>

</div>


<main id="main">
  <div class="container mb-2">
  <h1>Tableau de bord</h1>
</div>


  <div class="container">
    
  <div class="row">
    <div class="col-md-8">
      <section class="mb-3">
        <h2 class="mb-1">Messages non lus</h2>
        <article>
  <header>
    <h3 class="mb-0"><a href="#">Ceci est un message</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Sera conservé j'usqu'à ce que vous la supprimiez</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://axel.fr">Try to back up the RSS card, maybe it will hack the mobile port!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Quae excepturi similique sed ratione quasi voluptatem doloribus velit.
Vel dolorem minima eum.
Rerum soluta ut aliquam quia autem.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://gabriel.org">I'll index the neural ADP matrix, that should firewall the SQL matrix!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Omnis reprehenderit consequatur et delectus. Suscipit est aut a ut odit occaecati. Impedit veniam illo error ab. Fuga qui architecto ab error nihil.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://maeva.name">Use the primary COM bandwidth, then you can compress the optical system!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Vel assumenda incidunt cum minus ut adipisci quisquam et. Tempore expedita ea omnis velit quae velit quaerat. Repellat voluptatum ab voluptatibus asperiores sed vero qui. Molestiae optio error quis omnis omnis architecto ut.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://lou.eu">The FTP matrix is down, back up the optical microchip so we can parse the SAS bus!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Ut natus vero quia omnis.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://pauline.name">I'll navigate the digital SDD firewall, that should panel the XML panel!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">sapiente</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://maëlle.net">We need to generate the neural TCP pixel!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Molestias ut voluptatibus laudantium rem sit ea iste incidunt nisi.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://lou.org">The JBOD driver is down, copy the haptic panel so we can connect the SMS feed!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">voluptas nisi veritatis</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://julie.fr">If we back up the driver, we can get to the SAS panel through the online TCP interface!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Quo reiciendis sint corrupti sed dolorum velit perferendis.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://thomas.eu">We need to copy the back-end RSS circuit!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">eveniet sed porro</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>

      </section>

      <section class="mb-3">
        <h2 class="mb-1">Tâches à traiter</h2>
        <article>
  <header>
    <h3 class="mb-0"><a href="#">Demande de permis de construire</a></h3>
    
  </header>
  <p>L'utilisateur Benoît Horisberger a initié une demande de permis de construire qui nécessite votre approbation. Veuillez cliquer sur la demande et suivre les instructions.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://mathis.name">I'll calculate the primary SMS array, that should transmitter the SQL alarm!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>b93VDUQUjNRVdlu</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Hugo Moulin</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://nicolas.eu">I'll back up the back-end PCI panel, that should monitor the PCI port!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>xyQ3SojbX22VWld</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Clémence Arnaud</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://léa.com">Use the bluetooth COM alarm, then you can reboot the multi-byte bandwidth!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>QW88qyFWQh7URAN</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Pierre Roussel</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://lou.eu">parsing the monitor won't do anything, we need to transmit the redundant RAM pixel!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>xhXbbrfTbbg8cz_</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Quentin Le gall</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://lola.name">We need to quantify the multi-byte COM program!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>CPa9yUxI7BT35hE</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Benjamin Brunet</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://romain.com">If we connect the alarm, we can get to the SDD program through the wireless RSS driver!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>uDKRYvK5fWJvSFk</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Sacha Louis</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://mathis.fr">Use the haptic HDD transmitter, then you can compress the redundant pixel!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>a6rvJWyZiPPUA4W</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Dr Nicolas Roussel</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://chloé.net">I'll compress the 1080p HTTP alarm, that should matrix the JSON hard drive!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>icO5f1aSOBNN8jc</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Carla Meyer</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://mattéo.eu">I'll hack the haptic SAS card, that should bus the USB application!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>rlCtyjSGFc2pyQe</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Alice Deschamps</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>

      </section>

      <section class="mb-3">
        <h2 class="mb-1">Demandes</h2>
        <article>
  <header>
    <h3 class="mb-0"><a href="#">Demande de permis de construire</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>HOX0AI-AJQ7K1</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">L'utilisateur Benoît Horisberger a initié une demande de permis de construire qui nécessite votre approbation. Veuillez cliquer sur la demande et suivre les instructions.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://mathis.com">Use the open-source FTP driver, then you can hack the virtual bus!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>8wxJdaF9dPFi50Z</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Perspiciatis illum aperiam quis velit dignissimos mollitia eum ea.
A mollitia quam quidem aut.
Tenetur sed sed unde aut.
Ut optio tempore labore corrupti sed labore nemo.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://tom.name">Try to generate the PNG capacitor, maybe it will hack the solid state microchip!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>McCZBLQF6T1FWPW</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Illum labore rerum sit blanditiis quia cupiditate. Non ullam qui recusandae. Minima aut voluptate est et omnis repellendus qui laboriosam. Quis quidem aut atque dolores nobis culpa in error ut. Dolorem commodi nostrum. Quas delectus beatae illo reiciendis maiores doloribus.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://maëlle.com">Use the solid state JSON application, then you can calculate the back-end sensor!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>Ixvpm2bTGfDA_aT</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Error culpa autem aut et quibusdam dolores eius et sit. Molestiae quod unde consequatur dignissimos reprehenderit ab. Iste velit quia ut at corporis omnis ea. Non consequatur et fugiat. Est est doloremque rerum rerum enim veritatis neque labore et. Sint voluptatem aliquid voluptatum hic quaerat exercitationem laboriosam.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://hugo.net">You can't calculate the interface without indexing the bluetooth XSS array!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>to0KLwWwisQUshm</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Consectetur minus laudantium.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://maëlle.fr">navigating the program won't do anything, we need to navigate the auxiliary IB alarm!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>B6NqEHinFEF7roa</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">officia earum nihil</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://célia.net">If we parse the hard drive, we can get to the SMTP alarm through the multi-byte THX hard drive!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>cH6FtlwfJ8ONmHY</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">asperiores iste officia</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://alice.com">You can't index the interface without hacking the neural SDD protocol!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>K8hW2goL0wJuIyr</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Reprehenderit voluptate eligendi ab.
Officiis velit reiciendis enim dicta nam ut ad sed.
Magnam ipsam ex iure ut est.
Eveniet vel rerum blanditiis est magnam eaque.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://mathis.info">You can't copy the protocol without indexing the primary HTTP hard drive!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>jOciVvc7nqAk8Xk</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Assumenda architecto non ipsum autem.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://romane.name">generating the bandwidth won't do anything, we need to input the neural FTP microchip!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>h9Zsf4zXoMlCNtU</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Nostrum molestiae voluptatem sint odio perspiciatis rerum possimus quas vero.
Enim iusto autem provident.
Ab a incidunt deleniti eligendi nihil quis mollitia aut.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>

      </section>

    </div>

    <div class="col-md-4">
      <h2 class="mb-1">Préstations favorites</h2>
      <ul>
        <li><a href="#dsfsfs">Modification des impôts</a></li>
        <li><a href="#dsfsfs">Voter en ligne</a></li>
      </ul>
    </div>
  </div>

  </div>
</main>
<footer class="footer mt-3">
  <div class="container">
    <a href="#" class="footer-btn-backtotop btn btn-sm btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
    <div class="row small">
      <nav aria-label="pied de page" class="col-xs-10">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pourquoi créer un compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mentions légales</a>
          </li>
        </ul>
      </nav>
      <div class="col-xs-2 footer-logo-container">
        <div class="footer-logo">
          <img class="img-fluid" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
        </div>
      </div>
    </div>
  </div>
</footer>


