

<ol class="list-unstyled">
  
    <li>
      
        <h2>A vérifier avant de commencer</h2> <ul class="list-unstyled">
        
        
          <li class="d-flex flex-column flex-md-row justify-content-between
                     border-bottom pb-3">
            <a href="#" class="align-self-baseline mt-2">Vérifier votre éligibilité</a>
            
              <strong class="align-self-baseline
                             badge badge-success
                             mt-2
                             ">Terminé</strong>
            
          </li>
        
          <li class="d-flex flex-column flex-md-row justify-content-between
                     border-bottom pb-3">
            <a href="#" class="align-self-baseline mt-2">Lire les documents relatifs</a>
            
              <strong class="align-self-baseline
                             badge badge-success
                             mt-2
                             ">Terminé</strong>
            
          </li>
        
        </ul>
    </li>
  
    <li>
      
        <h2>A préparer pour la demande</h2> <ul class="list-unstyled">
        
        
          <li class="d-flex flex-column flex-md-row justify-content-between
                     border-bottom pb-3">
            <a href="#" class="align-self-baseline mt-2">Information sur la société</a>
            
              <strong class="align-self-baseline
                             badge badge-success
                             mt-2
                             ">Terminé</strong>
            
          </li>
        
          <li class="d-flex flex-column flex-md-row justify-content-between
                     border-bottom pb-3">
            <a href="#" class="align-self-baseline mt-2">Vos coordonnées</a>
            
              <strong class="align-self-baseline
                             badge badge-success
                             mt-2
                             ">Terminé</strong>
            
          </li>
        
          <li class="d-flex flex-column flex-md-row justify-content-between
                     border-bottom pb-3">
            <a href="#" class="align-self-baseline mt-2">Lister les contextes de la demande</a>
            
          </li>
        
          <li class="d-flex flex-column flex-md-row justify-content-between
                     border-bottom pb-3">
            <a href="#" class="align-self-baseline mt-2">Preuve de solvabilité</a>
            
          </li>
        
          <li class="d-flex flex-column flex-md-row justify-content-between
                     border-bottom pb-3">
            <a href="#" class="align-self-baseline mt-2">Donner des preuves médicales</a>
            
              <strong class="align-self-baseline
                             badge badge-success
                             mt-2
                             ">Terminé</strong>
            
          </li>
        
        </ul>
    </li>
  
    <li>
      
        <h2>Faire la demande</h2> <ul class="list-unstyled">
        
        
          <li class="d-flex flex-column flex-md-row justify-content-between
                     border-bottom pb-3">
            <a href="#" class="align-self-baseline mt-2">Soumettre la demande et payer</a>
            
          </li>
        
        </ul>
    </li>
  
</ol>

