

<div class="vd-teaser-list-striped">
  
  <article class="vd-teaser-list-striped-item px-3 pt-3">
    <header>
      <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      <h3 class="mt-0"><a href="communiques-presse-detail" class="vd-link-invisible">Lorem ipsum dolor sit amet.</a></h3>
    </header>
    <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum, quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni explicabo nesciunt.</p>
    <p class="small font-weight-bold">Publié le 1 juillet 2016</p>
  </a>
</article>

  
  <article class="vd-teaser-list-striped-item px-3 pt-3">
    <header>
      <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      <h3 class="mt-0"><a href="communiques-presse-detail" class="vd-link-invisible">Lorem ipsum dolor sit amet.</a></h3>
    </header>
    <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum, quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni explicabo nesciunt.</p>
    <p class="small font-weight-bold">Publié le 1 juillet 2016</p>
  </a>
</article>

  
  <article class="vd-teaser-list-striped-item px-3 pt-3">
    <header>
      <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      <h3 class="mt-0"><a href="communiques-presse-detail" class="vd-link-invisible">Lorem ipsum dolor sit amet.</a></h3>
    </header>
    <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum, quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni explicabo nesciunt.</p>
    <p class="small font-weight-bold">Publié le 1 juillet 2016</p>
  </a>
</article>

  
  <article class="vd-teaser-list-striped-item px-3 pt-3">
    <header>
      <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      <h3 class="mt-0"><a href="communiques-presse-detail" class="vd-link-invisible">Lorem ipsum dolor sit amet.</a></h3>
    </header>
    <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum, quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni explicabo nesciunt.</p>
    <p class="small font-weight-bold">Publié le 1 juillet 2016</p>
  </a>
</article>

  
  <article class="vd-teaser-list-striped-item px-3 pt-3">
    <header>
      <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      <h3 class="mt-0"><a href="communiques-presse-detail" class="vd-link-invisible">Lorem ipsum dolor sit amet.</a></h3>
    </header>
    <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum, quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni explicabo nesciunt.</p>
    <p class="small font-weight-bold">Publié le 1 juillet 2016</p>
  </a>
</article>

  
  <article class="vd-teaser-list-striped-item px-3 pt-3">
    <header>
      <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      <h3 class="mt-0"><a href="communiques-presse-detail" class="vd-link-invisible">Lorem ipsum dolor sit amet.</a></h3>
    </header>
    <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum, quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni explicabo nesciunt.</p>
    <p class="small font-weight-bold">Publié le 1 juillet 2016</p>
  </a>
</article>

  
  <article class="vd-teaser-list-striped-item px-3 pt-3">
    <header>
      <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      <h3 class="mt-0"><a href="communiques-presse-detail" class="vd-link-invisible">Lorem ipsum dolor sit amet.</a></h3>
    </header>
    <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum, quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni explicabo nesciunt.</p>
    <p class="small font-weight-bold">Publié le 1 juillet 2016</p>
  </a>
</article>

  
  <article class="vd-teaser-list-striped-item px-3 pt-3">
    <header>
      <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      <h3 class="mt-0"><a href="communiques-presse-detail" class="vd-link-invisible">Lorem ipsum dolor sit amet.</a></h3>
    </header>
    <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum, quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni explicabo nesciunt.</p>
    <p class="small font-weight-bold">Publié le 1 juillet 2016</p>
  </a>
</article>

  
  <article class="vd-teaser-list-striped-item px-3 pt-3">
    <header>
      <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      <h3 class="mt-0"><a href="communiques-presse-detail" class="vd-link-invisible">Lorem ipsum dolor sit amet.</a></h3>
    </header>
    <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum, quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni explicabo nesciunt.</p>
    <p class="small font-weight-bold">Publié le 1 juillet 2016</p>
  </a>
</article>

  
  <article class="vd-teaser-list-striped-item px-3 pt-3">
    <header>
      <p class="small mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
      <h3 class="mt-0"><a href="communiques-presse-detail" class="vd-link-invisible">Lorem ipsum dolor sit amet.</a></h3>
    </header>
    <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum, quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni explicabo nesciunt.</p>
    <p class="small font-weight-bold">Publié le 1 juillet 2016</p>
  </a>
</article>

  
</div>
<nav class="vd-pagination" aria-label="">
  <ul class="vd-pagination__list">
        
        <li class="vd-pagination__item vd-pagination__item--previous">
            
            <a href="#" class="vd-pagination__link">
            
                <span class="vd-pagination__title">
                    <span class="fa fa-chevron-left" aria-hidden="true"></span>
                    Page précédente
                </span>
                
            
            </a>
            
        </li>
        
        
            <li class="vd-pagination__item d-none d-md-inline-block">
                <a href="#" class="vd-pagination__link">
                  <span class="sr-only">Page </span>2
                </a>
            </li>
            <li class="vd-pagination__item d-none d-md-inline-block">
                <a href="#" class="vd-pagination__link">
                  <span class="sr-only">Page </span>3
                </a>
            </li>
            <li class="vd-pagination__item is-active d-none d-md-inline-block">
                  <span class="sr-only">Page </span>4
            </li>
            <li class="vd-pagination__item d-none d-md-inline-block">
                <a href="#" class="vd-pagination__link">
                  <span class="sr-only">Page </span>5
                </a>
            </li>
            <li class="vd-pagination__item d-none d-md-inline-block">
                <a href="#" class="vd-pagination__link">
                  <span class="sr-only">Page </span>6
                </a>
            </li>
          
          
        <li class="vd-pagination__item vd-pagination__item--next">
          
            <a href="#" class="vd-pagination__link">
              
                <span class="vd-pagination__title">
                    Page suivante
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                </span>
                
            
            </a>
            
        </li>
        
    </ul>
</nav>


