

<article class="d-flex 
                flex-column">
    <header class="d-flex flex-column">
        <h3 class="mt-0 order-2">
            <a href="communiques-presse-detail" class="vd-link-invisible">Lorem
                ipsum dolor sit amet.</a>
        </h3>
        <p class="small mb-1 order-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </header>
    <p class="small font-weight-bold order-3">Publié le 1 juillet 2016</p>
    <div class="order-2">
        <p class="vd-font-familiy-headings">Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum,
        quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni
        explicabo nesciunt.</p>
    </div>
</article>

