

<article role="article" aria-label="Lorem ipsum dolor sit amet, consectetur adipisicing elit" class="mb-3">
  <header>
    <h3><a class="vd-link-invisible" href="#" title="Lire l'article: Lorem ipsum dolor sit amet, consectetur adipisicing elit">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h3>

    <p class="small">
      <span class="sr-only">Publié par </span><a href="#" rel="author" title="Les articles de Clark Kent">Clark Kent</a>, <a href="#" rel="author" title="Les articles de Bruce Wayne">Bruce Wayne</a>, <a href="#" rel="author" title="Les articles de Cédric Aellen">Cédric Aellen</a> et <a href="#" rel="author" title="Les articles de Cinzia Pfeiffer">Cinzia Pfeiffer</a>,
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067"><source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640"><source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">
</picture>
  
</figure>

  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  <p>
    <a href="#" title="Lire la suite de l'article Lorem ipsum dolor sit amet, consectetur adipisicing elit">Lire la suite</a>
  </p>
</article>

