

<section>
  <h2 class="vd-heading-light-alt h4">Actualités</h2>

  
  <article role="article" aria-label="Ut condimentum magna a ornare pulvinar"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Ut condimentum magna a ornare pulvinar</a></h3>

    <p class="small">
      <span class="sr-only">Publié  Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure vd-w-md-50">
  <a href="#"><img
    class="img-fluid"
    
    src="https://placehold.it/960x640/ea09ff/000001?text=Default|960x640"
    srcset="https://placehold.it/320x210/d8e7ff/000001?text=320x210 320w, https://placehold.it/540x360/a4c6fc/000001?text=540x360 540w, https://placehold.it/720x480/6ba4ff/000001?text=720x480 720w, https://placehold.it/960x640/3f89ff/000001?text=960x640 960w, https://placehold.it/1140x760/0a68ff/fffffa?text=1140x760 1140w" alt="Alternative text">

  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Ut condimentum magna a ornare pulvinar</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Etiam vehicula ligula nec convallis fringilla"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Etiam vehicula ligula nec convallis fringilla</a></h3>

    <p class="small">
      <span class="sr-only">Publié  Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Etiam vehicula ligula nec convallis fringilla</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Sed vitae magna eget enim condimentum aliquam semper sit amet velit"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Sed vitae magna eget enim condimentum aliquam semper sit amet velit</a></h3>

    <p class="small">
      <span class="sr-only">Publié  Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Sed vitae magna eget enim condimentum aliquam semper sit amet velit</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Duis lobortis arcu vel leo iaculis pretium"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Duis lobortis arcu vel leo iaculis pretium</a></h3>

    <p class="small">
      <span class="sr-only">Publié  Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Duis lobortis arcu vel leo iaculis pretium</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Morbi fermentum libero at commodo gravida"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Morbi fermentum libero at commodo gravida</a></h3>

    <p class="small">
      <span class="sr-only">Publié  Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Morbi fermentum libero at commodo gravida</span></a>
  </p>
  
</article>

  

  
  <h3 class="sr-only">Autres actualités</h3>
  <ul class="list-unstyled">
    <li class="mb-3"><a href="#"title="Toutes les actualités link to somewhere"class="btn btn-dark"
   >Toutes les actualités</a>
</li>
    <li class="mb-3"><a href="#"title="Tous les communiqués link to somewhere"class="btn btn-secondary"
   >Tous les communiqués</a>
</li>
    <li class="mb-3"><a href="#"title="Décisions du conseil d&#39;état link to somewhere"class="btn btn-secondary"
   >Décisions du conseil d&#39;état</a>
</li>
  </ul>
  
</section>



