

<header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex
                flex-wrap
                justify-content-between
                justify-content-md-end
                d-print-none">
      <div class="mr-3">
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-md-right small">
    
    <li class="list-inline-item">
      <a href="" class=""></a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="vd-login mb-3 mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <div class="d-flex flex-wrap justify-content-end align-items-center">
    <div class="align-self-center text-right mr-1">
      <p class="mb-0">
      <span class="fas fa-lock" aria-hidden="true"></span>
        <a href="#">Se connecter</a>
      </p>
      </div>
    </div>
</section>


    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a href="../accueil"
   class="vd-logo"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#culture"
    class="vd-domain-item__link vd-link-invisible h4">Culture</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#economie"
    class="vd-domain-item__link vd-link-invisible h4">Economie</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#environnement"
    class="vd-domain-item__link vd-link-invisible h4">Environnement</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#etat%2C%20droit%2C%20finance"
    class="vd-domain-item__link vd-link-invisible h4">Etat, Droit, Finance</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#formation"
    class="vd-domain-item__link vd-link-invisible h4">Formation</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#mobilit%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Mobilité</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#sant%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Santé</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#social"
    class="vd-domain-item__link vd-link-invisible h4">Social</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#vie%20priv%C3%A9e"
    class="vd-domain-item__link vd-link-invisible h4">Vie privée</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#s%C3%A9curit%C3%A9"
    class="vd-domain-item__link vd-link-invisible h4">Sécurité</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                    <li class="vd-domain-item vd-domain-item--small col-sm-6 col-lg-4 mb-3">
  <a href="domaines#territoire"
    class="vd-domain-item__link vd-link-invisible h4">Territoire</a>
  <span class="vd-domain-item__text">
    <span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span>
  </span>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="container pt-3">
  <nav class="pb-1" aria-label="Fil d'Ariane">
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
      
        <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Parent page</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Parent page</a></li>
      
    
      
        <li class="sr-only" aria-current="page">Template</li>
      
    
  </ol>
</nav>

</div>


<main class="container container-small vd-content" id="main">
  <h1 class="text-center mb-3 mt-0">News detail</h1>

  <p class="text-center small">
  Publié le <time datetime="2017-03-31T13:05:23+00:00">31.03.2017</time>

    &mdash; <span class="sr-only">Catégorie: </span>
        <a href="#" rel="category" title="Les articles de la categorie Accessibilité">
      
      Accessibilité
      
        </a>
      , 
        <a href="#" rel="category" title="Les articles de la categorie Agriculture">
      
      Agriculture
      
        </a>
       et 
        <a href="#" rel="category" title="Les articles de la categorie Tourisme">
      
      Tourisme
      
        </a>
      
  
</p>


  
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, obcaecati veritatis ipsam officia necessitatibus fuga, tempora vel unde libero soluta excepturi? Cumque dolorem, atque soluta. Obcaecati vel vero ipsam corporis.</p>

  

</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d&#39;emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#" class="d-inline-block">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


