

<!-- Start: @textarea--default -->
<div class="form-group">
  <label for="testTextarea">
    Example textarea
  </label><textarea class="form-control" id="testTextarea"></textarea>
</div>
<!-- End: @textarea--default -->

<!-- Start: @textarea--danger -->
<div class="form-group vd-form-group-danger">
  <label for="testTextarea">
    Example textarea
  </label><div class="form-control-feedback">Veuillez saisir votre message</div><small id="testTextareaHelp" class="form-text text-muted">Le message doit contenir au minimum trois caractères.</small><textarea class="form-control" id="testTextarea" aria-invalid="true" aria-describedby="testTextareaHelp"></textarea>
</div>
<!-- End: @textarea--danger -->

