

<header class="header">
  <nav class="vd-access-nav" aria-label="menu accessibilité">
    <ul>
        <li>
          <a class="btn btn-primary" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
        </li>
        <li>
          <a class="btn btn-primary" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
        </li>
        <li>
          <a class="btn btn-primary" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
        </li>
        <li>
          <a class="btn btn-primary" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
        </li>
        <li>
          <a class="btn btn-primary" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
        </li>
        <li><a class="btn btn-primary" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a></li>
        <li>
          <a class="btn btn-primary" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
        </li>
        <li>
          <a class="btn btn-primary" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
        </li>
        <li>
          <a class="btn btn-primary" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
        </li>
      </ul>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <nav>
          <h2 class="sr-only">Sous-navigation</h2>
          <ul class="nav hidden-sm-down small justify-content-end">
            <li class="nav-item"><a class="nav-link active" href="../autorites"><span class="sr-only">page active: </span>Autorités</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Annuaire</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Agenda</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            <li class="nav-item"><span class="nav-link"><span class="fa fa-lock" aria-hidden="true"></span> <a href="../connexion">Mon compte</a></span></li>
          </ul>
        </nav>
        <div class="vd-nav-mobile dropdown">
          <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" type="button" id="nav-mobile-button">menu<span class="bars"><span class="bar"></span><span class="bar"></span><span class="bar"></span></span></button>
        
          <nav class="dropdown-menu" aria-labelledby="nav-mobile-button">
            <h2>Navigation mobile</h2>
            <div class="dropdown-item pt-2 pb-1 text-center">
              <a class="btn btn-primary vd-btn-chevron-r" href="../domaines">Tous les thèmes</a>
            </div>
            <div class="dropdown-item px-0 pb-0">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" href="#0">Autorités</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#0">Annuaire</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#0">Agenda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#0">Contact</a>
                </li>
                <li class="nav-item vd-nav-item-secure">
                  <span class="fa fa-lock fa-lg" aria-hidden="true"></span>
                  <a class="nav-link btn btn-primary vd-btn-chevron-r" href="../connexion">Accéder à l'espace sécurisé</a>
                </li>
              </ul>
            </div>
            <div class="dropdown-item">
              <p>Découvrir</p>
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="#0">International</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#0">Tourisme</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#0">Musées</a>
                </li>
              </ul>
            </div>
            <div class="dropdown-item bg-inverse">
              <p class="text-white text-center mt-1">
                <small>Suivre vd.ch sur les réseaux sociaux</small>
              </p>
        
              <h2 class="vd-section-title mb-1"></h2>
              
              <ul class="list-inline vd-social-icons">
                <li class="list-inline-item">
                  <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"><span class="sr-only">Envoyer par courriel</span></span></a>
                </li>
                <li class="list-inline-item">
                  <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
                </li>
                <li class="list-inline-item">
                  <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
                </li>
                <li class="list-inline-item">
                  <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
                </li>
                <li class="list-inline-item hidden-lg-up">
                  <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
                </li>
                <li class="list-inline-item hidden-md-down">
                  <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
                </li>
              </ul>
        
            </div>
          </nav>
        </div>

      </div>

    </div>
    <div class="row">
      <div class="col-md-5">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
          <div class="vd-logo-title">
            <div id="aria-vd-logo">Site officiel<span class="sr-only"> de l'État de Vaud</span></div>
            <img src="../../assets/svg/ETATVAUD.svg" alt="État de Vaud" aria-hidden="true" />
          </div>
        </a>
      </div>
      <div class="col-md-5 offset-md-2">
        <form class="input-group my-2 vd-search-form" action="#">
          <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
          <input id="search-form" type="text" class="form-control"  aria-describedby="search-form-label">
          <span class="input-group-btn">
        <button class="btn" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
          </span>
        </form>
      </div>
    </div>
  </div>

  <div class="vd-nav-primary">
  <div class="vd-nav-primary-toggle">
    <div class="container">
      <div class="text-center text-md-left">
        <button type="button" class="hidden-sm-down btn btn-sm btn-primary collapsed" data-toggle="collapse" data-target="#nav-primary-container"  aria-controls="nav-primary-container" aria-expanded="false"><span class="sr-only">Accédez à la liste de </span>Tous les thèmes</button>
      </div>
    </div>
  </div>
  <div class="hidden-sm-down collapse clearfix" id="nav-primary-container">
    <div class="vd-nav-primary-content">
      <div class="container">
        <div class="row">
          <nav class="col-md-8" id="nav-primary">
            <h2 class="sr-only">Navigation par thèmes</h2>
            <ul class="list-unstyled mb-0 row">
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Culture</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et soutiens, Musées cantonaux…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Economie</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Poursuites et faillites, Registre du commerce…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Environnement</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Faune et nature, Energie…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Etat, Droit, Finance</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Impôts, rémunérations, fiscalité…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Formation</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Jours fériés et vacances scolaires…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Mobilité</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobile, Navigation…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Santé</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, Professionnels…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Social</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aide aux victimes et auteur-e-s de violences…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Vie privée</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Documents d&#x27;identité…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Sécurité</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, contrôle, casiers judiciaire…<span class="sr-only">)</span></small>
                </a>
              </li>
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
                <a href="#" class="vd-link-invisible">
                  <span class="vd-domain-item-title h2 d-block">Territoire</span>
                  <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Informations sur le territoire, Registre foncier…<span class="sr-only">)</span></small>
                </a>
              </li>
            </ul>
          </nav>
          <div class="col-md-4">
            <h2 class="vd-section-title mt-3 mb-1">Les plus visités</h2>
            <ul class="vd-list-links">
              <li><a href="#0">Inscription au chômage</a></li>
              <li><a href="#0">Formulaire d'indemnisation</a></li>
              <li><a href="#0">Vaud Tax 2017</a></li>
              <li><a href="#0">Vacances scolaires et jours fériés</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</header>

<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">level 1</a></li>
    <li class="breadcrumb-item"><a href="#">level 2</a></li>
    <li class="breadcrumb-item"><a href="#">level 3</a></li>
    <li class="breadcrumb-item"><a href="#">level 4</a></li>
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true">Theme name</h1>
  </div>
</div>


<main id="main" class="container mt-3">

  <h1 class="sr-only">Theme name</h1>

  <div class="row">

    <div class="col-md-8">

      <h2>Dans ce thème</h2>
      <div class="vd-bg-pattern-green p-1 mb-1">
        <ul class="nav vd-list-boxed flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Adipisci blanditiis quia aspernatur voluptas. <span class="fa fa-lock" title="Cette prestation demande une identification"></span><span class="sr-only">(cette préstation demande un identification)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sit laudantium ad magni ut consectetur ipsam.</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Omnis est neque modi sit qui cumque atque voluptas.</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Doloremque rerum voluptate.</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Impedit provident esse voluptas nesciunt ipsum suscipit qui earum fuga. <span class="fa fa-lock" title="Cette prestation demande une identification"></span><span class="sr-only">(cette préstation demande un identification)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Natus animi est mollitia.</a>
          </li>
        </ul>
        <p>
          <a href="theme--list" title="Afficher toutes les préstations" class="btn btn-primary vd-btn-chevron-r">Voir tout</a>

        </p>
      </div>

      <h2 class="sr-only">Pages d'informations</h2>
      <ul class="vd-list-links">
  <li><a href="https://mathilde.net">Delectus omnis soluta.</a></li>
  <li><a href="http://maëlys.info">Facere maxime dolorum qui omnis rerum eos vel ut aut.</a></li>
  <li><a href="https://charlotte.net">Eum fugiat inventore quas ut facilis doloribus error eligendi.</a></li>
  <li><a href="http://zoe.eu">Voluptatem molestiae ut at ut voluptatum minima aperiam temporibus labore.</a></li>
  <li><a href="http://mattéo.info">Odit placeat occaecati qui est placeat impedit impedit fugit.</a></li>
  <li><a href="https://alexandre.info">Quibusdam cupiditate ut cumque sequi sed non.</a></li>
  <li><a href="http://clémence.info">Autem voluptatum rerum natus illum totam ea.</a></li>
  <li><a href="https://nicolas.info">Eaque quibusdam aliquam est ullam.</a></li>
  <li><a href="http://léo.name">Consequuntur quasi rerum hic ut provident alias.</a></li>
  <li><a href="http://océane.net">Harum facilis amet omnis eligendi et in nulla perferendis.</a></li>
</ul>


    </div>

    <aside class="col-md-4 small">
      <address class="mb-2" itemscope itemtype="http://schema.org/GovernmentOrganization">

  <h2 itemprop="name">Service name</h2>

  <h3 class="vd-section-title mb-1">division</h3>
  <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Rue de la Barre 2</span> <br><span itemprop="postalCode">1000</span> <span itemprop="addressLocality">Lausanne</span> <span class="sr-only" itemprop="addressCountry">Suisse</span></p>

  <div itemscope itemtype="http://schema.org/GovernmentBuilding">
  <h3>Heures d&#x27;ouverture<span class="sr-only"> du Service name</span></h3>
    <p itemprop="openingHours" content="Mo,Tu,We,Th,Fr 08:00-11:30,13:30-16:30">du lundi au vendredi de 8h00 à 11h30 et de 13h30 à 16h30</p>
  </div>

  <ul class="vd-list-icons">
    <li>
      <span class="fa fa-phone" aria-hidden="true"></span> <a href="tel:+41211234567">+41 21 123 45 67</a>
    </li>
    <li>
      <span class="fa fa-fax" aria-hidden="true"></span> <a href="tel:+41211234567">+41 21 123 45 67</a>
    </li>
    <li>
      <span class="fa fa-envelope" aria-hidden="true"></span> <a href="mailto:service@vd.ch">service@vd.ch</a>
    </li>
    <li>
      <span class="fa fa-map-marker" aria-hidden="true"></span> <a href="#">voir sur la carte</a>
    </li>
  </ul>

  <p>
    <a href="#" title="link to somewhere" class="btn btn-primary vd-btn-chevron-r">Contacter l&#x27;office</a>

  </p>

</address>

    </aside>
  </div>
</main>

<div class="container">
  
  <h2 class="vd-section-title mb-1 sr-only">Partager</h2>
  
  <ul class="list-inline vd-social-icons mt-2">
    <li class="list-inline-item">
      <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"><span class="sr-only">Envoyer par courriel</span></span></a>
    </li>
    <li class="list-inline-item">
      <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
    </li>
    <li class="list-inline-item">
      <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
    </li>
    <li class="list-inline-item">
      <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
    </li>
    <li class="list-inline-item hidden-lg-up">
      <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
    </li>
    <li class="list-inline-item hidden-md-down">
      <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
    </li>
  </ul>
</div>
<footer class="footer">
  <div class="container">
    <a href="#" class="footer-btn-backtotop btn btn-sm btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
    <div class="row small">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            <div class="col-sm-4">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Offres d'emploi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Statistiques</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Portail sécurisé</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Flux RSS</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Espace sécurisé</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Mentions légales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="#">Permaliens</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="#">Guide Typo 3</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h4 class="vd-section-title text-white mb-1">Sites partenaires</h4>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Promotion Vaud.ch</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Tourisme</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Musées</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Patrimoine</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="#">CH.ch</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-xs-2 footer-logo-container">
          <div class="footer-logo">
            <img class="img-fluid" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
          </div>
        </div>
    </div>
  </div>
</footer>

