

<div class="container">
  <h1>Article wikipedia sur Lausanne (heading 1)</h1>


  <p>Lausanne est une ville suisse située sur la rive nord du lac Léman. Elle est la capitale et ville principale du canton de Vaud3 et le chef-lieu du district de Lausanne. Elle constitue la quatrième ville du pays en termes de population4 après Zurich, Genève et Bâle. Fin 2014, l'agglomération lausannoise compte 402 900 habitants5 et la commune de Lausanne en compte 143 971 (fin novembre 2016)6. En 2012, l'agglomération lausannoise compte 50 % de la population du canton de Vaud et concentre 60 % des emplois7. Elle héberge le vaste campus de l'Université de Lausanne (UNIL) et de l'École polytechnique fédérale de Lausanne (EPFL), ainsi que l'EHL, l'ECAL et l'IMD.</p>

  <p>Dans la ville se trouvent le Tribunal fédéral, le site principal de la Cinémathèque suisse ainsi que le siège du Comité international olympique (CIO) et de 55 fédérations sportives internationales. Elle porte le titre officiel de «  Capitale olympique »8 depuis 1994.</p>

  <h2>Toponymie (heading 2)</h2>

  <p>Lausonna viendrait du celtique lausa (signifiant dalle, pierre plate) et du suffixe celtique -onna, qui servait souvent à former des noms de cours d'eau. Lausonna a probablement désigné l'actuel Flon (rivière) ou une partie de ce cours d'eau avant de s'appliquer au vicus celtique, puis romain de Lousonna9,10.</p>
  <p>Premières mentions : Lousonnensium (100-200) ; Leuso[nn]ae (vers 200) ; Lacu Lausonio (vers 280) ; Lacus Losanenses (vers 350) ; civitas Lausanna (vers 400) ; in pago Lausonensi (866) ; actum Lausanne castro (890) ; Losanna (990)9.</p>

  <h2>Géographie (heading 2)</h2>


  <h3>Localisation (heading 3)</h3>

  <p>Lausanne se situe en plein cœur de la Suisse romande. Son territoire est un site en pente qui descend depuis les collines du plateau suisse jusqu'à la rive nord du lac Léman. La ville s'étend sur un dénivelé de plus 500 mètres, du port d'Ouchy (374 m) au Chalet-à-Gobet (873 m), en passant par le centre-ville (495 m), l'aéroport de Lausanne-Blécherette (600 m) et le bois de Sauvabelin (640 m).</p>
  <p>Le centre de la ville est bâti sur trois collines : la Cité, le Bourg et Saint-Laurent, reliées entre elles principalement par le Grand-Pont et le pont Bessières. Cette morphologie s'explique par la présence de plusieurs cours d'eau ayant façonné les vallées et les collines du centre-ville. En effet, 16 rivières coulent sur le territoire de Lausanne11. Les plus connues sont le Flon, la Louve et la Vuachère.</p>

  <h3>Climat (heading 3)</h3>

  <p>La ville de Lausanne se situe dans une région au climat océanique tempéré chaud sans saison sèche avec des étés tempérés (Cfb selon la classification de Köppen). Le territoire de la commune étant en pente, ce climat est naturellement plus doux au bord du lac (altitude : 375 m) qu’au sommet des collines (max. 900 m). La station de référence pour la ville de Lausanne se trouve dans la commune voisine de Pully à 456 mètres d’altitude, ce qui correspond pratiquement à la hauteur du centre-ville. Au mois de juillet, la température oscille en moyenne entre 15 °C la nuit et 24 °C l’après-midi, avec un ensoleillement maximal et des orages, et entre -0,5 et 3,5 °C au mois de janvier, avec peu de soleil dû au phénomène de brouillard de vallée. Les précipitations sont réparties tout au long de l'année, parfois sous forme de neige entre le mois de décembre et le mois de mars avec 21,5 jours de neige gisante par an13.</p>
  <figure class="figure">
  <img
    class="img-fluid"
    
    src="https://placehold.it/960x640/ea09ff/000001?text=Default|960x640"
    srcset="https://placehold.it/320x210/d8e7ff/000001?text=320x210 320w, https://placehold.it/540x360/a4c6fc/000001?text=540x360 540w, https://placehold.it/720x480/6ba4ff/000001?text=720x480 720w, https://placehold.it/960x640/3f89ff/000001?text=960x640 960w, https://placehold.it/1140x760/0a68ff/fffffa?text=1140x760 1140w" alt="Alternative text">

  <figcaption class="figure-caption">Ceci est une légende<span class="vd-figure-credits">Crédit photo</span></figcaption>
</figure>

  <p>La bise est un vent froid et sec venu du nord-est, fréquent en hiver. Il provoque alors une chute de température, un ciel dégagé et une impression de froid accentuée par les rafales de vent. L'importante masse d'eau du Lac Léman et la pente nord-sud face au soleil ont un effet sur le climat, qui est plus doux que dans les régions avoisinantes. Entre 2001 et 2012, la température la plus basse mesurée durant l'année à Pully a été de −13,0 °C (2012), la plus élevée de +37,1 °C (2003) et la plus forte rafale a approché les 100 km/h (2003)14.</p>

  <h4>Hey you ! This is the heading 4</h4>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, obcaecati veritatis ipsam officia necessitatibus fuga, tempora vel unde libero soluta excepturi? Cumque dolorem, atque soluta. Obcaecati vel vero ipsam corporis.</p>


  <h5>Hey you ! This is the heading 5</h5>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, obcaecati veritatis ipsam officia necessitatibus fuga, tempora vel unde libero soluta excepturi? Cumque dolorem, atque soluta. Obcaecati vel vero ipsam corporis.</p>


  <h6>Hey you ! This is the heading 6</h6>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, obcaecati veritatis ipsam officia necessitatibus fuga, tempora vel unde libero soluta excepturi? Cumque dolorem, atque soluta. Obcaecati vel vero ipsam corporis.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, obcaecati veritatis ipsam officia necessitatibus fuga, tempora vel unde libero soluta excepturi? Cumque dolorem, atque soluta. Obcaecati vel vero ipsam corporis.</p>


  <figure class="figure">
  <img
    class="img-fluid"
    
    src="https://placehold.it/960x640/ea09ff/000001?text=Default|960x640"
    srcset="https://placehold.it/320x210/d8e7ff/000001?text=320x210 320w, https://placehold.it/540x360/a4c6fc/000001?text=540x360 540w, https://placehold.it/720x480/6ba4ff/000001?text=720x480 720w, https://placehold.it/960x640/3f89ff/000001?text=960x640 960w, https://placehold.it/1140x760/0a68ff/fffffa?text=1140x760 1140w" alt="Alternative text">

  <figcaption class="figure-caption">Ceci est une légende<span class="vd-figure-credits">Crédit photo</span></figcaption>
</figure>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, obcaecati veritatis ipsam officia necessitatibus fuga, tempora vel unde libero soluta excepturi? Cumque dolorem, atque soluta. Obcaecati vel vero ipsam corporis.</p>


  <ul><li>Est est dolor.</li><li>Iste corrupti corrupti.</li><li>Incidunt voluptas omnis ad iste ut.</li><li>Et quia ut rem ut voluptas.</li><li>Voluptas et magnam quo ut qui expedita expedita dolore.</li><li>Unde quia deserunt molestias.</li><li>Beatae repudiandae quisquam odit qui recusandae vel iste provident eos.</li><li>Quia velit in qui dolorum culpa voluptas sint aspernatur cumque.</li><li>Quasi harum culpa quis id sed voluptas autem consequuntur aut.</li><li>Voluptas natus qui officiis natus sapiente saepe assumenda.</li></ul>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, obcaecati veritatis ipsam officia necessitatibus fuga, tempora vel unde libero soluta excepturi? Cumque dolorem, atque soluta. Obcaecati vel vero ipsam corporis.</p>


  <ol><li>Est est dolor.</li><li>Iste corrupti corrupti.</li><li>Incidunt voluptas omnis ad iste ut.</li><li>Et quia ut rem ut voluptas.</li><li>Voluptas et magnam quo ut qui expedita expedita dolore.</li><li>Unde quia deserunt molestias.</li><li>Beatae repudiandae quisquam odit qui recusandae vel iste provident eos.</li><li>Quia velit in qui dolorum culpa voluptas sint aspernatur cumque.</li><li>Quasi harum culpa quis id sed voluptas autem consequuntur aut.</li><li>Voluptas natus qui officiis natus sapiente saepe assumenda.</li></ol>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, obcaecati veritatis ipsam officia necessitatibus fuga, tempora vel unde libero soluta excepturi? Cumque dolorem, atque soluta. Obcaecati vel vero ipsam corporis.</p>


  <hr>

  <h1>Lorem ipsum dolor sit amet, consectetur. heading 1</h1>
  <h2>Lorem ipsum dolor sit amet, consectetur. heading 2</h2>
  <h3>Lorem ipsum dolor sit amet, consectetur. heading 3</h3>
  <h4>Lorem ipsum dolor sit amet, consectetur. heading 4</h4>
  <h5>Lorem ipsum dolor sit amet, consectetur. heading 5</h5>
  <h6>Lorem ipsum dolor sit amet, consectetur. heading 6</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, obcaecati veritatis ipsam officia necessitatibus fuga, tempora vel unde libero soluta excepturi? Cumque dolorem, atque soluta. Obcaecati vel vero ipsam corporis.</p>


  <h1>Lorem ipsum dolor sit amet, consectetur. heading 1</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, obcaecati veritatis ipsam officia necessitatibus fuga, tempora vel unde libero soluta excepturi? Cumque dolorem, atque soluta. Obcaecati vel vero ipsam corporis.</p>

  <h2>Lorem ipsum dolor sit amet, consectetur. heading 2</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, obcaecati veritatis ipsam officia necessitatibus fuga, tempora vel unde libero soluta excepturi? Cumque dolorem, atque soluta. Obcaecati vel vero ipsam corporis.</p>

  <h3>Lorem ipsum dolor sit amet, consectetur. heading 3</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, obcaecati veritatis ipsam officia necessitatibus fuga, tempora vel unde libero soluta excepturi? Cumque dolorem, atque soluta. Obcaecati vel vero ipsam corporis.</p>

  <h4>Lorem ipsum dolor sit amet, consectetur. heading 4</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, obcaecati veritatis ipsam officia necessitatibus fuga, tempora vel unde libero soluta excepturi? Cumque dolorem, atque soluta. Obcaecati vel vero ipsam corporis.</p>

  <h5>Lorem ipsum dolor sit amet, consectetur. heading 5</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, obcaecati veritatis ipsam officia necessitatibus fuga, tempora vel unde libero soluta excepturi? Cumque dolorem, atque soluta. Obcaecati vel vero ipsam corporis.</p>

  <h6>Lorem ipsum dolor sit amet, consectetur. heading 6</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, obcaecati veritatis ipsam officia necessitatibus fuga, tempora vel unde libero soluta excepturi? Cumque dolorem, atque soluta. Obcaecati vel vero ipsam corporis.</p>


  <hr>

  <div class="row">
    <div class="col-sm-6">
      <h1>Headings 1</h1>
    </div>
    <div class="col-sm-6">
      <h1 class="vd-heading-light">Headings 1</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h2>Headings 1</h2>
    </div>
    <div class="col-sm-6">
      <h2 class="vd-heading-light">Headings 1</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Headings 1</h3>
    </div>
    <div class="col-sm-6">
      <h3 class="vd-heading-light">Headings 1</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h4>Headings 1</h4>
    </div>
    <div class="col-sm-6">
      <h4 class="vd-heading-light">Headings 1</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h5>Headings 1</h5>
    </div>
    <div class="col-sm-6">
      <h5 class="vd-heading-light">Headings 1</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h6>Headings 1</h6>
    </div>
    <div class="col-sm-6">
      <h6 class="vd-heading-light">Headings 1</h6>
    </div>
  </div>

</div>

