/**
 * 1. Put the toggle button under the list element
 * 2. Toggle visiblity of the buttons in the tree list
 */

.vd-tree-view__button {
  display: block; /* [1] */
}

.vd-tree-view__button[data-toggle="collapse"][aria-expanded="true"].is-collapsed {
  display: none; /* [2] */
}

.vd-tree-view__button[data-toggle="collapse"][aria-expanded="false"].is-not-collapsed {
  display: none; /* [2] */
}
