<header class="header" role="banner">
  {{> @access-nav }}
  <div class="container">
    <nav class="nav nav-inline text-xxs-right" aria-label="sous-navigation">
      {{> @dropdown }}
    </nav>
    {{> @logo-etat }}
  </div>
</header>
