<div class="container">
  {{#if updateTime }}{{render '@update-time'}}{{/if}}
  {{> @social-icons title='Partager' titleModifier='sr-only' styleModifier='mt-2'}}
</div>
<footer class="footer">
  <div class="container">
    <a href="#" class="footer-btn-backtotop btn btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
    <div class="row small">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            <div class="col-sm-4">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Offres d'emploi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Statistiques</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Portail sécurisé</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Flux RSS</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Espace sécurisé</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Mentions légales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="#">Permaliens</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="#">Guide Typo 3</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h4 class="vd-section-title text-white mb-1">Sites partenaires</h4>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Promotion Vaud.ch</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Tourisme</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Musées</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Patrimoine</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="#">CH.ch</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-xs-2 footer-logo-container">
          <div class="footer-logo">
            <img class="img-fluid" src="{{ path '/assets/svg/logo/logo--white.svg' }}" alt="Canton de Vaud">
          </div>
        </div>
    </div>
  </div>
</footer>
