/* ------------------------------------ *\
    #SMALL
\* ------------------------------------ */

/**
 * Small text
 */

:root{
    --small-font-size: calc( 1rem / 1.26 );
    --small-font-family: var(--base-font-family);
    --enhance-small-font-family: var(--enhance-base-font-family);
}





@define-mixin small $class,
                         $font-size: var(--small-font-size),
                         $font-family: var(--small-font-family),
                         $enhance-font-family:
                             var(--enhance-small-font-family) {

    /**
     * $(class)
     *
     * 1. Use webfont only when it's loaded to avoid FOIT
     */
    $(class) {
        font-size: $font-size;
        font-family: $font-family;
    }

    .wf-active $(class) {
        font-family: $enhance-font-family; /* [1] */
    }
}





@mixin small small;
