/* ------------------------------------ *\
    #ALERTS
\* ------------------------------------ */

:root {
    --alert-background-size: var(--base-spacing-unit) var(--base-spacing-unit);
    --alert-background-position: var(--alert-background-size);
    --alert-background-color: var(--color-blue-lightest);
}

/**
 * Alerts
 *
 * Alerts are build to work with the `.box` class.
 *
 * 1. Icon settings
 * 2. Add padding between icon and content
 */
.alert {

    background-repeat: no-repeat; /* [1] */
    background-size: var(--alert-background-size); /* [1] */
    background-position: var(--alert-background-position); /* [1] */
    background-image: url("../images/warning.svg");
    background-color: var(--alert-background-color);

    &__body {
        padding-left: calc(var(--base-spacing-unit) * 2); /* [2] */
    }

}
