/* ------------------------------------ *\
    #BOX
\* ------------------------------------ */

/**
 * Default box UI.
 */
:root {
    --box-border-color: var(--color-base);
    --box-margin-bottom: var(--base-spacing-unit);
}

.box--default {
    margin-bottom: var(--box-margin-bottom);

    outline: 1px solid var(--box-border-color);
}
