/* ------------------------------------ *\
    #INLINE TEXTS
\* ------------------------------------ */

/**
 * Fractions
 *
 * Enable OpenType feature for fraction
 * More info here:
 * http://practice.typekit.com/lesson/caring-about-opentype-features/
 */
.fraction {
    font-variant-ligatures: common-ligatures, contextual;
    font-variant-numeric: diagonal-fractions;
    font-feature-settings: "kern", "liga", "clig", "calt", "frac";
    font-kerning: normal;
}





/**
 * Footnotes
 *
 * Enable OpenType feature for footnotes
 * More info here:
 * http://practice.typekit.com/lesson/caring-about-opentype-features/
 */
.footnote {
    @mixin font-sub;
}





/**
 * Small caps
 */
.small-caps {
    @mixin font-small-caps;
}
