/* ------------------------------------ *\
    #BACKGROUNDS
\* ------------------------------------ */





/**
 * Background black
 */
:root {
    --background-black: var(--color-base;);
    --background-black-color: var(--color-white;);
}

.background--black {
    background-color: var(--background-black);
    color: var(--background-black-color);

    a {
        color: currentcolor;

        &:hover,
        &:focus,
        &:active {
            color: var(--link-hover-color);
        }

        &:visited {
            color: var(--link-visited-color);
        }
    }
}

/**
 * Background gray light
 */
:root {
    --background-gray-light: var(--color-gray-light;);
}

.background--gray-light {
    background-color: var(--background-gray-light);
}
