/* ------------------------------------ *\
    #BACKGROUNDS
\* ------------------------------------ */





/**
 * Background black
 */
:root {
    --background-black: var(--color-base;);
    --background-black-color: var(--color-white;);
}





.background--black {
    background-color: black;
    color: white;

    a {
        color: currentcolor;

        &:hover,
        &:focus,
        &:active {
            color: var(--link-hover-color);
        }

        &:visited {
            color: var(--link-visited-color);
        }
    }
}
