/* ------------------------------------ *\
    #TABLES
\* ------------------------------------ */


:root {
    --table-border-width: 1px;
    --table-border-style: solid;
    --table-border-color: var(--base-text-color);

    --table-padding: calc(var(--base-spacing-unit) / 4);
    --table-padding--cosy: calc(var(--base-spacing-unit) / 2);
    --table-padding--comfy: calc(var(--base-spacing-unit));

    --table-background-color: var(--color-gray-light);
}





/**
 * Table default layout
 *
 * 1. Allow the table to scroll horizontally
 * 2. Reset scroll horizontally for mobile
 */
.table {
    display: block; /* [1] */
    width: 100%;

    border-collapse: collapse;
    overflow-x: auto; /* [1] */

    thead,
    tfoot {
        background-color: var(--table-background-color);
    }

    th,
    td {
        border: var(--table-border-width)
                var(--table-border-style)
                var(--table-border-color);
        padding: var(--table-padding);
    }

    @media (--lap-and-up) {
        display: table; /* [2] */

        overflow-x: visible; /* [2] */
    }
}





/**
 * Add borders only to `table`’s rows.
 */
.table--borderless {

    &,
    th,
    td {
        border: 0 var(--table-border-style) var(--table-border-color);
    }

    thead,
    tfoot {
        background-color: transparent;
    }

}

.table--borderless {
    border-top-width: var(--table-border-width);

    th,
    td {
        border-bottom-width: var(--table-border-width);
    }
}
