/* ------------------------------------ *\
    #LAYOUT
\* ------------------------------------ */

:root {
    --layout-gutter: var(--base-spacing-unit--small);
}

/**
 * The layout is based on lost framework
 * https://github.com/corysimmons/lost
 */

@lost gutter 1rem;


/**
 * Layout
 */
.layout {
    lost-flex-container: row;
}

/* Set direction to column */
.layout--column {
    flex-direction: column;
}

@each $query in (--palm, --lap, --lap-and-up, --portable, --desk) {

    /* Set flex direction to column for `$(query)` viewport */
    @media ($(query)) {

        .layout$(query)--column {
            flex-direction: column;
        }

    }
}

@each $query in (--palm, --lap, --lap-and-up, --portable, --desk) {

    /* Set flex direction to row for `$(query)` viewport */
    @media ($(query)) {

        .layout$(query)--row {
            flex-direction: row;
        }

    }
}

/**
 * Layout items
 */
@for $flex-grow from 1 to 3 {

    /* Layout extensible diemension */
    .layout__item--flex-$(flex-grow) {
        flex: $flex-grow;
    }

}

/* Place the item first */
.layout__item--order-first {
    order: -1;
}

/**
 *  Items with fixed width
 */

@for $fraction from 1 to 12 {

    /* Item $(fraction)/12 width */
    .layout__item--$(fraction)-12 {
        lost-column: $fraction/12 flex;
    }

}

/**
 * Items with fixed width depending of the viewport
 */
@each $query in (--palm, --lap, --lap-and-up, --portable, --desk) {
    @media ($(query)) {
        @for $fraction from 1 to 12 {

            /* Item $(fraction)/12 width for $(query) viewport */
            .layout__item$(query)--$(fraction)-12 {
                lost-column: $fraction/12 flex;
            }

        }
    }
}

/**
 * Move items
 */
@for $fraction from 1 to 12 {

    .layout__item--move--$(fraction)-12 {
        lost-move: $fraction/12;
    }

    .layout__item--move---$(fraction)-12 {
        lost-move: -$fraction/12;
    }

}

@each $query in (--palm, --lap, --lap-and-up, --portable, --desk) {
    @media ($(query)) {
        @for $fraction from 1 to 12 {

            .layout__item$(query)--move--$(fraction)-12 {
                lost-move: $fraction/12;
            }

            .layout__item$(query)--move---$(fraction)-12 {
                lost-move: -$fraction/12;
            }

        }
    }
}
