/* ------------------------------------ *\
    #LAYOUT
\* ------------------------------------ */

:root {
    --layout-gutter: var(--base-spacing-unit--small);
}

/**
 * The layout is based on lost framework
 * https://github.com/corysimmons/lost
 */

@lost gutter 1rem;


/**
 * Layout
 */
.layout {
    lost-flex-container: row;
}

/* Set direction to column */
.layout--column {
    flex-direction: column;
}

@each $query in (--palm, --lap, --lap-and-up, --portable, --desk) {

    /* Set flex direction to column for `$(query)` viewport */
    @media ($(query)) {

        .layout$(query)--column {
            flex-direction: column;
        }

    }
}

@each $query in (--palm, --lap, --lap-and-up, --portable, --desk) {

    /* Set flex direction to row for `$(query)` viewport */
    @media ($(query)) {

        .layout$(query)--row {
            flex-direction: row;
        }

    }
}

/**
 * Layout items
 *
 * 1. Add gutter on the right of all elements
 * 2. Last element of the row hase no gutter on the right
 */
@for $flex-grow from 1 to 3 {

    /* Layout extensible diemension */
    .layout__item--flex-$(flex-grow) {
        flex: $flex-grow;

        &:nth-child(1n) {
            margin-right: var(--layout-gutter); /* [1] */
            margin-left: 0; /* [1] */
        }

        &:last-child {
            margin-right: 0; /* [2] */
        }
    }

}

/* Place the item first */
.layout__item--order-first {
    order: -1;
}

/**
 *  Items with fixed width
 */

.layout__item--1-1 {
    lost-column: 1/1 flex;
}

.layout__item--1-2 {
    lost-column: 1/2 flex;
}

.layout__item--1-3 {
    lost-column: 1/3 flex;
}

.layout__item--2-3 {
    lost-column: 2/3 flex;
}

.layout__item--1-4 {
    lost-column: 1/4 flex;
}

.layout__item--3-4 {
    lost-column: 3/4 flex;
}

.layout__item--1-6 {
    lost-column: 1/6 flex;
}

.layout__item--5-6 {
    lost-column: 5/6 flex;
}

.layout__item--1-12 {
    lost-column: 1/12 flex;
}

@each $query in (--palm, --lap, --lap-and-up, --portable, --desk) {
    @media ($(query)) {

        .layout__item$(query)--1-1 {
            lost-column: 1/1 flex;
        }

        .layout__item$(query)--1-2 {
            lost-column: 1/2 flex;
        }

        .layout__item$(query)--1-3 {
            lost-column: 1/3 flex;
        }

        .layout__item$(query)--2-3 {
            lost-column: 2/3 flex;
        }

        .layout__item$(query)--1-4 {
            lost-column: 1/4 flex;
        }

        .layout__item$(query)--3-4 {
            lost-column: 3/4 flex;
        }

        .layout__item$(query)--1-6 {
            lost-column: 1/6 flex;
        }

        .layout__item$(query)--5-6 {
            lost-column: 5/6 flex;
        }

        .layout__item$(query)--1-12 {
            lost-column: 1/12 flex;
        }

    }
}

/**
 * Move items
 */
@for $fraction from 1 to 12 {

    .layout__item--move--$(fraction)-12 {
        lost-move: $fraction/12;
    }

    .layout__item--move---$(fraction)-12 {
        lost-move: -$fraction/12;
    }

}

@each $query in (--palm, --lap, --lap-and-up, --portable, --desk) {
    @media ($(query)) {
        @for $fraction from 1 to 12 {

            .layout__item$(query)--move--$(fraction)-12 {
                lost-move: $fraction/12;
            }

            .layout__item$(query)--move---$(fraction)-12 {
                lost-move: -$fraction/12;
            }

        }
    }
}
