/* ------------------------------------ *\
    #BUTTONS
\* ------------------------------------ */

:root {
    --button-background: var(--color-primary-alt);
    --button-color: var(--color-base);

    --button-background-hover: var(--primary-alt-dark);
    --button-color-hover: var(--button-color);

    --button-background-active: var(--primary-alt-darkest);
    --button-color-active: var(--color-white);

    --button-padding: calc(var(--base-spacing-unit) / 2);
    --button-border-width: 1px;
    --button-border-style: none;
    --button-border-color: var(--color-base);
    --button-border-radius: calc(var(--base-spacing-unit) / 8);
}

/**
 * 1. Allow us to style box model properties.
 * 2. Make buttons inherit font styles (often necessary when styling `input`s
 *    as buttons).
 * 3. Reset/normalize some styles.
 * 4. Subtract the border size from the padding value so that buttons do not
 *    grow larger as we add borders.
 * 5. Line different sized buttons up a little nicer.
 * 6. Fixes odd inner spacing in IE7.
 * 7. Force all button-styled elements to appear clickable.
 * 8. Hover state color
 */
.button {
    display: inline-block; /* [1] */

    font: inherit; /* [2] */
    font-weight: 700;
    text-align: center; /* [3] */

    background-color: var(--button-background);
    border: var(--button-border-width)
        var(--button-border-style)
        var(--button-border-color);
    border-radius: var(--button-border-radius);
    margin: 0; /* [3] */
    padding: calc(var(--button-padding) - var(--button-border-width))
        calc(var(--button-padding) * 2 - var(--button-border-width)); /* [4] */
    vertical-align: middle; /* [5] */
    overflow: visible; /* [6] */
    cursor: pointer; /* [7] */

    &,
    &:hover,
    &.is-hover,
    &:active,
    &.is-active,
    &:focus
    &.is-focus {
        color: var(--button-color);
        text-decoration: none; /* [3] */
    }

    &:hover,
    &.is-hover {
        color: var(--button-color-hover);

        background-color: var(--button-background-hover); /* [8] */
    }

    &:active,
    &.is-active {
        color: var(--button-color-active);

        background-color: var(--button-background-active); /* [8] */
    }

    &:focus,
    &.is-focus {
        box-shadow: 0 0 3px var(--color-focus), 0 0 7px var(--color-focus);
    }

}





/**
 * Fix a Firefox bug whereby `input type="submit"` gains 2px extra padding.
 */
.button::-moz-focus-inner {
    border: 0;
    padding: 0;
}





/**
 * Use fonts only when loaded
 */
.wf-active .button {
    font-family: var(--enhance-heading-font-family);
}





/**
 * State buttons
 *
 * Color variations
 */

@define-mixin button $modifier,
    $text-color,
    $background-color,
    $text-color-hover,
    $background-color-hover,
    $text-color-active,
    $backgroundcolor-active {

    .button--$(modifier) {
        color: $text-color;

        background-color: $background-color;

        &:hover,
        &.is-hover {
            color: $text-color-hover;

            background-color: $background-color-hover;
        }

        &:active,
        &.is-active {
            color: $text-color-active;

            background-color: $backgroundcolor-active;
        }
    }
}


/* Button secondary */
:root {
    --button-text-color-secondary: var(--button-color);
    --button-background-color-secondary: var(--color-secondary);
    --button-text-color-secondary-hover: var(--button-color);
    --button-background-color-secondary-hover: var(--color-secondary-dark);
    --button-text-color-secondary-active: var(--color-white);
    --button-background-color-secondary-active: var(--color-secondary-darkest);
}

@mixin button secondary,
    var(--color-white),
    var(--button-background-color-secondary),
    var(--button-text-color-secondary-hover),
    var(--button-background-color-secondary-hover),
    var(--button-text-color-secondary-active),
    var(--button-background-color-secondary-active);



/* Button transparent */
:root {
    --button-text-color-transparent: inherit;
    --button-background-color-transparent: inherit;
    --button-text-color-transparent-hover: inherit;
    --button-background-color-transparent-hover: inherit;
    --button-text-color-transparent-active: inherit;
    --button-background-color-transparent-active: inherit;
}

@mixin button transparent,
    inherit,
    var(--button-background-color-transparent),
    var(--button-text-color-transparent-hover),
    var(--button-background-color-transparent-hover),
    var(--button-text-color-transparent-active),
    var(--button-background-color-transparent-active);



/**
 * Size of buttons
 *
 * Size variation
 */

.button--block {
    display: block;
    width: 100%;
}
