/* ------------------------------------ *\
    #DEFAULTS
\* ------------------------------------ */

/* High-level base settings. */
:root {
    --base-font-size: 1.125rem;
    --base-line-height: 1.5;
}

/*
 * These variables are framework variables, sourced from variables defined
 * above. Feel free to use these variables throughout your project, but do not
 * modify or reassign them.
 */
:root {
    --base-spacing-unit: calc(var(--base-line-height) * var(--base-font-size));
    --base-spacing-unit--tiny: calc(var(--base-spacing-unit) / 4);
    --base-spacing-unit--small: calc(var(--base-spacing-unit) / 2);
    --base-spacing-unit--large: calc(var(--base-spacing-unit) * 2);
    --base-spacing-unit--huge: calc(var(--base-spacing-unit) * 4);
}
