/* ------------------------------------ *\
    #SPACING
\* ------------------------------------ */

/**
 * Gutter helper classes for layout. Use these to tweak layout on a micro
 * level. It can be usefull if the layout items use more than 100% of the
 * width and wrap on the following line
 */
:root {
    --layout-trumps-gutter: var(--layout-gutter);
}





/**
 * Gutter helper classes.
 *
 * Add gutter.
 */
@media (--lap-and-up) {

    .u-gr--lap-and-up {
        margin-right: var(--layout-trumps-gutter) !important;
    }

    .u-gl--lap-and-up {
        margin-left: var(--layout-trumps-gutter) !important;
    }

}




/**
 * Remove gutter
 */
@media (--lap-and-up) {

    .u-gr0--lap-and-up {
        margin-right: 0 !important;
    }

    .u-gl0--lap-and-up {
        margin-left: 0 !important;
    }

}
