/* ------------------------------------ *\
//    #UTILITIES
\* ------------------------------------ */

/**
 * Visually hide content.
 *
 * Use it when you want to hide something but keep it available to screen
 * readers and assistive technology. It will not use up space in the document
 * flow.
 */
.visually-hidden {
    display: hidden;
}





/**
 * Hide content
 *
 * Use disappear when you want to remove something completely from the page.
 * This includes hiding the item screen readers and assistive technology. It
 * will do this with `display: none !important;`.
 */
.hidden {
    display: disappear;
}
