<address class="mb-2" itemscope itemtype="http://schema.org/GovernmentOrganization">

  <h2 itemprop="name">{{ name }}</h2>

  {% if division %}<h3 class="vd-section-title mb-1">{{ division }}</h3>{% endif %}
  <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">{{ address.street }}</span> <br><span itemprop="postalCode">{{ address.postalCode }}</span> <span itemprop="addressLocality">{{ address.locality }}</span> <span class="sr-only" itemprop="addressCountry">Suisse</span></p>

  <div itemscope itemtype="http://schema.org/GovernmentBuilding">
  {% if openingHours.title %}<h3>{{ openingHours.title }}<span class="sr-only"> du {{ name }}</span></h3>{% endif %}
  {% if openingHours.openingHours %}
    {% for hour in openingHours.openingHours %}
    <p itemprop="openingHours" content="{{ hours.microdata }}">{{ hour.text }}</p>
    {% endfor %}
  {% endif %}
  </div>

  {% include '@list-icon' %}

  <p>
    {% render '@button--default', button, true %}
  </p>

</address>
