<address itemscope itemtype="http://schema.org/GovernmentOrganization">

  <h2 itemprop="name"
    {%- if titleModifier %} class="{{ titleModifier }}"{% endif %}>
    {%- if url %}
        <a href="{{ url }}" title="Pages du service {{ name }}" itemprop="url">
    {%- endif %}
    {%- if accessibleName %}
      <span class="sr-only">{{ accessibleName }}</span>{% endif -%}
      {{ name }}
    {%- if url -%}
      </a>
    {%- endif %}
  </h2>

  {% if division -%}
  <h3 class="vd-heading-light h4 mt-0">{{ division }}</h3>
  {%- endif %}

  {% if description %}<p>{{ description }}</p>{% endif %}

  {% if address -%}
  <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">{{ address.streetAddress }}</span> <br>
    <span itemprop="postalCode">{{ address.postalCode }}</span>
    <span itemprop="addressLocality">{{ address.addressLocality }}</span>
    <span class="sr-only" itemprop="addressCountry">{{ address.addressCountry }}</span>
  </p>
  {%- endif %}

  <p>
    {% if telephone -%}
      <a href="tel:{{ telephone }}"
         content="{{ telephone }}"
         itemprop="telephone">{{ telephone }}</a><br>
    {%- endif %}
    {% if email -%}
      <a href="mailto:{{ email }}"
        itemprop="email">{{ email }}</a><br>
    {%- endif %}
    {% if address %}
      <a href="https://www.google.ch/maps/search/
      {%- for item, value in address -%}
        {{ value  | urlencode }}%20
      {%- endfor -%}
        ">Visualiser sur la carte</a><br>
    {% endif %}
    {% if additionalUrl %}
      {% for item in additionalUrl %}
        <a href="{{ item.url }}">{{ item.text }}</a>
      {% endfor %}
    {% endif %}
  </p>

  <div itemscope itemtype="http://schema.org/GovernmentBuilding">
  {% if openingHours.title %}<h3>{{ openingHours.title }}<span class="sr-only"> du {{ name }}</span></h3>{% endif %}
  {% if openingHours.openingHours %}
    {% for hour in openingHours.openingHours %}
    <p itemprop="openingHours" content="{{ hours.microdata }}">{{ hour.text }}</p>
    {% endfor %}
  {% endif %}
  </div>

</address>
