{{> @header--securise }}

<main id="main">

  {{> @page-title-banner--form-presta }}

  <div class="container mt-3">

    <h2>{{ stepTitle }}</h2>

    {{#unless confirmation}}
    <p aria-hidden="true">Les champs obligatoires sont suivis par <strong><abbr title="required">*</abbr></strong>.</p>

    <form>

      <div class="form-group">
        <label for="testInput">Nom</label> <strong><abbr title="required" aria-hidden="true">*</abbr></strong>
        <input class="form-control" type="text" id="testInput" name="firstname" value="" required aria-required="true">
      </div>

      <div class="form-group">
        <label for="testInput">Prénom</label> <strong><abbr title="required" aria-hidden="true">*</abbr></strong>
        <input class="form-control" type="text" id="testInput" name="firstname" value="" required aria-required="true">
      </div>

      {{> @dates}}

      <div class="form-group">
        <label for="etablissement">Etablissment</label>
        <input type="text" class="form-control" id="etablissement" aria-describedby="emailHelp">
      </div>

      <div class="form-group">
        <label for="fonction">Fonction</label>
        <input type="text" class="form-control" id="fonction" aria-describedby="emailHelp">
      </div>

      <div class="form-group">
        <label for="exampleSelect1">Catégorie</label>
        <select class="form-control" id="exampleSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
      </div>
      <div class="form-group">
        <label for="adresse">Adresse (requis)</label>
        <input type="text" class="form-control" id="adresse" aria-describedby="emailHelp" required="1">
      </div>
      <div class="form-group">
        <label for="email">Email (requis)</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required="1">
        <small id="emailHelp" class="form-text text-muted">Si vous ne renseignez pas votre email, vous ne recevrez pas d'accusé de récéption</small>
      </div>
      <div class="form-group">
        <label for="pays">Pays</label>
        <input type="pays" class="form-control" id="email" aria-describedby="emailHelp">
      </div>

      <fieldset>
        <legend>Radio</legend>
        {{> @radio}}
      </fieldset>

      <fieldset>
        <legend>Checkbox</legend>
        {{> @checkbox}}
      </fieldset>

      {{> @textarea}}

      {{#if button}}{{render '@button--form' button merge=true}}{{/if}}

      {{render '@pagination' pagination merge=true}}
    </form>
    {{/unless}}

    {{#if confirmation}}
    {{> @alert}}

    <p>Nous vous avons envoyé un mail de confirmation.</p>
    <ul>
      <li>Le demandeur ne peut requérir la délivrance d'un extrai que pour lui-même, merci de signer le document envoyé</li>
      <li>Une fois la confirmation reçue en retour, vous pourrez imprimer, remplir, signer, et envoyer le formulaire avec une photo ayant été prise dans les derniers 6 mois.</li>
    </ul>

    {{render '@button--default' buttonBack merge=true}}
    {{/if}}

  </div>

</main>
{{> @footer--securise }}
