@charset 'UTF-8';

.vd-search-form {
  display: flex;
  border-top: 4px solid $black;
  border-bottom: 4px solid $black;
  margin-bottom: $spacer;

  .form-control {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-color: transparent;
    transition:
      padding 0.11s ease-in,
      border 0.11s;

    &:focus {
      padding-left: $input-btn-padding-y;
      border: 2px solid $vd-focus;
      box-shadow: none;
    }
  }

  .input-group-btn {
    width: auto;
  }

  .input-group-btn > .btn {
    padding: 0.359rem 0.8rem;
    background: $vd-primary-dark;

    &,
    .svg-inline--fa {
      color: $white;
    }

    @include hover {
      background: darken($vd-primary, 10%);
    }
  }

  ::placeholder {
    font-style: italic;
  }

  @media print {
    display: none;
  }
}

/**
 * regular search form
 *
 * 1. fix padding problem with padding group button http://d.pr/i/ObEPO8
 *    see also CCWEB-9943
 */
.vd-search-form-regular {
  ::placeholder {
    font-style: italic;
  }

  .btn {
    background: $vd-primary-dark;
    border-color: $vd-primary-dark;
    color: $white;

    &,
    .svg-inline--fa {
      color: $white;
    }

    @include hover {
      background: darken($vd-primary, 10%);
      border-color: darken($vd-primary, 10%);
    }
  }

  .input-group-btn > .btn {
    height: 2.375rem;
  }

  @media print {
    display: none;
  }
}
