@charset 'UTF-8';

.btn {
  white-space: normal;
  padding-top: $btn-padding-y * 1.1;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;

  &[data-toggle="collapse"] {
    @extend .vd-btn-chevron-b;

    &[aria-expanded="true"] {
      @extend .vd-btn-cross;
    }
  }

  // Specific hover effects
  &.btn-primary:not([class*="chevron"]):not([data-toggle="collapse"]) {
    @extend .hover-sweep-to-right;
    &:hover { background: $btn-primary-bg; }
    &:before { background: darken($btn-primary-bg, 10%); }
  }

  &.btn-secondary:not([class*="chevron"]):not([data-toggle="collapse"]) {
    @extend .hover-sweep-to-right;
    &:hover { background: $btn-secondary-bg; }
    &:before { background: darken($btn-secondary-bg, 10%); }
  }

  &.btn-success:not([class*="chevron"]):not([data-toggle="collapse"]) {
    @extend .hover-sweep-to-right;
    &:hover { background: $btn-success-bg; }
    &:before { background: darken($btn-success-bg, 5%); }
  }
}

a.btn {
  text-decoration: none;
}

.btn-sm {
  padding-top: $btn-padding-y-sm * 2;
  font-size: $font-size-base * 0.8;
}

.btn-block {
  display: flex;
  justify-content: center;

  .fa {
    align-self: center;
    padding-left: $spacer;
  }
}

// Buttons with icons
//
// Prefixed with vd-, add the class to button to add a chevron icon
.vd-btn-chevron-t,
.vd-btn-chevron-r,
.vd-btn-chevron-b {
  position: relative;
  padding-right: $spacer * 1.5;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: $spacer * 1.5;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    pointer-events: none;
    user-select: none;
  }
}

.vd-btn-chevron-t {
  @extend .hover-icon-float;

  &.btn-secondary:before,
  &.btn-success:before { @include vd-background-image-icon($vd-chevron-top, $white); }
  &:before { @include vd-background-image-icon($vd-chevron-bottom, $vd-green); }
}

.vd-btn-chevron-r {
  @extend .hover-icon-forward;

  &.btn-secondary:before,
  &.btn-success:before { @include vd-background-image-icon($vd-chevron-right, $white); }
  &:before { @include vd-background-image-icon($vd-chevron-right, $vd-green); }
}

.vd-btn-chevron-b {
  @extend .hover-icon-sink;

  &.btn-secondary:before,
  &.btn-success:before { @include vd-background-image-icon($vd-chevron-bottom, $white); }
  &:before { @include vd-background-image-icon($vd-chevron-bottom, $vd-green); }
}

.vd-btn-chevron-l {
  @extend .hover-icon-back;

  position: relative;
  padding-left: $spacer * 1.5;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: $spacer * 1.5;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    pointer-events: none;
    user-select: none;

    @include vd-background-image-icon($vd-chevron-left, $vd-green);
  }

  &.btn-secondary:before,
  &.btn-success:before {
    @include vd-background-image-icon($vd-chevron-left, $white);
  }
}

/**
 * Adds a cross icon inside the button
 */
.vd-btn-cross {
  &.btn-secondary:before,
  &.btn-secondary:before,
  &.btn-success:before { @include vd-background-image-icon($vd-cross, $white); }
  &:before { @include vd-background-image-icon($vd-cross, $vd-green); }
}
