@charset 'UTF-8';

h1,
.h1 {
  font-weight: 700;
}

.vd-section-title {
  margin-bottom: $spacer * 2;
  font-family: $font-family-base;
  font-size: $font-size-base * 1.1;
  font-weight: 400;
  color: $body-color;
  text-transform: uppercase;
}

.vd-icon-title {
  .fa {
    margin-right: 1em;
  }
}
