@charset 'UTF-8';

.vd-highlight {
  padding: ($spacer * 2) 0;
  background: $brand-inverse;
  color: $white;

  /* stylelint-disable selector-list-comma-newline-after */
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-weight: 300;
    color: $vd-green-lighter;
  }
  /* stylelint-enable */
}
