@charset 'UTF-8';

ul {
  list-style-type: circle;

  li {
    margin-bottom: $spacer-y;
  }
}

// square bullet list
.vd-list-links {
  padding-left: $spacer;
  list-style-type: square;
  color: $black;
  font-size: $font-size-base * 0.9;

  li {
    margin-bottom: 0;
  }

  a {
    font-weight: 600;
    text-decoration: none;
  }
}
