@charset 'UTF-8';

.search-form {
  border-top: 4px solid $black;
  border-bottom: 4px solid $black;

  .form-control {
    padding-left: 0;
    font-style: italic;
    border: 0;
    outline: 0;
  }

  .btn {
    background: $vd-green;
    color: $white;

    &:hover {
      background: darken($vd-green, 10%);
    }
  }
}
