@charset 'UTF-8';

hr {
  @include media-breakpoint-up(md) {
    max-width: 350px; // this is pretty much a col-4 on a large viewport–
  }
}

.vd-separator {
  height: 4px;
  background-repeat: repeat-x;
  border: none;
}

.vd-separator-gray-bars {
  height: 5px;
  background-image: url('../svg/bars_gray.svg');
}

.vd-hr-black { border-color: $black; }
.vd-separator-wide { max-width: none; }
.vd-separator-green-pattern { background-image: url('../svg/pattern_squares_green.svg'); }
.vd-separator-gray-pattern { background-image: url('../svg/pattern_squares_gray.svg'); }
