{{> global.header}}

{{> page-title title='Site officiel du Canton de Vaud'}}

<div class="vd-container vd-background vd-background--gray-light">
    <h2>Accès direct</h2>
    <ul class="vd-font-heading vd-list-bare">
        <li><a href="#">Offres d'emploi</a></li>
        <li><a href="#">Signalement mineur en danger</a></li>
        <li><a href="#">Formulaire automobile</a></li>
        <li><a href="#">VaudTax 2015</a></li>
        <li><a href="#" class="vd-button vd-button--block">VaudTax 2015</a></li>
    </ul>
</div>

{{> last-news}}

<div class="vd-container">
    <h2 class="vd-visually-hidden">Autres actualit&eaxute;s</h2>
    <ul class="vd-list-bare">
        <li><a href="#" class="vd-button vd-button--block">Toutes les actualit&eacute;s</a></li>
        <li><a href="#" class="vd-button vd-button--secondary vd-button--block">Communiqu&eacute;s de presse</a></li>
        <li><a href="#" class="vd-button vd-button--secondary vd-button--block">D&eacute;cisions du Conseil d'&Eacute;tat</a></li>
    </ul>
</div>

<div class="vd-container">
    <h2>Autorités</h2>
    <ul class="vd-font-heading vd-list-bare">
        <li><a href="#" class="vd-gamma">Grand conseil</a></li>
        <li><a href="#" class="vd-gamma">Conseil d'&Eacute;tat</a></li>
        <li><a href="#" class="vd-gamma">Ordre judiciaire</a></li>
        <li><a href="#" class="vd-gamma">Organigramme</a></li>
        <li><a href="#" class="vd-button vd-button--block">Toutes les autorit&eacute;s</a></li>
    </ul>
</div>

{{> global.footer}}
