{{> global.header}}

{{> page-title title='Site officiel du Canton de Vaud'}}

<div class="vd-container vd-c-background vd-c-background--gray-light">
    <h2 class="vd-u-h4">Accès direct</h2>
    <ul class="vd-u-font-heading vd-o-list-bare">
        <li><a href="#" class="vd-u-h3">Offres d'emploi</a></li>
        <li><a href="#" class="vd-u-h3">Signalement mineur en danger</a></li>
        <li><a href="#" class="vd-u-h3">Formulaire automobile</a></li>
        <li><a href="#" class="vd-u-h3">VaudTax 2015</a></li>
        <li><a href="#" class="vd-u-h3 vd-c-button vd-c-button--block">Tous les th&egrave;mes</a></li>
    </ul>
</div>

{{> last-news last-news-modifier='vd-c-background vd-c-background--gray-lighter'}}

<div class="vd-container">
    <h2>Autorités</h2>
    <ul class="vd-u-font-heading vd-o-list-bare">
        <li><a href="#" class="vd-u-h3">Grand conseil</a></li>
        <li><a href="#" class="vd-u-h3">Conseil d'&Eacute;tat</a></li>
        <li><a href="#" class="vd-u-h3">Ordre judiciaire</a></li>
        <li><a href="#" class="vd-u-h3">Organigramme</a></li>
        <li><a href="#" class="vd-c-button vd-c-button--block">Toutes les autorit&eacute;s</a></li>
    </ul>
</div>

{{> global.footer}}
