{{> global.header}}

{{> page-title title='Site officiel du Canton de Vaud'}}

<div class="vd-container vd-c-background vd-c-background--gray-light">
    <h2 class="vd-delta">Accès direct</h2>
    <ul class="vd-font-heading vd-o-list-bare">
        <li><a href="#" class="vd-gamma">Offres d'emploi</a></li>
        <li><a href="#" class="vd-gamma">Signalement mineur en danger</a></li>
        <li><a href="#" class="vd-gamma">Formulaire automobile</a></li>
        <li><a href="#" class="vd-gamma">VaudTax 2015</a></li>
        <li><a href="#" class="vd-gamma vd-button vd-button--block">Tous les th&egrave;mes</a></li>
    </ul>
</div>

{{> last-news last-news-modifier='vd-c-background vd-c-background--gray-lighter'}}

<div class="vd-container">
    <h2>Autorités</h2>
    <ul class="vd-font-heading vd-o-list-bare">
        <li><a href="#" class="vd-gamma">Grand conseil</a></li>
        <li><a href="#" class="vd-gamma">Conseil d'&Eacute;tat</a></li>
        <li><a href="#" class="vd-gamma">Ordre judiciaire</a></li>
        <li><a href="#" class="vd-gamma">Organigramme</a></li>
        <li><a href="#" class="vd-button vd-button--block">Toutes les autorit&eacute;s</a></li>
    </ul>
</div>

{{> global.footer}}
