---
pagetitle: "Demander une dérogation de feu en plein air"
---

<style>
    /**
     * Meta Sans
     */
    .font-choice-1::before {
        content: "FF Meta Condensed (Headlines) & Meta Sans (Body text)";
        font-family: "myriad-pro-semi-condensed",sans-serif;
        font-style: normal;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.25);
        display: block;
        height: 5rem;
    }
</style>

<div class="container">
    <h2>Accès à cette page:</h2>
    <ul>
        <li>Lien court: <a href="http://bit.ly/1Pdojaa">http://bit.ly/1Pdojaa</a></li>
        <li><a href="http://chart.apis.google.com/chart?chs=200x200&cht=qr&chld=|1&chl=http%3A%2F%2Fbit.ly%2F1Pdojaa">QR Code</a></li>
    </ul>
</div>

<div class="layout">

<div class="font-choice-1 layout__item--lap-and-up--1-3">
<div class="container">
    <h1>
        <img src="../assets/toolkit/images/FF-Meta-Bold - demander.png" alt="" /><!--
     --><img src="../assets/toolkit/images/FF-Meta-Bold - une.png" alt="" /><!--
     --><img src="../assets/toolkit/images/FF-Meta-Bold - derogation.png" alt="" /><!--
     --><img src="../assets/toolkit/images/FF-Meta-Bold - de.png" alt="" /><!--
     --><img src="../assets/toolkit/images/FF-Meta-Bold - feu.png" alt="" /><!--
     --><img src="../assets/toolkit/images/FF-Meta-Bold - en.png" alt="" /><!--
     --><img src="../assets/toolkit/images/FF-Meta-Bold - plein.png" alt="" /><!--
     --><img src="../assets/toolkit/images/FF-Meta-Bold - air.png" alt="" />
    </h1>
</div>

<div class="container">
    <p class="lead">
        L'incinération en plein air est interdite.
        <br /> Des exceptions peuvent toutefois justifier l'incinération de déchets naturels en plein air.
    </p>
</div>

<div class="container">
    <p>Une dérogation peut être accordée dans les cas suivants:</p>
    <ul>
        <li>Risque sanitaire ou naturel si l'évacuation le broyage ou le dechiquetage sont impossible</li>
        <li>Traditions et manifestations publique</li>
        <li>Travaux d'entretiens d'entretien de parcelles forestières en lisière ou aux abords de terrain agricole</li>
    </ul>
    <p>Une dérogation n'est pas nécéssaire pour les cas suivants:</p>
    <ul>
        <li>L'insinération de résidus de coupe d'entretien des paturages</li>
        <li>Les feux de joie du 1er août</li>
        <li>Incinération de petite quantités de déchêts de jardin</li>
    </ul>
</div>
<div class="container">
    <p><img src="../assets/toolkit/images/FF-Meta-Web-Pro-Book - button.png" alt="" /></p>
</div>

<div class="container">
    <p>Il est possible de demander une dérogation par téléphone ou courriel en contactant le <a href=""><abbr>DGE-ARC</abbr></a> ou <a href="">le garde forestier de votre commune</a></p>
</div>

<div class="container">
    <h2>
        <img src="../assets/toolkit/images/FF-Meta-Bold - h2 - marche.png" alt="" /><!--
     --><img src="../assets/toolkit/images/FF-Meta-Bold - h2 - a.png" alt="" /><!--
     --><img src="../assets/toolkit/images/FF-Meta-Bold - h2 - suivre.png" alt="" />
    </h2>
    <p>Les informations nécéssaires à l'établissement d'une dérogation sont les suivants:</p>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
    </ul>
</div>

<div class="container">
    <h2><img src="../assets/toolkit/images/FF-Meta-Bold - h2 - competences.png" alt="" /></h2>
    <ul>
        <li>Dans le cas des forêt: Les gardes forestiers sous la résposabilité de l'inspecteur des fôrets.</li>
        <li>Pour tout autres cas: <abbr title="Nom du service">DGE-ARC</abbr></li>
    </ul>
</div>

<div class="container">
    <h2><img src="../assets/toolkit/images/FF-Meta-Bold - h2 - bases legales.png" alt="" /></h2>
    <ul>
        <li>
            <a href="">Directive pour l'incinération de déchêts en plein air</a>
        </li>
    </ul>
</div>

<hr>
</div><!-- /.font-choice-1.layout__item--lap-and-up--1-3 -->

<style>
    /**
     * Museo & Calluna
     */
    .font-choice-2::before {
        content: "Museo Sans Condensed (Headlines) & Calluna (Body text)";
        font-family: "myriad-pro-semi-condensed",sans-serif;
        font-style: normal;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.25);
        display: block;
        height: 5rem;
    }
    html.wf-active .font-choice-2,
    html.wf-active .font-choice-2 .small {
        font-family: "calluna",serif;
        font-style: normal;
        font-weight: 400;
    }
    .wf-active .font-choice-2 h1,
    .wf-active .font-choice-2 h2,
    .wf-active .font-choice-2 h3,
    .wf-active .font-choice-2 h4,
    .wf-active .font-choice-2 h5 {
        font-family: "museo-sans-condensed",sans-serif;
        font-style: normal;
        font-weight: 700;
    }
    .wf-active .font-choice-2 h6 {
        font-family: "museo-sans-condensed",sans-serif;
        font-style: normal;
        font-weight: 400;
    }
    .wf-active .font-choice-2 .btn {
        font-family: "museo-sans-condensed",sans-serif;
        font-style: normal;
        font-weight: 400;
    }
</style>

<div class="font-choice-2 layout__item--lap-and-up--1-3">

<div class="container">
    <h1>{{pagetitle}}</h1>
</div>

<div class="container">
    <p class="lead">
        L'incinération en plein air est interdite.
        <br /> Des exceptions peuvent toutefois justifier l'incinération de déchets naturels en plein air.
    </p>
</div>

<div class="container">
    <p>Une dérogation peut être accordée dans les cas suivants:</p>
    <ul>
        <li>Risque sanitaire ou naturel si l'évacuation le broyage ou le dechiquetage sont impossible</li>
        <li>Traditions et manifestations publique</li>
        <li>Travaux d'entretiens d'entretien de parcelles forestières en lisière ou aux abords de terrain agricole</li>
    </ul>
    <p>Une dérogation n'est pas nécéssaire pour les cas suivants:</p>
    <ul>
        <li>L'insinération de résidus de coupe d'entretien des paturages</li>
        <li>Les feux de joie du 1er août</li>
        <li>Incinération de petite quantités de déchêts de jardin</li>
    </ul>
</div>

<div class="container">
    <p>
        <a href="" class="btn" title="Télécharger le formulaire de demande de dérogation">Télécharger le formulaire</a>
    </p>
</div>

<div class="container">
    <p>Il est possible de demander une dérogation par téléphone ou courriel en contactant le <a href=""><abbr>DGE-ARC</abbr></a> ou <a href="">le garde forestier de votre commune</a></p>
</div>

<div class="container">
    <h2>Marche à suivre</h2>
    <p>Les informations nécéssaires à l'établissement d'une dérogation sont les suivants:</p>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
    </ul>
</div>

<div class="container">
    <h2>Compétences</h2>
    <ul>
        <li>Dans le cas des forêt: Les gardes forestiers sous la résposabilité de l'inspecteur des fôrets.</li>
        <li>Pour tout autres cas: <abbr title="Nom du service">DGE-ARC</abbr></li>
    </ul>
</div>

<div class="container">
    <h2>Bases légales</h2>
    <ul>
        <li>
            <a href="">Directive pour l'incinération de déchêts en plein air</a>
        </li>
    </ul>
</div>
</div><!-- /.font-choice-2 -->

<hr>

<style>
    /**
     * Verdana
     */
    .font-choice-3::before {
        content: "Verdana (Police actuelle)";
        font-family: "myriad-pro-semi-condensed",sans-serif;
        font-style: normal;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.25);
        display: block;
        height: 5rem;
    }
    html.wf-active .font-choice-3,
    html.wf-active .font-choice-3 .small {
        font-family: Verdana, Helvetica, Arial, Geneva, sans-serif;
        font-style: normal;
        font-weight: 400;
    }
    .wf-active .font-choice-3 h1,
    .wf-active .font-choice-3 h2,
    .wf-active .font-choice-3 h3,
    .wf-active .font-choice-3 h4,
    .wf-active .font-choice-3 h5 {
        font-family: Verdana, Helvetica, Arial, Geneva, sans-serif;
        font-style: normal;
        font-weight: 700;
    }
    .wf-active .font-choice-3 h6 {
        font-family: Verdana, Helvetica, Arial, Geneva, sans-serif;
        font-style: normal;
        font-weight: 400;
    }
    .wf-active .font-choice-3 .btn {
        font-family: Verdana, Helvetica, Arial, Geneva, sans-serif;
        font-style: normal;
        font-weight: 400;
    }
</style>

<div class="font-choice-3 layout__item--lap-and-up--1-3">

<div class="container">
    <h1>{{pagetitle}}</h1>
</div>

<div class="container">
    <p class="lead">
        L'incinération en plein air est interdite.
        <br /> Des exceptions peuvent toutefois justifier l'incinération de déchets naturels en plein air.
    </p>
</div>

<div class="container">
    <p>Une dérogation peut être accordée dans les cas suivants:</p>
    <ul>
        <li>Risque sanitaire ou naturel si l'évacuation le broyage ou le dechiquetage sont impossible</li>
        <li>Traditions et manifestations publique</li>
        <li>Travaux d'entretiens d'entretien de parcelles forestières en lisière ou aux abords de terrain agricole</li>
    </ul>
    <p>Une dérogation n'est pas nécéssaire pour les cas suivants:</p>
    <ul>
        <li>L'insinération de résidus de coupe d'entretien des paturages</li>
        <li>Les feux de joie du 1er août</li>
        <li>Incinération de petite quantités de déchêts de jardin</li>
    </ul>
</div>

<div class="container">
    <p>
        <a href="" class="btn" title="Télécharger le formulaire de demande de dérogation">Télécharger le formulaire</a>
    </p>
</div>

<div class="container">
    <p>Il est possible de demander une dérogation par téléphone ou courriel en contactant le <a href=""><abbr>DGE-ARC</abbr></a> ou <a href="">le garde forestier de votre commune</a></p>
</div>

<div class="container">
    <h2>Marche à suivre</h2>
    <p>Les informations nécéssaires à l'établissement d'une dérogation sont les suivants:</p>
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
        <li>Vestibulum auctor dapibus neque.</li>
    </ul>
</div>

<div class="container">
    <h2>Compétences</h2>
    <ul>
        <li>Dans le cas des forêt: Les gardes forestiers sous la résposabilité de l'inspecteur des fôrets.</li>
        <li>Pour tout autres cas: <abbr title="Nom du service">DGE-ARC</abbr></li>
    </ul>
</div>

<div class="container">
    <h2>Bases légales</h2>
    <ul>
        <li>
            <a href="">Directive pour l'incinération de déchêts en plein air</a>
        </li>
    </ul>
</div>
</div><!-- /.font-choice-2 -->
</div><!-- /.layout -->
