<form class="input-group vd-search-form{% if styleModifier %} {{ styleModifier }}{% endif %}" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">
  {%- if label -%}
    {{ label }}
  {%- else -%}
    Champ de recherche
  {%- endif -%}
  </label>
  <input id="search-form"
         type="text"
         class="form-control"
         {%- if placeholder %} placeholder="{{ placeholder }}" {% endif -%}
         {%- if pattern %} pattern="{{ pattern }}" {% endif -%}
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>
