<h3{% if titleModifier %} class="{{ titleModifier }}"{% endif %}>{{ title }}</h3>

<form class="input-group vd-search-form-regular" action="#">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form" type="text" class="form-control" {% if  placeholder %}placeholder="{{ placeholder }}"{% endif %} aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
  </span>
</form>
