<nav aria-label="fil d'Ariane">
  <ol class="breadcrumb">
    {{#each items}}
    <li class="breadcrumb-item"><a href="{{ url }}">{{ page }}</a></li>
    {{/each}}
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>
