<article{{#if styleModifier}} class="{{ styleModifier }}"{{/if}}>
  <header>
    <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    <h3>Lorem ipsum dolor sit amet. (titre)</h3>
  </header>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, expedita hic magnam sequi dolorum, quas repellendus ad, voluptatum sed fugiat aspernatur. Et, magni explicabo nesciunt.</p>
  <p class="small font-weight-bold">Publié le 1 juillet 2016 (date de publication)</p>
  <a class="vd-link-invisible" href=“#”><span class="sr-only">Read more about Lorem ipsum dolor sit amet</span></a>
</article>
