<article class="vd-teaser-small{{#if styleModifier}} {{ styleModifier }}{{/if}}">
  <h3><a class="vd-link-invisible" href=“#”>Title here</a></h3>
  {{> @numbered-title }}
  <figure class="vd-teaser-small-img">
    {{> @image-responsive }}
  </figure>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</article>
