<article class="vd-teaser-small{{#if styleModifier}} {{ styleModifier }}{{/if}}">
  <h3>Title here</h3>
  {{> @numbered-title }}
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <a class="vd-link-invisible" href=“#”><span class="sr-only">Read more about Lorem ipsum dolor sit amet</span></a>
</article>
