<div class="vd-teaser-list-striped">
  {{> @teaser-small--alt styleModifier='vd-teaser-list-striped-item px-1 pt-1'}}
  {{> @teaser-small--alt styleModifier='vd-teaser-list-striped-item px-1 pt-1'}}
  {{> @teaser-small--alt styleModifier='vd-teaser-list-striped-item px-1 pt-1'}}
  {{> @teaser-small--alt styleModifier='vd-teaser-list-striped-item px-1 pt-1'}}
  {{> @teaser-small--alt styleModifier='vd-teaser-list-striped-item px-1 pt-1'}}
  {{> @teaser-small--alt styleModifier='vd-teaser-list-striped-item px-1 pt-1'}}
  {{> @teaser-small--alt styleModifier='vd-teaser-list-striped-item px-1 pt-1'}}
  {{> @teaser-small--alt styleModifier='vd-teaser-list-striped-item px-1 pt-1'}}
  {{> @teaser-small--alt styleModifier='vd-teaser-list-striped-item px-1 pt-1'}}
  {{> @teaser-small--alt styleModifier='vd-teaser-list-striped-item px-1 pt-1'}}
</div>
{{> @pagination }}
