<nav>
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="nav hidden-sm-down small">
    <li class="nav-item"><a class="nav-link active" href="../autorites"><span class="sr-only">page active: </span>Autorités</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Annuaire</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Agenda</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
    <li class="nav-item"><span class="fa fa-lock" aria-hidden="true"></span> <a class="nav-link" href="../connexion">Mon compte</a></li>
  </ul>
</nav>
