<div class="media-lists">
  {{> @figure--default }}
  <figure class="figure">
          <img class="figure-img img-fluid" src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" alt="figure">
      <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
  </figure>
  <figure class="figure">
          <img class="figure-img img-fluid" src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" alt="figure">
      <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
  </figure>
</div>
