<div class="media-lists">
  {{> @figure--default }}
  {{> @figure--default }}
  {{> @figure--default }}
  {{> @figure--default }}
  {{> @figure--default }}
  {{> @figure--default }}
  {{> @figure--default }}
  {{> @figure--default }}
  {{> @figure--default }}
  {{> @figure--default }}
</div>

{{> @pagination }}
