<h2>Médias</h2>

<div class="media-lists">
  {{> @figure--default }}
  {{> @figure--default }}
  {{> @figure--default }}
  {{> @figure--default }}
  {{> @figure--default }}
  {{> @figure--default }}
  {{> @figure--default }}
  {{> @figure--default }}
  {{> @figure--default }}
  {{> @figure--default }}
</div>
