---
title: Overview | Fœhn
fabricator: true
---

<h1>Fœhn</h1>

<p>This UI toolkit is a highly-modular design system for rapid web page development. It contains different materials that can be assembled into more complex page layouts.</p>

<p>This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

<h2>Usage</h2>

<p>Start by adding the following files to your page:</p>

<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;assets/toolkit/styles/toolkit.css&quot;&gt;</code></pre>

<pre class="language-markup"><code class="language-markup">&lt;script src=&quot;assets/toolkit/scripts/toolkit.js&quot;&gt;&lt;/script&gt;</code></pre>

<h2>Color</h2>

<h3>Primary colors</h3>

<p>This palette’s primary colors are green, gray, and white. Green is the official color of the Canton of Vaud. It is a color that is reminiscent of nature, which is why it is commonly associated with balance, permission and freshness but it can also symbolize happiness, harmony, success, energy, optimism, youth, peace, serenity.</p>

{{#each colors.primary}}
    <div class="f-color-chips">
    {{#each this}}
        <div class="f-color-chip">
            <div class="f-color-chip__name">{{@key}}</div>
            <div class="f-color-chip__color">{{this}}</div>
        </div>
    {{/each}}
    </div>
{{/each}}

<h3>Secondary colors</h3>

<p>These are accent colors to provide additional lightness and style to pages looking for a more modern flair. These colors should be used to highlight important features on a page, such as buttons, or for visual style elements, such as illustrations. They should be used sparingly and never draw the eye to more than one piece of information at a time.</p>

{{#each colors.secondary}}
    <div class="f-color-chips">
    {{#each this}}
        <div class="f-color-chip">
            <div class="f-color-chip__name">{{@key}}</div>
            <div class="f-color-chip__color">{{this}}</div>
        </div>
    {{/each}}
    </div>
{{/each}}

<h3>Tertiary colors</h3>

<p>These colors are used primarily for content-specific needs, such as alerts and illustrations. They should never overpower the primary colors.</p>

{{#each colors.tertiary}}
    <div class="f-color-chips">
    {{#each this}}
        <div class="f-color-chip">
            <div class="f-color-chip__name">{{@key}}</div>
            <div class="f-color-chip__color">{{this}}</div>
        </div>
    {{/each}}
    </div>
{{/each}}

<h3>Special state colors</h3>

{{#each colors.special-state}}
    <div class="f-color-chips">
    {{#each this}}
        <div class="f-color-chip">
            <div class="f-color-chip__name">{{@key}}</div>
            <div class="f-color-chip__color">{{this}}</div>
        </div>
    {{/each}}
    </div>
{{/each}}

<h2>Typography</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.</p>

<h1>Heading Level 1</h1>
<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<h5>Heading Level 5</h5>
<h6>Heading Level 6</h6>

<h2>Methodology</h2>

<p>Fœhn is based on the <a href="http://bradfrost.com/blog/post/atomic-web-design/">Atomic Design</a> methodology by <a href="https://twitter.com/brad_frost">Brad Frost</a>.</p>

<p>There are five distinct levels in atomic design:</p>
<ol>
    <li><a href="atoms.html">Atoms</a>: Atoms are the basic building blocks of matter. Applied to web interfaces, atoms are our HTML tags, such as a form label, an input or a button.</li>
    <li><a href="molecules.html">Molecules</a>: Molecules are groups of atoms bonded together and are the smallest fundamental units of a compound. These molecules take on their own properties and serve as the backbone of our design systems.</li>
    <li><a href="organisms.html">Organisms</a>: Organisms are groups of molecules joined together to form a relatively complex, distinct section of an interface.</li>
    <li><a href="templates.html">Templates</a>: Templates consist mostly of groups of organisms stitched together to form pages. It’s here where we start to see the design coming together and start seeing things like layout in action.</li>
    <li><a href="pages.html">Pages</a>: Pages are specific instances of templates. Here, placeholder content is replaced with real representative content to give an accurate depiction of what a user will ultimately see.</li>
</ol>

<h2>Questions</h2>

<p>If you have any questions feel free to <a href="https://github.com/vdch/regenair-fabricator/issues/new">create an issue</a>.</p>
