@charset 'UTF-8';

.footer {
  position: relative;
  padding: ($spacer * 3) 0 ($spacer * 2);
  background-image: url(../svg/bars_black.svg);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: auto 21px;
  background-color: $brand-inverse;
  border-bottom: 23px solid $vd-green;
  color: $white;

  a:focus {
    color: $body-color;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid $white;
  }

  .nav {
    margin-bottom: ($spacer * 3);
  }

  .nav-link {
    padding-left: 0;
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .container {
    position: relative;
  }
}

.footer-logo-container {
  align-self: flex-end;
}

.footer-logo {
  max-width: $spacer * 2;
}

.footer-btn-backtotop {
  position: absolute;
  top: ($spacer * -4.7);
  right: $grid-gutter-width-base * 0.5;
}
