{{> global.header}}

{{> page-title}}

{{> last-news}}

{{> topics-list}}

<h2>Préstations</h2>

{{> agenda}}

<footer>
    <h3>Partenaires</h3>
    <ul>
        <li><a href="#">Lorem ipsum dolor.</a></li>
        <li><a href="#">Lorem ipsum dolor.</a></li>
        <li><a href="#">Lorem ipsum dolor.</a></li>
    </ul>
    <h3>Réseaux sociaux</h3>
    <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Google+</a></li>
    </ul>
</footer>
