{{> global.header}}

{{> global.mega-menu }}

{{> page-title title='Site officiel du Canton de Vaud'}}

<div class="vd-wrapper vd-background vd-background--gray-light">
    <h2>Accès direct</h2>
    <ul class="vd-font-heading vd-list-bare">
        <li><a href="#">Offres d'emploi</a></li>
        <li><a href="#">Signalement mineur en danger</a></li>
        <li><a href="#">Formulaire automobile</a></li>
        <li><a href="#">VaudTax 2015</a></li>
        <li><a href="#" class="vd-button vd-button--block">VaudTax 2015</a></li>
    </ul>
</div>

{{> last-news styleModifier='vd-wrapper vd-background vd-background--gray-lighter'}}

{{> agenda styleModifier='vd-wrapper'}}

<div class="vd-wrapper">
    <h2>Autorités</h2>
    <ul class="vd-font-heading vd-list-bare">
        <li><a href="#" class="vd-gamma">Grand conseil</a></li>
        <li><a href="#" class="vd-gamma">Conseil d'&Eacute;tat</a></li>
        <li><a href="#" class="vd-gamma">Ordre judiciaire</a></li>
        <li><a href="#" class="vd-gamma">Organigramme</a></li>
        <li><a href="#" class="vd-button vd-button--block">Toutes les autorit&eacute;s</a></li>
    </ul>
</div>

{{> global.footer}}
