{{> global.header}}

{{> global.mega-menu }}

{{> page-title title='Direction générale de l\'environnement (DGE)'}}

<div class="vd-o-wrapper vd-o-layout">

    <div class="vd-o-layout__item--2-3">

        <section>

            <h2 class="vd-visually-hidden">Présentation</h2>

            {{> paragraphs.paragraph }}
            {{> paragraphs.paragraph }}

        </section>

        {{> last-news}}

        {{> sections.projects }}

        {{> sections.organisation }}

        <section>

            <h2>Resonsabilités</h2>

            {{> paragraphs.paragraph }}

            <p class="vd-u-text-center"><a href="#" class="vd-c-button">Bases légales</a></p>

        </section>

    </div>

    <div class="vd-o-layout__item--1-3">

        {{> contact }}

        {{> list-prestations }}

        <section>

            <h2>Liens utiles</h2>

            <ul>
                <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="">Delectus consequuntur sequi incidunt rerum!</a></li>
                <li><a href="">Minus nostrum ipsam non adipisci.</a></li>
                <li><a href="">Repellat rerum debitis laborum fuga!</a></li>
            </ul>

        </section>

        <section>

            <h2>Publications</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum facere odio sit eveniet doloremque rerum pariatur alias at, perspiciatis inventore sint eligendi obcaecati quam iusto possimus, quaerat voluptatibus ducimus praesentium explicabo soluta. Asperiores perferendis, enim?</p>

            <ul>
                <li><a href="">Lorem ipsum dolor.</a></li>
                <li><a href="">Fugit fugiat, ut?</a></li>
            </ul>

        </section>

    </div>
</div>

{{> global.footer}}
