{{> global.header}}

{{> global.mega-menu }}

{{> page-title title='Ordre judiciaire vaudois'}}

<div class="vd-layout">

    <div class="vd-layout__item--2-3">

        <section>

            <h2 class="vd-visually-hidden">Présentation</h2>

            {{> paragraphs.paragraph }}
            {{> paragraphs.paragraph }}

        </section>

        {{> last-news}}

        <section>

            <h2>Projets</h2>

            {{> blocks.media-blocks }}

            <ul>
                <li><a href="">Lorem ipsum.</a></li>
                <li><a href="">Sint, beatae.</a></li>
                <li><a href="">Natus, ratione!</a></li>
                <li><a href="">Blanditiis, cupiditate.</a></li>
                <li><a href="">Voluptate, provident!</a></li>
                <li><a href="">Reiciendis, doloribus.</a></li>
                <li><a href="">Magnam, necessitatibus.</a></li>
            </ul>

        </section>

        <section>

            <h2>Organisation</h2>

            {{> images.images }}

            <h3>Cornelius Neet</h3>
            <p>Directeur général de l'environnement</p>

            <p class="vd-gamma">
                <a href="#">Biographie</a>
            </p>

            <ul>
                <li><a href="#"><abbr title="Direction de l'énergie">DIREN</abbr></a></li>
                <li><a href="#"><abbr title="Direction de l'environnement industriel, urbain et rural">DIREV</abbr></a></li>
                <li><a href="#"><abbr title="Direction des ressources et du patrimoine naturels">DIRNA</abbr></a></li>
                <li><a href="#">Support administratif</a></li>
                <li><a href="#">Support stratégique</a></li>
            </ul>

        </section>

    </div>

    <div class="vd-layout__item--1-3">

        {{> contact }}

        <section class="vd-box vd-box--default">

            <h2>Préstations</h2>

            <ul>
                <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="">Odio vel, ad unde quisquam.</a></li>
                <li><a href="">Aspernatur minus, nam nulla iste!</a></li>
            </ul>

        </section>

        <section>

            <h2>Liens utiles</h2>

            <ul>
                <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                <li><a href="">Delectus consequuntur sequi incidunt rerum!</a></li>
                <li><a href="">Minus nostrum ipsam non adipisci.</a></li>
                <li><a href="">Repellat rerum debitis laborum fuga!</a></li>
            </ul>

        </section>

        <section>

            <h2>Publications</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum facere odio sit eveniet doloremque rerum pariatur alias at, perspiciatis inventore sint eligendi obcaecati quam iusto possimus, quaerat voluptatibus ducimus praesentium explicabo soluta. Asperiores perferendis, enim?</p>

            <ul>
                <li><a href="">Lorem ipsum dolor.</a></li>
                <li><a href="">Fugit fugiat, ut?</a></li>
            </ul>

        </section>

    </div>
</div>
<div class="vd-container">

</div>

{{> boxes-list}}

<div class="vd-container">
    <h2>Bases légales</h2>

    {{> lists.unorderd}}
</div>

<div class="vd-container">
    <h2>Contact</h2>

    {{> text.address}}
</div>

{{> global.footer}}
