<h1>Service name</h1>

{{> last-news}}

<h2>Présentation / Missions</h2>

{{> paragraph}}

{{> lists.unorderd}}

<a href="#">Organigramme (PDF)</a>

<h2>Prestations</h2>
<div class="expo expo--1 expo--lap-and-up--2 expo--desk--4">
	{{#iterate 7}}
	<div class="expo__item">
		<div class="box box--default">
			<h3>Prestation {{@index}}</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam vitae nemo porro quidem incidunt recusandae!</p>
		</div>
	</div>
	{{/iterate}}
	<div class="expo__item">
		{{> inline-text.link}}
	</div>
</div>

<h2>Bases légales</h2>

{{> lists.unorderd}}

<h2>Contact</h2>

{{> text.address}}
