{{> global.header}}

{{> page-title title='Thèmes'}}

{{> topics-list}}

<hr>

<section class="vd-container vd-layout">
    <div class="vd-layout__item--lap-and-up--1-3">
        <h2>Culture</h2>
        <a href="#">Tous les thèmes</a>
        <div class="vd-box vd-box--default">
            <h3>Accès direct</h3>
            <ul>
                <li><a href="#">Prestation 1</a></li>
                <li><a href="#">Prestation 2</a></li>
                <li><a href="#">Prestation 3</a></li>
            </ul>
        </div>
    </div>
    <div class="vd-layout__item--lap-and-up--2-3">
        <div class="vd-layout">
            {{#each foehn.topics}}
            <div class="vd-layout__item--lap-and-up--1-2">
                <a href="#">
                    <h3 class="vd-u-mb0">{{@key}}</h3>
                    <p>Lorem ipsum, Dolor sit amet, Consectetur, ...</p>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</section>


{{> global.footer}}
