/* ------------------------------------ *\
    #LIST-INLINE
\* ------------------------------------ */

/**
 * The list-inline object simply displays a list of items in one line.
 */
.o-list-inline {
    margin-left: 0;
    list-style: none;

    &__item {
        display: inline-block;
    }

}
