/* ------------------------------------ *\
    #LIST-BLOCK
\* ------------------------------------ */

/**
 * The list-block object creates blocky list items out of a `ul` or `ol`.
 */
:root {
    --list-block-padding: var(--global-spacing-unit);
}

.list-block {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-block > li,
.list-block__item {
    padding-top: var(--list-block-padding);
    padding-bottom: @padding-top;
}
