/* ------------------------------------ *\
    #WRAPPERS
\* ------------------------------------ */

:root {
    --wrapper-width: 64rem; /* 1024px */
    --wrapper-padding: var(--global-spacing-unit--tiny);
}

/**
 * Container
 *
 * 1. Center horizontaly
 */

.wrapper {

    max-width: var(--wrapper-width);

    margin-right: auto; /* [1] */
    margin-left: auto; /* [1] */

    padding-right: var(--global-spacing-unit--tiny);
    padding-left: var(--global-spacing-unit--tiny);

    @media (--lap-and-up) {
        padding-right: var(--global-spacing-unit);
        padding-left: var(--global-spacing-unit);
    }

}

/**
 * Container offset
 *
 * Get out of the container
 */
.wrapper--offset {
    margin-right: -var(--global-spacing-unit--tiny);
    margin-left: -var(--global-spacing-unit--tiny);

    @media (--lap-and-up) {
        margin-right: -var(--global-spacing-unit);
        margin-left: -var(--global-spacing-unit);
    }
}
