/* ------------------------------------ *\
    #LAYOUT
\* ------------------------------------ */

:root {
    --layout-gutter: var(--global-spacing-unit--small);
}

/**
 * The layout is based on lost framework
 * https://github.com/corysimmons/lost
 */
@lost gutter 1rem;





/**
 * Layout
 */
.o-layout {
    lost-flex-container: row;
}





/**
 * Layout items
 *
 * 1. Add gutter on the right of all elements
 * 2. Last element of the row hase no gutter on the right
 */
@for $flex-grow from 1 to 3 {

    /* Layout extensible diemension */
    .o-layout__item--flex-$(flex-grow) {
        flex: $flex-grow;

        &:nth-child(1n) {
            margin-right: var(--layout-gutter); /* [1] */
            margin-left: 0; /* [1] */
        }

        &:last-child {
            margin-right: 0; /* [2] */
        }
    }

}





/**
* Flex item ordering
*
* 1. Put item as the last one
*/
@for $i from 1 to 6 {

    .o-layout__item--order-$i {
        order: $(i);
    }

}

.o-layout__item--order-last {
    order: 99; /* [1] */
}

@media (--lap-and-up) {
    @for $i from 1 to 6 {

        .o-layout__item--lap-and-up--order-$i {
            order: $(i);
        }

    }

    .o-layout__item--order-last\@lap-and-up {
        order: 99; /* [1] */
    }
}





/**
 *  Items with fixed width
 */

/* Default items size (on palm) */
.o-layout__item--1-1,
.o-layout__item--1-2,
.o-layout__item--1-3,
.o-layout__item--2-3,
.o-layout__item--1-4,
.o-layout__item--3-4 {
    lost-column: 1/1 flex;
}

.o-layout__item--1-6,
.o-layout__item--5-6,
.o-layout__item--1-12 {
    lost-column: 1/2 flex;
}

/* Items size on lap and up */
@media (--lap-and-up) {

    .o-layout__item--1-2,
    .o-layout__item--1-4,
    .o-layout__item--3-4,
    .o-layout__item--1-2\@lap-and-up {
        lost-column: 1/2 flex;
    }

    .o-layout__item--1-3,
    .o-layout__item--1-6,
    .o-layout__item--1-3\@lap-and-up {
        lost-column: 1/3 flex;
    }

    .o-layout__item--2-3,
    .o-layout__item--5-6,
    .o-layout__item--2-3\@lap-and-up {
        lost-column: 2/3 2 flex;
    }

    .o-layout__item--1-12,
    .o-layout__item--1-4\@lap-and-up {
        lost-column: 1/4 flex;
    }

    .o-layout__item--3-4\@lap-and-up {
        lost-column: 3/4 flex;
    }

}

/* Items size on desk and up */
@media (--desk) {

    .o-layout__item--1-4 {
        lost-column: 1/4 flex;
    }

    .o-layout__item--3-4 {
        lost-column: 3/4 2 flex;
    }

    .o-layout__item--1-6 {
        lost-column: 1/6 flex;
    }

    .o-layout__item--5-6 {
        lost-column: 5/6 2 flex;
    }

    .o-layout__item--1-12 {
        lost-column: 1/12 flex;
    }
}





/**
 * Move items
 */
@for $fraction from 1 to 12 {

    .o-layout__item--move--$(fraction)-12 {
        lost-move: $fraction/12;
    }

    .o-layout__item--move---$(fraction)-12 {
        lost-move: -$fraction/12;
    }

}

@each $query, $breakpoint in (--palm, --lap, --lap-and-up, --portable, --desk),
    (palm, lap, lap-and-up, portable, desk) {
    @media ($(query)) {
        @for $fraction from 1 to 12 {

            .o-layout__item--move--$(fraction)-12\@$(breakpoint) {
                lost-move: $fraction/12;
            }

            .o-layout__item--move---$(fraction)-12\@$(breakpoint) {
                lost-move: -$fraction/12;
            }

        }
    }
}
