/* ------------------------------------ *\
    #LIST-BARE
\* ------------------------------------ */

/**
 * The list-bare object simply removes any indents and bullet points from
 * lists.
 */
.list-bare {
    margin: 0 0 var(--global-spacing-unit);
    padding: 0;
    list-style: none;
}
