/**
 * 1. Make the caption having the same width as the image
 */
.figure {
  display: table; /* [1] */

  .figure-caption {
    display: table-caption; /* [1] */
    caption-side: bottom; /* [1] */
  }
}

