<figure class="figure">
    {{#if image.source}}
    <picture class="figure-img">
      {{#each image.source}}
      <source media="{{ media }}" srcset="{{ srset }}">
      {{/each}}
      <img class="img-fluid" src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" alt="figure">
    </picture>
    {{else}}
    <img class="img-fluid" src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" alt="figure">
    {{/if}}
  <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
</figure>
