/* Palette container */
.palette {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.25em;
}

/* Colour swatch */
.color {
  flex: 1 1 4em;
  position: relative;
  margin: 0 0.25em 1.5em;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 5em;
    background-color: currentColor;
  }

  code {
    display: inline-block;
    color: $code-color;
  }

  span {
    display: block;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-style: normal;
    color: $white;
    font: 0.75em/1em Hack, Consolas, Monaco, monospace;
    text-shadow: 0 0 2px $black;
  }
}

.color--base {
  flex: 1 1 12em;
  margin-right: 1em;
  order: -1;
}

/**
 * Style to show components in the doc
 */
.foehn-example {
    position: relative;
    overflow: hidden;
    border: 1px solid #bfc1c3;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 2em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;

    &::before {
      content: "EXAMPLE";
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.21053em 0.78947em 0.21053em 0.78947em;
      text-transform: none;
      font-size: 12px;
      line-height: 1.25;
      background: #bfc1c3;
      color: white;
  }
}
