{% extends '@template--default' %}
{% block main %}

<section class="mb-2">
  <h2 class="sr-only">Toutes les autorités</h2>

  {% render '@button-tiles', buttonTilesTop %}
  {% render '@button-tiles', buttonTilesBottom %}
</section>

<section class="mb-2">
  <h2 class="mb-2">Départements</h2>

  <ul class="list-unstyled">
  {% for autority in autorities %}
    <li>
      <a href="{% if autority.url %}{{autority.url}}{% else %}#{% endif %}" class="vd-link-invisible"><span class="h3">{{ autority.name }}</span>{% if autority.abbr %}<small> &dash; <span class="sr-only">Abbreviation: </span>{{ autority.abbr }}</small>{% endif %}</a>
      {% if autority.autorities %}
      <ul class="vd-list-no-bullet">
        {% for autority in autority.autorities %}
        <li><a href="{% if autority.url %}{{autority.url}}{% else %}#{% endif %}" class="vd-link-invisible"><span class="lead">{{ autority.name }}</span>{% if autority.abbr %}<small> &dash; <span class="sr-only">Abbreviation: </span>{{ autority.abbr }}</small>{% endif %}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</section>

<hr class="vd-separator vd-separator-green-pattern vd-separator-wide my-3">

<section class="mb-2">
  <h2 class="mb-2">Autres entités</h2>

  <ul class="list-unstyled">
  {% for autority in autoritiesAlt %}
    <li>
      <a href="{% if autority.url %}{{autority.url}}{% else %}#{% endif %}" class="vd-link-invisible"><span class="h3">{{ autority.name }}</span>{% if autority.abbr %}<small> &dash; {{ autority.abbr }}</small>{% endif %}</a>
      {% if autority.autorities %}
      <ul class="vd-list-no-bullet">
        {% for autority in autority.autorities %}
        <li><a href="{% if autority.url %}{{autority.url}}{% else %}#{% endif %}" class="vd-link-invisible"><span class="lead">{{ autority.name }}</span>{% if autority.abbr %}<small> &dash; {{ autority.abbr }}</small>{% endif %}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</section>

{% endblock %}
