{% render '@header-application--default', header, true %}

{% render '@login--logged', { styleModifier: 'container text-right mb-3' }, true %}

<main id="main">
  {% include '@page-title-banner--form-presta' %}

  <div class="container">
    <h2>{{ stepTitle }}</h2>
    <p class="h3">{{ stepNumber }}</p>
      <div class="row">
        <div class="col-md-8">
          {% block main %}

          {% render '@paragraph' %}
          {% render '@pagination', pagination, true  %}

          {% endblock %}
        </div>
      </div>
  </div>
</main>
{% render '@footer--securise' %}
