{% render '@header-application--default', header, true %}

{% render '@login--logged', { styleModifier: 'container text-right mb-3' }, true %}

<main id="main">
  {% render '@page-title-banner', pageTitle, true %}

  <div class="container">
    {% if stepNumber %}
      <p class="h3">{{ stepNumber }}</p>
    {% endif %}
    <div class="row">
      <div class="col-md-8">
        {% block main %}

          {% render '@paragraph' %}
          {% render '@pagination', pagination, true  %}

        {% endblock %}
      </div>
    </div>
  </div>
</main>
{% render '@footer--securise' %}
