<blockquote class="blockquote vd-blockquote-bubble">
  <p>La démocratie ne se découpe pas en morceaux dont on ne choisirait que les meilleurs.</p>
  <footer class="blockquote-footer">Pascal Broulis, Conseil d'État de Vaud</footer>
</blockquote>
