<figure class="figure">
  <div class="vd-figure-img-container">
    <img class="img-fluid figure-img" src="http://placehold.it/400x300" alt="Figure">
    <span class="vd-figure-category">Population</span>
  </div>
  <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
</figure>
