/* ------------------------------------ *\
    #BOX
\* ------------------------------------ */

:root {
    --box-margin-bottom: var(--global-spacing-unit);

    --box-default-background-color: var(--color-gray-light);
    --box-transaction-background-color: var(--color-primary-alt-darkest);
    --box-transaction-text-color: var(--color-white);

    --box-info-background-color: var(--color-green-lighter);
}

/**
 * Default box UI
 */
.c-box--default {
    background-color: var(--box-default-background-color);
    margin-bottom: var(--box-margin-bottom);
}

/**
 * Transaction confiration UI
 */
.c-box--transaction {
    text-align: center;
    background-color: var(--box-transaction-background-color);
    margin-bottom: var(--box-margin-bottom);

    * {
        color: var(--box-transaction-text-color);
    }
}

.c-box--info {
    background-color: var(--box-info-background-color);
    margin-bottom: var(--box-margin-bottom);
}
