/* ------------------------------------ *\
    #BUTTONS
\* ------------------------------------ */

:root {

    /* Colors */
    --button-background: var(--color-primary);
    --button-color: var(--color-white);

    /* Hover */
    --button-background-hover: var(--color-black);
    --button-color-hover: var(--button-color);

    /* Active */
    --button-background-active: var(--color-base);
    --button-color-active: var(--button-color);

    /* UI  */
    --button-padding: calc(var(--global-spacing-unit) / 2);
    --button-border-width: 1px;
    --button-border-style: none;
    --button-border-color: var(--color-base);
    --button-border-radius: calc(var(--global-spacing-unit) / 8);
}

/**
 * 1. Allow us to style box model properties.
 * 2. Make buttons inherit font styles (often necessary when styling `input`s
 *    as buttons).
 * 3. Reset/normalize some styles.
 * 4. Subtract the border size from the padding value so that buttons do not
 *    grow larger as we add borders.
 * 5. Line different sized buttons up a little nicer.
 * 6. Fixes odd inner spacing in IE7.
 * 7. Force all button-styled elements to appear clickable.
 * 8. Hover state color
 * 9. Fix a Firefox bug whereby `input type="submit"` gains 2px extra padding.
 */

@define-mixin button {
    display: inline-block; /* [1] */
    font: inherit; /* [2] */
    font-weight: 700;
    text-align: center; /* [3] */
    background-color: var(--button-background);
    border: var(--button-border-width)
        var(--button-border-style)
        var(--button-border-color);
    border-radius: var(--button-border-radius);
    margin: 0; /* [3] */
    padding: calc(var(--button-padding) - var(--button-border-width))
        calc(var(--button-padding) * 2 - var(--button-border-width)); /* [4] */
    vertical-align: middle; /* [5] */
    overflow: visible; /* [6] */
    cursor: pointer; /* [7] */

    &,
    &:hover,
    &.is-hover,
    &:active,
    &.is-active,
    &:focus
    &.is-focus {
        color: var(--button-color);
        text-decoration: none; /* [3] */
    }

    &:hover,
    &.is-hover {
        color: var(--button-color-hover);
        background-color: var(--button-background-hover); /* [8] */
    }

    &:active,
    &.is-active {
        color: var(--button-color-active);
        background-color: var(--button-background-active); /* [8] */
    }

    &:focus,
    &.is-focus {
        box-shadow: 0 0 3px var(--color-focus), 0 0 7px var(--color-focus);
    }

    &::-moz-focus-inner {
        border: 0; /* [9] */
        padding: 0; /* [9] */
    }
}

.c-button {
    @mixin button;
}




/**
 * Use fonts only when loaded
 */
.wf-active [class^="vd-c-button"] {
    font-family: var(--enhance-heading-font-family);
}





/**
 * State buttons
 *
 * Color variations
 */

@define-mixin button,
    $text-color,
    $background-color,
    $text-color-hover,
    $background-color-hover,
    $text-color-active,
    $backgroundcolor-active {
    color: $text-color;
    background-color: $background-color;

    &:hover,
    &.is-hover {
        color: $text-color-hover;
        background-color: $background-color-hover;
    }

    &:active,
    &.is-active {
        color: $text-color-active;
        background-color: $backgroundcolor-active;
    }
}


/* Button secondary */
:root {
    --button-text-color-secondary: var(--button-color);
    --button-background-color-secondary: var(--color-gray-light);
    --button-text-color-secondary-hover: var(--button-color);
    --button-background-color-secondary-hover: var(--button-background-hover);
    --button-text-color-secondary-active: var(--color-white);
    --button-background-color-secondary-active: var(--color-base);
}

@define-mixin button--secondary {
    @mixin button,
        var(--button-text-color-secondary),
        var(--button-background-color-secondary),
        var(--button-text-color-secondary-hover),
        var(--button-background-color-secondary-hover),
        var(--button-text-color-secondary-active),
        var(--button-background-color-secondary-active);
}

.c-button--secondary {
    @mixin button--secondary;
}


/* Button transparent */
:root {
    --button-text-color-transparent: inherit;
    --button-background-color-transparent: inherit;
    --button-text-color-transparent-hover: inherit;
    --button-background-color-transparent-hover: inherit;
    --button-text-color-transparent-active: inherit;
    --button-background-color-transparent-active: inherit;
}

@define-mixin button--transparent {
    @mixin button,
        inherit,
        var(--button-background-color-transparent),
        var(--button-text-color-transparent-hover),
        var(--button-background-color-transparent-hover),
        var(--button-text-color-transparent-active),
        var(--button-background-color-transparent-active);
}

.c-button--transparent {
    @mixin button--transparent;
}


/* Button disabled */
:root {
    --button-text-color-disabled: inherit;
    --button-background-color-disabled: var(--color-gray-light);
}

.c-button--disabled,
[type="submit"][disabled] {

    &,
    &:hover,
    &:focus,
    &:active {
        color: var(--button-text-color-disabled);
        background-color: var(--button-background-color-disabled);
        cursor: not-allowed;
    }
}





/**
 * Size of buttons
 *
 * Size variation
 */

@define-mixin button--block {
    display: block;
    width: 100%;
}

.c-button--block {
    @mixin button--block;
}
