/* ------------------------------------ *\
    #BACKGROUNDS
\* ------------------------------------ */



/**
 * Add vertical space on items that have a background color.
 *
 * 1. Remove margin bottom of the last child to avoid double bottom space
 *    (padding + margin)
 */
.c-background {
    padding-top: var(--global-spacing-unit);
    padding-bottom: var(--global-spacing-unit);

    > :last-child {
        margin-bottom: 0;
    }

    & + :not(.c-background) {
        margin-top: var(--global-spacing-unit);
    }
}

@each $color in primary,
    base,
    gray-dark,
    gray-light,
    gray-lighter,
    gray-lightest,

    primary,
    primary-dark,
    primary-light,
    primary-lighter,
    primary-lightest,

    white,
    black,

    primary-alt,

    focus,
    visited {
    .c-background--$(color) {
        background-color: var(--color-$(color));
    }
}
