/* ------------------------------------ *\
    #PAGE-TITLE
\* ------------------------------------ */

/**
 * Put title/text over an image
 *
 * 1. To avoid collapsed text on a small image, this style only applied on
 *    palm-and-up viewport
 * 2. Position the text at the top
 * 3. Position the overlay over the image
 * 4. Avoid a problem of overlaping at the bottom of the image
 */

@media (--lap-and-up) { /* [1] */

    .c-page-title--image {
        position: relative; /* [2] */
        color: var(--color-white);

        &__over-text {
            position: absolute; /* [2] */
            top: var(--global-spacing-unit);
            padding-left: var(--global-spacing-unit);
        }

        &__figure {
            position: relative; /* [3] */

            &::after {
                position: absolute;  /* [3] */
                top: 0;  /* [3] */
                left: 0;  /* [3] */
                width: 100%;
                height: 100%;
                background:
                    linear-gradient(
                        rgba(0, 0, 0, .75),
                        rgba(0, 0, 0, 0)
                    );
                content: "\A";
            }
        }

        &__image {
            width: 100%;
            vertical-align: top; /* [4] */
        }
    }
}
