/* ------------------------------------ *\
    #LIST-ABBREVIATIONS
\* ------------------------------------ */

.list-abbreviations {

    abbr {
        @mixin font-headings;
        font-variant-caps: normal;

        &[title] {
            text-decoration: none;
        }

        &::after {
            @mixin font-bodytext;
            display: block;
            font-size: var(--global-font-size);
            font-variant-caps: initial;
            color: var(--color-gray-light);
            text-transform: none;

            /* stylelint-disable function-whitespace-after */
            content: attr(title); /* [2] */

            /* stylelint-enable function-whitespace-after */
        }

    }

}
