{% render '@header--default', header, true %}

<div class="vd-bg-pattern-gray">
  <div class="container">
    {% render '@breadcrumb', breadcrumb, true %}
  </div>
</div>

<main id="main">
  <div class="vd-bg-pattern-gray">
    {% render '@h1', pageTitle, true %}
  </div>

  <div class="container mt-5 vd-content">
    <div class="row">
      <div class="col-md-8 vd-content-column">
        {% block main %}
          {% include '@paragraph' %}
        {% endblock %}
      </div>

      <aside class="col-md-4 vd-text-md-small vd-content-column">
        {% block aside %}
          {% include '@paragraph' %}
        {% endblock %}
      </aside>
    </div>
  </div>
</main>

{% render '@footer', footer, true %}
