{% render '@header--homepage' %}

<main id="main" class="container mt-3">
  {% include '@page-title' %}

  <div class="row">
    <div class="col-md-8 content-column">
      {% block main %}
      {% include '@paragraph' %}
      {% endblock %}
    </div>

    <aside class="col-md-4 vd-text-md-small content-column">
      {% block aside %}
      {% include '@paragraph' %}
      {% endblock %}
    </aside>

  </div>
</main>

{% render '@separator--gray-bars-wide', { styleModifier: "mb-3" }, true %}

<div class="container content-column">
  {% block contentSecondary %}
  {% include '@paragraph' %}
  {% endblock %}
</div>

{% include '@footer' %}
