{% render '@header--homepage', header, true %}

<main id="main" class="container mt-1 mt-md-3 vd-content">
  {% include '@page-title' %}

  <div class="row">
    <div class="col-md-8 vd-content-column">
      {% block main %}
      {% include '@paragraph' %}
      {% endblock %}
    </div>

    <aside class="col-md-4 vd-text-md-small vd-content-column">
      {% block aside %}
      {% include '@paragraph' %}
      {% endblock %}
    </aside>

  </div>
</main>

{% render '@separator--gray-bars-wide', { styleModifier: "my-5" }, true %}

<div class="container vd-content-column vd-content">
  {% block contentSecondary %}
  {% include '@paragraph' %}
  {% endblock %}
</div>

{% render '@footer', footer, true %}
