{% render '@header--default', header, true %}

{% include '@page-title-banner' %}

<main id="main" class="container mt-5 vd-content">
  {% include '@page-title' %}

  <div class="row">
    <div class="col-md-8 vd-content-column">
      {% block main %}
      {% include '@paragraph' %}
      {% endblock %}
    </div>

    <div class="col-md-4 vd-content-column vd-content">
      {% render '@nav-side', navSide %}
      <aside class="vd-text-md-small">
        {% block aside %}
        {% include '@paragraph' %}
        {% endblock %}
      </aside>
    </div>

  </div>
</main>

{% render '@footer', footer, true %}
