<div class="vd-nav-primary">
  <div class="vd-nav-primary-toggle">
    <div class="container">
      <div class="text-center text-md-left">
        <button type="button" class="hidden-sm-down btn btn-primary btn-sm {{#if navOpen }}{{else}}collapsed{{/if}}" data-toggle="collapse" data-target="#nav-primary-container"  aria-controls="nav-primary-container" aria-expanded="{{#if navOpen }}true{{else}}false{{/if}}">Tous les thèmes</button>
      </div>
    </div>
  </div>
  <div class="hidden-sm-down collapse {{#if navOpen }}show {{/if}}clearfix" id="nav-primary-container">
    <div class="vd-nav-primary-content">
      <div class="container">
        <div class="row">
          <nav class="col-md-8" id="nav-primary" aria-label="Navigation par thèmes">
            <ul class="list-unstyled mb-0 row">
              {{#each domains.domains}}
              {{> @domain-item styleModifier='py-1 mb-0 col-md-6 col-lg-4' }}
              {{/each}}
            </ul>
          </nav>
          <div class="col-md-4">
            <h2 class="vd-section-title mt-3 mb-1">Les plus visités</h2>
            <ul class="vd-list-links">
              <li><a href="#0">Inscription au chômage</a></li>
              <li><a href="#0">Formulaire d'indemnisation</a></li>
              <li><a href="#0">Vaud Tax 2017</a></li>
              <li><a href="#0">Vacances scolaires et jours fériés</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
