@charset 'UTF-8';

// Override normalize.css – because setting the font-family on `body` is not
// specific enough for those tags

button,
input,
optgroup,
select,
textarea {
  font-family: $font-family-base;
}

button {
  border-radius: 0;
}

/**
 * Button
 */
.btn {
  white-space: normal;
  padding-top: $input-btn-padding-y * 1.1;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    @include box-shadow($btn-focus-box-shadow);
  }

  &[data-toggle="collapse"] {
    .fa {
      font-size: 1rem;
      color: $vd-primary;
    }
  }
}

a.btn {
  text-decoration: none;
}

.btn-sm {
  padding-top: $input-btn-padding-y-sm * 2;
  padding-bottom: $input-btn-padding-y-sm * 2;
  font-size: $font-size-base * 0.8;
}

.btn-block {
  display: flex;
  justify-content: center;

  .fa {
    align-self: center;
    padding-left: $spacer;
  }
}

// Buttons with icons
//
// Prefixed with vd-, add the class to button to add a chevron icon
.vd-btn-chevron-r {
  position: relative;
  padding-right: $spacer * 1.5;

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: $spacer * 1.5;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    pointer-events: none;
    user-select: none;
  }
}

.vd-btn-chevron-t {
  .fa {
    font-size: 1rem;
    color: $vd-primary;
  }

  &.btn-secondary,
  &.btn-success {
    .fa {
      color: $white;
    }
  }
  //&.btn-secondary:after,
  //&.btn-success:after { @include vd-background-image-icon($vd-chevron-top, $white); }
  //&:after { @include vd-background-image-icon($vd-chevron-top, $vd-primary); }
}

.vd-btn-chevron-b {
  .fa {
    font-size: 1rem;
    color: $vd-primary;
  }

  &.btn-secondary,
  &.btn-success {
    .fa {
      color: $white;
    }
  }
  //&.btn-secondary:after,
  //&.btn-success:after { @include vd-background-image-icon($vd-chevron-bottom, $white); }
  //&:after { @include vd-background-image-icon($vd-chevron-bottom, $vd-primary); }
}

/**
 * Adds a cross icon inside the button
 */
.vd-btn-cross {
  &.btn-secondary:before,
  &.btn-secondary:after,
  &.btn-success:after { @include vd-background-image-icon($vd-cross, $white); }
  &:after { @include vd-background-image-icon($vd-cross, $vd-primary); }
}

/**
 * Toggle menu icon
 *
 * 1. Close show fa-chevron-down icon
 * 2. Close show fa-chevron-time icon
 */

.collapsed.vd-menu-toggle .vd-fa-menu-toggle:before {
  content: "\f078"; /* [1] */
  font-size: 1rem;
}

.vd-menu-toggle .vd-fa-menu-toggle:before {
  content: "\f00d"; /* [2] */
  font-size: 1rem;
}
