.vd-btn-previous {
  position: absolute;
  padding-left: $spacer * 1.5;
  left: 0;

  @include media-breakpoint-down(sm) {
    padding-left: 0;
    left: -10px;
  }

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: $spacer * 1.5;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    pointer-events: none;
    user-select: none;

    @include vd-background-image-icon($vd-chevron-left, $link-color);
  }

  &:hover {
    text-decoration: underline;

    @include media-breakpoint-down(sm) {
      text-decoration: none;
    }

    &:before {
      @include vd-background-image-icon($vd-chevron-left, $link-hover-color);
    }
  }
}

.vd-btn-next {
  padding-right: $spacer * 1.5;
  position: absolute;
  right: 0;

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: $spacer * 1.5;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    pointer-events: none;
    user-select: none;

    @include vd-background-image-icon($vd-chevron-right, $link-color);

    @include media-breakpoint-down(sm) {
      padding-right: 0;
      right: -10px;
    }
  }

  &:hover {
    text-decoration: underline;

    @include media-breakpoint-down(sm) {
      text-decoration: none;
    }

    &:after {
      @include vd-background-image-icon($vd-chevron-right, $link-hover-color);
    }
  }
}
