@charset 'UTF-8';

h1,
.h1 {
  font-weight: 700;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.vd-section-title {
  margin-bottom: $spacer * 2;
  font-family: $font-family-base;
  font-size: $font-size-base * 1.1;
  font-weight: 400;
  color: $body-color;
  text-transform: uppercase;
}
