@charset 'UTF-8';

.h1,
h1 {
  font-weight: 700;
}

/**
 * Add margin around headings
 */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

/**
 * Remove margin-top on the first heading of a column to avoid horizontal
 * alignment problems.
 *
 * 1. If the column contain more than one level before the first heading,
 *    use `.vd-content-column` class. It's better than having this kind of rule
 *    https://twitter.com/alienlebarge/status/864834956551434245
 */
@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  // Allow columns to stretch full width below their breakpoints
  @for $i from 1 through $grid-columns {
    .col#{$infix}-#{$i} > :first-child {
      margin-top: 0;
    }
  }
}

.vd-content-column > :first-child > :first-child {
  margin-top: 0; /* [1] */
}

/**
 * Make the headings smaller on desktop
 */
@include media-breakpoint-up(md) {
  .vd-text-md-small {
    .h1,
    h1 {
      font-size: $font-size-h1 * 0.8;
    }

    .h2,
    h2 {
      font-size: $font-size-h2 * 0.8;
    }

    .h3,
    h3 {
      font-size: $font-size-h3 * 0.8;
    }

    .h4,
    h4 {
      font-size: $font-size-h4 * 0.8;
    }

    .h5,
    h5 {
      font-size: $font-size-h5 * 0.8;
    }

    .h6,
    h6 {
      font-size: $font-size-h6 * 0.8;
    }

    font-size: $small-font-size;
    font-weight: $font-weight-normal;
  }
}

/**
 * Light variant of headings
 */
.vd-heading-light {
  font-family: $font-family-base;
  font-weight: 400;
  text-transform: uppercase;
}
