@charset 'UTF-8';

/**
 * Highlight visually content
 *
 * 1. Make link accessible
 * 2. Remove bottom margin of the last element
 */
.vd-highlight {
  padding: ($spacer * 2) ($spacer * 3);
  background: theme-color("dark");
  color: $white;

  > h1,
  > .h1,
  > h2,
  > .h2,
  > h3,
  > .h3,
  > h4,
  > .h4,
  > h5,
  > .h5 {
    margin-top: 0;
  }

  /* stylelint-disable selector-list-comma-newline-after */
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-weight: 300;
    color: $vd-primary-lighter;
  }
  /* stylelint-enable */

  a {
    &,
    &:visited {
      color: $white; /* [1] */
    }

    &:focus {
      color: $body-color; /* [1] */
    }
  }

  > :last-child {
    margin-bottom: 0; /* [2] */
  }

  .vd-list-links {
    color: $white;
  }
}
