@charset 'UTF-8';

.vd-list-boxed {
  display: block;

  .nav-link {
    display: inline;
    padding: ($spacer / 3);
    background: $body-bg;
    color: $body-color;
    text-decoration: underline;
    transition: background 0.2s;

    &:hover,
    &:focus {
      background: lighten($link-color, 65%);
    }

    &:active {
      background: lighten($link-color, 55%);
    }
  }
}
