@charset 'UTF-8';

/**
 * List
 *
 * 1. Add margin between list elements
 * 2. For lists inside another list, add margin between a list and her parent
 *    list element.
 */

ul {
  list-style-type: disc;

  li {
    margin-bottom: $spacer-y; /* [1] */
  }
}

li > ul {
  margin-top: $spacer-y; /* [2] */
}

/**
 * square bullet list
 */
.vd-list-links {
  padding-left: $spacer;
  list-style-type: square;
  font-size: $font-size-base * 0.9;
  color: $black;

  li {
    margin-bottom: 0;
  }

  a {
    font-weight: 500;
  }
}

/**
 * remove bullet
 */
.vd-list-no-bullet {
  list-style: none;
}
