@charset 'UTF-8';

/**
 * List
 */

ul {
  list-style-type: disc;

  li {
    margin-bottom: $spacer;
  }
}

ol {
  li {
    margin-bottom: $spacer;
  }
}

/**
 * square bullet list
 */
.vd-list-links {
  padding-left: $spacer;
  list-style-type: square;
  color: $black;

  li {
    margin-bottom: $spacer;
  }
}
