@charset 'UTF-8';

/**
 * List
 *
 * 1. Add margin between list elements
 * 2. For lists inside another list, add margin between a list and her parent
 *    list element.
 */

ul {
  list-style-type: disc;
}

/**
 * square bullet list
 */
.vd-list-links {
  padding-left: $spacer;
  list-style-type: square;
  color: $black;

  li {
    margin-bottom: 0;
  }
}

/**
 * remove bullet
 */
.vd-list-no-bullet {
  list-style: none;
}
