@charset 'UTF-8';

.vd-search-form {
  display: flex;
  border-top: 4px solid $black;
  border-bottom: 4px solid $black;
  margin-bottom: $spacer;

  .form-control {
    flex: 1;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-color: transparent;
    font-style: italic;
    transition:
      padding 0.11s ease-in,
      border 0.11s;

    &:focus {
      padding-left: $input-btn-padding-y;
      border: 2px solid $vd-focus;
      box-shadow: none;
    }
  }

  .input-group-btn {
    width: auto;
  }

  .input-group-btn > .btn {
    padding: 0.2rem 0.8rem;
    background: $vd-primary-dark;
    color: $white;

    @include hover {
      background: darken($vd-primary, 10%);
    }
  }
}

/**
 * regular search form
 *
 * 1. fix padding problem with padding group button http://d.pr/i/ObEPO8
 */
.vd-search-form-regular {
  ::-webkit-input-placeholder {
    font-style: italic;
  }

  :-moz-placeholder {
    font-style: italic;
  }

  ::-moz-placeholder {
    font-style: italic;
  }

  :-ms-input-placeholder {
    font-style: italic;
  }

  .btn {
    background: $vd-primary-dark;
    border-color: $vd-primary-dark;
    color: $white;

    @include hover {
      background: darken($vd-primary, 10%);
      border-color: darken($vd-primary, 10%);
    }
  }

  .input-group-btn > .btn {
    padding-top: $input-btn-padding-y * 1.1; /* [1] */
  }
}
