@charset 'UTF-8';

/**
 * Custom style for separators
 */
.vd-separator {
  background-repeat: repeat-x;
  border: none;
}

.vd-separator-gray-bars {
  height: 5px;
  background-image: url('../svg/bars_gray.svg');
}

.vd-separator-green-pattern {
  height: 4px;
  background-image: url('../svg/pattern_squares_green.svg');
}
