/* ------------------------------------ *\
    #SETTINGS-RESPONSIVE
\* ------------------------------------ */

/**
 * Hold our breakpoint aliases and conditions in a list.
 *
 * These can be invoked later on via the `media-query()` mixin found in
 * `_tools.responsive`.
 */

@custom-media --palm screen and (max-width: 44.9375em);
@custom-media --lap screen and (min-width: 45em) and (max-width: 63.9375em);
@custom-media --lap-and-up screen and (min-width: 45em);
@custom-media --portable screen and (max-width: 63.9375em);
@custom-media --desk screen and (min-width: 64em);
@custom-media --retina (min-resolution: 192dpi),
    (min-resolution: 2dppx);
