/* ------------------------------------ *\
    #FONTFACE
\* ------------------------------------ */

/**
 * Variables
 */
:root {

    /* Base font */
    --global-text-color: var(--color-base);
    --global-font-family: "Palatino Linotype",
        Palatino,
        Palladio,
        "URW Palladio L",
        "Book Antiqua",
        Baskerville,
        "Bookman Old Style",
        "Bitstream Charter",
        "Nimbus Roman No9 L",
        Garamond,
        "Apple Garamond",
        "ITC Garamond Narrow",
        "New Century Schoolbook",
        "Century Schoolbook",
        "Century Schoolbook L",
        Georgia,
        serif;
    --global-font-weight: 400;
    --global-font-weight-bold: 700;

    /* Enhance base font */
    --enhance-global-font-family: "MetaSerifWeb", var(--global-font-family);
    --enhance-global-font-weight-regular: 500;
    --enhance-global-font-weight-bold: 700;

    /* Heading font */
    --heading-font-family: -apple-system,
        ".SFNSText-Regular",
        "San Francisco",
        "Roboto",
        "Segoe UI",
        "Helvetica Neue",
        "Lucida Grande",
        sans-serif;
    --heading-font-weight-regular: normal;
    --heading-font-weight-bold: bold;

    /* Enhance heading font */
    --enhance-heading-font-family: "MetaWeb", var(--heading-font-family);
    --enhance-heading-font-weight-regular: 400;
    --enhance-heading-font-weight-bold: 700;

    --monospaced-font-family: Consolas,
        "Liberation Mono",
        Menlo,
        Courier,
        monospace;
    --monospaced-font-size: .8rem;

}





/**
 * Meta Serif
 */

/* Normal normal */
@font-face {
    font-weight: normal; /* or 400 */
    font-style: normal;
    font-family: MetaSerifWeb;

    src: url("../fonts/MetaSerifWeb-Book.woff") format("woff");
}

/* Normal italic */
@font-face {
    font-weight: normal; /* or 400 */
    font-style: italic;
    font-family: MetaSerifWeb;

    src: url("../fonts/MetaSerifWeb-BookItalic.woff") format("woff");
}

/* Bold normal */
@font-face {
    font-weight: bold; /* or 700 */
    font-style: normal;
    font-family: MetaSerifWeb;

    src: url("../fonts/MetaSerifWeb-Bold.woff") format("woff");
}

/* Bold itlaic */
@font-face {
    font-weight: bold;
    font-style: italic;
    font-family: MetaSerifWeb;

    src: url("../fonts/MetaSerifWeb-BoldItalic.woff") format("woff");
}


/**
 * Meta Web Condensed
 */

/* Normal normal */
@font-face {
    font-weight: normal; /* or 400 */
    font-style: normal;
    font-family: MetaWeb;

    src: url("../fonts/MetaWeb-CondBook.woff") format("woff");
}

/* Normal italic */
@font-face {
    font-weight: normal; /* or 400 */
    font-style: italic;
    font-family: MetaWeb;

    src: url("../fonts/MetaWeb-CondBookItalic.woff") format("woff");
}

/* Bold normal */
@font-face {
    font-weight: bold; /* or 700 */
    font-style: normal;
    font-family: MetaWeb;

    src: url("../fonts/MetaWeb-CondBold.woff") format("woff");
}

/* Bold itlaic */
@font-face {
    font-weight: bold; /* or 700 */
    font-style: italic;
    font-family: MetaWeb;

    src: url("../fonts/MetaWeb-CondBoldItalic.woff") format("woff");
}
