/* ------------------------------------ *\
    #GLOBAL
\* ------------------------------------ */

/**
 *  The global settings file contains any project-wide variables; things that
 *  need to be made available to the entire codebase.
 */

/**
 * Typography
 */
:root {
    --global-font-size: 1.125rem;
    --global-line-height: 1.5;
    --global-small-font-size: calc( 1rem / 1.26 );
}





/**
 * Colors
 */
:root {

    /* Primary color */
    --color-base: rgba(83, 101, 113, 1); /* #536571 */
    --color-gray-dark: rgba(39, 60, 70, 1); /* #273c46 */
    --color-gray-light: rgba(105, 121, 131, 1); /* #697983 */
    --color-gray-lighter: rgba(170, 182, 189, 1); /* #aab6bd */
    --color-gray-lightest: rgba(220, 227, 232, 1); /* #dce3e8 */
    --color-primary: rgba(2, 133, 26, 1); /* #02851a */
    --color-primary-dark: rgba(30, 94, 2, 1); /* #1e5e02 */
    --color-primary-light: rgba(64, 217, 64, 1); /* #40d940 */
    --color-primary-lighter: rgba(153, 255, 51, 1); /* #99ff33 */
    --color-primary-lightest: rgba(204, 255, 153, 1); /* #ccff99 */
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(0, 0, 0, 1);

    /* Secondary colors */
    --color-primary-alt: rgba(153, 0, 255, 1); /* #9900ff */

    /* Special state */
    --color-focus: rgba(58, 149, 207, 1);
    --color-visited: rgba(77, 52, 146, 1);
}





/**
 * Animation
 */
:root {
    --transition: .3333s;
}





/**
 * Spacing
 *
 * These variables are framework variables, sourced from variables defined
 * above. Feel free to use these variables throughout your project, but do not
 * modify or reassign them.
 */
:root {
    --global-spacing-unit: calc(
        var(--global-line-height) * var(--global-font-size)
    );
    --global-spacing-unit--tiny: calc(var(--global-spacing-unit) * .25);
    --global-spacing-unit--small: calc(var(--global-spacing-unit) * .5);
    --global-spacing-unit--large: calc(var(--global-spacing-unit) * 2);
    --global-spacing-unit--huge: calc(var(--global-spacing-unit) * 4);
}
