<script>
(function() {
    // Optimization for Repeat Views
    if( sessionStorage.fontsLoadedFoutWithClass ) {
      document.documentElement.className += " fonts-loaded";
      return;
    }
    if( "fonts" in document ) {
      Promise.all([
        document.fonts.load("1em Open Sans"),
        document.fonts.load("700 1em Open Sans"),
        document.fonts.load("italic 1em Open Sans"),
        document.fonts.load("italic 700 1em Open Sans"),
        document.fonts.load("1em Roboto Slab"),
        document.fonts.load("700 1em Roboto Slab")
      ]).then(function () {
        document.documentElement.className += " fonts-loaded";
        // Optimization for Repeat Views
        sessionStorage.fontsLoadedFoutWithClass = true;
      });
    }
  })();
</script>
