{% extends '@template--2-col-nav' %}
{% block main %}
  <p>Toute personne (privé ou société) peut obtenir, en tout temps, un extrait du registre des poursuites la concernant, sur présentation de ses documents d'identité.</p>
  <ul>
    <li>Si vous n'avez pas de poursuite à votre encontre, l'extrait du registre consiste en une attestation de non poursuite (attestation de solvabilité).</li>
    <li>Si vous faites l'objet de poursuites ou avez fait l'objet de poursuites durant les cinq dernières années, l'extrait du registre consiste en une liste des poursuites.</li>
  </ul>

  <h3 class="mt-3">Pour obtenir l'extrait</h3>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#enligne" role="tab">En ligne</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#guichet" role="tab">Au guichet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#courrier" role="tab">Par courrier</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content mt-1">
    <div class="tab-pane active" id="enligne" role="tabpanel">
      <p>Pour commander un extrait du registre des poursuites en ligne, nous vous prions de prendre connaissance des conditions suivantes :</p>
      <ul>
        <li>Le demandeur ne peut requérir la délivrance d'un extrait que pour lui-même.</li>
        <li>Si la demande concerne une société inscrite au registre du commerce, le demandeur doit avoir la qualité requise pour engager la société.</li>
        <li>Le demandeur doit joindre une copie d’une pièce d’identité (passeport, carte d’identité ou permis de séjour pour étranger).</li>
        <li>La demande est traitée par l’office des poursuites compétent selon les indications données par le demandeur, en particulier s’agissant de son domicile dans le canton de Vaud.</li>
        <li>Le prix de la prestation est de CHF 18.00 (art. 12a OELP). Le paiement anticipé par carte de débit (PostFinance Card) ou cartes de crédit (Visa, Mastercard) est exigé.</li>
        <li>La commande est traitée dans les trois jours ouvrables. L'extrait, qui comporte une signature originale, est envoyé par courrier A.</li>
        <li>Remarque: si vous ne remplissez pas les conditions mentionnées ci-dessus, l’extrait ne pourra pas être délivré. Vous en serez informé par courrier. Les frais ne seront pas remboursés.</li>
      </ul>
    </div>
    <div class="tab-pane" id="guichet" role="tabpanel">
      <p>Vous pouvez également vous rendre directement au guichet de l'un des offices des poursuites du canton avec :</p>
      <ul>
        <li>votre pièce d'identité,</li>
        <li>cas échéant, une pièce d'identité et une procuration de la personne pour laquelle vous faites cette demande,</li>
        <li>un extrait du Registre du commerce ou toute autre pièce analogue et un justificatif de vos pouvoirs de représentation si vous agissez pour le compte d'une société,</li>
        <li>CHF 17.00 (art. 12a OELP).</li>
      </ul>
    </div>
    <div class="tab-pane" id="courrier" role="tabpanel">
      <p>Vous devez adresser votre demande par écrit à l'office des poursuites compétent, c'est-à-dire celui du lieu de votre domicile privé ou, cas échéant, du siège principal de votre société, en joignant :</p>
      <ul>
        <li>votre pièce d'identité,</li>
        <li>un extrait du Registre du commerce ou toute autre pièce analogue et un justificatif de vos pouvoirs de représentation si vous agissez pour le compte d'une société,</li>
        <li>le formulaire ci-dessous rempli,</li>
        <li>ainsi que le récépissé postal ou avis de débit de votre paiement pour le coût de l'extrait (CHF 18.00).</li>
      </ul>
      <p>Parallèlement à votre requête, vous devez verser la somme de CHF 18.00 (art. 12a OELP) sur le compte postal de l'office (le no de compte postal figure sur la page "contact" de l'office des poursuites compétent).</p>
      <p>Remarque: si vous ne remplissez pas les conditions mentionnées ci-dessus, l’extrait ne pourra pas être délivré. Vous en serez informé par courrier. Les frais ne seront pas remboursés.</p>
    </div>
  </div>

  <div class="vd-highlight p-1">
    <h2>Recomandations à l'usager</h2>
    <div class="row">
      <div class="col-md-6">
        <h5>Documents obligatoires</h5>
        <ol>
          <li>Pièce d’identité ou permis de séjour pour les personnes étrangères</li>
          <li>Copie du registre du commerce pour les entreprises</li>
        </ol>

        <h5>Prix</h5>
        <ul>
          <li>17.-</li>
          <li>En cas d’envoi par poste, rajouter 1.-</li>
        </ul>
      </div>

      <div class="col-md-6">


        <h5>Réception de l’extrait</h5>
        <ul>
          <li>En cas de commande par courrier ou en ligne comptez trois jours ouvrables</li>
          <li>En cas de commande au guichet, l’extrait est délivré de suite</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="vd-fixed-bottom-xs-only vd-fixed-bottom-sm-only">
    <a href="../formulaire-prestation" class="btn btn-success btn-block vd-btn-chevron-r mt-2">Commander un extrait du registre des poursuites</a>
  </div>
{% endblock %}
{% block aside %}
  <h4>Office des poursuites</h4>
  <p>L'office des poursuites a pour mission d’activer les poursuites, depuis leur origine et jusqu’à la distribution des dividendes et la délivrance des actes de défaut de biens.Il y en a un office par district, généralement situé dans le chef-lieu.</p>

  <ul class="vd-list-icons">
    <li><span class="fa fa-info-circle" aria-hidden="true"></span> <a href="../office-des-poursuites/">en savoir plus sur l'autorité</a></li>
  </ul>
  <p>
    <a href="../recherche-office-poursuites" class="btn btn-primary vd-btn-chevron-r">Contacter l'office</a>
  </p>

  <h2 class="vd-section-title mt-3 ">Prestations en relation</h2>
  <ul class="vd-list-links">
    <li><a href="#0">Obtenir un extrait du registre des faillites pour soi-même</a></li>
    <li><a href="#0">Obtenir un extrait des registres des poursuites sur un tiers</a></li>
    <li><a href="#0">Obtenir un extrait des registres des faillites sur un tiers</a></li>
  </ul>

  <h2 class="vd-section-title mt-3 ">Publication</h2>
  <ul class="vd-list-icons">
    <li><span class="fa fa-file-pdf-o" aria-hidden="true"></span><a href="www.vd.ch/fileadmin/user_upload/themes/economie_emploi/poursuites_faillites/D%C3%A9pliants/depliant-commande-extrait-registre-poursuites.pdf">Commander un extrait du registre des poursuites pour soi-même</a></li>
  </ul>
{% endblock %}
