/**
 * Add visual identifiquation for grid documentation
 */
.vd-layout--demo {

    &,
    *:not(input):not(textarea):not(select) {
        text-align: center;
        background-color: rgba(0, 0, 0, .1);
        margin: 1rem auto;
    }

}
