<h2 class="vd-section-title">Actualités</h2>

{{> @teaser--media }}
{{> @teaser }}
{{> @teaser }}
{{> @teaser }}
{{> @teaser }}

<a href="#" class="btn btn-primary vd-btn-chevron-r btn-sm">Toutes l'actualitées</a>
