<article>
  <header>
    <h3 class="mb-0"><a href="{{ url }}">{{ title }}</a></h3>
    {% if meta %}
    <dl class="small text-muted row">
      {% if meta.type -%}
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">{{ meta.type | capitalize }}</dd>
      {%- endif %}
      {% if meta.ref -%}
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>{{ meta.ref }}</samp></dd>
      {%- endif %}
      {% if meta.recipient -%}
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">{{ meta.recipient }}</dd>
      {%- endif %}
      {% if meta.date -%}
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">{{ meta.date }}</dd>
      {%- endif %}
      {% if meta.status -%}
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">{{ meta.status | capitalize  }}</dd>
      {%- endif %}
    </dl>
    {% endif %}
  </header>
  <p{% if actions %} class="mb-0x"{% endif %}>{{ text }}</p>
  {% if actions -%}
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      {% for action in actions -%}
      <li class="{% if action.pushRight %}ml-sm-auto{% else %}mr-1{% endif %}"><a href="{{ action.url }}">{{ action.name }}</a></li>
      {%- endfor %}
    </ul>
  </footer>
  {%- endif -%}
</article>
