/* ------------------------------------ *\
    #HEADINGS
\* ------------------------------------ */

/**
 * Headings 1–6’s corresponding Greek-u-h1bet abstract classes for double-
 * stranded heading hierarchy:
 * csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 *
 * Use these helper classes to cause other elements to adopt the styling of the
 * respective heading, e.g.:
 *
   <h2 class="u-h1">Lorem ipsum</h2>
 *
 */
.u-h1 {
    font-size: var(--heading-size-1);
    font-weight: var(--heading-font-weight-bold);
    line-height: var(--heading-line-height-1);
}

.u-h2 {
    font-size: var(--heading-size-2);
    font-weight: var(--heading-font-weight-bold);
    line-height: var(--heading-line-height-2);
}

.gamma {
    font-size: var(--heading-size-3);
    font-weight: var(--heading-font-weight-bold);
    line-height: var(--heading-line-height-3);
}

.delta {
    font-size: var(--heading-size-4);
    font-weight: var(--heading-font-weight-bold);
    line-height: var(--heading-line-height-4);
}

.epsilon {
    font-size: var(--heading-size-5);
    font-weight: var(--heading-font-weight-bold);
    line-height: var(--heading-line-height-5);
}

.zeta {
    font-size: var(--heading-size-6);
    font-weight: var(--heading-font-weight-regular);
    line-height: var(--heading-line-height-6);
}

.u-h1,
.u-h2,
.gamma,
.delta,
.epsilon,
.zeta {
    font-family: var(--heading-font-family);

    @mixin font-headings;
}

.wf-metaweb-n7-active {

    .u-h1,
    .u-h2,
    .gamma,
    .delta,
    .epsilon,
    .zeta  {
        font-family: var(--enhance-heading-font-family); /* [1] */
    }

    .u-h1,
    .u-h2,
    .gamma,
    .delta,
    .epsilon  {
        font-weight: var(--enhance-heading-font-weight-bold);
    }

    .zeta {
        font-weight: var(--enhance-heading-font-weight-regular);
    }
}
