/* ------------------------------------ *\
    #HEADINGS
\* ------------------------------------ */

/**
 * Redefine all of our basic heading styles against utility classes so as to
 * allow for double stranded heading hierarchy, e.g. we semantically need an H2,
 * but we want it to be sized like an H1:
 *
 *   <h2 class="u-h1"></h2>
 *
 */

.u-h1 {
    font-size: var(--heading-size-1);
    font-weight: var(--heading-font-weight-bold);
    line-height: var(--heading-line-height-1);
}

.u-h2 {
    font-size: var(--heading-size-2);
    font-weight: var(--heading-font-weight-bold);
    line-height: var(--heading-line-height-2);
}

.u-h3 {
    font-size: var(--heading-size-3);
    font-weight: var(--heading-font-weight-bold);
    line-height: var(--heading-line-height-3);
}

.u-h4 {
    font-size: var(--heading-size-4);
    font-weight: var(--heading-font-weight-bold);
    line-height: var(--heading-line-height-4);
}

.u-h5 {
    font-size: var(--heading-size-5);
    font-weight: var(--heading-font-weight-bold);
    line-height: var(--heading-line-height-5);
}

.u-h6 {
    font-size: var(--heading-size-6);
    font-weight: var(--heading-font-weight-regular);
    line-height: var(--heading-line-height-6);
}

.u-h1,
.u-h2,
.u-h3,
.u-h4,
.u-h5,
.u-h6 {
    font-family: var(--heading-font-family);

    @mixin font-headings;
}

.wf-metaweb-n7-active {

    .u-h1,
    .u-h2,
    .u-h3,
    .u-h4,
    .u-h5,
    .u-h6  {
        font-family: var(--enhance-heading-font-family); /* [1] */
    }

    .u-h1,
    .u-h2,
    .u-h3,
    .u-h4,
    .u-h5  {
        font-weight: var(--enhance-heading-font-weight-bold);
    }

    .u-h6 {
        font-weight: var(--enhance-heading-font-weight-regular);
    }
}
