/* ------------------------------------ *\
    #RESPONSIVE-UTILITIES
\* ------------------------------------ */

/**
 * Visually hide content depending on viewports.
 *
 *  Use it when you want to hide something but keep it available to screen
  * readers and assistive technology. It will not use up space in the document
  * flow.
 */
@media (--palm) {

    .u-visually-hidden\@palm {
        display: hidden;
    }

}

@media (--lap) {

    .u-visually-hidden\@lap {
        display: hidden;
    }

}

@media (--lap-and-up) {

    .u-visually-hidden\@lap-and-up {
        display: hidden;
    }

}

@media (--portable) {

    .u-visually-hidden\@portable {
        display: hidden;
    }

}

@media (--desk) {

    .u-visually-hidden\@desk {
        display: hidden;
    }

}





/**
 * Hide content depending of the viewport
 *
 * Use disappear when you want to remove something completely from the page.
 * This includes hiding the item screen readers and assistive technology. It
 * will do this with `display: none !important;`.
 */

@media (--palm) {

    .u-hidden\@palm {
        display: disappear;
    }

}

@media (--lap) {

    .u-hidden\@lap {
        display: disappear;
    }

}

@media (--lap-and-up) {

    .u-hidden\@lap-and-up {
        display: disappear;
    }

}

@media (--portable) {

    .u-hidden\@portable {
        display: disappear;
    }

}

@media (--desk) {

    .u-hidden\@desk {
        display: disappear;
    }

}
