{{> @header }}

{{> @page-title-banner }}

<main id="main" class="container mt-3">

  {{> @page-title }}

  <div class="row">

    <div class="col-md-8">
      <h2>3 prestations</h2>
      <div class="vd-bg-pattern-green p-1">
        {{render '@list-boxed' }}
      </div>

    </div>

    <aside class="col-md-4 small">
      <h2>Office des poursuites de Lausanne</h2>
      <p>Avenue de Longemalle 1 <br>1020 Renens</p>

      <ul class="vd-list-links">
        <li><a href="#0">info.spi@vd.ch</a></li>
        <li><a href="#0">voir sur la carte</a></li>
      </ul>

      <a href="#0" class="btn btn-primary vd-btn-chevron-r mt-2">Contacter l'office</a>

      <h2 class="mt-3 vd-section-title">Autres prestations liées</h2>
      <ul class="vd-list-links">
        <li><a href="#0">Lien 1</a></li>
        <li><a href="#0">Lien 2</a></li>
        <li><a href="#0">Lien 3</a></li>
      </ul>
    </div>

  </aside>
</main>

{{> @footer }}
