<div class="embed-responsive embed-responsive-16by9 mb-1">
  <iframe class="embed-responsive-item" src='http://www.dailymotion.com/embed/video/xsr67x' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
