<div class="embed-responsive embed-responsive-16by9 mb-1">
  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/14111896" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <p><a href="https://vimeo.com/14111896">Lausanne: Moments</a> from <a href="https://vimeo.com/user4210348">Daniel Weiss</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>
