@charset 'UTF-8';

.table {
  caption {
    caption-side: top;
  }

  thead th {
    border-bottom: 2px solid $vd-neutral-lighter;
    vertical-align: bottom;
  }

  td, th {
    border-top: 1px solid $vd-neutral-lighter;
    padding: 0.75rem;
  }

}
