@charset 'UTF-8';
@use 'sass:math';
@use 'sass:color';

.vd-list-boxed {
  li {
    margin-bottom: $spacer;
  }

  .nav-link {
    display: inline;
    padding: (math.div($spacer, 5));
    background: $body-bg;
    color: $body-color;
    text-decoration: none;
    transition: background 0.2s;

    &:hover,
    &:focus {
      background: color.adjust($link-color, $lightness: 65%);
    }

    &:active {
      background: color.adjust($link-color, $lightness: 55%);
    }
  }
}
