/**
 * Custom style for separators
 */
.vd-separator {
  background-repeat: repeat-x;
  border: none;
}

.vd-separator-gray-bars {
  background-image: url('../svg/bars_gray.svg');
  background-size: 4px 5px;
  height: 5px;
}

.vd-separator-green-pattern {
  background-image: url('../svg/pattern_squares_green.svg');
  background-size: 162px 4px;
  height: 4px;
}
