// Variables
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system
@use 'sass:math';
@use 'sass:map';
@use 'sass:color';
@import "main-variables";

$nav-link-padding-y: .5rem !default;
$line-height-base: 1.5 !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$navbar-brand-height: ($font-size-base * 1.25) * $line-height-base !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .875 !default;
$variable-prefix: bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix !default;
$spacer: 1rem !default;
$nav-link-height: $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;

// scss-docs-start gray-color-variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: $vd-neutral-lighter;
$gray-300: $vd-neutral-light;
$gray-400: #ced4da !default;
$gray-500: $vd-neutral;
$gray-600: #6c757d !default;
$gray-700: $vd-neutral-dark;
$gray-800: $vd-neutral-darker;
$gray-900: #212529 !default;
$black: #000 !default;

// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map

$grays: (
  "200": $gray-200,
  "300": $gray-300,
  "500": $gray-500,
  "700": $gray-700,
  "800": $gray-800
);

// fusv-enable

// scss-docs-start theme-color-variables

$primary: $vd-primary-dark;
$secondary: $gray-600;
$success: $vd-success;
$info: $vd-info;
$warning: $vd-warning;
$danger: $vd-danger;
$light: $gray-100;
$dark: $vd-neutral-dark;

// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

// scss-docs-end theme-colors-map

$body-bg: $white !default;
$body-color: $gray-900 !default;

// Options
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
$enable-container-classes: true;
$enable-cssgrid: false;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: false;
$enable-deprecation-messages: true;
$enable-important-utilities: true;
$enable-dark-mode: true;
$color-mode-type: data;

// Links
// Style anchor elements.

$link-hover-color: $gray-700;
$link-hover-decoration: underline;


// Grid breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints

$grid-breakpoints: (
  xxs: 0,
  xs: 312px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// scss-docs-end grid-breakpoints

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths

$container-max-widths: (
  xs: 410px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

// scss-docs-end container-max-widths

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 30px;

// Components
// Define common padding and border radius sizes and more.

// scss-docs-start border-variables

$border-color: $gray-200;

// scss-docs-end border-variables

// scss-docs-start border-radius-variables

$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$border-radius-xl: 0;
$border-radius-xxl: 0;
$border-radius-pill: 50rem;

// scss-docs-end border-radius-variables

// Typography
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
// stylelint-disable value-keyword-case

$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: 'Roboto Slab', $font-family-sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// stylelint-enable value-keyword-case

$font-family-base: var(--#{$prefix}font-sans-serif);
$font-family-code: var(--#{$prefix}font-monospace);

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text

$line-height-base: 1.5;
$line-height-sm: 1.5;
$line-height-lg: 1.5;
$h1-font-size: $font-size-base * 2.4;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.3;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 0.9;

// scss-docs-end font-variables

// scss-docs-start headings-variables

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 700;
$headings-line-height: 1.1;

// scss-docs-end headings-variables

// scss-docs-start display-headings

$display-font-sizes: (
  1: 6rem,
  2: 5.5rem,
  3: 4.5rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

// scss-docs-end display-headings

// scss-docs-start type-variables

$small-font-size: 80%;
$blockquote-font-size: $font-size-base;
$blockquote-footer-color: $gray-500;
$hr-border-color: $gray-800; // Allows for inherited colors
$hr-opacity: 1;
$list-inline-padding: 5px;
$mark-padding: .2em;
$mark-bg: #fcf8e3;

// scss-docs-end type-variables


// Tables
// Customizes the `.table` component with basic values, each used across all table variations.

// scss-docs-start table-variables

$table-cell-padding-y: .75rem;
$table-cell-padding-x: .75rem;
$table-cell-padding-y-sm: .3rem;
$table-cell-padding-x-sm: .3rem;
$table-bg: null;
$table-hover-bg: rgba($black, .075);
$table-active-bg: $table-hover-bg;
$table-border-color: $gray-200;
$table-caption-color: $gray-500;

// scss-docs-end table-variables


// Buttons + Forms
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// scss-docs-start input-btn-variables

$input-btn-focus-width: .2rem;
$input-btn-focus-color: $vd-focus;
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

// scss-docs-end input-btn-variables


// Buttons
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables

$btn-font-weight: 700;

// Allows for customizing button radius independently from global border radius
// scss-docs-end btn-variables


// Forms
// scss-docs-start form-input-variables

$input-disabled-bg: $gray-200;
$input-color: $gray-700;
$input-border-color: $gray-700;
$input-placeholder-color: $gray-600;

// scss-docs-end form-input-variables

// scss-docs-start input-group-variables

$input-group-addon-bg: $gray-200;

// scss-docs-end input-group-variables


// Navs
// scss-docs-start nav-variables

$nav-link-disabled-color: $gray-600;
$nav-tabs-border-color: $gray-300;
$nav-tabs-link-hover-border-color: $gray-200 $gray-200 $nav-tabs-border-color;
$nav-tabs-link-active-color: $gray-700;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $body-bg;

// scss-docs-end nav-variables


// Navbar
// scss-docs-start navbar-variables

$navbar-padding-y: math.div($spacer, 2);
$navbar-padding-x: $spacer;
$navbar-brand-padding-y: math.div(($nav-link-height - $navbar-brand-height), 2);
$navbar-light-color: rgba($black, .5);
$navbar-light-hover-color: rgba($black, .7);
$navbar-light-active-color: rgba($black, .9);
$navbar-light-disabled-color: rgba($black, .3);
$navbar-light-toggler-border-color: rgba($black, .1);
$navbar-light-icon-color: rgba($body-color, .75);

// scss-docs-end navbar-variables

// scss-docs-start navbar-dark-variables

$navbar-dark-color: rgba($white, .5);

// scss-docs-end navbar-dark-variables


// Dropdowns
// Dropdown menu container and contents.

// scss-docs-start dropdown-variables

$dropdown-border-color: rgba($black, .15);
$dropdown-divider-bg: $gray-200;
$dropdown-divider-margin-y: math.div($spacer, 2);
$dropdown-box-shadow: 0 .5rem 1rem rgba($black, .175);
$dropdown-link-color: $gray-900;
$dropdown-link-hover-color: shade_color($gray-900, 5%);
$dropdown-link-hover-bg: $gray-100;
$dropdown-link-disabled-color: $gray-600;
$dropdown-item-padding-y: .25rem;
$dropdown-item-padding-x: 1.5rem;

// scss-docs-end dropdown-variables


// Pagination

// scss-docs-start pagination-variables

$pagination-padding-y: .5rem;
$pagination-padding-x: .75rem;
$pagination-padding-y-sm: .25rem;
$pagination-padding-x-sm: .5rem;
$pagination-padding-y-lg: .75rem;
$pagination-padding-x-lg: 1.5rem;
$pagination-border-color: $gray-300;
$pagination-hover-bg: $gray-200;
$pagination-hover-border-color: $gray-300; // Todo in v6: remove this?
$pagination-disabled-color: $gray-600;
$pagination-disabled-bg: $white;
$pagination-disabled-border-color: $gray-300;

// scss-docs-end pagination-variables

// Cards

// scss-docs-start card-variables

$card-spacer-y: 1.3rem;
$card-spacer-x: 1.5rem;
$card-title-spacer-y: 0.7rem;
$card-border-color: rgba($black, .125);
$card-cap-bg: rgba($black, .03);
$card-img-overlay-padding: 1.25rem;

// scss-docs-end card-variables

// Tooltips

// scss-docs-start tooltip-variables

$tooltip-bg: $black;
$tooltip-padding-y: .25rem!default;
$tooltip-padding-x: .5rem;
$tooltip-margin: 0; // TODO: remove this in v6

// scss-docs-end tooltip-variables

// Form tooltips must come after regular tooltips
// scss-docs-start tooltip-feedback-variables

$form-feedback-tooltip-line-height: $line-height-base;

// Form checkboxes
$form-check-input-border: var(--#{$prefix}border-width) solid $vd-neutral-dark;

// scss-docs-end tooltip-feedback-variables


// Popovers

// scss-docs-start popover-variables

$popover-bg: $white;
$popover-border-color: rgba($black, .2);
$popover-box-shadow: 0 .25rem .5rem rgba($black, .2);
$popover-header-bg: shade-color($popover-bg, 3%);
$popover-header-padding-x: .75rem;
$popover-header-padding-y: .5rem !default;
$popover-body-padding-y: $popover-header-padding-y;
$popover-body-padding-x: $popover-header-padding-x;

// scss-docs-end popover-variables

// Toasts

// scss-docs-start toast-variables

$toast-background-color: rgba($white, .85);
$toast-border-width: 1px;
$toast-border-color: rgba(0, 0, 0, 10%);
$toast-border-radius: .25rem;
$toast-box-shadow: 0 .25rem .75rem rgba($black, .1);
$toast-header-color: $gray-600;
$toast-header-border-color: rgba(0, 0, 0, 5%);

// scss-docs-end toast-variables


// Badges

// scss-docs-start badge-variables

$badge-font-size: 75%;
$badge-padding-y: .25em;
$badge-padding-x: .4em;

// scss-docs-end badge-variables


// Modals

// scss-docs-start modal-variables

$modal-inner-padding: 1rem;
$modal-content-border-color: rgba($black, .2);
$modal-content-box-shadow-xs: 0 .25rem .5rem rgba($black, .5);
$modal-content-box-shadow-sm-up: 0 .5rem 1rem rgba($black, .5);
$modal-header-padding-y: 1rem;
$modal-header-padding-x: 1rem;

// scss-docs-end modal-variables


// Alerts
// Define alert colors, border radius, and padding.

// scss-docs-start alert-variables

$alert-padding-y: .75rem;
$alert-padding-x: 1.25rem;

// scss-docs-end alert-variables

// Progress bars

// scss-docs-start progress-variables

$progress-bg: $gray-200;
$progress-box-shadow: inset 0 .1rem .1rem rgba($black, .1);

// scss-docs-end progress-variables


// List group

// scss-docs-start list-group-variables

$list-group-color: null;
$list-group-border-color: rgba($black, .125);
$list-group-item-padding-y: .75rem;
$list-group-item-padding-x: 1.25rem;
$list-group-hover-bg: $gray-100;
$list-group-disabled-color: $gray-600;
$list-group-action-color: $gray-700;
$list-group-action-hover-color: $list-group-action-color;
$list-group-action-active-bg: $gray-200;

// scss-docs-end list-group-variables


// Image thumbnails

// scss-docs-start thumbnail-variables

$thumbnail-border-color: $gray-300;
$thumbnail-box-shadow: 0 1px 2px rgba($black, .075);

// scss-docs-end thumbnail-variables


// Figures

// scss-docs-start figure-variables

$figure-caption-font-size: 80%;
$figure-caption-color: $gray-600;

// scss-docs-end figure-variables


// Breadcrumbs

// scss-docs-start breadcrumb-variables

$breadcrumb-padding-y: .75rem;
$breadcrumb-item-padding-x: .25rem;
$breadcrumb-bg: transparent;
$breadcrumb-divider-color: $primary;
$breadcrumb-active-color: $black;
$breadcrumb-divider: ">";

// scss-docs-end breadcrumb-variables

// Code

$code-font-size: 87.5%;
$kbd-padding-y: .2rem;
$kbd-padding-x: .4rem;
$kbd-bg: $gray-900;
$nested-kbd-font-weight: 700; // Deprecated in v5.2.0, removing in v6
$pre-color: $gray-900;

// Custom variables

$custom-forms-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
$custom-control-gutter: .5rem;
$custom-control-spacer-x: 1rem;
$custom-control-cursor: null;
$custom-control-indicator-size: 1rem;
$custom-control-indicator-bg: $gray-200;
$custom-control-indicator-bg-size: 50% 50%;
$custom-control-indicator-box-shadow: inset 0 1px 1px rgba($black, .075) !default;;
$custom-control-indicator-border-color: $gray-500;
$custom-control-indicator-border-width: 1px;
$custom-control-label-color: null;
$custom-control-indicator-disabled-bg: $input-disabled-bg;
$custom-control-label-disabled-color: $gray-600;
$custom-control-indicator-checked-color: $white;
$custom-control-indicator-checked-bg: $primary;
$custom-control-indicator-checked-disabled-bg: rgba($primary, .5);
$custom-control-indicator-checked-box-shadow: none;
$custom-control-indicator-checked-border-color: $custom-control-indicator-checked-bg;
$custom-control-indicator-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;
$custom-control-indicator-focus-border-color: $gray-700;
$custom-control-indicator-active-color: $white;
$custom-control-indicator-active-bg: color.adjust($primary, $lightness: 35%);
$custom-control-indicator-active-box-shadow: none;
$custom-control-indicator-active-border-color: $custom-control-indicator-active-bg;
$custom-checkbox-indicator-border-radius: $border-radius;
$custom-checkbox-indicator-icon-checked: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill='#{$custom-control-indicator-checked-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/></svg>");
$custom-checkbox-indicator-indeterminate-bg: $primary;
$custom-checkbox-indicator-indeterminate-color: $custom-control-indicator-checked-color;
$custom-checkbox-indicator-icon-indeterminate: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'><path stroke='#{$custom-checkbox-indicator-indeterminate-color}' d='M0 2h4'/></svg>");
$custom-checkbox-indicator-indeterminate-box-shadow: none;
$custom-checkbox-indicator-indeterminate-border-color: $custom-checkbox-indicator-indeterminate-bg;
$custom-radio-indicator-border-radius: 50%;
$custom-radio-indicator-icon-checked: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'><circle r='3' fill='#{$custom-control-indicator-checked-color}'/></svg>");
$custom-switch-width: $custom-control-indicator-size * 1.75;
$custom-switch-indicator-border-radius: math.div($custom-control-indicator-size, 2);
$custom-switch-indicator-size: subtract($custom-control-indicator-size, 4px);

// Inputs default

$input-btn-padding-y: .375rem !default;
$input-btn-padding-x: .75rem !default;
$input-btn-font-family: null !default;
$input-btn-font-size: $font-size-base !default;
$input-btn-line-height: $line-height-base !default;
$input-btn-padding-y-sm: .25rem !default;
$input-btn-padding-x-sm: .5rem !default;
$input-btn-font-size-sm: $font-size-sm !default;
$input-btn-line-height-sm: $line-height-sm !default;
$input-btn-padding-y-lg: .5rem !default;
$input-btn-padding-x-lg: 1rem !default;
$input-btn-font-size-lg: $font-size-lg !default;
$input-btn-line-height-lg: $line-height-lg !default;
$input-padding-y: $input-btn-padding-y !default;
$input-padding-x: $input-btn-padding-x !default;
$input-font-family: $input-btn-font-family !default;
$input-font-size: $input-btn-font-size !default;
$input-font-weight: 400;
$input-line-height: $input-btn-line-height !default;
$input-height-border: 1px * 2 !default;
$input-padding-y-sm: $input-btn-padding-y-sm !default;
$input-padding-x-sm: $input-btn-padding-x-sm !default;
$input-font-size-sm: $input-btn-font-size-sm !default;
$input-line-height-sm: $input-btn-line-height-sm !default;
$input-padding-y-lg: $input-btn-padding-y-lg !default;
$input-padding-x-lg: $input-btn-padding-x-lg !default;
$input-font-size-lg: $input-btn-font-size-lg !default;
$input-line-height-lg: $input-btn-line-height-lg !default;
$input-height-inner-half: add($input-line-height * .5em, $input-padding-y) !default;
$input-height: add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false)) !default;

// Border radius

$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;
$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex;
$overflows: auto, hidden;
$positions: static, relative, absolute, fixed, sticky;
$user-selects: all, auto, none;


// Printing

$print-page-size: a3;
$print-body-min-width: map.get($grid-breakpoints, "lg");

$accordion-button-active-bg: $vd-primary-lighter;

