/**
 * Roboto Slab
 */

@font-face {
  font-family: 'Roboto-Slab';
  src: url("../../assets/fonts/Roboto-Slab-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Slab-Regular.woff") format ("woff");
}

@font-face {
  font-family: 'Roboto-Slab';
  src: url("../../assets/fonts/Roboto-Slab-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Roboto-Slab-Bold.woff") format ("woff");
  font-weight: 700;
}

