@charset 'UTF-8';

.container-small {
  @include media-breakpoint-up(md) {
    width: 768px;
  }
}

/**
 * Typography
 *
 * 1. Set the standards opentype features for a more readable text.
 *    See http://practice.typekit.com/lesson/caring-about-opentype-features/
 */

body {
  font-variant-ligatures: common-ligatures, contextual; /* [1] */
  font-feature-settings: "kern"; /* [1] */
  font-kerning: normal; /* [1] */
  text-rendering: optimizeLegibility;
}

/**
 * Use enhance fonts when they are loaded via webfontloader
 * https://github.com/typekit/webfontloader
 *
 * 1. Base font
 * 2. Headings font
 */
html {
  &.wf-opensans-n4-active {
    body,
   .vd-p {
      font-family: $font-family-base-enhance; /* [1] */
    }
  }

  &.wf-robotoslab-n7-active {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      font-family: $headings-font-family-enhance; /* [2] */
    }
  }

  &.wf-robotoslab-n3-active {
    .lead {
      font-family: $headings-font-family-enhance; /* [2] */
    }
  }
}
