.blockquote-footer {
  margin-top: 0;
}

blockquote cite,
.blockquote-footer {
  &:before {
    content: none;
  }
}

.vd-blockquote-bubble {
  background: $dark;
  border-radius: 10px;
  font-size: $font-size-base;
  line-height: 1.3;
  margin: ($spacer * 1.5) 0;
  padding: ($spacer * 1.45) ($spacer * 1.8);
  position: relative;

  &:before {
    content: none;
  }

  &:after {
    content: '';
    display: block;
    height: 18px;
    position: absolute;
    right: 40px;
    top: 100%;
    width: 41px;

    @include media-breakpoint-up(sm) { right: 80px; }

    @include vd-background-image-icon($vd-blockquote-pointer, $dark, 41, 18);
  }

  p {
    color: $vd-primary-light;
    font-family: $headings-font-family;
    font-style: italic;
  }

  img {
    bottom: $spacer * 0.8;
    height: auto;
    position: absolute;
    right: -50px;
    width: 80px;

    @include media-breakpoint-up(sm) {
      right: -75px;
      width: 120px;
    }
  }

  .blockquote-footer {
    color: $white;
    font-size: $font-size-base;
  }
}

blockquote,
.blockquote {
  color: $gray-500;
  font-size: $font-size-lg;
  padding-left: $spacer * 4;
  position: relative;

  &:before {
    color: $link-color;
    content: '“';
    font-family: $font-family-serif;
    font-size: 3rem;
    font-weight: 700;
    left: 0;
    line-height: 1.3;
    position: absolute;
    top: 0;
  }

  p:last-of-type {
    margin-bottom: $spacer * 0.4;
  }
}

/**
 * Apply the bootstrap style on native tags
 */
blockquote cite {
  color: $gray-500;
  display: block;
  font-size: 80%; // back to default font-size
}

.blockquote-reverse {
  &:after {
    left: 40px;
    right: auto;
  }
}

.vd-blockquote-bubble-media {
  margin-right: $spacer * 2.8;
  padding-right: $spacer * 2;

  @include media-breakpoint-up(sm) {
    margin-left: $spacer;
    margin-right: $spacer * 5;
    padding-right: $spacer * 4.5;
  }
}
