.vd-teaser-card {
  border: 0;
  position: relative;

  .card-title {
    font-family: $font-family-base;
    text-align: center;
  }

  .card-text {
    text-align: center;
  }
}

a.vd-teaser-card {
  text-decoration: none;
}

/**
 * Placeholder for card content
 *
 * 1. Make the text visible
 */
%card-inside {
  .card-title,
  .card-text,
  a {
    color: $white; /* [1] */
  }

  a {
    &:hover {
      color: $gray-300; /* [1] */
    }

    &:visited {
      color: $white;
    }

    &:visited:hover {
      color: $gray-300; /* [1] */
    }
  }
}

/**
 * Green
 */
.vd-card-green {
  @extend %card-inside;

  background-color: $vd-primary-darker;
}

/**
 * Light gray
 *
 * 1. Make the text visible
 */
.vd-card-lightgray {
  background-color: $vd-neutral-light;

  .card-title,
  .card-text {
    color: $vd-neutral-darker; /* [1] */
  }
}

/**
 * Dark gray
 */
.vd-card-darkgray {
  background-color: $vd-neutral-dark;

  @extend %card-inside;
}

/**
 * Black
 */
.vd-card-black {
  background-color: $black;

  @extend %card-inside;
}
