@charset ':UTF-8';

@use "sass:math";

/**
 * Button tiles
 *
 * 1. Remove list styles
 * 2. Make button the same height if there's is a lot of text in one of them.
 * 3. Max width of an element is 33% on desktop.
 */
.vd-btn-tiles {
  padding-left: 0; /* [1] */
  list-style: none; /* [1] */
  display: flex;
  flex-flow: column wrap;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    margin-right: - math.div($spacer, 2);
    margin-left: - math.div($spacer, 2);
  }

  &__item {
    flex: 1;
    margin-bottom: $spacer;
    align-self: stretch; /* [2] */

    @include media-breakpoint-up(sm) {
      flex: 1 0 30%; /* [3] */
      margin-right: math.div($spacer, 2);
      margin-left: math.div($spacer, 2);
      max-width: calc(33% - #{$spacer}); /* [3] */
    }
  }

  &__link {
    display: block;
    height: 100%; /* [2] */
    padding: math.div($spacer, 2);
    font-weight: $btn-font-weight;
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 2px 2px 0 0 $black;

    @include transition($btn-transition);
    @include vd-pattern-dotted($pattern-dotted-green);

    &:hover {
      background-color: rgba($vd-primary-dark, 0.15);
      text-decoration: none;
    }

    &:focus {
      @include box-shadow($input-btn-focus-box-shadow);
    }

    &:active {
      top: 2px;
      left: 2px;
      box-shadow: 0 0 0 0 $black;
    }

    &:visited {
      color: currentColor !important;
    }
  }
}
