@charset 'UTF-8';

.vd-nowcard {
  .item {
    background: #fff;
    padding: 1em;
    border: 1px solid #e0e0e0;
    transition: all .3s ease;
  }

  a {
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: underline;
      .item {
        box-shadow: var(--bs-box-shadow);
      }
    }
    &:focus {
      background: none;
      outline: none;
    }
  }
}
