@charset "UTF-8";

#login-form-collapse,
#logout-form-collapse {
  position: absolute;
  z-index: 1000;
  background-color: $white;
  margin-left: -1rem !important;
  margin-right: 0 !important;
  margin-top: 6rem !important;
}

@include media-breakpoint-up(md) {
  #login-form-collapse,
  #logout-form-collapse {
    margin-right: 0 !important;
    margin-top: 3rem !important;
    max-width: 450px;
  }
}