/**
 * square bullet list
 */
.vd-list-links,
.vd-menu-list-links {
  color: $black;
  list-style-type: square;
  margin-bottom: ($spacer * 2);
  padding-left: $spacer;

  li {
    color: $primary;
    margin-bottom: $spacer;
  }

  .nav-link {
    color: $primary;
    padding: 0.5rem 1rem;
  }
}

.vd-menu-list-links {
  margin-bottom: 0;

  li {
    margin-bottom: 0;
  }
}
