/**
 * Logo of the website
 *
 * 1. Offset the blason on the left
 * 2. Fix SVG in <img> tags not scaling in IE9, IE10, IE11
 *    https://gist.github.com/larrybotha/7881691
 * 3. Align little blason at the end (bottom)
 * 4. Align image at the start (top)
 * 5. Fix SVG not showing in IE
 */
.vd-logo {
  display: inline-block;
  margin-bottom: $spacer * 3;

  &__image {
    height: auto;
    width: 12em;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      max-width: 12em; /* [5] */
      width: auto; /* [5] */
    }
  }

  &--alt {
    display: flex;

    .vd-logo__image {
      align-self: flex-start; /* [4] */
    }
  }

  &__blason {
    margin-left: -3 * $spacer; /* [1] */
    position: absolute;
    width: 1.8em;

    img {
      width: 100%; /* [2] */
    }

    @include media-breakpoint-down(sm) {
      align-self: flex-end; /* [3] */
      margin-right: 2 * $spacer;
    }

    @media print {
      display: none;
    }
  }
}
