.vd-form-group-danger {
  border-left: 5px $vd-danger solid;
  padding-left: $spacer;
}

.form-group {
  margin-bottom: 16px;
}

.form-text {
  display: block;
}

input[type="file"] {
  display: block;
}

label {
  margin-bottom: 0.5rem;
}

legend {
  font-size: 1.5rem;
}
