.vd-social-icons {
  margin-bottom: 0;

  @media print {
    display: none;
  }
}

.vd-social-icon {
  align-items: center;
  background: $black;
  border-radius: 100%;
  color: $white;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  width: 32px;

  &:visited {
    color: $white !important;
  }

  &:hover,
  &:focus {
    background: $link-hover-color;
    color: $white;
    text-decoration: none;
  }
}
