/**
 * Nav-side style
 *
 * 1. The first element of the nav have to look like a headings
 * 2. Every list element has a separator
 * 3. Add a separator at the top of the first element. Because `ul` are inside
 *    `li`
 * 4. Starting at the third level of list, there's a padding on the left.
 *
 * A note for futur me: Sorry for that. Bad design makes me doing bad CSS with
 *                      lot of specificities.
 */
.vd-nav-side {
  > ul > li:first-child > a {
    color: $black;
    font-family: $font-family-serif;
    font-size: $h4-font-size;
    font-weight: $headings-font-weight;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .nav-link {
    border-bottom: 1px solid $vd-neutral-light;

    &.active {
      font-weight: bold;
    }
  }

  .nav:first-child .nav-link {
    border-top: 1px solod $vd-neutral-light;
  }

  > ul ul ul {
    padding-left: $spacer;
  }
}
