@use "sass:math";

/**
 * 1. unstyle list
 */

.vd-pagination {
  margin-bottom: 3em;
}

.vd-pagination__list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none; /* [1] */
  padding-left: 0; /* [1] */
}

.vd-pagination__item {
  flex: 0 1 auto;
  margin-top: 1em;
  padding: math.div($spacer, 4);

  &--next {
    margin-left: auto;
    text-align: right;
  }

  & + &--next {
    margin-left: inherit;
  }

  &.is-active {
    background-color: $pagination-active-bg;
    color: $pagination-active-color;
    pointer-events: none;
  }

  &.is-disabled {
    color: $pagination-disabled-color;
  }
}

.vd-pagination__link {
  display: block;

  &,
  &:hover {
    text-decoration: none;
  }
}

.vd-pagination__title {
  text-decoration: none;

  @include media-breakpoint-up(sm) {
    font-size: 1.3em;
  }
}

.vd-pagination__label {
  display: block;
  font-size: 0.8em;
}
