@use 'sass:math';

.header {
  background-image: url("../svg/long_pattern_squares_green.svg");
  background-position: center top;
  background-repeat: repeat-x;
  background-size: auto 5px;
  padding-top: (math.div($spacer, 1.5));
}
