.vd-reel {
  block-size: auto;
  display: flex;
  overflow: auto hidden;
}

.vd-reel > * {
  flex: 0 0 auto;
  max-width: 400px;
  width: 100%;
}

.vd-reel > img {
  block-size: 100%;
  flex-basis: auto;
  width: auto;
}

.vd-reel > * + * {
  margin-inline-start: 1rem;
}

.vd-reel.overflowing {
  padding-block-end: 1rem;
}

.vd-sticker-title {
  left: -10px;
  top: -50px;
  transform: rotate(-5deg);
  z-index: 55;
}
