@charset 'UTF-8';

.vd-reel {
  display: flex;
  block-size: auto;
  overflow-x: auto;
  overflow-y: hidden;
}

.vd-reel > * {
  flex: 0 0 auto;
  width: 100%;
  max-width: 400px;
}

.vd-reel > img {
  block-size: 100%;
  flex-basis: auto;
  width: auto;
}

.vd-reel > * + * {
  margin-inline-start: 1rem;
}

.vd-reel.overflowing {
  padding-block-end: 1rem;
}

.vd-sticker-title {
  z-index: 55;
  top: -50px;
  left: -10px;
  transform: rotate(-5deg);
}
