/**
 * footer
 *
 * 1. add a white line between on top of the green border
 * 2. Make text and links more readable
 */
.footer {
  background-color: $dark;
  background-image: url("../svg/bars_black.svg");
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: auto 21px;
  border-bottom: 23px solid $vd-primary;
  color: $white; /* [2] */
  padding: $spacer 0 $spacer;
  position: relative; /* [1] */

  &:after {
    border-top: 2px solid $white; /* [1] */
    bottom: 0; /* [1] */
    content: ''; /* [1] */
    display: block; /* [1] */
    left: 0; /* [1] */
    position: absolute; /* [1] */
    width: 100%; /* [1] */
  }

  a {
    &,
    &:visited {
      color: $white; /* [2] */
    }

    &:focus {
      color: $body-color; /* [2] */
    }
  }

  @media print {
    display: none;
  }
}

.footer-logo {
  margin-bottom: $spacer;
  max-width: $spacer * 2;
  width: 100%;
}
