// print
@page {
  size: A4;
}

@media print {
  /**
   * Reset body size
   */
  body {
    margin: 0;
    padding: 0 !important;
    min-width: 1000px;
  }

  /**
   * Fix firefox print
   * https://github.com/twbs/bootstrap/issues/23489
   *
   * 1. Only apply on Firefox (see http://browserhacks.com/)
   * 2. Fix Firefox messing with printing flexbox
   */
  @supports (-moz-appearance:meterbar) and
    (background-blend-mode:difference,normal) { /* [1] */
    .row {
      display: block; /* [2] */
    }
  }

  aside,
  .vd-content-column,
  .vd-print-full-width {
    flex-basis: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
  }

  /**
   * Remove interactive elements. They are useless on print
   */
  video,
  audio,
  object,
  embed {
    display: none;
  }
}
