@import "../../../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
    $utilities,
    (
      "color": (
        property: color,
        class: text,
        values: map-merge(
          $utilities-text-colors,
          (
            "inherit": inherit,
          )
        )
      ),
      "border-color": (
        property: border-color,
        class: border,
        local-vars: (
          "border-opacity": 1
        ),
        values: map-merge(
          $utilities-border-colors,
          (
            "light": $vd-neutral-light,
          )
        )
      )
    )
);
