// CUSTOM VARIABLES CREATED FOR VD.CH
//
// This file is intended for all variables that should be available to
// Bootstrap in this theme but are not Bootstrap defaults

// TABLE OF CONTENT
//
// Colors
// Patterns
// Typography
// Icons

// Colors
//
// All custom colors (only those not defined in bootstrap-variables.scss),
// based on the design mockups

// Header, separators, stripes
$vd-gray-light:             #aab6db;
$vd-gray-lighter:           #dce3e8;
$vd-gray-lighter-2:         #c3d1dc;

$vd-green-darker:           #1e5e02;
$vd-green:                  #40d940;
$vd-green-light:            #9f3;
$vd-green-lighter:          #cf9;

$vd-purple-2:               #9f42ff;

// Text colors
$vd-gray-dark:              #080808;
$vd-gray:                   #697983;
$vd-green-dark:             #02851a;
$vd-purple:                 #90f;

// Button colors
$white:                     #fff;
$black:                     #000;
$vd-green-dark-2:           #028b02;

// Footer colors
$vd-gray-darker:            #273c46;

// Overlay color
$vd-gray-lightest:          #e0eaf0;

// States colors
$vd-success:                $vd-green-dark-2;
$vd-warning:                #ff9c00;
$vd-danger:                 #c3105c;
$vd-info:                   #82afcc;
$vd-focus:                  #0074d9;

// Gradient color
$vd-gradient:               linear-gradient(to right, $vd-green 0%, #008772 33%, #008772 40%, #0c6 100%);

// Patterns
//
// All the patterns used as background
// Must be used with the `@ include vd-pattern-dotted($code, $viewbox-x: 4, $viewbox-y: 4)` mixin
$pattern-gray-color: str-replace(#{$vd-gray-lighter-2}, '#', '%23');
$pattern-dotted-gray: "%3Crect%20fill%3D%27#{$pattern-gray-color}%27%20x%3D%270%27%20y%3D%270%27%20width%3D%271%27%20height%3D%271%27%3E%20%3C%2Frect%3E%3Crect%20fill%3D%27#{$pattern-gray-color}%27%20x%3D%272%27%20y%3D%272%27%20width%3D%271%27%20height%3D%271%27%3E%20%3C%2Frect%3E";
$pattern-green-color: str-replace(#{$vd-green-light}, '#', '%23');
$pattern-dotted-green-bright: "%3Crect%20fill%3D%27#{$pattern-green-color}%27%20x%3D%270%27%20y%3D%270%27%20width%3D%271%27%20height%3D%271%27%3E%20%3C%2Frect%3E%3Crect%20fill%3D%27#{$pattern-green-color}%27%20x%3D%272%27%20y%3D%272%27%20width%3D%271%27%20height%3D%271%27%3E%20%3C%2Frect%3E";
$pattern-dotted-green-color: str-replace(#{$vd-green}, '#', '%23');
$pattern-dotted-green: "%3Crect%20fill%3D%27#{$pattern-dotted-green-color}%27%20x%3D%270%27%20y%3D%270%27%20width%3D%271%27%20height%3D%271%27%3E%20%3C%2Frect%3E%3Crect%20fill%3D%27#{$pattern-dotted-green-color}%27%20x%3D%272%27%20y%3D%272%27%20width%3D%271%27%20height%3D%271%27%3E%20%3C%2Frect%3E";
$pattern-bars-gray-02-color: str-replace(#{$vd-gray-lighter-2}, '#', '%23');
$pattern-bars-gray-02: "%3Cpolygon fill=%22#{$pattern-bars-gray-02-color}%22 points=%220,4 0.5306,4 0,3.4694 	%22/>%3Cpolygon fill=%22#{$pattern-bars-gray-02-color}%22 points=%220,0 0,0.5299 3.4701,4 4,4 4,3.4694 0.5306,0%22/>%3Cpolygon fill=%22#{$pattern-bars-gray-02-color}%22 points=%224,0 3.4701,0 4,0.5299%22/>";
$pattern-bars-purple-color: str-replace(#{$vd-purple}, '#', '%23');
$pattern-bars-purple: "%3Cpolygon fill=%22#{$pattern-bars-purple-color}%22 points=%220,4 0.5306,4 0,3.4694 	%22/>%3Cpolygon fill=%22#{$pattern-bars-purple-color}%22 points=%220,0 0,0.5299 3.4701,4 4,4 4,3.4694 0.5306,0%22/>%3Cpolygon fill=%22#{$pattern-bars-purple-color}%22 points=%224,0 3.4701,0 4,0.5299%22/>";

// base64 backgrounds, to set as `background: $pattern-striped-green;`
$pattern-striped-green: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2N0uOnw/4D6AUYGKAAzkAXhMjBBuABMJQAINg5d+/nFCQAAAABJRU5ErkJggg==') repeat;
$pattern-striped-black: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIElEQVQYV2NkYGD4z8DAwMgABTAGXBAuA1OJLADS9B8AguEEBFr1tu0AAAAASUVORK5CYII=') repeat;
$pattern-striped-thick-gray: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAL0lEQVQYV2NkQAKHL975D+MywhjIgrb6KoxgCXRBkBgjNkEUCZB2ZGPBOtAFQQoAprweVPxIkvYAAAAASUVORK5CYII=') repeat;

// Typography
//
// All typography related variables
$vd-content-max-width: 50rem;

// Icons
//
// Sometimes we need some SVG icons in our CSS, implemented as background-images

// chevrons
$vd-chevron-right: 'M17.25,9.25l9,9c0.6,0.6,0.9,1.4,0.9,2.3l0,0c0,0.9-0.3,1.6-0.9,2.3l-9,9c-0.8,0.8-2,0.8-2.8,0 c-0.8-0.8-0.8-2,0-2.8l8.4-8.4l-8.4-8.4c-0.8-0.8-0.8-2,0-2.8C15.25,8.45,16.45,8.45,17.25,9.25z';
$vd-chevron-left: 'M23.75,31.75l-9-9c-0.6-0.6-0.9-1.4-0.9-2.3l0,0c0-0.9,0.3-1.6,0.9-2.3l9-9c0.8-0.8,2-0.8,2.8,0 c0.8,0.8,0.8,2,0,2.8l-8.4,8.4l8.4,8.4c0.8,0.8,0.8,2,0,2.8C25.75,32.55,24.55,32.55,23.75,31.75z';
$vd-chevron-top: 'M9.25,23.75l9-9c0.6-0.6,1.4-0.9,2.3-0.9l0,0c0.9,0,1.6,0.3,2.3,0.9l9,9c0.8,0.8,0.8,2,0,2.8 c-0.8,0.8-2,0.8-2.8,0l-8.4-8.4l-8.4,8.4c-0.8,0.8-2,0.8-2.8,0C8.45,25.75,8.45,24.55,9.25,23.75z';
$vd-chevron-bottom: 'M31.75,17.25l-9,9c-0.6,0.6-1.4,0.9-2.3,0.9l0,0c-0.9,0-1.6-0.3-2.3-0.9l-9-9c-0.8-0.8-0.8-2,0-2.8 s2-0.8,2.8,0l8.4,8.4l8.4-8.4c0.8-0.8,2-0.8,2.8,0C32.55,15.25,32.55,16.45,31.75,17.25z';

$vd-blockquote-pointer: 'M0,0c11.3677,0,21.1743,10.6701,21.1743,15c0-4.3299,11.1323-15,22.5-15L0,0z';

$vd-cross: 'M23.1942,20.5l8.5327-8.5326c0.7442-0.7438,0.7442-1.9504,0-2.6942c-0.7442-0.7442-1.9499-0.7442-2.6942,0L20.5,17.8059 l-8.5328-8.5326c-0.7442-0.7442-1.9509-0.7442-2.6942,0c-0.7442,0.7438-0.7442,1.9504,0,2.6942L17.8058,20.5L9.273,29.0326 c-0.7442,0.7442-0.7442,1.9499,0,2.6942c0.3721,0.3721,0.8596,0.5582,1.3471,0.5582c0.4875,0,0.9754-0.1861,1.3471-0.5582 L20.5,23.1941l8.5328,8.5326c0.3721,0.3721,0.8596,0.5582,1.3471,0.5582s0.975-0.1861,1.3471-0.5582 c0.7442-0.7442,0.7442-1.9499,0-2.6942L23.1942,20.5z';
