@charset 'UTF-8';

/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// SVG Icons to use in background-images
@mixin vd-background-image-icon($path, $fill-color, $viewbox-x: 41, $viewbox-y: 41) {
  $color: str-replace(#{$fill-color}, '#', '%23');

  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27#{$viewbox-x}px%27%20height%3D%27#{$viewbox-y}px%27%20viewBox%3D%270%200%20#{$viewbox-x}%20#{$viewbox-y}%27%20preserveAspectRatio%3D%27xMidYMid%20meet%27%3E%3Cpath%20fill%3D%27#{$color}%27%20d%3D%27#{$path}%27%2F%3E%3C%2Fsvg%3E");
}

@mixin vd-pattern-dotted($code, $viewbox-x: 4, $viewbox-y: 4) {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27#{$viewbox-x}px%27%20height%3D%27#{$viewbox-y}px%27%20viewBox%3D%270%200%20#{$viewbox-x}%20#{$viewbox-y}%27%20preserveAspectRatio%3D%27xMidYMid%20meet%27%3E#{$code}%3C%2Fsvg%3E");
  background-repeat: repeat;
  background-size: #{$viewbox-x}px #{$viewbox-y}px;
}

@mixin vd-smart-underline($color: $gray-lightest, $background: $body-bg, $size: 8px, $position: 0.6em) {
  display: inline;
  background-image: linear-gradient($background 50%, $color 50%);
  background-size: 1px $size;
  background-repeat: repeat-x;
  background-position: 0 $position;
  text-decoration: none;
}

//
// A11Y
//
@mixin vd-focus-effect() {
  outline: 3px solid $vd-focus;
}
