<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>

    {{#if fabricator}}<link rel="stylesheet" href="./{{baseurl}}/assets/fabricator/styles/f.css">{{/if}}

    <!-- foehn styles -->
    <link rel="stylesheet" href="./{{baseurl}}/assets/foehn/styles/foehn.css">
    <!-- /foehn styles -->

</head>
<body>

    {{#if fabricator}}
        {{> f-icons}}
        {{> f-menu}}
        <div class="f-container">
            {{> f-control-bar}}
    {{/if}}


    {% body %}


    {{#if fabricator}}
        </div>
    <script src="./{{baseurl}}/assets/fabricator/scripts/f.js"></script>
    {{/if}}

    <!-- foehn scripts -->
    <script src="./{{baseurl}}/assets/foehn/scripts/foehn.js"></script>
    <!-- /foehn scripts -->

</body>
</html>
