{{> @header  }}

<div class="container py-1">
      {{> @breadcrumb }}
</div>

<main class="container container-small" id="main">
  {{> @publish-time }}
  <h1 class="text-center mb-3">{{ news.title }}</h1>

  {{> @lead }}

  <div class="text-center mt-2">
    {{> @social-icons }}
  </div>

  {{> @figure--category medias.image styleModifier='vd-teaser-img' }}

  {{> @paragraph }}
  {{> @blockquote }}
  {{> @paragraph }}

  <h2>Liens</h2>
  {{> @list-links }}
  {{render '@download-list'}}
  {{render '@media-list'}}
  {{render '@video-list'}}

</main>

{{> @footer }}
