<article id="faq-{{ question | truncate(3) }}">
  <h4>{{ question }} {{ loop.index }} xx</h4>
  <p>{{ answer }}</p>
  <footer>
    <dl class="row small text-muted">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">{{ author }}</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>
