{% extends '@template--default' %}
{% block main %}

<section class="mb-4">
  <h3>Organigramme à télécharger</h3>
  <p>L'organigramme de l'Etat avec les coordonnées des principales entités, mis à jour au 5 février 2016, est disponible en format PDF (A3).</p>
  <ul class="vd-list-icons">
    <li>
      <span class="fa fa-download" aria-hidden="true"></span> <a href="#">Télécharger l'organigramme détaillé (PDF, 230Ko)</a>
    </li>
  </ul>



</section>

<section class="mb-4">
  <h2 class="sr-only">Départements</h2>

  <ul class="list-unstyled">
  {% for autority in autorities %}
    <li class="my-3">
      <a href="{% if autority.url %}{{autority.url}}{% else %}#{% endif %}" class="vd-link-invisible"><span class="h3">{{ autority.name }}</span>{% if autority.abbr %}<small> &dash; <span class="sr-only">Abbreviation: </span>{{ autority.abbr }}</small>{% endif %}</a>
      {% if autority.autorities %}
      <ul class="list-unstyled">
        {% for autority in autority.autorities %}
        <li class="ml-5 my-3"><a href="{% if autority.url %}{{autority.url}}{% else %}#{% endif %}" class="vd-link-invisible"><span class="lead">{{ autority.name }}</span>{% if autority.abbr %}<small> &dash; <span class="sr-only">Abbreviation: </span>{{ autority.abbr }}</small>{% endif %}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</section>

{% render '@separator--green-pattern-wide', {styleModifier: "my-5"}, true %}

<section class="mb-4">
  <h2 class="mb-4">Autres entités</h2>

  <ul class="list-unstyled">
  {% for autority in autoritiesAlt %}
    <li class="my-3">
      <a href="{% if autority.url %}{{autority.url}}{% else %}#{% endif %}" class="vd-link-invisible"><span class="h3">{{ autority.name }}</span>{% if autority.abbr %}<small> &dash; {{ autority.abbr }}</small>{% endif %}</a>
      {% if autority.autorities %}
      <ul class="list-unstyled">
        {% for autority in autority.autorities %}
        <li class="ml-5 my-3"><a href="{% if autority.url %}{{autority.url}}{% else %}#{% endif %}" class="vd-link-invisible"><span class="lead">{{ autority.name }}</span>{% if autority.abbr %}<small> &dash; {{ autority.abbr }}</small>{% endif %}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</section>

{% endblock %}
