@font-face {
  font-family: 'Meta Serif';
  src: url('MetaSerifWeb-BoldItalic.woff') format('woff');
  font-weight:  600;
  font-style:   italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'Meta Serif';
  src: url('MetaSerifWeb-Bold.woff') format('woff');
  font-weight:  600;
  font-style:   normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Meta Serif';
  src: url('MetaSerifWeb-Book.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Meta Serif';
  src: url('MetaSerifWeb-BookItalic.woff') format('woff');
  font-weight:  600;
  font-style:   italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'Meta';
  src: url('MetaWeb-CondBoldItalic.woff') format('woff');
  font-weight:  600;
  font-style:   italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'Meta';
  src: url('MetaWeb-CondBold.woff') format('woff');
  font-weight:  600;
  font-style:   normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Meta';
  src: url('MetaWeb-CondBook.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Meta';
  src: url('MetaWeb-CondBookItalic.woff') format('woff');
  font-weight:  600;
  font-style:   italic;
  font-stretch: normal;
}

.text-meta h1,
.text-meta h2,
.text-meta h3,
.text-meta h4,
.text-meta h5,
.text-meta h6,
.text-meta .h1,
.text-meta .h2,
.text-meta .h3,
.text-meta .h4,
.text-meta .h5,
.text-meta .h6 {
  font-family: 'Meta' !important;
  font-weight: 600;
  margin-bottom: 1rem;
  font-variant-ligatures: common-ligatures, contextual, discretionary-ligatures;
  font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
  font-kerning: normal;
}

.text-meta h1,
.text-meta .h1 {
  font-size: 2.2rem;
}

.text-meta h2,
.text-meta .h2 {
  font-size: 1.8rem;
}

.text-meta h3,
.text-meta .h3 {
  font-size: 1.5rem;
}

.text-meta p,
.text-meta ul,
.text-meta li {
  font-family: 'Meta Serif' !important;
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  font-weight: 400;
  font-variant-ligatures: common-ligatures, contextual;
  font-variant-numeric: oldstyle-nums, proportional-nums;
  font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
  font-kerning: normal;
}

.text-meta .vd-list-links a {
  font-family: 'Meta Serif' !important;
  font-weight: 400;
  font-size: 20px;
}

.text-meta .breadcrumb .breadcrumb-item {
  font-family: 'Meta' !important;
}

.text-meta .btn {
  font-family: 'Meta' !important;
  font-weight: 600;
}
