{{> @header }}

{{> @page-title-banner }}

<main id="main" class="container mt-3">

  {{> @page-title }}

  <div class="row">

    <div class="col-md-8">

      <h2>Dans ce thème</h2>
      <div class="vd-bg-pattern-green p-1 mb-1">
        {{render '@list-boxed' }}
        <p>{{> @button--default text="Voir tout" }}</p>
      </div>

      <h2 class="sr-only">Sous-pages</h2>
      {{render '@list-links'}}

    </div>

    <aside class="col-md-4 small">

      {{render '@autority-address'}}

      <h2 class="vd-section-title">Autres prestations liées</h2>
      {{> @list-links list-links=otherPrestations }}

    </aside>
  </div>
</main>

{{> @footer }}
