@font-face {
    font-family: 'Museo';
    src: url('museosanscondensed_700italic_macroman/MuseoSansCnd-700-Italic-webfont.eot');
    src: url('museosanscondensed_700italic_macroman/MuseoSansCnd-700-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosanscondensed_700italic_macroman/MuseoSansCnd-700-Italic-webfont.woff2') format('woff2'),
         url('museosanscondensed_700italic_macroman/MuseoSansCnd-700-Italic-webfont.woff') format('woff'),
         url('museosanscondensed_700italic_macroman/MuseoSansCnd-700-Italic-webfont.ttf') format('truetype'),
         url('museosanscondensed_700italic_macroman/MuseoSansCnd-700-Italic-webfont.svg#museo_sans_cond700_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Museo';
    src: url('museosanscondensed_700_macroman/MuseoSansCnd-700-webfont.eot');
    src: url('museosanscondensed_700_macroman/MuseoSansCnd-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosanscondensed_700_macroman/MuseoSansCnd-700-webfont.woff2') format('woff2'),
         url('museosanscondensed_700_macroman/MuseoSansCnd-700-webfont.woff') format('woff'),
         url('museosanscondensed_700_macroman/MuseoSansCnd-700-webfont.ttf') format('truetype'),
         url('museosanscondensed_700_macroman/MuseoSansCnd-700-webfont.svg#museo_sans_cond700') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('museosanscondensed_300_macroman/MuseoSansCnd-300-webfont.eot');
    src: url('museosanscondensed_300_macroman/MuseoSansCnd-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosanscondensed_300_macroman/MuseoSansCnd-300-webfont.woff2') format('woff2'),
         url('museosanscondensed_300_macroman/MuseoSansCnd-300-webfont.woff') format('woff'),
         url('museosanscondensed_300_macroman/MuseoSansCnd-300-webfont.ttf') format('truetype'),
         url('museosanscondensed_300_macroman/MuseoSansCnd-300-webfont.svg#museo_sans_cond300') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('museosanscondensed_300italic_macroman/MuseoSansCnd-300-Italic-webfont.eot');
    src: url('museosanscondensed_300italic_macroman/MuseoSansCnd-300-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosanscondensed_300italic_macroman/MuseoSansCnd-300-Italic-webfont.woff2') format('woff2'),
         url('museosanscondensed_300italic_macroman/MuseoSansCnd-300-Italic-webfont.woff') format('woff'),
         url('museosanscondensed_300italic_macroman/MuseoSansCnd-300-Italic-webfont.ttf') format('truetype'),
         url('museosanscondensed_300italic_macroman/MuseoSansCnd-300-Italic-webfont.svg#museo_sans_cond300_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

.text-museo-calluna, .text-museo-calluna h1, .text-museo-calluna h2, .text-museo-calluna h3, .text-museo-calluna h4, .text-museo-calluna h5, .text-museo-calluna h6, .text-museo-calluna .h1, .text-museo-calluna .h2, .text-museo-calluna .h3, .text-museo-calluna .h4, .text-museo-calluna .h5, .text-museo-calluna .h6 {
  font-family: 'Museo' !important;
}

.text-museo-calluna p {
  font-family: 'Calluna' !important;
}
