

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Default | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto+Slab:300,700" rel="stylesheet">
  </head>
  <body>

    <header class="header">
  <nav class="container fixed-top access-nav" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <nav>
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="nav justify-content-end d-none d-md-flex">
    
    <li class="nav-item">
      <a href="#" class="nav-link">Autorités</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Annuaire</a>
    </li>
    
    <li class="nav-item">
      <span class="nav-link"><span class="fa fa-lock" aria-hidden="true"></span> <a href="formulaire-prestation">Mon compte</a></span>
    </li>
    
  </ul>
</nav>

        <div class="vd-nav-mobile dropdown">
  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" type="button" id="nav-mobile-button">menu</button>

  <nav class="dropdown-menu" aria-labelledby="nav-mobile-button">
    <h2 class="sr-only">Navigation mobile</h2>
    <div class="dropdown-item pt-4 text-center">
      <a class="btn btn-dark" href="../domaines">Tous les thèmes</a>
    </div>
    <div class="dropdown-item px-0 pb-0">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#0">Autorités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Annuaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Contact</a>
        </li>
        <li class="nav-item vd-nav-item-secure">
          <a class="nav-link btn btn-dark" href="../connexion"><span class="fa fa-lock fa-lg" aria-hidden="true"></span> Accéder à l'espace sécurisé</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-item px-0 pb-0">
      <h2 class="vd-heading-light h6 text-center mt-3 mb-0">Découvrir</h2>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#0">International</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Tourisme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Musées</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-item bg-dark">
      <h2 class="vd-heading-light h4 mb-3 text-white text-center h6">Suivre vd.ch sur les réseaux sociaux</h2>
<ul class="list-inline vd-social-icons text-center mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

    </div>
  </nav>
</div>


      </div>

    </div>
    
    <div class="row">
      <div class="col-md-5">
        <a href="../accueil" 
   class="vd-logo" 
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto">
        <form class="input-group vd-search-form my-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form" type="text" class="form-control" placeholder="Rechercher"  aria-describedby="search-form-label">
  <span class="input-group-btn">
  <button class="btn" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary">
  <div class="vd-nav-primary-toggle">
    <div class="container">
      <button type="button" class="d-none d-md-inline-block btn btn-sm btn-dark vd-menu-toggle collapsed" data-toggle="collapse" data-target="#nav-primary-container"  aria-controls="nav-primary-container" aria-expanded="false">
        <span class="sr-only">Accédez au </span>
        Infos et services en ligne
        <span class="fa vd-fa-menu-toggle fa-fw" aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <div class="collapse clearfix" id="nav-primary-container">
    <div class="vd-nav-primary-content d-none d-md-block">
      <div class="container">
        <div class="row">
          <nav class="col-md-8" id="nav-primary">
            <h2 class="sr-only">Navigation par thèmes</h2>
            <ul class="list-unstyled mb-0 row">
              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et soutiens, Musées cantonaux…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Poursuites et faillites, Registre du commerce…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Faune et nature, Energie…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Impôts, rémunérations, fiscalité…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Jours fériés et vacances scolaires…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobile, Navigation…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, Professionnels…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aide aux victimes et auteur-e-s de violences…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Documents d'identité…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, contrôle, casiers judiciaire…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-3 mb-0 col-md-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block pt-1">
    <span class="vd-domain-item-title h2 mt-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Informations sur le territoire, Registre foncier…<span class="sr-only">)</span></span>
  </a>
</li>

              
            </ul>
          </nav>
          <div class="col-md-4">
            <h2 class="vd-heading-light-alt h4 mt-5 mb-3">Les plus visités</h2>
            <ul class="vd-menu-list-links">
              <li><a href="#0">Inscription au chômage</a></li>
              <li><a href="#0">Formulaire d'indemnisation</a></li>
              <li><a href="#0">Vaud Tax 2017</a></li>
              <li><a href="#0">Vacances scolaires et jours fériés</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</header>


<div class="container pt-3">
  <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="breadcrumb-item"><a href="#">Actualités</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

</div>


<main class="container container-small vd-content" id="main">
  <h1 class="text-center mb-3 mt-0">La Journée Oser tous les métiers élargit son offre</h1>
  <p class="text-center"><small>Publié le <time datetime="2017-03-31T13:05:23+00:00">31.03.2017</time>
</small></p>


  
  <p class="lead">Cette année, deux nouveaux ateliers complètent l’offre de la traditionnelle Journée oser tous les métiers (#jom) du 10 novembre: « Métiers techniques» pour les filles et « Enseignant de classes 1 et 2P (enfantine) » pour les garçons.</p>

  <h2 class="vd-heading-light h4 mb-3 text-center">Partager la page</h2>
<ul class="list-inline vd-social-icons text-center mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>


  <figure class="figure">
  <img
    class="img-fluid"
    
    src="../../assets/img/picture-960x640.jpg"
    srcset="../../assets/img/picture-320x213.jpg 320w, ../../assets/img/picture-540x360.jpg 540w, ../../assets/img/picture-720x480.jpg 720w, ../../assets/img/picture-960x640.jpg 960w, ../../assets/img/picture-1140x760.jpg 1140w" alt="Alternative text">

  <figcaption class="figure-caption">Ceci est une légende<span class="vd-figure-credits">Crédit photo</span></figcaption>
</figure>


  <p>
    Explorer de nouveaux univers professionnels au-delà des secteurs traditionnellement féminins ou masculins, c'est ce que proposera la Journée Oser tous les métiers le jeudi 10 novembre prochain. Les filles accompagneront un homme dans sa journée de travail, et les garçons une femme. En plus de cette mise en situation professionnelle, les écoliers auront la possibilité de participer aux ateliers organisés par le BEFH.
  </p>

  <blockquote class="blockquote">
  
  <p>La démocratie ne se découpe pas en morceaux dont on ne choisirait que les meilleurs.</p>
  <cite class="blockquote-footer">Pascal Broulis, Conseil d'État de Vaud</cite>

</blockquote>


  <p>Avec 625 places disponibles, ces ateliers permettront aux filles de découvrir les métiers d’ingénieure, d’informaticienne ou de s’initier à la vie politique au Parlement des filles.</p>
  <ul class="vd-list-links">
    <li><a href="http://www.bicweb.vd.ch/frame.aspx?pPage=/communique.aspx?pObjectID=601487">Communiqué du 1er novembre 2016</a></li>
  </ul>


</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark vd-btn-chevron-t" title="Retour vers le haut de la page">Haut <span class="fa fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#">
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="../../assets/scripts/vendors.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"> </script>
<script>
  WebFont.load({
    google: {
      families: ['Open Sans:400,400i,700,700i', 'Roboto Slab:300,700']
    }
  });
</script>

  </body>
</html>

