

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Default | Foehn</title>

    <!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicon-apple-touch-icon.png?v=1.0.4">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png?v=1.0.4">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png?v=1.0.4">
<link rel="manifest" href="../../assets/manifest/site.webmanifest?v=1.0.4">
<link rel="mask-icon" href="../../assets/svg/safari-pinned-tab.svg?v=1.0.4" color="#4d8b43">
<link rel="shortcut icon" href="../../assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#4d8b43">
<meta name="msapplication-TileImage" content="/assets/img/favicon-mstile-144x144.png">
<meta name="msapplication-config" content="../../assets/xml/browserconfig.xml?v=1.0.4">
<meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="../../assets/styles/main.css">


    <script defer src="../../assets/scripts/fontawesome-all.js"></script>

  </head>
  <body>

    <address itemscope itemtype="http://schema.org/GovernmentOrganization">

  <h2 itemprop="name">
        <a href="#" title="Pages du service Service name" itemprop="url">Service name</a>
  </h2>

  <h3 class="vd-heading-light h4 mt-0">division</h3>

  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
  <p itemscope itemtype ="http://schema.org/Person" class="mb-0">
    <span itemprop="name">Alain Duvoisin</span> <br>
    <span itemprop="jobTitle">Garde Forestier</span> <br>
  </p>
  <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">Rue de la Barre 2</span> <br>
    Case postale <span itemprop="postOfficeBoxNumber">5278</span><br>
    <span itemprop="postalCode">1000</span>
    <span itemprop="addressLocality">Lausanne</span>
    <span class="sr-only" itemprop="addressCountry">Suisse</span>
  </p>

  <p>
    <a href="tel:+41 21 123 45 67"
         content="+41 21 123 45 67"
         itemprop="telephone">+41 21 123 45 67</a><br>
    <a href="mailto:service.departement@vd.ch"
        itemprop="email">service.departement@vd.ch</a><br>
    
      <a href="https://www.google.ch/maps/search/Rue%20de%20la%20Barre%202%205278%201000%20Lausanne%20Suisse%20">Visualiser sur la carte</a><br>
    
    
      
        <a href="https://www.fake-url.com">Lien libre</a>
      
    
  </p>

  <p><a href="#"title="Nous écrire Formulaire de contact"class="btn btn-dark"
   >Nous écrire</a>
</p>

  <div itemscope itemtype="http://schema.org/GovernmentBuilding">
  <h3>Heures d'ouverture<span class="sr-only"> du Service name</span></h3>
  
    
    <p itemprop="openingHours" content="Mo,Tu,We,Th,Fr 08:00-11:30,13:30-16:30">du lundi au vendredi de 8h00 à 11h30 et de 13h30 à 16h30</p>
    
  
  <p>Nous sommes fermés pendant la période des fêtes</p>
  </div>
  <h3>CCP<span class="sr-only"> du Service name</span></h3>
  <p>10-206496-4</p>

  <img class="img-fluid"
       src="https://placehold.it/960x640/ea09ff/000001?text=Default|960x640"
       srcset="https://placehold.it/320x210/d8e7ff/000001?text=320x210 320w, https://placehold.it/540x360/a4c6fc/000001?text=540x360 540w, https://placehold.it/720x480/6ba4ff/000001?text=720x480 720w, https://placehold.it/960x640/3f89ff/000001?text=960x640 960w, https://placehold.it/1140x760/0a68ff/fffffa?text=1140x760 1140w"
       alt="Alternative text"
       itemprop="image">
</address>


    <script src="../../assets/scripts/jquery.slim.min.js"></script>
<script src="../../assets/scripts/popper.min.js"></script>
<script src="../../assets/scripts/bootstrap.min.js"></script>
<script src="../../assets/scripts/foehn-scripts--footer.js"></script>

  </body>
</html>

