

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Preview Layout</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">

  </head>
  <body>

    <div class="row">
  
  <div class="col-sm-3">
    <div class="card mb-1">
      <div class="card-img-top" style="background-color: #aab6db; min-height: 10em;"></div>
      <div class="card-block">
        <h4 class="card-title">gray-light</h4>
        <p class="card-text"><code>#aab6db</code></p>
      </div>
    </div>
    <!-- <div style="background-color: #aab6db;" class="pb-3">gray-light</div>
    <code>#aab6db</code> -->
  </div>
  
  <div class="col-sm-3">
    <div class="card mb-1">
      <div class="card-img-top" style="background-color: #dce3e8; min-height: 10em;"></div>
      <div class="card-block">
        <h4 class="card-title">gray-lighter</h4>
        <p class="card-text"><code>#dce3e8</code></p>
      </div>
    </div>
    <!-- <div style="background-color: #dce3e8;" class="pb-3">gray-lighter</div>
    <code>#dce3e8</code> -->
  </div>
  
  <div class="col-sm-3">
    <div class="card mb-1">
      <div class="card-img-top" style="background-color: #c3d1dc; min-height: 10em;"></div>
      <div class="card-block">
        <h4 class="card-title">gray-lighter-2</h4>
        <p class="card-text"><code>#c3d1dc</code></p>
      </div>
    </div>
    <!-- <div style="background-color: #c3d1dc;" class="pb-3">gray-lighter-2</div>
    <code>#c3d1dc</code> -->
  </div>
  
  <div class="col-sm-3">
    <div class="card mb-1">
      <div class="card-img-top" style="background-color: #1e5e02; min-height: 10em;"></div>
      <div class="card-block">
        <h4 class="card-title">green-darker</h4>
        <p class="card-text"><code>#1e5e02</code></p>
      </div>
    </div>
    <!-- <div style="background-color: #1e5e02;" class="pb-3">green-darker</div>
    <code>#1e5e02</code> -->
  </div>
  
  <div class="col-sm-3">
    <div class="card mb-1">
      <div class="card-img-top" style="background-color: #40d940; min-height: 10em;"></div>
      <div class="card-block">
        <h4 class="card-title">green</h4>
        <p class="card-text"><code>#40d940</code></p>
      </div>
    </div>
    <!-- <div style="background-color: #40d940;" class="pb-3">green</div>
    <code>#40d940</code> -->
  </div>
  
  <div class="col-sm-3">
    <div class="card mb-1">
      <div class="card-img-top" style="background-color: #9f3; min-height: 10em;"></div>
      <div class="card-block">
        <h4 class="card-title">green-light</h4>
        <p class="card-text"><code>#9f3</code></p>
      </div>
    </div>
    <!-- <div style="background-color: #9f3;" class="pb-3">green-light</div>
    <code>#9f3</code> -->
  </div>
  
  <div class="col-sm-3">
    <div class="card mb-1">
      <div class="card-img-top" style="background-color: #cf9; min-height: 10em;"></div>
      <div class="card-block">
        <h4 class="card-title">green-lighter</h4>
        <p class="card-text"><code>#cf9</code></p>
      </div>
    </div>
    <!-- <div style="background-color: #cf9;" class="pb-3">green-lighter</div>
    <code>#cf9</code> -->
  </div>
  
  <div class="col-sm-3">
    <div class="card mb-1">
      <div class="card-img-top" style="background-color: #9f42ff; min-height: 10em;"></div>
      <div class="card-block">
        <h4 class="card-title">purple-2</h4>
        <p class="card-text"><code>#9f42ff</code></p>
      </div>
    </div>
    <!-- <div style="background-color: #9f42ff;" class="pb-3">purple-2</div>
    <code>#9f42ff</code> -->
  </div>
  
  <div class="col-sm-3">
    <div class="card mb-1">
      <div class="card-img-top" style="background-color: #080808; min-height: 10em;"></div>
      <div class="card-block">
        <h4 class="card-title">gray-dark</h4>
        <p class="card-text"><code>#080808</code></p>
      </div>
    </div>
    <!-- <div style="background-color: #080808;" class="pb-3">gray-dark</div>
    <code>#080808</code> -->
  </div>
  
  <div class="col-sm-3">
    <div class="card mb-1">
      <div class="card-img-top" style="background-color: #697983; min-height: 10em;"></div>
      <div class="card-block">
        <h4 class="card-title">gray</h4>
        <p class="card-text"><code>#697983</code></p>
      </div>
    </div>
    <!-- <div style="background-color: #697983;" class="pb-3">gray</div>
    <code>#697983</code> -->
  </div>
  
  <div class="col-sm-3">
    <div class="card mb-1">
      <div class="card-img-top" style="background-color: #02851a; min-height: 10em;"></div>
      <div class="card-block">
        <h4 class="card-title">green-dark</h4>
        <p class="card-text"><code>#02851a</code></p>
      </div>
    </div>
    <!-- <div style="background-color: #02851a;" class="pb-3">green-dark</div>
    <code>#02851a</code> -->
  </div>
  
  <div class="col-sm-3">
    <div class="card mb-1">
      <div class="card-img-top" style="background-color: #90f; min-height: 10em;"></div>
      <div class="card-block">
        <h4 class="card-title">purple</h4>
        <p class="card-text"><code>#90f</code></p>
      </div>
    </div>
    <!-- <div style="background-color: #90f;" class="pb-3">purple</div>
    <code>#90f</code> -->
  </div>
  
</div>



    <script src="//code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../assets/scripts/vendors.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        custom: {
          families: ['Graphik:n5,n4,i4', 'Produkt:n3,i3,n7,n5'],
          urls: ['../../assets/fonts/fonts.css']
        }
      });
    </script>
  </body>
</html>

