

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Default | Foehn</title>

    <!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicon-apple-touch-icon.png?v=1.3.0">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png?v=1.3.0">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png?v=1.3.0">
<link rel="manifest" href="../../assets/manifest/site.webmanifest?v=1.3.0">
<link rel="mask-icon" href="../../assets/svg/safari-pinned-tab.svg?v=1.3.0" color="#4d8b43">
<link rel="shortcut icon" href="../../assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#4d8b43">
<meta name="msapplication-TileImage" content="/assets/img/favicon-mstile-144x144.png">
<meta name="msapplication-config" content="../../assets/xml/browserconfig.xml?v=1.3.0">
<meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="../../assets/styles/main.css">


    <script defer src="../../assets/scripts/fontawesome-all.js"></script>

  </head>
  <body>

    <header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex
                flex-wrap
                justify-content-between
                justify-content-md-end
                d-print-none">
      <div class="mr-3">
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-md-right small">
    
    <li class="list-inline-item">
      <a href="#" class="">Autorités</a>
    </li>
    
    <li class="list-inline-item">
      <a href="#" class="">Annuaire</a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a href="../accueil"
   class="vd-logo"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
    <nav class="pb-1">
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
      
        <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">Départements</a></li>
      
    
    
  </ol>
</nav>

  </div>
</div>

<main id="main">
  <div class="vd-bg-pattern-gray">
    <h1 class="container mt-0">Départements</h1>

  </div>

  <div class="container mt-5 vd-content">
    

<section class="mb-4">
  <h3>Organigramme à télécharger</h3>
  <p>L'organigramme de l'Etat avec les coordonnées des principales entités, mis à jour au 5 février 2016, est disponible en format PDF (A3).</p>

  
<ul class="vd-list-icons">
  
  <li>
    <span class="fa fa-download" aria-hidden="true"></span> <a href="#">Télécharger l'organigramme détaillé (PDF, 230Ko)</a>
  </li>
  
  
</ul>



</section>

<section class="mb-4">
  <h2 class="sr-only">Départements</h2>

  <ul class="list-unstyled">
  
    <li class="my-3">
      <a href="#" class="vd-link-invisible d-inline-block"><span class="h3">Territoire et environnement</span><small> &dash; <span class="sr-only">Abbreviation: </span>DTE</small></a>
      
      <ul class="list-unstyled">
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Egalité femmes hommes</span><small> &dash; <span class="sr-only">Abbreviation: </span>BEFH</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Environnement</span><small> &dash; <span class="sr-only">Abbreviation: </span>DGE</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Automobiles et navigation</span><small> &dash; <span class="sr-only">Abbreviation: </span>SAN</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Consommation et affaires vétérinaires</span><small> &dash; <span class="sr-only">Abbreviation: </span>SCAV</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Développement territorial</span><small> &dash; <span class="sr-only">Abbreviation: </span>SDT</small></a></li>
        
      </ul>
      
    </li>
  
    <li class="my-3">
      <a href="#" class="vd-link-invisible d-inline-block"><span class="h3">Formation, jeunesse, culture</span><small> &dash; <span class="sr-only">Abbreviation: </span>DFJC</small></a>
      
      <ul class="list-unstyled">
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Enseignement obligatoire</span><small> &dash; <span class="sr-only">Abbreviation: </span>DGEO</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Enseignement postobligatoire</span><small> &dash; <span class="sr-only">Abbreviation: </span>DGEP</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Enseignement supérieur</span><small> &dash; <span class="sr-only">Abbreviation: </span>DGES</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Affaires culturelles</span><small> &dash; <span class="sr-only">Abbreviation: </span>SERAC</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Enseignement spécialisé et appui à la formation</span><small> &dash; <span class="sr-only">Abbreviation: </span>SESAF</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Protection de la jeunesse</span><small> &dash; <span class="sr-only">Abbreviation: </span>SPI</small></a></li>
        
      </ul>
      
    </li>
  
    <li class="my-3">
      <a href="#" class="vd-link-invisible d-inline-block"><span class="h3">Institutions et sécurité</span><small> &dash; <span class="sr-only">Abbreviation: </span>DIS</small></a>
      
      <ul class="list-unstyled">
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Curatelles et tutelles professionnelles</span><small> &dash; <span class="sr-only">Abbreviation: </span>OCTP</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Police cantonale</span><small> &dash; <span class="sr-only">Abbreviation: </span>POLCANT</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Communes et logement</span><small> &dash; <span class="sr-only">Abbreviation: </span>SCL</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Juridique et législatif</span><small> &dash; <span class="sr-only">Abbreviation: </span>SJL</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Pénitentiaire</span><small> &dash; <span class="sr-only">Abbreviation: </span>SPEN</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Sécurité civile et militaire</span><small> &dash; <span class="sr-only">Abbreviation: </span>SSCM</small></a></li>
        
      </ul>
      
    </li>
  
    <li class="my-3">
      <a href="#" class="vd-link-invisible d-inline-block"><span class="h3">Santé et action sociale</span><small> &dash; <span class="sr-only">Abbreviation: </span>DSAS</small></a>
      
      <ul class="list-unstyled">
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Hôpital universitaire vaudois</span><small> &dash; <span class="sr-only">Abbreviation: </span>CHUV</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Assurances sociales et hébergement</span><small> &dash; <span class="sr-only">Abbreviation: </span>SASH</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Prévoyance et aide sociales</span><small> &dash; <span class="sr-only">Abbreviation: </span>SPAS</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Santé publique</span><small> &dash; <span class="sr-only">Abbreviation: </span>SSP</small></a></li>
        
      </ul>
      
    </li>
  
    <li class="my-3">
      <a href="#" class="vd-link-invisible d-inline-block"><span class="h3">Economie et sport</span><small> &dash; <span class="sr-only">Abbreviation: </span>DECS</small></a>
      
      <ul class="list-unstyled">
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Agriculture et viticulture</span><small> &dash; <span class="sr-only">Abbreviation: </span>SAVI</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Emploi</span><small> &dash; <span class="sr-only">Abbreviation: </span>SDE</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Education physique et sport</span><small> &dash; <span class="sr-only">Abbreviation: </span>SEPS</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Economie</span><small> &dash; <span class="sr-only">Abbreviation: </span>SPECO</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Population</span><small> &dash; <span class="sr-only">Abbreviation: </span>SPOP</small></a></li>
        
      </ul>
      
    </li>
  
    <li class="my-3">
      <a href="#" class="vd-link-invisible d-inline-block"><span class="h3">Infrastructures et ressources humaines</span><small> &dash; <span class="sr-only">Abbreviation: </span>DIRH</small></a>
      
      <ul class="list-unstyled">
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Autorisations de construction</span><small> &dash; <span class="sr-only">Abbreviation: </span>CAMAC</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Mobilité et routes</span><small> &dash; <span class="sr-only">Abbreviation: </span>DGMR</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Systèmes d'information</span><small> &dash; <span class="sr-only">Abbreviation: </span>DSI</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Accueil de jour des enfants</span><small> &dash; <span class="sr-only">Abbreviation: </span>OAJE</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Information sur le territoire</span><small> &dash; <span class="sr-only">Abbreviation: </span>OIT</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Personnel de l'Etat</span><small> &dash; <span class="sr-only">Abbreviation: </span>SPEV</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Conseil et appui en management et organisation</span><small> &dash; <span class="sr-only">Abbreviation: </span>UCA</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Développement durable</span><small> &dash; <span class="sr-only">Abbreviation: </span>UDD</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Unité des opérations foncières</span><small> &dash; <span class="sr-only">Abbreviation: </span>UOF</small></a></li>
        
      </ul>
      
    </li>
  
    <li class="my-3">
      <a href="#" class="vd-link-invisible d-inline-block"><span class="h3">Finances et relations extérieures</span><small> &dash; <span class="sr-only">Abbreviation: </span>DFIRE</small></a>
      
      <ul class="list-unstyled">
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Direction générale de la fiscalité</span><small> &dash; <span class="sr-only">Abbreviation: </span>DGF</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Affaires extérieures</span><small> &dash; <span class="sr-only">Abbreviation: </span>OAE</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Statistique Vaud</span><small> &dash; <span class="sr-only">Abbreviation: </span>StatsVaud</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Analyse et gestion financières</span><small> &dash; <span class="sr-only">Abbreviation: </span>SAGEFI</small></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Immeubles, patrimoine et logistique</span><small> &dash; <span class="sr-only">Abbreviation: </span>SIPAL</small></a></li>
        
      </ul>
      
    </li>
  
  </ul>
</section>

<hr class="vd-separator vd-separator-green-pattern my-5">


<section class="mb-4">
  <h2 class="mb-4">Autres entités</h2>

  <ul class="list-unstyled">
  
    <li class="my-3">
      <a href="#" class="vd-link-invisible d-inline-block"><span class="h3">Chancellerie d'Etat</span></a>
      
      <ul class="list-unstyled">
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Bureau d'information et de communication</span></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Archives cantonales</span></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Médiation administrative</span></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Protection des données et transparence</span></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Groupe Impact</span></a></li>
        
      </ul>
      
    </li>
  
    <li class="my-3">
      <a href="#" class="vd-link-invisible d-inline-block"><span class="h3">Contrôle cantonal des finances</span></a>
      
    </li>
  
    <li class="my-3">
      <a href="#" class="vd-link-invisible d-inline-block"><span class="h3">Cour des comptes</span></a>
      
    </li>
  
    <li class="my-3">
      <a href="#" class="vd-link-invisible d-inline-block"><span class="h3">Groupe Impact</span></a>
      
    </li>
  
    <li class="my-3">
      <a href="#" class="vd-link-invisible d-inline-block"><span class="h3">Médiation administrative</span></a>
      
    </li>
  
    <li class="my-3">
      <a href="#" class="vd-link-invisible d-inline-block"><span class="h3">Ministère public</span></a>
      
      <ul class="list-unstyled">
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Procureur général</span></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Ministère public central</span></a></li>
        
        <li class="ml-5 my-3"><a href="#" class="vd-link-invisible d-inline-block"><span class="lead">Ministères publics d'arrondissement</span></a></li>
        
      </ul>
      
    </li>
  
    <li class="my-3">
      <a href="#" class="vd-link-invisible d-inline-block"><span class="h3">Protection des données et transparence</span></a>
      
    </li>
  
    <li class="my-3">
      <a href="#" class="vd-link-invisible d-inline-block"><span class="h3">Tribunal neutre</span></a>
      
    </li>
  
  </ul>
</section>


  </div>
</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>



    <script src="../../assets/scripts/jquery.slim.min.js"></script>
<script src="../../assets/scripts/popper.min.js"></script>
<script src="../../assets/scripts/bootstrap.min.js"></script>
<script src="../../assets/scripts/foehn-scripts--footer.js"></script>

  </body>
</html>

