

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Default | Foehn</title>

    <!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicon-apple-touch-icon.png?v=0.51.1">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png?v=0.51.1">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png?v=0.51.1">
<link rel="manifest" href="../../assets/manifest/site.webmanifest?v=0.51.1">
<link rel="mask-icon" href="../../assets/svg/safari-pinned-tab.svg?v=0.51.1" color="#47d647">
<link rel="shortcut icon" href="../../assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#283549">
<meta name="msapplication-TileImage" content="/assets/img/favicon-mstile-144x144.png">
<meta name="msapplication-config" content="../../assets/xml/browserconfig.xml?v=0.51.1">
<meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="../../assets/styles/main.css">


    <script async src="../../assets/scripts/foehn-scripts--header.js"></script>
<script defer src="../../assets/scripts/fontawesome-all.js"></script>

  </head>
  <body>

    <form>
  <legend>Recherche dans le registre des licences</legend>

  <p>Veuillez entrer un nom d'enseigne, de rue ou de personne responsable (minimum 3 caractères). Si vous définissez la catégorie, veuillez indiquer le NPA ou la commune.</p>

  <div 
    class="form-group">
  <label 
    for="Enseigne"
    >Nom de l'enseigne <span aria-hidden="true">(requis)</span></label>
  
  <input 
    class="form-control" 
    type="text" 
    id="Enseigne" 
    name="testInput" 
    value=""
     required aria-required="true"
    
    
    
    
    
    
    
    >
</div>


  <div class="form-group">
  <label for="exampleSelect1">Catégorie</label>
  <select class="form-control" id="testSelect">
    
    <option>Curabitur</option>
    
    <option>Maecenas vel</option>
    
    <option>Suspendisse maximus velit non lacus</option>
    
    <option>Sed maximus gohjyt</option>
    
    <option>Aliquam cupiditate, vel!</option>
    
    <option>Nunc eget neque sit amet ipsum auctor laoreet</option>
    
  </select>
</div>


  <div 
    class="form-group">
  <label 
    for="street"
    >Rue</label>
  
  <input 
    class="form-control" 
    type="text" 
    id="street" 
    name="testInput" 
    value=""
    
    
    
    
    
    
    
    
    >
</div>


  <div 
    class="form-group">
  <label 
    for="streetNumber"
    >Numéro de rue</label>
  
  <input 
    class="form-control" 
    type="text" 
    id="streetNumber" 
    name="streetNumber" 
    value=""
    
    
     pattern="[0-9]*"
    
    
    
    
    
    >
</div>


  <div 
    class="form-group">
  <label 
    for="postalCode"
    ><abbr title="Numéro postal d'acheminement">NPA</abbr></label>
  
  <input 
    class="form-control" 
    type="text" 
    id="postalCode" 
    name="postalCode" 
    value=""
    
    
     pattern="[0-9]*"
    
    
    
    
    
    >
</div>


  <div class="form-group">
  <label for="commune" id="communeLabel">Séléctionnez une commune</label>
  <datalist id="listCommunes">
    <select class="form-control" name="commune" aria-labelledby="communeLabel">
      <option>(Toutes)</option>
      <option>Aclens</option>
      <option>Agiez</option>
      <option>Aigle</option>
      <option>Allaman</option>
      <option>Apples</option>
      <option>Arnex-sur-Nyon</option>
      <option>Arnex-sur-Orbe</option>
      <option>Arzier</option>
      <option>Assens</option>
      <option>Aubonne</option>
      <option>Avenches</option>
      <option>Ballaigues</option>
      <option>Ballens</option>
      <option>Bassins</option>
      <option>Baulmes</option>
      <option>Bavois</option>
      <option>Begnins</option>
      <option>Belmont-sur-Lausanne</option>
      <option>Belmont-sur-Yverdon</option>
      <option>Bercher</option>
      <option>Berolle</option>
      <option>Bettens</option>
      <option>Bex</option>
      <option>Bioley-Magnoux</option>
      <option>Bioley-Orjulaz</option>
      <option>Bière</option>
      <option>Blonay</option>
      <option>Bofflens</option>
      <option>Bogis-Bossey</option>
      <option>Bonvillars</option>
      <option>Borex</option>
      <option>Bottens</option>
      <option>Bougy-Villars</option>
      <option>Boulens</option>
      <option>Bourg-en-Lavaux</option>
      <option>Bournens</option>
      <option>Boussens</option>
      <option>Bremblens</option>
      <option>Brenles</option>
      <option>Bretigny-sur-Morrens</option>
      <option>Bretonnières</option>
      <option>Buchillon</option>
      <option>Bullet</option>
      <option>Bursinel</option>
      <option>Bursins</option>
      <option>Burtigny</option>
      <option>Bussigny-près-Lausanne</option>
      <option>Bussy-Chardonney</option>
      <option>Bussy-sur-Moudon</option>
      <option>Carrouge (VD)</option>
      <option>Chamblon</option>
      <option>Champagne</option>
      <option>Champtauroz</option>
      <option>Champvent</option>
      <option>Chardonne</option>
      <option>Chavannes-de-Bogis</option>
      <option>Chavannes-des-Bois</option>
      <option>Chavannes-le-Chêne</option>
      <option>Chavannes-le-Veyron</option>
      <option>Chavannes-près-Renens</option>
      <option>Chavannes-sur-Moudon</option>
      <option>Chavornay</option>
      <option>Chesalles-sur-Moudon</option>
      <option>Cheseaux-Noréaz</option>
      <option>Cheseaux-sur-Lausanne</option>
      <option>Chessel</option>
      <option>Chevilly</option>
      <option>Chevroux</option>
      <option>Chexbres</option>
      <option>Chigny</option>
      <option>Château-d'Oex</option>
      <option>Chéserex</option>
      <option>Chêne-Pâquier</option>
      <option>Clarmont</option>
      <option>Coinsins</option>
      <option>Commugny</option>
      <option>Concise</option>
      <option>Coppet</option>
      <option>Corbeyrier</option>
      <option>Corcelles-le-Jorat</option>
      <option>Corcelles-près-Concise</option>
      <option>Corcelles-près-Payerne</option>
      <option>Corcelles-sur-Chavornay</option>
      <option>Corseaux</option>
      <option>Corsier-sur-Vevey</option>
      <option>Cossonay</option>
      <option>Cottens (VD)</option>
      <option>Crans-près-Céligny</option>
      <option>Crassier</option>
      <option>Cremin</option>
      <option>Crissier</option>
      <option>Cronay</option>
      <option>Croy</option>
      <option>Cuarnens</option>
      <option>Cuarny</option>
      <option>Cudrefin</option>
      <option>Cugy (VD)</option>
      <option>Curtilles</option>
      <option>Daillens</option>
      <option>Denens</option>
      <option>Denges</option>
      <option>Dizy</option>
      <option>Dompierre (VD)</option>
      <option>Donneloye</option>
      <option>Duillier</option>
      <option>Dully</option>
      <option>Démoret</option>
      <option>Echallens</option>
      <option>Echandens</option>
      <option>Echichens</option>
      <option>Eclépens</option>
      <option>Ecublens (VD)</option>
      <option>Epalinges</option>
      <option>Ependes (VD)</option>
      <option>Essert-Pittet</option>
      <option>Essertes</option>
      <option>Essertines-sur-Rolle</option>
      <option>Essertines-sur-Yverdon</option>
      <option>Etagnières</option>
      <option>Etoy</option>
      <option>Eysins</option>
      <option>Faoug</option>
      <option>Ferlens (VD)</option>
      <option>Ferreyres</option>
      <option>Fey</option>
      <option>Fiez</option>
      <option>Fontaines-sur-Grandson</option>
      <option>Forel (Lavaux)</option>
      <option>Forel-sur-Lucens</option>
      <option>Founex</option>
      <option>Froideville</option>
      <option>Féchy</option>
      <option>Genolier</option>
      <option>Giez</option>
      <option>Gilly</option>
      <option>Gimel</option>
      <option>Gingins</option>
      <option>Givrins</option>
      <option>Gland</option>
      <option>Gollion</option>
      <option>Goumoëns</option>
      <option>Grancy</option>
      <option>Grandcour</option>
      <option>Grandevent</option>
      <option>Grandson</option>
      <option>Grens</option>
      <option>Gryon</option>
      <option>Henniez</option>
      <option>Hermenches</option>
      <option>Jongny</option>
      <option>Jorat-Menthue</option>
      <option>Jouxtens-Mézery</option>
      <option>Juriens</option>
      <option>L'Abbaye</option>
      <option>L'Abergement</option>
      <option>L'Isle</option>
      <option>L'Orient</option>
      <option>La Chaux (Cossonay)</option>
      <option>La Coudre</option>
      <option>La Praz</option>
      <option>La Rippe</option>
      <option>La Sarraz</option>
      <option>La Tour-de-Peilz</option>
      <option>Lausanne</option>
      <option>Lavey-Morcles</option>
      <option>Lavigny</option>
      <option>Le Brassus</option>
      <option>Le Chenit</option>
      <option>Le Lieu</option>
      <option>Le Mont-sur-Lausanne</option>
      <option>Le Pont</option>
      <option>Le Sentier</option>
      <option>Le Séchey</option>
      <option>Le Vaud</option>
      <option>Les Bioux</option>
      <option>Les Clées</option>
      <option>Leysin</option>
      <option>Lignerolle</option>
      <option>Lonay</option>
      <option>Longirod</option>
      <option>Lovatens</option>
      <option>Lucens</option>
      <option>Luins</option>
      <option>Lully (VD)</option>
      <option>Lussery-Villars</option>
      <option>Lussy-sur-Morges</option>
      <option>Lutry</option>
      <option>Maracon</option>
      <option>Marchissy</option>
      <option>Mathod</option>
      <option>Mauborget</option>
      <option>Mauraz</option>
      <option>Mex (VD)</option>
      <option>Mies</option>
      <option>Missy</option>
      <option>Moiry</option>
      <option>Mollens (VD)</option>
      <option>Molondin</option>
      <option>Mont-la-Ville</option>
      <option>Mont-sur-Rolle</option>
      <option>Montagny-près-Yverdon</option>
      <option>Montanaire</option>
      <option>Montcherand</option>
      <option>Montherod</option>
      <option>Montilliez</option>
      <option>Montpreveyres</option>
      <option>Montreux</option>
      <option>Montricher</option>
      <option>Morges</option>
      <option>Morrens (VD)</option>
      <option>Moudon</option>
      <option>Mutrux</option>
      <option>Mézières (VD)</option>
      <option>Novalles</option>
      <option>Noville</option>
      <option>Nyon</option>
      <option>Ogens</option>
      <option>Ollon</option>
      <option>Onnens (VD)</option>
      <option>Oppens</option>
      <option>Orbe</option>
      <option>Orges</option>
      <option>Ormont-Dessous</option>
      <option>Ormont-Dessus</option>
      <option>Orny</option>
      <option>Oron</option>
      <option>Orzens</option>
      <option>Oulens-sous-Echallens</option>
      <option>Pailly</option>
      <option>Pampigny</option>
      <option>Paudex</option>
      <option>Payerne</option>
      <option>Penthalaz</option>
      <option>Penthaz</option>
      <option>Penthéréaz</option>
      <option>Perroy</option>
      <option>Poliez-Pittet</option>
      <option>Pompaples</option>
      <option>Pomy</option>
      <option>Prangins</option>
      <option>Premier</option>
      <option>Prilly</option>
      <option>Provence</option>
      <option>Préverenges</option>
      <option>Prévonloup</option>
      <option>Puidoux</option>
      <option>Pully</option>
      <option>Rances</option>
      <option>Renens (VD)</option>
      <option>Rennaz</option>
      <option>Reverolle</option>
      <option>Rivaz</option>
      <option>Roche (VD)</option>
      <option>Rolle</option>
      <option>Romainmôtier-Envy</option>
      <option>Romanel-sur-Lausanne</option>
      <option>Romanel-sur-Morges</option>
      <option>Ropraz</option>
      <option>Rossenges</option>
      <option>Rossinière</option>
      <option>Rougemont</option>
      <option>Rovray</option>
      <option>Rueyres</option>
      <option>Saint-Barthélemy (VD)</option>
      <option>Saint-Cergue</option>
      <option>Saint-George</option>
      <option>Saint-Livres</option>
      <option>Saint-Légier-La Chiésaz</option>
      <option>Saint-Oyens</option>
      <option>Saint-Prex</option>
      <option>Saint-Saphorin (Lavaux)</option>
      <option>Saint-Sulpice (VD)</option>
      <option>Sainte-Croix</option>
      <option>Sarzens</option>
      <option>Saubraz</option>
      <option>Savigny</option>
      <option>Senarclens</option>
      <option>Sergey</option>
      <option>Servion</option>
      <option>Signy-Avenex</option>
      <option>Suchy</option>
      <option>Sullens</option>
      <option>Suscévaz</option>
      <option>Syens</option>
      <option>Sévery</option>
      <option>Tannay</option>
      <option>Tartegnin</option>
      <option>Tolochenaz</option>
      <option>Trey</option>
      <option>Treycovagnes</option>
      <option>Treytorrens (Payerne)</option>
      <option>Trélex</option>
      <option>Tévenon</option>
      <option>Ursins</option>
      <option>Valbroye</option>
      <option>Valeyres-sous-Montagny</option>
      <option>Valeyres-sous-Rances</option>
      <option>Valeyres-sous-Ursins</option>
      <option>Vallorbe</option>
      <option>Vaulion</option>
      <option>Vaux-sur-Morges</option>
      <option>Vevey</option>
      <option>Veytaux</option>
      <option>Vich</option>
      <option>Villars-Epeney</option>
      <option>Villars-Sainte-Croix</option>
      <option>Villars-le-Comte</option>
      <option>Villars-le-Terroir</option>
      <option>Villars-sous-Yens</option>
      <option>Villarzel</option>
      <option>Villeneuve (VD)</option>
      <option>Vinzel</option>
      <option>Vuarrens</option>
      <option>Vucherens</option>
      <option>Vufflens-la-Ville</option>
      <option>Vufflens-le-Château</option>
      <option>Vugelles-La Mothe</option>
      <option>Vuiteboeuf</option>
      <option>Vulliens</option>
      <option>Vullierens</option>
      <option>Vully-les-Lacs</option>
      <option>Yens</option>
      <option>Yverdon-les-Bains</option>
      <option>Yvonand</option>
      <option>Yvorne</option>
    </select> <small id="communefallbackLabel" class="form-text">Merci de le spécifier s'il ne figure pas dans la liste</small>
  </datalist>
  <input id="commune" class="form-control" name="state" list="listCommunes" aria-labelledby="communefallbackLabel">
</div>


  <div 
    class="form-group">
  <label 
    for="responsible"
    >Nom de la personne ou de la raison sociale responsable</label>
  
  <input 
    class="form-control" 
    type="text" 
    id="responsible" 
    name="responsible" 
    value=""
    
    
    
    
    
    
    
    
    >
</div>


  <div class="form-group">
    <button type="submit" class="btn btn-dark">Envoyer</button>

  </div>

</form>


    <script src="../../assets/scripts/jquery.slim.min.js"></script>
<script src="../../assets/scripts/popper.min.js"></script>
<script src="../../assets/scripts/bootstrap.min.js"></script>
<script src="../../assets/scripts/foehn-scripts--footer.js"></script>

  </body>
</html>

