

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Default | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto+Slab:300,700" rel="stylesheet">
  </head>
  <body>

    <h2 class="sr-only">Foire aux questions</h2>

<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4 px-3">
  <h3 class="mt-0">Rechercher dans les questions</h3>

<form class="input-group vd-search-form-regular" action="#">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form" type="text" class="form-control"  aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
  </span>
</form>

</div>

<h3>Questions</h3>

<ul class="vd-list-links">
  
    <li><a href="#faq-Lau...">Laudantium enim similique id repellendus perferendis. ?</a></li>
  
    <li><a href="#faq-Dol...">Doloremque quas voluptate velit culpa enim. ?</a></li>
  
    <li><a href="#faq-Sed...">Sed ipsa iure ut expedita nesciunt. ?</a></li>
  
    <li><a href="#faq-Fug...">Fuga aspernatur ipsa architecto eligendi placeat reprehenderit ut. ?</a></li>
  
    <li><a href="#faq-Ita...">Itaque unde aspernatur sint eum quam. ?</a></li>
  
    <li><a href="#faq-Lau...">Laudantium inventore et eos consectetur suscipit sequi rem quis expedita. ?</a></li>
  
    <li><a href="#faq-Sed...">Sed beatae labore. ?</a></li>
  
    <li><a href="#faq-Ius...">Iusto optio illum aliquam excepturi. ?</a></li>
  
    <li><a href="#faq-Eos...">Eos repellat facilis explicabo sequi sequi asperiores. ?</a></li>
  
    <li><a href="#faq-Por...">Porro eos laborum nostrum ducimus minima autem et et. ?</a></li>
  
</ul>

<h3 class="sr-only">Réponses</h3>


  <article id="faq-Lau...">
  <h4>Laudantium enim similique id repellendus perferendis.  xx</h4>
  <p>Ducimus quis ut enim quas et in. Delectus ut omnis ut praesentium vel necessitatibus. Earum consequatur cupiditate tenetur laboriosam reiciendis et doloribus eius. Debitis voluptates voluptatem ab ut et asperiores pariatur. Similique maxime tempora ut adipisci voluptatem id adipisci soluta. Quo nesciunt quibusdam esse nam quis labore earum.
 Impedit architecto tempore voluptas distinctio voluptatem. Omnis sit ut deleniti voluptatem necessitatibus soluta. Recusandae et enim. Voluptatem aut odio. Tempore et non sapiente.
 Maiores itaque exercitationem sit in sapiente quas. Ea a dolores ut doloremque. Minima fugiat minima quam accusamus odit. Voluptatem perferendis fuga corporis molestiae. Magnam exercitationem voluptas at.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Noah Paul</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Dol...">
  <h4>Doloremque quas voluptate velit culpa enim.  xx</h4>
  <p>Nihil sed impedit dolore accusantium voluptas. Perspiciatis omnis ab qui magnam. Minus eligendi vel assumenda assumenda qui quae. Consectetur omnis non aperiam. Ipsum reiciendis nulla. Explicabo ut voluptate temporibus nesciunt officia.
 Est harum eos sed consequatur. Praesentium velit accusamus architecto quas. Quia atque eos officia fuga aut facere pariatur voluptas est. Quae fugiat fugit odit reprehenderit qui asperiores.
 Dolores voluptates est ipsam libero id iste quibusdam illum. Rem omnis accusantium. Doloremque in nam ut eum officia maiores. Eveniet praesentium fugit necessitatibus inventore quisquam excepturi ad impedit. Cumque nulla odio temporibus cum provident. Explicabo magnam sed est.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Manon Schmitt</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Sed...">
  <h4>Sed ipsa iure ut expedita nesciunt.  xx</h4>
  <p>Consequatur nostrum accusantium. Molestiae quos excepturi dicta. Et aliquam dolor molestiae labore iure voluptate et.
 Quia labore quae quia sapiente dolores. Sapiente excepturi corporis nemo corrupti nostrum sit aperiam. Est repudiandae ut. Quidem et in ut atque rerum.
 Sit velit dolorum voluptatibus qui. Cumque dolore in quo id consectetur possimus magni est. Mollitia veritatis omnis delectus. Maiores adipisci nulla voluptatem provident. Ea temporibus autem cumque asperiores minima molestias nulla fugiat.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Marie Schneider</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Fug...">
  <h4>Fuga aspernatur ipsa architecto eligendi placeat reprehenderit ut.  xx</h4>
  <p>Dolores magni cumque error quae earum. Quia excepturi ipsa dolores aspernatur aliquam repudiandae illo voluptatem facilis. Et voluptas aut id rem ad tempora. Eaque natus ut totam doloribus tempora velit temporibus.
 Nemo sint facilis. Velit incidunt neque vero ea facere in. Quam blanditiis autem harum quisquam id. Labore totam unde magnam expedita totam rerum est dolore natus.
 Dicta vel et optio. Et omnis qui neque ipsam fugit aut nihil vel. Fugit est reiciendis aut. Et aliquam et. Optio magnam qui commodi labore natus.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Jeanne Roy</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Ita...">
  <h4>Itaque unde aspernatur sint eum quam.  xx</h4>
  <p>Rerum quo ab est iusto atque quis distinctio quia est. Aliquam velit non est. Autem repudiandae nostrum dolorem ratione distinctio voluptate blanditiis sint. Maxime in qui laborum delectus consequatur aut est voluptas. Vero officia vel facilis laboriosam consequatur eius adipisci consequuntur at. Illo eaque sit quos.
 Exercitationem quod explicabo qui. Sint dicta iste dolores. Id ut laudantium odio aut autem. Odio eum dolore.
 Saepe possimus placeat sed et sint non ab consequatur voluptatem. Perspiciatis magnam consequuntur eos quis officiis totam. Odit qui accusantium voluptatem.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Maxence Colin</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Lau...">
  <h4>Laudantium inventore et eos consectetur suscipit sequi rem quis expedita.  xx</h4>
  <p>Tempora aspernatur et veniam ipsam vitae dolores. Voluptatem quia suscipit aliquid. Ut nihil voluptas.
 Vel mollitia dolore tempora et sunt consequuntur eos. Minus consectetur enim quam dolor. Quis laudantium sequi ut voluptatem. Et aut rerum qui rerum consequatur nihil id. Ducimus itaque sed libero vel. Officia et nesciunt et est voluptates ipsam.
 Eius rerum pariatur non est recusandae et. Eum exercitationem facilis necessitatibus consequatur aliquam. Repellat odit ut facilis eius voluptatem harum vitae vel. Omnis voluptatem suscipit eaque laboriosam minus praesentium aut. Sit aut tenetur nobis alias. Perspiciatis ut quod modi velit exercitationem enim placeat voluptatem.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Ethan Giraud</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Sed...">
  <h4>Sed beatae labore.  xx</h4>
  <p>Minima et quod consectetur aspernatur quia voluptas. Sit vel impedit minima doloremque consectetur labore. In iste fugit eligendi eveniet et qui quia ipsum. Voluptas blanditiis omnis quaerat id omnis.
 Voluptates qui corporis quas et praesentium suscipit mollitia dolorem. Quis saepe dolor quia et id dolor iusto exercitationem. Consectetur aut temporibus consectetur incidunt veritatis nihil in.
 Hic delectus aut. Rerum odit quia. Veritatis distinctio reiciendis aut dolore repellat ut et qui.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Mael Aubert</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Ius...">
  <h4>Iusto optio illum aliquam excepturi.  xx</h4>
  <p>Saepe laboriosam ex. Explicabo eveniet nemo. Aspernatur nemo ea odit cum eaque repudiandae itaque.
 Deleniti tempore repudiandae quo sint debitis enim. Perferendis delectus a excepturi ipsa et libero ut. Quis accusamus quia illum. Aspernatur dolores facilis doloribus sed harum odio quia voluptates modi.
 Consequatur voluptate nemo molestiae molestiae quis provident ipsum consectetur. Dolor aliquid quo dolores vel dolores vel ea autem cupiditate. Molestiae dolores natus. At id illum eum asperiores. Et aliquid earum quasi quae et non.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Clément Duval</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Eos...">
  <h4>Eos repellat facilis explicabo sequi sequi asperiores.  xx</h4>
  <p>Beatae sit ut nostrum sed sunt suscipit esse et. Enim eius consectetur nobis consequuntur ex autem soluta delectus. Ullam vero placeat et illum. Consectetur quos fugit dolorum ut id molestiae.
 Tenetur repellat ad ea. Itaque alias laudantium animi autem nam qui delectus. Eos earum ut. Harum magnam ducimus sit. Rerum sit magnam.
 Sint cum commodi eos soluta laboriosam fuga debitis aspernatur. Ipsa quis qui est. Officia id aliquam provident corporis et quod. Qui deserunt itaque quae quia non nesciunt sit consequuntur dolore. Reprehenderit temporibus est dignissimos et.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Louise Petit</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Por...">
  <h4>Porro eos laborum nostrum ducimus minima autem et et.  xx</h4>
  <p>Repudiandae ut sed quia. Omnis dignissimos mollitia non delectus aut minima soluta. Qui rerum quae ducimus.
 Vel cum est. Culpa numquam cupiditate quo et nobis deleniti rerum eveniet. Ab architecto nam. Illum modi ratione nisi quae commodi magnam iste est.
 Voluptatem eum nesciunt vel dignissimos quibusdam consequatur. Omnis voluptatibus ad. Odio dolorem doloremque qui sunt minima sapiente occaecati.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Alexandre Remy</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary vd-btn-chevron-t">Haut <span class="fa fa-chevron-up"></span></a>
    </p>
  </footer>
</article>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="../../assets/scripts/vendors.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"> </script>
<script>
  WebFont.load({
    google: {
      families: ['Open Sans:400,400i,700,700i', 'Roboto Slab:300,700']
    }
  });
</script>

  </body>
</html>

