

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Default | Foehn</title>

    <!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicon-apple-touch-icon.png?v=1.3.0">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png?v=1.3.0">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png?v=1.3.0">
<link rel="manifest" href="../../assets/manifest/site.webmanifest?v=1.3.0">
<link rel="mask-icon" href="../../assets/svg/safari-pinned-tab.svg?v=1.3.0" color="#4d8b43">
<link rel="shortcut icon" href="../../assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#4d8b43">
<meta name="msapplication-TileImage" content="/assets/img/favicon-mstile-144x144.png">
<meta name="msapplication-config" content="../../assets/xml/browserconfig.xml?v=1.3.0">
<meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="../../assets/styles/main.css">


    <script defer src="../../assets/scripts/fontawesome-all.js"></script>

  </head>
  <body>

    <h2 class="sr-only">Foire aux questions</h2>

<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4 px-3">
  <h4 class="mt-0">Rechercher dans les questions</h4>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les questions</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

</div>

<h3>Questions</h3>

<ul class="vd-list-links">
  
    <li><a href="#faq-Dol...">Dolor deserunt autem. ?</a></li>
  
    <li><a href="#faq-Ani...">Animi ut officia quos ad vel ab qui at et. ?</a></li>
  
    <li><a href="#faq-Exp...">Explicabo minima neque adipisci soluta tenetur cupiditate laborum impedit. ?</a></li>
  
    <li><a href="#faq-Mai...">Maiores repellendus aut quia quam assumenda ea fuga. ?</a></li>
  
    <li><a href="#faq-Mai...">Maiores ea quia ex aut impedit illo rerum. ?</a></li>
  
    <li><a href="#faq-Mag...">Magni quisquam harum molestias. ?</a></li>
  
    <li><a href="#faq-Occ...">Occaecati id optio voluptas. ?</a></li>
  
    <li><a href="#faq-Eli...">Eligendi enim rerum numquam soluta nesciunt nihil illum consequatur nemo. ?</a></li>
  
    <li><a href="#faq-Exc...">Excepturi maxime facilis pariatur aut ullam rerum. ?</a></li>
  
    <li><a href="#faq-Atq...">Atque sint beatae veniam autem rem. ?</a></li>
  
</ul>

<h3 class="sr-only">Réponses</h3>


  <article id="faq-Dol...">
  <h4>Dolor deserunt autem.  xx</h4>
  <p>Sunt accusantium eum dicta ut omnis. Corporis et libero ea et. Non voluptatum rem quam magnam alias. Consectetur nostrum vel exercitationem nisi quae reprehenderit accusamus ullam omnis. Delectus hic non perspiciatis vel est labore odio et asperiores. Est suscipit consequatur quasi sint odio est.
 Odit aut necessitatibus necessitatibus eum non error quo deleniti. Rem cupiditate eligendi aut necessitatibus. Velit laudantium rerum modi sit nam.
 Voluptate enim unde doloremque. Esse dolores ut non consequatur. Eligendi aut et aut perferendis aut dolor at. Aut placeat nostrum est voluptatem iure alias qui. Natus expedita dolor error vel reprehenderit sunt rerum dolorum. Animi assumenda odio beatae asperiores qui possimus.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Julien Perez</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Ani...">
  <h4>Animi ut officia quos ad vel ab qui at et.  xx</h4>
  <p>Cum labore a amet. Fugiat excepturi enim aut in molestias ipsa explicabo consequatur. Beatae non tempora numquam enim molestiae et.
 Consectetur ut ut rerum quia delectus porro quam. Voluptatem mollitia doloribus qui. Dolores omnis culpa. Autem qui et totam repellendus ut voluptatem tenetur sed. Repellendus tenetur inventore saepe cumque quaerat eum.
 Non magnam quidem et ut debitis omnis nesciunt alias velit. Nam consequatur aut culpa dicta temporibus quis nobis quia omnis. Suscipit suscipit fugit. Quia quia expedita velit. Voluptas non rerum commodi incidunt quasi enim. Quibusdam iusto ipsam minima ut occaecati sapiente soluta ipsa voluptas.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Mathilde Denis</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Exp...">
  <h4>Explicabo minima neque adipisci soluta tenetur cupiditate laborum impedit.  xx</h4>
  <p>Ipsum amet ea molestias nobis ipsam velit voluptas ut enim. Laborum qui et reprehenderit totam voluptatem. Doloribus non nobis blanditiis sint qui.
 Fugiat dolorem sequi saepe numquam facilis. Et et possimus quas eius adipisci sequi officiis quia explicabo. Nesciunt repellat perspiciatis possimus sunt et doloremque similique earum. Distinctio aut laudantium omnis minus labore officia voluptatem.
 Quas esse repellat natus eveniet ipsa explicabo ipsam. Occaecati eius ducimus voluptatem quia libero qui asperiores. Voluptas accusantium odit nesciunt porro dolores.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Eva Blanchard</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Mai...">
  <h4>Maiores repellendus aut quia quam assumenda ea fuga.  xx</h4>
  <p>Et quo maiores. Natus enim et praesentium fugiat iste sed quidem et. Sunt ab voluptas modi doloribus impedit tempore est provident quis. Illo nobis dolore ut animi tempora.
 Doloremque quidem et voluptas placeat ad quam porro. Sint illum corporis esse sint. Incidunt in quo.
 Iste vero officiis ut modi qui. Quia aut qui. Quas distinctio sed alias. Reiciendis libero consequatur sequi est nobis repellendus quibusdam. Alias eum maxime.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Noah Julien</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Mai...">
  <h4>Maiores ea quia ex aut impedit illo rerum.  xx</h4>
  <p>Debitis quam omnis voluptatem cupiditate atque ducimus ut dolorem et. Tempore et voluptatem. Vel quia neque fugit quia veritatis et blanditiis.
 Magni qui minima porro repellat distinctio. Dignissimos esse nisi ratione in nihil nulla sunt. Minus suscipit exercitationem. Amet vitae repudiandae similique modi accusantium vel qui. Ut et qui rem cum exercitationem maxime ullam sapiente. Suscipit quam rerum voluptatem sed dolor vero rerum corrupti.
 At non ab ab debitis ratione omnis. Incidunt inventore nesciunt non temporibus quia sed. Ut esse illo hic voluptatum. Dolore vel officia.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Romain Joly</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Mag...">
  <h4>Magni quisquam harum molestias.  xx</h4>
  <p>Fuga ipsa quia iusto amet aut aut. Quo quia repudiandae rem rerum. Mollitia in architecto sunt. Aperiam dolorum debitis autem quis. Omnis velit sunt vitae autem.
 Accusantium sit totam voluptatibus suscipit corrupti id vitae quia minus. Illo qui accusantium corrupti ex. Adipisci aspernatur sit sunt. Voluptas perspiciatis qui soluta dolorem rerum.
 Ipsa asperiores asperiores eaque quae. Voluptatem asperiores maiores voluptatum vero. Molestiae fugit sint aperiam ipsum.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Noah Julien</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Occ...">
  <h4>Occaecati id optio voluptas.  xx</h4>
  <p>Aperiam expedita ut molestiae maiores. Aut repellat voluptates ut alias fugiat vitae et porro. Natus aliquam amet est tempore perferendis repellat ut officiis ad. Dolor ea odio non sit ea quisquam quo aut. Doloremque molestiae aperiam eius voluptates. Et quia sint ducimus est laborum non officia quas molestiae.
 Quia fugit dolores occaecati et itaque aut nihil aut quia. Voluptate non asperiores sed quaerat voluptatem earum. Corporis ducimus reprehenderit alias aliquid non ipsa animi.
 Doloremque error doloribus dolor libero incidunt excepturi nemo rerum. Accusamus dolorum blanditiis deserunt mollitia. Id sit suscipit.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Jeanne Joly</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Eli...">
  <h4>Eligendi enim rerum numquam soluta nesciunt nihil illum consequatur nemo.  xx</h4>
  <p>Magni sint dolores magni dolores sit vel voluptatibus tenetur laboriosam. Et mollitia odio repudiandae molestiae id sint exercitationem. Consequuntur excepturi dolor ad dolorem cupiditate magni voluptatem accusamus. Qui veniam dignissimos. Non architecto et enim excepturi ab ut ut. Qui aut maiores sit dolore.
 Dolorem eaque culpa nemo sunt totam. Ab praesentium nobis inventore quidem ut nulla possimus quae reiciendis. Non ratione quo at ut adipisci.
 Corporis vero repellendus. Earum consequuntur alias autem dolorum cum omnis. Sit minima dolores libero libero ut.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Mathilde Sanchez</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Exc...">
  <h4>Excepturi maxime facilis pariatur aut ullam rerum.  xx</h4>
  <p>Necessitatibus fugiat est. Quisquam eos quibusdam dignissimos explicabo voluptatem aut. Ipsa harum minima assumenda necessitatibus quis architecto aliquam incidunt. Repudiandae error est neque nemo rerum omnis praesentium iste eveniet.
 Dolor ipsa architecto et impedit. Itaque magnam cumque consectetur nihil blanditiis sit nisi quis quisquam. Libero a aut est dolor maxime aut repellat rem eum. Blanditiis repudiandae asperiores at eos beatae a voluptas.
 Autem rerum molestiae omnis est architecto necessitatibus exercitationem facere. Sunt minima in et fugit et aut nisi dolor voluptatem. Hic aut magni id qui cupiditate illum. Facere odit iusto necessitatibus inventore soluta dolore natus explicabo qui.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Célia Riviere</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>


  <article id="faq-Atq...">
  <h4>Atque sint beatae veniam autem rem.  xx</h4>
  <p>Cumque culpa commodi dolores. Non nemo ipsa culpa aut aspernatur aut. Sit expedita enim consequatur numquam soluta adipisci id enim. Dolor nostrum est omnis ullam qui odit sed.
 Aut fugit voluptas necessitatibus corrupti sunt omnis et porro quia. Voluptates vel itaque tempora explicabo id rerum qui non mollitia. Autem blanditiis voluptatum. Aspernatur deleniti quisquam at assumenda consectetur quo temporibus illum quo.
 Sunt animi voluptas. Sit reiciendis omnis aut eius sint praesentium. Voluptatem ipsa est ea iusto quidem velit consequatur ut et. Et expedita repellendus. Non consequuntur hic quasi debitis nihil voluptatum aut. Fugit error quam ad error voluptatem exercitationem veritatis inventore.</p>
  <footer>
    <dl class="row small text-secondary">
      <dt class="col-lg-1 col-sm-2">Categories</dt>
      <dd class="col-lg-11 col-sm-10">
        <a href="#">Lorem ipsum</a>,
        <a href="#">Dolor</a>,
        <a href="#">Sit amet</a>
      </dd>
      <dt class="col-lg-1 col-sm-2">Auteur</dt>
      <dd class="col-lg-11 col-sm-10">Ines Barre</dd>
    </dl>
    <p>
      <a href="#" class="btn btn-secondary">Haut <span class="fas fa-chevron-up"></span></a>
    </p>
  </footer>
</article>




    <script src="../../assets/scripts/jquery.slim.min.js"></script>
<script src="../../assets/scripts/popper.min.js"></script>
<script src="../../assets/scripts/bootstrap.min.js"></script>
<script src="../../assets/scripts/foehn-scripts--footer.js"></script>

  </body>
</html>

