

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Default | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">

  </head>
  <body>

    <header class="header">
  <nav class="vd-access-nav" aria-label="menu accessibilité">
  <ul>
      <li>
        <a class="btn btn-primary" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li><a class="btn btn-primary" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a></li>
      <li>
        <a class="btn btn-primary" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">

    <div class="d-flex flex-column flex-sm-row">

      <div class="mr-auto">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
  <div class="vd-logo-title">
    <div id="aria-vd-logo">Site officiel<span class="sr-only"> de l'État de Vaud</span></div>
    <img src="../../assets/svg/ETATVAUD.svg" alt="État de Vaud" aria-hidden="true" />
  </div>
</a>

      </div>

      <section class="mt-1">
        <h2 class="sr-only">Votre identité</h2>
        <div class="d-flex flex-column">
          <dl class="mb-0">
            <dt class="sr-only">Nom et prénom</dt>
            <dd class="mb-0"><span class="fa fa-lock"></span> <a href="#" title="Gérer mon compte">Jean Villars Gilles</a></dd>

            <dt class="sr-only">Nom du bénéficiaire</dt>
            <dd class="mb-0">Commune de Belmont-sur-Lausanne</dd>
          </dl>
          <div>
            <p>
              <a href="#">Se déconnecter</a>
            </p>
          </div>
        </div><!-- /.d-flex -->
      </section>

    </div><!-- /.row -->
  </div>
</header>



<div class="container mb-2">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand hidden-lg-up">Menu</span>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="tableau-de-bord">Tableau de bord</a>
      </li><li class="nav-item mb-lg-0  active">
        <a class="nav-link" href="historique"><span class="sr-only">(current)</span> Historique</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="prestations">Préstations</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="documents">Documents</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="parametres">Paramètres</a>
      </li>
    </ul>
  </div>
</nav>

</div>


<main id="main">
  <div class="container mb-2">
  <h1>Historique</h1>
</div>


  <div class="container">
    

<h3 class="sr-only">Rechercher dans l'historique</h3>

<form action="#">
  <div class="input-group vd-search-form-regular mb-1">
    <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
    <input id="search-form" type="text" class="form-control"  aria-describedby="search-form-label">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
    </span>
  </div>
  <fieldset class="form-group">
  <legend class="sr-only">Rechercher les</legend>
  
    <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Demandes
  </label>
</div>

  
    <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Tâches
  </label>
</div>

  
    <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    Messages
  </label>
</div>

  
</fieldset>

</form>


<article>
  <header>
    <h3 class="mb-0"><a href="#">Demande de permis de construire</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>HOX0AI-AJQ7K1</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">31-12-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p>L'utilisateur Benoît Horisberger a initié une demande de permis de construire qui nécessite votre approbation. Veuillez cliquer sur la demande et suivre les instructions.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://victor.info">If we program the hard drive, we can get to the AI feed through the redundant SSL alarm!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>azGeH7N4SYuhauL</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">12-11-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Cloturé</dd>
    </dl>
    
  </header>
  <p>Error neque sit. Non nisi autem odio eum. Saepe eligendi sint inventore nam minus est et. Qui aut veritatis eaque molestiae quia tempore ipsum voluptatem.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://clémence.com">Use the wireless JBOD sensor, then you can quantify the primary application!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>NeGDHrdEBu1pJXS</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">3-10-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p>Eos quo quisquam.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://alice.info">I'll parse the 1080p XSS pixel, that should feed the GB bus!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>HTHjhA0dPp34oEt</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">12-9-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Cloturé</dd>
    </dl>
    
  </header>
  <p>eius</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://baptiste.name">Try to bypass the ADP bus, maybe it will navigate the 1080p hard drive!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>T7bjSvWqCudG4Sm</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">14-8-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Cloturé</dd>
    </dl>
    
  </header>
  <p>Saepe vel voluptatem voluptatibus ratione reprehenderit id labore voluptates vero.
Velit corrupti ducimus quo.
Quo aut in.
Modi omnis omnis ut cumque.
At quo sequi ut rem.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://carla.fr">generating the interface won't do anything, we need to index the virtual JSON program!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>kJ78vNSInQ6TB_t</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">16-7-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Cloturé</dd>
    </dl>
    
  </header>
  <p>Rerum sed non similique ad maxime et et et.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://adam.info">You can't generate the microchip without navigating the primary SQL capacitor!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>D2DLTys6oUQ9h3x</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">11-6-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p>Eum et perferendis velit ex rerum magni dignissimos voluptatum. Deleniti ut amet veniam similique possimus quia repellendus doloremque omnis. Deserunt sit aliquam. Accusantium et quibusdam ullam recusandae dicta et eaque nemo. Sit ipsam occaecati soluta earum fugiat excepturi.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://romain.org">Use the primary PNG protocol, then you can back up the 1080p array!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>Pe5JgGBZHviNAHS</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">15-5-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Cloturé</dd>
    </dl>
    
  </header>
  <p>deserunt</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://arthur.info">We need to override the open-source RSS application!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>unFS9_kucTmlRy_</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-4-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Cloturé</dd>
    </dl>
    
  </header>
  <p>A qui dolor quia tempore cumque perferendis a ullam. In maxime rerum doloremque veniam rem. Aut omnis accusantium distinctio fuga rerum. Nihil soluta ex aut modi molestias. Dolorem explicabo nesciunt voluptatem provident aperiam officia fuga quo.
 Ea fuga fugiat voluptatum id reiciendis modi facere commodi enim. Atque est at. Ut quia accusamus laborum.
 Quisquam beatae culpa et sed voluptatum. Est quos aut numquam rerum voluptas. Aliquam aut officiis molestiae. Amet esse reiciendis et molestiae laboriosam inventore qui architecto. Similique veniam quidem ea sed cumque.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://mélissa.com">Use the solid state SAS circuit, then you can generate the redundant monitor!</a></h3>
    
    <dl class="small text-muted row">
      <dt class="col-sm-5 mb-sm-0">Type</dt>
      <dd class="col-sm-7 mb-sm-0">Demande</dd>
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>wm040kK1tmrjhCi</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">5-3-2016</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p>Fuga culpa consequatur nisi magni. Ut consequatur non ratione quidem recusandae odit natus minus. Adipisci omnis magni at hic. Voluptatem sint est itaque. Sed nulla minima placeat. Ut facilis excepturi commodi.
 Vero natus quia repellat ullam. Eaque possimus et vitae quibusdam tempora iste quis aut. Quia modi et porro suscipit cum expedita eaque. Unde enim mollitia assumenda et vel.
 Ad quia perspiciatis animi ipsum perferendis temporibus temporibus vel. At tempora aliquam quia qui dolore. Est molestiae ex hic sit ut non voluptatem nostrum. Eius et omnis voluptatum harum nostrum voluptatem impedit voluptas. Vitae officia fugiat est ea fugiat hic aut ipsam nihil. Adipisci voluptates nam aut excepturi.</p>
  </article>

<nav>
  <h3 class="sr-only">Pagination</h3>
  <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
    <li class="pr-1"><a href="#" class="btn btn-secondary vd-btn-chevron-l">Précédent</a></li>
    <li class="ml-auto"><a href="#" class="btn btn-primary vd-btn-chevron-r">Suivant</a></li>
    
  </ul>
</nav>



  </div>
</main>
<footer class="footer mt-3">
  <div class="container">
    <a href="#" class="footer-btn-backtotop btn btn-sm btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
    <div class="row small">
      <nav aria-label="pied de page" class="col-xs-10">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pourquoi créer un compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mentions légales</a>
          </li>
        </ul>
      </nav>
      <div class="col-xs-2 footer-logo-container">
        <div class="footer-logo">
          <img class="img-fluid" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
        </div>
      </div>
    </div>
  </div>
</footer>




    <script src="//code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../assets/scripts/vendors.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
  WebFont.load({
    custom: {
      families: ['Graphik:n4,i4,n5', 'Produkt:n3,i3,n5,n7'],
      urls: ['../../assets/fonts/fonts.css']
    }
  });
</script>

  </body>
</html>

