

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>List | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto+Slab:300,700" rel="stylesheet">
  </head>
  <body>

    <!-- Start: @list--default -->
<ul><li>Consectetur sed aliquam quam.</li><li>Est quia neque vero.</li><li>Recusandae nisi et.</li><li>Nihil quia harum dolor iste quia voluptatem mollitia nobis.</li><li>Sequi sunt nihil dolorum.</li><li>Fugiat nesciunt consectetur maiores modi autem.</li><li>Harum dolorum quia repudiandae.</li><li>Dolores fugit sed libero aliquam quidem.</li><li>Totam sed labore non vitae officiis.</li><li>Minima est voluptas velit enim autem excepturi.</li></ul>
<!-- End: @list--default -->

<!-- Start: @list--unstyled -->
<ul class="list-unstyled"><li>Consectetur sed aliquam quam.</li><li>Est quia neque vero.</li><li>Recusandae nisi et.</li><li>Nihil quia harum dolor iste quia voluptatem mollitia nobis.</li><li>Sequi sunt nihil dolorum.</li><li>Fugiat nesciunt consectetur maiores modi autem.</li><li>Harum dolorum quia repudiandae.</li><li>Dolores fugit sed libero aliquam quidem.</li><li>Totam sed labore non vitae officiis.</li><li>Minima est voluptas velit enim autem excepturi.</li></ul>
<!-- End: @list--unstyled -->

<!-- Start: @list--ordered -->
<ol><li>Consectetur sed aliquam quam.</li><li>Est quia neque vero.</li><li>Recusandae nisi et.</li><li>Nihil quia harum dolor iste quia voluptatem mollitia nobis.</li><li>Sequi sunt nihil dolorum.</li><li>Fugiat nesciunt consectetur maiores modi autem.</li><li>Harum dolorum quia repudiandae.</li><li>Dolores fugit sed libero aliquam quidem.</li><li>Totam sed labore non vitae officiis.</li><li>Minima est voluptas velit enim autem excepturi.</li></ol>
<!-- End: @list--ordered -->


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="../../assets/scripts/vendors.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"> </script>
<script>
  WebFont.load({
    google: {
      families: ['Open+Sans:400,400i,700,700i', 'Roboto+Slab:300,700']
    }
  });
</script>

  </body>
</html>

