

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Preview Layout</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">

  </head>
  <body>

    <ul class="vd-list-links">
  <li><a href="http://léo.net">Voluptas occaecati numquam.</a></li>
  <li><a href="http://lola.org">Sapiente quasi impedit nesciunt fuga omnis dolores qui corrupti facilis.</a></li>
  <li><a href="http://emilie.net">Vel est et dignissimos quae enim autem eveniet.</a></li>
  <li><a href="http://marie.net">Esse eos ea porro placeat repellendus rerum.</a></li>
  <li><a href="http://camille.fr">Dolor dolore suscipit ducimus non facere natus numquam nulla qui.</a></li>
  <li><a href="http://rayan.fr">Accusantium quas rerum.</a></li>
  <li><a href="http://laura.org">Ut repellendus sit nulla ab reiciendis beatae.</a></li>
  <li><a href="http://lola.org">Rerum quidem blanditiis sed voluptatem voluptatem qui.</a></li>
  <li><a href="http://julien.name">Praesentium vel saepe molestiae consequatur sunt harum.</a></li>
  <li><a href="http://mélissa.info">Asperiores accusantium odit veniam.</a></li>
</ul>



    <script src="//code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../assets/scripts/vendors.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        custom: {
          families: ['Graphik:n5,n4,i4', 'Produkt:n3,i3,n7,n5'],
          urls: ['../../assets/fonts/fonts.css']
        }
      });
    </script>
  </body>
</html>

