

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>List | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto+Slab:300,700" rel="stylesheet">
  </head>
  <body>

    <!-- Start: @list--default -->
<ul><li>Alias laudantium dolorem autem perferendis ut natus eaque odit.</li><li>Commodi et ut sapiente facere.</li><li>Molestiae qui nemo quas nesciunt tempora dolorem quae est non.</li><li>Blanditiis omnis molestias est maiores atque perspiciatis nihil iure.</li><li>Alias quibusdam reprehenderit nulla dolorem.</li><li>Veritatis ea provident quae illum.</li><li>Aut accusantium numquam enim ad eum debitis.</li><li>Voluptas iusto ipsa voluptas minus sunt omnis quis.</li><li>Ab ipsum omnis voluptatum totam quam sequi et quia quasi.</li><li>Dolores alias voluptas.</li></ul>
<!-- End: @list--default -->

<!-- Start: @list--unstyled -->
<ul class="list-unstyled"><li>Alias laudantium dolorem autem perferendis ut natus eaque odit.</li><li>Commodi et ut sapiente facere.</li><li>Molestiae qui nemo quas nesciunt tempora dolorem quae est non.</li><li>Blanditiis omnis molestias est maiores atque perspiciatis nihil iure.</li><li>Alias quibusdam reprehenderit nulla dolorem.</li><li>Veritatis ea provident quae illum.</li><li>Aut accusantium numquam enim ad eum debitis.</li><li>Voluptas iusto ipsa voluptas minus sunt omnis quis.</li><li>Ab ipsum omnis voluptatum totam quam sequi et quia quasi.</li><li>Dolores alias voluptas.</li></ul>
<!-- End: @list--unstyled -->

<!-- Start: @list--ordered -->
<ol><li>Alias laudantium dolorem autem perferendis ut natus eaque odit.</li><li>Commodi et ut sapiente facere.</li><li>Molestiae qui nemo quas nesciunt tempora dolorem quae est non.</li><li>Blanditiis omnis molestias est maiores atque perspiciatis nihil iure.</li><li>Alias quibusdam reprehenderit nulla dolorem.</li><li>Veritatis ea provident quae illum.</li><li>Aut accusantium numquam enim ad eum debitis.</li><li>Voluptas iusto ipsa voluptas minus sunt omnis quis.</li><li>Ab ipsum omnis voluptatum totam quam sequi et quia quasi.</li><li>Dolores alias voluptas.</li></ol>
<!-- End: @list--ordered -->


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="../../assets/scripts/vendors.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"> </script>
<script>
  WebFont.load({
    google: {
      families: ['Open Sans:400,400i,700,700i', 'Roboto Slab:300,700']
    }
  });
</script>

  </body>
</html>

