

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Preview Layout</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">

  </head>
  <body>

    <ul class="list-unstyled">
  <li>Non voluptatibus facilis labore.</li>
  <li>Quaerat sit non.</li>
  <li>Mollitia nihil voluptatem sed laudantium voluptas laboriosam reprehenderit omnis ut.</li>
  <li>Consectetur ab aliquid maxime explicabo inventore ipsam sed odio enim.</li>
  <li>Iste fugiat quasi doloremque eligendi id.</li>
  <li>Libero aliquid est.</li>
  <li>Molestiae pariatur id accusantium hic.</li>
  <li>A deleniti velit rem aut consequatur dolor quo vel.</li>
  <li>Laboriosam illum harum non repellat cumque.</li>
  <li>Eius quibusdam voluptatibus quas.</li>
</ul>


    <script src="../../assets/scripts/vendors.js"></script>
  </body>
</html>

