

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Inline | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/main.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto+Slab:300,700" rel="stylesheet">


    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

  </head>
  <body>

    <ul class="list-inline"><li class=list-inline-item>Consectetur quia sit autem facilis voluptate assumenda quo facere.</li><li class=list-inline-item>Quaerat dolor dignissimos suscipit dolore vero illum dolores doloremque.</li><li class=list-inline-item>Vel et consequatur aperiam veniam nostrum enim nesciunt aliquam.</li><li class=list-inline-item>Similique hic at maxime unde fugiat et sed ut.</li><li class=list-inline-item>Architecto beatae optio numquam veniam unde similique illo.</li><li class=list-inline-item>Quia vitae et minima error voluptatibus nulla consectetur.</li><li class=list-inline-item>Quas occaecati quos rerum qui accusamus.</li><li class=list-inline-item>Qui delectus ut laudantium.</li><li class=list-inline-item>Assumenda enim quia et.</li><li class=list-inline-item>Veritatis consequatur officia alias omnis.</li></ul>


    <script src="../../assets/scripts/jquery.slim.min.js"></script>
<script src="../../assets/scripts/popper.min.js"></script>
<script src="../../assets/scripts/bootstrap.min.js"></script>
<script src="../../assets/scripts/foehn-scripts--footer.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"> </script>
<script>
  WebFont.load({
    google: {
      families: ['Open Sans:400,400i,700,700i', 'Roboto Slab:300,700']
    }
  });
</script>

  </body>
</html>

