

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Logged | Foehn</title>

    <!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicon-apple-touch-icon.png?v=1.6.0">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png?v=1.6.0">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png?v=1.6.0">
<link rel="manifest" href="../../assets/manifest/site.webmanifest?v=1.6.0">
<link rel="mask-icon" href="../../assets/svg/safari-pinned-tab.svg?v=1.6.0" color="#4d8b43">
<link rel="shortcut icon" href="../../assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#4d8b43">
<meta name="msapplication-TileImage" content="/assets/img/favicon-mstile-144x144.png">
<meta name="msapplication-config" content="../../assets/xml/browserconfig.xml?v=1.6.0">
<meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="../../assets/styles/main.css">


    <script defer src="../../assets/scripts/fontawesome-all.js"></script>

  </head>
  <body>

    <section class="vd-login mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <div class="d-flex flex-wrap justify-content-end align-items-center">
    <div class="align-self-center text-right mr-1">
      <p class="mb-0">
      <span class="sr-only">Usager: </span>
        <a href="#">Jean Villard Gilles</a>
      </p>
      <ul class="mb-0 small list-inline">
          <li class="list-inline-item">
            <a href="#">Paramètre de connexion</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Se déconnecter</a>
          </li>
        </ul>
      </div>
    <figure class="m-0 vd-login__avatar">
        <span aria-hiden="true" class="fas fa-user fa-2x vd-login__avatar__image"></span>
      </figure>
    </div>
</section>



    <script src="../../assets/scripts/jquery.slim.min.js"></script>
<script src="../../assets/scripts/popper.min.js"></script>
<script src="../../assets/scripts/bootstrap.min.js"></script>
<script src="../../assets/scripts/foehn-scripts--footer.js"></script>

  </body>
</html>

