

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Default | Foehn</title>

    <!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicon-apple-touch-icon.png?v=1.5.2">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png?v=1.5.2">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png?v=1.5.2">
<link rel="manifest" href="../../assets/manifest/site.webmanifest?v=1.5.2">
<link rel="mask-icon" href="../../assets/svg/safari-pinned-tab.svg?v=1.5.2" color="#4d8b43">
<link rel="shortcut icon" href="../../assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#4d8b43">
<meta name="msapplication-TileImage" content="/assets/img/favicon-mstile-144x144.png">
<meta name="msapplication-config" content="../../assets/xml/browserconfig.xml?v=1.5.2">
<meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="../../assets/styles/main.css">


    <script defer src="../../assets/scripts/fontawesome-all.js"></script>

  </head>
  <body>

    <header class="header" role="banner">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="vd-header-application container">
    <a href="../accueil"
   class="vd-logo"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD-alt.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

  </div>
</header>


<section class="small container text-right mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock" aria-hidden="true"></span>
    
    <a href="#">Jean Villard Gilles</a>
    
  </p>
  
  <p class="mb-0">
    <a href="#">Se déconnecter</a>
  </p>
  
</section>



<main id="main">
  <div class="vd-bg-pattern-gray">
  <div class="container">
    <nav aria-label="Fil d'Ariane">
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
      
        <li class="breadcrumb-item"><a href="#">level 1</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">level 2</a></li>
      
    
      
        <li class="breadcrumb-item"><a href="#">level 3</a></li>
      
    
      
        <li class="sr-only" aria-current="page">level 4</li>
      
    
  </ol>
</nav>

    <h1 class="mt-0">Page title</h1>
  </div>
</div>


  
    <div class="container mb-4">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
  <span class="navbar-brand d-md-none">Menu</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item mb-lg-0  active">
        <a class="nav-link" href="tableau-de-bord"><span class="sr-only">(current)</span> Tableau de bord</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="historique">Historique</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="prestations">Prestations</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="documents">Documents</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="parametres">Paramètres</a>
      </li>
    </ul>
  </div>
</nav>

    </div>
  

  <div class="container">
    

<article class="mb-3 p-1 bg-light">
  <div class="row">
    <div class="col-md-12">
      <header>
        <h3 class="mb-3">
            <a href="">Message important !</a>
        </h3><dl class="small row"><dt class="col-4">Type</dt>
          <dd class="col-8">Communication</dd>
          <dt class="col-4">Reçu le</dt>
          <dd class="col-8">17.02.2017</dd>
          <dt class="col-4">Lu le</dt>
          <dd class="col-8">18.02.2017</dd>
          <dt class="col-4">Quittancé le</dt>
          <dd class="col-8">-</dd>
          
        </dl></header>
      
      <p>En date du 01.01.2017, une nouvelle charte graphique a été dévelopée dans le but de satisfaire le plus grand nombre de personne et de faciliter l&#39;utilisation de l&#39;espace sécurisé. Merci de votre compréhension.</p>
      

      
      <p><small>Une fois quittancé, le message sera disponible jusqu&#39;au ... Dans ce laps de temps, vous pourrez choisir de le conserver indéfiniment.</small></p>
      <footer>
      <h4 class="sr-only">Actions sur la communication</h4>
<ul class="list-inline"><li><a href="#">Quittancer</a></li><li><a href="#">Télécharger</a></li><li><a href="#">Retour...</a></li></ul>
</footer>
    </div>

  </div>
</article>

  </div>
</main>


<footer class="mt-5">

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              
              <ul class="list-unstyled "><li><a href="">Contact</a></li><li><a href="">Pourquoi créer un compte</a></li><li><a href="">Mentions légales</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>



    <script src="../../assets/scripts/jquery.slim.min.js"></script>
<script src="../../assets/scripts/popper.min.js"></script>
<script src="../../assets/scripts/bootstrap.min.js"></script>
<script src="../../assets/scripts/foehn-scripts--footer.js"></script>

  </body>
</html>

