

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Request | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">

  </head>
  <body>

    <article>
  <header>
    <h3 class="mb-0"><a href="#dasdsadasdas">Ceci est une demande</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>HOX0AI-AJQ7K1</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">L'utilisateur Benoît Horisberger a initié une demande de permis de construire qui nécessite votre approbation. Veuillez cliquer sur la demande et suivre les instructions.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>



    <script src="//code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../assets/scripts/vendors.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
  WebFont.load({
    custom: {
      families: ['Graphik:n4,i4,n5', 'Produkt:n3,i3,n5,n7'],
      urls: ['../../assets/fonts/fonts.css']
    }
  });
</script>

  </body>
</html>

