

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Default | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/main.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto+Slab:300,700" rel="stylesheet">


    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

  </head>
  <body>

    <header class="header">
  <nav class="container fixed-top access-nav" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex flex-wrap justify-content-between justify-content-md-end">
      <div>
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-right small">
    
    <li class="list-inline-item">
      <a href="#" class="">Autorités</a>
    </li>
    
    <li class="list-inline-item">
      <a href="#" class="">Annuaire</a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small ml-3 text-right">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a href="../accueil"
   class="vd-logo d-print-none"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form" type="text" class="form-control" placeholder="Rechercher"  aria-describedby="search-form-label">
  <span class="input-group-btn">
  <button class="btn" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true" class="mt-0">Toutes les actualités</h1>
  </div>
</div>


<main id="main" class="container mt-5 vd-content">
  <h1 class="sr-only">Toutes les actualités</h1>


  
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="mt-0">Rechercher dans les actualités</h4>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control"aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="If we bypass the driver, we can get to the XML circuit through the neural SSL program!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://maxime.org">If we bypass the driver, we can get to the XML circuit through the neural SSL program!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?5137"
    srcset="http://lorempixel.com/320/213/?73806 320w, http://lorempixel.com/540/360/?17622 540w, http://lorempixel.com/720/480/?6681 720w, http://lorempixel.com/960/640/?69069 960w, http://lorempixel.com/1140/760/?96341 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Aperiam dolor nobis cum iure. Itaque itaque atque culpa et tempora molestias eos at ut. Aut pariatur provident qui id. Odio quia facilis et.
 Qui error voluptas iste suscipit reiciendis voluptatem porro hic. Blanditiis tempore dolorem accusamus consequatur quas nesciunt sed quos non. Omnis facere aperiam voluptates iusto sequi voluptas quis.
 Harum minus velit id in ipsam mollitia modi qui quas. Nisi recusandae est aliquam odio corporis aperiam...
  </p>
  
  
  <p>
    <a href="http://maxime.org">Lire la suite<span class="sr-only"> de l'article If we bypass the driver, we can get to the XML circuit through the neural SSL program!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can't connect the pixel without backing up the mobile AI system!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://valentin.eu">You can't connect the pixel without backing up the mobile AI system!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?66696"
    srcset="http://lorempixel.com/320/213/?41979 320w, http://lorempixel.com/540/360/?62100 540w, http://lorempixel.com/720/480/?45532 720w, http://lorempixel.com/960/640/?59708 960w, http://lorempixel.com/1140/760/?44275 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Nostrum nihil mollitia temporibus aut quia ut. Illo officia eum similique in deleniti. Vel consequatur quia laudantium. Repellat inventore ullam sapiente. Et quis eos voluptate perferendis ut vel. Error rerum tempora.
  </p>
  
  
  <p>
    <a href="http://valentin.eu">Lire la suite<span class="sr-only"> de l'article You can't connect the pixel without backing up the mobile AI system!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to input the JBOD bandwidth, maybe it will program the redundant panel!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://manon.info">Try to input the JBOD bandwidth, maybe it will program the redundant panel!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?8645"
    srcset="http://lorempixel.com/320/213/?66446 320w, http://lorempixel.com/540/360/?11686 540w, http://lorempixel.com/720/480/?78054 720w, http://lorempixel.com/960/640/?19019 960w, http://lorempixel.com/1140/760/?44075 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Sit qui voluptas maxime quasi veritatis quo cumque. Magni deleniti vero. Inventore voluptas quibusdam distinctio voluptate.
  </p>
  
  
  <p>
    <a href="http://manon.info">Lire la suite<span class="sr-only"> de l'article Try to input the JBOD bandwidth, maybe it will program the redundant panel!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the mobile AI capacitor, then you can calculate the bluetooth matrix!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://lou.fr">Use the mobile AI capacitor, then you can calculate the bluetooth matrix!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?15669"
    srcset="http://lorempixel.com/320/213/?21380 320w, http://lorempixel.com/540/360/?84269 540w, http://lorempixel.com/720/480/?166 720w, http://lorempixel.com/960/640/?23449 960w, http://lorempixel.com/1140/760/?2910 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Eius et impedit dolores id ut. Et laborum fugit quod repellat. Animi dolor similique nulla sapiente rerum omnis. Similique voluptatem iure a est eos. Optio soluta quasi cumque velit rerum architecto culpa ea.
  </p>
  
  
  <p>
    <a href="http://lou.fr">Lire la suite<span class="sr-only"> de l'article Use the mobile AI capacitor, then you can calculate the bluetooth matrix!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we index the matrix, we can get to the TCP feed through the neural FTP program!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://enzo.net">If we index the matrix, we can get to the TCP feed through the neural FTP program!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?45581"
    srcset="http://lorempixel.com/320/213/?39800 320w, http://lorempixel.com/540/360/?4703 540w, http://lorempixel.com/720/480/?1616 720w, http://lorempixel.com/960/640/?19280 960w, http://lorempixel.com/1140/760/?53949 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Placeat quis rerum ut nulla recusandae qui est dolores. Est nesciunt expedita doloremque. A et praesentium voluptatum aliquid.
 Labore est delectus debitis aut modi deserunt pariatur quia molestias. Sint unde dolorem ratione ipsa ut porro repudiandae aut nemo. Aspernatur sunt consequuntur saepe ea qui. Qui doloribus vel quas. Ut recusandae recusandae. Sapiente vel quas.
 Sit minima repellat eius. Harum quo eius. Illum corrupti et rerum veniam...
  </p>
  
  
  <p>
    <a href="http://enzo.net">Lire la suite<span class="sr-only"> de l'article If we index the matrix, we can get to the TCP feed through the neural FTP program!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The EXE feed is down, index the 1080p matrix so we can back up the GB matrix!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://louna.fr">The EXE feed is down, index the 1080p matrix so we can back up the GB matrix!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?43923"
    srcset="http://lorempixel.com/320/213/?96007 320w, http://lorempixel.com/540/360/?60190 540w, http://lorempixel.com/720/480/?82294 720w, http://lorempixel.com/960/640/?32351 960w, http://lorempixel.com/1140/760/?16804 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Dolor possimus odio possimus porro eos.
  </p>
  
  
  <p>
    <a href="https://louna.fr">Lire la suite<span class="sr-only"> de l'article The EXE feed is down, index the 1080p matrix so we can back up the GB matrix!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="calculating the bus won't do anything, we need to hack the 1080p THX application!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://alexandre.fr">calculating the bus won't do anything, we need to hack the 1080p THX application!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?70392"
    srcset="http://lorempixel.com/320/213/?65827 320w, http://lorempixel.com/540/360/?53705 540w, http://lorempixel.com/720/480/?61897 720w, http://lorempixel.com/960/640/?75789 960w, http://lorempixel.com/1140/760/?48645 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Dolore perferendis ut nesciunt at voluptas.
  </p>
  
  
  <p>
    <a href="https://alexandre.fr">Lire la suite<span class="sr-only"> de l'article calculating the bus won't do anything, we need to hack the 1080p THX application!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we copy the monitor, we can get to the AI monitor through the 1080p USB hard drive!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://clara.org">If we copy the monitor, we can get to the AI monitor through the 1080p USB hard drive!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?6345"
    srcset="http://lorempixel.com/320/213/?54313 320w, http://lorempixel.com/540/360/?50410 540w, http://lorempixel.com/720/480/?8916 720w, http://lorempixel.com/960/640/?66217 960w, http://lorempixel.com/1140/760/?43326 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Assumenda aut fuga incidunt dignissimos ipsum consequatur mollitia.
Minima sint incidunt voluptatem doloribus sapiente ipsum.
Est veritatis ad eum est voluptates rerum illum temporibus.
Vel incidunt eaque fugit expedita.
Voluptatem hic blanditiis velit similique repudiandae placeat.
  </p>
  
  
  <p>
    <a href="https://clara.org">Lire la suite<span class="sr-only"> de l'article If we copy the monitor, we can get to the AI monitor through the 1080p USB hard drive!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The EXE hard drive is down, transmit the online program so we can program the FTP array!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://mathilde.com">The EXE hard drive is down, transmit the online program so we can program the FTP array!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?63747"
    srcset="http://lorempixel.com/320/213/?49367 320w, http://lorempixel.com/540/360/?88426 540w, http://lorempixel.com/720/480/?3500 720w, http://lorempixel.com/960/640/?74413 960w, http://lorempixel.com/1140/760/?88503 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    quam
  </p>
  
  
  <p>
    <a href="https://mathilde.com">Lire la suite<span class="sr-only"> de l'article The EXE hard drive is down, transmit the online program so we can program the FTP array!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we hack the capacitor, we can get to the XSS circuit through the optical PNG bandwidth!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://axel.net">If we hack the capacitor, we can get to the XSS circuit through the optical PNG bandwidth!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?52343"
    srcset="http://lorempixel.com/320/213/?78 320w, http://lorempixel.com/540/360/?77036 540w, http://lorempixel.com/720/480/?69253 720w, http://lorempixel.com/960/640/?26677 960w, http://lorempixel.com/1140/760/?22994 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Tenetur vitae placeat quo nobis. Delectus praesentium in fuga. Quia fugiat officia ea. Explicabo id molestias iste itaque accusamus. Distinctio maxime sint architecto nihil sint. Dignissimos corporis est ea in odio quis et et.
  </p>
  
  
  <p>
    <a href="http://axel.net">Lire la suite<span class="sr-only"> de l'article If we hack the capacitor, we can get to the XSS circuit through the optical PNG bandwidth!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list">
        
        <li class="vd-pagination__item vd-pagination__item--previous">
            
            <a href="#" class="vd-pagination__link">
            
                <span class="vd-pagination__title">
                    <span class="fas fa-chevron-left" aria-hidden="true"></span>
                    Page précédente
                </span>
                
                    <span class="sr-only">:</span>
                    <span class="vd-pagination__label">11 sur 244</span>
                
            
            </a>
            
        </li>
        
        
          
        <li class="vd-pagination__item vd-pagination__item--next">
          
            <a href="#" class="vd-pagination__link">
              
                <span class="vd-pagination__title">
                    Page suivante
                    <span class="fas fa-chevron-right" aria-hidden="true"></span>
                </span>
                
                    <span class="sr-only">:</span>
                    <span class="vd-pagination__label">13 sur 244</span>
                  
            
            </a>
            
        </li>
        
    </ul>
</nav>



</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="../../assets/scripts/vendors.js"></script>
<script src="../../assets/scripts/foehn-scripts--footer.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"> </script>
<script>
  WebFont.load({
    google: {
      families: ['Open Sans:400,400i,700,700i', 'Roboto Slab:300,700']
    }
  });
</script>

  </body>
</html>

