

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Activities | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/main.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto+Slab:300,700" rel="stylesheet">


    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

  </head>
  <body>

    <header class="header">
  <nav class="container fixed-top access-nav" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex flex-wrap justify-content-between justify-content-md-end">
      <div>
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-right small">
    
    <li class="list-inline-item">
      <a href="#" class="">Autorités</a>
    </li>
    
    <li class="list-inline-item">
      <a href="#" class="">Annuaire</a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small ml-3 text-right">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a href="../accueil"
   class="vd-logo d-print-none"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form" type="text" class="form-control" placeholder="Rechercher"  aria-describedby="search-form-label">
  <span class="input-group-btn">
  <button class="btn" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="breadcrumb-item"><a href="#">Autorités</a></li>
    
    <li class="breadcrumb-item"><a href="#">Service des automobiles et de la navigation</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true" class="mt-0">Toutes les activités</h1>
  </div>
</div>


<main id="main" class="container mt-5 vd-content">
  <h1 class="sr-only">Toutes les activités</h1>


  
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="You can't input the system without calculating the auxiliary COM matrix!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://sacha.org">You can't input the system without calculating the auxiliary COM matrix!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?58450"
    srcset="http://lorempixel.com/320/213/?74750 320w, http://lorempixel.com/540/360/?30195 540w, http://lorempixel.com/720/480/?54734 720w, http://lorempixel.com/960/640/?38833 960w, http://lorempixel.com/1140/760/?26820 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Suscipit illo aspernatur rem non sed. Eos numquam sint voluptas consequatur nemo totam fuga. Voluptatibus assumenda quia numquam quidem ut velit et. Tempora aut cupiditate dignissimos commodi et aliquam neque qui itaque. Ratione ut voluptates quia.
  </p>
  
  
  <p>
    <a href="http://sacha.org">Lire la suite<span class="sr-only"> de l'article You can't input the system without calculating the auxiliary COM matrix!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The TCP feed is down, copy the redundant protocol so we can override the EXE application!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://sacha.net">The TCP feed is down, copy the redundant protocol so we can override the EXE application!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?9662"
    srcset="http://lorempixel.com/320/213/?31209 320w, http://lorempixel.com/540/360/?53991 540w, http://lorempixel.com/720/480/?56879 720w, http://lorempixel.com/960/640/?45329 960w, http://lorempixel.com/1140/760/?51143 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Dolores totam ex accusantium unde quisquam et.
  </p>
  
  
  <p>
    <a href="http://sacha.net">Lire la suite<span class="sr-only"> de l'article The TCP feed is down, copy the redundant protocol so we can override the EXE application!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the open-source ADP transmitter, then you can override the online array!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://mathéo.org">Use the open-source ADP transmitter, then you can override the online array!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?48135"
    srcset="http://lorempixel.com/320/213/?94938 320w, http://lorempixel.com/540/360/?30329 540w, http://lorempixel.com/720/480/?9592 720w, http://lorempixel.com/960/640/?13426 960w, http://lorempixel.com/1140/760/?70829 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Et deleniti molestiae asperiores similique atque consectetur est dolor laborum.
Ipsum tempore vel excepturi qui rerum eos tenetur.
Aut temporibus quis ipsa vitae nihil et.
Magnam necessitatibus voluptas magni.
Hic ut enim ut totam dignissimos.
  </p>
  
  
  <p>
    <a href="http://mathéo.org">Lire la suite<span class="sr-only"> de l'article Use the open-source ADP transmitter, then you can override the online array!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to bypass the AGP circuit, maybe it will copy the multi-byte interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://laura.eu">Try to bypass the AGP circuit, maybe it will copy the multi-byte interface!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?73947"
    srcset="http://lorempixel.com/320/213/?32391 320w, http://lorempixel.com/540/360/?1824 540w, http://lorempixel.com/720/480/?22393 720w, http://lorempixel.com/960/640/?80353 960w, http://lorempixel.com/1140/760/?18918 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Eaque animi culpa sunt a quidem aut voluptatum culpa. Et soluta aspernatur consequatur voluptatem numquam similique sit. Et qui et numquam dolore. Voluptas eius eum quam qui nihil blanditiis voluptas. In fuga in aut dignissimos voluptatem temporibus. Expedita ullam et ducimus est soluta expedita ea dignissimos.
 Veritatis dolorem adipisci est officia autem est ut hic. Id et natus suscipit veniam voluptas aut eos. Ullam recusandae autem ducimus...
  </p>
  
  
  <p>
    <a href="https://laura.eu">Lire la suite<span class="sr-only"> de l'article Try to bypass the AGP circuit, maybe it will copy the multi-byte interface!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to program the haptic XML port!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://julie.info">We need to program the haptic XML port!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?97626"
    srcset="http://lorempixel.com/320/213/?35207 320w, http://lorempixel.com/540/360/?37302 540w, http://lorempixel.com/720/480/?73541 720w, http://lorempixel.com/960/640/?33244 960w, http://lorempixel.com/1140/760/?71016 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Provident dolorem hic quod porro quis ipsum temporibus. Et consequatur repellendus error qui est et temporibus soluta. Laboriosam sunt sunt. Consequatur sit beatae rerum voluptas vel molestias sunt. Atque possimus omnis et mollitia blanditiis iusto.
 Voluptates explicabo occaecati pariatur earum et vitae. Dolores natus perspiciatis officia consectetur. Quisquam accusantium perferendis perferendis eaque harum tenetur. Libero mollitia autem minima...
  </p>
  
  
  <p>
    <a href="http://julie.info">Lire la suite<span class="sr-only"> de l'article We need to program the haptic XML port!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll input the wireless JSON system, that should microchip the JSON protocol!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://eva.org">I'll input the wireless JSON system, that should microchip the JSON protocol!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?19457"
    srcset="http://lorempixel.com/320/213/?60388 320w, http://lorempixel.com/540/360/?18141 540w, http://lorempixel.com/720/480/?58860 720w, http://lorempixel.com/960/640/?90572 960w, http://lorempixel.com/1140/760/?22668 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Eum sunt fugit beatae temporibus.
  </p>
  
  
  <p>
    <a href="https://eva.org">Lire la suite<span class="sr-only"> de l'article I'll input the wireless JSON system, that should microchip the JSON protocol!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to quantify the multi-byte SSL alarm!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://mael.org">We need to quantify the multi-byte SSL alarm!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?69227"
    srcset="http://lorempixel.com/320/213/?46318 320w, http://lorempixel.com/540/360/?94099 540w, http://lorempixel.com/720/480/?55836 720w, http://lorempixel.com/960/640/?41640 960w, http://lorempixel.com/1140/760/?41450 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Aut earum dolores repudiandae eius est est nihil id placeat. Nemo et rerum aperiam ipsam blanditiis qui. Qui omnis aut. Dolor consequatur sunt expedita sint voluptatibus ut. Soluta eius nihil accusantium quis amet qui. Vero debitis veniam.
  </p>
  
  
  <p>
    <a href="https://mael.org">Lire la suite<span class="sr-only"> de l'article We need to quantify the multi-byte SSL alarm!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we transmit the system, we can get to the JBOD hard drive through the open-source ADP matrix!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://marie.info">If we transmit the system, we can get to the JBOD hard drive through the open-source ADP matrix!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?77372"
    srcset="http://lorempixel.com/320/213/?13577 320w, http://lorempixel.com/540/360/?44521 540w, http://lorempixel.com/720/480/?93215 720w, http://lorempixel.com/960/640/?26925 960w, http://lorempixel.com/1140/760/?37654 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    tempora
  </p>
  
  
  <p>
    <a href="https://marie.info">Lire la suite<span class="sr-only"> de l'article If we transmit the system, we can get to the JBOD hard drive through the open-source ADP matrix!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll bypass the solid state IB circuit, that should panel the COM port!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://maëlle.fr">I'll bypass the solid state IB circuit, that should panel the COM port!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?42429"
    srcset="http://lorempixel.com/320/213/?58585 320w, http://lorempixel.com/540/360/?26584 540w, http://lorempixel.com/720/480/?42664 720w, http://lorempixel.com/960/640/?392 960w, http://lorempixel.com/1140/760/?52567 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    et
  </p>
  
  
  <p>
    <a href="https://maëlle.fr">Lire la suite<span class="sr-only"> de l'article I'll bypass the solid state IB circuit, that should panel the COM port!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to program the back-end XSS transmitter!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://lisa.fr">We need to program the back-end XSS transmitter!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?43193"
    srcset="http://lorempixel.com/320/213/?86515 320w, http://lorempixel.com/540/360/?59479 540w, http://lorempixel.com/720/480/?47397 720w, http://lorempixel.com/960/640/?6896 960w, http://lorempixel.com/1140/760/?81694 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Voluptatum et ut labore non quo dicta non. Vitae eos et exercitationem odio quam voluptatum. Minus odio consequatur dolore.
  </p>
  
  
  <p>
    <a href="http://lisa.fr">Lire la suite<span class="sr-only"> de l'article We need to program the back-end XSS transmitter!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list">
        
        <li class="vd-pagination__item vd-pagination__item--previous">
            
            <a href="#" class="vd-pagination__link">
            
                <span class="vd-pagination__title">
                    <span class="fas fa-chevron-left" aria-hidden="true"></span>
                    Page précédente
                </span>
                
                    <span class="sr-only">:</span>
                    <span class="vd-pagination__label">11 sur 244</span>
                
            
            </a>
            
        </li>
        
        
          
        <li class="vd-pagination__item vd-pagination__item--next">
          
            <a href="#" class="vd-pagination__link">
              
                <span class="vd-pagination__title">
                    Page suivante
                    <span class="fas fa-chevron-right" aria-hidden="true"></span>
                </span>
                
                    <span class="sr-only">:</span>
                    <span class="vd-pagination__label">13 sur 244</span>
                  
            
            </a>
            
        </li>
        
    </ul>
</nav>



</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="../../assets/scripts/vendors.js"></script>
<script src="../../assets/scripts/foehn-scripts--footer.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"> </script>
<script>
  WebFont.load({
    google: {
      families: ['Open Sans:400,400i,700,700i', 'Roboto Slab:300,700']
    }
  });
</script>

  </body>
</html>

