

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Default | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">

  </head>
  <body>

    <header class="header">
  <nav class="container fixed-top" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-1">
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <nav>
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="nav small justify-content-end hidden-sm-down">
    
    <li class="nav-item">
      <a href="#" class="nav-link active"><span class="sr-only">page active: </span>Autorité</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Annuaire</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Agenda</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Contact</a>
    </li>
    
    <li class="nav-item">
      <span class="nav-link"><span class="fa fa-lock" aria-hidden="true"></span> <a href="formulaire-prestation">Mon compte</a></span>
    </li>
    
  </ul>
</nav>

        <div class="vd-nav-mobile dropdown">
  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" type="button" id="nav-mobile-button">menu<span class="bars"><span class="bar"></span><span class="bar"></span><span class="bar"></span></span></button>

  <nav class="dropdown-menu" aria-labelledby="nav-mobile-button">
    <h2>Navigation mobile</h2>
    <div class="dropdown-item pt-2 pb-1 text-center">
      <a class="btn btn-primary vd-btn-chevron-r" href="../domaines">Tous les thèmes</a>
    </div>
    <div class="dropdown-item px-0 pb-0">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#0">Autorités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Annuaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Contact</a>
        </li>
        <li class="nav-item vd-nav-item-secure">
          <span class="fa fa-lock fa-lg" aria-hidden="true"></span>
          <a class="nav-link btn btn-primary vd-btn-chevron-r" href="../connexion">Accéder à l'espace sécurisé</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-item">
      <p>Découvrir</p>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#0">International</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Tourisme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Musées</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-item bg-inverse">
      <p class="text-white text-center mt-1">
        <small>Suivre vd.ch sur les réseaux sociaux</small>
      </p>

      <h2 class="vd-heading-light h4 mb-1">Partager la page</h2>

<ul class="list-inline vd-social-icons">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"><span class="sr-only">Envoyer par courriel</span></span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item hidden-lg-up">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item hidden-md-down">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>


    </div>
  </nav>
</div>


      </div>

    </div>
    <div class="row">
      <div class="col-md-5">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
  <div class="vd-logo-title">
    <div id="aria-vd-logo">Site officiel<span class="sr-only"> de l'État de Vaud</span></div>
    <img src="../../assets/svg/ETATVAUD.svg" alt="État de Vaud" aria-hidden="true" />
  </div>
</a>

      </div>
      <div class="col-md-5 offset-md-2">
        <form class="input-group my-2 vd-search-form" action="#">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form" type="text" class="form-control"  aria-describedby="search-form-label">
  <span class="input-group-btn">
<button class="btn" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>

  <div class="vd-nav-primary">
  <div class="vd-nav-primary-toggle">
    <div class="container">
      <div class="text-center text-md-left">
        <button type="button" class="hidden-sm-down btn btn-sm btn-primary collapsed" data-toggle="collapse" data-target="#nav-primary-container"  aria-controls="nav-primary-container" aria-expanded="false"><span class="sr-only">Accédez à la liste de </span>Tous les thèmes</button>
      </div>
    </div>
  </div>
  <div class="hidden-sm-down collapse clearfix" id="nav-primary-container">
    <div class="vd-nav-primary-content">
      <div class="container">
        <div class="row">
          <nav class="col-md-8" id="nav-primary">
            <h2 class="sr-only">Navigation par thèmes</h2>
            <ul class="list-unstyled mb-0 row">
              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Culture</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et soutiens, Musées cantonaux…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Economie</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Poursuites et faillites, Registre du commerce…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Environnement</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Faune et nature, Energie…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Etat, Droit, Finance</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Impôts, rémunérations, fiscalité…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Formation</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Jours fériés et vacances scolaires…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Mobilité</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobile, Navigation…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Santé</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, Professionnels…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Social</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aide aux victimes et auteur-e-s de violences…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Vie privée</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Documents d'identité…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Sécurité</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, contrôle, casiers judiciaire…<span class="sr-only">)</span></small>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Territoire</span>
    <small class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Informations sur le territoire, Registre foncier…<span class="sr-only">)</span></small>
  </a>
</li>

              
            </ul>
          </nav>
          <div class="col-md-4">
            <h2 class="vd-heading-light h4 mt-3 mb-1">Les plus visités</h2>
            <ul class="vd-list-links">
              <li><a href="#0">Inscription au chômage</a></li>
              <li><a href="#0">Formulaire d'indemnisation</a></li>
              <li><a href="#0">Vaud Tax 2017</a></li>
              <li><a href="#0">Vacances scolaires et jours fériés</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true" class="mt-0">Actualités</h1>
  </div>
</div>


<main id="main" class="container mt-3">
  <h1 class="sr-only">Actualités</h1>


  
  <div class="row">
    
    <article role="article" aria-label="You can't transmit the monitor without bypassing the wireless XSS interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://maxime.net" title="Lire l'article: You can't transmit the monitor without bypassing the wireless XSS interface!">You can't transmit the monitor without bypassing the wireless XSS interface!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?4014"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?42784"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?61966">
      <img src="http://lorempixel.com/360/240/?13294" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Voluptas voluptate consequatur eaque. Nostrum voluptas maxime voluptates minima explicabo. Dignissimos numquam consequatur. Quo et possimus debitis architecto explicabo quibusdam cumque. Quod ipsa nostrum. Delectus modi totam vero dolor.
  </p>
  
  
  <p>
    <a href="https://maxime.net" title="Lire la suite de l'article You can't transmit the monitor without bypassing the wireless XSS interface!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="The PCI bus is down, reboot the optical transmitter so we can program the COM application!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://marie.fr" title="Lire l'article: The PCI bus is down, reboot the optical transmitter so we can program the COM application!">The PCI bus is down, reboot the optical transmitter so we can program the COM application!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?3004"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?14059"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?21052">
      <img src="http://lorempixel.com/360/240/?95122" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Deleniti commodi atque doloribus laborum.
Et pariatur ullam quo eaque consectetur magni.
Autem ut odit voluptatem labore cumque tempore voluptates.
Incidunt qui in modi saepe dicta saepe voluptatibus.
  </p>
  
  
  <p>
    <a href="http://marie.fr" title="Lire la suite de l'article The PCI bus is down, reboot the optical transmitter so we can program the COM application!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to compress the haptic USB monitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://hugo.name" title="Lire l'article: We need to compress the haptic USB monitor!">We need to compress the haptic USB monitor!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?79820"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?76232"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?25164">
      <img src="http://lorempixel.com/360/240/?28640" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Voluptate pariatur vel aspernatur. Ex est molestiae qui. Et a eos non voluptatem voluptatibus quasi molestias. Qui ullam sit architecto. Iure dolorem sed. Asperiores distinctio quaerat voluptatum voluptate dignissimos.
  </p>
  
  
  <p>
    <a href="https://hugo.name" title="Lire la suite de l'article We need to compress the haptic USB monitor!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="The SSL bus is down, index the digital bus so we can back up the JSON capacitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://anaïs.info" title="Lire l'article: The SSL bus is down, index the digital bus so we can back up the JSON capacitor!">The SSL bus is down, index the digital bus so we can back up the JSON capacitor!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?97964"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?96864"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?33774">
      <img src="http://lorempixel.com/360/240/?70426" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Qui laboriosam voluptas blanditiis consequatur aperiam non porro.
Et dolorem eligendi iste dolor delectus eos eaque voluptate dolor.
Dolorum maiores tempore rerum praesentium nemo dolor corrupti velit.
  </p>
  
  
  <p>
    <a href="http://anaïs.info" title="Lire la suite de l'article The SSL bus is down, index the digital bus so we can back up the JSON capacitor!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll compress the digital RAM sensor, that should alarm the SMTP system!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://camille.info" title="Lire l'article: I'll compress the digital RAM sensor, that should alarm the SMTP system!">I'll compress the digital RAM sensor, that should alarm the SMTP system!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?57330"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?95018"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?91579">
      <img src="http://lorempixel.com/360/240/?5210" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Ratione velit explicabo repudiandae deleniti. Necessitatibus incidunt quaerat ullam culpa fugit optio aut est deleniti. Ut provident ipsam minus maiores. Quia eos et. Ut quia non aut sed inventore qui.
  </p>
  
  
  <p>
    <a href="https://camille.info" title="Lire la suite de l'article I'll compress the digital RAM sensor, that should alarm the SMTP system!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we bypass the system, we can get to the CSS firewall through the multi-byte HTTP firewall!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://nicolas.fr" title="Lire l'article: If we bypass the system, we can get to the CSS firewall through the multi-byte HTTP firewall!">If we bypass the system, we can get to the CSS firewall through the multi-byte HTTP firewall!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?95139"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?39841"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?21354">
      <img src="http://lorempixel.com/360/240/?55484" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Voluptatum voluptate voluptatem in voluptatem repellendus perspiciatis qui. Est expedita animi pariatur quia. Cum quis excepturi error autem similique sunt nemo. Voluptatem assumenda aperiam nesciunt voluptatum. Et culpa accusamus qui itaque voluptatem alias qui quia. Ullam ipsam perspiciatis.
  </p>
  
  
  <p>
    <a href="http://nicolas.fr" title="Lire la suite de l'article If we bypass the system, we can get to the CSS firewall through the multi-byte HTTP firewall!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the wireless HTTP interface, then you can generate the open-source driver!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://mathéo.name" title="Lire l'article: Use the wireless HTTP interface, then you can generate the open-source driver!">Use the wireless HTTP interface, then you can generate the open-source driver!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?2284"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?22411"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?79304">
      <img src="http://lorempixel.com/360/240/?79991" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    reprehenderit
  </p>
  
  
  <p>
    <a href="http://mathéo.name" title="Lire la suite de l'article Use the wireless HTTP interface, then you can generate the open-source driver!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can't reboot the matrix without transmitting the open-source SCSI capacitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://gabriel.info" title="Lire l'article: You can't reboot the matrix without transmitting the open-source SCSI capacitor!">You can't reboot the matrix without transmitting the open-source SCSI capacitor!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?77907"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?75528"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?16021">
      <img src="http://lorempixel.com/360/240/?13213" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Minima sit sed et quas voluptatibus suscipit. Totam iure suscipit vel impedit similique iure.
  </p>
  
  
  <p>
    <a href="http://gabriel.info" title="Lire la suite de l'article You can't reboot the matrix without transmitting the open-source SCSI capacitor!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="quantifying the microchip won't do anything, we need to reboot the digital SAS feed!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://louise.org" title="Lire l'article: quantifying the microchip won't do anything, we need to reboot the digital SAS feed!">quantifying the microchip won't do anything, we need to reboot the digital SAS feed!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?38680"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?54702"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?52238">
      <img src="http://lorempixel.com/360/240/?26235" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    dolore placeat assumenda
  </p>
  
  
  <p>
    <a href="http://louise.org" title="Lire la suite de l'article quantifying the microchip won't do anything, we need to reboot the digital SAS feed!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="programming the matrix won't do anything, we need to index the multi-byte AGP driver!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://maëlys.net" title="Lire l'article: programming the matrix won't do anything, we need to index the multi-byte AGP driver!">programming the matrix won't do anything, we need to index the multi-byte AGP driver!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?65593"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?46005"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?927">
      <img src="http://lorempixel.com/360/240/?99955" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Dicta temporibus eveniet omnis et ea aspernatur enim laudantium sit. Esse architecto quo voluptas qui culpa. Et tenetur unde et occaecati nisi consequatur vel labore eveniet. Aut ipsa aut quisquam veritatis sapiente aut nostrum. Vitae quae corrupti aut quo exercitationem aspernatur. Sint ut distinctio qui accusamus numquam saepe natus.
 Veritatis doloremque optio. Non nihil perferendis ab id. Ipsam atque praesentium.
 Nesciunt quia ullam ut ut...
  </p>
  
  
  <p>
    <a href="https://maëlys.net" title="Lire la suite de l'article programming the matrix won't do anything, we need to index the multi-byte AGP driver!">Lire la suite</a>
  </p>
  
</article>

    
  </div>
  <nav>
  <h3 class="sr-only">Pagination</h3>
  <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
    <li class="pr-1"><a href="#" class="btn btn-secondary vd-btn-chevron-l">Précédent</a></li>
    <li class="ml-auto"><a href="#" class="btn btn-primary vd-btn-chevron-r">Suivant</a></li>
    
  </ul>
</nav>



</main>

<div class="container mt-3">
  
  <h2 class="vd-heading-light h4 mb-1 sr-only">Partager</h2>

<ul class="list-inline vd-social-icons mt-2">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"><span class="sr-only">Envoyer par courriel</span></span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item hidden-lg-up">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item hidden-md-down">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>
<footer class="footer">
  <div class="container">
    <a href="#" class="footer-btn-backtotop btn btn-sm btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
    <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            <div class="col-sm-4">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Offres d'emploi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Statistiques</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Portail sécurisé</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Flux RSS</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Espace sécurisé</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Mentions légales</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Permaliens</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Guide Typo 3</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h4 class="vd-heading-light h4 text-white mb-1">Sites partenaires</h4>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Promotion Vaud.ch</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Tourisme</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Musées</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Patrimoine</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">CH.ch</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-xs-2 footer-logo-container">
          <div class="footer-logo">
            <img class="img-fluid" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
          </div>
        </div>
    </div>
  </div>
</footer>




    <script src="//code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../assets/scripts/vendors.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
  WebFont.load({
    custom: {
      families: ['Graphik:n4,i4,n5', 'Produkt:n3,i3,n5,n7'],
      urls: ['../../assets/fonts/fonts.css']
    }
  });
</script>

  </body>
</html>

