

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Activities | Foehn</title>

    <!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicon-apple-touch-icon.png?v=1.0.3">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png?v=1.0.3">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png?v=1.0.3">
<link rel="manifest" href="../../assets/manifest/site.webmanifest?v=1.0.3">
<link rel="mask-icon" href="../../assets/svg/safari-pinned-tab.svg?v=1.0.3" color="#4d8b43">
<link rel="shortcut icon" href="../../assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#4d8b43">
<meta name="msapplication-TileImage" content="/assets/img/favicon-mstile-144x144.png">
<meta name="msapplication-config" content="../../assets/xml/browserconfig.xml?v=1.0.3">
<meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="../../assets/styles/main.css">


    <script defer src="../../assets/scripts/fontawesome-all.js"></script>

  </head>
  <body>

    <header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex
                flex-wrap
                justify-content-between
                justify-content-md-end
                d-print-none">
      <div class="mr-3">
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-md-right small">
    
    <li class="list-inline-item">
      <a href="#" class="">Autorités</a>
    </li>
    
    <li class="list-inline-item">
      <a href="#" class="">Annuaire</a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a href="../accueil"
   class="vd-logo"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="breadcrumb-item"><a href="#">Autorités</a></li>
    
    <li class="breadcrumb-item"><a href="#">Service des automobiles et de la navigation</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true" class="mt-0">Toutes les activités</h1>
  </div>
</div>


<main id="main" class="container mt-5 vd-content">
  <h1 class="sr-only">Toutes les activités</h1>


  
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="I'll input the bluetooth IB feed, that should array the AI circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://maxime.name">I'll input the bluetooth IB feed, that should array the AI circuit!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?41334"
    srcset="http://lorempixel.com/320/213/?85187 320w, http://lorempixel.com/540/360/?74733 540w, http://lorempixel.com/720/480/?7006 720w, http://lorempixel.com/960/640/?97036 960w, http://lorempixel.com/1140/760/?34621 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    voluptas eligendi ipsam
  </p>
  
  
  <p>
    <a href="http://maxime.name">Lire la suite<span class="sr-only"> de l'article I'll input the bluetooth IB feed, that should array the AI circuit!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to navigate the wireless RSS transmitter!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://adam.fr">We need to navigate the wireless RSS transmitter!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?76293"
    srcset="http://lorempixel.com/320/213/?32719 320w, http://lorempixel.com/540/360/?18274 540w, http://lorempixel.com/720/480/?12800 720w, http://lorempixel.com/960/640/?65229 960w, http://lorempixel.com/1140/760/?14238 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    harum
  </p>
  
  
  <p>
    <a href="http://adam.fr">Lire la suite<span class="sr-only"> de l'article We need to navigate the wireless RSS transmitter!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we connect the interface, we can get to the SQL circuit through the auxiliary RAM card!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://célia.name">If we connect the interface, we can get to the SQL circuit through the auxiliary RAM card!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?12296"
    srcset="http://lorempixel.com/320/213/?24013 320w, http://lorempixel.com/540/360/?14015 540w, http://lorempixel.com/720/480/?22145 720w, http://lorempixel.com/960/640/?80831 960w, http://lorempixel.com/1140/760/?71439 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Eligendi dolores eaque quibusdam impedit et iure odio. Aut ipsa est esse magnam. Perspiciatis dolorum et magnam earum nisi repellendus pariatur ea molestiae. Non ipsam ipsum aut quia natus quia dolor eum. Facere magni rem sapiente recusandae aut alias ipsa accusantium ut. Nobis placeat sit.
 Expedita sint similique blanditiis aliquid veritatis consequatur facere et. Asperiores eum quisquam repudiandae qui. A voluptas ut consequatur maxime...
  </p>
  
  
  <p>
    <a href="https://célia.name">Lire la suite<span class="sr-only"> de l'article If we connect the interface, we can get to the SQL circuit through the auxiliary RAM card!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="If we synthesize the interface, we can get to the SMS feed through the haptic TCP alarm!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://rayan.info">If we synthesize the interface, we can get to the SMS feed through the haptic TCP alarm!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?29228"
    srcset="http://lorempixel.com/320/213/?73514 320w, http://lorempixel.com/540/360/?47327 540w, http://lorempixel.com/720/480/?70689 720w, http://lorempixel.com/960/640/?48053 960w, http://lorempixel.com/1140/760/?22601 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    maiores ut maxime
  </p>
  
  
  <p>
    <a href="https://rayan.info">Lire la suite<span class="sr-only"> de l'article If we synthesize the interface, we can get to the SMS feed through the haptic TCP alarm!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to transmit the FTP port, maybe it will back up the virtual application!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://louise.info">Try to transmit the FTP port, maybe it will back up the virtual application!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?31926"
    srcset="http://lorempixel.com/320/213/?13088 320w, http://lorempixel.com/540/360/?28003 540w, http://lorempixel.com/720/480/?82714 720w, http://lorempixel.com/960/640/?27940 960w, http://lorempixel.com/1140/760/?61003 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Sequi dicta voluptas quos quaerat corrupti neque est. Dolorem corporis alias enim tempora facere cupiditate. Perspiciatis facere in veritatis dolorem aut exercitationem fuga nam molestias. Consequatur quisquam in magni cupiditate rem. Blanditiis dolorem ut omnis quia consequatur tenetur sapiente cupiditate explicabo. Recusandae unde vel quia qui sunt neque officia placeat saepe.
 Perspiciatis ut similique excepturi. Numquam reiciendis nesciunt...
  </p>
  
  
  <p>
    <a href="http://louise.info">Lire la suite<span class="sr-only"> de l'article Try to transmit the FTP port, maybe it will back up the virtual application!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to calculate the mobile AI capacitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://justine.net">We need to calculate the mobile AI capacitor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?27841"
    srcset="http://lorempixel.com/320/213/?35580 320w, http://lorempixel.com/540/360/?28633 540w, http://lorempixel.com/720/480/?84501 720w, http://lorempixel.com/960/640/?5582 960w, http://lorempixel.com/1140/760/?52645 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    corrupti qui dolorum
  </p>
  
  
  <p>
    <a href="https://justine.net">Lire la suite<span class="sr-only"> de l'article We need to calculate the mobile AI capacitor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="hacking the panel won't do anything, we need to parse the virtual USB system!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://noémie.name">hacking the panel won't do anything, we need to parse the virtual USB system!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?13577"
    srcset="http://lorempixel.com/320/213/?91893 320w, http://lorempixel.com/540/360/?30129 540w, http://lorempixel.com/720/480/?61772 720w, http://lorempixel.com/960/640/?67441 960w, http://lorempixel.com/1140/760/?41329 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Quae laboriosam praesentium velit amet earum.
  </p>
  
  
  <p>
    <a href="https://noémie.name">Lire la suite<span class="sr-only"> de l'article hacking the panel won't do anything, we need to parse the virtual USB system!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll generate the multi-byte ADP application, that should feed the AGP panel!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://mattéo.eu">I'll generate the multi-byte ADP application, that should feed the AGP panel!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?87418"
    srcset="http://lorempixel.com/320/213/?94480 320w, http://lorempixel.com/540/360/?60193 540w, http://lorempixel.com/720/480/?71565 720w, http://lorempixel.com/960/640/?77960 960w, http://lorempixel.com/1140/760/?37396 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Nam occaecati animi iste eos et. Vitae rerum excepturi dolore inventore veritatis quas vel. Non odio magni doloribus deserunt quibusdam sit enim nesciunt quibusdam. Sapiente vero aut odio doloremque rerum voluptatem. Hic est voluptatem est totam cupiditate dolorem atque dolor a. Assumenda esse fuga maiores molestiae non ut accusamus blanditiis enim.
 Libero at tempore nihil. Necessitatibus nesciunt quis velit non. Est ut nisi voluptatem commodi...
  </p>
  
  
  <p>
    <a href="https://mattéo.eu">Lire la suite<span class="sr-only"> de l'article I'll generate the multi-byte ADP application, that should feed the AGP panel!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can't compress the protocol without copying the solid state CSS system!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://camille.eu">You can't compress the protocol without copying the solid state CSS system!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?61257"
    srcset="http://lorempixel.com/320/213/?41741 320w, http://lorempixel.com/540/360/?62972 540w, http://lorempixel.com/720/480/?58951 720w, http://lorempixel.com/960/640/?36045 960w, http://lorempixel.com/1140/760/?64228 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Nulla quis accusantium saepe voluptatem voluptatibus explicabo in et. Maxime repudiandae esse et harum sapiente voluptatem animi voluptatem. Ratione neque cum.
  </p>
  
  
  <p>
    <a href="https://camille.eu">Lire la suite<span class="sr-only"> de l'article You can't compress the protocol without copying the solid state CSS system!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="connecting the monitor won't do anything, we need to index the auxiliary CSS circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://océane.net">connecting the monitor won't do anything, we need to index the auxiliary CSS circuit!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?32806"
    srcset="http://lorempixel.com/320/213/?53289 320w, http://lorempixel.com/540/360/?64749 540w, http://lorempixel.com/720/480/?58828 720w, http://lorempixel.com/960/640/?59054 960w, http://lorempixel.com/1140/760/?86919 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    dolores animi reprehenderit
  </p>
  
  
  <p>
    <a href="http://océane.net">Lire la suite<span class="sr-only"> de l'article connecting the monitor won't do anything, we need to index the auxiliary CSS circuit!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list"><li class="vd-pagination__item vd-pagination__item--previous">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          <span class="fas fa-chevron-left" aria-hidden="true"></span>
          Page précédente
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">11 sur 244</span></a>
    </li><li class="vd-pagination__item vd-pagination__item--next">
      <a href="#" class="vd-pagination__link">
        <span class="vd-pagination__title">
          Page suivante
          <span class="fas fa-chevron-right" aria-hidden="true"></span>
        </span><span class="sr-only">:</span>
        <span class="vd-pagination__label">13 sur 244</span></a>
    </li>
  </ul>
</nav>



</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>



    <script src="../../assets/scripts/jquery.slim.min.js"></script>
<script src="../../assets/scripts/popper.min.js"></script>
<script src="../../assets/scripts/bootstrap.min.js"></script>
<script src="../../assets/scripts/foehn-scripts--footer.js"></script>

  </body>
</html>

