

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Default | Foehn</title>

    <!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicon-apple-touch-icon.png?v=0.52.1">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png?v=0.52.1">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png?v=0.52.1">
<link rel="manifest" href="../../assets/manifest/site.webmanifest?v=0.52.1">
<link rel="mask-icon" href="../../assets/svg/safari-pinned-tab.svg?v=0.52.1" color="#4d8b43">
<link rel="shortcut icon" href="../../assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#4d8b43">
<meta name="msapplication-TileImage" content="/assets/img/favicon-mstile-144x144.png">
<meta name="msapplication-config" content="../../assets/xml/browserconfig.xml?v=0.52.1">
<meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="../../assets/styles/main.css">


    <script async src="../../assets/scripts/foehn-scripts--header.js"></script>
<script defer src="../../assets/scripts/fontawesome-all.js"></script>

  </head>
  <body>

    <header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex
                flex-wrap
                justify-content-between
                justify-content-md-end
                d-print-none">
      <div class="mr-3">
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-md-right small">
    
    <li class="list-inline-item">
      <a href="#" class="">Autorités</a>
    </li>
    
    <li class="list-inline-item">
      <a href="#" class="">Annuaire</a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a href="../accueil"
   class="vd-logo"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true" class="mt-0">Toutes les actualités</h1>
  </div>
</div>


<main id="main" class="container mt-5 vd-content">
  <h1 class="sr-only">Toutes les actualités</h1>


  
<div class="vd-bg-pattern-bars-gray clearfix my-3 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-0 h4">Rechercher dans les actualités</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les actualités</label>
  <input id="search-form"
         type="text"
         class="form-control"
         placeholder="Rechercher"
         aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>
</div>
  <div class="row">
    
    <article role="article" aria-label="We need to input the multi-byte SSL bus!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://maeva.net">We need to input the multi-byte SSL bus!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?21972"
    srcset="http://lorempixel.com/320/213/?47285 320w, http://lorempixel.com/540/360/?43712 540w, http://lorempixel.com/720/480/?91182 720w, http://lorempixel.com/960/640/?92925 960w, http://lorempixel.com/1140/760/?37982 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    et sit rerum
  </p>
  
  
  <p>
    <a href="https://maeva.net">Lire la suite<span class="sr-only"> de l'article We need to input the multi-byte SSL bus!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can't parse the bandwidth without synthesizing the optical JSON sensor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://léo.fr">You can't parse the bandwidth without synthesizing the optical JSON sensor!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?10930"
    srcset="http://lorempixel.com/320/213/?60544 320w, http://lorempixel.com/540/360/?99143 540w, http://lorempixel.com/720/480/?60658 720w, http://lorempixel.com/960/640/?80932 960w, http://lorempixel.com/1140/760/?83716 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    molestiae quia praesentium
  </p>
  
  
  <p>
    <a href="https://léo.fr">Lire la suite<span class="sr-only"> de l'article You can't parse the bandwidth without synthesizing the optical JSON sensor!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the primary HDD transmitter, then you can reboot the online transmitter!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://julie.info">Use the primary HDD transmitter, then you can reboot the online transmitter!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?82029"
    srcset="http://lorempixel.com/320/213/?17104 320w, http://lorempixel.com/540/360/?15409 540w, http://lorempixel.com/720/480/?33670 720w, http://lorempixel.com/960/640/?42045 960w, http://lorempixel.com/1140/760/?79733 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    et
  </p>
  
  
  <p>
    <a href="https://julie.info">Lire la suite<span class="sr-only"> de l'article Use the primary HDD transmitter, then you can reboot the online transmitter!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the 1080p SCSI application, then you can parse the back-end circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://charlotte.net">Use the 1080p SCSI application, then you can parse the back-end circuit!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?34174"
    srcset="http://lorempixel.com/320/213/?75006 320w, http://lorempixel.com/540/360/?39053 540w, http://lorempixel.com/720/480/?42293 720w, http://lorempixel.com/960/640/?64355 960w, http://lorempixel.com/1140/760/?24341 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Quidem esse cum consectetur expedita corrupti corrupti maxime delectus. Eaque quasi cumque quae deleniti dicta. Totam dolores voluptatibus voluptas odit sit ut voluptatibus et. Maiores quia at quia omnis eveniet unde consequuntur.
  </p>
  
  
  <p>
    <a href="https://charlotte.net">Lire la suite<span class="sr-only"> de l'article Use the 1080p SCSI application, then you can parse the back-end circuit!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the open-source AI array, then you can navigate the primary bandwidth!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://baptiste.org">Use the open-source AI array, then you can navigate the primary bandwidth!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?91709"
    srcset="http://lorempixel.com/320/213/?47436 320w, http://lorempixel.com/540/360/?80160 540w, http://lorempixel.com/720/480/?96334 720w, http://lorempixel.com/960/640/?34085 960w, http://lorempixel.com/1140/760/?94910 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Exercitationem est dolorum autem omnis. At expedita eum. Ducimus tenetur et consequatur.
 Nam iure corporis eaque dolorum illum aut ea. Dignissimos quidem perferendis ut velit deleniti sit quis sit fugiat. Aliquam harum corrupti voluptates rerum at eum repellendus cumque. Et iusto quam qui similique consequatur a. Quis nemo et hic officiis quia commodi. Repudiandae doloribus adipisci labore.
 Beatae aut sit et vel dolorem. Molestiae beatae...
  </p>
  
  
  <p>
    <a href="https://baptiste.org">Lire la suite<span class="sr-only"> de l'article Use the open-source AI array, then you can navigate the primary bandwidth!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to input the virtual USB interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://julien.name">We need to input the virtual USB interface!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?21357"
    srcset="http://lorempixel.com/320/213/?69744 320w, http://lorempixel.com/540/360/?18764 540w, http://lorempixel.com/720/480/?90295 720w, http://lorempixel.com/960/640/?18638 960w, http://lorempixel.com/1140/760/?1006 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    quam
  </p>
  
  
  <p>
    <a href="http://julien.name">Lire la suite<span class="sr-only"> de l'article We need to input the virtual USB interface!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can't program the matrix without backing up the primary SSL feed!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://adam.eu">You can't program the matrix without backing up the primary SSL feed!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?80510"
    srcset="http://lorempixel.com/320/213/?72018 320w, http://lorempixel.com/540/360/?47856 540w, http://lorempixel.com/720/480/?67040 720w, http://lorempixel.com/960/640/?64649 960w, http://lorempixel.com/1140/760/?1296 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    voluptatem
  </p>
  
  
  <p>
    <a href="https://adam.eu">Lire la suite<span class="sr-only"> de l'article You can't program the matrix without backing up the primary SSL feed!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can't copy the application without connecting the back-end COM microchip!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://maxence.name">You can't copy the application without connecting the back-end COM microchip!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?4587"
    srcset="http://lorempixel.com/320/213/?82793 320w, http://lorempixel.com/540/360/?8514 540w, http://lorempixel.com/720/480/?67137 720w, http://lorempixel.com/960/640/?94264 960w, http://lorempixel.com/1140/760/?70525 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    In voluptatem corrupti autem illo atque.
Repudiandae ullam modi adipisci aut molestias animi totam tempora aut.
Dolorem ipsa repellat voluptas eos impedit.
Blanditiis praesentium praesentium qui et aut qui quis animi voluptatum.
  </p>
  
  
  <p>
    <a href="https://maxence.name">Lire la suite<span class="sr-only"> de l'article You can't copy the application without connecting the back-end COM microchip!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can't program the microchip without indexing the 1080p SAS pixel!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://marie.fr">You can't program the microchip without indexing the 1080p SAS pixel!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?29907"
    srcset="http://lorempixel.com/320/213/?73226 320w, http://lorempixel.com/540/360/?1312 540w, http://lorempixel.com/720/480/?76101 720w, http://lorempixel.com/960/640/?31646 960w, http://lorempixel.com/1140/760/?78017 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Velit expedita maxime est beatae. Aut qui corporis nihil quia et aut et sit.
  </p>
  
  
  <p>
    <a href="http://marie.fr">Lire la suite<span class="sr-only"> de l'article You can't program the microchip without indexing the 1080p SAS pixel!</span></a>
  </p>
  
</article>

    
    <article role="article" aria-label="The AI application is down, index the online application so we can parse the SSL interface!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://raphaël.eu">The AI application is down, index the online application so we can parse the SSL interface!</a></h3>

    <p class="small">
      <span class="sr-only">Publié  le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><img
    class="img-fluid"
    
    src="http://lorempixel.com/960/640/?63407"
    srcset="http://lorempixel.com/320/213/?18039 320w, http://lorempixel.com/540/360/?35560 540w, http://lorempixel.com/720/480/?9252 720w, http://lorempixel.com/960/640/?96043 960w, http://lorempixel.com/1140/760/?80488 1140w" alt="">

  </a>
</figure>

  
  
  <p>
    Cumque earum quibusdam dolorem sunt voluptatem. Quam aspernatur porro molestiae id delectus magni natus. Aliquid dolorum ea. Nulla illum fugiat voluptas dolor autem.
  </p>
  
  
  <p>
    <a href="http://raphaël.eu">Lire la suite<span class="sr-only"> de l'article The AI application is down, index the online application so we can parse the SSL interface!</span></a>
  </p>
  
</article>

    
  </div>
  <nav class="vd-pagination" aria-label="Pagination">
  <ul class="vd-pagination__list">
        
        <li class="vd-pagination__item vd-pagination__item--previous">
            
            <a href="#" class="vd-pagination__link">
            
                <span class="vd-pagination__title">
                    <span class="fas fa-chevron-left" aria-hidden="true"></span>
                    Page précédente
                </span>
                
                    <span class="sr-only">:</span>
                    <span class="vd-pagination__label">11 sur 244</span>
                
            
            </a>
            
        </li>
        
        
          
        <li class="vd-pagination__item vd-pagination__item--next">
          
            <a href="#" class="vd-pagination__link">
              
                <span class="vd-pagination__title">
                    Page suivante
                    <span class="fas fa-chevron-right" aria-hidden="true"></span>
                </span>
                
                    <span class="sr-only">:</span>
                    <span class="vd-pagination__label">13 sur 244</span>
                  
            
            </a>
            
        </li>
        
    </ul>
</nav>



</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>



    <script src="../../assets/scripts/jquery.slim.min.js"></script>
<script src="../../assets/scripts/popper.min.js"></script>
<script src="../../assets/scripts/bootstrap.min.js"></script>
<script src="../../assets/scripts/foehn-scripts--footer.js"></script>

  </body>
</html>

