

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Activities | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto+Slab:300,700" rel="stylesheet">
  </head>
  <body>

    <header class="header">
  <nav class="container fixed-top" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-1">
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <nav>
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="nav small justify-content-end hidden-sm-down">
    
    <li class="nav-item">
      <a href="#" class="nav-link active"><span class="sr-only">page active: </span>Autorité</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Annuaire</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Agenda</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Contact</a>
    </li>
    
    <li class="nav-item">
      <span class="nav-link"><span class="fa fa-lock" aria-hidden="true"></span> <a href="formulaire-prestation">Mon compte</a></span>
    </li>
    
  </ul>
</nav>

        <div class="vd-nav-mobile dropdown">
  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" type="button" id="nav-mobile-button">menu<span class="bars"><span class="bar"></span><span class="bar"></span><span class="bar"></span></span></button>

  <nav class="dropdown-menu" aria-labelledby="nav-mobile-button">
    <h2>Navigation mobile</h2>
    <div class="dropdown-item pt-2 pb-1 text-center">
      <a class="btn btn-primary vd-btn-chevron-r" href="../domaines">Tous les thèmes</a>
    </div>
    <div class="dropdown-item px-0 pb-0">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#0">Autorités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Annuaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Contact</a>
        </li>
        <li class="nav-item vd-nav-item-secure">
          <span class="fa fa-lock fa-lg" aria-hidden="true"></span>
          <a class="nav-link btn btn-primary vd-btn-chevron-r" href="../connexion">Accéder à l'espace sécurisé</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-item">
      <p>Découvrir</p>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#0">International</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Tourisme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Musées</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-item bg-inverse">
      <p class="text-white text-center mt-1">
        <small>Suivre vd.ch sur les réseaux sociaux</small>
      </p>

      <h2 class="vd-heading-light h4 mb-1">Partager la page</h2>
<ul class="list-inline vd-social-icons">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item hidden-lg-up">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item hidden-md-down">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>


    </div>
  </nav>
</div>


      </div>

    </div>
    <div class="row">
      <div class="col-md-5">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 offset-md-2">
        <form class="input-group my-2 vd-search-form" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form" type="text" class="form-control"  aria-describedby="search-form-label">
  <span class="input-group-btn">
<button class="btn" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>

  <div class="vd-nav-primary">
  <div class="vd-nav-primary-toggle">
    <div class="container">
      <div class="text-center text-md-left">
        <button type="button" class="hidden-sm-down btn btn-sm btn-primary collapsed" data-toggle="collapse" data-target="#nav-primary-container"  aria-controls="nav-primary-container" aria-expanded="false"><span class="sr-only">Accédez à la liste de </span>Tous les thèmes</button>
      </div>
    </div>
  </div>
  <div class="hidden-sm-down collapse clearfix" id="nav-primary-container">
    <div class="vd-nav-primary-content">
      <div class="container">
        <div class="row">
          <nav class="col-md-8" id="nav-primary">
            <h2 class="sr-only">Navigation par thèmes</h2>
            <ul class="list-unstyled mb-0 row">
              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et soutiens, Musées cantonaux…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Poursuites et faillites, Registre du commerce…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Faune et nature, Energie…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Impôts, rémunérations, fiscalité…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Jours fériés et vacances scolaires…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobile, Navigation…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, Professionnels…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aide aux victimes et auteur-e-s de violences…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Documents d'identité…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, contrôle, casiers judiciaire…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Informations sur le territoire, Registre foncier…<span class="sr-only">)</span></span>
  </a>
</li>

              
            </ul>
          </nav>
          <div class="col-md-4">
            <h2 class="vd-heading-light h4 mt-3 mb-1">Les plus visités</h2>
            <ul class="vd-list-links">
              <li><a href="#0">Inscription au chômage</a></li>
              <li><a href="#0">Formulaire d'indemnisation</a></li>
              <li><a href="#0">Vaud Tax 2017</a></li>
              <li><a href="#0">Vacances scolaires et jours fériés</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="breadcrumb-item"><a href="#">autorités</a></li>
    
    <li class="breadcrumb-item"><a href="#">Service des automobiles et de la navigation</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true" class="mt-0">Toutes les activités</h1>
  </div>
</div>


<main id="main" class="container mt-3">
  <h1 class="sr-only">Toutes les activités</h1>


  
  <div class="row">
    
    <article role="article" aria-label="You can't bypass the program without transmitting the wireless SMTP circuit!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://kylian.fr" title="Lire l'article: You can't bypass the program without transmitting the wireless SMTP circuit!">You can't bypass the program without transmitting the wireless SMTP circuit!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?12892"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?11719"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?54857">
      <img src="http://lorempixel.com/360/240/?88060" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    commodi modi dignissimos
  </p>
  
  
  <p>
    <a href="http://kylian.fr" title="Lire la suite de l'article You can't bypass the program without transmitting the wireless SMTP circuit!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="overriding the protocol won't do anything, we need to reboot the virtual FTP program!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://elisa.name" title="Lire l'article: overriding the protocol won't do anything, we need to reboot the virtual FTP program!">overriding the protocol won't do anything, we need to reboot the virtual FTP program!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?75872"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?19392"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?61817">
      <img src="http://lorempixel.com/360/240/?71689" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Ducimus aut iusto ut voluptatem atque illo enim aut nihil.
  </p>
  
  
  <p>
    <a href="https://elisa.name" title="Lire la suite de l'article overriding the protocol won't do anything, we need to reboot the virtual FTP program!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="We need to quantify the cross-platform CSS feed!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://ines.fr" title="Lire l'article: We need to quantify the cross-platform CSS feed!">We need to quantify the cross-platform CSS feed!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?60145"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?9810"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?67844">
      <img src="http://lorempixel.com/360/240/?55488" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    ut
  </p>
  
  
  <p>
    <a href="https://ines.fr" title="Lire la suite de l'article We need to quantify the cross-platform CSS feed!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="Use the virtual SSL program, then you can navigate the multi-byte application!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://rayan.eu" title="Lire l'article: Use the virtual SSL program, then you can navigate the multi-byte application!">Use the virtual SSL program, then you can navigate the multi-byte application!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?68286"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?75542"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?24603">
      <img src="http://lorempixel.com/360/240/?46571" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Illum voluptatem est. Magni aliquam voluptas et fuga. Nihil sed ea suscipit recusandae optio. Numquam tempora est at voluptas aut dolor. Corporis numquam ut molestiae tenetur et tenetur beatae delectus.
 Fuga in maiores nostrum veritatis excepturi molestiae atque accusamus ut. Ut eum commodi itaque harum doloribus. Adipisci ea modi maxime voluptas accusantium officiis ipsa odit voluptatem.
 Veritatis reiciendis ut repudiandae ut vitae modi...
  </p>
  
  
  <p>
    <a href="https://rayan.eu" title="Lire la suite de l'article Use the virtual SSL program, then you can navigate the multi-byte application!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="Try to program the XML bandwidth, maybe it will bypass the back-end hard drive!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://adrien.name" title="Lire l'article: Try to program the XML bandwidth, maybe it will bypass the back-end hard drive!">Try to program the XML bandwidth, maybe it will bypass the back-end hard drive!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?85557"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?95685"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?27280">
      <img src="http://lorempixel.com/360/240/?35459" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    minima
  </p>
  
  
  <p>
    <a href="https://adrien.name" title="Lire la suite de l'article Try to program the XML bandwidth, maybe it will bypass the back-end hard drive!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="overriding the interface won't do anything, we need to program the optical AGP bus!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://axel.fr" title="Lire l'article: overriding the interface won't do anything, we need to program the optical AGP bus!">overriding the interface won't do anything, we need to program the optical AGP bus!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?20974"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?21830"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?94908">
      <img src="http://lorempixel.com/360/240/?58302" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Aperiam exercitationem inventore architecto et laboriosam sunt ipsa aut perferendis. Commodi odit vero omnis quidem quidem. Similique vel fugit. Quibusdam maxime cupiditate voluptates ducimus. Quo non repudiandae optio nisi doloremque itaque.
  </p>
  
  
  <p>
    <a href="https://axel.fr" title="Lire la suite de l'article overriding the interface won't do anything, we need to program the optical AGP bus!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can't bypass the matrix without quantifying the bluetooth GB bandwidth!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://alexis.info" title="Lire l'article: You can't bypass the matrix without quantifying the bluetooth GB bandwidth!">You can't bypass the matrix without quantifying the bluetooth GB bandwidth!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?14372"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?80059"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?74185">
      <img src="http://lorempixel.com/360/240/?40451" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    sed ratione repellendus
  </p>
  
  
  <p>
    <a href="https://alexis.info" title="Lire la suite de l'article You can't bypass the matrix without quantifying the bluetooth GB bandwidth!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="The FTP capacitor is down, synthesize the neural system so we can bypass the TCP monitor!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="http://lena.org" title="Lire l'article: The FTP capacitor is down, synthesize the neural system so we can bypass the TCP monitor!">The FTP capacitor is down, synthesize the neural system so we can bypass the TCP monitor!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?31632"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?9555"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?63662">
      <img src="http://lorempixel.com/360/240/?16862" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    odit
  </p>
  
  
  <p>
    <a href="http://lena.org" title="Lire la suite de l'article The FTP capacitor is down, synthesize the neural system so we can bypass the TCP monitor!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="You can't transmit the program without generating the multi-byte SDD panel!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://lisa.eu" title="Lire l'article: You can't transmit the program without generating the multi-byte SDD panel!">You can't transmit the program without generating the multi-byte SDD panel!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?28915"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?46753"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?81057">
      <img src="http://lorempixel.com/360/240/?33483" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Eligendi ut doloremque consequuntur et aperiam et fugiat. Et quasi incidunt corporis. Rerum quia dignissimos maxime. Et fugit voluptatem. Tenetur reprehenderit ducimus sit rerum et numquam quam consequuntur porro. Dolor a et et et quis.
 Saepe placeat aperiam veniam necessitatibus. Aut quis minima quia. Nemo quis laudantium voluptatem occaecati et excepturi qui atque non. Consequatur adipisci est assumenda animi asperiores et ut. Reprehenderit...
  </p>
  
  
  <p>
    <a href="https://lisa.eu" title="Lire la suite de l'article You can't transmit the program without generating the multi-byte SDD panel!">Lire la suite</a>
  </p>
  
</article>

    
    <article role="article" aria-label="I'll hack the bluetooth SMTP transmitter, that should system the JSON driver!" class="col-md-6">
  <header>
    <h3><a class="vd-link-invisible" href="https://antoine.info" title="Lire l'article: I'll hack the bluetooth SMTP transmitter, that should system the JSON driver!">I'll hack the bluetooth SMTP transmitter, that should system the JSON driver!</a></h3>

    <p class="small">
      <span class="sr-only">le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://lorempixel.com/1600/1067/?25950"><source media="(min-width: 40em)" srcset="http://lorempixel.com/960/640/?94169"><source media="(min-width: 20em)" srcset="http://lorempixel.com/640/427/?63190">
      <img src="http://lorempixel.com/360/240/?27297" class="img-fluid" alt="">
</picture>
  </a>
</figure>

  
  
  <p>
    Quis nulla eligendi delectus.
Est voluptates animi minima recusandae omnis nostrum non.
Ipsam suscipit libero aut consequatur culpa commodi sunt enim aut.
Aspernatur dicta saepe illum ipsum repellat consectetur velit dolores in.
  </p>
  
  
  <p>
    <a href="https://antoine.info" title="Lire la suite de l'article I'll hack the bluetooth SMTP transmitter, that should system the JSON driver!">Lire la suite</a>
  </p>
  
</article>

    
  </div>
  <nav>
  <h3 class="sr-only">Pagination</h3>
  <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
    <li class="pr-1"><a href="#" class="btn btn-secondary vd-btn-chevron-l">Précédent</a></li>
    <li class="ml-auto"><a href="#" class="btn btn-primary vd-btn-chevron-r">Suivant</a></li>
    
  </ul>
</nav>



</main>


<div class="container mt-3">
  
  <h2 class="vd-heading-light h4 mb-1 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-2 mb-1">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item hidden-lg-up">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item hidden-md-down">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4">Titre 1</h2>
              <ul class="list-unstyled"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4">Titre 2</h2>
              <ul class="list-unstyled"><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4">Sites partenaires</h2>
              <ul class="list-unstyled"><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <img aria-hidden="true" class="img-fluid footer-logo mt-auto" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>




    <script src="//code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../assets/scripts/vendors.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
  WebFont.load({
    google: {
      families: ['Open+Sans:400,400i,700,700i', 'Roboto+Slab:300,700']
    }
  });
</script>

  </body>
</html>

