

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Default | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto+Slab:300,700" rel="stylesheet">
  </head>
  <body>

    <header class="header">
  <nav class="container fixed-top" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-1">
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">

    <div class="d-flex flex-column flex-sm-row">

      <div class="mr-auto">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
  <div class="vd-logo-title">
    <div id="aria-vd-logo">Site officiel<span class="sr-only"> de l'État de Vaud</span></div>
    <img src="../../assets/svg/ETATVAUD.svg" alt="État de Vaud" aria-hidden="true" />
  </div>
</a>

      </div>

      <section class="mt-1">
        <h2 class="sr-only">Votre identité</h2>
        <div class="d-flex flex-column">
          <dl class="mb-0">
            <dt class="sr-only">Nom et prénom</dt>
            <dd class="mb-0"><span class="fa fa-lock"></span> <a href="#" title="Gérer mon compte">Jean Villars Gilles</a></dd>

            <dt class="sr-only">Nom du bénéficiaire</dt>
            <dd class="mb-0">Commune de Belmont-sur-Lausanne</dd>
          </dl>
          <div>
            <p>
              <a href="#">Se déconnecter</a>
            </p>
          </div>
        </div><!-- /.d-flex -->
      </section>

    </div><!-- /.row -->
  </div>
</header>



<div class="container mb-2">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand hidden-lg-up">Menu</span>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="tableau-de-bord">Tableau de bord</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="historique">Historique</a>
      </li><li class="nav-item mb-lg-0  active">
        <a class="nav-link" href="prestations"><span class="sr-only">(current)</span> Prestations</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="documents">Documents</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="parametres">Paramètres</a>
      </li>
    </ul>
  </div>
</nav>

</div>


<main id="main">
  <div class="container">
  <h1>Prestations</h1>
</div>


  <div class="container">
    

<form action="formulaire-prestation-confirmation">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
  <label for="fastFilter">Filtre rapide</label><input class="form-control" type="text" id="fastFilter" name="testInput" value="">
</div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
  <label for="exampleSelect1">Filtrer par thème</label>
  <select class="form-control" id="themFilter">
    
    <option>Curabitur</option>
    
    <option>Maecenas vel</option>
    
    <option>Suspendisse maximus velit non lacus</option>
    
    <option>Sed maximus</option>
    
    <option>Aliquam cupiditate, vel!</option>
    
    <option>Nunc eget neque sit amet ipsum auctor laoreet</option>
    
  </select>
</div>

        </div>
    </div>

</form>


<article class="mb-1 p-1 bg-faded">
    <div class="row">
        <div class="col-md-12">
            <header>
                <h3 class="mb-1">
                    
                    <a href="">Demande de permis de peche</a>
                        
                    
                    
                </h3><dl class="small row"><dt class="col-4">Thème</dt>
                    <dd class="col-8">Agriculture</dd>
                    <dt class="col-4">Type d'accès</dt>
                    <dd class="col-8">
                        
                        
                        libre d'accès
                        
                    </dd>
                    </dl></header>
            
            <p>Une demande de permis de peche doit etre effectuée auprès d'une autorité habilitée: kiosque, office de la gendarmerie. L'obtention d'un permis est nécessaire pour la peche au lac, en rivière sur tout le territoire Suisse à partir de 16 ans révolus.</p>
            
            <footer><div>
                            <a href="#">Fiche descriptive</a>
                        </div>
                    <div>
                            <a href="#">Ajouter au favoris</a>
                        </div>
                    </footer>
        </div>
    </div>
</article>
<article class="mb-1 p-1 bg-faded">
    <div class="row">
        <div class="col-md-12">
            <header>
                <h3 class="mb-1">
                    
                    
                    Demande de permis de construire <span class="fa fa-lock" aria-hidden="true"></span>
                    
                </h3><dl class="small row"><dt class="col-4">Thème</dt>
                    <dd class="col-8">Immobilier</dd>
                    <dt class="col-4">Type d'accès</dt>
                    <dd class="col-8">
                        
                        <a href="#">Demander l'accès à la prestation</a>
                        
                        
                    </dd>
                    </dl></header>
            
            <p>La demande de permis de construire doit etre accompagné des documents légaux nécessaire au lancement du processus administratif. Celle-ci est disponible pour toute personne majeur. Il est nécessaire que chaque demandeur soit munit d'une pièce d'identité.</p>
            
            <footer><div>
                            <a href="#">Fiche descriptive</a>
                        </div>
                    </footer>
        </div>
    </div>
</article>
<article class="mb-1 p-1 bg-faded">
    <div class="row">
        <div class="col-md-12">
            <header>
                <h3 class="mb-1">
                    
                    <a href="">Repas subventionné "Cafetservice"</a>
                        
                         <span class="fa fa-unlock-alt" aria-hidden="true"></span>
                        
                    
                    
                </h3><dl class="small row"><dt class="col-4">Thème</dt>
                    <dd class="col-8">Santé</dd>
                    <dt class="col-4">Type d'accès</dt>
                    <dd class="col-8">
                        
                        
                        Connexion nécessaire
                        
                    </dd>
                    </dl></header>
            
            <p>L'Etat de Vaud met à disposition de ces collaborateurs une prestation "Cafetservice" pour les repas de midi. Le collaborateur choisis parmis une liste d'aliments et de menus à des prix préférentiels.</p>
            
            <footer><div>
                            <a href="#">Fiche descriptive</a>
                        </div>
                    <div>
                            <a href="#">Retirer des favoris</a>
                        </div>
                    </footer>
        </div>
    </div>
</article>
<article class="mb-1 p-1 bg-faded">
    <div class="row">
        <div class="col-md-12">
            <header>
                <h3 class="mb-1">
                    
                    <a href="">Zoo de Servion - Demande de visite scolaire</a>
                        
                         <span class="fa fa-unlock-alt" aria-hidden="true"></span>
                        
                    
                    
                </h3><dl class="small row"><dt class="col-4">Thème</dt>
                    <dd class="col-8">Education</dd>
                    <dt class="col-4">Type d'accès</dt>
                    <dd class="col-8">
                        
                        
                        Accès sécurisé
                        
                    </dd>
                    </dl></header>
            
            <p>Le Zoo de Servion met à disposition son établissement dans le cadre de visites scolaires. Il est ainsi possible de réserver l'ensemble du parc pour des visites dont le nombre de participants atteind au minimum 40. La cafétéria est à disposition du groupe pour le repas de midi.</p>
            
            <footer><div>
                            <a href="#">Fiche descriptive</a>
                        </div>
                    <div>
                            <a href="#">Retirer des favoris</a>
                        </div>
                    </footer>
        </div>
    </div>
</article>




  </div>
</main>
<footer class="footer mt-3">
  <div class="container">
    <a href="#" class="footer-btn-backtotop btn btn-sm btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
    <div class="row">
      <nav aria-label="pied de page" class="col-xs-10">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pourquoi créer un compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mentions légales</a>
          </li>
        </ul>
      </nav>
      <div class="col-xs-2 footer-logo-container">
        <div class="footer-logo">
          <img class="img-fluid" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
        </div>
      </div>
    </div>
  </div>
</footer>




    <script src="//code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../assets/scripts/vendors.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
  WebFont.load({
    google: {
      families: ['Open+Sans:400,400i,700,700i', 'Roboto+Slab:300,700']
    }
  });
</script>

  </body>
</html>

