

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Preview Layout</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">

  </head>
  <body>

    <h2 class="vd-section-title"></h2>
<article class="vd-teaser-alternate">
  <h3 class="vd-teaser-title mb-1">
    <a href="" class="vd-link-invisible">Commodi quaerat fugit.</a>
  </h3>
  <div class="row">
    <div class="col-md-6">
      <p>Animi possimus dolorem enim et atque voluptatem id quasi nihil. Est molestiae magni sed ducimus omnis est dolore. Sunt iusto omnis tenetur eaque modi qui. Architecto tempore vel et explicabo. Repudiandae qui consequatur aspernatur consequatur.
 Labore quae molestiae quo. Aspernatur aut repudiandae totam. Quis maxime animi voluptatem.
 Odit aut dolores minus itaque aut molestias. Voluptatem sit est mollitia. Quae voluptatem praesentium aut ut delectus consequatur sit ipsam.</p>
      <p><a href="" class="vd-teaser-meta"><time datetime="2001-12-06T19:00">06.12.2016</time>
</a></p>
    </div>
    <div class="col-md-6">
      <a href="#">
        <figure class="figure">
            <picture class="figure-img">
              <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text&#x3D;eXtra Large|1600x1067">
              <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text&#x3D;Large|960x640">
              <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text&#x3D;Medium|640x427">
              <img src="https://placehold.it/360x240/F1BF9F/ffffff?text&#x3D;Default|360x240" class="img-fluid" alt="Alternative text">
            </picture>
          <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
        </figure>
      </a>
    </div>
  </div>
</article>
<article class="vd-teaser-alternate">
  <h3 class="vd-teaser-title mb-1">
    <a href="" class="vd-link-invisible">Laborum aut et rerum amet debitis eligendi.</a>
  </h3>
  <div class="row">
    <div class="col-md-6">
      <p>Eum et quia tempora molestias ipsam officiis et. Est non perferendis sunt dolor et. Vel ipsum tempora veritatis sit asperiores facilis est eaque. Libero beatae eaque facere. Facilis sed consectetur est sint id reiciendis.
 Dolores architecto voluptatibus dolor eius praesentium assumenda fuga ut ut. Magni vel animi tempore amet unde sequi. Ut sint saepe debitis quia.
 Dignissimos molestiae rem enim. Dolor rerum occaecati quisquam. Et fugiat et. Quia reiciendis molestiae quos ea. Molestias id ea voluptas consequatur cum voluptate optio.</p>
      <p><a href="" class="vd-teaser-meta"><time datetime="2001-12-06T19:00">06.12.2016</time>
</a></p>
    </div>
    <div class="col-md-6">
      <a href="#">
        <figure class="figure">
            <picture class="figure-img">
              <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text&#x3D;eXtra Large|1600x1067">
              <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text&#x3D;Large|960x640">
              <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text&#x3D;Medium|640x427">
              <img src="https://placehold.it/360x240/F1BF9F/ffffff?text&#x3D;Default|360x240" class="img-fluid" alt="Alternative text">
            </picture>
          <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
        </figure>
      </a>
    </div>
  </div>
</article>
<article class="vd-teaser-alternate">
  <h3 class="vd-teaser-title mb-1">
    <a href="" class="vd-link-invisible">Sequi omnis itaque provident.</a>
  </h3>
  <div class="row">
    <div class="col-md-6">
      <p>Ea repellendus natus aut atque illo incidunt. Tempore sed debitis amet rerum. Minus vel expedita neque ea magni rerum aliquid quia vitae. Doloribus ea dolor fuga esse.
 Nobis ullam debitis. Cumque odit ut et necessitatibus aut ut atque quia. Corrupti aut nam nam autem neque soluta rerum.
 Quos vitae maiores ut id tenetur commodi aut ad. Sed architecto quia temporibus asperiores et et ipsum. Veritatis voluptas provident laboriosam et vero ut voluptate perspiciatis. Quam impedit fugiat odit iusto neque id et. Accusantium enim error aut dicta nihil error quo error consectetur. Libero voluptas voluptatem omnis iure rerum aut est nesciunt provident.</p>
      <p><a href="" class="vd-teaser-meta"><time datetime="2001-12-06T19:00">06.12.2016</time>
</a></p>
    </div>
    <div class="col-md-6">
      <a href="#">
        <figure class="figure">
            <picture class="figure-img">
              <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text&#x3D;eXtra Large|1600x1067">
              <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text&#x3D;Large|960x640">
              <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text&#x3D;Medium|640x427">
              <img src="https://placehold.it/360x240/F1BF9F/ffffff?text&#x3D;Default|360x240" class="img-fluid" alt="Alternative text">
            </picture>
          <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
        </figure>
      </a>
    </div>
  </div>
</article>
<article class="vd-teaser-alternate">
  <h3 class="vd-teaser-title mb-1">
    <a href="" class="vd-link-invisible">Distinctio maiores omnis ducimus soluta quia ut.</a>
  </h3>
  <div class="row">
    <div class="col-md-6">
      <p>Quo quae et nulla ipsum non et est ratione architecto. Ex voluptatem dolorem et eius quia quos. Nemo ut quidem explicabo. Hic sit sed dignissimos quaerat aut voluptas reprehenderit dolores illo.
 Occaecati vel non molestiae sint aut animi. Voluptatem tempora aliquid iste saepe ducimus delectus quo. Est voluptates cum.
 Deleniti dolor magnam est recusandae. Saepe aliquid nulla ad excepturi sunt alias. Et voluptas error.</p>
      <p><a href="" class="vd-teaser-meta"><time datetime="2001-12-06T19:00">06.12.2016</time>
</a></p>
    </div>
    <div class="col-md-6">
      <a href="#">
        <figure class="figure">
            <picture class="figure-img">
              <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text&#x3D;eXtra Large|1600x1067">
              <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text&#x3D;Large|960x640">
              <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text&#x3D;Medium|640x427">
              <img src="https://placehold.it/360x240/F1BF9F/ffffff?text&#x3D;Default|360x240" class="img-fluid" alt="Alternative text">
            </picture>
          <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
        </figure>
      </a>
    </div>
  </div>
</article>
<article class="vd-teaser-alternate">
  <h3 class="vd-teaser-title mb-1">
    <a href="" class="vd-link-invisible">Maxime qui facere provident ab est expedita ut sequi ut.</a>
  </h3>
  <div class="row">
    <div class="col-md-6">
      <p>Beatae consequuntur saepe cum voluptatem neque voluptatem ipsum. Qui commodi magnam quas voluptatem velit vel praesentium. Nesciunt et ducimus et ipsa alias. Itaque nisi in quisquam et. Blanditiis eos animi iure sit atque vel ex omnis. Qui reiciendis vel tempora quas.
 Expedita ullam sint quia sunt quo aliquid pariatur dolor. Et nihil nostrum nesciunt qui et cupiditate omnis ut consectetur. Deserunt cumque quis dolorem quia earum tenetur quos culpa. Aut incidunt in non ullam. Assumenda eum non reiciendis error quis rerum praesentium dicta. Deserunt mollitia harum hic.
 Deserunt voluptatem et nemo minima consequatur. Culpa ut necessitatibus. Aut ipsum qui vitae hic eos et. Iusto ipsam occaecati autem et iste. Quia non voluptatem ab laudantium ab cum.</p>
      <p><a href="" class="vd-teaser-meta"><time datetime="2001-12-06T19:00">06.12.2016</time>
</a></p>
    </div>
    <div class="col-md-6">
      <a href="#">
        <figure class="figure">
            <picture class="figure-img">
              <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text&#x3D;eXtra Large|1600x1067">
              <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text&#x3D;Large|960x640">
              <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text&#x3D;Medium|640x427">
              <img src="https://placehold.it/360x240/F1BF9F/ffffff?text&#x3D;Default|360x240" class="img-fluid" alt="Alternative text">
            </picture>
          <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
        </figure>
      </a>
    </div>
  </div>
</article>
<a href="#" class="btn btn-primary vd-btn-chevron-r">Tous les projets</a>



    <script src="//code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../assets/scripts/vendors.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        custom: {
          families: ['Graphik:n5,n4,i4', 'Produkt:n3,i3,n7,n5'],
          urls: ['../../assets/fonts/fonts.css']
        }
      });
    </script>
  </body>
</html>

