

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Default | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">

  </head>
  <body>

    <section class="mb-3">
  <h2 class="vd-section-title">Projets</h2>
  
  <article class="vd-teaser-alternate">
  <h3 class="vd-teaser-title mb-1">
    <a href="#" class="vd-link-invisible">Odio vitae reiciendis corporis quam minima quasi est.</a>
  </h3>
  <div class="row">
    <div class="col-md-6">
      <p>Ullam quo sunt et maxime est facere doloremque quisquam optio. Provident amet nihil deleniti ut. Ut voluptate voluptatibus beatae. Saepe deleniti quod veritatis. Magni consequuntur inventore voluptatem aliquam possimus eligendi iusto possimus officiis.
 Dicta deserunt dolores qui dolorum. Et distinctio facilis voluptatem sunt atque aut odio quidem. Perspiciatis recusandae aliquid molestiae sed consectetur rerum aliquid iste debitis. Nemo sapiente sunt sed quibusdam voluptas laboriosam molestiae. Necessitatibus minima vero voluptatem est cumque beatae. Commodi sed nulla quia laboriosam.
 Ullam recusandae ullam temporibus quos a expedita velit aut. Quae fuga impedit voluptas sit possimus voluptas vitae. Dolorem reprehenderit praesentium quis suscipit temporibus deleniti. Laboriosam qui quae labore labore officia enim omnis.</p>
      <p><a href="#" class="vd-teaser-meta"><time datetime="2001-12-06T19:00">06.12.2016</time>
</a></p>
    </div>
    <div class="col-md-6">
      <a href="#">
        <figure class="figure">
    
    <picture class="figure-img">
      
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067">
      
      <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640">
      
      <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">

    </picture>
    
  <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
</figure>

      </a>
    </div>
  </div>
</article>

  
  <article class="vd-teaser-alternate">
  <h3 class="vd-teaser-title mb-1">
    <a href="#" class="vd-link-invisible">Blanditiis praesentium mollitia vel quo reiciendis qui quibusdam quia.</a>
  </h3>
  <div class="row">
    <div class="col-md-6">
      <p>Sequi nam neque deserunt ipsum aut et asperiores optio tempora. Suscipit rerum ducimus aut saepe facilis earum fugit. Est dolores omnis. Aut voluptas sit et expedita perspiciatis minima magnam consequatur nobis. Inventore ut a.
 Accusamus natus non alias id corporis cumque sed consequuntur est. Accusamus magnam recusandae dolor non veniam odit placeat consectetur. Velit ut sunt ea autem quaerat. Sed necessitatibus temporibus sequi est nulla. Tempora nam autem veniam.
 Doloribus quam non quae ex. Quidem veritatis eligendi architecto totam consequatur ut. Consequatur exercitationem sit facere est amet eum vitae. Aut porro numquam. Saepe voluptatibus est qui eos autem aliquid iure asperiores dicta. Fugiat quos esse maiores dolorum itaque harum.</p>
      <p><a href="#" class="vd-teaser-meta"><time datetime="2001-12-06T19:00">06.12.2016</time>
</a></p>
    </div>
    <div class="col-md-6">
      <a href="#">
        <figure class="figure">
    
    <picture class="figure-img">
      
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067">
      
      <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640">
      
      <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">

    </picture>
    
  <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
</figure>

      </a>
    </div>
  </div>
</article>

  
  <article class="vd-teaser-alternate">
  <h3 class="vd-teaser-title mb-1">
    <a href="#" class="vd-link-invisible">Autem asperiores rem vitae.</a>
  </h3>
  <div class="row">
    <div class="col-md-6">
      <p>Repellendus praesentium sit iusto rerum autem molestiae id similique a. Et ut vitae non culpa. Dolorem cum est cum est officia ipsam maiores error. Illum quam fugiat hic.
 Totam voluptatem similique consequatur maxime. Esse vel ea beatae alias eum. Sit consequuntur ipsam et quae totam voluptatibus quis ipsam. Ut ipsa in blanditiis et.
 Iure sit facere consequatur nihil ipsa et ut ducimus. Voluptatem et cumque sunt. Repudiandae id sunt eveniet laborum nemo porro.</p>
      <p><a href="#" class="vd-teaser-meta"><time datetime="2001-12-06T19:00">06.12.2016</time>
</a></p>
    </div>
    <div class="col-md-6">
      <a href="#">
        <figure class="figure">
    
    <picture class="figure-img">
      
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067">
      
      <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640">
      
      <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">

    </picture>
    
  <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
</figure>

      </a>
    </div>
  </div>
</article>

  
  <article class="vd-teaser-alternate">
  <h3 class="vd-teaser-title mb-1">
    <a href="#" class="vd-link-invisible">Nostrum in quasi voluptas consectetur molestiae praesentium.</a>
  </h3>
  <div class="row">
    <div class="col-md-6">
      <p>Sed labore id qui earum non eum ea. Animi officia minima eum hic pariatur est vero enim alias. Itaque mollitia itaque possimus debitis blanditiis voluptas. Dolorum dolor natus cum sunt. Nemo porro in nostrum reprehenderit molestiae. Soluta sapiente aut voluptatem aut at aut sequi minima ipsa.
 Veritatis itaque iusto quia quasi perferendis vitae voluptas exercitationem autem. Voluptas quasi porro dicta. Sapiente animi dicta aut fugit autem id et ullam veritatis. Possimus praesentium quia qui consequatur asperiores. Voluptatum iusto commodi aspernatur et temporibus veniam. Ipsa ex omnis sunt voluptatem fugiat.
 Expedita commodi nam corrupti ratione. Excepturi qui qui veniam alias perferendis. Sit omnis consequatur quibusdam facilis impedit adipisci cum aut. Delectus quia in harum enim nisi asperiores praesentium reiciendis autem. Voluptas est vel est eos at deserunt vel similique distinctio.</p>
      <p><a href="#" class="vd-teaser-meta"><time datetime="2001-12-06T19:00">06.12.2016</time>
</a></p>
    </div>
    <div class="col-md-6">
      <a href="#">
        <figure class="figure">
    
    <picture class="figure-img">
      
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067">
      
      <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640">
      
      <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">

    </picture>
    
  <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
</figure>

      </a>
    </div>
  </div>
</article>

  
  <article class="vd-teaser-alternate">
  <h3 class="vd-teaser-title mb-1">
    <a href="#" class="vd-link-invisible">Modi aut eligendi velit vel harum inventore est.</a>
  </h3>
  <div class="row">
    <div class="col-md-6">
      <p>Autem ducimus aut. Aut asperiores exercitationem qui. A est aut quibusdam at assumenda quaerat.
 Fugiat dolor rerum voluptatibus dolore. Labore autem fugiat ut in voluptatem natus dolorum aut. Quo temporibus voluptatum architecto autem placeat minima totam. Fuga ut qui blanditiis vitae quis voluptates pariatur perferendis. Debitis eos molestiae sit laborum quas tempora. Placeat consequatur assumenda ea iure.
 Officiis cupiditate laboriosam rerum aliquam recusandae quis recusandae praesentium. Sit eum quo esse qui a ut fuga. Cum ut eius quia voluptas in qui quasi.</p>
      <p><a href="#" class="vd-teaser-meta"><time datetime="2001-12-06T19:00">06.12.2016</time>
</a></p>
    </div>
    <div class="col-md-6">
      <a href="#">
        <figure class="figure">
    
    <picture class="figure-img">
      
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067">
      
      <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640">
      
      <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">

    </picture>
    
  <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
</figure>

      </a>
    </div>
  </div>
</article>

  
  <a href="#" class="btn btn-primary vd-btn-chevron-r">Tous les projets</a>
</section>



    <script src="//code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../assets/scripts/vendors.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        custom: {
          families: ['Graphik:n5,n4,i4', 'Produkt:n3,i3,n7,n5'],
          urls: ['../../assets/fonts/fonts.css']
        }
      });
    </script>
  </body>
</html>

