

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Preview Layout</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">

  </head>
  <body>

    <h2 class="vd-section-title"></h2>
<article class="vd-teaser-alternate">
  <h3 class="vd-teaser-title mb-1">
    <a href="" class="vd-link-invisible">Sed possimus quaerat ut repellat ab.</a>
  </h3>
  <div class="row">
    <div class="col-md-6">
      <p>Eveniet et voluptates. Ab officia neque consequatur accusamus corrupti. Nostrum ea quam eos voluptatibus quas et porro deserunt eius. Deserunt ea est veniam esse qui et autem placeat eos.
 Excepturi omnis explicabo eos consequuntur enim quos et suscipit. Quam veritatis voluptates placeat occaecati est. Eaque qui facilis. Velit et ut est odio molestiae.
 Maxime ducimus commodi omnis doloribus nesciunt. Optio placeat id. Quia quae molestias ducimus tempora optio fugit.</p>
      <p><a href="" class="vd-teaser-meta"><time datetime="2001-12-06T19:00">06.12.2016</time>
</a></p>
    </div>
    <div class="col-md-6">
      <a href="#">
        <figure class="figure">
            <picture class="figure-img">
              <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text&#x3D;eXtra Large|1600x1067">
              <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text&#x3D;Large|960x640">
              <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text&#x3D;Medium|640x427">
              <img src="https://placehold.it/360x240/F1BF9F/ffffff?text&#x3D;Default|360x240" class="img-fluid" alt="Alternative text">
            </picture>
          <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
        </figure>
      </a>
    </div>
  </div>
</article>
<article class="vd-teaser-alternate">
  <h3 class="vd-teaser-title mb-1">
    <a href="" class="vd-link-invisible">Architecto eum id dolor voluptate.</a>
  </h3>
  <div class="row">
    <div class="col-md-6">
      <p>Dolorum molestias ad a odit perspiciatis occaecati quia harum. Ipsa asperiores temporibus. Dolores suscipit mollitia quo odio optio. Et sit dolores quis sed asperiores recusandae. Alias aut similique maiores nostrum quibusdam.
 Voluptas iste dolorem. Aut aliquid beatae est fugit quis aspernatur nisi cumque aliquid. Harum est aspernatur. Nihil qui iste dolor aut non est et ipsa corrupti. Maxime dolor eos beatae alias. Aut a a.
 Earum consequatur exercitationem facilis eaque aperiam ea excepturi quidem. Earum voluptatem laborum nemo cupiditate eum optio aperiam repudiandae. Eum pariatur quibusdam placeat. Fuga minus adipisci dolore. Veritatis blanditiis magni accusamus magni.</p>
      <p><a href="" class="vd-teaser-meta"><time datetime="2001-12-06T19:00">06.12.2016</time>
</a></p>
    </div>
    <div class="col-md-6">
      <a href="#">
        <figure class="figure">
            <picture class="figure-img">
              <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text&#x3D;eXtra Large|1600x1067">
              <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text&#x3D;Large|960x640">
              <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text&#x3D;Medium|640x427">
              <img src="https://placehold.it/360x240/F1BF9F/ffffff?text&#x3D;Default|360x240" class="img-fluid" alt="Alternative text">
            </picture>
          <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
        </figure>
      </a>
    </div>
  </div>
</article>
<article class="vd-teaser-alternate">
  <h3 class="vd-teaser-title mb-1">
    <a href="" class="vd-link-invisible">Facere qui molestias eos architecto ipsum.</a>
  </h3>
  <div class="row">
    <div class="col-md-6">
      <p>Nam et repudiandae et quia iste non dolores ea. Dolorem ratione voluptatem. Eius facere non dolores perferendis a sint dolores totam quaerat. Odit reprehenderit eos ducimus sit voluptatem aut quibusdam consequatur ullam. Porro est repellat quod consequatur sit velit. Dolores quaerat optio maxime sequi laboriosam corporis velit tempore necessitatibus.
 Rerum voluptatibus architecto ut in aliquid ad. Nam incidunt et tenetur saepe magnam illo. Ut porro vitae architecto nostrum facere voluptates. Soluta ea quia dolore. Odit totam voluptas minima iste autem necessitatibus. Dolor magni et culpa natus repellat nihil.
 Quos atque cumque. Qui inventore quis quasi quo optio ut. Est rerum incidunt laboriosam.</p>
      <p><a href="" class="vd-teaser-meta"><time datetime="2001-12-06T19:00">06.12.2016</time>
</a></p>
    </div>
    <div class="col-md-6">
      <a href="#">
        <figure class="figure">
            <picture class="figure-img">
              <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text&#x3D;eXtra Large|1600x1067">
              <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text&#x3D;Large|960x640">
              <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text&#x3D;Medium|640x427">
              <img src="https://placehold.it/360x240/F1BF9F/ffffff?text&#x3D;Default|360x240" class="img-fluid" alt="Alternative text">
            </picture>
          <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
        </figure>
      </a>
    </div>
  </div>
</article>
<article class="vd-teaser-alternate">
  <h3 class="vd-teaser-title mb-1">
    <a href="" class="vd-link-invisible">Quis quam odit illum molestias non sunt excepturi.</a>
  </h3>
  <div class="row">
    <div class="col-md-6">
      <p>Veniam ut amet exercitationem dolores omnis rerum quia exercitationem consequuntur. Ut pariatur totam nemo voluptatem neque veritatis praesentium. Sunt ex officia id qui quos neque expedita. Commodi est sint est accusamus animi amet et perspiciatis maiores. Quia sunt sit similique.
 Odit et sit et. Ut ut ut non id voluptatibus. Qui enim incidunt est aut alias esse aut tenetur et. Aut voluptas provident. Recusandae aliquam alias.
 Voluptatem omnis quibusdam dolor sunt porro. Animi quisquam quibusdam et. Reiciendis consequatur officiis fugiat autem non. Corrupti officia voluptates aliquam id.</p>
      <p><a href="" class="vd-teaser-meta"><time datetime="2001-12-06T19:00">06.12.2016</time>
</a></p>
    </div>
    <div class="col-md-6">
      <a href="#">
        <figure class="figure">
            <picture class="figure-img">
              <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text&#x3D;eXtra Large|1600x1067">
              <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text&#x3D;Large|960x640">
              <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text&#x3D;Medium|640x427">
              <img src="https://placehold.it/360x240/F1BF9F/ffffff?text&#x3D;Default|360x240" class="img-fluid" alt="Alternative text">
            </picture>
          <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
        </figure>
      </a>
    </div>
  </div>
</article>
<article class="vd-teaser-alternate">
  <h3 class="vd-teaser-title mb-1">
    <a href="" class="vd-link-invisible">Animi officia eos ut sunt.</a>
  </h3>
  <div class="row">
    <div class="col-md-6">
      <p>Inventore tempore soluta recusandae officiis enim. Quas consequatur nostrum reiciendis. Tenetur doloremque voluptas molestiae libero provident eligendi fuga aut eaque. Magnam quis qui fugit cumque deserunt ut qui. Aliquam qui hic et. Numquam illum in ut quis exercitationem voluptatem et et dolor.
 Iusto rerum ratione libero cumque provident optio. Reiciendis quo totam. Id eaque maxime. Sequi nulla aut veniam. Sit qui ducimus quia maxime facilis. Totam et magnam aliquid laborum distinctio minus.
 Laudantium aut corporis eum doloremque commodi reprehenderit et ipsam ipsa. Et non repellat est praesentium magni. Ut sint saepe. Hic quia inventore optio dolorem quia illum voluptas. Ut quia numquam consequatur expedita praesentium harum eos qui. Dicta reprehenderit voluptas.</p>
      <p><a href="" class="vd-teaser-meta"><time datetime="2001-12-06T19:00">06.12.2016</time>
</a></p>
    </div>
    <div class="col-md-6">
      <a href="#">
        <figure class="figure">
            <picture class="figure-img">
              <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text&#x3D;eXtra Large|1600x1067">
              <source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text&#x3D;Large|960x640">
              <source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text&#x3D;Medium|640x427">
              <img src="https://placehold.it/360x240/F1BF9F/ffffff?text&#x3D;Default|360x240" class="img-fluid" alt="Alternative text">
            </picture>
          <figcaption class="figure-caption">Ceci est une légende <span class="vd-figure-credits">Photo JACQUES ANDRÉ</span></figcaption>
        </figure>
      </a>
    </div>
  </div>
</article>
<a href="#" class="btn btn-primary vd-btn-chevron-r">Tous les projets</a>



    <script src="//code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../assets/scripts/vendors.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        custom: {
          families: ['Graphik:n5,n4,i4', 'Produkt:n3,i3,n7,n5'],
          urls: ['../../assets/fonts/fonts.css']
        }
      });
    </script>
  </body>
</html>

