

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Regular Options | Foehn</title>

    <!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicon-apple-touch-icon.png?v=1.4.0">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png?v=1.4.0">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png?v=1.4.0">
<link rel="manifest" href="../../assets/manifest/site.webmanifest?v=1.4.0">
<link rel="mask-icon" href="../../assets/svg/safari-pinned-tab.svg?v=1.4.0" color="#4d8b43">
<link rel="shortcut icon" href="../../assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#4d8b43">
<meta name="msapplication-TileImage" content="/assets/img/favicon-mstile-144x144.png">
<meta name="msapplication-config" content="../../assets/xml/browserconfig.xml?v=1.4.0">
<meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="../../assets/styles/main.css">


    <script defer src="../../assets/scripts/fontawesome-all.js"></script>

  </head>
  <body>

    <h4></h4>

<form action="#" role="search">
  <div class="input-group vd-search-form-regular mb-3">
    <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
    <input id="search-form" type="text" class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
    <span class="input-group-btn">
      <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
    </span>
  </div>
  <fieldset class="form-group">
  <legend>Legend</legend><div class="form-check">
  <input class="form-check-input"
          type="checkbox"
          value="" id="exampleOption1" name="example" checked >
  <label class="form-check-label" for="exampleOption1">
    Cras sed ligula eu est cursus eleifend ut id turpis
  </label>
</div>
<div class="form-check">
  <input class="form-check-input"
          type="checkbox"
          value="" id="exampleOption2" name="example" >
  <label class="form-check-label" for="exampleOption2">
    Fusce feugiat quam vel tellus malesuada, sit amet maximus justo hendrerit
  </label>
</div>
<div class="form-check">
  <input class="form-check-input"
          type="checkbox"
          value="" id="exampleOption3" name="example" >
  <label class="form-check-label" for="exampleOption3">
    Aenean id est non dui porttitor euismod
  </label>
</div>
<div class="form-check disabled">
  <input class="form-check-input"
          type="checkbox"
          value="" id="exampleOption4" name="example" disabled >
  <label class="form-check-label" for="exampleOption4">
    Phasellus dignissim metus quis blandit varius
  </label>
</div>

</fieldset>

</form>


    <script src="../../assets/scripts/jquery.slim.min.js"></script>
<script src="../../assets/scripts/popper.min.js"></script>
<script src="../../assets/scripts/bootstrap.min.js"></script>
<script src="../../assets/scripts/foehn-scripts--footer.js"></script>

  </body>
</html>

