

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Default | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto+Slab:300,700" rel="stylesheet">
  </head>
  <body>

    <header class="header">
  <nav class="container fixed-top" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-1">
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-primary pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <nav>
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="nav small justify-content-end hidden-sm-down">
    
    <li class="nav-item">
      <a href="#" class="nav-link active"><span class="sr-only">page active: </span>Autorité</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Annuaire</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Agenda</a>
    </li>
    
    <li class="nav-item">
      <a href="#" class="nav-link">Contact</a>
    </li>
    
    <li class="nav-item">
      <span class="nav-link"><span class="fa fa-lock" aria-hidden="true"></span> <a href="formulaire-prestation">Mon compte</a></span>
    </li>
    
  </ul>
</nav>

        <div class="vd-nav-mobile dropdown">
  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" type="button" id="nav-mobile-button">menu<span class="bars"><span class="bar"></span><span class="bar"></span><span class="bar"></span></span></button>

  <nav class="dropdown-menu" aria-labelledby="nav-mobile-button">
    <h2>Navigation mobile</h2>
    <div class="dropdown-item pt-2 pb-1 text-center">
      <a class="btn btn-primary vd-btn-chevron-r" href="../domaines">Tous les thèmes</a>
    </div>
    <div class="dropdown-item px-0 pb-0">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#0">Autorités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Annuaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Agenda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Contact</a>
        </li>
        <li class="nav-item vd-nav-item-secure">
          <span class="fa fa-lock fa-lg" aria-hidden="true"></span>
          <a class="nav-link btn btn-primary vd-btn-chevron-r" href="../connexion">Accéder à l'espace sécurisé</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-item">
      <p>Découvrir</p>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#0">International</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Tourisme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#0">Musées</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-item bg-inverse">
      <p class="text-white text-center mt-1">
        <small>Suivre vd.ch sur les réseaux sociaux</small>
      </p>

      <h2 class="vd-heading-light h4 mb-1">Partager la page</h2>
<ul class="list-inline vd-social-icons">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item hidden-lg-up">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item hidden-md-down">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>


    </div>
  </nav>
</div>


      </div>

    </div>
    <div class="row">
      <div class="col-md-5">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 offset-md-2">
        <form class="input-group my-2 vd-search-form" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form" type="text" class="form-control"  aria-describedby="search-form-label">
  <span class="input-group-btn">
<button class="btn" type="submit" aria-label="Rechercher"><i class="fa fa-search" aria-hidden="true"></i></button>
  </span>
</form>

      </div>
    </div>
  </div>

  <div class="vd-nav-primary">
  <div class="vd-nav-primary-toggle">
    <div class="container">
      <div class="text-center text-md-left">
        <button type="button" class="hidden-sm-down btn btn-sm btn-primary collapsed" data-toggle="collapse" data-target="#nav-primary-container"  aria-controls="nav-primary-container" aria-expanded="false"><span class="sr-only">Accédez à la liste de </span>Tous les thèmes</button>
      </div>
    </div>
  </div>
  <div class="hidden-sm-down collapse clearfix" id="nav-primary-container">
    <div class="vd-nav-primary-content">
      <div class="container">
        <div class="row">
          <nav class="col-md-8" id="nav-primary">
            <h2 class="sr-only">Navigation par thèmes</h2>
            <ul class="list-unstyled mb-0 row">
              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et soutiens, Musées cantonaux…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Poursuites et faillites, Registre du commerce…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Faune et nature, Energie…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Impôts, rémunérations, fiscalité…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Jours fériés et vacances scolaires…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobile, Navigation…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, Professionnels…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aide aux victimes et auteur-e-s de violences…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Documents d'identité…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, contrôle, casiers judiciaire…<span class="sr-only">)</span></span>
  </a>
</li>

              
              <li class="vd-domain-item py-1 mb-0 col-md-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block">
    <span class="vd-domain-item-title h2 mt-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Informations sur le territoire, Registre foncier…<span class="sr-only">)</span></span>
  </a>
</li>

              
            </ul>
          </nav>
          <div class="col-md-4">
            <h2 class="vd-heading-light h4 mt-3 mb-1">Les plus visités</h2>
            <ul class="vd-list-links">
              <li><a href="#0">Inscription au chômage</a></li>
              <li><a href="#0">Formulaire d'indemnisation</a></li>
              <li><a href="#0">Vaud Tax 2017</a></li>
              <li><a href="#0">Vacances scolaires et jours fériés</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="breadcrumb-item"><a href="#">Autorités</a></li>
    
    <li class="breadcrumb-item"><a href="#">Département du territoire et de l'environnement</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true" class="mt-0">Direction générale de l'environnement (DGE)</h1>
  </div>
</div>


<main id="main" class="container mt-3 vd-content">
  <h1 class="sr-only">Direction générale de l'environnement (DGE)</h1>


  <div class="row">
    <div class="col-md-8 vd-content-column">
      
  <section>
    <h2 class="sr-only">Présentations</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae id quidem assumenda reprehenderit ea enim suscipit, consequatur quam impedit aut atque repudiandae tempore minus velit ullam hic, ipsa fuga expedita? Dolorum explicabo corporis
      placeat assumenda. Illo facilis iure, asperiores dolor earum vel? Voluptatem nobis quasi, necessitatibus dicta molestias perferendis a est itaque tempore eveniet, facilis quisquam impedit officia temporibus perspiciatis rem libero expedita unde
      commodi recusandae nulla voluptas corrupti! Inventore in quasi omnis itaque rem perspiciatis doloremque aliquid expedita tempora, quibusdam facilis ipsa nam assumenda magnam molestias cupiditate vero laborum odio natus facere! Consectetur cum id
      ipsum quidem, eligendi quis possimus in itaque nostrum eos? Accusantium repudiandae impedit repellendus tempora consequatur nemo libero voluptates, minima sint repellat dolor tenetur, vel voluptas natus possimus suscipit voluptatum, culpa provident
      fugiat soluta quos assumenda deleniti rem? Vero omnis eligendi eum nihil quaerat possimus doloremque, modi inventore corporis, laudantium alias delectus ipsum ipsam sit temporibus voluptatem necessitatibus illo suscipit beatae atque adipisci qui
      veritatis! Excepturi ipsa tempore, qui aliquam animi et. Quasi fugit delectus odio in dolor dignissimos aut nulla rem, excepturi expedita culpa vitae doloremque, id et exercitationem ex voluptatem ipsam fuga corrupti. Eius, ut animi. Magni sunt
      provident illo quibusdam, unde, maxime!</p>
  </section>

  <nav>
  <h2>Sommaire</h2>
  <ul class="vd-list-links">
  
  <li><a href="#actualites">Actualités</a></li>
  
  <li><a href="#projetsEtActivites">Projets et activités</a></li>
  
  <li><a href="#organisation">Organisation</a></li>
  
  <li><a href="#presentations">Prestations</a></li>
  
  <li><a href="#basesLegales">Bases légales</a></li>
  
  <li><a href="#publication">Publications</a></li>
  
  <li><a href="#offresDEmploi">Offres d'emploi</a></li>
  
</ul>

</nav>


  <hr class="vd-separator vd-separator-gray-bars my-3">


  <section id="actualites">
  <h2 class="vd-heading-light h4">Actualités</h2>

  
  <article role="article" aria-label="Ut condimentum magna a ornare pulvinar"">
  <header>
    <h3><a class="vd-link-invisible" href="#" title="Lire l'article: Ut condimentum magna a ornare pulvinar">Ut condimentum magna a ornare pulvinar</a></h3>

    <p class="small">
      <span class="sr-only">Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067"><source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640"><source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">
</picture>
  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#" title="Lire la suite de l'article Ut condimentum magna a ornare pulvinar">Lire la suite</a>
  </p>
  
</article>

  
  <article role="article" aria-label="Etiam vehicula ligula nec convallis fringilla"">
  <header>
    <h3><a class="vd-link-invisible" href="#" title="Lire l'article: Etiam vehicula ligula nec convallis fringilla">Etiam vehicula ligula nec convallis fringilla</a></h3>

    <p class="small">
      <span class="sr-only">Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067"><source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640"><source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">
</picture>
  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#" title="Lire la suite de l'article Etiam vehicula ligula nec convallis fringilla">Lire la suite</a>
  </p>
  
</article>

  
  <article role="article" aria-label="Sed vitae magna eget enim condimentum aliquam semper sit amet velit"">
  <header>
    <h3><a class="vd-link-invisible" href="#" title="Lire l'article: Sed vitae magna eget enim condimentum aliquam semper sit amet velit">Sed vitae magna eget enim condimentum aliquam semper sit amet velit</a></h3>

    <p class="small">
      <span class="sr-only">Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067"><source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640"><source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">
</picture>
  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#" title="Lire la suite de l'article Sed vitae magna eget enim condimentum aliquam semper sit amet velit">Lire la suite</a>
  </p>
  
</article>

  
  <article role="article" aria-label="Duis lobortis arcu vel leo iaculis pretium"">
  <header>
    <h3><a class="vd-link-invisible" href="#" title="Lire l'article: Duis lobortis arcu vel leo iaculis pretium">Duis lobortis arcu vel leo iaculis pretium</a></h3>

    <p class="small">
      <span class="sr-only">Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067"><source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640"><source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">
</picture>
  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#" title="Lire la suite de l'article Duis lobortis arcu vel leo iaculis pretium">Lire la suite</a>
  </p>
  
</article>

  
  <article role="article" aria-label="Morbi fermentum libero at commodo gravida"">
  <header>
    <h3><a class="vd-link-invisible" href="#" title="Lire l'article: Morbi fermentum libero at commodo gravida">Morbi fermentum libero at commodo gravida</a></h3>

    <p class="small">
      <span class="sr-only">Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067"><source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640"><source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">
</picture>
  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#" title="Lire la suite de l'article Morbi fermentum libero at commodo gravida">Lire la suite</a>
  </p>
  
</article>

  

  
  <a href="#" title="link to somewhere" class="btn btn-primary vd-btn-chevron-r"
>Toutes l'actualitées</a>

  
</section>

<hr class="vd-separator vd-separator-gray-bars my-3">



  <section id="projetsEtActivites">
  <h2 class="vd-heading-light h4">Projets et activités</h2>

  
  <article role="article" aria-label="Ut condimentum magna a ornare pulvinar"">
  <header>
    <h3><a class="vd-link-invisible" href="#" title="Lire l'article: Ut condimentum magna a ornare pulvinar">Ut condimentum magna a ornare pulvinar</a></h3>

    <p class="small">
      <span class="sr-only">Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
</p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067"><source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640"><source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">
</picture>
  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#" title="Lire la suite de l'article Ut condimentum magna a ornare pulvinar">Lire la suite</a>
  </p>
  
</article>

  
  <article role="article" aria-label="Etiam vehicula ligula nec convallis fringilla"">
  <header>
    <h3><a class="vd-link-invisible" href="#" title="Lire l'article: Etiam vehicula ligula nec convallis fringilla">Etiam vehicula ligula nec convallis fringilla</a></h3>

    <p class="small">
      <span class="sr-only">Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
</p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067"><source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640"><source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">
</picture>
  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#" title="Lire la suite de l'article Etiam vehicula ligula nec convallis fringilla">Lire la suite</a>
  </p>
  
</article>

  
  <article role="article" aria-label="Sed vitae magna eget enim condimentum aliquam semper sit amet velit"">
  <header>
    <h3><a class="vd-link-invisible" href="#" title="Lire l'article: Sed vitae magna eget enim condimentum aliquam semper sit amet velit">Sed vitae magna eget enim condimentum aliquam semper sit amet velit</a></h3>

    <p class="small">
      <span class="sr-only">Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
</p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067"><source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640"><source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">
</picture>
  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#" title="Lire la suite de l'article Sed vitae magna eget enim condimentum aliquam semper sit amet velit">Lire la suite</a>
  </p>
  
</article>

  
  <article role="article" aria-label="Duis lobortis arcu vel leo iaculis pretium"">
  <header>
    <h3><a class="vd-link-invisible" href="#" title="Lire l'article: Duis lobortis arcu vel leo iaculis pretium">Duis lobortis arcu vel leo iaculis pretium</a></h3>

    <p class="small">
      <span class="sr-only">Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
</p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067"><source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640"><source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">
</picture>
  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#" title="Lire la suite de l'article Duis lobortis arcu vel leo iaculis pretium">Lire la suite</a>
  </p>
  
</article>

  
  <article role="article" aria-label="Morbi fermentum libero at commodo gravida"">
  <header>
    <h3><a class="vd-link-invisible" href="#" title="Lire l'article: Morbi fermentum libero at commodo gravida">Morbi fermentum libero at commodo gravida</a></h3>

    <p class="small">
      <span class="sr-only">Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067"><source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640"><source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">
</picture>
  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#" title="Lire la suite de l'article Morbi fermentum libero at commodo gravida">Lire la suite</a>
  </p>
  
</article>

  

  
  <a href="#" title="link to somewhere" class="btn btn-primary vd-btn-chevron-r"
>Toutes l'actualitées</a>

  
</section>

<hr class="vd-separator vd-separator-gray-bars my-3">



  <section>
    <h2 class="vd-heading-light h4" id="organisation">Organisation</h2>
    <div class="vd-card mb-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 mt-1">
        <img class="rounded-circle img-fluid" src="https://api.adorable.io/avatars/200/hello@vd.png" alt="Alternative text">

      </div>
      <div class="col-xs-8">
        <div class="card-block vd-card-block">
          <h5 class="card-title vd-card-title">Jean Villard</h5>
          <p class="card-text vd-card-text">Poète, chansonnier, comédien, écrivain et compositeur</p>
          <ul class="vd-list-links">
  
  <li><a href="#">Biographie</a></li>
  
</ul>

        </div>
      </div>
    </div>
  </div>
</div>

    <ul class="vd-list-links">
  
  <li><a href="#">Direction de l'énergie &dash; <span class="sr-only">Abbreviation: </span>DIREN</small></a></li>
  
  <li><a href="#">Direction de l'environnement industriel, urbain et rural  &dash; <span class="sr-only">Abbreviation: </span>DIREV</small></a></li>
  
  <li><a href="#">Direction des ressources et du patrimoine  &dash; <span class="sr-only">Abbreviation: </span>DIRNA</small></a></li>
  
  <li><a href="#">Support administratif</a></li>
  
  <li><a href="#">Support stratégique</a></li>
  
</ul>

  </section>

  <section>
    <h2 class="vd-heading-light h4" id="prestations">Prestations</h2>
    <ul class="vd-list-links">
  
  <li><a href="#">Approvisionnement électricité</a></li>
  
  <li><a href="#">Intervention accident avec matières dangereuse</a></li>
  
  <li><a href="#">Assainissement piscines</a></li>
  
</ul>

    <a href="#" title="link to somewhere" class="btn btn-primary vd-btn-chevron-r"
>Toutes les prestations</a>

  </section>

  <section id="baseslegales">
    <h2 class="vd-heading-light h4">Bases légales</h2>
    <ul class="vd-list-links">
  
  <li><a href="https://valentin.name">Asperiores eos quasi dolores ut similique debitis similique at est.</a></li>
  
  <li><a href="http://mathilde.com">Consequuntur aut at rerum dolores officia facilis voluptates omnis modi.</a></li>
  
  <li><a href="https://adam.com">Sed consequatur porro itaque consequuntur voluptas in.</a></li>
  
  <li><a href="https://elisa.info">Dignissimos dolor ea tenetur aliquam provident quod officiis eveniet.</a></li>
  
  <li><a href="http://léo.com">Voluptate totam sapiente minus.</a></li>
  
  <li><a href="http://yanis.net">Enim sint qui recusandae consequatur facere provident architecto quidem ut.</a></li>
  
  <li><a href="https://romain.info">Laboriosam nam porro facere nobis.</a></li>
  
  <li><a href="https://alexis.net">Optio quae vel repellat voluptatem nostrum doloremque.</a></li>
  
  <li><a href="https://louise.eu">Fugit molestias ut adipisci qui iusto sequi et minus.</a></li>
  
  <li><a href="http://jade.net">Deleniti voluptas voluptatem doloremque similique.</a></li>
  
</ul>

  </section>

  <section id="publications">
    <h2 class="vd-heading-light h4">Publications</h2>
    <ul class="vd-list-links">
  
  <li><a href="#">Domaine de l'eau</a></li>
  
  <li><a href="#">Domaine des déchets</a></li>
  
</ul>

  </section>

  <section id="offresdemplois">
    <h2 class="vd-heading-light h4">Offres d'emploi</h2>
    <ul class="vd-list-links">
  
  <li><a href="#">Secrétaire de direction</a></li>
  
  <li><a href="#">Chargé de mission stratégiques</a></li>
  
  <li><a href="#">Ingénieur(e)</a></li>
  
  <li><a href="#">Technicien de laboratoire</a></li>
  
</ul>

  </section>

    </div>

    <aside class="col-md-4 vd-text-md-small vd-content-column">
      
  <address itemscope itemtype="http://schema.org/GovernmentOrganization">

  <h2 itemprop="name"><a href="#" title="Pages du service Direction générale de l'environnement" itemprop="url">Direction générale de l'environnement</a></h2>

  
  <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Place du Château 1</span> <br><span itemprop="postalCode">1014</span> <span itemprop="addressLocality">Lausanne</span> <span class="sr-only" itemprop="addressCountry">Suisse</span></p>

  <div itemscope itemtype="http://schema.org/GovernmentBuilding">
  <h3>Heures d'ouverture<span class="sr-only"> du Direction générale de l'environnement</span></h3>
  
    
    <p itemprop="openingHours" content="">du lundi au vendredi de 8h00 à 11h30 et de 13h30 à 16h30</p>
    
  
  </div>

  <ul class="vd-list-icons">
  
  <li>
    <span class="fa fa-phone" aria-hidden="true"></span> <a href="tel:+41213164515 ">+41 21 316 45 15 </a>
  </li>
  
  <li>
    <span class="fa fa-fax" aria-hidden="true"></span> <a href="tel:+41213164527 ">+41 21 316 45 27 </a>
  </li>
  
  <li>
    <span class="fa fa-envelope" aria-hidden="true"></span> <a href="mailto:service@vd.ch">service@vd.ch</a>
  </li>
  
  <li>
    <span class="fa fa-map-marker" aria-hidden="true"></span> <a href="#">voir sur la carte</a>
  </li>
  
</ul>


  <p>
    <a href="#" title="Contacter l'office" class="btn btn-primary vd-btn-chevron-r"
>Contacter</a>

  </p>

</address>


    </aside>

  </div>
</main>


<div class="container mt-3">
  <p class="mb-2"><small>Mis à jour le <time datetime="2017-03-31T13:05:23+00:00">31.03.2017</time>
</small></p>

  <h2 class="vd-heading-light h4 mb-1 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-2 mb-1">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-facebook" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fa fa-linkedin" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item hidden-lg-up">
    <a class="vd-social-icon" href="#"><span class="fa fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item hidden-md-down">
    <a class="vd-social-icon" href="#"><span class="fa fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4">Titre 1</h2>
              <ul class="list-unstyled"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4">Titre 2</h2>
              <ul class="list-unstyled"><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4">Sites partenaires</h2>
              <ul class="list-unstyled"><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <img aria-hidden="true" class="img-fluid footer-logo mt-auto" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>



    <!-- CCWEB-10102 test typo -->
    <div class="container bg-info text-white fixed-bottom">
      <h2 class="h4 mt-1">Test des polices</h2>
      <div class="row">
        <div class="col-sm">
          <p>Les polices sont actuellement testées. Ce bouton est provisoire.</p>
        </div>
        <div class="col-sm">
          <button class="btn btn-primary vd-toggle-font">Changer la police</button>
          <p>Choix: <span class="vd-toggle-font__selection">1</span></p>
        </div>
        <div class="col-sm">
          <button class="btn btn-primary vd-toggle-blur">Presbytie</button>
        </div>
      </div>
    </div>
    <!-- /CCWEB-10102 -->

    <script src="//code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../assets/scripts/vendors.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>

    <!-- CCWEB-10102 test typo -->
    <script>

    $(".vd-toggle-blur").click(function() {
      $("html").toggleClass("vd-blur");
    });

    $(".vd-toggle-font").click(function() {
      $("html").toggleClass("vd-alternate-font");

      var text = $('.vd-toggle-font__selection').text();
      $('.vd-toggle-font__selection').text(
        text == "1" ? "2" : "1");
    });
    </script>
    <!-- /CCWEB-10102 -->

    <script>
  WebFont.load({
    google: {
      families: ['Open+Sans:400,400i,700,700i', 'Roboto+Slab:300,700']
    }
  });
</script>

  </body>
</html>

