

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Default | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">

  </head>
  <body>

    <header class="header">
  <nav class="vd-access-nav" aria-label="menu accessibilité">
  <ul>
      <li>
        <a class="btn btn-primary" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li><a class="btn btn-primary" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a></li>
      <li>
        <a class="btn btn-primary" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">

    <div class="d-flex flex-column flex-sm-row">

      <div class="mr-auto">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
  <div class="vd-logo-title">
    <div id="aria-vd-logo">Site officiel<span class="sr-only"> de l'État de Vaud</span></div>
    <img src="../../assets/svg/ETATVAUD.svg" alt="État de Vaud" aria-hidden="true" />
  </div>
</a>

      </div>

      <section class="mt-1">
        <h2 class="sr-only">Votre identité</h2>
        <div class="d-flex flex-column">
          <dl class="mb-0">
            <dt class="sr-only">Nom et prénom</dt>
            <dd class="mb-0"><span class="fa fa-lock"></span> <a href="#" title="Gérer mon compte">Jean Villars Gilles</a></dd>

            <dt class="sr-only">Nom du bénéficiaire</dt>
            <dd class="mb-0">Commune de Belmont-sur-Lausanne</dd>
          </dl>
          <div>
            <p>
              <a href="#">Se déconnecter</a>
            </p>
          </div>
        </div><!-- /.d-flex -->
      </section>

    </div><!-- /.row -->
  </div>
</header>



<div class="container mb-2">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand hidden-lg-up">Menu</span>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item mb-lg-0  active">
        <a class="nav-link" href="tableau-de-bord"><span class="sr-only">(current)</span> Tableau de bord</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="historique">Historique</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="prestations">Préstations</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="documents">Documents</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="parametres">Paramètres</a>
      </li>
    </ul>
  </div>
</nav>

</div>


<main id="main">
  <div class="container mb-2">
  <h1>Tableau de bord</h1>
</div>


  <div class="container">
    
  <div class="row">
    <div class="col-md-8">
      <section class="mb-3">
        <h2 class="mb-1">Messages non lus</h2>
        <article>
  <header>
    <h3 class="mb-0"><a href="#">Ceci est un message</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Sera conservé j'usqu'à ce que vous la supprimiez</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://océane.net">I'll parse the back-end ADP protocol, that should matrix the SMTP panel!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Sed ut ad eaque error.
Quam sunt porro et aperiam laudantium.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://sarah.org">connecting the interface won't do anything, we need to synthesize the digital THX feed!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">qui natus unde</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://romain.org">You can't bypass the microchip without indexing the bluetooth IB pixel!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Dolor laboriosam ut ducimus. Vitae qui sed tenetur nobis architecto eum. Molestiae velit vel voluptatem vel explicabo nihil inventore distinctio aliquam.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://mattéo.com">If we copy the bandwidth, we can get to the GB panel through the redundant SAS pixel!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">consequuntur sint est</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://ambre.org">The JBOD alarm is down, bypass the optical application so we can quantify the SSL card!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Qui earum voluptas pariatur. Rerum eius necessitatibus ea et saepe qui. Hic nulla ut dolorem. Dolores vel voluptas vero inventore tempore qui consequatur aut. Aspernatur ut ipsam libero eum.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://sarah.eu">We need to program the auxiliary USB capacitor!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Et fugit facilis consequuntur dolorem quia quas. Provident minima sapiente eos odio exercitationem. Nihil iste quis aliquid. Autem minima cum aspernatur temporibus eum quam minima rerum magnam. Tempora quisquam sit ut fugiat voluptatem ullam neque enim est.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://léa.org">The PNG sensor is down, copy the redundant alarm so we can reboot the USB alarm!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Occaecati cum consequatur totam modi. Voluptatem rem itaque. Dolor amet ullam nihil non occaecati asperiores laborum eligendi. Maxime earum ut omnis dolor sed. Omnis ut voluptas veniam laudantium velit doloremque non consequatur. Autem eaque ea aut fuga aut.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://quentin.name">You can't bypass the bus without quantifying the back-end HTTP alarm!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">itaque</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://jeanne.info">If we program the application, we can get to the SAS bus through the back-end PCI monitor!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">dolorem laudantium distinctio</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>

      </section>

      <section class="mb-3">
        <h2 class="mb-1">Tâches à traiter</h2>
        <article>
  <header>
    <h3 class="mb-0"><a href="#">Demande de permis de construire</a></h3>
    
  </header>
  <p>L'utilisateur Benoît Horisberger a initié une demande de permis de construire qui nécessite votre approbation. Veuillez cliquer sur la demande et suivre les instructions.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://manon.com">indexing the monitor won't do anything, we need to hack the redundant JSON firewall!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>LgZW4leaEDDqQVs</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Emilie Cousin</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://louna.org">You can't parse the port without synthesizing the primary HTTP firewall!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>0QVmQwpcHg2LpaH</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">M Léo Michel</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://camille.info">Try to connect the HTTP capacitor, maybe it will program the online interface!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>30qNL2EROuBoxAL</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Justine Roche</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://justine.eu">If we quantify the feed, we can get to the SAS sensor through the multi-byte GB transmitter!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>6f_aR173xLBqwP9</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Justine Martin</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://noémie.net">synthesizing the interface won't do anything, we need to hack the cross-platform JBOD system!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>xpl2m9T8JX_wc7_</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Maëlys Robert</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://raphaël.net">compressing the circuit won't do anything, we need to copy the multi-byte THX bandwidth!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>qE_r5IhnVLNaH1Y</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Alexandre Fabre</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://valentin.name">Try to compress the RAM pixel, maybe it will navigate the open-source program!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>gHUrVQbz7eeU0hd</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Adam Rousseau</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://carla.com">We need to compress the mobile ADP interface!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>n8VTqoCcKDtJ3MS</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Mme Mathilde Aubry</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://alicia.com">navigating the sensor won't do anything, we need to index the haptic ADP interface!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>WMBnbbOjwsqBiiA</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Baptiste Lopez</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>

      </section>

      <section class="mb-3">
        <h2 class="mb-1">Demandes</h2>
        <article>
  <header>
    <h3 class="mb-0"><a href="#">Demande de permis de construire</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>HOX0AI-AJQ7K1</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">L'utilisateur Benoît Horisberger a initié une demande de permis de construire qui nécessite votre approbation. Veuillez cliquer sur la demande et suivre les instructions.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://juliette.com">If we input the capacitor, we can get to the SDD array through the solid state XSS application!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>HvykLvqvPdpmVLS</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Commodi architecto molestiae rerum et ea.
Dignissimos culpa provident possimus dignissimos.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://lena.org">Try to copy the HTTP pixel, maybe it will synthesize the auxiliary alarm!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>WCnld8EttshrszC</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Ea nisi ipsum. Consequatur ut dolore. Atque ut nostrum hic dolores voluptate minus repudiandae qui. Iste eos totam suscipit molestiae iusto. Eos delectus enim explicabo.
 Fuga iusto fugit nemo. Et alias eius. Voluptas quia et quisquam sunt aut sapiente est enim. Inventore sed ab sint sequi odio culpa rerum. Veritatis velit nobis aut corrupti eius. Magnam repellendus saepe quae et.
 Sint sed at. Est sunt veniam aut. Ut quis aut. Nostrum ut in eos. Distinctio porro natus enim.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://lina.info">If we back up the circuit, we can get to the SCSI driver through the 1080p JSON monitor!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>vK3HpnYxGSGEwto</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">et</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://maxence.net">bypassing the driver won't do anything, we need to quantify the virtual JSON bus!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>i_ETNsNSyZM_Cx3</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Corporis consequuntur veniam. Sed pariatur neque error repellat cupiditate.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://marie.name">We need to override the auxiliary ADP port!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>Qn2IyQEiYqjqKJ9</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">non</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://jeanne.info">overriding the bandwidth won't do anything, we need to back up the back-end PNG bandwidth!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>BVwnYdH7H2z1chj</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">At et sunt nihil assumenda reiciendis dicta dolores consequatur quos. Est vitae et odio explicabo numquam. Fugiat saepe eos occaecati error sequi ex omnis cupiditate. Eum neque error rem maiores.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://mathilde.info">We need to program the 1080p SMS alarm!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>Rqn1zZ5NWH0IrfF</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Accusamus possimus rerum ipsa provident recusandae et sapiente. Eum est eum nulla cupiditate voluptas sit nobis non et. Minus pariatur quibusdam dolores.
 Voluptatum distinctio repellat omnis esse tempora. Nihil praesentium ab aperiam tenetur quidem numquam qui aliquid minus. Est placeat asperiores consequuntur ea aut id numquam quod. Velit at et omnis eaque quasi. Hic magnam et. Omnis molestiae iure magnam ut eligendi nam.
 Aut minus vitae. Vel iusto animi accusantium enim magnam placeat sit sed. Earum rerum vitae dignissimos et. Vitae blanditiis quia excepturi at quia porro.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://lola.eu">You can't index the firewall without synthesizing the redundant AGP monitor!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>kaTrFSiDhhGeJ0r</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Delectus corrupti quia enim eligendi libero in quo. Et laboriosam animi corrupti debitis nesciunt sint deleniti non. Praesentium quo dolor voluptates.
 Ut corporis est omnis. Repudiandae atque architecto ducimus itaque tenetur et modi repellendus placeat. Sit alias blanditiis ipsam atque ut. Provident temporibus corrupti reiciendis distinctio tempore aut quas. Deleniti accusantium animi quis qui hic harum delectus sed quia. Voluptate rerum non eos.
 Id ipsa sint fugit aliquam sunt. Mollitia sequi velit omnis aut quibusdam rerum sint est molestias. Quod sapiente veritatis est odio optio. Qui soluta asperiores et vero eaque quo molestias. Animi velit quos nulla ipsa earum explicabo ad ea. A necessitatibus praesentium est commodi officiis et sed voluptatem sed.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://mathis.eu">Try to program the SAS interface, maybe it will quantify the wireless program!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>ShDbZbWtVs_epf_</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Modi exercitationem odio rem ut. Non non quas eveniet rerum quam illum architecto voluptatem iusto. Voluptas mollitia ut. Minima libero illum excepturi eaque tempora.
 Nesciunt cupiditate velit iste sit. Sed repudiandae accusantium sequi. Ut laboriosam qui eveniet ipsa recusandae.
 Saepe iste itaque. Odit sapiente cumque dolor officiis sunt est. Atque qui quia fugiat magni molestiae eaque voluptatum.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>

      </section>

    </div>

    <div class="col-md-4">
      <h2 class="mb-1">Préstations favorites</h2>
      <ul>
        <li><a href="#dsfsfs">Modification des impôts</a></li>
        <li><a href="#dsfsfs">Voter en ligne</a></li>
      </ul>
    </div>
  </div>

  </div>
</main>
<footer class="footer mt-3">
  <div class="container">
    <a href="#" class="footer-btn-backtotop btn btn-sm btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
    <div class="row small">
      <nav aria-label="pied de page" class="col-xs-10">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pourquoi créer un compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mentions légales</a>
          </li>
        </ul>
      </nav>
      <div class="col-xs-2 footer-logo-container">
        <div class="footer-logo">
          <img class="img-fluid" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
        </div>
      </div>
    </div>
  </div>
</footer>




    <script src="//code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../assets/scripts/vendors.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
  WebFont.load({
    custom: {
      families: ['Graphik:n4,i4,n5', 'Produkt:n3,i3,n5,n7'],
      urls: ['../../assets/fonts/fonts.css']
    }
  });
</script>

  </body>
</html>

