

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Default | Foehn</title>

    <!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicon-apple-touch-icon.png?v=1.0.3">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png?v=1.0.3">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png?v=1.0.3">
<link rel="manifest" href="../../assets/manifest/site.webmanifest?v=1.0.3">
<link rel="mask-icon" href="../../assets/svg/safari-pinned-tab.svg?v=1.0.3" color="#4d8b43">
<link rel="shortcut icon" href="../../assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#4d8b43">
<meta name="msapplication-TileImage" content="/assets/img/favicon-mstile-144x144.png">
<meta name="msapplication-config" content="../../assets/xml/browserconfig.xml?v=1.0.3">
<meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="../../assets/styles/main.css">


    <script defer src="../../assets/scripts/fontawesome-all.js"></script>

  </head>
  <body>

    <table class="table table-striped table-responsive">
  <caption>A caption functions like a heading for a table<br><small>A summary conveys information about the organization of the data in a table and helps users navigate it.</small></caption>
  <thead>
  <tr>
    <th>Données géographiques </th>
    <th>Léman</th>
    <th>Neuchâtel</th>
    <th>Morat</th>
    <th>Joux</th>
    <th>Brenet</th>
    <th>Brêt</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Altitude</th>
    <td>372 m</td>
    <td>429 m</td>
    <td>429 m</td>
    <td>1004 m</td>
    <td>1002 m</td>
    <td>673 m</td>
  </tr>
  <tr>
    <th scope="row">Profondeur maximum</th>
    <td>310 m</td>
    <td>153 m</td>
    <td>45 m</td>
    <td>33 m</td>
    <td>18 m</td>
    <td>20 m</td>
  </tr>
  <tr>
    <th scope="row">Rives</th>
    <td>200 km</td>
    <td>84 km</td>
    <td>21 km</td>
    <td>21 km</td>
    <td>4 km</td>
    <td>4 km</td>
  </tr>
  <tr>
    <th scope="row">Superficie</th>

    <td>580 km<sup>2</sup></td>
    <td>215 km<sup>2</sup></td>
    <td>23 km<sup>2</sup></td>
    <td>9 km<sup>2</sup></td>
    <td>0.7 km<sup>2</sup></td>
    <td>0.5 km<sup>2</sup></td>
  </tr>
  <tr>
    <th scope="row">Volume (m<sup>3</sup>)</th>

    <td>89 milliards</td>
    <td>13.8 milliards</td>
    <td>0.55 milliard</td>
    <td>132 millions</td>
    <td>5 millions</td>
    <td>4.5 millions</td>
  </tr>
  <tr>
    <th scope="row">Temps moyen pendant lequel l'eau séjourne dans le lac</th>
    <td>12 ans</td>
    <td>8.2 ans</td>
    <td>1.6 ans</td>
    <td>0.85 an</td>
    <td>0.3 an</td>
    <td>1 an</td>
  </tr>
  </tbody>
</table>


    <script src="../../assets/scripts/jquery.slim.min.js"></script>
<script src="../../assets/scripts/popper.min.js"></script>
<script src="../../assets/scripts/bootstrap.min.js"></script>
<script src="../../assets/scripts/foehn-scripts--footer.js"></script>

  </body>
</html>

