

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Default | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">

  </head>
  <body>

    <header class="header">
  <nav class="vd-access-nav" aria-label="menu accessibilité">
  <ul>
      <li>
        <a class="btn btn-primary" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li><a class="btn btn-primary" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a></li>
      <li>
        <a class="btn btn-primary" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="btn btn-primary" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">

    <div class="d-flex flex-column flex-sm-row">

      <div class="mr-auto">
        <a href="../accueil" class="vd-logo" aria-labelledby="aria-vd-logo">
  <div class="vd-logo-title">
    <div id="aria-vd-logo">Site officiel<span class="sr-only"> de l'État de Vaud</span></div>
    <img src="../../assets/svg/ETATVAUD.svg" alt="État de Vaud" aria-hidden="true" />
  </div>
</a>

      </div>

      <section class="mt-1">
        <h2 class="sr-only">Votre identité</h2>
        <div class="d-flex flex-column">
          <dl class="mb-0">
            <dt class="sr-only">Nom et prénom</dt>
            <dd class="mb-0"><span class="fa fa-lock"></span> <a href="#" title="Gérer mon compte">Jean Villars Gilles</a></dd>

            <dt class="sr-only">Nom du bénéficiaire</dt>
            <dd class="mb-0">Commune de Belmont-sur-Lausanne</dd>
          </dl>
          <div>
            <p>
              <a href="#">Se déconnecter</a>
            </p>
          </div>
        </div><!-- /.d-flex -->
      </section>

    </div><!-- /.row -->
  </div>
</header>



<div class="container mb-2">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand hidden-lg-up">Menu</span>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item mb-lg-0  active">
        <a class="nav-link" href="tableau-de-bord"><span class="sr-only">(current)</span> Tableau de bord</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="historique">Historique</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="prestations">Préstations</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="documents">Documents</a>
      </li><li class="nav-item mb-lg-0 ">
        <a class="nav-link" href="parametres">Paramètres</a>
      </li>
    </ul>
  </div>
</nav>

</div>


<main id="main">
  <div class="container mb-2">
  <h1>Tableau de bord</h1>
</div>


  <div class="container">
    
  <div class="row">
    <div class="col-md-8">
      <section class="mb-3">
        <h2 class="mb-1">Messages non lus</h2>
        <article>
  <header>
    <h3 class="mb-0"><a href="#">Ceci est un message</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Sera conservé j'usqu'à ce que vous la supprimiez</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://marie.name">We need to quantify the back-end SSL matrix!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Eum quo nemo. Ut harum et sunt molestiae ab. Animi fuga debitis veniam eos architecto ea. Sed voluptates at neque nesciunt odit architecto voluptatem. Ipsum omnis possimus voluptas velit voluptas. Quasi et ea fugit sed.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://pauline.fr">If we connect the port, we can get to the SQL transmitter through the primary PNG driver!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Corporis rerum ut accusantium sed dolor repellendus.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://emilie.info">You can't bypass the bus without quantifying the digital RAM circuit!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Error possimus quia omnis.
Sunt ut rerum dolor quam temporibus vero aut.
Nobis incidunt est nostrum nisi non.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://julie.fr">quantifying the program won't do anything, we need to compress the cross-platform EXE port!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">et</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://kylian.com">The SQL driver is down, synthesize the redundant capacitor so we can transmit the COM microchip!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Esse ea vel aspernatur tempore.
Vero consequuntur officia.
Dolores aliquam recusandae asperiores id et enim excepturi numquam.
Recusandae ea consectetur ut voluptates velit.
Et a nulla.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://léo.fr">The SAS matrix is down, hack the cross-platform capacitor so we can connect the AGP bandwidth!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Architecto voluptatibus dolore non non ducimus cupiditate fugit laborum aut. Ducimus omnis debitis dicta et corrupti non dolor voluptates quaerat. Occaecati molestiae sed rerum. Dolores repudiandae dolor. Neque rem dolor sunt sunt enim explicabo.
 Voluptatum et consequatur consequatur sapiente. Repudiandae alias laudantium fuga in. Expedita consequatur eaque. Tempora mollitia perspiciatis similique ipsa dolores doloribus illo quia. Ut voluptatem impedit rerum cupiditate at nobis repellendus eveniet beatae.
 Et explicabo deleniti in. Quam aut molestiae. Aspernatur esse qui quas. Quaerat error accusantium nihil cumque dolorem voluptate dicta. Adipisci eveniet et iste et deleniti et voluptas consectetur.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://clémence.org">Use the cross-platform EXE firewall, then you can input the multi-byte port!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">quidem voluptatem est</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://lena.net">Try to program the SQL feed, maybe it will calculate the solid state port!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Voluptate delectus rerum minima. Et dolorem aut dolorem rerum suscipit et quisquam sunt et. Est aliquam maiores laboriosam modi id qui dolorem.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://pauline.name">If we input the microchip, we can get to the HDD driver through the 1080p RAM circuit!</a></h3>
    
    <dl class="small text-muted row">
      
      
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      
    </dl>
    
  </header>
  <p class="mb-0x">Veniam dolores natus ut earum quidem necessitatibus.
Autem dolorem et amet eius molestiae maxime hic.
Iure asperiores eaque occaecati libero sit.
Voluptatem explicabo ipsum fugiat eius error odio aut.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>

      </section>

      <section class="mb-3">
        <h2 class="mb-1">Tâches à traiter</h2>
        <article>
  <header>
    <h3 class="mb-0"><a href="#">Demande de permis de construire</a></h3>
    
  </header>
  <p>L'utilisateur Benoît Horisberger a initié une demande de permis de construire qui nécessite votre approbation. Veuillez cliquer sur la demande et suivre les instructions.</p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://maxime.info">transmitting the pixel won't do anything, we need to synthesize the bluetooth PNG bandwidth!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>eqXa0IHt9ZPGu16</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Alice Leroux PhD</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://lucie.eu">We need to synthesize the multi-byte RSS panel!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>9k5xTzwsiwSK_1x</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Quentin Lopez</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://théo.fr">I'll hack the virtual AGP sensor, that should sensor the USB driver!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>z33TKi5eQotitDq</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Jeanne Thomas</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://axel.name">I'll override the neural SDD interface, that should sensor the USB pixel!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>5dF6eaSfihyvd7g</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Louise Jacquet</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://mohamed.net">Try to generate the HDD bus, maybe it will transmit the optical pixel!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>dHHDHd4moaNh1Cr</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Prof Julie Bertrand</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://louise.fr">Try to synthesize the IB monitor, maybe it will parse the digital bandwidth!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>nisPiV_orQDMd8c</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Lucas Guerin</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://noémie.info">Use the virtual PNG sensor, then you can navigate the optical circuit!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>XAM6QXeYVggIBqJ</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Lucie Dubois</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://tom.net">The COM program is down, copy the 1080p interface so we can copy the EXE matrix!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>z2oTrceoMUsc4Oc</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Juliette Rousseau</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://nathan.com">Use the 1080p AI alarm, then you can quantify the open-source bandwidth!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>Bi1J3GM8ZaC7VBM</samp></dd>
      <dt class="col-sm-5 mb-sm-0">Bénéficiaire</dt>
      <dd class="col-sm-7 mb-sm-0">Mohamed Charles</dd>
      
      
    </dl>
    
  </header>
  <p></p>
  </article>

      </section>

      <section class="mb-3">
        <h2 class="mb-1">Demandes</h2>
        <article>
  <header>
    <h3 class="mb-0"><a href="#">Demande de permis de construire</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>HOX0AI-AJQ7K1</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">L'utilisateur Benoît Horisberger a initié une demande de permis de construire qui nécessite votre approbation. Veuillez cliquer sur la demande et suivre les instructions.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://antoine.com">You can't generate the circuit without indexing the multi-byte XSS transmitter!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>M3GluoTTJygZf1z</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Exercitationem commodi et quae.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://célia.name">The SAS port is down, copy the neural card so we can calculate the ADP array!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>a7SE2bVI27FGqMJ</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Facere molestiae tenetur et maiores maiores dolorem impedit quisquam voluptates.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://zoe.org">If we copy the matrix, we can get to the SAS port through the optical EXE feed!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>ADWpKBIBz4mZlnd</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">omnis qui quasi</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://emilie.info">Try to input the JSON circuit, maybe it will program the online panel!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>erYN9n9ULgKi9kA</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">vel aspernatur quod</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://ambre.info">If we connect the pixel, we can get to the SAS card through the haptic HTTP protocol!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>1BpdD9Gu_z1kfCh</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Sunt molestiae doloremque velit ut ut iste eos eveniet quia.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="http://nathan.fr">If we navigate the card, we can get to the EXE array through the 1080p SQL alarm!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>txu6UWIAswVsg5S</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Sunt tempore facere magni tempora enim ut qui sed repudiandae.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://arthur.net">I'll transmit the virtual PNG microchip, that should program the SSL matrix!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>3J5__pT_iXyEev9</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">En cours</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Non et eaque.
Tenetur atque quia dolorum.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://ambre.org">Try to transmit the JBOD port, maybe it will input the redundant panel!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>qpmfpjCijcnF1g4</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Voluptates consequatur rerum et saepe omnis minima. Sint optio sapiente omnis ea qui sed omnis ratione.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>
<article>
  <header>
    <h3 class="mb-0"><a href="https://lucie.info">Use the neural COM sensor, then you can hack the digital microchip!</a></h3>
    
    <dl class="small text-muted row">
      
      <dt class="col-sm-5 mb-sm-0">Référence de la demande</dt>
      <dd class="col-sm-7 mb-sm-0"><samp>H7S_WYdLREafKuw</samp></dd>
      
      <dt class="col-sm-5 mb-sm-0">Date</dt>
      <dd class="col-sm-7 mb-sm-0">26-04-2017</dd>
      <dt class="col-sm-5 mb-sm-0">Status</dt>
      <dd class="col-sm-7 mb-sm-0">Brouillon</dd>
    </dl>
    
  </header>
  <p class="mb-0x">Mollitia aut repellat debitis amet quis dolorem fugit. Ut quibusdam harum libero dolorem. Sunt natus est ut aut voluptate totam. Eum sequi rerum eaque sit sed eius fuga. Dicta voluptatem ipsa eius adipisci dolorem eum at repellendus.
 Numquam autem tempora vel voluptatem velit sequi. Debitis debitis sed velit nulla assumenda. Odio modi facere explicabo ipsum ut repellat. Magni voluptatum dignissimos saepe.
 Aut qui dolorum quia veritatis qui est. Similique totam quia. Inventore et eum fuga velit mollitia aut aliquid in doloremque. Iste et mollitia. Odio totam facere sed nostrum nam et eius in ratione.</p>
  <footer>
    <ul class="list-unstyled d-flex justify-content-start flex-wrap mb-0">
      <li class="mr-1"><a href="#">Copier</a></li><li class="mr-1"><a href="#">Conserver</a></li><li class="ml-sm-auto"><a href="#">Supprimer</a></li>
    </ul>
  </footer></article>

      </section>

    </div>

    <div class="col-md-4">
      <h2 class="mb-1">Préstations favorites</h2>
      <ul>
        <li><a href="#dsfsfs">Modification des impôts</a></li>
        <li><a href="#dsfsfs">Voter en ligne</a></li>
      </ul>
    </div>
  </div>

  </div>
</main>
<footer class="footer mt-3">
  <div class="container">
    <a href="#" class="footer-btn-backtotop btn btn-sm btn-primary vd-btn-chevron-t" title="Retour vers le haut de la page">Haut</a>
    <div class="row small">
      <nav aria-label="pied de page" class="col-xs-10">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pourquoi créer un compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mentions légales</a>
          </li>
        </ul>
      </nav>
      <div class="col-xs-2 footer-logo-container">
        <div class="footer-logo">
          <img class="img-fluid" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">
        </div>
      </div>
    </div>
  </div>
</footer>




    <script src="//code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../assets/scripts/vendors.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
  WebFont.load({
    custom: {
      families: ['Graphik:n4,i4,n5', 'Produkt:n3,i3,n5,n7'],
      urls: ['../../assets/fonts/fonts.css']
    }
  });
</script>

  </body>
</html>

