

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Homepage | Foehn</title>
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../assets/styles/vendors.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Roboto+Slab:300,700" rel="stylesheet">
  </head>
  <body>

    <section>
  <h2 class="vd-heading-light h4">Actualités</h2>

  
  <article role="article" aria-label="Ut condimentum magna a ornare pulvinar"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Ut condimentum magna a ornare pulvinar</a></h3>

    <p class="small">
      <span class="sr-only">Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  <figure class="figure vd-w-md-50">
  <a href="#"><picture class="figure-img">
      <source media="(min-width: 60em)" srcset="http://placehold.it/1600x1067/ACCBE8/ffffff?text=eXtra Large|1600x1067"><source media="(min-width: 40em)" srcset="http://placehold.it/960x640/ACCBE8/ffffff?text=Large|960x640"><source media="(min-width: 20em)" srcset="http://placehold.it/640x427/F1BF9F/ffffff?text=Medium|640x427">
      <img src="https://placehold.it/360x240/F1BF9F/ffffff?text=Default|360x240" class="img-fluid" alt="Alternative text">
</picture>
  </a>
</figure>

  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Ut condimentum magna a ornare pulvinar</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Etiam vehicula ligula nec convallis fringilla"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Etiam vehicula ligula nec convallis fringilla</a></h3>

    <p class="small">
      <span class="sr-only">Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Etiam vehicula ligula nec convallis fringilla</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Sed vitae magna eget enim condimentum aliquam semper sit amet velit"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Sed vitae magna eget enim condimentum aliquam semper sit amet velit</a></h3>

    <p class="small">
      <span class="sr-only">Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Sed vitae magna eget enim condimentum aliquam semper sit amet velit</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Duis lobortis arcu vel leo iaculis pretium"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Duis lobortis arcu vel leo iaculis pretium</a></h3>

    <p class="small">
      <span class="sr-only">Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Duis lobortis arcu vel leo iaculis pretium</span></a>
  </p>
  
</article>

  
  <article role="article" aria-label="Morbi fermentum libero at commodo gravida"">
  <header>
    <h3><a class="vd-link-invisible" href="#">Morbi fermentum libero at commodo gravida</a></h3>

    <p class="small">
      <span class="sr-only">Publié le </span><time datetime="2017-03-31T13:05:23+00:00" pubdate>31.03.2017</time>
— <span class="sr-only">Catégorie: </span><a href="#" rel="category" title="Les articles de la categorie Accessibilité">Accessibilité</a>, <a href="#" rel="category" title="Les articles de la categorie Agriculture">Agriculture</a> et <a href="#" rel="category" title="Les articles de la categorie Tourisme">Tourisme</a>
      </p>
  </header>
  
  
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi esse non autem blanditiis, facere, cumque, eligendi voluptatem moletias vero sint ad optio ab tempora quis, maiores sapiente iusto quia quam. Modi ducimus, cumque repellat, illum perferendis suscipit ad voluptatem veniam delectus qui reiciendis, quod impedit ab libero omnis? Consequatur atque nihil exercitationem est, amet maxime quia.
  </p>
  
  
  <p>
    <a href="#">Lire la suite<span class="sr-only"> de l'article Morbi fermentum libero at commodo gravida</span></a>
  </p>
  
</article>

  

  
  <h3 class="sr-only">Autres actualités</h3>
  <ul class="list-unstyled">
    <li class="mb-1"><a href="#" title="link to somewhere" class="btn btn-primary"
>Toutes l'actualitées</a>
</li>
    <li class="mb-1"><a href="#" title="link to somewhere" class="btn btn-primary btn-secondary"
>Tous les communiqués</a>
</li>
    <li class="mb-1"><a href="#" title="link to somewhere" class="btn btn-primary btn-secondary"
>Décisions du conseil d'état</a>
</li>
  </ul>
  
</section>





    <script src="//code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="../../assets/scripts/vendors.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
  WebFont.load({
    google: {
      families: ['Open+Sans:400,400i,700,700i', 'Roboto+Slab:300,700']
    }
  });
</script>

  </body>
</html>

