

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>List all prestations | Foehn</title>

    <!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicon-apple-touch-icon.png?v=0.52.2">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png?v=0.52.2">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png?v=0.52.2">
<link rel="manifest" href="../../assets/manifest/site.webmanifest?v=0.52.2">
<link rel="mask-icon" href="../../assets/svg/safari-pinned-tab.svg?v=0.52.2" color="#4d8b43">
<link rel="shortcut icon" href="../../assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#4d8b43">
<meta name="msapplication-TileImage" content="/assets/img/favicon-mstile-144x144.png">
<meta name="msapplication-config" content="../../assets/xml/browserconfig.xml?v=0.52.2">
<meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="../../assets/styles/main.css">


    <script async src="../../assets/scripts/foehn-scripts--header.js"></script>
<script defer src="../../assets/scripts/fontawesome-all.js"></script>

  </head>
  <body>

    <header class="header">
  <nav class="container fixed-top access-nav d-print-none" aria-label="menu accessibilité">
  <ul class="list-unstyled mt-3">
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="0" href="#" title="[Alt+0] Page d'accueil du site">Accueil</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="1" href="#nav-primary" title="[Alt+1] Menu de navigation de la page">Menu de navigation de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="2" href="#main" title="[Alt+2] Debut du contenu de la page">Début du contenu de la page</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="3" href="#" title="[Alt+3] Page de contact">Page de contact</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="4" href="#" title="[Alt+4] Plan du site du Canton de Vaud">Plan du site</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="5" href="#search-form" title="[Alt+5] Accès au champ de recherche">Accès au champ de recherche</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="6" href="#" title="[Alt+6] Accès à l'index thématique">Thèmes</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="7" href="#" title="[Alt+7] Accès à la navigation par autorités">Autorités</a>
      </li>
      <li>
        <a class="sr-only sr-only-focusable btn btn-dark pt-0" accesskey="8" href="#" title="[Alt+8] Page d'aide pour les personnes en situation de handicap">Page d'aide pour les personnes en situation de handicap</a>
      </li>
    </ul>
</nav>

  <div class="container">
    <div class="d-flex
                flex-wrap
                justify-content-between
                justify-content-md-end
                d-print-none">
      <div class="mr-3">
        <nav class="d-print-none">
  <h2 class="sr-only">Sous-navigation</h2>
  <ul class="list-inline text-md-right small">
    
    <li class="list-inline-item">
      <a href="#" class="">Autorités</a>
    </li>
    
    <li class="list-inline-item">
      <a href="#" class="">Annuaire</a>
    </li>
    
  </ul>
</nav>

      </div>
      <section class="small mb-3">
  <h2 class="sr-only">Votre identité</h2>
  <p class="mb-0">
    <span class="fas fa-lock"></span>
    
    <a href="#">Se connecter</a>
    
  </p>
  
</section>

    </div>
    
    <div class="row">
      <div class="col-md-5 vd-print-full-width">
        <a href="../accueil"
   class="vd-logo"
   title="Aller à la page d'accueil du Site du Canton de Vaud">
  <img src="../../assets/svg/ETATVAUD.svg" class="vd-logo__image" alt="État de Vaud" aria-hidden="true" />
</a>

      </div>
      <div class="col-md-5 ml-auto d-print-none">
        <form class="input-group vd-search-form mt-2 mb-4" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Champ de recherche</label>
  <input id="search-form"
         type="text"
         class="form-control" placeholder="Rechercher" aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn" type="submit" aria-label="Rechercher">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
  </span>
</form>

      </div>
    </div>
    
  </div>

  <div class="vd-nav-primary d-print-none">

  <!-- button -->
  <div class="container">
    <button type="button"
          class="btn btn-sm btn-link vd-nav-primary__button collapsed"
          data-toggle="collapse"
          data-target="#nav-primary-container"
          aria-controls="nav-primary-container"
        aria-expanded="false">
      <div class="d-flex justify-content-between">
        <div>
          <span class="vd-nav-primary__button--close">Cacher les thèmes</span>
          <span class="vd-nav-primary__button--open">Afficher les thèmes</span>
        </div>
        <div>
          <span class="vd-nav-primary__button--open fas fa-plus"></span>
          <span class="vd-nav-primary__button--close fas fa-minus"></span>
        </div>
      </div>
    </button>
  </div>

  <!-- menu -->
  <div class="vd-nav-primary__menu-container">
    <div class="collapse clearfix"
         id="nav-primary-container">
      <div class="pb-3">
        <div class="container vd-nav-primary__menu-bg-md">
          <div class="vd-nav-primary__menu-bg-sm">
            <div class="row">
              <nav class="col-md-8 order-md-1 mt-3" id="nav-primary">
                <h2 class="sr-only">Navigation par thèmes</h2>
                <ul class="list-unstyled mb-0 row">
                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#culture" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Culture</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aides et subventions, passculture, Musées, Bibliothèques, Patrimoine vaudois, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#economie" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Economie</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Registre du commerce, poursuites et faillites, Entreprise, Chômage, Agriculture, développement économique, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#environnement" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Environnement</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subventions pour l’énergie, faune et nature, eaux, forêts, air, développement durable, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#etat%2C%20droit%2C%20finance" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Etat, Droit, Finance</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Justice, votations, Egalité, protection des données, Impôts, finances publiques, Etat employeur, statistiques, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#formation" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Formation</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#mobilit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Mobilité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Automobiles, Routes, navigation, transports publics, mobilités durables, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#sant%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Santé</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Prévention, système de santé, dépendances, santé en milieu scolaire, droit des patients, les professionnels de la santé, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#social" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Social</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Subside à l’assurance maladie, revenu d’insertion, violence, le RDU, les prestations familles, PC familles, Rente-pont, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#vie%20priv%C3%A9e" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Vie privée</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Vacances scolaires, scolarité obligatoire, orientation, apprentissage, gymnase, Bourses, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#s%C3%A9curit%C3%A9" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Sécurité</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Police, pénitentiaire, armée, catastrophe, protection de la population, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                    <li class="vd-domain-item mb-3 col-sm-6 col-lg-4">
  <a href="domaines#territoire" class="vd-link-invisible d-inline-block pt-1">
    <span class="h4 my-0 d-block">Territoire</span>
    <span class="vd-domain-item-text mb-0"><span class="sr-only">(Exemple de contenu: </span>Aménagement, permis de construire, registre foncier, communes, préfectures, dangers naturels, etc.<span class="sr-only">)</span></span>
  </a>
</li>

                  
                </ul>
              </nav>
              <div class="col-md-4 order-first order-md-2 mt-3">
                <h2 class="vd-heading-light-alt h4">Les plus visités</h2>
                <ul class="vd-menu-list-links">
                  <li><a href="#0">Inscription au chômage</a></li>
                  <li><a href="#0">Formulaire d'indemnisation</a></li>
                  <li><a href="#0">Vaud Tax 2017</a></li>
                  <li><a href="#0">Vacances scolaires et jours fériés</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</header>


<div class="vd-bg-pattern-gray">
  <div class="container">
        <nav>
  <h2 class="sr-only">File d'Ariane</h2>
  <ol class="breadcrumb">
    
    <li class="breadcrumb-item"><a href="#">vd.ch</a></li>
    
    <li class="breadcrumb-item"><a href="#">Domaines</a></li>
    
    <li class="sr-only">Vous êtes ici: [titre de la page]</li>
  </ol>
</nav>

        <h1 aria-hidden="true" class="mt-0">Theme name</h1>
  </div>
</div>


<main id="main" class="container mt-5 vd-content">
  <h1 class="sr-only">Theme name</h1>


  <div class="row">
    <div class="col-md-8 vd-content-column">
      
  <div class="vd-bg-pattern-bars-gray clearfix my-3 py-4 d-print-none">
    <div class="container">
      <h2 class="mt-0">Rechercher dans les prestations</h2>


<form class="input-group vd-search-form-regular" action="#" role="search">
  <label class="sr-only" for="search-form" id="search-form-label">Rechercher dans les prestations</label>
  <input id="search-form"
         type="text"
         class="form-control"aria-describedby="search-form-label">
  <span class="input-group-btn">
    <button class="btn btn-dark" type="submit" aria-label="Rechercher"><i class="fas fa-search" aria-hidden="true"></i></button>
  </span>
</form>

    </div>
  </div>
  <h2>Dans ce thème</h2>
  <div class="vd-bg-pattern-green p-3 mb-3">
    <ul class="nav vd-list-boxed flex-column">
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Adipisci blanditiis quia aspernatur voluptas. <span class="fas fa-lock" aria-hidden="true" title="Cette prestation demande une identification"></span><span class="sr-only">(cette prestation demande un identification)</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Sit laudantium ad magni ut consectetur ipsam.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Omnis est neque modi sit qui cumque atque voluptas.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Doloremque rerum voluptate.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Impedit provident esse voluptas nesciunt ipsum suscipit qui earum fuga. <span class="fas fa-lock" aria-hidden="true" title="Cette prestation demande une identification"></span><span class="sr-only">(cette prestation demande un identification)</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Natus animi est mollitia.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Quidem accusamus et ipsum illo.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Non vel esse ex. <span class="fas fa-lock" aria-hidden="true" title="Cette prestation demande une identification"></span><span class="sr-only">(cette prestation demande un identification)</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Qui ipsam magnam consectetur id itaque in. <span class="fas fa-lock" aria-hidden="true" title="Cette prestation demande une identification"></span><span class="sr-only">(cette prestation demande un identification)</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Quia quis molestiae id.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Non vel esse ex. <span class="fas fa-lock" aria-hidden="true" title="Cette prestation demande une identification"></span><span class="sr-only">(cette prestation demande un identification)</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Qui ipsam magnam consectetur id itaque in. <span class="fas fa-lock" aria-hidden="true" title="Cette prestation demande une identification"></span><span class="sr-only">(cette prestation demande un identification)</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Adipisci blanditiis quia aspernatur voluptas. <span class="fas fa-lock" aria-hidden="true" title="Cette prestation demande une identification"></span><span class="sr-only">(cette prestation demande un identification)</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Sit laudantium ad magni ut consectetur ipsam.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Omnis est neque modi sit qui cumque atque voluptas.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Doloremque rerum voluptate.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Impedit provident esse voluptas nesciunt ipsum suscipit qui earum fuga. <span class="fas fa-lock" aria-hidden="true" title="Cette prestation demande une identification"></span><span class="sr-only">(cette prestation demande un identification)</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Natus animi est mollitia.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Quidem accusamus et ipsum illo.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Non vel esse ex. <span class="fas fa-lock" aria-hidden="true" title="Cette prestation demande une identification"></span><span class="sr-only">(cette prestation demande un identification)</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Qui ipsam magnam consectetur id itaque in. <span class="fas fa-lock" aria-hidden="true" title="Cette prestation demande une identification"></span><span class="sr-only">(cette prestation demande un identification)</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Quia quis molestiae id.</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Non vel esse ex. <span class="fas fa-lock" aria-hidden="true" title="Cette prestation demande une identification"></span><span class="sr-only">(cette prestation demande un identification)</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Qui ipsam magnam consectetur id itaque in. <span class="fas fa-lock" aria-hidden="true" title="Cette prestation demande une identification"></span><span class="sr-only">(cette prestation demande un identification)</span></a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link d-inline-block" href="#">Quia quis molestiae id</a>
  </li>
  
</ul>

    <p class="mb-0">
    <a href="theme--default"class="btn btn-dark"
   >Voir moins<span class='sr-only'> de prestations</span></a>

    </p>
  </div>

  <h2 class="sr-only">Pages d'informations</h2>
  <ul class="vd-list-links">
  <li>
        <a href="https://lilou.fr">Cumque error dolores culpa aperiam.</a>
      </li><li>
        <a href="http://jade.com">Nihil et magni atque aspernatur.</a>
      </li><li>
        <a href="https://ethan.org">Suscipit esse totam.</a>
      </li><li>
        <a href="http://carla.net">Sunt nihil sit ipsa id aut quasi officia nulla voluptatem.</a>
      </li><li>
        <a href="https://mael.info">Consequuntur neque dolor id laudantium.</a>
      </li><li>
        <a href="http://ines.fr">Sequi recusandae cupiditate autem ut laborum.</a>
      </li><li>
        <a href="http://manon.info">Veniam voluptas ipsum animi dolor laudantium fuga et labore reprehenderit.</a>
      </li><li>
        <a href="http://mathis.name">Et incidunt est ut voluptatibus inventore.</a>
      </li><li>
        <a href="http://jade.org">Recusandae ducimus alias ut omnis temporibus ea quia placeat.</a>
      </li><li>
        <a href="https://ethan.fr">Est nam blanditiis et.</a>
      </li>
</ul>


    </div>

    <aside class="col-md-4 vd-text-md-small vd-content-column">
      


    </aside>

  </div>
</main>


<div class="container mt-5">
  
  <h2 class="vd-heading-light h4 mb-3 sr-only">Partager la page</h2>
<ul class="list-inline vd-social-icons mt-4 mb-3">
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fas fa-envelope" aria-hidden="true"></span><span class="sr-only">Envoyer par courriel</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-twitter" aria-hidden="true"></span><span class="sr-only">Partager sur Twitter</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-facebook-f" aria-hidden="true"></span><span class="sr-only">Partager sur Facebook</span></a>
  </li>
  <li class="list-inline-item">
    <a class="vd-social-icon" href="#"><span class="fab fa-linkedin-in" aria-hidden="true"></span><span class="sr-only">Partager sur Linkedin</span></a>
  </li>
  <li class="list-inline-item d-lg-none">
    <a class="vd-social-icon" href="#"><span class="fab fa-whatsapp" aria-hidden="true"></span><span class="sr-only">Partager sur WhatsApp</span></a>
  </li>
  <li class="list-inline-item d-none d-lg-inline-block">
    <a class="vd-social-icon" href="#"><span class="fas fa-print" aria-hidden="true"></span><span class="sr-only">Imprimer la page</span></a>
  </li>
</ul>

</div>


<footer>

  <div class="container">
  <div class="text-right">
    <a href="#" class="btn btn-sm btn-dark" title="Retour vers le haut de la page">Haut <span class="fas fa-chevron-up"></span></a>
  </div>
</div>


  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <nav class="row" aria-label="pied de page">
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 sr-only">Accès directs</h2>
              <ul class="list-unstyled vd-list-columns"><li><a href="">Offre d'emploi</a></li><li><a href="">Statistiques</a></li><li><a href="">Portail sécurisé</a></li><li><a href="">Flux RSS</a></li><li><a href="">Espace sécurisé</a></li><li><a href="">Mentions légales</a></li><li><a href="">Contact</a></li><li><a href="">Permaliens</a></li><li><a href="">Guides TYPO3</a></li></ul>
            </div>
            
            <div class="col-sm">
              <h2 class="vd-heading-light h4 ">Sites partenaires</h2>
              <ul class="list-unstyled "><li><a href="">Promotion Vaud.ch</a></li><li><a href="">Tourisme</a></li><li><a href="">Musées</a></li><li><a href="">Patrimoine</a></li><li><a href="">CH.ch</a></li></ul>
            </div>
            
          </nav>
        </div>
        <div class="col-xs-2">
          <div class="d-flex align-items-end flex-column h-100">
            <div class="mt-auto w-100 text-right">
              <a href="#">
                <span class="sr-only">Retour à la page d'accueil</span>
                <img aria-hidden="true" class="img-fluid footer-logo" src="../../assets/svg/logo/logo--white.svg" alt="Canton de Vaud">

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>



    <script src="../../assets/scripts/jquery.slim.min.js"></script>
<script src="../../assets/scripts/popper.min.js"></script>
<script src="../../assets/scripts/bootstrap.min.js"></script>
<script src="../../assets/scripts/foehn-scripts--footer.js"></script>

  </body>
</html>

