

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Default | Foehn</title>

    <!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicon-apple-touch-icon.png?v=1.1.0">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicon-32x32.png?v=1.1.0">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicon-16x16.png?v=1.1.0">
<link rel="manifest" href="../../assets/manifest/site.webmanifest?v=1.1.0">
<link rel="mask-icon" href="../../assets/svg/safari-pinned-tab.svg?v=1.1.0" color="#4d8b43">
<link rel="shortcut icon" href="../../assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#4d8b43">
<meta name="msapplication-TileImage" content="/assets/img/favicon-mstile-144x144.png">
<meta name="msapplication-config" content="../../assets/xml/browserconfig.xml?v=1.1.0">
<meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="../../assets/styles/main.css">


    <script defer src="../../assets/scripts/fontawesome-all.js"></script>

  </head>
  <body>

    <h2>Liste des entités</h2>
<ul class="list-unstyled vd-tree-view">
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">Secrétariat général du Grand Conseil</a></span>
      
    </li>
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">Bureau cantonal de médiation administrative</a></span>
      
    </li>
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">Groupe Impact</a></span>
      
    </li>
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">Cour des comptes</a></span>
      
    </li>
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">Préposée à la protection des données et à l'information</a></span>
      
    </li>
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">Département du territoire et de l'environnement</a></span>
      
    </li>
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">Département de la formation, de la jeunesse et de la culture</a></span>
      
        <a href="#E13224"
           class="is-collapsed vd-tree-view__button"
           data-toggle="collapse"
           aria-expanded="false"
           aria-controls="E13224"
           role="button">
          Voir les sous-entités
          <span class="sr-only"> de Département de la formation, de la jeunesse et de la culture</span>
        </a>
        <a href="#E13224"
           class="is-not-collapsed vd-tree-view__button"
           data-toggle="collapse"
           aria-expanded="false"
           aria-controls="E13224"
           role="button">
          Cacher les sous-entités
          <span class="sr-only"> de Département de la formation, de la jeunesse et de la culture</span>
        </a>

        <ul class="list-unstyled ml-3 ml-md-5 collapse" id="E13224">
          
            <li>
              <span class="h4 d-inline-block"><a href="#">Cheffe du Département</a></span>
              
            </li>
          
            <li>
              <span class="h4 d-inline-block"><a href="#">Secrétariat général du DFJC</a></span>
              
            </li>
          
            <li>
              <span class="h4 d-inline-block"><a href="#">Direction générale de l'enseignement obligatoire</a></span>
              
                <a href="#E12518"
                   class="is-collapsed vd-tree-view__button"
                   data-toggle="collapse"
                   aria-expanded="false"
                   aria-controls="E12518"
                   role="button">
                  Voir les sous-entités
                  <span class="sr-only"> de Direction générale de l'enseignement obligatoire</span>
                </a>
                <a href="#E12518"
                   class="is-not-collapsed vd-tree-view__button"
                   data-toggle="collapse"
                   aria-expanded="false"
                   aria-controls="E12518"
                   role="button">
                  Cacher les sous-entités
                  <span class="sr-only"> de Direction générale de l'enseignement obligatoire</span>
                </a>
                <ul class="list-unstyled ml-3 ml-md-5 collapse" id="E12518">
                  
                    <li>
                      <span class="h5 d-inline-block"><a href="#">État-major de la Direction générale</a></span>
                      
                        <ul class="list-unstyled ml-3 ml-md-5">
                          
                        </ul>
                      
                    
                    <li>
                      <span class="h5 d-inline-block"><a href="#">Direction administration et finances</a></span>
                      
                        <ul class="list-unstyled ml-3 ml-md-5">
                          
                            <li class="mb-1">
                              <a href="#">Administration et finance</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Gestion des sinistres</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Bibliothèques scolaires</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Comptabilité</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Economat des établissements scolaires</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Conventions communales et intercantonales</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                        </ul>
                      
                    
                    <li>
                      <span class="h5 d-inline-block"><a href="#">Direction organisation et planification</a></span>
                      
                        <ul class="list-unstyled ml-3 ml-md-5">
                          
                        </ul>
                      
                    
                    <li>
                      <span class="h5 d-inline-block"><a href="#">Direction pédagogique</a></span>
                      
                        <ul class="list-unstyled ml-3 ml-md-5">
                          
                        </ul>
                      
                    
                    <li>
                      <span class="h5 d-inline-block"><a href="#">Direction ressources humaines</a></span>
                      
                        <ul class="list-unstyled ml-3 ml-md-5">
                          
                        </ul>
                      
                    
                    <li>
                      <span class="h5 d-inline-block"><a href="#">Établissements primaires et secondaires</a></span>
                      
                        <ul class="list-unstyled ml-3 ml-md-5">
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Aigle</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Avenches et environs</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire  Apples - Bière et environs</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                    <li class="mb-1">
                                      <a href="#">Collège Léman</a>
                                    </li>
                                  
                                    <li class="mb-1">
                                      <a href="#">Collège Plateau</a>
                                    </li>
                                  
                                    <li class="mb-1">
                                      <a href="#">Collège Jura</a>
                                    </li>
                                  
                                    <li class="mb-1">
                                      <a href="#">Directeur</a>
                                    </li>
                                  
                                    <li class="mb-1">
                                      <a href="#">Service de santé scolaire</a>
                                    </li>
                                  
                                    <li class="mb-1">
                                      <a href="#">Services parascolaires</a>
                                    </li>
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire  Aubonne, collège du Chêne</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Bercher - Plateau du Jorat</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Begnins -  l'Esplanade</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Bex</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Blonay  -  Saint-Légier</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire  Bussigny et Villars-Sainte-Croix</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Château-d'Oex  -  Pays d'Enhaut</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Centre Lavaux, Collège du Verney</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Chavannes-près-Renens et de Saint-Sulpice, Collège de La Planta</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Chavornay et environs</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire    Cheseaux-sur-Lausanne  -  La Chamberonne</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Coppet - Terre Sainte, Collège de la Doye</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement secondaire Coppet - Terre Sainte, Collège des Rojalets</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Corsier-sur-Vevey  et environs</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Cossonay - Penthalaz</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Cossonay - Penthalaz</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Crassier, Collège Elisabeth de Portes</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Crissier, Collège de Marcolet</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Cugy et environs</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Echallens - Emile Gardaz</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement secondaire  Echallens  - Trois Sapins</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Ecublens</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Epalinges</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Genolier et environs</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Gimel - Etoy</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Gland, Collège des Perrerets</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement secondaire Gland, Collège de Grand Champ</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Grandson</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   La Sarraz  -  Veyron-Venoge</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Granges et environs</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire du Jorat, Collège du Raffort</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire La Vallée de Joux          (Le Sentier)</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire La Tour de Peilz</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Lausanne - Beaulieu</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Lausanne - Côteau-Fleuri</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire   Lausanne - Entre-Bois</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire   Lausanne - Floréal</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire   Lausanne - La Sallaz</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire   Lausanne - Mon-Repos</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Lauanne- Pierrefleur</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Lausanne - Belvédère</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Lausanne - Bergières</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Lausanne - Prélaz</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Lausanne - Béthusy</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Lausanne - CF Ramuz</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Lausanne - Isabelle-de-Montolieu</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Lausanne - L'Elysée</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Lausanne - Villamont</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire  Le Mont-sur-Lausanne</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Les Ormonts -  Leysin</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Lutry</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement  primaire et secondaire  Montreux - Est</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire  Montreux-Ouest(Clarens)</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire  Morges Est, Collège de Chanel</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Morges Ouest</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement secondaire  Morges - Beausobre</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire de Moudon-Lucens et environs</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement secondaire de Moudon-Lucens et environs</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Nyon</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire de Nyon Roche-Combe</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement  secondaire de Nyon  -  Marens</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Ollon</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement secondaire d'Orbe et environs</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire d'Orbe et environs, Collège du Grand-Pont</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Oron - Palézieux, Collège d'Oron-la-Ville</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Payerne et environs</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement secondaire  Payerne et environs</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Prangins</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Préverenges et environs</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Prilly - Romanel-sur-Lausanne et Jouxtens-Mézery</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire  Prilly</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Pully - Paudex - Belmont</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement secondaire  Pully</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Renens-Est, Collège du 24-Janvier</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Renens-Ouest, Collège de Verdeaux</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement secondaire  Renens, Collège du Léman</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Rolle</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Sainte-Croix</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Saint-Prex  et environs, Collège du Cherrat</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire  Vallorbe - Ballaigues  et du Vallon du  Nozon</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire  Vevey, Ancien Collège</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire  Veyron-Venoge</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Vevey</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire Villeneuve Haut-Lac, Collège de la Tour Rouge</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire  Yverdon-les-Bains - Pestalozzi</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire Yverdon-les-Bains  - Edmond-Gilliard</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement secondaire  Yverdon-les-Bains - de Felice</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement secondaire  Yverdon-les-Bains - Léon-Michaud</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                            <li class="mb-1">
                              <a href="#">Établissement primaire et secondaire   Yvonand et environs</a>
                              
                                <ul class="list-unstyled ml-3 ml-md-5">
                                  
                                </ul>
                              
                            </li>
                          
                        </ul>
                      
                    
                    </li>
                </ul>
              
            </li>
          
            <li>
              <span class="h4 d-inline-block"><a href="#">Direction générale de l'enseignement postobligatoire</a></span>
              
            </li>
          
            <li>
              <span class="h4 d-inline-block"><a href="#">Direction générale de l'enseignement supérieur</a></span>
              
            </li>
          
            <li>
              <span class="h4 d-inline-block"><a href="#">Service des affaires culturelles</a></span>
              
            </li>
          
            <li>
              <span class="h4 d-inline-block"><a href="#">Service de l'enseignement spécialisé et de l'appui à la formation</a></span>
              
            </li>
          
            <li>
              <span class="h4 d-inline-block"><a href="#">Service de protection de la jeunesse</a></span>
              
            </li>
          
        </ul>
      
    </li>
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">Département des institutions et de la sécurité</a></span>
      
    </li>
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">Département de la santé et de l'action sociale</a></span>
      
    </li>
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">Département de l'économie, de l'innovation et du sport</a></span>
      
    </li>
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">Département des infrastructures et des ressources humaines</a></span>
      
    </li>
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">Département des finances et des relations extérieures</a></span>
      
    </li>
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">Ordre Judiciaire</a></span>
      
    </li>
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">test</a></span>
      
    </li>
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">Entité Test</a></span>
      
    </li>
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">test</a></span>
      
    </li>
  
    <li class="border-bottom pb-4">
      <span class="h3 d-inline-block"><a href="#">Internet</a></span>
      
    </li>
  
</ul>


    <script src="../../assets/scripts/jquery.slim.min.js"></script>
<script src="../../assets/scripts/popper.min.js"></script>
<script src="../../assets/scripts/bootstrap.min.js"></script>
<script src="../../assets/scripts/foehn-scripts--footer.js"></script>

  </body>
</html>

